.navbar-lightgray {
  background-color: #f8f8f8;
  border-color: #dddddd;
}
.navbar-lightgray .navbar-brand {
  color: #777777;
}
.navbar-lightgray .navbar-brand:hover,
.navbar-lightgray .navbar-brand:focus {
  color: #dddddd;
  background-color: transparent;
}
.navbar-lightgray .navbar-text {
  color: #777777;
}
.navbar-lightgray .navbar-nav > li > a {
  color: #777777;
}
.navbar-lightgray .navbar-nav > li > a:hover,
.navbar-lightgray .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
.navbar-lightgray .navbar-nav > .active > a,
.navbar-lightgray .navbar-nav > .active > a:hover,
.navbar-lightgray .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #dddddd;
}
.navbar-lightgray .navbar-nav > .disabled > a,
.navbar-lightgray .navbar-nav > .disabled > a:hover,
.navbar-lightgray .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-lightgray .navbar-toggle {
  border-color: #dddddd;
}
.navbar-lightgray .navbar-toggle:hover,
.navbar-lightgray .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-lightgray .navbar-toggle .icon-bar {
  background-color: #888888;
}
.navbar-lightgray .navbar-collapse,
.navbar-lightgray .navbar-form {
  border-color: #dddddd;
}
.navbar-lightgray .navbar-nav > .open > a,
.navbar-lightgray .navbar-nav > .open > a:hover,
.navbar-lightgray .navbar-nav > .open > a:focus {
  background-color: #dddddd;
  color: #555555;
}
@media (max-width: 767px) {
  .navbar-lightgray .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-lightgray .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-lightgray .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-lightgray .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-lightgray .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-lightgray .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #dddddd;
  }
  .navbar-lightgray .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-lightgray .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-lightgray .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-lightgray .navbar-link {
  color: #777777;
}
.navbar-lightgray .navbar-link:hover {
  color: #333333;
}
.navbar-lightgray .btn-link {
  color: #777777;
}
.navbar-lightgray .btn-link:hover,
.navbar-lightgray .btn-link:focus {
  color: #333333;
}
.navbar-lightgray .btn-link[disabled]:hover,
fieldset[disabled] .navbar-lightgray .btn-link:hover,
.navbar-lightgray .btn-link[disabled]:focus,
fieldset[disabled] .navbar-lightgray .btn-link:focus {
  color: #cccccc;
}
.navbar-darkgray {
  background-color: #dddddd;
  border-color: #bbbbbb;
}
.navbar-darkgray .navbar-brand {
  color: #636363;
}
.navbar-darkgray .navbar-brand:hover,
.navbar-darkgray .navbar-brand:focus {
  color: #505050;
  background-color: transparent;
}
.navbar-darkgray .navbar-text {
  color: #636363;
}
.navbar-darkgray .navbar-nav > li > a {
  color: #636363;
}
.navbar-darkgray .navbar-nav > li > a:hover,
.navbar-darkgray .navbar-nav > li > a:focus {
  color: #505050;
  background-color: transparent;
}
.navbar-darkgray .navbar-nav > .active > a,
.navbar-darkgray .navbar-nav > .active > a:hover,
.navbar-darkgray .navbar-nav > .active > a:focus {
  color: #eeeeee;
  background-color: #505050;
}
.navbar-darkgray .navbar-nav > .disabled > a,
.navbar-darkgray .navbar-nav > .disabled > a:hover,
.navbar-darkgray .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-darkgray .navbar-toggle {
  border-color: #636363;
}
.navbar-darkgray .navbar-toggle:hover,
.navbar-darkgray .navbar-toggle:focus {
  background-color: #505050;
}
.navbar-darkgray .navbar-toggle .icon-bar {
  background-color: #636363;
}
.navbar-darkgray .navbar-collapse,
.navbar-darkgray .navbar-form {
  border-color: #505050;
}
.navbar-darkgray .navbar-nav > .open > a,
.navbar-darkgray .navbar-nav > .open > a:hover,
.navbar-darkgray .navbar-nav > .open > a:focus {
  background-color: #505050;
  color: #eeeeee;
}
@media (max-width: 767px) {
  .navbar-darkgray .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #dddddd;
  }
  .navbar-darkgray .navbar-nav .open .dropdown-menu .divider {
    background-color: #505050;
  }
  .navbar-darkgray .navbar-nav .open .dropdown-menu > li > a {
    color: #636363;
  }
  .navbar-darkgray .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-darkgray .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #eeeeee;
    background-color: transparent;
  }
  .navbar-darkgray .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-darkgray .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-darkgray .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eeeeee;
    background-color: #505050;
  }
  .navbar-darkgray .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-darkgray .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-darkgray .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444444;
    background-color: transparent;
  }
}
.navbar-darkgray .navbar-link {
  color: #636363;
}
.navbar-darkgray .navbar-link:hover {
  color: #505050;
}
.navbar-darkgray .btn-link {
  color: #636363;
}
.navbar-darkgray .btn-link:hover,
.navbar-darkgray .btn-link:focus {
  color: #505050;
}
.navbar-darkgray .btn-link[disabled]:hover,
fieldset[disabled] .navbar-darkgray .btn-link:hover,
.navbar-darkgray .btn-link[disabled]:focus,
fieldset[disabled] .navbar-darkgray .btn-link:focus {
  color: #444444;
}

@media (max-width: 1300px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in{
    display:block !important;
  }
}
