.form-group .form_date{
padding-right: 15px;
    padding-left: 15px;
}

.morecontent span {
    display: none;
}

.custom-criticality-span{
    border-radius: 12px;
    padding: 5px 10px 5px 10px;
    color:#FFF;
    text-shadow: -1px 0 #101010, 0 1px #101010, 1px 0 #101010, 0 -1px #101010;
}
.greencircleDiv {
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #8ce351;
    background-color: #ffffff;
    padding-left:2px;
    font-size:14px;
    font-weight: bolder;
}
.greencircleDiv:hover {
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #699e2d;
    background-color: #ffffff;
    padding-left:2px;
    font-size:14px;
    font-weight: bolder;
}

.redcircleDiv {
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #ff553c;
    background-color: #ffffff;
    padding-left:2px;
    font-size:14px;
    font-weight: bolder;
}
.redcircleDiv:hover {
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #ff1f3c;
    background-color: #ffffff;
    padding-left:2px;
    font-size:14px;
    font-weight: bolder;
}


.ambercircleDiv {
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #e6a73b;
    background-color: #ffffff;
    padding-left:2px;
    font-size:14px;
    font-weight: bolder;
}
#ambercircleDiv:hover {
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #e6a667;
    background-color: #ffffff;
    padding-left:2px;
    font-size:14px;
    font-weight: bolder;
}

.mancircleDiv {
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #1e2060;
    background-color: #ffffff;
    padding-left:2px;
    font-size:14px;
    font-weight: bolder;
}
.mancircleDiv:hover {
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #e6a667;
    background-color: #ffffff;
    padding-left:2px;
    font-size:14px;
    font-weight: bolder;
}

.mancircleDiv {
    width: 120px;
    height: 120px;
    -moz-border-radius: 50%;}
.carousel.fading .carousel-inner > .item {
    /* Override the properties for the default sliding carousel */
    display: block;
    position: absolute;
    left: 0 !important;

    /* Hide slides by default */
    opacity: 0;

    /* Set transition to opactity */
    -moz-transition: .6s ease-in-out opacity;
    -webkit-transition: .6s ease-in-out opacity;
    -o-transition: .6s ease-in-out opacity;
    transition: .6s ease-in-out opacity;
}

/* Active slides are visible on transition end */
.carousel.fading .carousel-inner > .active,
    /* Next slide is visible during transition */
.carousel.fading .carousel-inner > .next.left {
    opacity: 1;
}
.carousel.fading .carousel-inner > .next,
.carousel.fading .carousel-inner > .active.left {
    opacity: 0;
}
.carousel.fading .carousel-inner .item{
;height: 100%;width:100%
}
.custom-list-group-item{
    padding-top:5px;
    padding-bottom:5px;
}
.custom-list-header{
    color: #000;
    font-weight:  bold;
    color:white;
    background-color: #17225A;
}
.templateCard {
    display: inline-block;
    position: relative;
}
.data-spinner {
    margin: auto;
    width: 120px;
    height: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #17225A;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #17225A transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
}
.lds-ellipsis div {
    position: absolute;
    top: 39px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #17225A;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}
.lds-ripple {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #17225A;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0;
    }
}
.panel-heading {
    position: relative;
}
.panel-heading:hover {
    cursor: pointer;
}
.panel-heading[data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    position: absolute;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    right: 20px;
    top: calc(50% - 10px);

    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -ms-transform:     rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
}
.panel-heading[data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform:    rotate(90deg);
    -ms-transform:     rotate(90deg);
    -o-transform:      rotate(90deg);
    transform:         rotate(90deg);
}

.sticky-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 50px;
}

.loadsheet-table-container
{
    overflow: auto;
    white-space: nowrap;
    margin-bottom:30px;
    margin-bottom: 0px;
}
.loadsheet-table tr:first-child th{
    text-align:center;
    white-space: nowrap;
}
.loadsheet-table tr th{
    text-align:center;
    white-space: nowrap;
}
.loadsheet-table thead tr th{
    text-align:center;
    white-space: nowrap;
}
.loadsheet-table tr td{
    text-align:center;
}

.loadsheet-table tbody tr td{
    text-align:center;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}