{% extends 'AIECmsBundle:Default:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .fixleftright
        {
            padding-left: 15px;
            padding-right: 15px;
        }
        .form-horizontal .control-label{
            /* text-align:right; */
            text-align:right;
            padding-left: 20px;
        }
        #aie_bundle_cmsbundle_subprojectworkshops{
            /* text-align:right; */

            width:75%
        }
    </style>
{% endblock %}
{% block content -%}
    <h1>Edit Meeting</h1>
    {{ form(edit_form) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path('cms_workshops', {'projectId':projectId,'subprojectId':subprojectId}) }}">
                Back to Meetings
            </a>
        </li>
    </ul>
{% endblock %}
