{% extends 'AIECmsBundle:Default:layout.html.twig' %}
{% block content -%}
    {% set grantedManage = is_granted('ROLE_WORKSHOPS_MANAGE', project) %}
    <h1>Meetings</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Title</th>
            <th>Attendees</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.date %}{{ entity.date|date('d F Y') }}{% endif %}</td>
                <td>{{ entity.initiallyAssessedBy }}</td>
                <td>
                    {% if grantedAttendView %}
                    <ul>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#attendees-{{ entity.id }}">view</a>
                        </li>
                    </ul>
                    {% endif %}
                </td>
               <td>
                   {% if grantedEdit %}
                    <ul>
                        <li>
                            <a href="{{ path('cms_workshops_edit', { 'projectId':project.id, 'subprojectId':subprojectId, 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                   {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for entity in entities %}
        <div class="modal fade" id="attendees-{{ entity.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Attendees of Meeting #{{ entity.id }}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="records_list">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Company</th>
                                <th>Position</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for attendee in entity.spwa %}
                                <tr>
                                    <td>
                                        {{ attendee.name }}
                                    </td>
                                    <td>
                                        {{ attendee.company }}
                                    </td>
                                    <td>
                                        {{ attendee.position }}
                                    </td>
                                    {% if grantedAttendEdit %}
                                        <td>
                                            <ul>

                                                <li>
                                                    <a href="{{ path('cms_workshops_attendee_edit', {'projectId': project.id, 'subprojectId': subprojectId, 'workshopId': entity.id, 'id': attendee.id}) }}">edit</a>
                                                </li>
                                            </ul>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="modal-footer">
                        {% if grantedAttendAdd %}
                        <a href="{{ path('cms_workshops_attendee_new', {'projectId': project.id, 'subprojectId': subprojectId, 'workshopId': entity.id}) }}">Add
                            a new Attendee</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if grantedAdd %}
        <ul>
            <li>
                <a href="{{ path('cms_workshops_new', {'projectId': project.id, 'subprojectId': subprojectId}) }}">
                    Create a new meeting
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
