{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Meetings</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.initiallyAssessedBy }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
    <ul class="record_actions">
        <li>
            <a href="{{ path('cms_workshops') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('cms_workshops_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
