{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block javascripts %}
    <script type="text/javascript">
        function readyFn( jQuery ) {
            $('.required').closest('.form-group').find('.control-label').each(function () {
                $(this).text("*" + $(this).text());
            });
        }

        $( document ).ready( readyFn );
        // or:
        $( window ).on( "load", readyFn );
    </script>
{% endblock %}
{% block content %}
    <div class="modal fade" id="cathodicprotectiondatabasemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.activityid) }}{{ form_widget(form.activityid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.location) }}{{ form_widget(form.location) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_widget(form.welltestdate) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.wellfunction) }}{{ form_widget(form.wellfunction) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.wellstatus) }}{{ form_widget(form.wellstatus) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.contractor) }}{{ form_widget(form.contractor) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.welltesttype) }}{{ form_widget(form.welltesttype) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.flowpath) }}{{ form_widget(form.flowpath) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.chokesize) }}{{ form_widget(form.chokesize) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.reservoir) }}{{ form_widget(form.reservoir) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.dgs) }}{{ form_widget(form.dgs) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.train) }}{{ form_widget(form.train) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.fieldmanifold) }}{{ form_widget(form.fieldmanifold) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.stationmanifold) }}{{ form_widget(form.stationmanifold) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.comments) }}{{ form_widget(form.comments) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.file) }}{{ form_widget(form.file) }}
                        </div>
                    </div>

                    {% if form.columnone is defined %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_label(form.columnone) }}{{ form_widget(form.columnone) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.columntwo is defined %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_label(form.columntwo) }}{{ form_widget(form.columntwo) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.columnthree is defined %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_label(form.columnthree) }}{{ form_widget(form.columnthree) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.columnfour is defined %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_label(form.columnfour) }}{{ form_widget(form.columnfour) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.columnfive is defined %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_label(form.columnfive) }}{{ form_widget(form.columnfive) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row form-group pull-right" style="padding-right: 60px;">
                        <button type="submit" value="save" class="btn btn-primary">Save</button>
                        <button type="button" value="cancel" class="btn btn-default subcancelbutton">Cancel</button>
                    </div>
                    {{ form_end(form) }}

                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}

