{% extends 'AIECmsBundle:Default:wizard.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables/media/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables4/Responsive-2.2.2/css/responsive.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables4/Buttons-1.5.1/css/buttons.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/databases/databases.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/DataTables/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/dataTables.buttons.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/buttons.flash.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/JSZip-2.5.0/jszip.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/pdfmake-0.1.36/pdfmake.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/pdfmake-0.1.36/vfs_fonts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/buttons.html5.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/buttons.print.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/buttons.colVis.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.blockUI.js') }}"></script>
    <script type="text/javascript">
        var projectId = {{  projectId }};
        var subprojectId = {{ subprojectId  }};
        var projectName = '{{  project.name }}';
        var subprojectName = '{{ subproject.name  }}';
        var stepID = {{ stepId }}
        if (!stepID) stepID = 1;
        var excelShow= {{ excelGranted }}
        var columnsShow = {{ selectcolumnsGranted }}
        var systemname = '';
        {% if system is defined and systems|length > 0%}
        {% for system in systems %}
        {% if loop.index == stepId %}
        var systemname = '{{ system.bs_systemstitle }}';
        {% endif %}
        {% endfor %}
        {% endif %}
        $(document).ready(function() {

            $("#wizard").wizard('selectedItem',{step:stepID});

            $('#wizard').find('ul.steps li').toggleClass('complete', true);

            $('#wizard').on('changed.fu.wizard', function (evt, data) {
                $('#wizard').find('ul.steps li').toggleClass('complete', true);
                callLoad();
            });

            wizard.on('stepclick', function (e, data) {
                var stepID = data.step;
                var currentID = $(".step-pane").attr('id');
                currentID = currentID.replace('step', '');

                var id = "#step"+currentID;
                var url = "/c/"+projectId+"/subprojectproductiondatabase/"+subprojectId+"/"+currentID+"/loadsystems";
                $.ajax({ url: url, dataType: 'html', success: function(response) { $(id).html(response); } });
            });

            //$('#productiondatabasedatabasemodal').hide();
            $('[data-toggle="modal"]').click(function(e) {
                var currentID = $(".step-pane.active").attr('id');
                currentID = currentID.replace('step', '');
                var stepID = $("#wizard").wizard('selectedItem')['step'];

                var url = "/c/"+projectId+"/subprojectproductiondatabase/"+subprojectId+"/"+currentID+"/"+stepID+"/create";

                //var modal_id = $(this).attr('data-target');
                $.blockUI({ message: "<h4>Page Loading...</h4>", overlayCSS: { backgroundColor: '#747474' }  });
                $.post(url, function(data) {
                    $(data).modal();
                    $.unblockUI();
                });
            });

            $(document).on('click','.close',function(e){
                $('[data-toggle="modal"]').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            });

            $('.btn-prev').click(function(e) {
                callLoad();
            });

            $('.btn-next').click(function(e) {
                callLoad();
            });

            function callLoad() {
                var currentID = $(".step-pane.active").attr('id');
                currentID = currentID.replace('step', '');
                var divId = "#step"+currentID;
                var url = "/c/"+projectId+"/subprojectproductiondatabase/"+subprojectId+"/"+currentID+"/loadsystems";
                $(divId).html('<div style="align-content: center;text-align: center;">Data loading..</div>');
                $.ajax({ url: url, dataType: 'html', success: function(response) { $(divId).html(response); } });
            }
            callLoad();
        } );
    </script>
    <script src="{{ asset('assets/js/aie/databasesedit.js') }}" type="text/javascript"></script>
{% endblock %}

{% block steps -%}
    {% if system is defined and systems|length > 0%}
        {% for system in systems %}
            <li id="{{ system.bs_id }}" data-target="#step{{ system.bs_id }}" {% if loop.index == 1 %} class="active"{% endif %}>
                <span class="badge badge-info">{{ loop.index }}</span>{{ system.bs_systemstitle }}
            </li>
        {% endfor %}
    {% else %}
        <span>No systems</span>
    {% endif %}
{% endblock %}

{% block steps_content %}
    {% if system is defined and systems|length > 0 %}
        <div class="Scrollable_Wrapper">
            {% for system in systems %}
                <div class="step-pane {% if loop.index == 1 %}active{% endif %}" id="step{{ system.bs_id }}">
                    <table class="table table-bordered table-striped table-hover table-responsive table-grid-head display responsive nowrap" cellspacing="0" width="100%">
                        <thead class="table-grid-head-row">
                            <tr>
                                <th>Activity<div class="sortMask"></div></th>
                                <th>Location<div class="sortMask"></div></th>
                                <th>ID<div class="sortMask"></div></th>
                                <th>Well Test Date<div class="sortMask"></div></th>
                                <th>Well Function<div class="sortMask"></div></th>
                                <th>Well Status
                                    <div class="sortMask"></div>
                                </th>
                                <th>Contractor<div class="sortMask"></div></th>
                                <th>Well Test Type<div class="sortMask"></div></th>
                                <th>Flow Path<div class="sortMask"></div></th>
                                <th>Choke Size<div class="sortMask"></div></th>
                                <th>Reservoir<div class="sortMask"></div></th>
                                <th>DGS<div class="sortMask"></div></th>
                                <th>Train<div class="sortMask"></div></th>
                                <th>Field Manifold<div class="sortMask"></div></th>
                                <th>Station Manifold<div class="sortMask"></div></th>
                                <th>Comments<div class="sortMask"></div></th>
                                <th>Photo<div class="sortMask"></div></th>
                                {% if dbcols.columnoneselected is defined and dbcols.columnoneselected == 1 %}<th>{{ dbcols.columnone }}<div class="sortMask"></div></th>{% endif %}
                                {% if dbcols.columntwoselected is defined and dbcols.columntwoselected == 1 %}<th>{{ dbcols.columntwo }}<div class="sortMask"></div></th>{% endif %}
                                {% if dbcols.columnthreeselected is defined and dbcols.columnthreeselected == 1 %}<th>{{ dbcols.columnthree }}<div class="sortMask"></div></th>{% endif %}
                                {% if dbcols.columnfourselected is defined and dbcols.columnfourselected == 1 %}<th>{{ dbcols.columnfour }}<div class="sortMask"></div></th>{% endif %}
                                {% if dbcols.columnfiveselected is defined and dbcols.columnfiveselected == 1 %}<th>{{ dbcols.columnfive }}<div class="sortMask"></div></th>{% endif %}
                                <th class="noExport">Actions<div class="sortMask"></div></th>
                            </tr>
                        </thead>

                        <thead class="filters">
                            <tr>
                                <th><span id="closefilters"><img src="/assets/img/upmarker.png" /></span>Activity</th>
                                <th>Location<div class="sortMask"></div></th>
                                <th>ID<div class="sortMask"></div></th>
                                <th>Well Test Date<div class="sortMask"></div></th>
                                <th>Well Function<div class="sortMask"></div></th>
                                <th>Well Status
                                    <div class="sortMask"></div>
                                </th>
                                <th>Contractor<div class="sortMask"></div></th>
                                <th>Well Test Type<div class="sortMask"></div></th>
                                <th>Flow Path<div class="sortMask"></div></th>
                                <th>Choke Size<div class="sortMask"></div></th>
                                <th>Reservoir<div class="sortMask"></div></th>
                                <th>DGS<div class="sortMask"></div></th>
                                <th>Train<div class="sortMask"></div></th>
                                <th>Field Manifold<div class="sortMask"></div></th>
                                <th>Station Manifold<div class="sortMask"></div></th>
                                <th>Comments<div class="sortMask"></div></th>
                                <th>Photo<div class="sortMask"></div></th>
                                {% if dbcols.columnoneselected is defined and dbcols.columnoneselected == 1 %}<th>{{ dbcols.columnone }}</th>{% endif %}
                                {% if dbcols.columntwoselected is defined and dbcols.columntwoselected == 1 %}<th>{{ dbcols.columntwo }}</th>{% endif %}
                                {% if dbcols.columnthreeselected is defined and dbcols.columnthreeselected == 1 %}<th>{{ dbcols.columnthree }}</th>{% endif %}
                                {% if dbcols.columnfourselected is defined and dbcols.columnfourselected == 1 %}<th>{{ dbcols.columnfour }}</th>{% endif %}
                                {% if dbcols.columnfiveselected is defined and dbcols.columnfiveselected == 1 %}<th>{{ dbcols.columnfive }}</th>{% endif %}
                                <th class="noExport">Actions<div class="sortMask"></div></th>
                            </tr>
                        </thead>

                        <tbody id="tb{{ system.bs_id }}">
                            {% if productiondatabases is defined %}
                                {% for productiondatabase in productiondatabases %}
                                        <tr>
                                            <td>{% if productiondatabase.bsd_activitytitle is defined %}{{ productiondatabase.bsd_activitytitle }}{% endif %}</td>
                                            <td id="ed{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="location" data-resizable-column-id="location">{{ productiondatabase.bsd_location }}</td>
                                            <td id="ed{{ projectId }}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}"
                                                key="locationid"
                                                data-resizable-column-id="locationid">{{ productiondatabase.bsd_id }}</td>
                                            <td id="welltestdate{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="welltestdate" data-resizable-column-id="welltestdate">{% if productiondatabase.bsd_welltestdate is not null %}{{ productiondatabase.bsd_welltestdate|date }}{% endif %}</td>
                                            <td id="wellfunction{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="wellfunction" data-resizable-column-id="wellfunction">{{ productiondatabase.bsd_wellfunction }}</td>
                                            <td id="wellstatus{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="wellstatus">{{ productiondatabase.bsd_wellstatus }}</td>
                                            <td id="contractor{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="contractor">{{ productiondatabase.bsd_contractor }}</td>
                                            <td id="welltesttype{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="welltesttype" data-resizable-column-id="welltesttype">{{ productiondatabase.bsd_welltesttype }}</td>
                                            <td id="flowpath{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="flowpath">{{ productiondatabase.bsd_flowpath }}</td>
                                            <td id="chokesize{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="chokesize">{{ productiondatabase.bsd_chokesize }}</td>
                                            <td id="reservoir{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="reservoir">{{ productiondatabase.bsd_reservoir }}</td>
                                            <td id="dgs{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="dgs">{{ productiondatabase.bsd_wellstatus }}</td>
                                            <td id="train{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="train">{{ productiondatabase.bsd_train }}</td>
                                            <td id="fieldmanifold{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}"  key="fieldmanifold">{{ productiondatabase.bsd_fieldmanifold }}</td>
                                            <td id="stationmanifold{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="stationmanifold">{{ productiondatabase.bsd_stationmanifold }}</td>
                                            <td id="comments{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="comments">{{ productiondatabase.bsd_comments }}</td>
                                            <td id="filepath{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="train">{% if productiondatabase.bsd_filepath is not null %}<a target="_blank" download="download" href="{{ asset('/uploads/'~productiondatabase.bsd_filepath) }}"> <span class="glyphicon glyphicon-cloud-download"></span></a>{% endif %}</td>
                                            {% if dbcols.columnoneselected is defined and dbcols.columnoneselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="columnone" data-resizable-column-id="columnone">{{ productiondatabase.bsd_columnone }}</td>{% endif %}
                                            {% if dbcols.columntwoselected is defined and dbcols.columntwoselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="columntwo" data-resizable-column-id="columntwo">{{ productiondatabase.bsd_columntwo }}</td>{% endif %}
                                            {% if dbcols.columnthreeselected is defined and dbcols.columnthreeselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="columnthree" data-resizable-column-id="columnthree">{{ productiondatabase.bsd_columnthree }}</td>{% endif %}
                                            {% if dbcols.columnfourselected is defined and dbcols.columnfourselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="columnfour" data-resizable-column-id="columnfour">{{ productiondatabase.bsd_columnfour }}</td>{% endif %}
                                            {% if dbcols.columnfiveselected is defined and dbcols.columnfiveselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="columnfive" data-resizable-column-id="columnfive">{{ productiondatabase.bsd_columnfive }}</td>{% endif %}
                                            <td>
                                                <ul>
                                                    {% if editGranted %}
                                                    <li><a class="editproductiondatabase" id="{{ system.bs_id }}_{{ productiondatabase.bsd_id }}" data-toggle="modal" href="#" data-target="#editproductiondatabasemodal">Edit</a></li>
                                                    {% endif %}
                                                    {% if deleteGranted %}
                                                    <li><a class="deleteDatabase" id="delete_{{ productiondatabase.bsd_id }}" href= "{{ path('cms_subproject_productiondatabase_delete', { 'projectId' : projectId, 'subprojectId' : subprojectId, 'sid' : productiondatabase.bsd_id }) }}">Delete</a></li>
                                                    {% endif %}
                                                </ul>
                                            </td>
                                        </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>

                    </table>
                </div>
            {% endfor %}
            <a id="nextLink" href="{{ path('cms_subproject_productiondatabase', {'projectId':projectId,'subprojectId':subprojectId}) }}" style="display: none;"></a>
        </div>
    {% endif %}

    <div class="row form-group">
        <div class="col-md-1" style="padding-top:19px;">
            {% if addGranted %}
                {% if systems|length > 0 %}
                    <div class="add_new_sub_project_production" id="">
                        <a role="button" class="btn btn-primary addnewproductiondatabase" data-toggle="modal" href="#" data-target="#productiondatabasemodal">Add New Row</a>
                    </div>
                    {#<div class="download_excel_production" id="">#}
                        {#{{ form(downloadExcelform) }}#}
                    {#</div>#}
                {% endif %}
            {% endif %}
        </div>
        <div style="padding: 0;margin: 0;">
            &nbsp;&nbsp;
        </div>
       <div class="col-md-2">
                {% if systems|length > 0 and addGranted %}
                    {% if dbcols is defined and dbcols is not null %}
                            <div class="" id=""><a role="button" class="btn btn-primary" href="{{ path('cms_subprojectsproductionaddcolumns_edit', {'id': dbcolEntity.id , 'projectId':projectId,'subprojectId':subprojectId}) }}">Add / Edit New Column(s)</a>
                    {% else %}
                            <div class="" id=""><a role="button" class="btn btn-primary" href="{{ path('cms_subprojectsproductionaddcolumns_new', {'projectId':projectId,'subprojectId':subprojectId}) }}">Add / Edit New Column(s)</a>
                    {% endif %}
                 {% endif %}
            </div>
        </div>
        {#<div class="col-md-3 downloadExcel" id="downloadExcel"></div>#}
    </div>
</div>
{% endblock %}

