{% block javascripts %}
    <script type="text/javascript">var systemname = '{{ systemInfo.systemstitle }}';</script>
    <script src="{{ asset('assets/js/aie/databasesedit.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <style>
        .table-grid-head{
            background: #ddd;
        }
        .sortMask {
            width:19px;
            height:19px;
            float:right;
            display:inline-block;
            z-index:0;
            margin-top:-10px;
            margin-right: -19px;
            /*background:red;*/
        }
    </style>
{% endblock %}
<table class="table table-bordered table-striped table-hover table-responsive table-grid-head" cellspacing="0" width="100%">

    <thead class="table-grid-head-row">
    <tr>
        <th>Activity<div class="sortMask"></div></th>
        <th>Location<div class="sortMask"></div></th>
        <th>ID<div class="sortMask"></div></th>
        <th>Well Test Date<div class="sortMask"></div></th>
        <th>Well Function<div class="sortMask"></div></th>
        <th>Well Status
            <div class="sortMask"></div>
        </th>
        <th>Contractor<div class="sortMask"></div></th>
        <th>Well Test Type<div class="sortMask"></div></th>
        <th>Flow Path<div class="sortMask"></div></th>
        <th>Choke Size<div class="sortMask"></div></th>
        <th>Reservoir<div class="sortMask"></div></th>
        <th>DGS<div class="sortMask"></div></th>
        <th>Train<div class="sortMask"></div></th>
        <th>Field Manifold<div class="sortMask"></div></th>
        <th>Station Manifold<div class="sortMask"></div></th>
        <th>Comments<div class="sortMask"></div></th>
        <th>Photo<div class="sortMask"></div></th>
        {% if dbcols.columnoneselected is defined and dbcols.columnoneselected == 1 %}<th>{{ dbcols.columnone }}<div class="sortMask"></div></th>{% endif %}
        {% if dbcols.columntwoselected is defined and dbcols.columntwoselected == 1 %}<th>{{ dbcols.columntwo }}<div class="sortMask"></div></th>{% endif %}
        {% if dbcols.columnthreeselected is defined and dbcols.columnthreeselected == 1 %}<th>{{ dbcols.columnthree }}<div class="sortMask"></div></th>{% endif %}
        {% if dbcols.columnfourselected is defined and dbcols.columnfourselected == 1 %}<th>{{ dbcols.columnfour }}<div class="sortMask"></div></th>{% endif %}
        {% if dbcols.columnfiveselected is defined and dbcols.columnfiveselected == 1 %}<th>{{ dbcols.columnfive }}<div class="sortMask"></div></th>{% endif %}
        <th>Actions<div class="sortMask"></div></th>
    </tr>
    </thead>

    <thead class="filters">
    <tr>
        <th><span id="closefilters"><img src="/assets/img/upmarker.png" /></span>Activity</th>
        <th>Location<div class="sortMask"></div></th>
        <th>ID<div class="sortMask"></div></th>
        <th>Well Test Date<div class="sortMask"></div></th>
        <th>Well Function<div class="sortMask"></div></th>
        <th>Well Status
            <div class="sortMask"></div>
        </th>
        <th>Contractor<div class="sortMask"></div></th>
        <th>Well Test Type<div class="sortMask"></div></th>
        <th>Flow Path<div class="sortMask"></div></th>
        <th>Choke Size<div class="sortMask"></div></th>
        <th>Reservoir<div class="sortMask"></div></th>
        <th>DGS<div class="sortMask"></div></th>
        <th>Train<div class="sortMask"></div></th>
        <th>Field Manifold<div class="sortMask"></div></th>
        <th>Station Manifold<div class="sortMask"></div></th>
        <th>Comments<div class="sortMask"></div></th>
        <th>Photo<div class="sortMask"></div></th>
        {% if dbcols.columnoneselected is defined and dbcols.columnoneselected == 1 %}<th>{{ dbcols.columnone }}</th>{% endif %}
        {% if dbcols.columntwoselected is defined and dbcols.columntwoselected == 1 %}<th>{{ dbcols.columntwo }}</th>{% endif %}
        {% if dbcols.columnthreeselected is defined and dbcols.columnthreeselected == 1 %}<th>{{ dbcols.columnthree }}</th>{% endif %}
        {% if dbcols.columnfourselected is defined and dbcols.columnfourselected == 1 %}<th>{{ dbcols.columnfour }}</th>{% endif %}
        {% if dbcols.columnfiveselected is defined and dbcols.columnfiveselected == 1 %}<th>{{ dbcols.columnfive }}</th>{% endif %}
        <th>Actions<div class="sortMask"></div></th>
    </tr>
    </thead>

    <tbody id="tb{{ systemid }}" class="productiondatabase">
    {% if productiondatabases is defined %}
        {% for productiondatabase in productiondatabases %}
            <tr>
                <td>{% if productiondatabase.bsd_activitytitle is defined %}{{ productiondatabase.bsd_activitytitle }}{% endif %}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="location" data-resizable-column-id="location">{{ productiondatabase.bsd_location }}</td>
                <td id="ed{{ projectId }}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}"
                    key="locationid"
                    data-resizable-column-id="locationid">{{ productiondatabase.bsd_id }}</td>
                <td id="welltestdate{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="welltestdate" data-resizable-column-id="welltestdate">{% if productiondatabase.bsd_welltestdate is not null %}{{ productiondatabase.bsd_welltestdate|date }}{% endif %}</td>
                <td id="wellfunction{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="wellfunction" data-resizable-column-id="wellfunction">{{ productiondatabase.bsd_wellfunction }}</td>
                <td id="wellstatus{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="wellstatus">{{ productiondatabase.bsd_wellstatus }}</td>
                <td id="contractor{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="contractor">{{ productiondatabase.bsd_contractor }}</td>
                <td id="welltesttype{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="welltesttype" data-resizable-column-id="welltesttype">{{ productiondatabase.bsd_welltesttype }}</td>
                <td id="flowpath{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="flowpath">{{ productiondatabase.bsd_flowpath }}</td>
                <td id="chokesize{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="chokesize">{{ productiondatabase.bsd_chokesize }}</td>
                <td id="reservoir{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="reservoir">{{ productiondatabase.bsd_reservoir }}</td>
                <td id="dgs{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="dgs">{{ productiondatabase.bsd_wellstatus }}</td>
                <td id="train{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="train">{{ productiondatabase.bsd_train }}</td>
                <td id="fieldmanifold{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}"  key="fieldmanifold">{{ productiondatabase.bsd_fieldmanifold }}</td>
                <td id="stationmanifold{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="stationmanifold">{{ productiondatabase.bsd_stationmanifold }}</td>
                <td id="comments{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="comments">{{ productiondatabase.bsd_comments }}</td>
                <td id="filepath{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="train">{% if productiondatabase.bsd_filepath is not null %}<a target="_blank" download="download" href="{{ asset('/uploads/'~productiondatabase.bsd_filepath) }}"> <span class="glyphicon glyphicon-cloud-download"></span></a>{% endif %}</td>
                {% if dbcols.columnoneselected is defined and dbcols.columnoneselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="columnone" data-resizable-column-id="columnone">{{ productiondatabase.bsd_columnone }}</td>{% endif %}
                {% if dbcols.columntwoselected is defined and dbcols.columntwoselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="columntwo" data-resizable-column-id="columntwo">{{ productiondatabase.bsd_columntwo }}</td>{% endif %}
                {% if dbcols.columnthreeselected is defined and dbcols.columnthreeselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="columnthree" data-resizable-column-id="columnthree">{{ productiondatabase.bsd_columnthree }}</td>{% endif %}
                {% if dbcols.columnfourselected is defined and dbcols.columnfourselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="columnfour" data-resizable-column-id="columnfour">{{ productiondatabase.bsd_columnfour }}</td>{% endif %}
                {% if dbcols.columnfiveselected is defined and dbcols.columnfiveselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ productiondatabase.bsd_id }}" key="columnfive" data-resizable-column-id="columnfive">{{ productiondatabase.bsd_columnfive }}</td>{% endif %}
                <td>
                    <ul>
                        {% if editGranted %}
                            <li><a class="editproductiondatabase" id="{{ systemid }}_{{ productiondatabase.bsd_id }}" data-toggle="modal" href="#" data-target="#editproductiondatabasemodal">Edit</a></li>
                        {% endif %}
                        {% if deleteGranted %}
                            <li><a class="deleteDatabase" id="delete_{{ productiondatabase.bsd_id }}" href= "{{ path('cms_subproject_productiondatabase_delete', { 'projectId' : projectId, 'subprojectId' : subprojectId, 'sid' : productiondatabase.bsd_id }) }}">Delete</a></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>

</table>
