{% extends 'AIEIntegrityAssessmentBundle:Default:report.html.twig' %}

{% block report_title %} Risk Assessment of {{ pipeline.name }} {% endblock %}

{% block content -%}
    <table class="details">
        <tbody>
        <tr>
            <td>Document Title</td>
            <td>Risk Assessment of {{ pipeline.name }}</td>
        </tr>
        <tr>
            <td>Client Name</td>
            <td>{{ project.client }}</td>
        </tr>
        <tr>
            <td>AIE Ref Number</td>
            <td>{{ project.referenceNo }}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ assessment.date|date('d F Y') }}</td>
        </tr>
        </tbody>
    </table>

    <h1>Introduction</h1>
    <p>{{ pipeline.description }}</p>

    <h1>Battery Limits</h1>
    <p>{{ pipeline.battery_limits }}</p>

    {% include 'AIEIntegrityAssessmentBundle:ReportData:design_specifications.html.twig' %}


    <h1>Risk Assessment Methodology</h1>
    <p>The purpose of this section is to provide {{ project.client }}’s risk assessment practitioners with informative
        guidance on the risk assessment methodology used to perform this risk assessment.</p>
    <p>The terms qualitative and quantitative are normally used in the industry to distinguish the amount of historical
        failure related data analyzed in the model and the amount of mathematical calculations (objectivity) applied.
        ‘Quantitative’ method refers to a model that is exclusively based on historical frequency data. ‘Qualitative’
        method refers to a model employing relative scales. Due to a general lack of industry failure data (including
        frequencies) relevant to the pipeline system, a qualitative method has been selected to be applied for the
        annual risk assessment. </p>
    <p>The qualitative risk model ranks pipeline risk according to the probability of failure and potential consequence
        of threats by a pre-defined scale. A 5x5 matrix has been developed which has been based on a matrix defined
        by {{ project.client }}. The Risk Matrix is shown in section (5.4).</p>
    <p>The matrix is used to rank pipeline risks according to the likelihood (scale from 1 to 5) and the potential
        consequences
        ({% for consequence in project.consequences %}{% if loop.index > 1 and loop.index < project.consequences|length %}, {% elseif loop.index != 1 %} and {% endif %}{{ consequence.name }}{% endfor %}
        ) of a threat by a scale from 1 to 5. </p>

    <div>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:sections.html.twig' %}
    </div>

    <div>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:threats.html.twig' %}
    </div>

    <div>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:sectional_threat_analysis.html.twig' %}
    </div>

    <div>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:risk_assessment_table.html.twig' %}
    </div>

    <div>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:threat_mitigation_table.html.twig' %}
    </div>

    <div>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:mitigations_table.html.twig' %}
    </div>

    <div>
        <h1>Threat Prioritisation</h1>

        <p>Threats have been prioritised according to their associated risk level.</p>

        <p>It is recognised that there may be operational constrains in addressing all risks immediately. Therefore a
            prioritisation exercise has been completed to provide the client with better visibility of the critical
            actions.</p>
    </div>
    <div>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:probabilities_of_failer_table.html.twig' %}
    </div>

    <div>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:consequence_assessments_table.html.twig' %}
    </div>

    <div>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:risk_levels_table.html.twig' %}
    </div>

    <div>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:high_very_high_table.html.twig' %}
    </div>

    <div>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:very_high_recommendations_table.html.twig' %}
    </div>

    <div>
        <div id="chart" class="col-lg-12">
            <div id="c3-chart"></div>
        </div>
    </div>

    <div>
        <h3>Risks Graph</h3>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:risk_histogram.html.twig' %}
        <div class="map section map_out risks"></div>
    </div>

    <div>
        {% include 'AIEIntegrityAssessmentBundle:ReportData:full_sections_table.html.twig' %}
    </div>

{% endblock %}

{% block stylesheets -%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup/magnific-popup.css') }}">
{% endblock %}
{% block javascripts -%}
    {{ parent() }}{% include 'AIEIntegrityAssessmentBundle:ReportData:sections_js.html.twig' %}
    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
    <script src="{{ asset('assets/js/gmaps_v3_epoly.js') }}"></script>
    <script src="{{ asset('assets/js/magnific-popup/jquery.magnific-popup.min.js') }}"></script>
    <script>
        $('#total-risks-top-counter').text($('#total-risks-counter').text());
        $('.open-section-link').magnificPopup({
            type: 'inline',
            midClick: true,
            closeBtnInside: true,
            callbacks: {
                close: function () {
                    $(this.content).removeClass('mfp-hide');
                }
            }
        });
    </script>
    {% include 'AIEIntegrityAssessmentBundle:ReportData:chart.html.twig' %}
{% endblock %}