{% extends 'AIEIntegrityAssessmentBundle:Default:report.html.twig' %}

{% block navigation %}{% endblock %}

{% block content -%}
    <div style="width: 990px; ">
        <div>
            <div id="chart">
                <div id="c3-chart" style=" height:400px;"></div>
            </div>
        </div>
        <br><br><br><br><br>

        <div>
            {% include 'AIEIntegrityAssessmentBundle:ReportData:risk_histogram.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    {% include 'AIEIntegrityAssessmentBundle:ReportData:chart.html.twig' %}
    <script>
        $('#c3-chart').css('margin-left', '-45px');
        //$('.c3-legend-item').css('font-size', '11px');
    </script>
{% endblock %}