{% extends 'AIEIntegrityAssessmentBundle:Default:report.html.twig' %}

{% block navigation %}{% endblock %}

{% block content -%}
<div class="map map_out hide_panels" style="width: 1000px;"></div>
<input type="hidden" id="geometryMap" name="geometry" value="{{ pipeline.geometry }}"/>
{% endblock %}

{% block javascripts -%}
{{ parent() }}
    {% include 'AIEIntegrityAssessmentBundle:ReportData:sections_js.html.twig' %}
    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
    <script src="{{ asset('assets/js/gmaps_v3_epoly.js') }}"></script>
{% endblock %}