{% extends 'AIEIntegrityAssessmentBundle:Default:report_base.html.twig' %}

{% block report_title %} Risk Assessment of {{ pipeline.name }} {% endblock %}

{% block body -%}
    {% include 'AIEIntegrityAssessmentBundle:ReportData:full_sections_table.html.twig' %}
{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('assets/js/aie/reporting.js') }}"></script>  
    <script>
        $('.report').splitTable();
    </script>
{% endblock %}