{% block content %}
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('assets/css/editable/bootstrap-editable.css') }}">
        <style>

            th {
                text-align:center;
            }

            td {
                text-align:left;
            }



            td:nth-child(2) {
                text-align:center;vertical-align:middle;
            }

        </style>
    {% endblock %}
    <div class="container">

            <div class="page-header">
                <h1>Database Reference Dictionary</h1>
            </div>
            {% for dbentity in databaseproperties %}
                <div class="col-md-12">
                     <div class="panel panel-default">
                        <div class="panel-heading" id="service">
                            <h4 class="text-center">Service <span class="fa fa-edit pull-right bigicon"></span></h4>
                        </div>
                            
                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-xs-6" id="dService">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Service</th>
                                            </tr>
                                        </thead>
                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.serviceid }}Bdy">
                                            {% block service %}
                                            {% for entity in serviceentities %}
                                                {% if entity.colvalue is defined %}
                                                    <tr>
                                                        <td width="400" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="service">{{ entity.colvalue }}</td>
                                                        <td width="100">
                                                            {{ entity.id }}
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endblock service %} 
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-heading" id="sampling">
                            <h4 class="text-center">Sampling/Testing Database<span class="fa fa-edit pull-right bigicon"></span></h4>
                        </div>

                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-xs-6" id="dSamplingOrientation">
                                     <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Activity Persons</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.samplingorientationid }}Bdy">
                                             {% for entity in samplingorientationentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="400" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="samplingorientation">{{ entity.colvalue }}</td>
                                                    <td width="100">
                                                        {{ entity.id }}
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>


                                </div>

                                 <div class="col-xs-6" id="dActivityPperson">
                                     <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Orientation</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.activitypersonid }}Bdy">
                                             {% for entity in activitypersonentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="400" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="samplingactivityperson">{{ entity.colvalue }}</td>
                                                    <td width="100" >
                                                        {{ entity.id }}
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>

                        </div>
                        
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="chemical">
                            <h4 class="text-center">Chemical Database<span class="fa fa-edit pull-right bigicon"></span></h4>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-xs-4" id="dchemicaltype">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Chemical type</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.chemicaltypeid }}Bdy">
                                             {% for entity in chemicaltypeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="chemicaltype">{{ entity.colvalue }}</td>
                                                     <td width="100" >
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>


                                </div>

                                <div class="col-xs-4" id="dpumptype">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Pump Type</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.pumptypeid }}Bdy">
                                             {% for entity in pumptypeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="pumptype">{{ entity.colvalue }}</td>
                                                     <td width="100" >
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>


                                </div>

                                <div class="col-xs-4" id="dinjectionmethod">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Injection Method</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.injectionmethodid }}Bdy">
                                             {% for entity in injectionmethodentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="injectionmethod">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="cathodic">
                            <h4 class="text-center">Cathodic Protection Database<span class="fa fa-edit pull-right bigicon"></span></h4>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-xs-4" id="dlocation">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Location</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.locationid }}Bdy">
                                             {% for entity in locationentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="location">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="dcptype">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">CP Type</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.cptypeid }}Bdy">
                                             {% for entity in cptypeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="cptype">{{ entity.colvalue }}</td>
                                                     <td width="100" >
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="dequipmenttype">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Equipment Type</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.equipmenttypeid }}Bdy">
                                             {% for entity in equipmenttypeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="equipmenttype">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="danodetype">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Anode type</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.anodetypeid }}Bdy">
                                             {% for entity in anodetypeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="anodetype">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="dmonitoringmethod">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Monitoring Method</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.monitoringmethodid }}Bdy">
                                             {% for entity in monitoringmethodentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="monitoringmethod">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="dreferenceelectrode">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Reference Electrode</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.referenceelectrodeid }}Bdy">
                                             {% for entity in referenceelectrodeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="referenceelectrode">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="corrosion">
                            <h4 class="text-center">Coupon/Probe Database<span class="fa fa-edit pull-right bigicon"></span></h4>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">

                                <div class="col-xs-4" id="dinstalleddevice">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Installed Device</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.installeddeviceid }}Bdy">
                                             {% for entity in installeddeviceentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="installeddevice">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                    
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="dcorrosionOrientation">
                                     <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Orientation</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.corrosionorientationid }}Bdy">
                                             {% for entity in corrosionorientationentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="corrosionorientation">{{ entity.colvalue }}</td>
                                                    <td width="100">
                                                        {{ entity.id }}
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="dAccessFitting">
                                     <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Access Fitting Type</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.accessfittingtypeid }}Bdy">
                                             {% for entity in accessfittingtypeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="accessfittingtype">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="dTeeFitting">
                                     <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Tee Fitting</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.teefittingid }}Bdy">
                                             {% for entity in teefittingentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="teefitting">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="dholderplug">
                                     <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Holder Plug</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.holderplugid }}Bdy">
                                             {% for entity in holderplugentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="holderplug">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>


                                <div class="col-xs-4" id="dinsulation">
                                     <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Insulation</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.insulationid }}Bdy">
                                             {% for entity in insulationentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="insulation">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="dsurfacefinish">
                                     <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Surface Finish</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.surfacefinishid }}Bdy">
                                             {% for entity in surfacefinishentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="surfacefinish">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="donline">
                                     <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Online</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.onlineid }}Bdy">
                                             {% for entity in onlineentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="online">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="dscaffold">
                                     <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Scaffold</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.scaffoldid }}Bdy">
                                             {% for entity in scaffoldentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="scaffold">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                         {{ entity.id }}
                                                     </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <div class="col-xs-4" id="daccess">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Access</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.accessid }}Bdy">
                                             {% for entity in accessentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{projectId}}_{{ entity.subproject.id }}_{{ entity.id }}" key="access">{{ entity.colvalue }}</td>
                                                    <td width="100">
                                                        {{ entity.id }}
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                </div>

                                <!--- Linked CMS DB Properties -->

                                <div class="col-xs-8" id="dprobetechnologydatalogger">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Probe Technology and Datalogger</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.probetechnologyid }}_{{ dbentity.dataloggerid }}Bdy">
                                            {% for entity in probetechnologyentities %}

                                                {% if entity.colidonevalue is defined and entity.colidtwovalue is defined %}
                                                     <tr>
                                                         <td width="550">
                                                           <div class="linkdatadiv" id="link{{entity.id}}">
                                                                  <span class="titlecolone{{ entity.id }}">{{entity.colidonevalue}}</span>
                                                            </div>
                                                        </td>
                                                        <td width="100">
                                                            {{entity.id}}
                                                        </td>
                                                    </tr>
                                                {% endif %}

                                            {% endfor %}
                                        </tbody>

                                    </table>

                                </div>

                                <div class="col-xs-8" id="dcouponmaterialdensity">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Coupon Material and Density (g/cm3)</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.couponmaterialid }}_{{ dbentity.densityid }}Bdy">
                                            {% for entity in couponmaterialentities %}

                                                {% if entity.colidonevalue is defined and entity.colidtwovalue is defined %}
                                                     <tr>
                                                        <td width="550">
                                                        <span class="titlecolone{{ entity.id }}">{{entity.colidonevalue}}</span>
                                                        </td>
                                                        <td width="100">
                                                        {{ entity.id }}
                                                        </td>
                                                    </tr>
                                                {% endif %}

                                            {% endfor %}
                                        </tbody>

                                    </table>

                                </div>

                                <div class="col-xs-8" id="dcoupontypearea">
                                    <table class= "table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Coupon Type and Area (cm2)</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{projectId}}_{{subprojectId}}_{{ dbentity.coupontypeid }}_{{ dbentity.areaid }}Bdy">
                                            {% for entity in coupontypeentities %}

                                                {% if entity.colidonevalue is defined and entity.colidtwovalue is defined %}
                                                     <tr>
                                                         <td width="550">
                                                             <span class="titlecolone{{ entity.id }}">{{entity.colidonevalue}}</span>
                                                        </td>
                                                        <td width="100">
                                                            {{ entity.id }}
                                                        </td>
                                                    </tr>
                                                {% endif %}

                                            {% endfor %}
                                        </tbody>

                                    </table>

                                </div>

                                <!--- End of Linked CMS DB Properties -->


                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
    </div>

{% endblock %}




