{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content %}
    {% if delete_form is defined %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">Close</a>
        Are you sure you want to delete the pipeline?
    </div>
    {% endif %}
    <h1>Delete "{{ entity.name }}" Pipeline Section</h1>
    <div class="form-group">
        <div class="button-container">
            <button type="button" id="delete_btn_1" class="btn btn-primary btn-danger left">Delete</button>
        </div>
    </div>
    <div class="form-group">
        <div class="button-container text-center">
            <button type="button" id="delete_btn_2" class="btn btn-primary btn-danger hide">Delete</button>
        </div>
    </div>
    {{ form(delete_form) }}
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_pipeline_sections', {'projectId': projectId,'pipelineId':pipelineId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to pipeline sections
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('#delete_btn_1').click(function(){
                $('#delete_btn_2').removeClass('hide');
            });

            $('#delete_btn_2').click(function(){
                $('form button').removeClass('hide');
            });
        });
    </script>
{% endblock %}