{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>New Pipeline Section</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Map</h3>
        </div>
        <div class="panel-body">
            <div class="map map_out live_sectioning"></div>
            <input type="hidden" id="geometryMap" name="geometry" value="{{ pipeline.geometry }}"/>
            <script>var pipeline = {length: "{{ length }}"};</script>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">New Section</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.outerDiameter) }}
            {{ form_row(form.nominalWT) }}
            {{ form_row(form.material) }}
            {{ form_row(form.minStrength) }}
            <div class="form-group">
                <div class="col-md-12">
                    <ul class="segments list-unstyled"
                        data-prototype="{{ form_widget(form.segments.vars.prototype)|e }}">
                        {% for s_form in form.segments %}
                            <li>{{ form_widget(s_form) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {{ form_row(form.add_segment) }}
            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>



    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_pipeline_sections', {'projectId': projectId,'pipelineId':pipelineId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to pipeline sections
            </a>
        </li>
    </ul>
{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <!--<link rel="stylesheet" href="{{ asset('assets/css/rangeSlider/normalize.min.css') }}">-->
        <link rel="stylesheet" href="{{ asset('assets/css/rangeSlider/ion.rangeSlider.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/rangeSlider/ion.rangeSlider.skinFlat.css') }}">
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
    <script src="{{ asset('assets/js/gmaps_v3_epoly.js') }}"></script>
    <script src="{{ asset('assets/js/rangeSlider/ion.rangeSlider.min.js') }}"></script>

    <script>
        var doneTypingInterval = 500;  //time in ms

        $.get('{{path('ajax_sections')}}', function (data) {

            var sections = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                local: data
            });

            // initialize the bloodhound suggestion engine
            sections.initialize();
            $(".section").typeahead({source: sections.ttAdapter()});
        }, 'json');

        $(document).ready(function () {
            var collectionHolder = $('ul.segments');
            dynamic_form($("button[id$='add_segment']"), collectionHolder);
            collectionHolder.on('DOMSubtreeModified', function () {
                //when changing the list (i.e. adding new one)
                // add the ranger
                var last_li_div = $('.segments li:last div:first');
                var seg_id = last_li_div.attr('id') + '_';
                var rangeId = "#" + seg_id + "sectionRange";
                var x_id = '#' + seg_id + 'segment_group_x';
                var y_id = '#' + seg_id + 'segment_group_y';

                if ($(rangeId, last_li_div).length == 0) {
                    var rangeSelector = $('<div class="form-group"><label class="col-md-3 control-label required" for="' + seg_id + 'sectionRange">Range</label><div class="col-md-9"><input type="text" id="' + seg_id + 'sectionRange" name="' + seg_id + 'sectionRange" value="0;{{ length }}"/></div></div>');
                    $(last_li_div).append(rangeSelector);
                    $(rangeId).ionRangeSlider({
                        min: 0,
                        max: {{ length }},
                        from: 0,
                        to: {{ length }},
                        type: 'double',
                        step: 0.01,
                        prettify: true,
                        hasGrid: true,
                        onChange: function (obj) {
                            var arr = $(rangeId).val().split(';');
                            var x = 0, y = 0;
                            x = parseFloat(arr[0]).toFixed(2);
                            y = parseFloat(arr[1]).toFixed(2);
                            $(x_id).val(x);
                            $(y_id).val(y);
                        }
                    });


                    $(x_id + ', ' + y_id).on("change keyup paste", function () {
                        var typingTimer = $(this).data('timer');
                        clearTimeout(typingTimer);
                        typingTimer = setTimeout(function (){
                            var x = $(x_id).val();
                            var y = $(y_id).val();
                            if (x == '') {
                                x = 0;
                                $(x_id).val(x);
                            }
                            if (y == '') {
                                y = 0;
                                $(y_id).val(y);
                            }

                            $(rangeId).ionRangeSlider("update", {
                                from: x,
                                to: y
                            });

                        }, doneTypingInterval);
                        $(this).data('timer', typingTimer);
                    });
                }

            });
        });
    </script>
{% endblock %}