{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Pipeline Sections</h1>
    {% if pipeline.geometry %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Map</h3>
            </div>
            <div class="panel-body">
                <div class="map map_out"></div>
                <input type="hidden" id="geometryMap" name="geometry" value="{{ pipeline.geometry }}"/>
            </div>
        </div>
    {% endif %}
    <table class="records_list">
        <thead>
        <tr>
            <th>Section</th>
            <th>Outer Diameter (inch)</th>
            <th>Nominal Wall Thickness (mm)</th>
            <th>Material</th>
            <th>Specified Minimum Yield Strength (ksi)</th>
            <th>Start KP</th>
            <th>End KP</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.outerDiameter }}</td>
                <td>{{ entity.nominalWT }}</td>
                <td>{{ entity.material }}</td>
                <td>{{ entity.minStrength }}</td>
                <td>
                    <ul>
                        {% for segment in entity.segments %}
                            <li>{{ segment.x }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for segment in entity.segments %}
                            <li>{{ segment.y }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ entity.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <spna style="font-size: 15px; font-weight: bold;">...</spna>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ entity.id }}">
                            <li>
                                <a href="{{ path('anomaly_pipeline_sections_edit', { 'id': entity.id, 'pipelineId': pipelineId, 'projectId': projectId }) }}">edit</a>
                            </li>
                            <li>
                                <a href="{{ path('anomaly_pipeline_sections_delete', { 'id': entity.id, 'pipelineId': pipelineId, 'projectId': projectId }) }}">delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_pipeline_sections_new', {'pipelineId': pipelineId, 'projectId': projectId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new pipeline section
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
{% endblock %}