{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>PipelineSections</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Start KP</th>
                <td>{{ entity.x }}</td>
            </tr>
            <tr>
                <th>End KP</th>
                <td>{{ entity.y }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_pipeline_sections', {'projectId': projectId,'pipelineId':pipelineId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
    </ul>
{% endblock %}