{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>Consequences</h1>
{{ form_start(form) }}

    <table class="records_list">
        <thead>
            <tr>
                <th>Consequence</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for consequence in consequences %}
                <tr>

                    <td>{{ consequence.name }}</td>
                    <td> {{ form_widget(attribute(form, consequence.id)) }} </td>
        {% endfor %}
            </tbody>
        </table>
{{ form_end(form) }}
    {% endblock %}

