{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>{{ user.username }}'s assigned projects</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Project</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        {% for key,entity in entities %}
            <tr>
                <td>{{ entities[key].projectname }}</td>
                <td>{{ entities[key].groupname }}</td>
                <td>
                    <div style="display:inline-block;float:left;margin-right:10px;"><a href="{{ path('anomaly_userprojectgroup_edit', { 'userId':userId, 'id': entities[key].id }) }}">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a>
                    </div>
                    <div style="display:inline-block;float:left;margin-right:10px;">
                {{ form(entities[key].form) }}
                        </div>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_userprojectgroup_new', {'userId':userId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Assign a new project
            </a>
        </li>
    </ul>
    {% endblock %}
