{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>Assign Project & Position</h1>

    {{ form(form) }}
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_userprojectgroup',{'userId':userId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to assigned projects
            </a>
        </li>
    </ul>
{% endblock %}
