{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>UserProjectGroup</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_userprojectgroup') }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('anomaly_userprojectgroup_edit', { 'id': entity.id }) }}" class="btn btn">
                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
        </li>
    </ul>
        <ul class="record_actions">
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
