{% set actionType = entity.code|lower %}
{% set routeVar = app.request.attributes.get('_route') %}
{% set anomalyType = entity.code|lower %}
{% set projectId = entity.project.id %}
<div class="dropdown">
    <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ entity.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <spna style="font-size: 15px; font-weight: bold;">...</spna>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu{{ entity.id }}">
        {% if granted_list[entity.code]['show'] %}
            <li>
                <a href="{{ path('anomaly_' ~ actionType ~ '_show', { 'projectId': projectId, 'id': entity.id, 'type': anomalyType }) }}">Show</a>
            </li>
        {% endif %}
        {% if status is defined %}
            {% if (status[entity.id] == 'final' or status[entity.id] == 'request-rejected' or status[entity.id] == 'new') %}
                {% if granted_list[entity.code]['edit'] %}
                <li>
                    <a href="{{ path('anomaly_' ~ actionType ~ '_edit', { 'projectId': projectId, 'id': entity.id, 'type': anomalyType }) }}">Edit</a>
                </li>
                {% endif %}
                {% if granted_list[entity.code]['files'] or granted_list[entity.code]['edit'] %}
                <li>
                    <a href="{{ path('anomaly_files', { 'refId': entity.id }) }}">Attach Files</a>
                </li>
                {% endif %}
                {% if granted_list[entity.code]['edit'] %}
                <li>
                    <a href="{{ path('anomaly_deferral_anomaly', {'projectId' : projectId, 'id': entity.id}) }}">Defer</a>
                </li>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if granted_list[entity.code]['monitor'] or granted_list[entity.code]['show'] %}
            <li>
                <a href="{{ path('anomaly_monitor', {'projectId': projectId, 'anomalyId': entity.id }) }}">Monitors</a>
            </li>
        {% endif %}
        {% if granted_list[entity.code]['history'] or granted_list[entity.code]['show'] %}
            <li>
                <a href="{{ path(actionType ~ '_registrar_request_history', {'id': entity.id, 'projectId': projectId }) }}">History and Reports</a>
            </li>
        {% endif %}
        {% if granted_list[entity.code]['delete'] %}
            <li>
                <a href="javascript:void(0);"  data-toggle="modal" data-target="#deleteModal{{ entity.id }}">Delete</a>
            </li>
        {% endif %}
    </ul>
</div>
{% if granted_list[entity.code]['delete'] %}
    <div class="modal fade" id="deleteModal{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel{{ entity.id }}">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="deleteModalLabel{{ entity.id }}">Delete</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete {{ entity.anomalyCustomId }}?<br/><b>Deleting anomaly will delete are related data (mitigation, monitors, etc)</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a href="{{ path('anomaly_' ~ actionType ~ '_remove', { 'projectId': projectId, 'id': entity.id }) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}