{% extends 'AIEAnomalyBundle:Registrar:edit.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        html, body { overflow-x: hidden; }
    </style>
{% endblock %}
{% block form_content %}
    {% include 'AIEAnomalyBundle:AnomalyRegistrar:extra.html.twig' %}
    {% include 'AIEAnomalyBundle:AnomalyRegistrar:form.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'AIEAnomalyBundle:AnomalyRegistrar:tracking_criteria_js.html.twig' %}
    {% include 'AIEAnomalyBundle:AnomalyRegistrar:files_js.html.twig' %}
{% endblock %}

