<div class="alert alert-danger" role="alert" style="display:none;" id="statusError">
    <p>The anomaly cannot be closed since the following items are still LIVE:</p>
    <p>
    {% set actions = entity.getActions() %}

    {% for action in actions %}
      {% if 'Live' == action.getStatusChoices()[action.getStatus()] %}
          <a href="{{ path('anomaly_' ~ action.getCode()|lower ~ '_show', {'projectId': projectId, 'id': action.getId() }) }}" class="alert-link">
              {{ action.getFullId() }}
          </a>
          <br>
      {% endif %}

    {% endfor %}
    </p>
    <p>
        Please close or cancel the aforementioned items in order to close out this anomaly.
    </p>

</div>
