<div class="panel panel-default">
    <div class="panel-heading">Equipment Description:</div>
    <div class="panel-body">
        {{ form_row(form.equipment_group) }}
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Anomaly Description:</div>
    <div class="panel-body">
        {{ form_row(form.anomaly_group.anomalyCustomId) }}
        {{ form_row(form.anomaly_group.raisedOn) }}
        {{ form_row(form.anomaly_group.InspDate) }}
        {{ form_row(form.anomaly_group.defectDescription) }}
        {{ form_row(form.anomaly_group.location) }}
        {{ form_row(form.anomaly_group.locationPoint) }}
        {{ attribute(form.anomaly_group, 'gps_group') is defined? form_row(form.anomaly_group.gps_group) }}
        {{ form_row(form.anomaly_group.threat) }}
        {{ form_row(form.anomaly_group.classification) }}
        {{ form_row(form.anomaly_group.defect_orientation_group) }}
        {{ form_row(form.anomaly_group.corrosionRate) }}
        {{ form_row(form.anomaly_group.remainingWallThickness) }}
        {{ form_row(form.anomaly_group.retiralValue) }}
        {{ form_row(form.anomaly_group.length) }}
        {{ form_row(form.anomaly_group.width) }}
        <div class="form-group">
            <div class="not-cr-ml col-md-9 col-md-offset-3">
                Please specify the Tracking (Performance) Criteria for this anomaly. Tracking Criteria can be any
                variable that needs to be monitored. For example, the default Tracking Criteria for a metal loss
                anomaly is Remaining Wall Thickness, Length, and Width.
            </div>
        </div>
        <div class="form-group">
            <div class="not-cr-ml col-md-12">
                <ul class="tracking_criteria list-unstyled"
                    data-prototype="{{ form_widget(form.anomaly_group.trackingCriteria.vars.prototype)|e }}">
                    {% for tracking_criteria_form in form.anomaly_group.trackingCriteria %}
                        <li>{{ form_widget(tracking_criteria_form) }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {{ form.anomaly_group.add_tracking_criteria|default? form_row(form.anomaly_group.add_tracking_criteria) }}
        {{ form_row(form.anomaly_group) }}
    </div>
</div>

{% include 'AIEAnomalyBundle:Registrar:risk_criticality_form.html.twig' %}

<div class="panel panel-default">
    <div class="panel-heading">Remedial Action:</div>
    <div class="panel-body">
        {{ form_row(form.remedial_group) }}
    </div>
</div>

<div class="panel panel-default inspection">
    <div class="panel-heading">Management Strategy:</div>
    <div class="panel-body">
        {{ form_row(form.management_group) }}
    </div>
</div>

{#<div class="panel panel-default RO">
    <div class="panel-heading">Repair order:</div>
    <div class="panel-body">
        {{ form_row(form.ro_expiryDate) }}
        {{ form_row(form.ro_recommendations) }}
        {{ form_row(form.ro_description) }}
        {{ form_row(form.ro_locationDetails) }}
        {{ form_row(form.ro_repairPriority) }}
        {{ form_row(form.ro_closeOutDate) }}
        {{ form_row(form.ro_closeOutJustification) }}
        {% if class(project)=="RiskProject" %}
            {{ form_row(form.ro_probability) }}
            {{ form_row(form.ro_consequence) }}
        {% else %}
            {{ form_row(form.ro_criticality) }}
        {% endif %}
        {{ form_row(form.ro_status) }}
        {{ form_row(form.ro_spa) }}
    </div>
</div>

<div class="panel panel-default TRO">
    <div class="panel-heading">Temporary Repair Order:</div>
    <div class="panel-body">
        {{ form_row(form.tro_expiryDate) }}
        {{ form_row(form.tro_recommendations) }}
        {{ form_row(form.tro_repairType) }}
        {{ form_row(form.tro_designLife) }}
        {{ form_row(form.tro_mocNumber) }}
        {{ form_row(form.tro_installationDate) }}
        {% if class(project)=="RiskProject" %}
            {{ form_row(form.tro_probability) }}
            {{ form_row(form.tro_consequence) }}
        {% else %}
            {{ form_row(form.tro_criticality) }}
        {% endif %}
        {{ form_row(form.tro_status) }}
        {{ form_row(form.tro_spa) }}
    </div>
</div>

<div class="panel panel-default FM">
    <div class="panel-heading">Fabric Maintenance:</div>
    <div class="panel-body">
        {{ form_row(form.fm_expiryDate) }}
        {{ form_row(form.fm_recommendations) }}
        {{ form_row(form.fm_description) }}
        {{ form_row(form.fm_immediateRepair) }}
        {{ form_row(form.fm_longIsolation) }}
        {{ form_row(form.fm_inService) }}
        {{ form_row(form.fm_completionDate) }}
        {% if class(project)=="RiskProject" %}
            {{ form_row(form.fm_probability) }}
            {{ form_row(form.fm_consequence) }}
        {% else %}
            {{ form_row(form.fm_criticality) }}
        {% endif %}
        {{ form_row(form.fm_status) }}
        {{ form_row(form.fm_spa) }}
    </div>
</div>

<div class="panel panel-default AS">
    <div class="panel-heading">Technical Assessment:</div>
    <div class="panel-body">
        {{ form_row(form.as_expiryDate) }}
        {{ form_row(form.as_recommendations) }}
        {{ form_row(form.as_assessmentDueDate) }}
        {{ form_row(form.as_assessmentType) }}
        {{ form_row(form.as_assessmentCode) }}
        {{ form_row(form.as_assessmentResult) }}
        {{ form_row(form.as_assessmentBufferDays) }}
        {% if class(project)=="RiskProject" %}
            {{ form_row(form.as_probability) }}
            {{ form_row(form.as_consequence) }}
        {% else %}
            {{ form_row(form.as_criticality) }}
        {% endif %}
        {{ form_row(form.as_status) }}
        {{ form_row(form.as_spa) }}
    </div>
</div>#}

{% if show_attachments is not defined or show_attachments == true%}
<div class="panel panel-default">
    <div class="panel-heading">Attachments:</div>
    <div class="panel-body">
        {% block attachments %}
            <div class="form-group">
                {% if entity.files|length %}
                    <div style="padding: 10px 20px 0px 20px;">
                        <table class="table table-bordered table-responsive table-hover table-condensed">
                            <thead>
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Caption</th>
                                <th class="text-center">Category</th>
                                <th class="text-center">Company</th>
                                <th class="text-center">Document Number</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for file in entity.files %}
                                <tr>
                                    <td class="text-center"><input type="checkbox" name="anomaly_file_edit_check[]" value="{{ file.id }}"></td>
                                    <td class="text-center">{{ file.filename }}</td>
                                    <td class="text-center">{{ file.caption }}</td>
                                    <td class="text-center">{{ file.category != null ? file.category.name : "-" }}</td>
                                    <td class="text-center">{{ file.company }}</td>
                                    <td class="text-center">{{ file.documentnumber }}</td>
                                    <td class="text-center"><a target="_blank" href="{{ absolute_path(file) }}"><span class="glyphicon glyphicon-cloud-download"></span><span> Download </span></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div style="padding: 10px 20px 0px 20px;">
                        <div class="alert alert-info">
                            This anomaly has no attachments
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-12">
                    <ul class="files list-unstyled"
                        data-prototype="{{ form_widget(form.files_group.files.vars.prototype)|e }}">
                        {% for files_form in form.files_group.files %}
                            <li>{{ form_widget(files_form) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {{ form_row(form.files_group.add_files) }}
            {{ form_row(form.files_group) }}
        {% endblock %}
    </div>
</div>
{% endif %}