{% extends 'AIEAnomalyBundle:Registrar:index.html.twig' %}
{% block content %}
    <h1>Master Anomaly Register</h1>

    {% include 'AIEAnomalyBundle:Registrar:search.html.twig' %}

    {% include 'AIEAnomalyBundle:AnomalyRegistrar:list.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
