{% if not(project.isSetup['isSetup']) %}
    <div class="row">
        <div class="col-lg-12" style="margin-top: 20px;">
            <div class="alert alert-warning">
                <b>Access is not available.</b><br/>Setup the following lists to get access to this functionality.
                <ul>
                    {{ (project.isSetup['missing']['locations']) ? '<li>Locations</li>' }}
                    {{ (project.isSetup['missing']['classifications']) ? '<li>Classifications</li>' }}
                    {{ (project.isSetup['missing']['threats']) ? '<li>Threats</li>' }}
                    {{ (project.isSetup['missing']['actionOwners']) ? '<li>Action Owners</li>' }}
                    {{ (project.isSetup['missing']['codes']) ? '<li>Codes & Standards</li>' }}
                    {{ (project.isSetup['missing']['risk']) ? '<li>Risk Matrix or Criticality Ranking</li>' }}
                </ul>
            </div>
        </div>
    </div>
{% else %}
    <table class="records_list">
        <thead>
        <tr>
            <th>Anomaly ID (Register ID)</th>
            <th>Location</th>
            <th>Asset Tag Number</th>
            <th>Asset Component</th>
            <th>
                {% if class(project) == 'RiskProject' %}
                    {{ 'Risk' }}
                {% else %}
                    {{ 'Criticality' }}
                {% endif %}
            </th>
            <th>Raised Date</th>
            <th>Status</th>
            <th>Next Inspection Date</th>
            <th>Action Required</th>
            <th>Action Owner</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% set anomalyType = entity.code|lower %}
            <tr>
                <td>
                    <a href="{{ path('anomaly_' ~ anomalyType ~ '_show', {'projectId': projectId, 'id': entity.id }) }}">{{ entity.anomalyCustomId }} ({{ entity.fullId }})</a>
                    {% if entity.statusTag != 'final' %}
                        <span class="anomaly-status {{ entity.statusTag }}">
                            {{ entity.tagChoices[entity.statusTag]['label'] }}
                        </span>
                    {% endif %}
                </td>
                <td>{{ entity.location.name }}</td>
                <td>{{ entity.assetTagNumber }}</td>
                <td>{{ entity.component }}</td>
                <td>
                    {% if (entity.probability is not null and entity.consequence is not null ) or entity.criticality is not null or entity.fabricMaintenanceCriticality is not null %}
                        {% set project_type = class(project) %}
                        {% if project_type == 'RiskProject' %}
                            {% set matrix = project.riskMatrix %}
                            {{ matrix.risk(entity.consequence, entity.probability) }}
                        {% else %}
                            {% if project.enableFMCriticality and entity.isFabricMaintenanceCriticality %}
                                <span class="custom-criticality-span" style="background-color:{{ '#' ~ project.FMCriticalityColorsArray[entity.fabricMaintenanceCriticality] }}"><b>{{ project.FMCriticalityArray[entity.fabricMaintenanceCriticality] }}</b></span>
                            {% else %}
                                <span class="custom-criticality-span" style="background-color:{{ '#' ~ project.enabledCriticalityColors[entity.criticality] }}"><b>{{ project.enabledCriticalityChoices[entity.criticality] }}</b></span>
                            {% endif %}
                        {% endif %}
                    {% else %}
                        {{- '-' -}}
                    {% endif %}
                </td>
                <td>{{ entity.raisedOn|date }}</td>
                <td>{{ entity.statusChoices[entity.status] }}</td>
                <td>{% if entity.inspectionDate and entity.inspectionFrequency %}{{ entity.nextInspectionDate|date }}{% endif %}</td>
                <td>
                    {% for action in entity.actionRequired %}
                        {% if loop.index == (entity.actionRequired|length) %}
                            {% spaceless %}
                                <span data-toggle="tooltip" data-placement="top" title="{{ entity.actionsChoices[action] }}">{{ entity.actionsAbbreviation[action] }}</span>
                            {% endspaceless %}
                        {% else %}
                            {% spaceless %}
                                <span data-toggle="tooltip" data-placement="top" title="{{ entity.actionsChoices[action] }}">{{ entity.actionsAbbreviation[action] }}</span>,
                            {% endspaceless %}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ (entity.spa)? users[entity.spa.userId] }}</td>
                <td>
                    {% include "AIEAnomalyBundle:AnomalyRegistrar:anomaly_registrar_navigation_list.html.twig" with {'entity': entity,'status':status,'DeferLinkStruct':DeferLinkStruct, 'granted_list': granted_list} only %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
