{% extends 'AIEAnomalyBundle:Registrar:new.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    <style>
        html, body { overflow-x: hidden; }
        .fileInput{
            border-color: #ed0000;
        }
    </style>
{% endblock %}
{% block form_content %}
    <div class="panel panel-default">
        <div class="panel-heading">Equipment Description:</div>
        <div class="panel-body">
            {{ form_row(form.equipment_group) }}
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">Anomaly Description:</div>
        <div class="panel-body">
            {{ form_row(form.anomaly_group.anomalyCustomId) }}
            {{ form_row(form.anomaly_group.raisedOn) }}
            {{ form_row(form.anomaly_group.InspDate) }}
            {{ form_row(form.anomaly_group.defectDescription) }}
            {{ form_row(form.anomaly_group.location) }}
            {{ form_row(form.anomaly_group.locationPoint) }}
            {{ attribute(form.anomaly_group, 'gps_group') is defined? form_row(form.anomaly_group.gps_group) }}
            {{ form_row(form.anomaly_group.threat) }}
            {{ form_row(form.anomaly_group.classification) }}
            {{ form_row(form.anomaly_group.defect_orientation_group) }}
            {{ form_row(form.anomaly_group.corrosionRate) }}
            {{ form_row(form.anomaly_group.remainingWallThickness) }}
            {{ form_row(form.anomaly_group.retiralValue) }}
            {{ form_row(form.anomaly_group.length) }}
            {{ form_row(form.anomaly_group.width) }}
            <div class="form-group">
                <div class="not-cr-ml col-md-9 col-md-offset-3">
                    Please specify the Tracking (Performance) Criteria for this anomaly. Tracking Criteria can be any
                    variable that needs to be monitored. For example, the default Tracking Criteria for a metal loss
                    anomaly is Remaining Wall Thickness, Length, and Width.
                </div>
            </div>
            <div class="form-group">
                <div class="not-cr-ml col-md-12">
                    <ul class="tracking_criteria list-unstyled"
                        data-prototype="{{ form_widget(form.anomaly_group.trackingCriteria.vars.prototype)|e }}">
                        {% for tracking_criteria_form in form.anomaly_group.trackingCriteria %}
                            <li>{{ form_widget(tracking_criteria_form) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {{ form_row(form.anomaly_group.add_tracking_criteria) }}
            {{ form_row(form.anomaly_group) }}
        </div>
    </div>

    {{ block('risk_criticality_form') }}

    <div class="panel panel-default">
        <div class="panel-heading">Remedial Action:</div>
        <div class="panel-body">
            {{ form_row(form.remedial_group) }}
        </div>
    </div>

    <div class="panel panel-default inspection">
        <div class="panel-heading">Anomaly Inspection Management Strategy:</div>
        <div class="panel-body">
            {{ form_row(form.management_group) }}
        </div>
    </div>

    <div class="panel panel-default RO">
         <div class="panel-heading">Repair order Management Strategy:</div>
         <div class="panel-body">
             {{ form_row(form.ro_expiryDate) }}
             {{ form_row(form.ro_recommendations) }}
             {{ form_row(form.ro_description) }}
             {{ form_row(form.ro_locationDetails) }}
             {{ form_row(form.ro_repairPriority) }}
             {{ form_row(form.ro_closeOutDate) }}
             {{ form_row(form.ro_closeOutJustification) }}
             {{ form_row(form.ro_status) }}
             {{ form_row(form.ro_spa) }}
         </div>
     </div>

     <div class="panel panel-default TRO">
         <div class="panel-heading">Temporary Repair Order Management Strategy:</div>
         <div class="panel-body">
             {{ form_row(form.tro_expiryDate) }}
             {{ form_row(form.tro_recommendations) }}
             {{ form_row(form.tro_repairType) }}
             {{ form_row(form.tro_designLife) }}
             {{ form_row(form.tro_mocNumber) }}
             {{ form_row(form.tro_installationDate) }}
             <div class="tro_management_group">
                 {{ form_row(form.tro_inspectionTechnique) }}
                 {{ form_row(form.tro_inspectionDate) }}
                 {{ form_row(form.tro_inspectionFrequency) }}
                 {{ form_row(form.tro_inspectionResults) }}
                 {{ form_row(form.tro_bufferDays) }}
             </div>
             {{ form_row(form.tro_status) }}
             {{ form_row(form.tro_spa) }}
         </div>
     </div>

     <div class="panel panel-default FM">
         <div class="panel-heading">Fabric Maintenance Management Strategy:</div>
         <div class="panel-body">
             {{ form_row(form.fm_expiryDate) }}
             {{ form_row(form.fm_recommendations) }}
             {{ form_row(form.fm_description) }}
             {{ form_row(form.fm_immediateRepair) }}
             {{ form_row(form.fm_longIsolation) }}
             {{ form_row(form.fm_inService) }}
             {{ form_row(form.fm_completionDate) }}
             {{ form_row(form.fm_status) }}
             {{ form_row(form.fm_spa) }}
         </div>
     </div>

     <div class="panel panel-default AS">
         <div class="panel-heading">Assessment Management Strategy:</div>
         <div class="panel-body">
             {{ form_row(form.as_expiryDate) }}
             {{ form_row(form.as_recommendations) }}
             {{ form_row(form.as_assessmentDueDate) }}
             {{ form_row(form.as_assessmentType) }}
             {{ form_row(form.as_assessmentCode) }}
             {{ form_row(form.as_assessmentResult) }}
             {{ form_row(form.as_assessmentBufferDays) }}
             {{ form_row(form.as_status) }}
             {{ form_row(form.as_spa) }}
         </div>
     </div>

    <div class="panel panel-default">
        <div class="panel-heading">Attachments:</div>
        <div class="panel-body">
            <div class="alert alert-info">
                Please attach all the relevant P&IDs, Isometrics, Reports, etc below.
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <ul class="files list-unstyled"
                        data-prototype="{{ form_widget(form.files_group.files.vars.prototype)|e }}">
                        {% for files_form in form.files_group.files %}
                            <li>{{ form_widget(files_form) }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {{ form_row(form.files_group.add_files) }}
            {{ form_row(form.files_group) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'AIEAnomalyBundle:AnomalyRegistrar:tracking_criteria_js.html.twig' %}
    {% include 'AIEAnomalyBundle:AnomalyRegistrar:files_js.html.twig' %}
    <script>
        $(document).ready(function(){
            var ID = $('div.installation-date-field input').first();
            var ID_form = $('.tro_management_group');
            function update_installation_form(){
                if(ID.val().length === 0){
                    ID_form.hide();
                }else{
                    ID_form.show();
                }
            }
            ID.change(update_installation_form);
            update_installation_form();
        });
    </script>
{% endblock %}
