{% block content -%}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% embed 'AIEAnomalyBundle:AnomalyRegistrar:form.html.twig' with {'show_attachments': false} %}
        {% block attachments %}{% endblock %}
    {% endembed %}

    {{ form_row(form.status) }}
    {{ form_row(form.spa) }}

    {{ form_rest(form) }}
    {% if class(project) == 'RiskProject' %}
        <input type="hidden" value="{{ project.riskMatrix.matrix }}" id="risk-matrix"/>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/c3/c3.css') }}">
{% endblock %}
{% block javascripts -%}
    <script src="{{ asset('assets/js/c3/d3.min.js') }}"></script>
    <script src="{{ asset('assets/js/c3/c3.min.js') }}"></script>
    <script>
        var chart = c3.generate({
            bindto: '#c3-chart',
            data: {
                xs: {
                    'points': 'x',
                    {% for id, line in plot.lines %}
                    '{{ id }}': 'l{{ loop.index }}_x',
                    {% endfor %}
                },
                columns: [
                    ['x', {% for p in plot.plot_data %}'{{ p[0]|date('Y-m-d') }}', {% endfor %}],
                    ['points', {% for p in plot.plot_data %}{{ p[1] }}, {% endfor %}],
                    {% for line in plot.lines %}
                    {# print the x#}
                    ['l{{ loop.index }}_x', {% for l in line %}'{{ l[0]|date('Y-m-d') }}', {% endfor %}],
                    {% endfor %}
                    {% for id, line in plot.lines %}
                    {# print the y#}
                    ['{{ id }}', {% for l in line %}{{ l[1] }}, {% endfor %}],
                    {% endfor %}
                ],
                type: 'line',
                types: {
                    points: 'scatter'
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '%d-%m-%Y'
                    },
                    label: {
                        text: 'Year',
                        position: 'outer-center'
                    }
                },
                y: {
                    max: {{ plot.nwt + 0.5}}
                }
            },
            point: {
                show: false
            },
//            tooltip: {
//                format: {
//                    title: function (d) {
//                        return 'Data ' + d;
//                    },
//                    value: function (value, ratio, id) {
//                        var format = id === 'data1' ? d3.format(',') : d3.format('$');
//                        return format(value);
//                    }
////            value: d3.format(',') // apply this format to both y and y2
//                }
//            },
            grid: {
                y: {
                    lines: [
                        {value: {{ plot.nwt }}, text: 'NWT ({{ plot.nwt }})', class: 'grid-line nwt-line'},
                        {value: {{ plot.conc }}, text: 'CONC ({{ plot.conc }})', class: 'grid-line conc-line'},
                        {value: {{ plot.mawt }}, text: 'MAWT ({{ plot.mawt }})', class: 'grid-line mawt-line'}
                    ]
                }
            }
        });

    </script>
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script>
        $('#c3-chart').css('margin-left', '-45px');
        //$('.c3-legend-item').css('font-size', '11px');
    </script>

{% endblock %}