{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        html, body { overflow-x: hidden; }
    </style>
{% endblock %}
{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% embed 'AIEAnomalyBundle:AnomalyRegistrar:form.html.twig' with {'show_attachments': true} %}
        {% block attachments %}
            <div class="form-group" style="padding: 0">
                {% if entity.files|length %}
                    <div style="padding: 10px 20px 0px 20px;">
                        <table class="table table-bordered table-responsive table-hover table-condensed">
                            <thead>
                            <tr>
                                <th class="text-center">Name</th>
                                <th class="text-center">Caption</th>
                                <th class="text-center">Category</th>
                                <th class="text-center">Company</th>
                                <th class="text-center">Document Number</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for file in entity.files %}
                                <tr>
                                    <td class="text-center">{{ file.filename }}</td>
                                    <td class="text-center">{{ file.caption }}</td>
                                    <td class="text-center">{{ file.category != null ? file.category.name : "-" }}</td>
                                    <td class="text-center">{{ file.company }}</td>
                                    <td class="text-center">{{ file.documentnumber }}</td>
                                    <td class="text-center"><a target="_blank" href="{{ absolute_path(file) }}"><span class="glyphicon glyphicon-cloud-download"></span><span> Download </span></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <div style="padding: 10px 20px 0px 20px;">
                        <div class="alert alert-info">
                            This anomaly has no attachments
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    {% endembed %}

    {{ form_row(form.status) }}
    {{ form_row(form.spa) }}

    {{ form_rest(form) }}
    {% if class(project) == 'RiskProject' %}
        <input type="hidden" value="{{ project.riskMatrix.matrix }}" id="risk-matrix"/>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'AIEAnomalyBundle:AnomalyRegistrar:tracking_criteria_js.html.twig' %}
    {% include 'AIEAnomalyBundle:AnomalyRegistrar:files_js.html.twig' %}
    {% include 'AIEAnomalyBundle:Registrar:new_js.html.twig' %}
{% endblock %}