<script>
    $(document).ready(function () {
        dynamic_form($("button[id*='add_tracking_criteria']"), $('ul.tracking_criteria'));
    });
    $(".tracking_criteria").on("click",".clearTCFields", function(){
        $("#" + $(this).attr("forItem")).remove();
    });


    $(".files").on("click",".clearAFiles", function(){
        $("#" + $(this).attr("forItem")).remove();
    });

    $("button[id*='add_tracking_criteria']").on("click",function(){
        var checkForInputTimer;
        var checkForInput = function () {
            if ($(".tracking_criteria").length > 0) {
                var IlId;
                IlId=$('.tracking_criteria > li:last-child > div').attr("id");
                $("#" + IlId + "_tracking_conc_group").append("<input type='button' forItem='" + IlId + "' class='btn btn-danger float-left clearTCFields' value='Cancel Tracking Criteria' />");
                clearInterval(checkForInputTimer);
            }
        };
        checkForInputTimer = window.setInterval(checkForInput, 200);
    });


    $("button[id*='add_files']").on("click",function(){
        var checkForInputTimer;
        var checkForInput = function () {
            if ($(".files li").length > 0) {
                var IlId= $(".files li:last-child > div").attr("id");
                $('.files li:last-child').attr("id", 'li_' + IlId);
                $("#li_" + IlId).append("<div style='margin-bottom:30px;'><input type='button' forItem='" + "li_" + IlId + "' class='btn btn-danger right clearAFiles' value='Cancel' /></div><br><hr/>");
                clearInterval(checkForInputTimer);
            }
        };
        checkForInputTimer = window.setInterval(checkForInput, 200);
    });
    $("input[id*='defect_orientation_group_defectOrientationHours']").on("change",function() {
        if ($(this).val() < 0){
            $(this).val(0);
        }
        if ($(this).val() > 11){
            $(this).val(11);
        }
    });

    $("input[id*='defect_orientation_group_defectOrientationMinutes']").on("change",function() {
        if ($(this).val() < 0){
            $(this).val(0);
        }
        if ($(this).val() > 59){
            $(this).val(59);
        }
    });

</script>