{% extends '::base.html.twig' %}

{% block body -%}
    <h1>RiskMatrix list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Desc1</th>
                <th>Desc2</th>
                <th>Desc3</th>
                <th>Desc4</th>
                <th>Desc5</th>
                <th>Matrix</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('riskmatrix_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.desc1 }}</td>
                <td>{{ entity.desc2 }}</td>
                <td>{{ entity.desc3 }}</td>
                <td>{{ entity.desc4 }}</td>
                <td>{{ entity.desc5 }}</td>
                <td>{{ entity.matrix }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('riskmatrix_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('riskmatrix_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('riskmatrix_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
