{% set wizard_layout = 'AIEIntegrityAssessmentBundle:Default:wizard.html.twig' %}
{% set grantedEdit = is_granted('ROLE_PROJECT_RISKMATRIX_EDIT', project) %}
{% set nextLink = path('projectmitigationtechniques', {'projectId':projectId}) %}
{% extends 'AIEVeracityBundle:RiskMatrix:new.html.twig' %}
