{% extends '::base.html.twig' %}

{% block body -%}
    <h1>RiskMatrix</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Desc1</th>
                <td>{{ entity.desc1 }}</td>
            </tr>
            <tr>
                <th>Desc2</th>
                <td>{{ entity.desc2 }}</td>
            </tr>
            <tr>
                <th>Desc3</th>
                <td>{{ entity.desc3 }}</td>
            </tr>
            <tr>
                <th>Desc4</th>
                <td>{{ entity.desc4 }}</td>
            </tr>
            <tr>
                <th>Desc5</th>
                <td>{{ entity.desc5 }}</td>
            </tr>
            <tr>
                <th>Matrix</th>
                <td>{{ entity.matrix }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('riskmatrix') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('riskmatrix_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
