{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block content %}
<div class="panel panel-default">
    <div class="panel-heading"> <h1>Defer</h1></div>
    <div class="panel-body">
	   {{ form(edit_form) }}
   </div>
</div>
{% endblock %}
