{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/editable/bootstrap-editable.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables/media/css/jquery.dataTables.min.css') }}">
    <style type="text/css" media="all">
        .inline-edit {
            cursor: pointer;
            border-bottom: none;
            width: 100px;
        }
        .table td.fit,
        .table th.fit {
            white-space: nowrap;
            width: 1%;
        }
        .elementClass {
            display: none; /*hides element until needed*/
        }
        .floatingHeader {
            position: fixed;
            top: 60px;
            visibility: hidden;
        }
        .container {
            width: 100%;
            padding: 0;
        }
        .btn-export-excel {
        @extend .btn-success;
            background-color: #699e2d;
            color: #000000;
        }
    </style>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src = "{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-popover.js') }}"></script>

    <script src="{{ asset('assets/js/StickyTableHeaders/jquery.stickytableheaders.min.js') }}"></script>
    <script src="{{ asset('assets/js/fancytree/jquery.fancytree-all.js') }}" type="text/javascript"></script>
    {% if showMitStatTrendDatasheetsEdHiEdit %}
        <script src="{{ asset('assets/js/editable/bootstrap-editable.js') }}"></script>
    {% endif %}

    <script type="text/javascript">

        var projectId = {{ projectId }};
        var subprojectId = {{ subprojectId }};
        var corrosionType = "{{ corrosionType }}";
        var activityId = {{ activityId }};
        var controlActivityName = "{{ activityTitle }}";
        var corrosionLocationsLn = "{{ corrosion_datasheet_locations|length }}";

        var filenameTodownlaod = "{{ subproject.name }}" + "-" + "{{ activityTitle }}"+ "-";

        window.onload = function(e){
            adjustLeftmenuWidth();
        }

        function adjustLeftmenuWidth() {

            // if ($(window).width() <= 1900)
            //        {
            //         $('.sidenav').width('300');
            //
            // }
            if ($(window).width() <= 1650)
            {
                //$('.sidenav').width('300');

                $('#wrapper').css(
                    "width" , "1900px"
                );
                $('#content').css(
                    "left" , "35px"
                );

            }
            if ($(window).width() <= 1550)
            {
                //$('.sidenav').width('300');

                $('#wrapper').css(
                    "width" , "1800px"
                );
                $('#content').css(
                    "left" , "0px"
                );

            }

            if ($(window).width() <= 1150)
            {
                //$('.sidenav').width('300');
                $('#wrapper').css(
                    "width" , "2000px"
                );
                $('#content').css(
                    "left" , "170px"
                );

            }

        }

        $(function () {

            $('.sidenav > ul > li > a').click(function () {
                $('.sidenav li').removeClass('active');
                $(this).closest('li').addClass('active');
                var checkElement = $(this).next();
                if ((checkElement.is('ul')) && (checkElement.is(':visible'))) {
                    adjustLeftmenuWidth();
                    $(this).closest('li').removeClass('active');
                    checkElement.slideUp('normal');

                    $(this).find('.arrow').removeClass('rotate');
                }
                if ((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
                    adjustLeftmenuWidth();
                    $('.sidenav ul ul:visible').slideUp('normal');
                    checkElement.slideDown('normal');

                    $(this).find('.arrow').addClass('rotate');

                }
                if ($(this).closest('li').find('ul').children().length == 0) {
                    return true;
                } else {
                    return false;
                }
            });

            //$(".records_list:visible").resizableColumns();
            //$('.records_list:not(.not-sticky)').stickyTableHeaders();

            var projectId = {{  projectId }};
            var subprojectId = {{ subprojectId  }};
            var corrosionType = "{{ corrosionType }}";
            var pageType = "{{ pageType }}";
            var activityId = {{ activityId  }};
            {% if showMitStatTrendDatasheetsEdHiEdit %}
            // setting defaults for the editable
            $.fn.editable.defaults.mode = 'inline';
            $.fn.editable.defaults.showbuttons = true;
            $.fn.editable.defaults.emptytext = '-',
                $.fn.editable.defaults.emptyclass = '',
                $.fn.editable.defaults.url = '/post';
            $.fn.editable.defaults.type = 'text';
            $('.inline-edit').editable();
            {% endif %}

            $("table").stickyTableHeaders();

            $(document).on('click', '.editable-submit', function (e) {

                var x = $(this).closest('.editable-container').prev().attr('id');
                var y = $('.input-sm').val();

                var currentID = $(this).closest('.editable-container').prev().attr('id');
                var resID = currentID.split('_');
                var ur = "/c/"+projectId+"/subprojectcorrosiondatasheet/" +subprojectId+"/" + activityId + "/update";
                var passId = resID[1];
                var key = resID[0];

                $.ajax({
                    url: ur,
                    type: 'POST',
                    data: {   // Data Sending With Request To Server
                        title:y,
                        passid:passId,
                        key:key
                    },
                    success: function(s){
                        obj = JSON.parse(s);
                        if (obj.result == 'ok'){
                            $(this).val(obj.output);
                        }
                        else if (obj.result == 'notok'){
                            alert('Error Processing your Request!!');
                        }
                    },
                    error: function(e){
                        alert('Error Processing your Request!!');
                    }
                });
            });

            $('.exportCorrosionDatasheetHistory').on("click", function (e)
            {

                var systemId = '{{ systemId }}';

                // Remove added elements

                if (corrosionType != "pr")
                {
                    if (systemId)
                    {
                        var url = "/c/" + projectId + "/subprojectcorrosiondatasheet/" + subprojectId + "/" + {{ activityId }} +"/" + '{{ pageType }}' + "/exportexcel" + "?dataRetrieve=" + '{{ dataRetrieve }}' + '&systemId=' +systemId;
                    }
                    else
                        var url = "/c/" + projectId + "/subprojectcorrosiondatasheet/" + subprojectId + "/" + {{ activityId }} +"/" + '{{ pageType }}' + "/exportexcel" + "?dataRetrieve=" + '{{ dataRetrieve }}';
                }
                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function (s) {
                        $('#hiddenTblToExcel').html(s);
                        exportThis();
                    },
                    error: function (e) {
                        notify();
                        return;
                    }
                });

            });

            var exportThis = (function () {
                var uri = 'data:application/vnd.ms-excel;base64,',
                    template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel"  xmlns="http://www.w3.org/TR/REC-html40"><head> <!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets> <x:ExcelWorksheet><x:Name>{worksheet}</x:Name> <x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions> </x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook> </xml><![endif]--></head><body> <table>{table}</table></body></html>',
                    base64 = function (s) {
                        return window.btoa(unescape(encodeURIComponent(s)))
                    },
                    format = function (s, c) {
                        return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; })
                    }
                return function () {
                    var ctx = { worksheet: 'AIE - Veracity Datasheet' || 'Worksheet', table: document.getElementById("hiddenTblToExcel").innerHTML }
                    var ctx = { worksheet: 'AIE - Veracity Datasheet' || 'Worksheet', table: document.getElementById("hiddenTblToExcel").innerHTML }
                    document.getElementById("dlink").href = uri + base64(format(template, ctx));
                    document.getElementById("dlink").download = 'AIE-VeracityCCM'+filenameTodownlaod;
                    document.getElementById("dlink").click();

                }
            })()

            $('.exportCorrosionDatasheetHistoryAverage').on("click", function (e)
            {
                var systemId = '{{ systemId }}';

                if (systemId)
                // Remove added elements
                    var url = "/c/" + projectId + "/subprojectcorrosiondatasheet/" + subprojectId + "/" + {{ activityId }} + "/" + '{{ pageType }}' + "/exportexcel" + "?dataRetrieve=" + '{{ dataRetrieve }}' + '&systemId='+systemId;
                else
                    var url = "/c/" + projectId + "/subprojectcorrosiondatasheet/" + subprojectId + "/" + {{ activityId }} + "/" + '{{ pageType }}' + "/exportexcel" + "?dataRetrieve=" + '{{ dataRetrieve }}';

                $.ajax({
                    url: url,
                    type: 'POST',
                    success: function (s) {
                        $('#hiddenTblToExcel').html(s);
                        exportThis();
                    },
                    error: function (e) {
                        notify();
                        return;
                    }
                });

            });

        });

    </script>

{% endblock %}

{% block content %}
    {% set templocationid = 0 %}
    {% set counter = 1 %}
    <div class="container">
        <a id="dlink"  style="display:none;"></a>
        <div class="header">
            <div class="col-md-11" style="padding: 0">
                <h1>Edit Data/History : {{ activityTitle }}</h1>
            </div>
            <div class="col-md-1 pull-right" style="padding: 10px;">
                {% if corrosionType == "ca-cd-ch" %}
                    {% if showMitStatTrendDatasheetsEdHiExcel %}
                        <a id="{{ activityId }}_average" class="btn btn-export-excel exportCorrosionDatasheetHistoryAverage" href="#" role="button">Export to excel</a>&nbsp;&nbsp;
                    {% else %}
                        <a id="{{ activityId }}_average" class="btn btn-export-excel" href="#" role="button">Export to excel</a>&nbsp;&nbsp;
                    {% endif %}
                {% else %}
                    {% if showMitStatTrendDatasheetsEdHiExcel %}
                        <a id="{{ activityId }}_export" class="btn btn-export-excel exportCorrosionDatasheetHistory" href="#" role="button">Export to excel</a>
                    {% else %}
                        <a id="{{ activityId }}_export" class="btn btn-default" href="#" role="button">Export to excel</a>
                    {% endif %}
                {% endif %}
            </div>
            <table style="display: none;" id="hiddenTblToExcel"></table>

        </div>
        <div class="main-content">

            {% if corrosionType == "g" %}
                {% set colval = 9 %}
            {% elseif corrosionType == "p" %}
                {% set colval = 8 %}
            {% elseif corrosionType == "ca" %}
                {% set colval = 5 %}
            {% elseif corrosionType == "ca-cd-oh" %}
                {% set colval = 6 %}
            {% elseif corrosionType == "ca-cd-ch" and pageType == "normal" %}
                {% set colval = 12 %}
            {% elseif corrosionType == "ca-cd-ch" and pageType == "average" %}
                {% set colval = 6 %}
            {% elseif corrosionType == "pr" %}
                {% set colval = 8 %}
            {% elseif corrosionType == "cp" %}
                {% set colval = 5 %}
            {% endif %}

            {% for entity in corrosion_datasheet_locations %}

                {% if entity.actlocationid is defined and entity.actlocationid != templocationid %}

                    <!-- Table opens -->
                    <table class="table table-bordered table-stripped table-fit">
                    <thead class="rollhead">
                    <tr style="background-color: #adadad;">
                        <th colspan="{{ colval }}" style="margin:0; padding: 0; padding-left: 10px;"><h3>{% if entity.platformorplant is defined %} {{ entity.platformorplant }} : {% endif %}{{ entity.location }}</h3></th>
                    </tr>
                    <tr style="background-color: white; height:5px;">
                        <td colspan="{{ colval }}" style="margin:0; padding: 0; padding-left: 10px;">&nbsp;</td>
                    </tr>
                    <tr style="background-color: #DDDDDD">

                        {% if corrosionType == "g" %}
                            <th id="cpt_{{ entity.location }}" data-sortable="false">Coupon Type</th>
                            <th id="dt_{{ entity.location }}" data-sortable="false">Date Retrieved*</th>
                            <th id="dti_{{ entity.location }}" data-sortable="false">Date Installed</th>
                            <th id="rw_{{ entity.location }}" data-sortable="false">Retrieval Weight g</th>
                            <th id="iw_{{ entity.location }}" data-sortable="false">Installation Weight g</th>
                            <th id="gc_{{ entity.location }}" data-sortable="false">General Corrosion Rate mmpy</th>
                            <th id="avgmmpy_{{ entity.location }}" data-sortable="false">Average Corrosion Rate mmpy*</th>
                            <th id="avgmpy_{{ entity.location }}" data-sortable="false">Average Corrosion Rate mpy</th>
                        {% elseif corrosionType == "p" %}
                            <th id="cpt_{{ entity.location }}" data-sortable="false">Coupon Type</th>
                            <th id="dt_{{ entity.location }}" data-sortable="false">Date Retrieved*</th>
                            <th id="dti_{{ entity.location }}" data-sortable="false">Date Installed</th>
                            <th id="depth_{{ entity.location }}" data-sortable="false">Depth of Deepest Pit mm</th>
                            <th id="gc_{{ entity.location }}" data-sortable="false">Pitting Corrosion Rate mmpy</th>
                            <th id="avgmmpy_{{ entity.location }}" data-sortable="false">Average Corrosion Rate mmpy*</th>
                            <th id="avgmpy_{{ entity.location }}" data-sortable="false">Average Corrosion Rate mpy</th>
                        {% elseif corrosionType == "ca" %}
                            <th id="dt_{{ entity.location }}" data-sortable="false">Date*</th>
                            {%  if ',' in activityTitle %}
                                {%  set activityTit =  activityTitle|split(",") %}
                                <th id="ct_" data-sortable="false">{{ activityTit[0]|ucwords }}, {{ activityTit[1] }}*</th>
                            {% else %}
                                <th id="ct_" data-sortable="false">{{ activityTitle|ucwords }}*</th>
                            {% endif %}
                        {% elseif corrosionType == "cp" %}
                            <th id="dt_{{ entity.location }}" data-sortable="false">Date Retrieved*</th>
                            <th id="on_{{ entity.location }}" data-sortable="false">'ON' Potential mV</th>
                            <th id="off_{{ entity.location }}" data-sortable="false">'OFF' Potential mV</th>
                        {% elseif corrosionType == "ca-cd-oh" %}
                            <th id="dt_{{ entity.location }}" data-sortable="false">Date*</th>
                            <th id="tr_{{ entity.location }}" data-sortable="false">Target</th>
                            <th id="act_{{ entity.location }}" data-sortable="false">Actual</th>
                            <th id="ach_{{ entity.location }}" data-sortable="false">Achievement/Availability %*</th>
                        {% elseif corrosionType == "ca-cd-ch" %}
                            {% if pageType == "average" %}
                                <th id="fd_" data-sortable="false">From Date</th>
                                <th id="td_" data-sortable="false">To Date*</th>
                                <th id="cipa_" data-sortable="false">Chemical Availability %*</th>
                                <th id="viavrp_" data-sortable="false">Volume Injected Against Volume Required %</th>
                                <th id="ptctrp_" data-sortable="false">Percentage Time Chemical Target reached %</th>
                            {% else %}
                                <th id="dtr_{{ entity.location }}" data-sortable="false">Date*</th>
                                <th id="gp_{{ entity.location }}" data-sortable="false">Gas Production mmscf/day</th>
                                <th id="gp_{{ entity.location }}" data-sortable="false">Total Liquids Production bbl/day</th>
                                <th id="gp_{{ entity.location }}" data-sortable="false">Recommended Gas Based Dosage L/mmscf</th>
                                <th id="tcd_{{ entity.location }}" data-sortable="false">Target Chemical Dosage L/day*</th>
                                <th id="tcdp_{{ entity.location }}" data-sortable="false">Target Chemical Concentration ppm*</th>
                                <th id="acd_{{ entity.location }}" data-sortable="false">Actual Chemical Dosage L/day</th>
                                <th id="acdp_{{ entity.location }}" data-sortable="false">Actual Chemical Concentration ppm*</th>
                                <th id="cia_{{ entity.location }}" data-sortable="false">Chemical Availability %</th>
                                <th id="vi_{{ entity.location }}" data-sortable="false">Volume Injected Against Volume Required %</th>
                                <th id="ptci_{{ entity.location }}" data-sortable="false">Percentage Time Chemical Target Reached %</th>
                            {% endif %}
                        {% endif %}
                        <th>Action</th>
                    </tr>
                    </thead>
                {% endif %}

                <tr>
                    {% if corrosionType == "g" %}
                        {% if counter == 1 %}
                            <td><span id="coupontype_{{ entity.id }}">{{ entity.coupontype }}</span></td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        {% if pageType != "average" %} <td><span id="dateretrieval_{{ entity.id }}" class="inline-edit">{{ entity.dateretrieval }}</span></td>{% endif %}
                        <td><span id="dateinstalled_{{ entity.id }}" class="inline-edit">{%  if entity.dateinstalled != '30 Nov -0001' %} {{ entity.dateinstalled }} {% endif %}</span></td>
                        <td><span id="retrievalweight_{{ entity.id }}" class="inline-edit">{{ entity.retrievalweight }}</span></td>
                        <td><span id="installationweight_{{ entity.id }}" class="inline-edit">{{ entity.installationweight }}</span></td>
                        <td><span id="generalcorrosionratemmpy_{{ entity.id }}" class="inline-edit">{{ entity.generalcorrosionratemmpy }}</span></td>
                        {% if counter ==1 %}
                            <td><span id="averagecorrosionratemmpy_{{ entity.id }}" class="inline-edit">{{ entity.averagecorrosionratemmpy }}</span></td>
                            <td><span id="averagecorrosionratempy_{{ entity.id }}" class="inline-edit">{{ entity.averagecorrosionratempy }}</span></td>
                        {% else %}
                            <td>-</td>
                            <td>-</td>
                        {% endif %}
                    {% elseif corrosionType == "p" %}
                        {% if counter == 1 %}
                            <td><span id="coupontype_{{ entity.id }}">{{ entity.coupontype }}</span></td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        {% if pageType != "average" %} <td><span id="dateretrieval_{{ entity.id }}" class="inline-edit">{{ entity.dateretrieval }}</span></td>{% endif %}
                        <td><span id="dateinstalled_{{ entity.id }}" class="inline-edit">{%  if entity.dateinstalled != '30 Nov -0001' %} {{ entity.dateinstalled }} {% endif %}</span></td>
                        <td><span id="depthpit_{{ entity.id }}" class="inline-edit">{{ entity.depthpit }}</span></td>
                        <td><span id="pittingratemmpy_{{ entity.id }}" class="inline-edit">{{ entity.pittingratemmpy }}</span></td>
                        {% if counter == 1 %}
                            <td><span id="averagepittingratemmpy_{{ entity.id }}" class="inline-edit">{{ entity.averagepittingratemmpy }}</span></td>
                            <td><span id="averagepittingratempy_{{ entity.id }}" class="inline-edit">{{ entity.averagepittingratempy }}</span></td>
                        {% else %}
                            <td>-</td>
                            <td>-</td>
                        {% endif %}
                    {% elseif corrosionType == "ca" %}
                        {% if pageType != "average" %} <td><span id="dateretrieval_{{ entity.id }}" class="inline-edit">{{ entity.dateretrieval }}</span></td>{% endif %}
                        <td><span id="controlactivityvalue_{{ entity.id }}" class="inline-edit">{{ entity.controlactivityvalue }}</span></td>
                    {% elseif corrosionType == "cp" %}
                        {% if pageType != "average" %} <td><span id="dateretrieval_{{ entity.id }}" class="inline-edit">{{ entity.dateretrieval }}</span></td>{% endif %}
                        <td><span id="onpotential_{{ entity.id }}" class="inline-edit">{{ entity.onpotential }}</span></td>
                        <td><span id="offpotential_{{ entity.id }}" class="inline-edit">{{ entity.offpotential }}</span></td>
                    {% elseif corrosionType == "ca-cd-oh" %}
                        {% if pageType != "average" %} <td><span id="dateretrieval_{{ entity.id }}" class="inline-edit">{{ entity.dateretrieval }}</span></td>{% endif %}
                        <td><span id="controlactivityvalue_{{ entity.id }}" class="inline-edit">{{ entity.control_activity_value }}</span></td>
                        <td><span id="controlactivityactualvalue_{{ entity.id }}" class="inline-edit">{{ entity.control_activity_actual_value }}</span></td>
                        <td><span id="controlactivityachievementvalue_{{ entity.id }}" class="inline-edit">{{ entity.control_activity_achievement_value }}</span></td>
                    {% elseif corrosionType == "ca-cd-ch" %}
                        {% if pageType == "average" %}
                            <td><span id="fromdateaverage_{{ entity.id }}" class="inline-edit"> {% if entity.from_date is defined and entity.from_date is not empty and entity.from_date != '30 Nov -0001' %}{{ entity.from_date }} {% else %} - {% endif %}</span></td>
                            <td><span id="todateaverage_{{ entity.id }}" class="inline-edit">{{ entity.to_date }}</span></td>
                            <td><span id="corrosioninhibitorpercentageavailability_{{ entity.id }}" class="inline-edit">{{ entity.corrosion_inhibitor_percentage_availability }}</span></td>
                            <td><span id="volinjectvsvolreqpercentageaverage_{{ entity.id }}" class="inline-edit">{{ entity.vol_inject_vs_vol_req_percentage }}</span></td>
                            <td><span id="pertimecitargetreachpercentage_{{ entity.id }}" class="inline-edit">{{ entity.per_time_ci_target_reach_percentage }}</span></td>
                        {% else %}
                            {% if pageType != "average" %} <td><span id="dateretrieval_{{ entity.id }}" class="inline-edit">{{ entity.dateretrieval }}</span></td>{% endif %}
                            <td><span id="gasproductionmmscfperday_{{ entity.id }}" class="inline-edit">{{ entity.gas_production_mmscf_per_day }}</span></td>
                            <td><span id="totalproductionbblperday_{{ entity.id }}" class="inline-edit">{{ entity.total_production_bbl_per_day }}</span></td>
                            <td><span id="recommendedgasdosagelitrepermmscf_{{ entity.id }}" class="inline-edit">{{ entity.recommended_gas_dosage_litre_per_mmscf }}</span></td>
                            <td><span id="targetcidosagelitreperday_{{ entity.id }}" class="inline-edit">{{ entity.target_ci_dosage_litre_per_day }}</span></td>
                            <td><span id="targetciconcentrationppm_{{ entity.id }}" class="inline-edit">{{ entity.target_ci_concentration_ppm }}</span></td>
                            <td><span id="actualcidosagelitreperday_{{ entity.id }}" class="inline-edit">{{ entity.actual_ci_dosage_litre_per_day }}</span></td>
                            <td><span id="actualciconcentrationppm_{{ entity.id }}" class="inline-edit">{{ entity.actual_ci_concentration_ppm }}</span></td>
                            <td><span id="cipercentageavailability_{{ entity.id }}" class="inline-edit">{{ entity.ci_percentage_availability }}</span></td>
                            <td><span id="volinjectvsvolreqpercentage_{{ entity.id }}" class="inline-edit">{{ entity.vol_inject_vs_vol_req_percentage }}</span></td>
                            <td><span id="pertimecitargetreachpercentage_{{ entity.id }}" class="inline-edit">{{ entity.per_time_ci_target_reach_percentage }}</span></td>
                        {% endif %}

                    {% endif %}
                    <td>
                        {% if showMitStatTrendDatasheetsEdHiDelete %}
                            <a class ="deleteLink" id ="delete_{{ entity.id }}" href= "{{ path('cms_subproject_corrosion_datasheet_delete', { 'id': activityId, 'projectId': projectId, 'subprojectId' : subprojectId, 'sid':entity.id,'dataRetrieve': dataRetrieve,'type': pageType, 'systemId': systemId }) }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>

                {% if entity.actlocationid is defined %}
                    {% set templocationid = entity.actlocationid %}
                    {% if templocationid == entity.actlocationid and loop.index % 2 == 0 %}
                        {% set counter = counter + 1 %}
                    {% else %}
                        {% set counter = 0 %}
                    {% endif %}

                    <!-- Table closes -->

                    {% if entity.actlocationid is defined and entity.actlocationid != templocationid %}
                        </table>
                    {% endif %}

                {% endif %}

            {% endfor %}
            <table class="container">
                <tr>
                    <td align="right" colspan="{{ colval }}">
                        <input type="button" value="Back" class="btn bth-default" onclick="javascript:window.location='{{ path('cms_subproject_corrosion_datasheet', { 'id': activityId, 'projectId': projectId, 'subprojectId': subprojectId, 'systemId': systemId }) }}';">&nbsp;
                        <input type="submit" value="Save" class="btn btn-primary" onclick="javascript:window.location='{{ path('cms_subproject_corrosion_datasheet_edit', { 'id': activityId, 'projectId': projectId, 'subprojectId': subprojectId, 'dataRetrieve': dataRetrieve,'types': pageType, 'message': 'success', 'systemId': systemId }) }}';">&nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <input type="hidden" id="systemId" name="systemId" value="{{ systemId }}">
{% endblock %}

