{% block content %}
    {% set templocationid = 0 %}

    {% set counterthree = 3 %}
    {% set colval = 0 %}
    {% if corrosionType == "g" %}
        {% set colval = 8 + counterthree %}
    {% elseif corrosionType == "p" %}
        {% set colval = 7 + counterthree %}
    {% elseif corrosionType == "ca" %}
        {% set colval = 2 + counterthree %}
    {% elseif corrosionType == "ca-cd-oh" %}
        {% set colval = 4 + counterthree %}
    {% elseif corrosionType == "ca-cd-ch" and pageType == "normal" %}
        {% set colval = 11 + counterthree %}
    {% elseif corrosionType == "ca-cd-ch" and pageType == "average" %}
        {% set colval = 5 + counterthree %}
    {% elseif corrosionType == "pr" %}
        {% set colval = 5 + counterthree %}
    {% elseif corrosionType == "cp" %}
        {% set colval = 3 + counterthree %}
    {% elseif corrosionType == "pr" %}
        {% set colval = 15 %}
    {% endif %}
    <thead>
        <tr>
            <th colspan="{{ colval }}">Veracity CCM - Asset Integrity Engineering LLC</th>
        </tr>
        <tr>
            <th colspan="{{ colval }}">{{ project.name }} - {{ subproject.name }} - {{ activityTitle }}</th>
        </tr>
        <tr>
            {% if corrosionType != "pr" %} <th>Platform/Plant</th>{% endif %}
            <th>Location</th>
            <th>Activity Performed</th>
            {% if corrosionType == "g" %}
                <th>Coupon Type</th>
                <th>Date Retrieved</th>
                <th>Date Installed</th>
                <th>Retrieval Weight g</th>
                <th>Installation Weight g</th>
                <th>General Corrosion Rate mmpy</th>
                <th>Average Corrosion Rate mmpy</th>
                <th>Average Corrosion Rate mpy</th>
            {% elseif corrosionType == "p" %}
                <th>Coupon Type</th>
                <th>Date Retrieved</th>
                <th>Date Installed</th>
                <th>Depth of Deepest Pit mm</th>
                <th>Pitting Corrosion Rate mmpy</th>
                <th>Average Corrosion Rate mmpy</th>
                <th>Average Corrosion Rate mpy</th>
            {% elseif corrosionType == "ca" %}
                <th>Date</th>
                {%  if ',' in activityTitle %}
                    {%  set activityTit =  activityTitle|split(",") %}
                    <th>{{ activityTit[0]|ucwords }}, {{ activityTit[1] }}</th>
                {% else %}
                    <th>{{ activityTitle|ucwords }}</th>
                {% endif %}
            {% elseif corrosionType == "cp" %}
                <th>Date Retrieved</th>
                <th>'ON' Potential mV</th>
                <th>'OFF' Potential mV</th>

            {% elseif corrosionType == "ca-cd-oh" %}
                <th>Date</th>
                <th>Target</th>
                <th>Actual</th>
                <th>Achievement/Availability %</th>
            {% elseif corrosionType == "ca-cd-ch" %}
                {% if pageType == "average" %}
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Chemical Availability %</th>
                    <th>Volume Injected Against Volume Required %</th>
                    <th>Percentage Time Chemical Target reached %</th>
                {% else %}
                    <th>Date</th>
                    <th>Gas Production mmscf/day</th>
                    <th>Total Liquids Production bbl/day</th>
                    <th>Recommended Gas Based Dosage L/mmscf</th>
                    <th>Target Chemical Dosage L/day</th>
                    <th>Target Chemical Concentration ppm</th>
                    <th>Actual Chemical Dosage L/day</th>
                    <th>Actual Chemical Concentration ppm</th>
                    <th>Chemical Availability %</th>
                    <th>Volume Injected Against Volume Required %</th>
                    <th>Percentage Time Chemical Target Reached %</th>
                {% endif %}
            {% elseif corrosionType == "pr" %}
                <th>Activity Performed</th>
                <th>Gas Production mmscf/day</th>
                <th>Oil Production bbl/day</th>
                <th>Condensate Production bbl/day</th>
                <th>Water Production bbl/day</th>
                <th>Total Production bbl/day</th>
                <th>Water Cut %</th>
                <th>GOR scf/STB</th>
                <th>Salinity ppm</th>
                <th>H2S mol%</th>
                <th>CO2 mol%</th>
                <th>USP psig</th>
                <th>DSP psig</th>
                <th>UST ° Celsius</th>
                <th>ESP OPS Frequency Hz</th>
                <th>ESP Intake Pressure psig</th>
                <th>ESP Discharge Pressure psig</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% set templocation = 0 %}
        {% set counter = 0 %}
        {% for entity in corrosion_datasheet_locations %}
            {% if templocation == entity.id %}
                {% set counter = counter + 1 %}
            {% else %}
                {% set counter = 1 %}
            {% endif %}

            {% set amberselected = '' %}
            {% set greenselected = '' %}
            {% set redselected = '' %}

            {% if entity.activityperformed is defined %}
                {% if entity.activityperformed == 'G' %}
                    {% set greenselected = 'selected' %}
                {% elseif entity.activityperformed == 'A' %}
                    {% set amberselected = 'selected' %}
                {% elseif entity.activityperformed == 'R' %}
                    {% set redselected = 'selected' %}
                {% endif %}
            {% endif %}

        <tr>
        {% if corrosionType != "pr" %} <td>{% if entity.platformorplant is defined %} {{ entity.platformorplant }} {% endif %}</td>{% endif %}
            <td>{{ entity.location }}</td>
            <td>
                {% if entity.activityperformed is defined and entity.activityperformed == 'R' %}
                    Incomplete
                {% elseif entity.activityperformed is defined and entity.activityperformed == 'G' %}
                    Completed
                {% elseif entity.activityperformed is defined and entity.activityperformed == 'A' %}
                    Planned but not done
                {% endif %}
            </td>
            {% if corrosionType == "g" and counter >=1 and counter <=2 %}
                {% if counter == 1 %}
                    <td>{{ entity.coupontype }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                {% if pageType != "average" %} <td>{{ entity.dateretrieval }}</td>{% endif %}
                <td>{%  if entity.dateinstalled != '30 Nov -0001' %} {{ entity.dateinstalled }} {% endif %}</td>
                <td>{{ entity.retrievalweight }}</td>
                <td>{{ entity.installationweight }}</td>
                <td>{{ entity.generalcorrosionratemmpy }}</td>
                {% if counter ==1 %}
                    <td>{{ entity.averagecorrosionratemmpy }}</td>
                    <td>{{ entity.averagecorrosionratempy }}</td>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                {% endif %}
            {% elseif corrosionType == "p" and counter >=1 and counter <=2 %}
                {% if counter == 1 %}
                    <td>{{ entity.coupontype }}</td>
                {% else %}
                    <td>-</td>
                {% endif %}
                {% if pageType != "average" %} <td>{{ entity.dateretrieval }}</td>{% endif %}
                <td>{%  if entity.dateinstalled != '30 Nov -0001' %} {{ entity.dateinstalled }} {% endif %}</td>
                <td>{{ entity.depthpit }}</td>
                <td>{{ entity.pittingratemmpy }}</td>
                {% if counter == 1 %}
                    <td>{{ entity.averagepittingratemmpy }}</td>
                    <td>{{ entity.averagepittingratempy }}</td>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                {% endif %}
            {% elseif corrosionType == "ca" %}
                {% if templocation != entity.id %}
                {% if pageType != "average" %} <td>{{ entity.dateretrieval }}</td>{% endif %}
                <td>{{ entity.controlactivityvalue }}</td>
                {% endif %}
            {% elseif corrosionType == "cp" %}
                {% if pageType != "average" %} <td>{{ entity.dateretrieval }}</td>{% endif %}
                <td>{{ entity.onpotential }}</td>
                <td>{{ entity.offpotential }}</td>
            {% elseif corrosionType == "ca-cd-oh" %}
                {% if templocation != entity.id %}
                {% if pageType != "average" %} <td>{{ entity.dateretrieval }}</td>{% endif %}
                <td>{{ entity.control_activity_value }}</td>
                <td>{{ entity.control_activity_actual_value }}</td>
                <td>{{ entity.control_activity_achievement_value }}</td>
                {% endif %}
            {% elseif corrosionType == "pr" %}
                <td>{{ entity.dateretrieval }}</td>
                <td>{{ entity.gasproductionmmscfday }}</td>
                <td>{{ entity.oilproductionbblday }}</td>
                <td>{{ entity.condensateproductionbblday }}</td>
                <td>{{ entity.waterproductionbblday }}</td>
                <td>{{ entity.totalproductionbblday }}</td>
                <td>{{ entity.watercutpercentage }}</td>
                <td>{{ entity.gorscfstb }}</td>
                <td>{{ entity.salinityppm }}</td>
                <td>{{ entity.htwosmolpercentage }}</td>
                <td>{{ entity.cotwomolpercentage }}</td>
                <td>{{ entity.usppsig }}</td>
                <td>{{ entity.dsppsig }}</td>
                <td>{{ entity.ustdegreecelsius }}</td>
                <td>{{ entity.espopsfrequencyhz }}</td>
                <td>{{ entity.espintakepressurepsig }}</td>
                <td>{{ entity.espdischargepressurepsig }}</td>
            {% elseif corrosionType == "ca-cd-ch" %}
                {% if templocation != entity.id %}
                    {% if pageType == "average" %}
                        <td>{% if entity.from_date is defined and entity.from_date is not empty %}{{ entity.from_date }}{% endif %}</td>
                        <td>{% if entity.to_date is defined and entity.to_date is not empty %}{{ entity.to_date }}{% endif %}</td>
                        <td>{% if entity.corrosion_inhibitor_percentage_availability is defined and entity.corrosion_inhibitor_percentage_availability is not empty %}{{ entity.corrosion_inhibitor_percentage_availability }}{% endif %}</td>
                        <td>{% if entity.vol_inject_vs_vol_req_percentage is defined and entity.vol_inject_vs_vol_req_percentage is not empty %}{{ entity.vol_inject_vs_vol_req_percentage }}{% endif %}</td>
                        <td>{% if entity.per_time_ci_target_reach_percentage is defined and entity.per_time_ci_target_reach_percentage is not empty %}{{ entity.per_time_ci_target_reach_percentage }}{% endif %}</td>
                    {% else %}
                        {% if pageType != "average" %} <td>{{ entity.dateretrieval }}</td>{% endif %}
                            <td>{{ entity.gas_production_mmscf_per_day }}</td>
                            <td>{{ entity.total_production_bbl_per_day }}</td>
                            <td>{{ entity.recommended_gas_dosage_litre_per_mmscf }}</td>
                            <td>{{ entity.target_ci_dosage_litre_per_day }}</td>
                            <td>{{ entity.target_ci_concentration_ppm }}</td>
                            <td>{{ entity.actual_ci_dosage_litre_per_day }}</td>
                            <td>{{ entity.actual_ci_concentration_ppm }}</td>
                            <td>{{ entity.ci_percentage_availability }}</td>
                            <td>{{ entity.vol_inject_vs_vol_req_percentage }}</td>
                            <td>{{ entity.per_time_ci_target_reach_percentage }}</td>
                        {% endif %}
                    {% endif %}
                {% endif %}
        </tr>
        {% if entity.id > 0 %}
            {% set templocation = entity.id %}
        {% endif %}
    {% endfor %}
    </tbody>
{% endblock %}

