{% block content %}
    {% set templocationid = 0 %}
    {% set counter = 1 %}
    {% set counterthree = 3 %}
    {% if corrosionType == "g" %}
        {% set colval = 7 + counterthree %}
    {% elseif corrosionType == "p" %}
        {% set colval = 6 + counterthree %}
    {% elseif corrosionType == "ca" %}
        {% set colval = 1 + counterthree %}
    {% elseif corrosionType == "ca-cd-oh" %}
        {% set colval = 3 + counterthree %}
    {% elseif corrosionType == "ca-cd-ch" and pageType == "normal" %}
        {% set colval = 10 + counterthree %}
    {% elseif corrosionType == "ca-cd-ch" and pageType == "average" %}
        {% set colval = 4 + counterthree %}
    {% elseif corrosionType == "pr" %}
        {% set colval = 4 + counterthree %}
    {% elseif corrosionType == "cp" %}
        {% set colval = 2 + counterthree %}
    {% endif %}
        <thead>
        <tr>
            <th colspan="{{ colval }}">Veracity CCM - Asset Integrity Engineering LLC</th>
        </tr>
        <tr>
            <th colspan="{{ colval }}">{{ project.name }} - {{ subproject.name }} - {{ activityTitle }}</th>
        </tr>
        <tr>
            <th>Platform/Plant</th>
            <th>Location</th>
            {#<th>Activity Performed</th>#}
            {% if corrosionType == "g" %}
                <th>Coupon Type</th>
                <th>Date Retrieved</th>
                <th>Date Installed</th>
                <th>Retrieval Weight g</th>
                <th>Installation Weight g</th>
                <th>General Corrosion Rate mmpy</th>
                <th>Average Corrosion Rate mmpy</th>
                <th>Average Corrosion Rate mpy</th>
            {% elseif corrosionType == "p" %}
                <th>Coupon Type</th>
                <th>Date Retrieved</th>
                <th>Date Installed</th>
                <th>Depth of Deepest Pit mm</th>
                <th>Pitting Corrosion Rate mmpy</th>
                <th>Average Corrosion Rate mmpy</th>
                <th>Average Corrosion Rate mpy</th>
            {% elseif corrosionType == "ca" %}
                <th>Date</th>
                {%  if ',' in activityTitle %}
                    {%  set activityTit =  activityTitle|split(",") %}
                    <th>{{ activityTit[0] }}, {{ activityTit[1] }}</th>
                {% else %}
                    <th>{{ activityTitle }}</th>
                {% endif %}
            {% elseif corrosionType == "cp" %}
                <th>Date Retrieved</th>
                <th>'ON' Potential mV</th>
                <th>'OFF' Potential mV</th>
            {% elseif corrosionType == "ca-cd-oh" %}
                <th>Date</th>
                <th>Target</th>
                <th>Actual</th>
                <th>Achievement/Availability %</th>
            {% elseif corrosionType == "ca-cd-ch" %}
                {% if pageType == "average" %}
                    <th>From Date</th>
                    <th>To Date</th>
                    <th>Chemical Availability %</th>
                    <th>Volume Injected Against Volume Required %</th>
                    <th>Percentage Time Chemical Target reached %</th>
                {% else %}
                    <th>Date</th>
                    <th>Gas Production mmscf/day</th>
                    <th>Total Liquids Production bbl/day</th>
                    <th>Recommended Gas Based Dosage L/mmscf</th>
                    <th>Target Chemical Dosage L/day</th>
                    <th>Target Chemical Concentration ppm</th>
                    <th>Actual Chemical Dosage L/day</th>
                    <th>Actual Chemical Concentration ppm</th>
                    <th>Chemical Availability %</th>
                    <th>Volume Injected Against Volume Required %</th>
                    <th>Percentage Time Chemical Target Reached %</th>
                {% endif %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for entity in corrosion_datasheet_locations %}
            <tr>
                <td>{% if entity.platformorplant is defined %} {{ entity.platformorplant }} {% endif %}</td>
                <td>{{ entity.location }}</td>
                {#<td>#}
                    {#{% if entity.activityPerformed is defined and entity.activityPerformed == 'R' %}#}
                        {#Incomplete#}
                    {#{% elseif entity.activityperformed is defined and entity.activityPerformed == 'G' %}#}
                        {#Completed#}
                    {#{% elseif entity.activityPerformed is defined and entity.activityPerformed == 'A' %}#}
                        {#Planned but not done#}
                    {#{% endif %}#}
                {#</td>#}
                {% if corrosionType == "g" %}
                    {% if counter == 1 %}
                        <td>{{ entity.coupontype }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if pageType != "average" %} <td>{{ entity.dateretrieval }}</td>{% endif %}
                    <td>{%  if entity.dateinstalled != '30 Nov -0001' %} {{ entity.dateinstalled }} {% endif %}</td>
                    <td>{{ entity.retrievalweight }}</td>
                    <td>{{ entity.installationweight }}</td>
                    <td>{{ entity.generalcorrosionratemmpy }}</td>
                    {% if counter ==1 %}
                        <td>{{ entity.averagecorrosionratemmpy }}</td>
                        <td>{{ entity.averagecorrosionratempy }}</td>
                    {% else %}
                        <td>-</td>
                        <td>-</td>
                    {% endif %}
                {% elseif corrosionType == "p" %}
                    {% if counter == 1 %}
                        <td>{{ entity.coupontype }}</td>
                    {% else %}
                        <td>-</td>
                    {% endif %}
                    {% if pageType != "average" %} <td>{{ entity.dateretrieval }}</td>{% endif %}
                    <td>{%  if entity.dateinstalled != '30 Nov -0001' %} {{ entity.dateinstalled }} {% endif %}</td>
                    <td>{{ entity.depthpit }}</td>
                    <td>{{ entity.pittingratemmpy }}</td>
                    {% if counter == 1 %}
                        <td>{{ entity.averagepittingratemmpy }}</td>
                        <td>{{ entity.averagepittingratempy }}</td>
                    {% else %}
                        <td>-</td>
                        <td>-</td>
                    {% endif %}
                {% elseif corrosionType == "ca" %}
                    {% if pageType != "average" %} <td>{{ entity.dateretrieval }}</td>{% endif %}
                    <td>{{ entity.controlactivityvalue }}</td>
                {% elseif corrosionType == "cp" %}
                    {% if pageType != "average" %} <td>{{ entity.dateretrieval }}</td>{% endif %}
                    <td>{{ entity.onpotential }}</td>
                    <td>{{ entity.offpotential }}</td>
                {% elseif corrosionType == "ca-cd-oh" %}
                    {% if pageType != "average" %} <td>{{ entity.dateretrieval }}</td>{% endif %}
                    <td>{{ entity.control_activity_value }}</td>
                    <td>{{ entity.control_activity_actual_value }}</td>
                    <td>{{ entity.control_activity_achievement_value }}</td>
                {% elseif corrosionType == "ca-cd-ch" %}
                    {% if pageType == "average" %}
                        <td>{{ entity.from_date }}</td>
                        <td>{{ entity.to_date }}</td>
                        <td>{{ entity.corrosion_inhibitor_percentage_availability }}</td>
                        <td>{{ entity.vol_inject_vs_vol_req_percentage }}</td>
                        <td>{{ entity.per_time_ci_target_reach_percentage }}</td>
                    {% else %}
                    {% if pageType != "average" %} <td>{{ entity.dateretrieval }}</td>{% endif %}
                    <td>{{ entity.gas_production_mmscf_per_day }}</td>
                    <td>{{ entity.total_production_bbl_per_day }}</td>
                    <td>{{ entity.recommended_gas_dosage_litre_per_mmscf }}</td>
                    <td>{{ entity.target_ci_dosage_litre_per_day }}</td>
                    <td>{{ entity.target_ci_concentration_ppm }}</td>
                    <td>{{ entity.actual_ci_dosage_litre_per_day }}</td>
                    <td>{{ entity.actual_ci_concentration_ppm }}</td>
                    <td>{{ entity.ci_percentage_availability }}</td>
                    <td>{{ entity.vol_inject_vs_vol_req_percentage }}</td>
                    <td>{{ entity.per_time_ci_target_reach_percentage }}</td>
                    {% endif %}
                {% endif %}
            </tr>
            {% if entity.actlocationid is defined %}
                {% set templocationid = entity.actlocationid %}
                {% if templocationid == entity.actlocationid and loop.index % 2 == 0 %}
                    {% set counter = counter + 1 %}
                {% else %}
                    {% set counter = 0 %}
                {% endif %}
            {% endif %}
        {% endfor %}
</tbody>
{% endblock %}

