{% extends 'AIECmsBundle:Default:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" />
    <style>
        .outer-div
        {
            position: relative;
            top: 3px;
            bottom: 30px;
            width: 100%;
        }
        .container-element {
            margin: 0 auto;
            height:50%;
            width:65%;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Trends : {{ activityTitle }}</h1>
    <form method="post" id="frmCorrosionActivity" name="frmCorrosionActivity" action="{{ path('cms_subproject_chemicaldosagedatabase_corrosionsave',{'id': activityId, 'ids': ids, 'projectId': projectId, 'subprojectId': subprojectId, 'systemId': systemId, 'savetype': 'two', token: csrf_token('intention')}) }}">
    {% for items, type in corrosionDatasheetLocations %}
        <h3>{% if type.platformorplant is defined and type.location is defined %}{{ type.platformorplant }}:{{ type.location }}{% endif %}</h3>
        {% if items is defined and items is not empty %}
            <div class="outer-div"><div class="container-element" id="container{{ items }}" style="height: 400px; min-width: 310px"></div></div><br/><br/>
            {% if pageType == "normal" %}
                <div class="container-element" id="containerone{{ items }}" style="height: 400px; min-width: 310px"></div><br/><br/>
                <div class="container-element" id="containertwo{{ items }}" style="height: 400px; min-width: 310px"></div><br/><br/>
                <input type="hidden" id="types" name="types" value="normal" />
                <input type="hidden" id="from_date_normal_injection_{{ items }}" name="from_date_normal_injection_{{ items }}" />
                <input type="hidden" id="to_date_normal_injection_{{ items }}" name="to_date_normal_injection_{{ items }}" />
                <input type="hidden" id="from_date_normal_concentration_{{ items }}" name="from_date_normal_concentration_{{ items }}" />
                <input type="hidden" id="to_date_normal_concentration_{{ items }}" name="to_date_normal_concentration_{{ items }}" />
                <input type="hidden" id="from_date_normal_availability_{{ items }}" name="from_date_normal_availability_{{ items }}" />
                <input type="hidden" id="to_date_normal_availability_{{ items }}" name="to_date_normal_availability_{{ items }}" />
            {% elseif pageType == "average" %}
                <input type="hidden" id="from_date_average_{{ items }}" name="from_date_average_{{ items }}" />
                <input type="hidden" id="to_date_average_{{ items }}" name="to_date_average_{{ items }}" />
                <input type="hidden" id="types" name="types" value="average" />
            {% endif %}
            <table class="table dl-horizontal">
                <tr>
                    <td class="col-md-1" align="left"><h4>Analysis</h4></td><td class="col-md-11"><textarea id="analysis_{{ items }}" name="analysis_{{ items }}" style="width: 100%; height:50px;">{% if type.analysis is defined and type.analysis is not empty %}{{ type.analysis }}{% endif %}</textarea></td>
                </tr>
                <tr>
                    <td class="col-md-1" align="left"><h4>Recommendation</h4></td><td class="col-md-11"><textarea id="recommendation_{{ items }}" name="recommendation_{{ items }}" style="width: 100%; height:50px;">{% if type.recommendations is defined and type.recommendations is not empty %}{{ type.recommendations }}{% endif %}</textarea></td>
                </tr>
            </table>
           {% if items|length > 1%} <hr> {% endif %}
        {% endif %}
    {% endfor %}

    <div class="col-xs-12 col-md-12 col-lg-12">
        <table class="table dl-horizontal">
            <tr>
                <td align="right" colspan="2">
                    <input type="button" id="" name="" onclick="javascript:window.location='{{ path('cms_subproject_corrosion_datasheet', { 'id': activityId, 'projectId': projectId, 'subprojectId': subprojectId, 'systemId': systemId }) }}';" value="Back" class="btn">
                    {% if showMitStatTrendDatasheetsGrDetEdit %}
                    <input type="submit" value="Save" class="btn btn-primary">
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
    </form>
    <input type="hidden" id="systemId" name="systemId" value="{{ systemId }}">
    {%  set mandc = 0 %}
    {%  set mand = 0 %}
    {%  set mandf = 0 %}
    {%  set mandk = 0 %}

    {% if corrosionDetails.ba_ismanagement == 1 and corrosionDetails.ba_iscontrol == 1 %}
        {%  set mandc = mandc +1 %}
    {% endif %}

    {% if corrosionDetails.ba_ismanagement == 1 and corrosionDetails.ba_iscontrol == 0 %}
        {%  set mand = mand +1 %}
    {% endif %}

    {% if corrosionDetails.ba_ismanagement == 0 and corrosionDetails.ba_iscontrol == 1 %}
        {%  set mandf = mandf +1 %}
    {% endif %}

    {% if corrosionDetails.ba_ismanagement == 0 and corrosionDetails.ba_iscontrol == 0 and corrosionDetails.ba_isnonmonitoringkpi == 1 %}
        {%  set mandk = mandk +1 %}
    {% endif %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
<script src="{{ asset('assets/js/grid220/pqgrid.min.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/broken-axis.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>
<script src="{{ asset('assets/js/editable/jquery.inline-edit.js') }}"></script>
<script type="text/javascript">
    $(function() {
            var projectId = {{ projectId }};
            var subprojectId = {{ subprojectId }};
            var corrosionType = "{{ corrosionType }}";
            var activityId = {{ activityId }};
            var pageType = "{{ pageType }}";
            var greenVolThreshold = "";
            var redVolThreshold = "";
            var greenTimeThreshold = "";
            var redTimeThreshold = "";
            var greenThreshold = "";
            var redThreshold = "";
            {% if chemicalActivities is defined and chemicalActivities is not empty %}

                {% for items in chemicalActivities %}
                    {% if items['bmc_corrosioninhibitortype'] is defined and items['bmc_corrosioninhibitortype'] is not empty and items['bmc_corrosioninhibitortype'] == 2 %}
                        {% if items is defined and items['bsd_controlgreenrange'] is not empty  %}
                            var greenVolThreshold = "{{  items['bsd_controlgreenrange'] }}";
                        {% elseif items is defined and items['bsd_controlgreen'] is not empty  %}
                            var greenVolThreshold = "{{  items['bsd_controlgreen'] }}";
                        {% endif %}
                        {% if items is defined and items['bsd_controlredrange'] is not empty  %}
                            var redVolThreshold = "{{  items['bsd_controlredrange'] }}";
                        {% elseif items is defined and items['bsd_controlred'] is not empty  %}
                            var redVolThreshold = "{{  items['bsd_controlred'] }}";
                        {% endif %}
                    {% elseif items['bmc_corrosioninhibitortype'] is defined and items['bmc_corrosioninhibitortype'] is not empty and items['bmc_corrosioninhibitortype'] == 3 %}
                        {% if items is defined and items['bsd_controlgreenrange'] is not empty  %}
                            var greenTimeThreshold = "{{  items['bsd_controlgreenrange'] }}";
                        {% elseif items is defined and items['bsd_controlgreen'] is not empty  %}
                            var greenTimeThreshold = "{{  items['bsd_controlgreen'] }}";
                        {% endif %}
                        {% if items is defined and items['bsd_controlredrange'] is not empty  %}
                            var redTimeThreshold = "{{  items['bsd_controlredrange'] }}";
                        {% elseif items is defined and items['bsd_controlred'] is not empty  %}
                            var redTimeThreshold = "{{  items['bsd_controlred'] }}";
                        {% endif %}
                    {% elseif items['bmc_corrosioninhibitortype'] is defined and items['bmc_corrosioninhibitortype'] is not empty and items['bmc_corrosioninhibitortype'] == 1 %}
                        {% if items is defined and items['bsd_controlgreenrange'] is not empty  %}
                            var greenThreshold = "{{  items['bsd_controlgreenrange'] }}";
                        {% elseif items is defined and items['bsd_controlgreen'] is not empty  %}
                            var greenThreshold = "{{  items['bsd_controlgreen'] }}";
                        {% endif %}
                        {% if items is defined and items['bsd_controlredrange'] is not empty  %}
                            var redThreshold = "{{  items['bsd_controlredrange'] }}";
                        {% elseif items is defined and items['bsd_controlred'] is not empty  %}
                            var redThreshold = "{{  items['bsd_controlred'] }}";
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% for items, type in corrosionDatasheetLocations %}

            var dt = "{{ type.callback_url }}";
            con = 'container'+{{ items }};

            $.ajax({
                url: dt,
                type: "POST",
                success: function (sucdata) {

                    sucdata = sucdata.split("|");
                    var types = sucdata[0];
                    var conElement = sucdata[1];
                    var actData = sucdata[2];

                    if (pageType == "normal")
                    {

                        var ciInjectionData = eval(sucdata[6]);
                        var actualCiConcentrationPpmData = eval(sucdata[3]);
                        var targetCiConcentrationPpmData = eval(sucdata[4]);
                        var ciPercentageAvailabilityData = eval(sucdata[5]);
                        var redData = eval(sucdata[7]);
                        var greenData = eval(sucdata[8]);
                        var amberData = eval(sucdata[9]);
                        var con = 'container' + conElement;
                        var conone = 'containerone' + conElement;
                        var contwo = 'containertwo' + conElement;

                        var data = ciInjectionData;

                        var ele = '#' + con;

                        if (data.length > 0) {

                            $(ele).html('<span>Loading Graph..</span>');

                            var yaxisstr = "Chemical Injection, L/Day";

                            var startDate = new Date(data[data.length - 1][0]), // Get year of last data point
                                minRate = parseFloat(greenThreshold),
                                maxRate = parseFloat(redThreshold),
                                startPeriod,
                                date,
                                rate,
                                index;

                            startDate.setMonth(startDate.getMonth() - 3); // a quarter of a year before last data point
                            startPeriod = Date.UTC(startDate.getFullYear(), startDate.getMonth(), startDate.getDate());

                            for (index = data.length - 1; index >= 0; index = index - 1) {
                                date = data[index][0]; // data[i][0] is date
                                rate = data[index][1]; // data[i][1] is exchange rate
                                if (date < startPeriod) {
                                    break; // stop measuring highs and lows
                                }
                            }

                            if (amberData.length > 0) var amberThresholdVisible = true; else var amberThresholdVisible = false;

                            if (redData.length > 0) var redThresholdVisible = true; else var redThresholdVisible = false;

                            if (greenData.length > 0) var greenThresholdVisible = true; else var greenThresholdVisible = false;

                            // Create the chart
                            window.chart = Highcharts.stockChart(con, {

                                chart: {
                                    renderTo: con,
                                    borderColor: '#d2d5d5',
                                    borderWidth: 1,
                                    type: 'line',
                                },

                                title: {
                                    text: ''
                                },
                                xAxis: {
                                    type: 'datetime',
                                    {% if type.from_date_normal_injection is defined and type.from_date_normal_injection is not empty %}
                                    min: Date.UTC({{ type.from_date_normal_injection|date("Y") }}, {{ type.from_date_normal_injection|date("m") }}, {{ type.from_date_normal_injection|date("d") }}, 0, 0, 0),
                                    max: Date.UTC({{ type.to_date_normal_injection|date("Y") }}, {{ type.to_date_normal_injection|date("m") }}, {{ type.to_date_normal_injection|date("d") }}, 0, 0, 0),
                                    {% else %}
                                    minTickInterval: 28 * 24 * 3600 * 1000,
                                    {% endif %}
                                    dateTimeLabelFormats: {
                                        day: '%e of %b'
                                    },
                                    events: {
                                        afterSetExtremes: function (e) {
                                            if (typeof(e.rangeSelectorButton) !== 'undefined') {
                                                var replaceElement = this.chart.renderTo.id;
                                                replaceElement = replaceElement.replace('container', '');

                                                var extremes = this.getExtremes();
                                                document.getElementById('from_date_normal_injection_' + replaceElement).value = new Date(extremes.min).toDateString();
                                                document.getElementById('to_date_normal_injection_' + replaceElement).value = new Date(extremes.max).toDateString();

                                            }
                                        }
                                    }
                                },

                                yAxis: {
                                    type: 'linear',
                                    opposite: false,
                                    title: {
                                        text: yaxisstr,
                                        useHTML: true,
                                    },
                                },

                                rangeSelector: {
                                    selected: 8,
                                },

                                legend: {
                                    enabled: true,
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'top',
                                    x: -20,
                                    floating: false,
                                    useHTML: true,
                                },

                                tooltip: {
                                    formatter: function () {
                                        var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                                            new Date(this.x)) + '</b>';

                                        $.each(this.points, function () {
                                            s += '<br/>' + this.series.name + ': ' +
                                                this.y;
                                        });

                                        return s;
                                    },
                                    shared: true
                                },

                                series: [{
                                    name: yaxisstr,
                                    data: data.sort(),
                                    marker: {
                                        enabled: true,
                                        radius: 4
                                    },
                                    useHTML: true,
                                }],

                                credits: {
                                    enabled: false
                                },
                            }, function (chart) {

                                // apply the date pickers
                                setTimeout(function () {
                                    $('input.highcharts-range-selector', $(chart.container).parent())
                                        .datepicker();
                                }, 0);
                            });

                            var extremes = chart.xAxis[0].getExtremes();
                            document.getElementById('from_date_normal_injection_' + conElement).value = new Date(extremes.min).toDateString();
                            document.getElementById('to_date_normal_injection_' + conElement).value = new Date(extremes.max).toDateString();
                        }
                        else
                        {
                            $(ele).hide();
                        }

                        var data = actualCiConcentrationPpmData;
                        var eleone = '#' + conone;
                        if (data.length > 0) {

                            var ele = '#' + conone;

                            var startDate = new Date(data[data.length - 1][0]), // Get year of last data point
                                minRate = 0,
                                maxRate = 1,
                                startPeriod,
                                date,
                                rate,
                                index;

                            startDate.setMonth(startDate.getMonth() - 3); // a quarter of a year before last data point
                            startPeriod = Date.UTC(startDate.getFullYear(), startDate.getMonth(), startDate.getDate());

                            for (index = data.length - 1; index >= 0; index = index - 1) {
                                date = data[index][0]; // data[i][0] is date
                                rate = data[index][1]; // data[i][1] is exchange rate
                                if (date < startPeriod) {
                                    break; // stop measuring highs and lows
                                }
                                if (rate > maxRate) {
                                    maxRate = rate;
                                }
                                if (rate < minRate) {
                                    minRate = rate;
                                }
                            }

                            // Create the chart
                            window.chart = Highcharts.stockChart(conone, {

                                chart: {
                                    renderTo: conone,
                                    borderColor: '#d2d5d5',
                                    borderWidth: 1,
                                    type: 'line',
                                },

                                title: {
                                    text: ''
                                },
                                xAxis: {
                                    type: 'datetime',
                                    {% if type.from_date_normal_concentration is defined and type.from_date_normal_concentration is not empty %}
                                        min: Date.UTC({{ type.from_date_normal_concentration|date("Y") }}, {{ type.from_date_normal_concentration|date("m") }}, {{ type.from_date_normal_concentration|date("d") }}, 0, 0, 0),
                                        max: Date.UTC({{ type.to_date_normal_concentration|date("Y") }}, {{ type.to_date_normal_concentration|date("m") }}, {{ type.to_date_normal_concentration|date("d") }}, 0, 0, 0),
                                    {% else %}
                                        minTickInterval: 28 * 24 * 3600 * 1000,
                                    {% endif %}
                                    dateTimeLabelFormats: {
                                        day: '%e of %b'
                                    },
                                    events: {
                                        afterSetExtremes: function(e) {
                                            if(typeof(e.rangeSelectorButton)!== 'undefined')
                                            {
                                                var replaceElement = this.chart.renderTo.id;
                                                replaceElement = replaceElement.replace('containerone', '');

                                                var extremes = this.getExtremes();
                                                document.getElementById('from_date_normal_concentration_' + replaceElement).value = new Date(extremes.min).toDateString();
                                                document.getElementById('to_date_normal_concentration_' + replaceElement).value = new Date(extremes.max).toDateString();

                                            }
                                        }
                                    }
                                },

                                yAxis: {
                                    type: 'linear',
                                    opposite: false,
                                    title: {
                                        text: 'Chemical Concentration ppm',
                                    },
                                },

                                rangeSelector: {
                                    selected: 8,
                                },

                                legend: {
                                    enabled: true,
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'top',
                                    x: -20,
                                    floating: false,
                                },

                                tooltip: {
                                    formatter: function () {
                                        var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                                            new Date(this.x)) + '</b>';

                                        $.each(this.points, function () {
                                            s += '<br/>' + this.series.name + ': ' +
                                                this.y;
                                        });

                                        return s;
                                    },
                                    shared: true
                                },

                                series: [{
                                    name: 'Actual Chemical Concentration, ppm',
                                    data: actualCiConcentrationPpmData.sort(),
                                    marker: {
                                        enabled: true,
                                        radius: 4
                                    },
                                }, {
                                    name: 'Target Chemical Concentration, ppm',
                                    data: targetCiConcentrationPpmData.sort(),
                                    marker: {
                                        enabled: true,
                                        radius: 4
                                    },
                                },],

                                credits: {
                                    enabled: false
                                },
                            }, function (chart) {

                                // apply the date pickers
                                setTimeout(function () {
                                    $('input.highcharts-range-selector', $(chart.container).parent())
                                        .datepicker();
                                }, 0);
                            });

                            var extremes = chart.xAxis[0].getExtremes();
                            document.getElementById('from_date_normal_concentration_' + conElement).value = new Date(extremes.min).toDateString();
                            document.getElementById('to_date_normal_concentration_' + conElement).value = new Date(extremes.max).toDateString();
                        }
                        else
                        {
                            $(eleone).hide();
                        }

                        var data = ciPercentageAvailabilityData;

                        var startDate = new Date(data[data.length - 1][0]), // Get year of last data point
                            minRate = parseFloat(greenThreshold),
                            maxRate = parseFloat(redThreshold),
                            startPeriod,
                            date,
                            rate,
                            index;

                        startDate.setMonth(startDate.getMonth() - 3); // a quarter of a year before last data point
                        startPeriod = Date.UTC(startDate.getFullYear(), startDate.getMonth(), startDate.getDate());

                        for (index = data.length - 1; index >= 0; index = index - 1) {
                            date = data[index][0]; // data[i][0] is date
                            rate = data[index][1]; // data[i][1] is exchange rate
                            if (date < startPeriod) {
                                break; // stop measuring highs and lows
                            }
                        }

                        var eletwo = '#' + contwo;

                        window.chart = Highcharts.stockChart(contwo, {

                            chart: {
                                renderTo: contwo,
                                borderColor: '#d2d5d5',
                                borderWidth: 1,
                                type: 'line',
                            },

                            title: {
                                text: ''
                            },
                            xAxis: {
                                type: 'datetime',
                                {% if type.from_date_normal_availability is defined and type.from_date_normal_availability is not empty %}
                                    min: Date.UTC({{ type.from_date_normal_availability|date("Y") }}, {{ type.from_date_normal_availability|date("m") }}, {{ type.from_date_normal_availability|date("d") }},0, 0, 0),
                                    max: Date.UTC({{ type.to_date_normal_availability|date("Y") }}, {{ type.to_date_normal_availability|date("m") }}, {{ type.to_date_normal_availability|date("d") }},0, 0, 0),
                                {% else %}
                                    minTickInterval: 28 * 24 * 3600 * 1000,
                                {% endif %}
                                events: {
                                    afterSetExtremes: function(e) {
                                        if(typeof(e.rangeSelectorButton)!== 'undefined')
                                        {
                                            var replaceElement = this.chart.renderTo.id;
                                            replaceElement = replaceElement.replace('containertwo', '');

                                            var extremes = this.getExtremes();
                                            document.getElementById('from_date_normal_availability_' + replaceElement).value = new Date(extremes.min).toDateString();
                                            document.getElementById('to_date_normal_availability_' + replaceElement).value = new Date(extremes.max).toDateString();

                                        }
                                    }
                                }
                            },

                            yAxis: {
                                type: 'linear',
                                opposite: false,
                                title: {
                                    text:  'Chemical availability %',
                                },

                            },

                            rangeSelector: {
                                selected: 8,
                            },

                            legend: {
                                enabled: true,
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'top',
                                x: -20,
                                floating: false,
                            },

                            tooltip: {
                                formatter: function () {
                                    var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                                        new Date(this.x)) + '</b>';

                                    $.each(this.points, function () {
                                        s += '<br/>' + this.series.name + ': ' +
                                            this.y;
                                    });

                                    return s;
                                },
                                shared: true
                            },

                            series: [{
                                name: 'Chemical availability %',
                                data: data.sort(),
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                            }, {
                                name: 'Green Threshold',
                                data: greenData.sort(),
                                color: 'green',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: greenThresholdVisible,
                            }, {
                                name: 'Red Threshold',
                                data: redData.sort(),
                                color: 'red',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: redThresholdVisible,
                            }, {
                                name: 'Amber Threshold',
                                data: amberData.sort(),
                                color: '#FFC200',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: amberThresholdVisible,
                            },],

                            credits: {
                                enabled: false
                            },
                        }, function (chart) {

                            // apply the date pickers
                            setTimeout(function () {
                                $('input.highcharts-range-selector', $(chart.container).parent())
                                    .datepicker();
                            }, 0);
                        });

                        var extremes = chart.xAxis[0].getExtremes();
                        document.getElementById('from_date_normal_availability_'+conElement).value=new Date(extremes.min).toDateString();
                        document.getElementById('to_date_normal_availability_'+conElement).value=new Date(extremes.max).toDateString();

                        $.datepicker.setDefaults({
                            dateFormat: 'yy-mm-dd',
                            onSelect: function(dateText) {

                                var replaceElement = $(this).closest(".container-element").attr('id');
                                replaceElement = replaceElement.replace('container', '');

                                this.onchange();
                                this.onblur();

                                if (document.getElementById('from_date_normal_injection_'+replaceElement)) {
                                    if ($(this).index() == 0) {
                                        document.getElementById('from_date_normal_injection_' + replaceElement).value = $(this).datepicker("getDate").toDateString();
                                        document.getElementById('to_date_normal_injection_' + replaceElement).value = $(this).next('input').datepicker("getDate").toDateString();
                                    }
                                    else if ($(this).index() == 1) {
                                        document.getElementById('from_date_normal_injection_' + replaceElement).value = $(this).prev('input').datepicker("getDate").toDateString();
                                        document.getElementById('to_date_normal_injection_' + replaceElement).value = $(this).datepicker("getDate").toDateString();
                                    }

                                }

                                var replaceElement = $(this).closest(".container-element").attr('id');
                                replaceElement = replaceElement.replace('containerone', '');

                                if (document.getElementById('from_date_normal_concentration_'+replaceElement)) {
                                    if ($(this).index() == 0) {
                                        document.getElementById('from_date_normal_concentration_' + replaceElement).value = $(this).datepicker("getDate").toDateString();
                                        document.getElementById('to_date_normal_concentration_' + replaceElement).value = $(this).next('input').datepicker("getDate").toDateString();
                                    }
                                    else if ($(this).index() == 1) {
                                        document.getElementById('from_date_normal_concentration_' + replaceElement).value = $(this).prev('input').datepicker("getDate").toDateString();
                                        document.getElementById('to_date_normal_concentration_' + replaceElement).value = $(this).datepicker("getDate").toDateString();
                                    }

                                }

                                var replaceElement = $(this).closest(".container-element").attr('id');
                                replaceElement = replaceElement.replace('containertwo', '');

                                if (document.getElementById('from_date_normal_availability_'+replaceElement)) {
                                    if ($(this).index() == 0) {
                                        document.getElementById('from_date_normal_availability_' + replaceElement).value = $(this).datepicker("getDate").toDateString();
                                        document.getElementById('to_date_normal_availability_' + replaceElement).value = $(this).next('input').datepicker("getDate").toDateString();
                                    }
                                    else if ($(this).index() == 1) {
                                        document.getElementById('from_date_normal_availability_' + replaceElement).value = $(this).prev('input').datepicker("getDate").toDateString();
                                        document.getElementById('to_date_normal_availability_' + replaceElement).value = $(this).datepicker("getDate").toDateString();
                                    }

                                }

                            },
                        });

                    }
                    else if (pageType == "average")
                    {

                        var volInjectedAgainstInhibitorConcentration = eval(sucdata[3]);
                        var perTimeCITargetReached = eval(sucdata[4]);

                        var redVolData = eval(sucdata[5]);
                        var greenVolData = eval(sucdata[6]);
                        var amberVolData = eval(sucdata[7]);

                        if (amberVolData.length > 0) var amberThresholdVisible = true; else var amberThresholdVisible = false;

                        if (redVolData.length > 0) var redThresholdVisible = true; else var redThresholdVisible = false;

                        if (greenVolData.length > 0) var greenThresholdVisible = true; else var greenThresholdVisible = false;

                        var con = 'container' + conElement;

                        var data = volInjectedAgainstInhibitorConcentration;
                        var yaxisstr = "Chemical Availability, %";

                        var startDate = new Date(data[data.length - 1][0]), // Get year of last data point
                            minRate = parseFloat(greenThreshold),
                            maxRate = parseFloat(redThreshold),
                            startPeriod,
                            date,
                            rate,
                            index;

                        startDate.setMonth(startDate.getMonth() - 3); // a quarter of a year before last data point
                        startPeriod = Date.UTC(startDate.getFullYear(), startDate.getMonth(), startDate.getDate());

                        for (index = data.length - 1; index >= 0; index = index - 1) {
                            date = data[index][0]; // data[i][0] is date
                            rate = data[index][1]; // data[i][1] is exchange rate
                            if (date < startPeriod) {
                                break; // stop measuring highs and lows
                            }
                        }

                        window.chart = Highcharts.stockChart(con, {

                            chart: {
                                renderTo: con,
                                borderColor: '#d2d5d5',
                                borderWidth: 1,
                                type: 'line',
                            },

                            title: {
                                text: ''
                            },
                            xAxis: {
                                type: 'datetime',
                                {% if type.from_date_average is defined and type.from_date_average is not empty %}
                                    min: Date.UTC({{ type.from_date_average|date("Y") }}, {{ type.from_date_average|date("m") }}, {{ type.from_date_average|date("d") }},0, 0, 0),
                                    max: Date.UTC({{ type.to_date_average|date("Y") }}, {{ type.to_date_average|date("m") }}, {{ type.to_date_average|date("d") }},0, 0, 0),
                                {% else %}
                                    minTickInterval: 28 * 24 * 3600 * 1000,
                                {% endif %}
                                dateTimeLabelFormats: {
                                    day: '%e of %b'
                                },
                                events: {
                                    afterSetExtremes: function(e) {
                                        if(typeof(e.rangeSelectorButton)!== 'undefined')
                                        {
                                            var replaceElement = this.chart.renderTo.id;
                                            replaceElement = replaceElement.replace('container', '');

                                            var extremes = this.getExtremes();
                                            document.getElementById('from_date_average_' + replaceElement).value = new Date(extremes.min).toDateString();
                                            document.getElementById('to_date_average_' + replaceElement).value = new Date(extremes.max).toDateString();

                                        }
                                    }
                                }
                            },

                            yAxis: {
                                type: 'linear',
                                opposite: false,
                                title: {
                                    text: yaxisstr,
                                    useHTML: true,
                                },
                            },

                            rangeSelector: {
                                selected: 8,
                            },

                            legend: {
                                enabled: true,
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'top',
                                x: -20,
                                floating: false,
                                useHTML: true,
                            },

                            tooltip: {
                                formatter: function () {
                                    var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                                        new Date(this.x)) + '</b>';

                                    $.each(this.points, function () {
                                        s += '<br/>' + this.series.name + ': ' +
                                            this.y;
                                    });

                                    return s;
                                },
                                shared: true
                            },

                            series: [{
                                name: 'Volume Injected Against Inhibitor Concentration',
                                data: volInjectedAgainstInhibitorConcentration.sort(),
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                            }, {
                                name: 'Percentage Time Chemical Target Reached',
                                data: perTimeCITargetReached.sort(),
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                            }, {
                                name: 'Green Threshold',
                                data: greenVolData.sort(),
                                color: 'green',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: greenThresholdVisible,
                            }, {
                                name: 'Red Threshold',
                                data: redVolData.sort(),
                                color: 'red',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: redThresholdVisible,
                            }, {
                                name: 'Amber Threshold',
                                data: amberVolData.sort(),
                                color: '#FFC200',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: amberThresholdVisible,
                            },],
                            credits: {
                                enabled: false
                            },
                        }, function (chart) {

                            // apply the date pickers
                            setTimeout(function () {
                                $('input.highcharts-range-selector', $(chart.container).parent())
                                    .datepicker();
                            }, 0);
                        });

                        var extremes = chart.xAxis[0].getExtremes();
                        document.getElementById('from_date_average_'+conElement).value=new Date(extremes.min).toDateString();
                        document.getElementById('to_date_average_'+conElement).value=new Date(extremes.max).toDateString();

                        $.datepicker.setDefaults({
                            dateFormat: 'yy-mm-dd',
                            onSelect: function(dateText) {
                                var replaceElement = $(this).closest(".container-element").attr('id');
                                replaceElement = replaceElement.replace('container', '');

                                if (document.getElementById('from_date_average_'+replaceElement)) {
                                    if ($(this).index() == 0) {
                                        document.getElementById('from_date_average_' + replaceElement).value = $(this).datepicker("getDate").toDateString();
                                        document.getElementById('to_date_average_' + replaceElement).value = $(this).next('input').datepicker("getDate").toDateString();
                                    }
                                    else if ($(this).index() == 1) {
                                        document.getElementById('from_date_average_' + replaceElement).value = $(this).prev('input').datepicker("getDate").toDateString();
                                        document.getElementById('to_date_average_' + replaceElement).value = $(this).datepicker("getDate").toDateString();
                                    }
                                }

                                this.onchange();
                                this.onblur();
                            },
                        });

                    }
                }
            });
        {% endfor %}
    });
    </script>
{% endblock %}



