{% extends 'AIECmsBundle:Default:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" />
{% endblock %}
{% block content %}

    <h1>Trends : {{ activityTitle }}</h1>
{% for items, type in datasheetProductionDetails %}
    {%  set graphSplitData = type.graphData|split("|") %}
    {%  set gasProductionData = graphSplitData[0]~']' %}
    {%  set h2sData = graphSplitData[5] %}
    {%  set co2Data = graphSplitData[6] %}
    <h3>{% if type.location is defined %} {{ type.location }} {% endif %}</h3>
    {% if items is defined and items is not empty %}
        {% if gasProductionData is defined and gasProductionData != "[]]" %}
            <div id="container{{ items }}" style="height: 400px; min-width: 310px"></div><br/><br/>
        {% endif %}
        <div id="containerTwo{{ items }}" style="height: 400px; min-width: 310px"></div><br/><br/>
        {% if h2sData is defined and h2sData != "[]" and co2Data is defined and co2Data != "[]" %}
                <div id="containerThree{{ items }}" style="height: 400px; min-width: 310px"></div><br/><br/>
        {% endif %}
    {% endif %}
{% endfor %}
    <div class="col-xs-12 col-md-12 col-lg-12">
        <table class="table dl-horizontal">
            <tr>
                <td align="right" colspan="2">
                    <input type="button" id="" name="" onclick="javascript:window.location='{{ path('cms_subproject_corrosion_datasheet', { 'id': activityId, 'projectId': projectId, 'subprojectId': subprojectId, 'systemId': systemId }) }}';" value="Back" class="btn">
                </td>
            </tr>
        </table>

    </div>
    <input type="hidden" id="systemId" name="systemId" value="{{ systemId }}">
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
<script src="{{ asset('assets/js/grid220/pqgrid.min.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/broken-axis.js') }}"></script>
{#<script src="{{ asset('assets/js/Highcharts/code/modules/boost.js') }}"></script>#}
{#<script src="{{ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>#}
<script src="{{ asset('assets/js/editable/jquery.inline-edit.js') }}"></script>
<script type="text/javascript">
    $(function() {
        var projectId = {{ projectId }};
        var subprojectId = {{ subprojectId }};
        var corrosionType = "{{ corrosionType }}";
        var activityId = {{ activityId }};

        {% for items, type in datasheetProductionDetails %}

        {%  set graphSplitData = type.graphData|split("|") %}
        {%  set condensateProductionData = graphSplitData[2] %}
        {%  set oilProductionData = graphSplitData[3] %}
        {%  set waterProductionData = graphSplitData[1] %}
        {%  set gasProductionData = graphSplitData[0] %}
        {%  set totalProductionData = graphSplitData[4] %}
        {%  set h2sData = graphSplitData[5] %}
        {%  set co2Data = graphSplitData[6] %}

        var gasProduction = "";
        {% if gasProductionData is defined and gasProductionData != "[]" %}
            var gasProduction = eval({{ gasProductionData }});
        {% endif %}
        var condensateProduction = "";
        var oilProduction = "";
        var waterProduction = "";
        var totalProduction = "";
        var h2s= "";
        var co2= "";
        var conlegendtrue = false;
        var oillegendtrue = false;
        var waterlegendtrue = false;
        var totlegendtrue = false;

        var yaxisstr = "Production, mmscf per day";
        {% if condensateProductionData is defined and condensateProductionData != "[]" %}
            var condensateProduction = eval({{ condensateProductionData }});
            var conlegendtrue = true;
        {% endif %}
        {% if oilProductionData is defined and oilProductionData != "[]" %}
            var oilProduction = eval({{ oilProductionData }});
            var oillegendtrue = true;
        {% endif %}
        {% if waterProductionData is defined and waterProductionData != "[]" %}
            var waterProduction = eval({{ waterProductionData }});
            var waterlegendtrue = true;
        {% endif %}
        {% if totalProductionData is defined and totalProductionData != "[]" %}
            var totalProduction = eval({{ totalProductionData }});
            var totlegendtrue = true;
        {% endif %}

        {% if co2Data is defined and co2Data != "[]" %}
            var co2 = eval({{ co2Data }});
        {% endif %}

        {% if h2sData is defined and h2sData != "[]" %}
            var h2s = eval({{ h2sData }});
        {% endif %}

        if (gasProduction) {

            // Create the chart
            Highcharts.stockChart('container{{ items }}', {

                chart: {
                    renderTo: 'container{{ items }}',
                    borderColor: '#d2d5d5',
                    borderWidth: 1,
                    type: 'line',
                    zoomType: 'xy'
                },

                boost: {
                    useGPUTranslations: true,
                    seriesThreshold: 1
                },

                title: {
                    text: 'Gas Production',
                    style: {
                        color: '#000000',
                        fontWeight: 'bold'
                    },
                },

                xAxis: {
                    type: 'datetime',
                    minTickInterval: 28 * 24 * 3600 * 1000
                },

                yAxis: {
                    opposite: false,
                    title: {
                        text: yaxisstr,
                    },
                },

                rangeSelector: {
                    selected: 8,
                },

                legend: {
                    enabled: true,
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'top',
                    x: -20,
                    margin: 5,
                    itemMarginTop: 10,
                    itemMarginBottom: 2,
                },

                plotOptions:{
                    series:{
                        turboThreshold: 100000
                    }
                },

                tooltip: {
                    formatter: function () {
                        var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                            new Date(this.x)) + '</b>';

                        $.each(this.points, function () {
                            s += '<br/>' + this.series.name + ': ' +
                                this.y;
                        });

                        return s;
                    },
                    shared: true
                },

                series: [{
                    name: yaxisstr,
                    data: gasProduction,
                    marker: {
                        enabled: true,
                        radius: 4
                    },
                }],

                credits: {
                    enabled: false
                },
            }, function (chart) {

                // apply the date pickers
                setTimeout(function () {
                    $('input.highcharts-range-selector', $(chart.container).parent())
                        .datepicker();
                }, 0);
            });
        }

        // Create the chart
        Highcharts.stockChart('containerTwo{{ items }}', {

            chart: {
                renderTo: 'containerTwo{{ items }}',
                borderColor: '#d2d5d5',
                borderWidth: 1,
                type: 'line',
                zoomType: 'xy'
            },

            boost: {
                useGPUTranslations: true,
                seriesThreshold: 1
            },

            title: {
                text: 'Total Liquid Production',
                style: {
                    color: '#000000',
                    fontWeight: 'bold'
                },
            },
            xAxis: {
                type: 'datetime',
                minTickInterval: 28*24*3600*1000
            },

            yAxis: {
                opposite:false,
                title: {
                    text: 'Production, bbl per day',
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                min:0,
            },

            rangeSelector: {
                selected: 8,
            },

            legend: {
                enabled: true,
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'top',
                x: -20,
                margin: 5,
                itemMarginTop: 10,
                itemMarginBottom: 2,
            },

            plotOptions:{
                series:{
                    turboThreshold: 100000
                }
            },

            tooltip: {
                formatter: function () {
                    var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                        new Date(this.x)) + '</b>';

                    $.each(this.points, function () {
                        s += '<br/>' + this.series.name + ': ' +
                            this.y;
                    });

                    return s;
                },
                shared: true
            },

            series: [{
                name: 'Water, bbl/d',
                data: waterProduction,
                showInLegend: waterlegendtrue,
                marker: {
                    enabled: true,
                    radius: 4
                },
            },{
                name: 'Oil, bbl/d',
                data: oilProduction,
                showInLegend: oillegendtrue,
                marker: {
                    enabled: true,
                    radius: 4
                },
            },{
                name: 'Condensate, bbl/d',
                data: condensateProduction,
                showInLegend: conlegendtrue,
                marker: {
                    enabled: true,
                    radius: 4
                },
            },{
                name: 'Total Liquid Production, bbl/d',
                data: totalProduction,
                showInLegend: totlegendtrue,
                marker: {
                    enabled: true,
                    radius: 4
                },
            }],

            credits: {
                enabled: false
            },
        }, function (chart) {

            // apply the date pickers
            setTimeout(function () {
                $('input.highcharts-range-selector', $(chart.container).parent())
                    .datepicker();
            }, 0);
        });

        if (h2s && co2) {
            // Create the chart
            Highcharts.stockChart('containerThree{{ items }}', {

                chart: {
                    renderTo: 'containerThree{{ items }}',
                    borderColor: '#d2d5d5',
                    borderWidth: 1,
                    type: 'line',
                    zoomType: 'xy'
                },

                boost: {
                    useGPUTranslations: true,
                    seriesThreshold: 1
                },

                title: {
                    text: 'Acid Gas Content',
                    style: {
                        color: '#000000',
                        fontWeight: 'bold'
                    },
                },
                xAxis: {
                    type: 'datetime',
                    minTickInterval: 28 * 24 * 3600 * 1000
                },

                yAxis: {
                    opposite: false,
                    title: {
                        text: 'Mol%',
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }],
                    min: 0,
                },

                rangeSelector: {
                    selected: 8,
                },

                legend: {
                    enabled: true,
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'top',
                    x: -20,
                    margin: 5,
                    itemMarginTop: 10,
                    itemMarginBottom: 2,
                },

                plotOptions: {
                    series: {
                        turboThreshold: 100000
                    }
                },

                tooltip: {
                    formatter: function () {
                        var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                            new Date(this.x)) + '</b>';

                        $.each(this.points, function () {
                            s += '<br/>' + this.series.name + ': ' +
                                this.y;
                        });

                        return s;
                    },
                    shared: true
                },

                series: [{
                    name: 'H2S( mol %)',
                    data: h2s,
                    marker: {
                        enabled: true,
                        radius: 4
                    },
                }, {
                    name: 'CO2( mol %)',
                    data: co2,
                    marker: {
                        enabled: true,
                        radius: 4
                    },
                }],

                credits: {
                    enabled: false
                },
            }, function (chart) {

                // apply the date pickers
                setTimeout(function () {
                    $('input.highcharts-range-selector', $(chart.container).parent())
                        .datepicker();
                }, 0);
            });
            $.datepicker.setDefaults({
                dateFormat: 'yy-mm-dd',
                onSelect: function () {
                    this.onchange();
                    this.onblur();
                }
            });
        }
        {% endfor %}
    });
    </script>
{% endblock %}



