{% extends 'AIECmsBundle:Default:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" />
    <style>
        .outer-div
        {
            position: relative;
            top: 3px;
            bottom: 30px;
            width: 100%;
        }
        .container-element {
            margin: 0 auto;
            height:50%;
            width:65%;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Trends : {{ activityTitle }}</h1>
    {% if corrosionDetails.bdt_id == 1 %}
        <form method="post" id="frmCorrosionActivity" name="frmCorrosionActivity" action="{{ path('cms_subproject_cathodicprotectiondatabase_corrosionsave',{'id': activityId, 'ids': passids, 'projectId': projectId, 'subprojectId': subprojectId, 'subprojectId': subprojectId, 'systemId': systemId, token: csrf_token('intention')}) }}">
    {% elseif corrosionDetails.bdt_id == 2 %}
        <form method="post" id="frmCorrosionActivity" name="frmCorrosionActivity" action="{{ path('cms_subproject_chemicaldosagedatabase_corrosionsave',{'id': activityId, 'ids': passids, 'projectId': projectId, 'subprojectId': subprojectId, 'savetype': 'one', 'systemId': systemId, token: csrf_token('intention')}) }}">
    {% elseif corrosionDetails.bdt_id == 3 %}
        <form method="post" id="frmCorrosionActivity" name="frmCorrosionActivity" action="{{ path('cms_subproject_corrosionmonitoringdatabase_corrosionsave',{'id': activityId, 'ids': passids, 'projectId': projectId, 'subprojectId': subprojectId, 'systemId': systemId, token: csrf_token('intention')}) }}">
    {% elseif corrosionDetails.bdt_id == 4 %}
        <form method="post" id="frmCorrosionActivity" name="frmCorrosionActivity" action="{{ path('cms_subproject_samplingdatabase_corrosionsave',{'id': activityId, 'ids': passids, 'projectId': projectId, 'subprojectId': subprojectId, 'systemId': systemId, token: csrf_token('intention')}) }}">
        {% endif %}
            {% set inc  = 0 %}
            {% set incr = 1 %}
            {% for items, type in corrosionDatasheetLocations %}
                <h3>{% if type.platformorplant is defined and type.location is defined %}{{ type.platformorplant }}:{{ type.location }}{% endif %}</h3>
                {% if items is defined and items is not empty %}
                    <div class="outer-div"><div class="container-element" id="container{{ items }}"></div></div><br/>
                    <table class="table dl-horizontal">
                        <tr>
                            <input type="hidden" id="from_{{ items }}" name="from_{{ items }}" />
                            <input type="hidden" id="to_{{ items }}" name="to_{{ items }}" />
                            <input type="hidden" id="types" name="types" value="normal" />
                            <td class="col-md-1" align="left"><h4>Analysis</h4></td><td class="col-md-11"><textarea id="analysis_{{ items }}" name="analysis_{{ items }}" style="width: 100%; height:50px;">{% if type.analysis is defined and type.analysis is not empty %}{{ type.analysis }} {% endif %}</textarea></td>
                        </tr>
                        <tr>
                            <td class="col-md-1" align="left"><h4>Recommendation</h4></td><td class="col-md-11"><textarea id="recommendation_{{ items }}" name="recommendation_{{ items }}" style="width: 100%; height:50px;">{% if type.recommendations is defined and type.recommendations is not empty %}{{ type.recommendations }}{% endif %}</textarea></td>
                        </tr>
                    </table>
                {% endif %}
                {% set inc=inc+2 %}
                {% set incr=incr+2 %}
                {% if items|length > 1 %} <hr> {% endif %}
            {% endfor %}
            <div class="col-xs-12 col-md-12 col-lg-12">
                <table class="table dl-horizontal">
                    <tr>
                        <td align="right" colspan="2">
                            <input type="button" id="" name="" onclick="javascript:window.location='{{ path('cms_subproject_corrosion_datasheet', { 'id': activityId, 'projectId': projectId, 'subprojectId': subprojectId, 'systemId': systemId }) }}';" value="Back" class="btn">
                            {% if showMitStatTrendDatasheetsGrDetEdit %}
                            <input type="submit" value="Save" class="btn btn-primary">
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </form>

    {%  set mandc = 0 %}
    {%  set mand = 0 %}
    {%  set mandf = 0 %}
    {%  set mandk = 0 %}

    {% if corrosionDetails.ba_ismanagement == 1 and corrosionDetails.ba_iscontrol == 1 %}
        {%  set mandc = mandc + 1 %}
    {% endif %}

    {% if corrosionDetails.ba_ismanagement == 1 and corrosionDetails.ba_iscontrol == 0 %}
        {%  set mand = mand + 1 %}
    {% endif %}

    {% if corrosionDetails.ba_ismanagement == 0 and corrosionDetails.ba_iscontrol == 1 %}
        {%  set mandf = mandf + 1 %}
    {% endif %}

    {% if corrosionDetails.ba_ismanagement == 0 and corrosionDetails.ba_iscontrol == 0 and corrosionDetails.ba_isnonmonitoringkpi == 1 %}
        {%  set mandk = mandk + 1 %}
    {% endif %}

{% endblock %}
{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
<script src="{{ asset('assets/js/grid220/pqgrid.min.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/broken-axis.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>
<script src="{{ asset('assets/js/editable/jquery.inline-edit.js') }}"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>

<script type="text/javascript">
    $(function() {
        Array.prototype.max = function() {
            return Math.max.apply(null, this);
        };

        Array.prototype.min = function() {
            return Math.min.apply(null, this);
        };

        var projectId = {{ projectId }};
        var subprojectId = {{ subprojectId }};
        var corrosionType = "{{ corrosionType }}";
        var activityId = {{ activityId }};
        {% if corrosionDetails.ba_controlgreen == "N/A" %} {% set greenThreshold = 0 %} {% else %} {% set greenThreshold = corrosionDetails.ba_controlgreen %} {% endif %}
        {% if corrosionDetails.ba_controlred == "N/A" %} {% set redThreshold = 0 %} {% else %} {% set redThreshold = corrosionDetails.ba_controlred %} {% endif %}
        var greenThreshold = "{{  greenThreshold }}";
        var redThreshold = "{{  redThreshold }}";
        var con = "";

        if(greenThreshold == "N/A")
        {
            var greenThreshold = 0;
        }

        if(redThreshold == "N/A")
        {
            var redThreshold = 0;
        }

        if(corrosionType == "g" || corrosionType=="p")
        {
            var yaxisstr = "Average Rate, mmpy";
        }
        else if(corrosionType == "ca-cd-oh")
        {
            var yaxisstr = "% Achievement";
            var seriesStr1 = "% Achievement";
            var seriesStr2 = "Target";
            var seriesStr3 = "Actual";
        }
        else if(corrosionType == "cp")
        {
            var yaxisstr = "On/Off Potential";
            var seriesStr1 = "On Potential";
            var seriesStr2 = "Off Potential";
        }
        else if(corrosionType == "ca")
        {
            var yaxisstr = "Control Activity";
        }

        {% set tempcounte=0 %}
        {% set tempcounter=1 %}

        {% for items, type in corrosionDatasheetLocations %}

        var dt = "{{ type.callback_url }}";

        con = 'container'+{{ items }};

        $.ajax({
            url: dt,
            type: "POST",
            success: function(sucdata) {

                sucdata = sucdata.split("|");
                var conElement = sucdata[0];
                var actData = sucdata[1];

                var passdata = eval(sucdata[2]);

                var greendata = eval(sucdata[4]);
                var amberdata = eval(sucdata[5]);
                var reddata = eval(sucdata[3]);

                var pass2data = "";
                var pass3data = "";
                if(sucdata[6]) var pass2data = eval(sucdata[6]);
                if(sucdata[7]) var pass3data = eval(sucdata[7]);

                var secYaxisData = passdata;

                var yaxisdata = [];
                var con = 'container'+conElement;
                var ele = '#'+con;

                $(ele).html('<span>Loading Graph..</span>');

                var minRate = parseFloat(greenThreshold),
                    maxRate = parseFloat(redThreshold),
                    startPeriod,
                    date,
                    rate,
                    index;

                for (index = passdata.length - 1; index >= 0; index = index - 1)
                {
                    yaxisdata.push(passdata[index][1]);
                    // data[i][1] is yaxis
                }
                var minyseriesdata = yaxisdata.min();

                if (amberdata.length > 0) var amberThresholdVisible = true; else var amberThresholdVisible = false;

                if (reddata.length > 0) var redThresholdVisible = true; else var redThresholdVisible = false;

                if (greendata.length > 0) var greenThresholdVisible = true; else var greenThresholdVisible = false;

                if (pass2data.length && pass3data.length)
                {

                    if(minRate && maxRate)
                    {
                        // Create the chart
                        window.chart = Highcharts.stockChart(con, {

                            chart: {
                                renderTo: con,
                                borderColor: '#d2d5d5',
                                borderWidth: 1,
                                type: 'line',
                                events: {
                                    load: function () {
                                        var chart = this;

                                        if ( !chart.series[0].data.length)
                                        {
                                            chart.series[0].setData(passdata, false);
                                            chart.series[1].setData(pass2data, false);
                                            chart.series[2].setData(pass3data, false);
                                            chart.series[3].setData(greendata, false);
                                            chart.series[4].setData(reddata, false);
                                            chart.series[5].setData(amberdata, false);
                                            chart.redraw();
                                        }

                                    },
                                },

                            },

                            title: {
                                text: ''
                            },
                            xAxis: {
                                type: 'datetime',
                                {% if type.from_date is defined and type.from_date is not empty %}
                                min: Date.UTC({{ type.from_date|date("Y") }}, {{ type.from_date|date("m") }}, {{ type.from_date|date("d") }}, 0, 0, 0),
                                max: Date.UTC({{ type.to_date|date("Y") }}, {{ type.to_date|date("m") }}, {{ type.to_date|date("d") }}, 0, 0, 0),
                                {% else %}
                                minTickInterval: 28 * 24 * 3600 * 1000,
                                {% endif %}
                                dateTimeLabelFormats: {
                                    day: '%e of %b'
                                },
                                events: {
                                    afterSetExtremes: function(e) {
                                        if(typeof(e.rangeSelectorButton)!== 'undefined')
                                        {
                                            var replaceElement = this.chart.renderTo.id;
                                            replaceElement = replaceElement.replace('container', '');

                                            var extremes = this.getExtremes();
                                            document.getElementById('from_' + replaceElement).value = new Date(extremes.min).toDateString();
                                            document.getElementById('to_' + replaceElement).value = new Date(extremes.max).toDateString();

                                        }
                                    }
                                }
                            },

                            yAxis: [{
                                opposite: false,
                                title: {
                                    text: actData,
                                    useHTML: true,
                                },
                            },{
                                opposite: true,
                                gridLineWidth: 0,
                                title: {
                                    text: yaxisstr,
                                    style: {
                                        color: Highcharts.getOptions().colors[0]
                                    }
                                },
                                labels: {
                                    format: '{value} %',
                                    style: {
                                        color: Highcharts.getOptions().colors[0]
                                    }
                                }
                            }],

                            rangeSelector: {
                                selected: 8
                            },

                            legend: {
                                enabled: true,
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'top',
                                x: -20,
                                floating: false,
                                useHTML: true,
                            },

                            tooltip: {
                                formatter: function () {
                                    var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                                        new Date(this.x)) + '</b>';

                                    $.each(this.points, function () {
                                        s += '<br/>' + this.series.name + ': ' +
                                            this.y;
                                    });

                                    return s;
                                },
                                shared: true
                            },

                            series: [{
                                name: seriesStr1,
                                data: passdata,
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                                useHTML: true,
                                yAxis: 1
                            }, {
                                name: seriesStr2,
                                data: pass2data,
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                                useHTML: true,
                            }, {
                                name: seriesStr3,
                                data: pass3data,
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                                useHTML: true,
                            }, {
                                name: 'Green Threshold',
                                data: greendata,
                                color: 'green',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: greenThresholdVisible,
                            }, {
                                name: 'Red Threshold',
                                data: reddata,
                                color: 'red',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: redThresholdVisible,
                            }, {
                                name: 'Amber Threshold',
                                data: amberdata,
                                color: '#FFC200',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: amberThresholdVisible,
                            },],

                            credits: {
                                enabled: false
                            },
                        }, function (chart) {

                            // apply the date pickers
                            setTimeout(function () {
                                $('input.highcharts-range-selector', $(chart.container).parent())
                                    .datepicker();
                            }, 0);

                        });

                    }
                    else
                    {
                        // Create the chart
                        window.chart = Highcharts.stockChart(con, {

                            chart: {
                                renderTo: con,
                                borderColor: '#d2d5d5',
                                borderWidth: 1,
                                type: 'line',
                                events: {
                                    load: function () {
                                        var chart = this;

                                        if ( !chart.series[0].data.length)
                                        {
                                            chart.series[0].setData(passdata, false);
                                            chart.series[1].setData(pass2data, false);
                                            chart.series[2].setData(pass3data, false);
                                            chart.series[3].setData(greendata, false);
                                            chart.series[4].setData(reddata, false);
                                            chart.series[5].setData(amberdata, false);
                                            chart.redraw();
                                        }

                                    },
                                },
                            },

                            title: {
                                text: ''
                            },
                            xAxis: {
                                type: 'datetime',
                                {% if type.from_date is defined and type.from_date is not empty %}
                                min: Date.UTC({{ type.from_date|date("Y") }}, {{ type.from_date|date("m") }}, {{ type.from_date|date("d") }}, 0, 0, 0),
                                max: Date.UTC({{ type.to_date|date("Y") }}, {{ type.to_date|date("m") }}, {{ type.to_date|date("d") }}, 0, 0, 0),
                                {% else %}
                                minTickInterval: 28 * 24 * 3600 * 1000,
                                {% endif %}
                                events: {
                                    afterSetExtremes: function(e) {
                                        if(typeof(e.rangeSelectorButton)!== 'undefined')
                                        {
                                            var replaceElement = this.chart.renderTo.id;
                                            replaceElement = replaceElement.replace('container', '');

                                            var extremes = this.getExtremes();
                                            document.getElementById('from_' + replaceElement).value = new Date(extremes.min).toDateString();
                                            document.getElementById('to_' + replaceElement).value = new Date(extremes.max).toDateString();

                                        }
                                    }
                                }
                            },

                            yAxis: [{
                                opposite: false,
                                title: {
                                    text: actData,
                                    useHTML: true,
                                },
                            },{
                                opposite: true,
                                gridLineWidth: 0,
                                title: {
                                    text: yaxisstr,
                                    style: {
                                        color: Highcharts.getOptions().colors[0]
                                    }
                                },
                                labels: {
                                    format: '{value} %',
                                    style: {
                                        color: Highcharts.getOptions().colors[0]
                                    }
                                }
                            }],

                            rangeSelector: {
                                selected: 8
                            },

                            legend: {
                                enabled: true,
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'top',
                                x: -20,
                                floating: false,
                                useHTML: true,
                            },

                            tooltip: {
                                formatter: function () {
                                    var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                                        new Date(this.x)) + '</b>';

                                    $.each(this.points, function () {
                                        s += '<br/>' + this.series.name + ': ' +
                                            this.y;
                                    });

                                    return s;
                                },
                                shared: true
                            },

                            series: [{
                                name: seriesStr1,
                                data: passdata,
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                                useHTML: true,
                                yAxis: 1
                            }, {
                                name: seriesStr2,
                                data: pass2data,
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                                useHTML: true,
                            }, {
                                name: seriesStr3,
                                data: pass3data,
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                                useHTML: true,
                            }, {
                                name: 'Green Threshold',
                                data: greendata,
                                color: 'green',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: greenThresholdVisible,
                            }, {
                                name: 'Red Threshold',
                                data: reddata,
                                color: 'red',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: redThresholdVisible,
                            }, {
                                name: 'Amber Threshold',
                                data: amberdata,
                                color: '#FFC200',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: amberThresholdVisible,
                            },],

                            credits: {
                                enabled: false
                            },
                        }, function (chart) {

                            // apply the date pickers
                            setTimeout(function () {
                                $('input.highcharts-range-selector', $(chart.container).parent())
                                    .datepicker();
                            }, 0);
                        });

                    }
                }
                else if (pass2data.length && !pass3data.length){

                    if(minRate && maxRate)
                    {
                        // Create the chart
                        window.chart = Highcharts.stockChart(con, {

                            chart: {
                                renderTo: con,
                                borderColor: '#d2d5d5',
                                borderWidth: 1,
                                type: 'line',
                                events: {
                                    load: function () {
                                        var chart = this;

                                        if ( !chart.series[0].data.length)
                                        {
                                            chart.series[0].setData(passdata, false);
                                            chart.series[1].setData(pass2data, false);
                                            chart.series[2].setData(greendata, false);
                                            chart.series[3].setData(reddata, false);
                                            chart.series[4].setData(amberdata, false);
                                            chart.redraw();
                                        }

                                    },
                                },

                            },

                            title: {
                                text: ''
                            },
                            xAxis: {
                                type: 'datetime',
                                {% if type.from_date is defined and type.from_date is not empty %}
                                min: Date.UTC({{ type.from_date|date("Y") }}, {{ type.from_date|date("m") }}, {{ type.from_date|date("d") }}, 0, 0, 0),
                                max: Date.UTC({{ type.to_date|date("Y") }}, {{ type.to_date|date("m") }}, {{ type.to_date|date("d") }}, 0, 0, 0),
                                {% else %}
                                minTickInterval: 28 * 24 * 3600 * 1000,
                                {% endif %}
                                dateTimeLabelFormats: {
                                    day: '%e of %b'
                                },
                                events: {
                                    afterSetExtremes: function(e) {
                                        if(typeof(e.rangeSelectorButton)!== 'undefined')
                                        {
                                            var replaceElement = this.chart.renderTo.id;
                                            replaceElement = replaceElement.replace('container', '');

                                            var extremes = this.getExtremes();
                                            document.getElementById('from_' + replaceElement).value = new Date(extremes.min).toDateString();
                                            document.getElementById('to_' + replaceElement).value = new Date(extremes.max).toDateString();

                                        }
                                    }
                                }
                            },

                            yAxis: {
                                title: {
                                    text: actData,
                                    useHTML: true,
                                },
                                type: 'linear',
                                opposite: false,
                            },

                            rangeSelector: {
                                selected: 8
                            },

                            legend: {
                                enabled: true,
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'top',
                                x: -20,
                                floating: false,
                                useHTML: true,
                            },

                            tooltip: {
                                formatter: function () {
                                    var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                                        new Date(this.x)) + '</b>';

                                    $.each(this.points, function () {
                                        s += '<br/>' + this.series.name + ': ' +
                                            this.y;
                                    });

                                    return s;
                                },
                                shared: true
                            },

                            series: [{
                                name: seriesStr1,
                                data: passdata,
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                                useHTML: true,
                            }, {
                                name: seriesStr2,
                                data: pass2data,
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                                useHTML: true,
                            }, {
                                name: 'Green Threshold',
                                data: greendata,
                                color: 'green',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: greenThresholdVisible,
                            }, {
                                name: 'Red Threshold',
                                data: reddata,
                                color: 'red',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: redThresholdVisible,
                            }, {
                                name: 'Amber Threshold',
                                data: amberdata,
                                color: '#FFC200',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: amberThresholdVisible,
                            },],

                            credits: {
                                enabled: false
                            },
                        }, function (chart) {

                            // apply the date pickers
                            setTimeout(function () {
                                $('input.highcharts-range-selector', $(chart.container).parent())
                                    .datepicker();
                            }, 0);

                        });

                    }
                    else
                    {
                        // Create the chart
                        window.chart = Highcharts.stockChart(con, {

                            chart: {
                                renderTo: con,
                                borderColor: '#d2d5d5',
                                borderWidth: 1,
                                type: 'line',
                                events: {
                                    load: function () {
                                        var chart = this;

                                        if ( !chart.series[0].data.length)
                                        {
                                            chart.series[0].setData(passdata, false);
                                            chart.series[1].setData(pass2data, false);
                                            chart.series[2].setData(greendata, false);
                                            chart.series[3].setData(reddata, false);
                                            chart.series[4].setData(amberdata, false);
                                            chart.redraw();
                                        }

                                    },
                                },
                            },

                            title: {
                                text: ''
                            },
                            xAxis: {
                                type: 'datetime',
                                {% if type.from_date is defined and type.from_date is not empty %}
                                min: Date.UTC({{ type.from_date|date("Y") }}, {{ type.from_date|date("m") }}, {{ type.from_date|date("d") }}, 0, 0, 0),
                                max: Date.UTC({{ type.to_date|date("Y") }}, {{ type.to_date|date("m") }}, {{ type.to_date|date("d") }}, 0, 0, 0),
                                {% else %}
                                minTickInterval: 28 * 24 * 3600 * 1000,
                                {% endif %}
                                events: {
                                    afterSetExtremes: function(e) {
                                        if(typeof(e.rangeSelectorButton)!== 'undefined')
                                        {
                                            var replaceElement = this.chart.renderTo.id;
                                            replaceElement = replaceElement.replace('container', '');

                                            var extremes = this.getExtremes();
                                            document.getElementById('from_' + replaceElement).value = new Date(extremes.min).toDateString();
                                            document.getElementById('to_' + replaceElement).value = new Date(extremes.max).toDateString();

                                        }
                                    }
                                }
                            },

                            yAxis: {
                                opposite: false,
                                title: {
                                    text: actData,
                                    useHTML: true,
                                },
                            },

                            rangeSelector: {
                                selected: 8
                            },

                            legend: {
                                enabled: true,
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'top',
                                x: -20,
                                floating: false,
                                useHTML: true,
                            },

                            tooltip: {
                                formatter: function () {
                                    var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                                        new Date(this.x)) + '</b>';

                                    $.each(this.points, function () {
                                        s += '<br/>' + this.series.name + ': ' +
                                            this.y;
                                    });

                                    return s;
                                },
                                shared: true
                            },

                            series: [{
                                name: seriesStr1,
                                data: passdata,
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                                useHTML: true,
                            }, {
                                name: seriesStr2,
                                data: pass2data,
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                                useHTML: true,
                            }, {
                                name: 'Green Threshold',
                                data: greendata,
                                color: 'green',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: greenThresholdVisible,
                            }, {
                                name: 'Red Threshold',
                                data: reddata,
                                color: 'red',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: redThresholdVisible,
                            }, {
                                name: 'Amber Threshold',
                                data: amberdata,
                                color: '#FFC200',
                                zones: [ {
                                    dashStyle: 'shortdash'
                                }],
                                visible: amberThresholdVisible,
                            },],

                            credits: {
                                enabled: false
                            },
                        }, function (chart) {

                            // apply the date pickers
                            setTimeout(function () {
                                $('input.highcharts-range-selector', $(chart.container).parent())
                                    .datepicker();
                            }, 0);
                        });

                    }
                }
                else
                {
                    if (minRate && maxRate)
                    {

                        // Create the chart
                        window.chart = Highcharts.stockChart(con, {

                            chart: {
                                renderTo: con,
                                borderColor: '#d2d5d5',
                                borderWidth: 1,
                                type: 'line',
                                events: {
                                    load: function () {
                                        var chart = this;

                                        if (!chart.series[0].data.length) {
                                            chart.series[0].setData(passdata, false);
                                            chart.series[1].setData(greendata, false);
                                            chart.series[2].setData(reddata, false);
                                            chart.series[3].setData(amberdata, false);
                                            chart.redraw();
                                        }

                                    },
                                },

                            },

                            title: {
                                text: ''
                            },
                            xAxis: {
                                type: 'datetime',
                                {% if type.from_date is defined and type.from_date is not empty %}
                                min: Date.UTC({{ type.from_date|date("Y") }}, {{ type.from_date|date("m") }}, {{ type.from_date|date("d") }}, 0, 0, 0),
                                max: Date.UTC({{ type.to_date|date("Y") }}, {{ type.to_date|date("m") }}, {{ type.to_date|date("d") }}, 0, 0, 0),
                                {% else %}
                                minTickInterval: 28 * 24 * 3600 * 1000,
                                {% endif %}
                                dateTimeLabelFormats: {
                                    day: '%e of %b'
                                },
                                events: {
                                    afterSetExtremes: function(e) {
                                        if(typeof(e.rangeSelectorButton)!== 'undefined')
                                        {
                                            var replaceElement = this.chart.renderTo.id;
                                            replaceElement = replaceElement.replace('container', '');

                                            var extremes = this.getExtremes();
                                            document.getElementById('from_' + replaceElement).value = new Date(extremes.min).toDateString();
                                            document.getElementById('to_' + replaceElement).value = new Date(extremes.max).toDateString();

                                        }
                                    }
                                }
                            },

                            yAxis: {
                                title: {
                                    text: actData,
                                    useHTML: true,
                                },
                                type: 'linear',
                                opposite: false,
                            },

                            rangeSelector: {
                                selected: 8
                            },

                            legend: {
                                enabled: true,
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'top',
                                x: -20,
                                floating: false,
                                useHTML: true,
                            },

                            tooltip: {
                                formatter: function () {
                                    var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                                        new Date(this.x)) + '</b>';

                                    $.each(this.points, function () {
                                        s += '<br/>' + this.series.name + ': ' +
                                            this.y;
                                    });

                                    return s;
                                },
                                shared: true
                            },

                            series: [{
                                name: actData,
                                data: passdata,
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                                useHTML: true,
                            }, {
                                name: 'Green Threshold',
                                data: greendata,
                                color: 'green',
                                zones: [{
                                    dashStyle: 'shortdash'
                                }],
                                visible: greenThresholdVisible,
                            }, {
                                name: 'Red Threshold',
                                data: reddata,
                                color: 'red',
                                zones: [{
                                    dashStyle: 'shortdash'
                                }],
                                visible: redThresholdVisible,
                            }, {
                                name: 'Amber Threshold',
                                data: amberdata,
                                color: '#FFC200',
                                zones: [{
                                    dashStyle: 'shortdash'
                                }],
                                visible: amberThresholdVisible,
                            },],

                            credits: {
                                enabled: false
                            },
                        }, function (chart) {

                            // apply the date pickers
                            setTimeout(function () {
                                $('input.highcharts-range-selector', $(chart.container).parent())
                                    .datepicker();
                            }, 0);

                        });

                    }
                    else
                    {

                        // Create the chart
                        window.chart = Highcharts.stockChart(con, {

                            chart: {
                                renderTo: con,
                                borderColor: '#d2d5d5',
                                borderWidth: 1,
                                type: 'line',
                                events: {
                                    load: function () {
                                        var chart = this;

                                        if (!chart.series[0].data.length) {
                                            chart.series[0].setData(passdata, false);
                                            chart.series[1].setData(greendata, false);
                                            chart.series[2].setData(reddata, false);
                                            chart.series[3].setData(amberdata, false);
                                            chart.redraw();
                                        }

                                    },
                                },
                            },

                            title: {
                                text: ''
                            },
                            xAxis: {
                                type: 'datetime',
                                {% if type.from_date is defined and type.from_date is not empty %}
                                min: Date.UTC({{ type.from_date|date("Y") }}, {{ type.from_date|date("m") }}, {{ type.from_date|date("d") }}, 0, 0, 0),
                                max: Date.UTC({{ type.to_date|date("Y") }}, {{ type.to_date|date("m") }}, {{ type.to_date|date("d") }}, 0, 0, 0),
                                {% else %}
                                minTickInterval: 28 * 24 * 3600 * 1000,
                                {% endif %}
                                events: {
                                    afterSetExtremes: function(e) {
                                        if(typeof(e.rangeSelectorButton)!== 'undefined')
                                        {
                                            var replaceElement = this.chart.renderTo.id;
                                            replaceElement = replaceElement.replace('container', '');

                                            var extremes = this.getExtremes();
                                            document.getElementById('from_' + replaceElement).value = new Date(extremes.min).toDateString();
                                            document.getElementById('to_' + replaceElement).value = new Date(extremes.max).toDateString();

                                        }
                                    }
                                }
                            },

                            yAxis: {
                                opposite: false,
                                title: {
                                    text: actData,
                                    useHTML: true,
                                },
                            },

                            rangeSelector: {
                                selected: 8
                            },

                            legend: {
                                enabled: true,
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'top',
                                x: -20,
                                floating: false,
                                useHTML: true,
                            },

                            tooltip: {
                                formatter: function () {
                                    var s = '<b>' + Highcharts.dateFormat('%e-%b-%Y',
                                        new Date(this.x)) + '</b>';

                                    $.each(this.points, function () {
                                        s += '<br/>' + this.series.name + ': ' +
                                            this.y;
                                    });

                                    return s;
                                },
                                shared: true
                            },

                            series: [{
                                name: actData,
                                data: passdata,
                                marker: {
                                    enabled: true,
                                    radius: 4
                                },
                                useHTML: true,
                            }, {
                                name: 'Green Threshold',
                                data: greendata,
                                color: 'green',
                                zones: [{
                                    dashStyle: 'shortdash'
                                }],
                                visible: greenThresholdVisible,
                            }, {
                                name: 'Red Threshold',
                                data: reddata,
                                color: 'red',
                                zones: [{
                                    dashStyle: 'shortdash'
                                }],
                                visible: redThresholdVisible,
                            }, {
                                name: 'Amber Threshold',
                                data: amberdata,
                                color: '#FFC200',
                                zones: [{
                                    dashStyle: 'shortdash'
                                }],
                                visible: amberThresholdVisible,
                            },],

                            credits: {
                                enabled: false
                            },
                        }, function (chart) {

                            // apply the date pickers
                            setTimeout(function () {
                                $('input.highcharts-range-selector', $(chart.container).parent())
                                    .datepicker();
                            }, 0);
                        });

                    }
                }

                var extremes = chart.xAxis[0].getExtremes();
                document.getElementById('from_'+conElement).value=new Date(extremes.min).toDateString();
                document.getElementById('to_'+conElement).value=new Date(extremes.max).toDateString();

                $.datepicker.setDefaults({
                    dateFormat: 'yy-mm-dd',
                    onSelect: function(dateText) {

                        var replaceElement = $(this).closest(".container-element").attr('id');
                        replaceElement = replaceElement.replace('container', '');

                        this.onchange();
                        this.onblur();

                        if ($(this).index() == 0) {
                            document.getElementById('from_' + replaceElement).value = $(this).datepicker("getDate").toDateString();
                            document.getElementById('to_' + replaceElement).value = $(this).next('input').datepicker("getDate").toDateString();
                        }
                        else if ($(this).index() == 1) {
                            document.getElementById('from_' + replaceElement).value = $(this).prev('input').datepicker("getDate").toDateString();
                            document.getElementById('to_' + replaceElement).value = $(this).datepicker("getDate").toDateString();
                        }

                    },
                });
            }
        });

        {% set tempcounte=tempcounte+2 %}
        {% set tempcounter=tempcounter+2 %}

        {% endfor %}
    });
    </script>
{% endblock %}




