{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables/media/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables4/Responsive-2.2.2/css/responsive.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables4/Buttons-1.5.2/css/buttons.dataTables.min.css') }}">
    <style type="text/css">
        .sortMask {
            width:19px;
            height:19px;
            float:right;
            display:inline-block;
            z-index:0;
            margin-top:-5px;
            margin-right: -19px;
            /*background: rgba(255, 0, 0, 0.5);*/
        }
        .Scrollable_Wrapper {
            overflow-x: scroll;
            overflow-y: hidden;
            width: 100%;
        }
        .btn-add-green {
            @extend .btn-success;
            background-color: #C2E79A;
            color: #000000;
        }
        .btn-edit-yellow {
        @extend .btn-success;
            background-color: #FFE4B5;
            color: #000000;
        }
        .btn-view-graph {
        @extend .btn-success;
            background-color: #e6a667;
            color: #000000;
        }
        .btn-export-excel {
        @extend .btn-success;
            background-color: #699e2d;
            color: #000000;
        }
        #example span{
            display:none;
        }

    </style>
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/databases/databases.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/DataTables/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.2/js/dataTables.buttons.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.2/js/buttons.flash.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/JSZip-2.5.0/jszip.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/pdfmake-0.1.36/pdfmake.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/pdfmake-0.1.36/vfs_fonts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.2/js/buttons.html5.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.2/js/buttons.print.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.2/js/buttons.colVis.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var projectId = {{ projectId }};
        var subprojectId = {{ subprojectId }};
        var corrosionType = "{{ corrosionType }}";
        var activityId = {{ activityId }};
        var controlActivityName = "{{ corrosion_activity_entities.ba_controltitle }}";
        var corrosionLocationsLn = "{{ corrosion_datasheet_locations|length }}";
        var corrosionInhibitorLocationsLn = "{{ corrosion_datasheet_inhibitor_locations|length }}";

        var pageType = "{{ pageType }}";
        var systemId = "{{ systemId }}";
        var filenameTodownlaod = "{{ subproject.name }}" + "-" + "{{ corrosion_activity_entities.ba_controltitle }}"+ "-";

    </script>
    <script src="{{ asset('assets/js/aie/subprojectcorrosiondatasheet.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.form.min.js') }}"></script>
    <script type="text/javascript">
        $(document).on('click', '.submitcorrosion', function (e)
        {

            var storeActivityPerformed = new Array();
            var inc = 0;
            $("select[class='activityclass'] option:selected").each(function() {
                var element = $(this);
                storeActivityPerformed[inc] = element.val();
                inc++;
            });

            $('#selectedperformedactivity').val(storeActivityPerformed);
            $('#frmCorrosionActivityD').submit();
        });
    </script>
{% endblock %}

{% block content %}
    <table style="display: none;" id="hiddenTblToExcel"></table>
    <a id="dlink"  style="display:none;"></a>
    <div class="content" id="content{{ projectId }}">
        {#{% if corrosionType == "p" %} <h3>Pitting Corrosion</h3>  {% elseif corrosionType == "g" %} <h3>General Corrosion</h3>{% elseif corrosionType == "ca" %} <h3>Corrosion Activity</h3>{% elseif corrosionType == "ca-cd-ch" or  corrosionType == "ca-cd-oh" %} <h3>Corrosion Inhibitor</h3>{% elseif corrosionType == "pr" %} <h3>Production</h3>{% endif %}#}
        <h1>Datasheet : {{ activityTitle }}</h1>
        {% if corrosionType == "ca-cd-oh" %} {% set varPassCI = 'normal' %} {% else %} {% set varPassCI = 'normal' %} {% endif %}
        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12" style="padding: 0;">
            <table class="table dl-horizontal">
                <tr style="background-color: #ddd; height:40px;">
                    <th colspan="4"><h4>Threshold</h4></th>
                </tr>
                <tr>
                    <th class="col-md-3" align="right">Activity</th><th>Green</th><th>Amber</th><th>Red</th>
                </tr>
                <tr>
                    {% if corrosion_activity_entities.ba_managementtitle is defined and corrosion_activity_entities.ba_managementtitle is not empty %}
                        <td class="col-md-3">{{ corrosion_activity_entities.ba_managementtitle }}</td><td>{{ corrosion_activity_entities.ba_managementgreen }}</td><td>{{ corrosion_activity_entities.ba_managementamber }}</td><td>{{ corrosion_activity_entities.ba_managementred }}</td>
                    {% endif %}
                </tr>

                {% if corrosionType == "ca-cd-ch" %}
                    {% if chemicalActivities is defined and chemicalActivities is not empty and chemicalActivities|length >= 1 %}
                        {#{% for entity in chemicalActivities %}#}
                            {#{% if loop.index >= 3 %}#}
                        {% if corrosion_activity_entities.ba_iscontrol == 1 or corrosion_activity_entities.ba_isflowassurancecontrol == 1 %}
                            {% if corrosion_activity_entities.ba_controltitle is defined and corrosion_activity_entities.ba_controltitle is not empty %}
                                <td class="col-md-3">{{ corrosion_activity_entities.ba_controltitle }}</td><td>{{ corrosion_activity_entities.ba_controlgreenexpression }} {{ corrosion_activity_entities.ba_controlgreen }} {% if corrosion_activity_entities.ba_controlgreenrange is defined and corrosion_activity_entities.ba_controlgreenrange is not empty %} and {{ corrosion_activity_entities.ba_controlgreenexpressionrange }} {{ corrosion_activity_entities.ba_controlgreenrange }} {% endif %}</td><td>{{ corrosion_activity_entities.ba_controlamberexpression }} {{ corrosion_activity_entities.ba_controlamber }} {% if corrosion_activity_entities.ba_controlamberrange is defined and corrosion_activity_entities.ba_controlamberrange is not empty  %} and {{ corrosion_activity_entities.ba_controlamberexpressionrange }} {{ corrosion_activity_entities.ba_controlamberrange }}{% endif %}</td><td>{{ corrosion_activity_entities.ba_controlredexpression }} {{ corrosion_activity_entities.ba_controlred }} {% if corrosion_activity_entities.ba_controlredrange is defined and corrosion_activity_entities.ba_controlredrange is not empty %} and {{ corrosion_activity_entities.ba_controlredexpressionrange }} {{ corrosion_activity_entities.ba_controlredrange }} {% endif %}</td>
                            {% endif %}
                        {% endif %}
                        {#{% endif %}#}
                        {#{% endfor %}
                           #}
                    {% endif %}
                {% else %}
                    <tr>
                        {% if corrosion_activity_entities.ba_iscontrol == 1 or corrosion_activity_entities.ba_isflowassurancecontrol == 1 %}
                            {% if corrosion_activity_entities.ba_controltitle is defined and corrosion_activity_entities.ba_controltitle is not empty %}
                                <td class="col-md-3">{{ corrosion_activity_entities.ba_controltitle }}</td><td>{{ corrosion_activity_entities.ba_controlgreenexpression }} {{ corrosion_activity_entities.ba_controlgreen }} {% if corrosion_activity_entities.ba_controlgreenrange is defined and corrosion_activity_entities.ba_controlgreenrange is not empty %} and {{ corrosion_activity_entities.ba_controlgreenexpressionrange }} {{ corrosion_activity_entities.ba_controlgreenrange }} {% endif %}</td><td>{{ corrosion_activity_entities.ba_controlamberexpression }} {{ corrosion_activity_entities.ba_controlamber }} {% if corrosion_activity_entities.ba_controlamberrange is defined and corrosion_activity_entities.ba_controlamberrange is not empty  %} and {{ corrosion_activity_entities.ba_controlamberexpressionrange }} {{ corrosion_activity_entities.ba_controlamberrange }}{% endif %}</td><td>{{ corrosion_activity_entities.ba_controlredexpression }} {{ corrosion_activity_entities.ba_controlred }} {% if corrosion_activity_entities.ba_controlredrange is defined and corrosion_activity_entities.ba_controlredrange is not empty %} and {{ corrosion_activity_entities.ba_controlredexpressionrange }} {{ corrosion_activity_entities.ba_controlredrange }} {% endif %}</td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% endif %}

            </table>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12" style="padding: 0;">
            <form method="post" id="frmCorrosionActivityD" name="frmCorrosionActivityD" action="{{ path('cms_subproject_corrosiondatasheet_save',{'id': activityId, 'projectId': projectId, 'subprojectId': subprojectId, 'systemId': systemId, token: csrf_token('intention')}) }}">
                <table class="table dl-horizontal">
                    <tr style="background-color: #ddd;">
                        <th colspan="4"><h4>Description</h4></th>
                    </tr>
                    <tr>
                        <td>
                            <input type="hidden" id="selectedperformedactivity" name="selectedperformedactivity" value="" />
                            {% if showMitStatTrendDatasheetsDesc %}
                                <textarea id="description" name="description" style="width: 100%; height:100px;">{% if corrosion_activity_entities.ba_managementtitle is defined and corrosion_activity_entities.ba_managementtitle is not empty %}{{ corrosion_activity_entities.ba_description }}{% endif %}</textarea>
                            {% else %}
                                {% if corrosion_activity_entities.ba_managementtitle is defined and corrosion_activity_entities.ba_managementtitle is not empty %}{{ corrosion_activity_entities.ba_description }}{% endif %}
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="Scrollable_Wrapper">
            {% if corrosionType == "ca-cd-ch" %}
                <table class="table dl-horizontal">
                    <tr style="background-color: #DDDDDD; height:40px;"><TD><h4>Injection Log </h4></TD></tr>
                </table>
            {% endif %}
            <table id="example" class="table table-bordered table-striped table-hover table-responsive table-grid-head" cellspacing="0" width="100%">
                <form method="post" id="frmCorrosionData" name="frmCorrosionData" target="popUpWindow">
                <thead class="table-grid-head-row">
                    <tr style="background-color: #DDDDDD">
                        <th id="selectall"><input name="select_all" value="1" type="checkbox"></th>
                        {% if corrosionType == "pr" %}
                            <th id="lc_">Location<div class="sortMask"></div></th>
                            <th id="tr_">Train<div class="sortMask"></div></th>
                            <th id="fm_">Field Manifold<div class="sortMask"></div></th>
                            <th id="sm_">Station Manifold<div class="sortMask"></div></th>
                            <th id="dt_">Date<div class="sortMask"></div></th>
                            <th id="gp_">Gas Production mmscf/day<div class="sortMask"></div></th>
                            <th id="op_">Oil Production bbl/day<div class="sortMask"></div></th>
                            <th id="cp_">Condensate Production bbl/day<div class="sortMask"></div></th>
                            <th id="wp_">Water Production bbl/day<div class="sortMask"></div></th>
                            <th id="tp_">Total Production bbl/day<div class="sortMask"></div></th>
                            <th id="wc_">Water Cut %<div class="sortMask"></div></th>
                            <th id="go_">GOR scf/STB<div class="sortMask"></div></th>
                            <th id="sa_">Salinity ppm<div class="sortMask"></div></th>
                            <th id="h2_">H2S mol%<div class="sortMask"></div></th>
                            <th id="co_">CO2 mol%<div class="sortMask"></div></th>
                            <th id="us_">USP psig<div class="sortMask"></div></th>
                            <th id="ds_">DSP psig<div class="sortMask"></div></th>
                            <th id="ust_">UST ° Celsius<div class="sortMask"></div></th>
                            <th id="esp_ops_">ESP OPS Frequency Hz<div class="sortMask"></div></th>
                            <th id="esp_in_">ESP Intake Pressure psig<div class="sortMask"></div></th>
                            <th id="esp_dis_">ESP Discharge Pressure psig<div class="sortMask"></div></th>
                        {% elseif corrosionType == "g" %}
                            <th id="pt_">Platform/Plant<div class="sortMask"></div></th>
                            <th id="lc_">Location<div class="sortMask"></div></th>
                            <th id="actperform_">Activity Performed<div class="sortMask"></div></th>
                            <th id="ch_">Coupon Holder Tag No<div class="sortMask"></div></th>
                            <th id="cp_">Coupon Type<div class="sortMask"></div></th>
                            <th id="dtr_">Date Retrieved<div class="sortMask"></div></th>
                            <th id="dti_">Date Installed<div class="sortMask"></div></th>
                            <th id="rw_">Retrieval Weight g<div class="sortMask"></div></th>
                            <th id="iw_">Installation Weight g<div class="sortMask"></div></th>
                            <th id="gc_">General Corrosion Rate mmpy<div class="sortMask"></div></th>
                            <th id="avgmmpy_">Average Corrosion Rate mmpy<div class="sortMask"></div></th>
                            <th id="avgmpy_">Average Corrosion Rate mpy<div class="sortMask"></div></th>
                        {% elseif corrosionType == "p" %}
                            <th id="pt_">Platform/Plant<div class="sortMask"></div></th>
                            <th id="lc_">Location<div class="sortMask"></div></th>
                            <th id="actperform_">Activity Performed<div class="sortMask"></div></th>
                            <th id="ch_">Coupon Holder Tag No<div class="sortMask"></div></th>
                            <th id="ct_">Coupon Type<div class="sortMask"></div></th>
                            <th id="dtr_">Date Retrieved<div class="sortMask"></div></th>
                            <th id="dti_">Date Installed<div class="sortMask"></div></th>
                            <th id="depth_">Depth of Deepest Pit mm<div class="sortMask"></div></th>
                            <th id="gc_">Pitting Corrosion Rate mmpy<div class="sortMask"></div></th>
                            <th id="avgmmpy_">Average Corrosion Rate mmpy<div class="sortMask"></div></th>
                            <th id="avgmpy_">Average Corrosion Rate mpy<div class="sortMask"></div></th>
                        {% elseif corrosionType == "ca-cd-oh" %}
                            <th id="pt_">Platform/Plant<div class="sortMask"></div></th>
                            <th id="lc_">Location<div class="sortMask"></div></th>
                            <th id="actperform_">Activity Performed<div class="sortMask"></div></th>
                            <th id="dtr_">Date<div class="sortMask"></div></th>
                            <th id="tr_">Target<div class="sortMask"></div></th>
                            <th id="act_">Actual<div class="sortMask"></div></th>
                            <th id="ach_">Achievement/Availability %<div class="sortMask"></div></th>
                        {% elseif corrosionType == "ca-cd-ch" %}
                            <th id="pt_">Platform/Plant<div class="sortMask"></div></th>
                            <th id="lc_">Location<div class="sortMask"></div></th>
                            <th id="actperform_">Activity Performed<div class="sortMask"></div></th>
                            <th id="dtr_">Date<div class="sortMask"></div></th>
                            <th id="gp_">Gas Production mmscf/day<div class="sortMask"></div></th>
                            <th id="gp_">Total Liquids Production bbl/day<div class="sortMask"></div></th>
                            <th id="gp_">Recommended Gas Based Dosage L/mmscf<div class="sortMask"></div></th>
                            <th id="tcd_">Target Chemical Dosage L/day<div class="sortMask"></div></th>
                            <th id="tcdp_">Target Chemical Concentration ppm<div class="sortMask"></div></th>
                            <th id="acd_">Actual Chemical Dosage L/day<div class="sortMask"></div></th>
                            <th id="acdp_">Actual Chemical Concentration ppmv<div class="sortMask"></div></th>
                            <th id="cia_">Chemical Availability %<div class="sortMask"></div></th>
                            <th id="vi_">Volume Injected Against Volume Required %<div class="sortMask"></div></th>
                            <th id="ptci_">Percentage Time Chemical Target Reached %<div class="sortMask"></div></th>
                        {% elseif corrosionType == "cp" %}
                            <th id="dti_">Location<div class="sortMask"></div></th>
                            <th id="actperform_">Activity Performed<div class="sortMask"></div></th>
                            <th id="dtr_">Date<div class="sortMask"></div></th>
                            <th id="on_">'ON' Potential mV<div class="sortMask"></div></th>
                            <th id="off_">'OFF' Potential mV<div class="sortMask"></div></th>
                        {% elseif corrosionType == "ca" %}
                            <th id="pt_">Platform/Plant<div class="sortMask"></div></th>
                            <th id="dti_">Location<div class="sortMask"></div></th>
                            <th id="actperform_">Activity Performed<div class="sortMask"></div></th>
                            <th id="dtr_">Date<div class="sortMask"></div></th>
                            {%  if ',' in corrosion_activity_entities.ba_controltitle %}
                                {%  set activityTitle =  corrosion_activity_entities.ba_controltitle|split(",") %}
                                <th id="ct_">{{ activityTitle[0]|ucwords }}, {{ activityTitle[1] }}<div class="sortMask"></div></th>
                            {% else %}
                                <th id="ct_">{{ corrosion_activity_entities.ba_controltitle|ucwords }}<div class="sortMask"></div></th>
                            {%  endif %}
                        {% endif %}
                    </tr>
                </thead>
                <thead class="filters">
                    <tr style="background-color: #DDDDDD">
                    <th class="clsSelectAll">selectall</th>
                    {% if corrosionType == "pr" %}
                        <th id="dti_">Location</th>
                        <th id="tr_">Train</th>
                        <th id="fm_">Field Manifold</th>
                        <th id="sm_">Station Manifold</th>
                        <th id="dt_">Date</th>
                        <th id="gp_">Gas Production mmscf/day</th>
                        <th id="op_">Oil Production bbl/day</th>
                        <th id="cp_">Condensate Production bbl/day</th>
                        <th id="wp_">Water Production bbl/day</th>
                        <th id="tp_">Total Production bbl/day</th>
                        <th id="wc_">Water Cut %</th>
                        <th id="go_">GOR scf/STB</th>
                        <th id="sa_">Salinity ppm</th>
                        <th id="h2_">H2S mol%</th>
                        <th id="co_">CO2 mol%</th>
                        <th id="us_">USP psig</th>
                        <th id="ds_">DSP psig</th>
                        <th id="ust_">UST ° Celsius</th>
                        <th id="esp_ops_">ESP OPS Frequency Hz</th>
                        <th id="esp_in_">ESP Intake Pressure psig</th>
                        <th id="esp_dis_">ESP Discharge Pressure psig</th>
                    {% elseif corrosionType == "g" %}
                        <th id="pt_">Platform/Plant</th>
                        <th id="dti_">Location</th>
                        <th id="actperform_">Activity Performed</th>
                        <th id="iw_">Coupon Holder Tag No</th>
                        <th id="rw_">Coupon Type</th>
                        <th id="dtr_">Date Retrieved</th>
                        <th id="dti_">Date Installed</th>
                        <th id="iw_">Installation Weight g</th>
                        <th id="rw_">Retrieval Weight g</th>
                        <th id="gc_">General Corrosion Rate mmpy</th>
                        <th id="avgmmpy_">Average Corrosion Rate mmpy</th>
                        <th id="avgmpy_">Average Corrosion Rate mpy</th>
                    {% elseif corrosionType == "p" %}
                        <th id="pt_">Platform/Plant</th>
                        <th id="dti_">Location</th>
                        <th id="actperform_">Activity Performed</th>
                        <th id="iw_">Coupon Holder Tag No</th>
                        <th id="rw_">Coupon Type</th>
                        <th id="dt_">Date</th>
                        <th id="dti_">Date Installed</th>
                        <th id="depth_">Depth of Deepest Pit mm</th>
                        <th id="gc_">General Corrosion Rate mmpy</th>
                        <th id="avgmmpy_">Average Corrosion Rate mmpy</th>
                        <th id="avgmpy_">Average Corrosion Rate mpy</th>
                    {% elseif corrosionType == "ca-cd-oh" %}
                        <th id="pt_">Platform/Plant</th>
                        <th id="lc_">Location</th>
                        <th id="actperform_">Activity Performed</th>
                        <th id="dtr_">Date</th>
                        <th id="tr_">Target</th>
                        <th id="act_">Actual</th>
                        <th id="ach_">Achievement/Availability %</th>
                    {% elseif corrosionType == "ca-cd-ch" %}
                        <th id="pt_">Platform/Plant</th>
                        <th id="lc_">Location</th>
                        <th id="actperform_">Activity Performed</th>
                        <th id="dtr_">Date</th>
                        <th id="gp_">Gas Production mmscf/day</th>
                        <th id="gp_">Total Liquids Production bbl/day</th>
                        <th id="gp_">Recommended Gas Based Dosage L/mmscf</th>
                        <th id="tcd_">Target Chemical Dosage L/day</th>
                        <th id="tcdp_">Target Chemical Concentration ppmv</th>
                        <th id="acd_">Actual Chemical Dosage L/day</th>
                        <th id="acdp_">Actual Chemical Concentration ppm</th>
                        <th id="cia_">Chemical Availability %</th>
                        <th id="vi_">Volume Injected Against Volume Required %</th>
                        <th id="ptci_">Percentage Time Chemical Target Reached %</th>
                    {% elseif corrosionType == "ca" %}
                        <th id="pt_">Platform/Plant</th>
                        <th id="lc_">Location</th>
                        <th id="actperform_">Activity Performed</th>
                        <th id="dtr_">Date</th>
                        {%  if ',' in corrosion_activity_entities.ba_controltitle %}
                            {%  set activityTitle =  corrosion_activity_entities.ba_controltitle|split(",") %}
                            <th id="ct_">{{ activityTitle[0]|ucwords }}, {{ activityTitle[1] }}</th>
                        {% else %}
                            <th id="ct_">{{ corrosion_activity_entities.ba_controltitle|ucwords }}</th>
                        {%  endif %}
                    {% elseif corrosionType == "cp" %}
                        <th id="lc_">Location</th>
                        <th id="actperform_">Activity Performed</th>
                        <th id="dtr_">Date</th>
                        <th id="on_">'ON' Potential mV</th>
                        <th id="off_">'OFF' Potential mV</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                    {% set templocation = 0 %}
                    {% set tempdate = "" %}
                    {% set counter = 0 %}

                    {% for entity in corrosion_datasheet_locations %}

                        {% if corrosionType != "pr" %}

                            {% if templocation == entity.locationid %}
                                {% set counter = counter + 1 %}
                            {% else %}
                                {% set counter = 1 %}
                            {% endif %}

                            {% set amberselected = '' %}
                            {% set greenselected = '' %}
                            {% set redselected = '' %}

                            {% if entity.activityperformed is defined %}
                                {% if entity.activityperformed == 'G' %}
                                    {% set greenselected = 'selected' %}
                                {% elseif entity.activityperformed == 'A' %}
                                    {% set amberselected = 'selected' %}
                                {% elseif entity.activityperformed == 'R' %}
                                    {% set redselected = 'selected' %}
                                {% endif %}
                            {% endif %}
                        {% endif %}

                        {% if corrosionType == "g" and counter >=1 and counter <=2 %}
                            <tr>
                                {% if templocation != entity.locationid %}
                                    <td><input type="checkbox" id="id[]" name="id" value="{{ entity.id }}" /></td>
                                    <td>{{ entity.platformplant }}</td>
                                    <td>{{ entity.location }}</td>
                                    <td>{% if entity.datasheet_id is defined and entity.datasheet_id > 0 %}<select class="activityclass" id="activityperformed[]" name="{{ entity.id }}"><option value="NULL">Select</option><option value="G_{{ entity.id }}_{{ entity.datasheet_id }}" {{ greenselected }}>Completed</option><option value="R_{{ entity.id }}_{{ entity.datasheet_id }}" {{ redselected }}>Incomplete</option><option value="A_{{ entity.id }}_{{ entity.datasheet_id }}" {{ amberselected }}>Planned but not done</option></select>{% else %}-{% endif %}</td>
                                    <td>{{ entity.couponholdertagno }}</td>
                                    <td>{{ entity.coupontype }}</td>
                                    <td>{{ entity.dateretrieval }}</td>
                                    <td>{%  if entity.dateinstalled != '30 Nov -0001' %} {{ entity.dateinstalled }} {% endif %}</td>
                                {% else %}
                                    <td><span style="display: none;"><input type="checkbox" id="id[]" name="id" value="{{ entity.id }}" /></span></td>
                                    <td><span style="display: none;">{{ entity.platformplant }}</span></td>
                                    <td><span style="display: none;">{{ entity.location }}</span></td>
                                    <td>&nbsp;</td>
                                    <td><span style="display: none;">{{ entity.couponholdertagno }}</span></td>
                                    <td><span style="display: none;">{{ entity.coupontype }}</span></td>
                                    <td><span style="display: none;">{{ entity.dateretrieval }}</span></td>
                                    <td><span style="display: none;">{%  if entity.dateinstalled != '30 Nov -0001' %} {{ entity.dateinstalled }} {% endif %}</span></td>
                                {% endif %}
                                <td>{{ entity.retrievalweight }}</td>
                                <td>{{ entity.installationweight }}</td>
                                <td>{{ entity.generalcorrosionratemmpy }}</td>
                                {% if templocation != entity.locationid %}
                                    <td>{{ entity.averagecorrosionratemmpy }}</td>
                                    <td>{{ entity.averagecorrosionratempy }}</td>
                                {% else %}
                                    <td><span style="display: none;">{{ entity.averagecorrosionratemmpy }}</span></td>
                                    <td><span style="display: none;">{{ entity.averagecorrosionratempy }}</span></td>
                                {% endif %}
                            </tr>
                        {% elseif corrosionType == "p" and counter >=1 and counter <=2 %}
                            <tr>
                                {% if templocation != entity.locationid %}
                                    <td><input type="checkbox" id="id[]" name="id" value="{{ entity.id }}" /></td>
                                    <td>{{ entity.platformplant }}</td>
                                    <td>{{ entity.location }}</td>
                                    <td>{% if entity.datasheet_id is defined and entity.datasheet_id > 0 %}<select class="activityclass" id="activityperformed[]" name="{{ entity.id }}"><option value="NULL">Select</option><option value="G_{{ entity.id }}_{{ entity.datasheet_id }}" {{ greenselected }}>Completed</option><option value="R_{{ entity.id }}_{{ entity.datasheet_id }}" {{ redselected }}>Incomplete</option><option value="A_{{ entity.id }}_{{ entity.datasheet_id }}" {{ amberselected }}>Planned but not done</option></select>{% else %}-{% endif %}</td>
                                    <td>{{ entity.couponholdertagno }}</td>
                                    <td>{{ entity.coupontype }}</td>
                                    <td>{{ entity.dateretrieval }}</td>
                                    <td>{%  if entity.dateinstalled != '30 Nov -0001' %} {{ entity.dateinstalled }} {% endif %}</td>
                                {% else %}
                                    <td><span style="display: none;"><input type="checkbox" id="id[]" name="id" value="{{ entity.id }}" /></span></td>
                                    <td><span style="display: none;">{{ entity.platformplant }}</span></td>
                                    <td><span style="display: none;">{{ entity.location }}</span></td>
                                    <td>&nbsp;</td>
                                    <td><span style="display: none;">{{ entity.couponholdertagno }}</span></td>
                                    <td><span style="display: none;">{{ entity.coupontype }}</span></td>
                                    <td><span style="display: none;">{{ entity.dateretrieval }}</span></td>
                                    <td><span style="display: none;">{%  if entity.dateinstalled != '30 Nov -0001' %} {{ entity.dateinstalled }} {% endif %}</span></td>
                                {% endif %}
                                <td>{{ entity.depthpit }}</td>
                                <td>{{ entity.pittingratemmpy }}</td>
                                {% if templocation != entity.locationid %}
                                    <td>{{ entity.averagepittingratemmpy }}</td>
                                    <td>{{ entity.averagepittingratempy }}</td>
                                {% else %}
                                    <td><span style="display: none;">{{ entity.averagepittingratemmpy }}</span></td>
                                    <td><span style="display: none;">{{ entity.averagepittingratempy }}</span></td>
                                {% endif %}
                            </tr>
                        {% elseif corrosionType == "ca" %}
                            {% if templocation != entity.locationid %}
                                <tr>
                                    <td><input type="checkbox" id="id[]" name="id" value="{{ entity.id }}" /></td>
                                    <td>{{ entity.platformplant }}</td>
                                    <td>{{ entity.location }}</td>
                                    <td>{% if entity.datasheet_id is defined and entity.datasheet_id > 0 %}<select class="activityclass" id="activityperformed[]" name="{{ entity.id }}"><option value="NULL">Select</option><option value="G_{{ entity.id }}_{{ entity.datasheet_id }}" {{ greenselected }}>Completed</option><option value="R_{{ entity.id }}_{{ entity.datasheet_id }}" {{ redselected }}>Incomplete</option><option value="A_{{ entity.id }}_{{ entity.datasheet_id }}" {{ amberselected }}>Planned but not done</option></select>{% else %}-{% endif %}</td>
                                    <td>{{ entity.dateretrieval }}</td>
                                    <td>{{ entity.controlactivityvalue }}</td>
                                </tr>
                            {% endif %}
                        {% elseif corrosionType == "cp" %}
                            <tr>
                                <td><input type="checkbox" id="id[]" name="id" value="{{ entity.id }}" /></td>
                                <td>{{ entity.location }}</td>
                                <td>{% if entity.datasheet_id is defined and entity.datasheet_id > 0 %}<select class="activityclass" id="activityperformed[]" name="{{ entity.id }}"><option value="NULL">Select</option><option value="G_{{ entity.id }}_{{ entity.datasheet_id }}" {{ greenselected }}>Completed</option><option value="R_{{ entity.id }}_{{ entity.datasheet_id }}" {{ redselected }}>Incomplete</option><option value="A_{{ entity.id }}_{{ entity.datasheet_id }}" {{ amberselected }}>Planned but not done</option></select>{% else %}-{% endif %}</td>
                                <td>{{ entity.dateretrieval }}</td>
                                <td>{{ entity.onpotential }}</td>
                                <td>{{ entity.offpotential }}</td>
                            </tr>
                        {% elseif corrosionType == "pr" %}
                            <tr>
                                <td><input type="checkbox" id="id[]" name="id" value="{{ entity.id }}" /></td>
                                <td>{{ entity.location }}</td>
                                <td>{{ entity.train }}</td>
                                <td>{{ entity.fieldmanifold }}</td>
                                <td>{{ entity.stationmanifold }}</td>
                                <td>{% if entity.dateretrieval != "-" %} <span>{{ entity.dateretrieval | date('Ymd') }}</span>{{ entity.dateretrieval }}{% endif %}</td>
                                <td>{% if entity.gasproductionmmscfday != "" %} {{ entity.gasproductionmmscfday }} {% else %} - {% endif %}</td>
                                <td>{% if entity.oilproductionbblday != "" %} {{ entity.oilproductionbblday }} {% else %} - {% endif %}</td>
                                <td>{% if entity.condensateproductionbblday != "" %} {{ entity.condensateproductionbblday }} {% else %} - {% endif %}</td>
                                <td>{% if entity.waterproductionbblday != "" %} {{ entity.waterproductionbblday }} {% else %} - {% endif %}</td>
                                <td>{% if entity.totalproductionbblday != "" %} {{ entity.totalproductionbblday }} {% else %} - {% endif %}</td>
                                <td>{% if entity.watercutpercentage != "" %} {{ entity.watercutpercentage }} {% else %} - {% endif %}</td>
                                <td>{% if entity.gorscfstb != "" %} {{ entity.gorscfstb }} {% else %} - {% endif %}</td>
                                <td>{% if entity.salinityppm != "" %} {{ entity.salinityppm }} {% else %} - {% endif %}</td>
                                <td>{% if entity.htwosmolpercentage != "" %} {{ entity.htwosmolpercentage }} {% else %} - {% endif %}</td>
                                <td>{% if entity.cotwomolpercentage != "" %} {{ entity.cotwomolpercentage }} {% else %} - {% endif %}</td>
                                <td>{% if entity.usppsig != "" %} {{ entity.usppsig }} {% else %} - {% endif %}</td>
                                <td>{% if entity.dsppsig != "" %} {{ entity.dsppsig }} {% else %} - {% endif %}</td>
                                <td>{% if entity.ustdegreecelsius != "" %} {{ entity.ustdegreecelsius }} {% else %} - {% endif %}</td>
                                <td>{% if entity.espopsfrequencyhz != "" %} {{ entity.espopsfrequencyhz }} {% else %} - {% endif %}</td>
                                <td>{% if entity.espintakepressurepsig != "" %} {{ entity.espintakepressurepsig }} {% else %} - {% endif %}</td>
                                <td>{% if entity.espdischargepressurepsig != "" %} {{ entity.espdischargepressurepsig }} {% else %} - {% endif %}</td>
                            </tr>
                        {% elseif corrosionType == "ca-cd-oh" %}
                            {% if templocation != entity.locationid %}
                                <tr>
                                    <td><input type="checkbox" id="id[]" name="id" value="{{ entity.id }}" /></td>
                                    <td>{{ entity.platformplant }}</td>
                                    <td>{{ entity.location }}</td>
                                    <td>{% if entity.datasheet_id is defined and entity.datasheet_id > 0 %}<select class="activityclass" id="activityperformed[]" name="{{ entity.id }}"><option value="NULL">Select</option><option value="G_{{ entity.id }}_{{ entity.datasheet_id }}" {{ greenselected }}>Completed</option><option value="R_{{ entity.id }}_{{ entity.datasheet_id }}" {{ redselected }}>Incomplete</option><option value="A_{{ entity.id }}_{{ entity.datasheet_id }}" {{ amberselected }}>Planned but not done</option></select>{% else %}-{% endif %}</td>
                                    <td>{{ entity.dateretrieval }}</td>
                                    <td>{{ entity.control_activity_value }}</td>
                                    <td>{{ entity.control_activity_actual_value }}</td>
                                    <td>{{ entity.control_activity_achievement_value }}</td>
                                </tr>
                            {% endif %}
                        {% elseif corrosionType == "ca-cd-ch" %}
                            {% if templocation != entity.locationid %}
                                <tr>
                                    <td><input type="checkbox" id="id[]" name="id" value="{{ entity.id }}" /></td>
                                    <td>{{ entity.platformplant }}</td>
                                    <td>{{ entity.location }}</td>
                                    <td>{% if entity.datasheet_id is defined and entity.datasheet_id > 0 %}<select class="activityclass" id="activityperformed[]" name="{{ entity.id }}"><option value="NULL">Select</option><option value="G_{{ entity.id }}_{{ entity.datasheet_id }}" {{ greenselected }}>Completed</option><option value="R_{{ entity.id }}_{{ entity.datasheet_id }}" {{ redselected }}>Incomplete</option><option value="A_{{ entity.id }}_{{ entity.datasheet_id }}" {{ amberselected }}>Planned but not done</option></select>{% else %}-{% endif %}</td>
                                    <td>{{ entity.dateretrieval }}</td>
                                    <td>{{ entity.gas_production_mmscf_per_day }}</td>
                                    <td>{{ entity.total_production_bbl_per_day }}</td>
                                    <td>{{ entity.recommended_gas_dosage_litre_per_mmscf }}</td>
                                    <td>{{ entity.target_ci_dosage_litre_per_day }}</td>
                                    <td>{{ entity.target_ci_concentration_ppm }}</td>
                                    <td>{{ entity.actual_ci_dosage_litre_per_day }}</td>
                                    <td>{{ entity.actual_ci_concentration_ppm }}</td>
                                    <td>{{ entity.ci_percentage_availability }}</td>
                                    <td>{{ entity.vol_inject_vs_vol_req_percentage }}</td>
                                    <td>{{ entity.per_time_ci_target_reach_percentage }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        {% if entity.locationid > 0 %}
                        {% set templocation = entity.locationid %}
                        {% endif %}
                    {% endfor %}
                </tbody>
                </form>
            </table>
        </div>
        <br />
        {% if corrosionType == "pr" %}
            <form id="frmDatasheet" name="frmDatasheet" method="post">
                <input type="hidden" id="hidGroupId" name="hidGroupId">
                <div class="pull-right">
                    <a class="btn btn-default" href="{{ path('cms_subproject_activitymitigationstatus', { 'projectId': projectId, 'subprojectId' : subprojectId, 'systemId': systemId }) }}" role="button">Back</a>&nbsp;&nbsp;

                    {% if showMitStatTrendDatasheetsEdHiExcel %}
                        <a id="{{ activityId }}_export" class="btn btn-export-excel exportCorrosionDatasheetHistory" href="#" role="button">Export to excel</a>
                    {% else %}
                        <a id="{{ activityId }}_export" class="btn btn-default" href="#" role="button">Export to excel</a>
                    {% endif %}

                    {% if showMitStatTrendDatasheetsEdHiAdd %}
                        <a id="add_{{ activityId }}_{{ varPassCI }}" class="btn btn-add-green addCorrosionDatasheet" role="button">Add</a>&nbsp;&nbsp;
                    {% else %}
                        <a id="add_{{ activityId }}_{{ varPassCI }}" class="btn btn-default" role="button">Add</a>&nbsp;&nbsp;
                    {% endif %}

                    {% if showMitStatTrendDatasheetsEdHiSh %}
                        <a id="{{ activityId }}_{{ varPassCI }}" role="button" class="btn btn-edit-yellow editCorrosionDatasheetHistory">Edit/History</a>&nbsp;&nbsp;
                    {% else %}
                        <a id="{{ activityId }}_{{ varPassCI }}" role="button" class="btn btn-default">Edit/History</a>&nbsp;&nbsp;
                    {% endif %}

                    {% if showMitStatTrendDatasheetsGrSh %}
                        <a id="{{ activityId }}_{{ varPassCI }}" role="button" class="btn btn-view-graph graphLocationCorrosionDatasheet">Graph</a>&nbsp;&nbsp;
                    {% else %}
                        <a id="{{ activityId }}_{{ varPassCI }}" role="button" class="btn btn-default">Graph</a>&nbsp;&nbsp;
                    {% endif %}

                    {% if showMitStatTrendDatasheetsBack %}
                        <a id="submitcorrosionbutton" class="btn btn-primary submitcorrosion" href="#" role="button" onclick="document.getElementById('frmCorrosionActivityD').submit();">Save</a>
                    {% else %}
                        <a class="btn btn-default" href="#" role="button">Save</a>
                    {% endif %}

                </div>
            </form>
        {% else %}
            <div class="pull-right">
                <a class="btn btn-default" href="{{ path('cms_subproject_activitymitigationstatus', { 'projectId': projectId, 'subprojectId' : subprojectId, 'systemId': systemId }) }}" role="button">Back</a>
                {% if showMitStatTrendDatasheetsEdHiExcel %}
                    <a id="{{ activityId }}_{{ varPassCI }}" class="btn btn-export-excel exportCorrosionDatasheetHistory" href="#" role="button">Export to excel</a>
                {% else %}
                    <a id="{{ activityId }}_{{ varPassCI }}" class="btn btn-default" href="#" role="button">Export to excel</a>
                {% endif %}

                {% if showMitStatTrendDatasheetsEdHiAdd %}
                    <a id="add_{{ activityId }}_{{ varPassCI }}" class="btn btn-add-green addCorrosionDatasheet" role="button">Add</a>&nbsp;&nbsp;
                {% else %}
                    <a id="add_{{ activityId }}_{{ varPassCI }}" class="btn btn-default" role="button">Add</a>&nbsp;&nbsp;
                {% endif %}

                {% if showMitStatTrendDatasheetsEdHiSh %}
                    <a id="{{ activityId }}_{{ varPassCI }}" role="button" class="btn btn-edit-yellow editCorrosionDatasheetHistory">Edit/History</a>&nbsp;&nbsp;
                {% else %}
                    <a id="{{ activityId }}_{{ varPassCI }}" role="button" class="btn btn-default">Edit/History</a>&nbsp;&nbsp;
                {% endif %}

                {% if showMitStatTrendDatasheetsGrSh %}
                    <a id="{{ activityId }}_{{ varPassCI }}" role="button" class="btn btn-view-graph graphLocationCorrosionDatasheet">Graph</a>&nbsp;&nbsp;
                {% else %}
                    <a id="{{ activityId }}_{{ varPassCI }}" role="button" class="btn btn-default">Graph</a>&nbsp;&nbsp;
                {% endif %}

                {% if showMitStatTrendDatasheetsBack %}
                    <a id="submitcorrosionbutton" class="btn btn-primary submitcorrosion" href="#" role="button">Save</a>
                {% else %}
                    <a class="btn btn-default" href="#" role="button">Save</a>
                {% endif %}
            </div>
        {% endif %}
        <div style="clear:both;"></div>
        {% if corrosionType == "ca-cd-ch" %}
            <br/>
            <table class="table dl-horizontal">
                <tr style="background-color: #DDDDDD; height:40px;"><TD><h4>Average Availability</h4></TD></tr>
            </table>
            <div class="Scrollable_Wrapper">
                <table id="average" class="table table-bordered table-striped table-hover table-responsive table-grid-head-average" cellspacing="0" width="100%">
                <thead class="table-grid-head-average-row">
                    <tr style="background-color: #DDDDDD">
                        <th id="selectall"><input name="select_all" value="1" type="checkbox"></th>
                        <th id="pt_">Platform/Plant<div class="sortMask"></div></th>
                        <th id="lc_">Location<div class="sortMask"></div></th>
                        <th id="fd_">From Date<div class="sortMask"></div></th>
                        <th id="td_">To Date<div class="sortMask"></div></th>
                        <th id="cipa_">Chemical Availability, %<div class="sortMask"></div></th>
                        <th id="viavrp_">Volume Injected Against Volume Required, %<div class="sortMask"></div></th>
                        <th id="ptctrp_">Percentage Time Chemical Target Reached, %<div class="sortMask"></div></th>
                    </tr>
                </thead>
                <thead class="average-filters">
                    <tr>
                        <th class="clsSelectAll">selectall</th>
                        <th id="pt_">Platform/Plant</th>
                        <th id="lc_">Location</th>
                        <th id="fd_">From Date</th>
                        <th id="td_">To Date</th>
                        <th id="cipa_">Chemical Availability, %</th>
                        <th id="viavrp_">Volume injected against volume required, %</th>
                        <th id="ptctrp_">Percentage Time Chemical Target Reached, %</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in corrosion_datasheet_inhibitor_locations %}
                    <tr>
                        <td><input type="checkbox" id="id[]" name="id" value="{{ entity.id }}" /></td>
                        <td>{{ entity.platformplant }}</td>
                        <td>{{ entity.location }}</td>
                        <td>{{ entity.from_date }}</td>
                        <td>{{ entity.to_date }}</td>
                        <td>{{ entity.corrosion_inhibitor_percentage_availability }}</td>
                        <td>{{ entity.vol_inject_vs_vol_req_percentage }}</td>
                        <td>{{ entity.per_time_ci_target_reach_percentage }}</td>
                    </tr>
                {% endfor %}
                </tr>
                </tbody>
            </table>
            </div>
            <br />
            {% set varPassAverage = 'average' %}
            <div class="pull-right">
                <a class="btn btn-default" href="{{ path('cms_subproject_activitymitigationstatus', { 'projectId': projectId, 'subprojectId' : subprojectId, 'systemId': systemId }) }}" role="button">Back</a>
                {% if corrosionType == "ca-cd-ch" %}
                    {% if showMitStatTrendDatasheetsEdHiExcel %}
                        <a id="{{ activityId }}_average" class="btn btn-export-excel exportCorrosionDatasheetHistoryAverage" href="#" role="button">Export to excel</a>&nbsp;&nbsp;
                    {% else %}
                        <a id="{{ activityId }}_average" class="btn btn-export-excel" href="#" role="button">Export to excel</a>&nbsp;&nbsp;
                    {% endif %}
                {% else %}
                    {% if showMitStatTrendDatasheetsEdHiExcel %}
                        <a id="{{ activityId }}_export" class="btn btn-export-excel exportCorrosionDatasheetHistory" href="#" role="button">Export to excel</a>
                    {% else %}
                        <a id="{{ activityId }}_export" class="btn btn-default" href="#" role="button">Export to excel</a>
                    {% endif %}
                {% endif %}
                {% if showMitStatTrendDatasheetsEdHiAdd %}
                    <a id="add_{{ activityId }}_{{ varPassAverage }}" class="btn btn-add-green addCorrosionDatasheetAverage" role="button">Add</a>&nbsp;&nbsp;
                {% else %}
                    <a id="add_{{ activityId }}_{{ varPassAverage }}" class="btn btn-add-green" role="button">Add</a>&nbsp;&nbsp;
                {% endif %}
                {% if showMitStatTrendDatasheetsEdHiSh %}
                    <a id="{{ activityId }}_average" role="button" class="btn btn-edit-yellow editCorrosionDatasheetHistoryAverage">Edit/History</a>&nbsp;&nbsp;
                {% else %}
                    <a id="{{ activityId }}_average" role="button" class="btn btn-edit-yellow">Edit/History</a>&nbsp;&nbsp;
                {% endif %}
                {% if showMitStatTrendDatasheetsGrSh %}
                    <a id="{{ activityId }}_average" role="button" class="btn btn-view-graph graphLocationCorrosionDatasheetAverage">Graph</a>&nbsp;
                {% else %}
                    <a id="{{ activityId }}_average" role="button" class="btn btn-view-graph">Graph</a>&nbsp;
                {% endif %}
                {% if showMitStatTrendDatasheetsBack %}
                    <a id="submitcorrosionbutton" class="btn btn-primary submitcorrosion" href="#" role="button" onclick="javascript:document.getElementById('frmCorrosionActivityD').submit();">Save</a>
                {% else %}
                    <a class="btn btn-default" href="#" role="button">Save</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <input type="hidden" id="systemId" name="systemId" value="{{ systemId }}">
{% endblock %}


