{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/grid220/pqgrid.min.css') }}">
    <style>
        table.pq-grid-header-table
        {
            background: #D4D4D4;font-weight: bold;
        }
        div.pq-grid *
        {
            font-size: 14px;
            font-family: Arial;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/grid220/pqgrid.min.js') }}"></script>
    <script src="{{ asset('assets/js/moment.js') }}"></script>
    <script type="text/javascript">

        var activity = "{{ activityTitle }}";

        var projectId = {{  projectId }};
        var subprojectId = {{ subprojectId  }};

        var corrosionType = "{{ corrosionType }}";
        var pageType = "{{  pageType }}";
        var productionLocation = "{{ productionLocation }}";

        $(function () {

            var data = {{ corrosion_datasheet_locations|raw }};

            if (pageType == "normal")
            {
                var titleStr = "";
                var obj = {
                    width: "100%-2",
                    resizable: true,
                    title: titleStr,
                    showBottom: false,
                    editModel: {
                        clicksToEdit: 2,
                        filterKeys: true,
                        keyUpDown: true,
                        saveKey: $.ui.keyCode.ENTER,
                    },
                    //editor: { select: true },
                    numberCell: {show: false},
                    scrollModel: {autoFit: true},
                    selectionModel: { type: 'cell'},
                    strNoRows: 'Copy/Paste Row data from Excel',
                };
                if (corrosionType == "g")
                {
                    var coupontypearea = data[1]['coupontypearea'];

                    var coupontypedensity = data[1]['coupontypedensity'];

                    //obj.columnTemplate = { minWidth: '10%', maxWidth: '80%' };
                    var colModel = [
                        {title: "actid", dataType: "string", dataIndx: "actid", hidden: true},
                        {
                            title: "Platform/Plant",
                            dataType: "string",
                            dataIndx: "platformplant",
                            width: 10,
                            minWidth: 10,
                            sortable: false,
                            editable: false,
                            align:"left"
                        },
                        {title: "Location", dataType: "string", dataIndx: "location", width: 10, minWidth: 10, sortable: false, editable: false, align:"left"},
                        {
                            title: "Coupon Holder Tag No",
                            dataType: "string",
                            align: "right",
                            dataIndx: "couponholdertagno",
                            width: 10,
                            minWidth: 10,
                            sortable: false,
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Coupon Type",
                            dataType: "string",
                            align: "right",
                            dataIndx: "coupontype",
                            width: 10,
                            minWidth: 10,
                            sortable: false,
                            editable: true,
                            align:"left"
                        },
                        {title: "Coupon Serial No", width: 10, minWidth: 10, dataIndx: "couponserialno", sortable: false, editable: true, align:"left"},
                        {title: "Date Retrieved (DD-MMM-YYYY)*", width: 10, minWidth: 10, dataIndx: "dateretrieval", sortable: false, editable: true, align:"left"},
                        {title: "Date Installed (DD-MMM-YYYY)", width: 10, minWidth: 10, dataIndx: "dateinstalled", sortable: false, editable: true, align:"left"},
                        {title: "Retrieval Weight g", width: 10, minWidth: 10, dataIndx: "retrievalweight", sortable: false, editable: true, align:"left"},
                        {title: "Installation Weight g", width: 10, minWidth: 10, dataIndx: "installationweight", sortable: false, editable: true, align:"left"},
                        {
                            title: "General Corrosion Rate mmpy",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "generalcorrosionratemmpy",
                            sortable: false,
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Average Corrosion Rate mmpy*",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "averagecorrosionratemmpy",
                            sortable: false,
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Average Corrosion Rate mpy",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "averagecorrosionratempy",
                            sortable: false,
                            editable: true,
                            align:"left"
                        },
                    ];
                }
                else if (corrosionType == "p")
                {

                    var coupontypearea = data[1]['coupontypearea'];

                    var coupontypedensity = data[1]['coupontypedensity'];

                    //obj.columnTemplate = { minWidth: '10%', maxWidth: '80%' };
                    var colModel = [
                        {title: "actid", dataType: "string", dataIndx: "actid", hidden: true},
                        {
                            title: "Platform/Plant",
                            dataType: "string",
                            dataIndx: "platformplant",
                            width: 10,
                            minWidth: 10,
                            sortable: false,
                            editable: false,
                            align:"left"
                        },
                        {title: "Location", dataType: "string", dataIndx: "location", width: 10, minWidth: 10, sortable: false, editable: false},
                        {
                            title: "Coupon Holder Tag No",
                            dataType: "string",
                            align: "right",
                            dataIndx: "couponholdertagno",
                            width: 10,
                            minWidth: 10,
                            sortable: false,
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Coupon Type",
                            dataType: "string",
                            align: "right",
                            dataIndx: "coupontype",
                            width: 10,
                            minWidth: 10,
                            sortable: false,
                            editable: true,
                            align:"left"
                        },
                        {title: "Coupon Serial No", width: 10, minWidth: 10, dataIndx: "couponserialno", sortable: false, editable: true, align:"left"},
                        {title: "Date Retrieved (DD-MMM-YYYY)*", width: 10, minWidth: 10, dataIndx: "dateretrieval", sortable: false, editable: true, align:"left"},
                        {title: "Date Installed (DD-MMM-YYYY)", width: 10, minWidth: 10, dataIndx: "dateinstalled", sortable: false, editable: true, align:"left"},
                        {title: "Depth Deepest Pit mm", width: 10, minWidth: 10, dataIndx: "depthpit", sortable: false, editable: true, align:"left"},
                        {
                            title: "Pitting Corrosion Rate mmpy",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "pittingratemmpy",
                            sortable: false,
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Average Pitting Corrosion Rate mmpy*",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "averagepittingratemmpy",
                            sortable: false,
                            editable: true,
                            align:"left"
                        },
                        {title: "Average Pitting Corrosion Rate mpy", width: 10, minWidth: 10, dataIndx: "averagepittingratempy", sortable: false, editable: true, align:"left"},
                    ];

                }
                else if (corrosionType == "ca")
                {

                    //obj.columnTemplate = { minWidth: '10%', maxWidth: '80%' };
                    var colModel = [
                        {title: "actid", dataType: "string", dataIndx: "actid", hidden: true},
                        {
                            title: "Platform/Plant",
                            dataType: "string",
                            dataIndx: "platformplant",
                            width: 10,
                            minWidth: 10,
                            sortable: false,
                            editable: false,
                            align:"left"
                        },
                        {title: "Location", dataType: "string", dataIndx: "location", width: 10, minWidth: 10, sortable: false, editable: false, align:"left"},
                        {title: "Date (DD-MMM-YYYY)*", width: 10, minWidth: 10, dataIndx: "dateretrieval", sortable: false, editable: true, align:"left"},
                        {title: activity, width: 10, minWidth: 10, dataIndx: "controlactivityvalue", sortable: false, editable: true, align:"left"},
                    ];

                }
                else if (corrosionType == "cp")
                {

                    //obj.columnTemplate = { minWidth: '10%', maxWidth: '80%' };
                    var colModel = [
                        {title: "actid", dataType: "string", dataIndx: "actid", hidden: true},
                        {title: "Location", dataType: "string", dataIndx: "location", width: 10, minWidth: 10, sortable: false, editable: false, align:"left"},
                        {title: "Date (DD-MMM-YYYY)*", width: 10, minWidth: 10, dataIndx: "dateretrieval", sortable: false, editable: true, align:"left"},
                        {
                            title: "'ON' Potential mV*",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "onpotential",
                            sortable: false,
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "'OFF' Potential mV",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "offpotential",
                            sortable: false,
                            editable: true,
                            align:"left"
                        },
                    ];

                }
                else if (corrosionType == "pr")
                {

                    //obj.columnTemplate = { minWidth: '10%', maxWidth: '80%' };
                    var colModel = [
                        {title: "actid", dataType: "string", dataIndx: "actid", hidden: true},
                        {title: "Date (DD-MMM-YYYY)*", width: 10, minWidth: 10, dataIndx: "dateretrieval",editable: true},
                        {
                            title: "Gas Production mmscf/day",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "gasproductionmmscfday",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Oil Production bbl/day",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "oilproductionbblday",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Condensate Production bbl/day",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "condensateproductionbblday",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Water Production bbl/day",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "waterproductionbblday",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Total Liquid Produced bbl/day",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "totalproductionbblday",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Water Cut %",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "watercutpercentage",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "GOR scf/STB",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "gorscfstb",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Salinity ppm",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "salinityppm",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "H2S mol%",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "htwosmolpercentage",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "CO2 mol%",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "cotwomolpercentage",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "USP psig",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "usppsig",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "DSP psig",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "dsppsig",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "UST ° Celsius",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "ustdegreecelsius",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "ESP OPS Frequency Hz",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "espopsfrequencyhz",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "ESP Intake Pressure psig",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "espintakepressurepsig",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "ESP Discharge Pressure psig",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "espdischargepressurepsig",
                            editable: true,
                            align:"left"
                        },

                    ];

                }
                else if (corrosionType == "ca-cd-ch")
                {

                    //obj.columnTemplate = { minWidth: '10%', maxWidth: '80%' };
                    var colModel = [
                        {title: "actid", dataType: "string", dataIndx: "actid", hidden: true},
                        {
                            title: "Platform/Plant",
                            dataType: "string",
                            dataIndx: "platformplant",
                            width: 10,
                            minWidth: 10,
                            editable: false,
                            align:"left"
                        },
                        {title: "Location", dataType: "string", dataIndx: "location", width: 10, minWidth: 10, editable: false, align:"left"},
                        {title: "Date (DD-MMM-YYYY)*", width: 10, minWidth: 10, dataIndx: "dateretrieval", editable: true, align:"left"},
                        {
                            title: "Gas Production mmscf/day",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "gas_production_mmscf_day",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Total Liquids Production bbl/day",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "total_production_bbl_per_day",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Recommended Gas Based Dosage L/mmscf",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "recommended_gas_dosage_litre_per_mmscf",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Target Chemical Dosage L/day",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "target_ci_dosage_litre_per_day",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Target Chemical Concentration ppmv*",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "target_ci_concentration_ppm",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Actual Chemical Dosage L/day*",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "actual_ci_dosage_litre_per_day",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Actual Chemical Concentration ppmv",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "actual_ci_concentration_ppm",
                            align:"left"
                        },
                        {title: "Chemical Availability %", width: 10, minWidth: 10, dataIndx: "ci_percentage_availability", editable: true, align:"left"},
                        {
                            title: "Volume Injected Against Volume Required %",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "vol_inject_vs_vol_req_percentage",
                            editable: true,
                            align:"left"
                        },
                        {
                            title: "Percentage Time Chemical Target Reached %",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "per_time_ci_target_reach_percentage",
                            editable: true,
                            align:"left"
                        },
                    ];

                }
                else if (corrosionType == "ca-cd-oh")
                {

                    //obj.columnTemplate = { minWidth: '10%', maxWidth: '80%' };
                    var colModel = [
                        {title: "actid", dataType: "string", dataIndx: "actid", hidden: true},
                        {
                            title: "Platform/Plant",
                            dataType: "string",
                            dataIndx: "platformplant",
                            width: 10,
                            minWidth: 10,
                            editable: false,
                            align:"left"
                        },
                        {title: "Location", dataType: "string", dataIndx: "location", width: 10, minWidth: 10, editable: false, align:"left"},
                        {title: "Date (DD-MMM-YYYY)*", width: 10, minWidth: 10, dataIndx: "dateretrieval", editable: true, align:"left"},
                        {title: "Target", width: 10, minWidth: 10, dataIndx: "control_activity_value", editable: true, align:"left"},
                        {title: "Actual", width: 10, minWidth: 10, dataIndx: "control_activity_actual_value", editable: true, align:"left"},
                        {
                            title: "Achievement/Availability %*",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "control_activity_achievement_value",
                            editable: true,
                            align:"left"
                        },
                    ];

                }

                obj.colModel = colModel;
                if (corrosionType == "pr")
                {
                    obj.dataModel = {
                        location: "local",
                        sorting: "local",
                        sortIndx: "dateretrieval",
                        sortDir: "down"
                    };
                }
                else
                {
                    obj.dataModel = {
                        data: data,
                        location: "local",
                        sortDir: "up"
                    };

                }

                $("#grid_json_paste").pqGrid(obj);

            }
            else if(pageType == "average")
            {

                if (corrosionType == "ca-cd-ch")
                {

                    var obj = {
                        width: "100%-2",
                        resizable: true,
                        title: titleStr,
                        showBottom: false,
                        editModel: {
                            clicksToEdit: 2,
                            filterKeys: true,
                            keyUpDown: true,
                            saveKey: $.ui.keyCode.ENTER,
                        },
                        //editor: { select: true },
                        numberCell: {show: false},
                        scrollModel: {autoFit: true},
                        selectionModel: { type: 'cell'},
                        strNoRows: 'Copy/Paste Row data from Excel'
                    };

                    obj.dataModel = {
                        data: data,
                        location: "local",
                        sorting: "local",
                        sortIndx: "location",
                        sortDir: "down"
                    };

                    //obj.columnTemplate = { minWidth: '10%', maxWidth: '80%' };
                    var colobjModel = [
                        {title: "actid", dataType: "string", dataIndx: "actid", hidden: true},
                        {
                            title: "Platform/Plant",
                            dataType: "string",
                            dataIndx: "platformplant",
                            width: 10,
                            minWidth: 10,
                            editable: false
                        },
                        {title: "Location", dataType: "string", dataIndx: "location", width: 10, minWidth: 10, editable: false},
                        {title: "From Date (DD-MMM-YYYY)", width: 10, minWidth: 10, dataIndx: "from_date"},
                        {title: "To Date (DD-MMM-YYYY)*", width: 10, minWidth: 10, dataIndx: "to_date"},
                        {
                            title: "Chemical Availability %*",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "corrosion_inhibitor_availability_average"
                        },
                        {
                            title: "Volume Injected Against Volume Required %",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "vol_inject_vs_vol_req_percentage_average"
                        },
                        {
                            title: "Percentage Time Chemical Target Reached %",
                            width: 10,
                            minWidth: 10,
                            dataIndx: "per_time_ci_target_reach_percentage_average"
                        },
                    ];

                    obj.colModel = colobjModel;

                }
            }

            $("#grid_json_paste").pqGrid(obj);

            $("#grid_json_paste").on( "pqgridchange", function( event, ui ) {

                if (corrosionType == "g") {

                    var dataChanged = $("#grid_json_paste").pqGrid("getData", {dataIndx: ['actid', 'dateretrieval', 'installationweight', 'retrievalweight']});
                }
                else if (corrosionType == "p") {
                    var dataChanged = $("#grid_json_paste").pqGrid("getData", {dataIndx: ['actid', 'dateretrieval', 'depthpit']});
                }
                else if (corrosionType == "ca-cd-ch") {
                    var dataChanged = $("#grid_json_paste").pqGrid("getData", {dataIndx: ['actid', 'dateretrieval', 'actual_ci_dosage_litre_per_day', 'target_ci_concentration_ppm']});
                }
                else if (corrosionType == "pr") {
                    var dataChanged = $("#grid_json_paste").pqGrid("getData", {dataIndx: ['actid', 'condensateproductionbblday', 'waterproductionbblday', 'oilproductionbblday']});
                }

                if (dataChanged && dataChanged.length)
                {
                    var inc = 0;
                    var innerdata = data;
                    var arrayData = $.map(innerdata, function(value, index) {
                        return [value];
                    });

                    if (arrayData.length) {
                        if (arrayData[inc]['coupontypearea']) {
                            var coupontypearea = arrayData[inc]['coupontypearea'];
                        }
                        if (arrayData[inc]['coupontypedensity']) {
                            var coupontypedensity = arrayData[inc]['coupontypedensity'];
                        }
                    }

                    $.each(dataChanged, function(key, value) {

                        //general corrosion
                        if ( dataChanged[key]['dateretrieval'] && dataChanged[key]['dateretrieval']!= ""  && corrosionType == "g" )
                        {

                            var rowData = $("#grid_json_paste").pqGrid("getRowData", {rowIndx: inc});

                            var next = inc - 1;
                            var prev = inc + 1;

                            var rowNextData = $("#grid_json_paste").pqGrid("getRowData", {rowIndx: next});
                            var rowPrevData = $("#grid_json_paste").pqGrid("getRowData", {rowIndx: prev});

                            var date1 = rowData['dateretrieval'];
                            var date2 = rowData['dateinstalled'];

                            if (date1 && date1.indexOf('-'))
                            {
                                var split = date1.split("-");
                                var date1 = split[2]+"-"+split[1]+"-"+split[0];
                            }

                            if (date2 && date2.indexOf('-'))
                            {
                                var split2 = date2.split("-");
                                var date2 = split2[2]+"-"+split2[1]+"-"+split2[0];
                            }

                            var date1 = new Date(date1);

                            var date2 = new Date(date2);

                            var timeDiff = Math.abs(date2.getTime() - date1.getTime());
                            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

                            if (diffDays)
                            {
                                var gcrate = generalCorrosionRateMmpy(rowData['installationweight'], rowData['retrievalweight'], coupontypedensity, coupontypearea, diffDays);

                                var gcnextrate = 0;
                                var gcprevrate = 0;
                                var avratemmpy = 0;
                                var avratempy = 0;

                                if (inc > 0 && inc % 2 !== 0) {
                                    var gcnextrate = generalCorrosionRateMmpy(rowNextData['installationweight'], rowNextData['retrievalweight'], coupontypedensity, coupontypearea, diffDays);
                                    var avratemmpy = (gcrate + gcnextrate) / 2;
                                    var avratempy = avratemmpy / 0.0254;

                                }
                                else {
                                    var gcprevrate = generalCorrosionRateMmpy(rowPrevData['installationweight'], rowPrevData['retrievalweight'], coupontypedensity, coupontypearea, diffDays);
                                    var avratemmpy = (gcrate + gcprevrate) / 2;
                                    var avratempy = avratemmpy / 0.0254;

                                }
                            }

                            $("#grid_json_paste").pqGrid("updateRow", {
                                rowIndx: inc,
                                row: {
                                    'generalcorrosionratemmpy': gcrate.toFixed(3),
                                    'averagecorrosionratemmpy': avratemmpy.toFixed(3),
                                    'averagecorrosionratempy': avratempy.toFixed(3),
                                }
                            });
                            $("#grid_json_paste").pqGrid("refreshRow", { rowIndx: inc });
                            inc++;
                        }
                        //pitting corrosion
                        else if ( dataChanged[key]['dateretrieval'] && dataChanged[key]['dateretrieval']!= ""  && corrosionType == "p" )
                        {

                            var rowData = $("#grid_json_paste").pqGrid("getRowData", {rowIndx: inc});

                            var next = inc - 1;
                            var prev = inc + 1;

                            var rowNextData = $("#grid_json_paste").pqGrid("getRowData", {rowIndx: next});
                            var rowPrevData = $("#grid_json_paste").pqGrid("getRowData", {rowIndx: prev});

                            var date1 = rowData['dateretrieval'];
                            var date2 = rowData['dateinstalled'];

                            if (date1 && date1.indexOf('-'))
                            {
                                var split = date1.split("-");
                                var date1 = split[2]+"-"+split[1]+"-"+split[0];
                            }

                            if (date2 && date2.indexOf('-'))
                            {
                                var split2 = date2.split("-");
                                var date2 = split2[2]+"-"+split2[1]+"-"+split2[0];
                            }

                            var date1 = new Date(date1);

                            var date2 = new Date(date2);

                            var timeDiff = Math.abs(date2.getTime() - date1.getTime());
                            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));

                            if (diffDays)
                            {
                                var pcrate = pittingCorrosionRateMmpy(dataChanged[key]['depthpit'], diffDays);

                                var gcnextrate = 0;
                                var gcprevrate = 0;
                                var avratemmpy = 0;
                                var avratempy = 0;

                                if (inc > 0 && inc % 2 !== 0) {
                                    var gcnextrate = pittingCorrosionRateMmpy(rowNextData['depthpit'], diffDays);
                                    var avratemmpy = (pcrate + gcnextrate) / 2;
                                    var avratempy = avratemmpy / 0.0254;

                                }
                                else {
                                    var gcprevrate = pittingCorrosionRateMmpy(rowPrevData['depthpit'], diffDays);
                                    var avratemmpy = (pcrate + gcprevrate) / 2;
                                    var avratempy = avratemmpy / 0.0254;

                                }
                            }

                            $("#grid_json_paste").pqGrid("updateRow", {
                                rowIndx: inc,
                                row: {
                                    'pittingratemmpy': pcrate.toFixed(3),
                                    'averagepittingratemmpy': avratemmpy.toFixed(3),
                                    'averagepittingratempy': avratempy.toFixed(3),
                                }
                            });
                            $("#grid_json_paste").pqGrid("refreshRow", { rowIndx: inc });
                            inc++;
                        }
                        //corrosion inhibitor
                        else if( dataChanged[key]['dateretrieval'] && dataChanged[key]['dateretrieval']!= "" && corrosionType == "ca-cd-ch")
                        {
                            var rowData = $("#grid_json_paste").pqGrid("getRowData", {rowIndx: inc});

                            var actualCiConcPpmv = rowData['actual_ci_concentration_ppm'];
                            var corrosionInhibitorAvail = rowData['ci_percentage_availability'];
                            var targetCIDosage = rowData['target_ci_dosage_litre_per_day'];
                            var volInjAgVolReq = rowData['vol_inject_vs_vol_req_percentage'];
                            var perTimeCITarget = rowData['per_time_ci_target_reach_percentage'];

                            if ( rowData['recommended_gas_dosage_litre_per_mmscf'] && rowData['recommended_gas_dosage_litre_per_mmscf']!= "" && rowData['gas_production_mmscf_day'] && rowData['gas_production_mmscf_day']!= "" && rowData['total_production_bbl_per_day'] && rowData['total_production_bbl_per_day']!= "")
                            {
                                var targetCIDosage = targetCIDosageByGas( rowData['recommended_gas_dosage_litre_per_mmscf'], rowData['gas_production_mmscf_day'], rowData['total_production_bbl_per_day'] )
                                targetCIDosage = targetCIDosage.toFixed(3);
                            }
                            else if(rowData['target_ci_concentration_ppm'] && rowData['target_ci_concentration_ppm']!= "" && rowData['total_production_bbl_per_day'] && rowData['total_production_bbl_per_day']!="")
                            {
                                var targetCIDosage = targetCIDosageByConcentration( rowData['target_ci_concentration_ppm'], rowData['total_production_bbl_per_day'])
                                targetCIDosage = targetCIDosage.toFixed(3);
                            }

                            if (rowData['actual_ci_dosage_litre_per_day'] && rowData['actual_ci_dosage_litre_per_day']!="" && rowData['total_production_bbl_per_day'] && rowData['total_production_bbl_per_day']!="" && rowData['target_ci_concentration_ppm'] && rowData['target_ci_concentration_ppm']!="")
                            {
                                var actualCiConcPpmv = actualCiConcentrationPpmv(rowData['actual_ci_dosage_litre_per_day'], rowData['total_production_bbl_per_day']);
                                actualCiConcPpmv= actualCiConcPpmv.toFixed(3)
                                var corrosionInhibitorAvail = corrosionInhibitorAvailability(actualCiConcPpmv, rowData['target_ci_concentration_ppm']);
                            }
                            else if (rowData['actual_ci_concentration_ppm'] && rowData['actual_ci_concentration_ppm']!="" && rowData['target_ci_concentration_ppm'] && rowData['target_ci_concentration_ppm']!="")
                            {
                                var corrosionInhibitorAvail = corrosionInhibitorAvailability(rowData['actual_ci_concentration_ppm'], rowData['target_ci_concentration_ppm']);
                            }

                            var volInjAgVolReq = rowData['vol_inject_vs_vol_req_percentage'];
                            var perTimeCITarget = rowData['per_time_ci_target_reach_percentage'];

                            if (corrosionInhibitorAvail) {
                                if (corrosionInhibitorAvail >= 100) {
                                    var volInjAgVolReq = 100;
                                    var perTimeCITarget = 100
                                }
                                else if (corrosionInhibitorAvail < 100) {
                                    var perTimeCITarget = 0;
                                    var volInjAgVolReq = corrosionInhibitorAvail.toFixed(3);
                                }
                            }
                            else{
                                var volInjAgVolReq = "";
                                var perTimeCITarget = "";
                            }

                            $("#grid_json_paste").pqGrid("updateRow", {
                                rowIndx: inc,
                                row: {
                                    'actual_ci_concentration_ppm': actualCiConcPpmv,
                                    'ci_percentage_availability': corrosionInhibitorAvail,
                                    'target_ci_dosage_litre_per_day': targetCIDosage,
                                    'vol_inject_vs_vol_req_percentage': volInjAgVolReq,
                                    'per_time_ci_target_reach_percentage': perTimeCITarget,
                                }
                            });
                            $("#grid_json_paste").pqGrid("refreshRow", { rowIndx: inc });
                            inc++;

                        }
                        //production
                        else if( dataChanged[key]['condensateproductionbblday']!= "" && dataChanged[key]['waterproductionbblday']!="" && dataChanged[key]['oilproductionbblday']!="" && corrosionType == "pr" )
                        {

                            var rowData = $("#grid_json_paste").pqGrid("getRowData", {rowIndx: inc});

                            var condensateProduction = rowData['condensateproductionbblday'] ? rowData['condensateproductionbblday'] : 0;

                            var waterProduction = rowData['waterproductionbblday'] ? rowData['waterproductionbblday'] : 0;

                            var oilProduction = rowData['oilproductionbblday'] ? rowData['oilproductionbblday'] : 0;

                            var totalLiqProduction = totalLiquidProduction( oilProduction, condensateProduction, waterProduction );

                            $("#grid_json_paste").pqGrid("updateRow", {
                                rowIndx: inc,
                                row: {
                                    'totalproductionbblday': totalLiqProduction.toFixed(3),
                                }
                            });

                            $("#grid_json_paste").pqGrid("refreshRow", { rowIndx: inc });
                            inc++;
                        }

                    });

                }
            });

            $(document).on('click', '.saveLocationCorrosionDatasheet', function (e)
            {
                var currentID = $(this).attr('id');

                var data = $("#grid_json_paste").pqGrid("option", "dataModel.data");

                var dataCH = $("#grid_json_paste_ch").pqGrid("option", "dataModel.data");

                var url = "/c/" + projectId + "/subprojectcorrosiondatasheet/" + subprojectId + "/" + currentID + "/create";

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {   // Data Sending With Request To Server
                        dataStore: data,
                        activityId: currentID,
                        locationId: productionLocation,
                        corrosionType: corrosionType,
                        pageType: pageType
                    },
                    success: function (s) {

                        try {
                            obj = JSON.parse(s);
                        } catch (e) {

                            // not json
                        }

                        if (obj.result == 'notok') {
                            notify('Please Enter Required Fields!');
                            return;
                        }
                        else if (obj.result == 'exists') {
                            notify('Date Already Exists!');
                            return;
                        }
                        else if (obj.result == 'ok') {
                            window.location = "/c/" + projectId + "/subprojectcorrosiondatasheet/" + subprojectId + "/"  + currentID +'?message=success' ;
                            return;
                        }
                    },
                    error: function (e) {
                        notify('Please Enter Required Fields!');
                        return;
                    }
                });
            });

            function notify(notiMessage)
            {
                $.notify({
                    // options
                    message: notiMessage,
                }, {
                    // settings
                    type: 'danger',
                    placement: {
                        from: "top",
                        align: "center"
                    }
                });
            }

            $('.editCorrosionDatasheetHistory').on("click", function (e)
            {
                var currentID = $(this).attr('id');
                var data = $("#grid_json_paste").pqGrid("option", "dataModel.data");
                var result = [];
                $.each(data, function(i, item) {
                    if ($.inArray(item.id, result) == -1) result.push(item.id);
                });

                data = result;
                var url = "/c/" + projectId + "/subprojectcorrosiondatasheet/" + subprojectId + "/" + currentID + "/edit";
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {   // Data Sending With Request To Server
                        dataRetrieve: data,
                        activityId: currentID
                    },
                    success: function (data) {
                        $(data).modal();
                    },
                    error: function (e) {
                        notify('Please Enter Required Fields!');
                        return;
                    }
                });
            });
        });

        //calculate general corrosion rate, mmpy
        function generalCorrosionRateMmpy(initialWeight, finalWeight, density, area, diffDays)
        {
            var initialWeight = parseFloat(initialWeight);
            var finalWeight = parseFloat(finalWeight);
            var density = parseFloat(density);
            var area = parseFloat(area);
            var diffDays = parseInt(diffDays);
            // console.log(initialWeight)
            // console.log(finalWeight)
            // console.log(density)
            // console.log(area)
            // console.log(diffDays)

            return 3650 * (initialWeight-finalWeight) / (density * area * (diffDays));
        }

        //calculate Pitting corrosion rate, mmpy
        function pittingCorrosionRateMmpy(depthofDeepest, diffDays)
        {
            var depthofDeepest = parseFloat(depthofDeepest);
            var diffDays = parseInt(diffDays);

            return 365 * (depthofDeepest / diffDays);
        }

        //calculate Actual Ci Concentration, Ppmv
        function actualCiConcentrationPpmv(actualCiInjection, totalLiquidProduction)
        {
            var actualCiInjection = parseFloat(actualCiInjection);
            var totalLiquidProduction = parseFloat(totalLiquidProduction);

            return 1000000 * (actualCiInjection / (totalLiquidProduction *159));
        }

        //calculate Actual Ci Concentration, Ppmv
        function corrosionInhibitorAvailability(actualCiConcentrationPpmv, targetCiConcentrationPpmv)
        {
            var actualCiConcentrationPpmv = parseFloat(actualCiConcentrationPpmv);
            var targetCiConcentrationPpmv = parseFloat(targetCiConcentrationPpmv);

            return 100 * (actualCiConcentrationPpmv / targetCiConcentrationPpmv);
        }

        //calculate targetCI by recommended gas
        function targetCIDosageByGas( recommendedGas, gasProduction, totalLiquidsProduction )
        {
            var recommendedGas = parseFloat(recommendedGas);
            var gasProduction = parseFloat(gasProduction);
            var totalLiquidsProduction = parseFloat(totalLiquidsProduction);

            return 1000000 * (recommendedGas * gasProduction * (1/(totalLiquidsProduction*159)));

        }

        //calculate targetCI by concentration
        function targetCIDosageByConcentration( targetCiConcentration, totalLiquidsProduction )
        {

            return (0.000001 * targetCiConcentration * totalLiquidsProduction * 159);
        }

        //calculate targetCI by concentration
        function totalLiquidProduction( oilProduction, condensateProduction, waterProduction )
        {
            var oilProduction = parseFloat(oilProduction);
            var condensateProduction = parseFloat(condensateProduction);
            var waterProduction = parseFloat(waterProduction);

            return ( oilProduction + condensateProduction + waterProduction );
        }

    </script>

{% endblock %}
{% block content %}
    <div class="content" id="content{{ projectId }}">
        {#{% if corrosionType == "p" %} <h3>Pitting Corrosion</h3>  {% elseif corrosionType == "g" %} <h3>General Corrosion</h3>{% elseif corrosionType == "ca" %} <h3>Corrosion Activity</h3>{% elseif corrosionType == "ca-cd-ch" or  corrosionType == "ca-cd-oh" %} <h3>Corrosion Inhibitor</h3>{% elseif corrosionType == "pr" %} <h3>Production</h3>{% endif %}#}
        <h1>Add Data : {{ activityTitle }}</h1>

        <div id="grid_json_paste" style="float:left;"></div>
        <div style="clear:both;"></div><br/>
        <div class="pull-right"><a class="btn btn-default" href="{{ path('cms_subproject_corrosion_datasheet', { 'projectId': projectId, 'subprojectId' : subprojectId, 'id' : activityId, 'systemId' : systemId}) }}" role="button">Back</a> &nbsp;&nbsp;&nbsp; <button id="{{ activityId }}" class="btn btn-primary saveLocationCorrosionDatasheet">Save</button></div>
    </div>
{% endblock %}


