{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/editable/bootstrap-editable.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables/media/css/jquery.dataTables.min.css') }}">
    <style type="text/css" media="all">
        .inline-edit {
            cursor: pointer;
            border-bottom: none;
            width: 100px;
        }
        .table td.fit,
        .table th.fit {
            white-space: nowrap;
            width: 1%;
        }
        .elementClass {
            display: none; /*hides element until needed*/
        }
        .floatingHeader {
            position: fixed;
            top: 60px;
            visibility: hidden;
        }
        .container{
            width: 100%;
            padding: 0;
        }
        .btn-export-excel {
        @extend .btn-success;
            background-color: #699e2d;
            color: #000000;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src = "{{ asset('assets/js/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-popover.js') }}"></script>

    <script src="{{ asset('assets/js/StickyTableHeaders/jquery.stickytableheaders.min.js') }}"></script>
    <script src="{{ asset('assets/js/fancytree/jquery.fancytree-all.js') }}" type="text/javascript"></script>
    {% if showMitStatTrendDatasheetsEdHiEdit %}
        <script src="{{ asset('assets/js/editable/bootstrap-editable.js') }}"></script>
    {% endif %}
    <script type="text/javascript">

        $(function () {
            var projectId = {{  projectId }};
            var subprojectId = {{ subprojectId  }};
            var corrosionType = "{{ corrosionType }}";
            var pageType = "{{ pageType }}";
            var activityId = {{ activityId  }};
            var controlActivityName = "{{ activityTitle }}";
            var corrosionLocationsLn = "{{ corrosion_datasheet_locations|length }}";
            var filenameTodownlaod = "{{ subproject.name }}" + "-" + "{{ activityTitle }}"+ "-";

            // setting defaults for the editable
            $.fn.editable.defaults.mode = 'inline';
            $.fn.editable.defaults.showbuttons = true;
            $.fn.editable.defaults.emptytext = '-',
                $.fn.editable.defaults.emptyclass = '',
                $.fn.editable.defaults.url = '/post';
            $.fn.editable.defaults.type = 'text';
            $('.inline-edit').editable();

            $(document).on('click', '.editable-submit', function (e) {

                var x = $(this).closest('.editable-container').prev().attr('id');
                var y = $('.input-sm').val();

                var currentID = $(this).closest('.editable-container').prev().attr('id');
                var resID = currentID.split('_');
                var ur = "/c/"+projectId+"/subprojectcorrosiondatasheet/" +subprojectId+"/" + activityId + "/update";
                var passId = resID[1];
                var key = resID[0];

                $.ajax({
                    url: ur,
                    type: 'POST',
                    data: {   // Data Sending With Request To Server
                        title:y,
                        passid:passId,
                        key:key
                    },
                    success: function(s){
                        obj = JSON.parse(s);
                        if (obj.result == 'ok'){
                            $(this).val(obj.output);
                        }
                        else if (obj.result == 'notok'){
                            alert('Error Processing your Request!!');
                        }
                    },
                    error: function(e){
                        alert('Error Processing your Request!!');
                    }
                });
            });

            $('.exportCorrosionDatasheetHistory').on("click", function (e)
            {

                // Remove added elements

                var url = "/c/" + projectId + "/subprojectcorrosiondatasheet/" + subprojectId + "/" + {{ activityId }} + "/" + '{{ pageType }}' + "/productionexcel"+ '?systemId='+$('#systemId').val();

                $.ajax({
                    url: url,
                    type: 'POST',
                    data: {   // Data Sending With Request To Server
                        "hidGroupId" :$("#hidGroupId").val(),
                    },
                    success: function (s) {
                        $('#hiddenTblToExcel').html(s);
                        exportThis();
                    },
                    error: function (e) {
                        notify();
                        return;
                    }
                });

            });

            var exportThis = (function () {
                var uri = 'data:application/vnd.ms-excel;base64,',
                    template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel"  xmlns="http://www.w3.org/TR/REC-html40"><head> <!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets> <x:ExcelWorksheet><x:Name>{worksheet}</x:Name> <x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions> </x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook> </xml><![endif]--></head><body> <table>{table}</table></body></html>',
                    base64 = function (s) {
                        return window.btoa(unescape(encodeURIComponent(s)))
                    },
                    format = function (s, c) {
                        return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; })
                    }
                return function () {
                    var ctx = { worksheet: 'AIE - Veracity Datasheet' || 'Worksheet', table: document.getElementById("hiddenTblToExcel").innerHTML }
                    var ctx = { worksheet: 'AIE - Veracity Datasheet' || 'Worksheet', table: document.getElementById("hiddenTblToExcel").innerHTML }
                    document.getElementById("dlink").href = uri + base64(format(template, ctx));
                    document.getElementById("dlink").download = 'AIE-VeracityCCM'+filenameTodownlaod;
                    document.getElementById("dlink").click();

                }
            })()

        });

    </script>
{% endblock %}

{% block content %}
    {% set templocationid = 0 %}
    {% set counter = 1 %}
    <div class="container">
        <a id="dlink"  style="display:none;"></a>
        <div class="header">
            <div class="col-md-11" style="padding: 0">
                <h1>Edit Data/History : {{ activityTitle }}</h1>
            </div>
            <div class="col-md-1 pull-right" style="padding: 10px;">
                {% if corrosionType == "ca-cd-ch" %}
                    {% if showMitStatTrendDatasheetsEdHiExcel %}
                        <a id="{{ activityId }}_average" class="btn btn-export-excel exportCorrosionDatasheetHistoryAverage" href="#" role="button">Export to excel</a>&nbsp;&nbsp;
                    {% else %}
                        <a id="{{ activityId }}_average" class="btn btn-export-excel" href="#" role="button">Export to excel</a>&nbsp;&nbsp;
                    {% endif %}
                {% else %}
                    {% if showMitStatTrendDatasheetsEdHiExcel %}
                        <a id="{{ activityId }}_export" class="btn btn-export-excel exportCorrosionDatasheetHistory" href="#" role="button">Export to excel</a>
                    {% else %}
                        <a id="{{ activityId }}_export" class="btn btn-default" href="#" role="button">Export to excel</a>
                    {% endif %}
                {% endif %}
            </div>
            <table style="display: none;" id="hiddenTblToExcel"></table>
        </div>
        <div class="main-content">
            {% if corrosionType == "pr" %}
            {% set colval = 18 %}
            <table class="table table-bordered table-stripped table-fit table-grid-head">
                <thead class="rollhead">
                <tr style="background-color: #DDDDDD" class="">
                    <th>Date*</th>
                    <th>Gas Production mmscf/day</th>
                    <th>Oil Production bbl/day</th>
                    <th>Condensate Production bbl/day</th>
                    <th>Water Production bbl/day</th>
                    <th>Total Production bbl/day</th>
                    <th>Water Cut %</th>
                    <th>GOR scf/STB</th>
                    <th>Salinity ppm</th>
                    <th>H2S mol%</th>
                    <th>CO2 mol%</th>
                    <th>USP psig</th>
                    <th>DSP psig</th>
                    <th>UST ° Celsius</th>
                    <th>ESP OPS Frequency Hz</th>
                    <th>ESP Intake Pressure psig</th>
                    <th>ESP Discharge Pressure psig</th>
                    <th>Action</th>
                </tr>
                </thead>

                {% endif %}

                {% for entity in corrosion_datasheet_locations %}
                {% if entity.actlocationid is defined and entity.actlocationid != templocationid %}
                    <tr style="background-color: #adadad;">
                        <th colspan="{{ colval }}" style="margin:0; padding: 0; padding-left: 10px;"><h3>{{ entity.location }}</h3></th>
                    </tr>
                {% endif %}
                <tr>
                    {% if corrosionType == "pr" %}
                        {% if pageType != "average" %} <td><span id="dateretrieval_{{ entity.id }}" class="inline-edit">{{ entity.dateretrieval }}</span></td>{% endif %}
                        <td><span id="gasproductionmmscfday_{{ entity.id }}" class="inline-edit">{{ entity.gasproductionmmscfday }}</span></td>
                        <td><span id="oilproductionbblday_{{ entity.id }}" class="inline-edit">{{ entity.oilproductionbblday }}</span></td>
                        <td><span id="condensateproductionbblday_{{ entity.id }}" class="inline-edit">{{ entity.condensateproductionbblday }}</span></td>
                        <td><span id="waterproductionbblday_{{ entity.id }}" class="inline-edit">{{ entity.waterproductionbblday }}</span></td>
                        <td><span id="totalproductionbblday_{{ entity.id }}" class="inline-edit">{{ entity.totalproductionbblday }}</span></td>
                        <td><span id="watercutpercentage_{{ entity.id }}" class="inline-edit">{{ entity.watercutpercentage }}</span></td>
                        <td><span id="gorscfstb_{{ entity.id }}" class="inline-edit">{{ entity.gorscfstb }}</span></td>
                        <td><span id="salinityppm_{{ entity.id }}" class="inline-edit">{{ entity.salinityppm }}</span></td>
                        <td><span id="htwosmolpercentage_{{ entity.id }}" class="inline-edit">{{ entity.htwosmolpercentage }}</span></td>
                        <td><span id="cotwomolpercentage_{{ entity.id }}" class="inline-edit">{{ entity.cotwomolpercentage }}</span></td>
                        <td><span id="usppsig_{{ entity.id }}" class="inline-edit">{{ entity.usppsig }}</span></td>
                        <td><span id="dsppsig_{{ entity.id }}" class="inline-edit">{{ entity.dsppsig }}</span></td>
                        <td><span id="ustdegreecelsius_{{ entity.id }}" class="inline-edit">{{ entity.ustdegreecelsius }}</span></td>
                        <td><span id="espopsfrequencyhz_{{ entity.id }}" class="inline-edit">{{ entity.espopsfrequencyhz }}</span></td>
                        <td><span id="espintakepressurepsig_{{ entity.id }}" class="inline-edit">{{ entity.espintakepressurepsig }}</span></td>
                        <td><span id="espdischargepressurepsig_{{ entity.id }}" class="inline-edit">{{ entity.espdischargepressurepsig }}</span></td>
                    {% endif %}
                    <td>
                        {% if showMitStatTrendDatasheetsEdHiDelete %}
                            <a class ="deleteLink" id ="delete_{{ entity.id }}" href= "{{ path('cms_subproject_corrosion_datasheet_delete', { 'id': activityId, 'projectId': projectId, 'subprojectId' : subprojectId, 'sid':entity.id,'dataRetrieve': dataRetrieve,'type': pageType, 'systemId': systemId }) }}">Delete</a>
                        {% endif %}
                    </td>
                </tr>

                {% if entity.actlocationid is defined %}
                {% set templocationid = entity.actlocationid %}
                {% if templocationid == entity.actlocationid and loop.index % 2 == 0 %}
                    {% set counter = counter + 1 %}
                {% else %}
                    {% set counter = 0 %}
                {% endif %}

                <!-- Table closes -->

                {% if entity.actlocationid is defined and entity.actlocationid != templocationid %}
            </table>
            {% endif %}

            {% endif %}

            {% endfor %}
            <form method="post" id="frmSecond" name="frmSecond" action="{{ path('cms_subproject_corrosion_datasheet_production', { 'id': activityId, 'projectId': projectId, 'subprojectId': subprojectId, 'types': pageType, 'message': 'success', 'systemId': systemId }) }}">
                <input type="hidden" id="hidGroupId" name="hidGroupId" value="{{ dataRetrieve }}">
                <input type="hidden" id="systemId" name="systemId" value="{{ systemId }}">
                <table class="container">
                    <tr>
                        <td align="right" colspan="{{ colval }}">
                            <input type="button" value="Back" class="btn bth-default" onclick="javascript:window.location='{{ path('cms_subproject_corrosion_datasheet', { 'id': activityId, 'projectId': projectId, 'subprojectId': subprojectId, 'systemId': systemId }) }}';">&nbsp;
                            <input type="submit" value="Save" class="btn btn-primary">&nbsp;
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}

