{% block content %}
    {% set templocationid = 0 %}
    {% set counter = 1 %}
    {% set colval = 9 %}

        <thead>
            <tr>
                <th colspan="{{ colval }}">Veracity CCM - Asset Integrity Engineering LLC</th>
            </tr>
            <tr>
                <th colspan="{{ colval }}">{{ project.name }} - {{ subproject.name }} - {{ activityTitle }}</th>
            </tr>
            <tr>
                <th>Location</th>
                <th>Gas Production mmscf/day</th>
                <th>Oil Production bbl/day</th>
                <th>Condensate Production bbl/day</th>
                <th>Water Production bbl/day</th>
                <th>Total Production bbl/day</th>
                <th>Water Cut %</th>
                <th>GOR scf/STB</th>
                <th>Salinity ppm</th>
                <th>H2S mol%</th>
                <th>CO2 mol%</th>
                <th>USP psig</th>
                <th>DSP psig</th>
                <th>UST ° Celsius</th>
                <th>ESP OPS Frequency Hz</th>
                <th>ESP Intake Pressure psig</th>
                <th>ESP Discharge Pressure psig</th>
            </tr>
        </thead>
    <tbody>
    {% for entity in corrosion_datasheet_locations %}
        <tr>
            <td>{{ entity.location }}</td>
            <td>{{ entity.dateretrieval }}</td>
            <td>{{ entity.gasproductionmmscfday }}</td>
            <td>{{ entity.oilproductionbblday }}</td>
            <td>{{ entity.condensateproductionbblday }}</td>
            <td>{{ entity.waterproductionbblday }}</td>
            <td>{{ entity.totalproductionbblday }}</td>
            <td>{{ entity.watercutpercentage }}</td>
            <td>{{ entity.gorscfstb }}</td>
            <td>{{ entity.salinityppm }}</td>
            <td>{{ entity.htwosmolpercentage }}</td>
            <td>{{ entity.cotwomolpercentage }}</td>
            <td>{{ entity.usppsig }}</td>
            <td>{{ entity.dsppsig }}</td>
            <td>{{ entity.ustdegreecelsius }}</td>
            <td>{{ entity.espopsfrequencyhz }}</td>
            <td>{{ entity.espintakepressurepsig }}</td>
            <td>{{ entity.espdischargepressurepsig }}</td>
        </tr>
        {% if entity.actlocationid is defined %}
            {% set templocationid = entity.actlocationid %}
            {% if templocationid == entity.actlocationid and loop.index % 2 == 0 %}
                {% set counter = counter + 1 %}
            {% else %}
                {% set counter = 0 %}
            {% endif %}
        {% endif %}
    {% endfor %}
</tbody>
{% endblock %}

