{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block left_container %}{% endblock %}
{% block content_container %}
    <div id="dashboard">
        <div class="page-header">
            <h1>Oops! An Error Occurred</h1>
        </div>
        <h2>The server returned a "{{ status_code }} {{ status_text }}".</h2>
        <div>
            Something is broken. Please e-mail us at {{ email_address }} and let us know
            what you were doing when this error occurred. We will fix it as soon
            as possible. Sorry for any inconvenience caused.
        </div>
    </div>
{% endblock %}
