{% extends 'AIEAnomalyBundle:Registrar:new.html.twig' %}

{% block content %}
    {% set form = edit_form %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            /* Alert if Monitor value has changed */
            var has_changed = false;
            $(".has-changed").on("input", function () {
                has_changed = true;
            });

            var has_next_inspection_changed = false;
            $(".inspection-date input").on("change", function () {
                has_next_inspection_changed = true;
            });

            var has_live = {{ has_live_actions|default(false)?'true':'false' }};

            var actionsRequired = $("div[id*='actionRequired']");

            if (actionsRequired.length > 0){
                if ( $('input[id$=actionRequired_1]').is(':checked') ) $('input[id$=actionRequired_1]').attr("disabled", true);
                if ( $('input[id$=actionRequired_2]').is(':checked') ) $('input[id$=actionRequired_2]').attr("disabled", true);
                if ( $('input[id$=actionRequired_3]').is(':checked') ) $('input[id$=actionRequired_3]').attr("disabled", true);
            }

            /*if ($("#aie_bundle_anomalybundle_repairorderregistrar_action_group_closeOutDate").length){
                $("#aie_bundle_anomalybundle_repairorderregistrar_status option[value='1']").remove();
            }*/

            /*if ($("#aie_bundle_anomalybundle_fabricmaintenanceregistrar_action_group_completionDate").length){
                $("#aie_bundle_anomalybundle_fabricmaintenanceregistrar_status option[value='1']").remove();
            }*/
            if (status == 1){
                $("#aie_bundle_anomalybundle_pipinganomaly_management_group_closeOutDate").addClass("required");
                $("#aie_bundle_anomalybundle_pipinganomaly_management_group_closeOutJustification").addClass("required");
            }else{
                $("#aie_bundle_anomalybundle_pipinganomaly_management_group_closeOutDate").removeClass("required");
                $("#aie_bundle_anomalybundle_pipinganomaly_management_group_closeOutJustification").removeClass("required");
            }

            $('form').submit(function (e) {

                var status = $("select[id$='status']").val();
                if (has_live && status == 1) { // Closed
                    $('#statusError').show();
                    $('#statusError').focus();
                    document.getElementById('contentHolder').scrollIntoView()
                    e.preventDefault();
                    return false;
                }

                if (has_live && status == 2) { // Cancelled
                    var r = confirm("Cancelling this anomaly will cancel the related items on the action registers, do you want to proceed?");
                    if (r == false) {
                        e.preventDefault();
                        return false;
                    }
                }

                if (has_changed) {
                    var r = confirm("Would you like to change the frequency, status, probability, consequence, or criticality?");
                    if (r == true) {
                        e.preventDefault();
                        return false;
                    }
                }

                if (has_next_inspection_changed && actionsRequired.length > 0 && !$('input[id$=actionRequired_1]').is(':checked')) { //if RO not checked
                    var r = confirm("Do you want to raise Repair Order for this Anomaly?");
                    if (r == true) {
                        $('option[value=1]', actionsRequired).attr('selected','selected');
                    }
                }

                if (actionsRequired.length > 0){
                    if ( $('input[id$=actionRequired_1]').is(':checked') &&  $('input[id$=actionRequired_1]').is(':disabled') ) $('input[id$=actionRequired_1]').attr("disabled", false);
                    if ( $('input[id$=actionRequired_2]').is(':checked') &&  $('input[id$=actionRequired_2]').is(':disabled') ) $('input[id$=actionRequired_2]').attr("disabled", false);
                    if ( $('input[id$=actionRequired_3]').is(':checked') &&  $('input[id$=actionRequired_3]').is(':disabled') ) $('input[id$=actionRequired_3]').attr("disabled", false);
                }

                return true;
            });
        });
    </script>
{% endblock %}