{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block content -%}
    <h1>History and Reports</h1>
    <table class="records_list">
        <thead>
        <tr>
            <th style="width: 5%;">ID</th>
            <th>Created / Modified By</th>
            <th>Request Date</th>
            <th>Approval / Deferral Owner</th>
            <th>Reply Date</th>
            <th>Request</th>
            <th>Status</th>
            <th>Justification</th>
            <th style="width: 20%;">Download Report</th>
        </tr>
        </thead>
        <tbody>
        {% for request in history %}
            <tr>
                <td>{{ request.id }}</td>
                <td>{{ request.requestedBy? users[request.requestedBy.userId].username  : ''}}</td>
                <td>{{ request.date|date('d F Y') }}</td>
                {%  if approvedByUsers[request.id] is defined %}
                    {% set repliedByUserName = users[approvedByUsers[request.id]].username %}
                {% elseif deferredByUsers[request.id] is defined %}
                    {% set repliedByUserName = users[deferredByUsers[request.id]].username %}
                {% else %}
                    {% set repliedByUserName = null %}
                {% endif %}
                <td>{{ repliedByUserName }}</td>
                <td>{{ request.answeredDate|date('d F Y') }}</td>
                <td>{{ request.requeststatus }}</td>
                <td>{{ (request.status == -1)? 'Pending approval':request.statusChoices[request.status] }}</td>
                <td>{{ request.justification }}</td>
                <td>
                    {% if request.status == 1 and (request.summaryPdfFilePath is not null or request.filepath is not null or request.pdffilepath is not null) %}
                            {% if request.filepath is not null or request.pdffilepath is not null %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Detailed Report <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% if request.filepath is not null %}<li><a href="{{ path('anomaly_report_download', { 'id' : request.id, 'type': 'docx'}) }}">as Word</a></li>{% endif %}
                                        {% if request.pdffilepath is not null %}<li><a href="{{ path('anomaly_report_download', { 'id' : request.id, 'type': 'pdf'}) }}">as PDF</a></li>{% endif %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% if request.summaryPdfFilePath is not null %}
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Summarized Report <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ path('anomaly_report_download', { 'id' : request.id, 'type': 'summary-pdf'}) }}">as PDF</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {% for request in history %}
        <div class="modal fade" id="request-{{ request.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Request #{{ request.id }}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="records_list">
                            <thead>
                            <tr>
                                <th>Attribute</th>
                                <th>Data</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for key, value in requestData[request.id] %}
                                <tr>
                                    <th>{{ key }}</th>
                                    <td>
                                        {% set isUrl = (key == 'Files')? true: false %}
                                        {% if value is iterable %}
                                            {% if value %}
                                                <ul>
                                                    {% for k, v in value %}
                                                        <li>
                                                            {% if isUrl %}
                                                                {{ v|raw }}
                                                            {% else %}
                                                                {{ v }}
                                                            {% endif %}
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                No files attached
                                            {% endif %}
                                        {% else %}
                                            {{ value }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}