{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block content -%}
    {% if not(project.isSetup['isSetup']) %}
        <div class="row">
            <div class="col-lg-12" style="margin-top: 20px;">
                <div class="alert alert-warning">
                    <b>Access is not available.</b><br/>Setup the following lists to get access to this functionality.
                    <ul>
                        {{ (project.isSetup['missing']['locations']) ? '<li>Locations</li>' }}
                        {{ (project.isSetup['missing']['classifications']) ? '<li>Classifications</li>' }}
                        {{ (project.isSetup['missing']['threats']) ? '<li>Threats</li>' }}
                        {{ (project.isSetup['missing']['actionOwners']) ? '<li>Action Owners</li>' }}
                        {{ (project.isSetup['missing']['codes']) ? '<li>Codes & Standards</li>' }}
                        {{ (project.isSetup['missing']['risk']) ? '<li>Risk Matrix or Criticality Ranking</li>' }}
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {% block form_content %}
        {% endblock %}

        {{ form_row(form.status) }}
        {{ form_row(form.spa) }}

        {{ form_rest(form) }}
        {% if class(project) == 'RiskProject' %}
            <input type="hidden" value="{{ project.riskMatrix.matrix }}" id="risk-matrix"/>
        {% endif %}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
{% if (project.isSetup['isSetup']) %}
    {% block additiona_forms %}
    {% endblock %}

    {% block risk_criticality_form %}
        {% include 'AIEAnomalyBundle:Registrar:risk_criticality_form.html.twig' %}
    {% endblock %}
    {% block javascripts %}
        {{ parent() }}
        {% include 'AIEAnomalyBundle:Registrar:new_js.html.twig' %}
    {% endblock %}
{% endif %}


