<div class="panel panel-default">
    <div class="panel-heading">Risk / Criticality Assessment:</div>
    <div class="panel-body">
        {% set project_type = class(project) %}
        {% set register = (class(entity) == 'Request' ? entity.registrar : entity) %}
        {% if project_type == 'RiskProject' %}
            {% set risk_matrix = project.riskMatrix %}

            {% include 'AIEVeracityBundle:RiskMatrix:riskmatrix_table.html.twig' with {'risk_matrix': risk_matrix, 'consequences': project.consequences } only %}

            {{ form_row(form.assessment_group.probability) }}
            {{ form_row(form.assessment_group.consequence) }}

            <div id="risk-row">
                <label class="col-md-3 control-label">Risk</label>

                <div class="col-md-9">
                    <div id="risk" class="color risk text-center"><strong></strong></div>
                </div>
            </div>
        {% else %}
            {% set criticality = project.criticality %}
            <div id="criticality-row">
                <table class="records_list table-bordered">
                    {% if register.code =='FM' and project.fabricMaintenanceCriticality != null and project.fabricMaintenanceCriticality|length > 0%}
                        <thead>
                        <tr>
                            <th style="width: 20%;">Fabric Maintenance Criticality Ranking</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for fmc in project.fabricMaintenanceCriticality  %}
                            <tr>
                                <td style="vertical-align:middle;"><span class="custom-criticality-span" style="background-color:#{{ fmc.fmCriticalityColor }}"><b>{{ fmc.fmCriticalityCode }}</b></span></td>
                                <td>{{ fmc.fmCriticalityDescription }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% else %}
                    <thead>
                    <tr>
                        <th>Anomaly Criticality Ranking</th>
                        <th>Description</th>
                        <th>Action Time Frame</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if project.vhEnabled is defined and project.vhEnabled > 0 %}
                            <tr>
                                <td style="vertical-align:middle;"><span class="custom-criticality-span" style="background-color:#{{ project.vhColor }}"><b>{{ project.vhName }}</b></span></td>
                                <td>{{ criticality.vhDescription }}</td>
                                <td>{{ criticality.vhAction }}</td>
                            </tr>
                        {% endif %}
                        {% if project.hEnabled is defined and project.hEnabled > 0 %}
                            <tr>
                                <td style="vertical-align:middle;"><span class="custom-criticality-span" style="background-color:#{{ project.hColor }}"><b>{{ project.hName }}</b></span></td>
                                <td>{{ criticality.vhDescription }}</td>
                                <td>{{ criticality.vhAction }}</td>
                            </tr>
                        {% endif %}
                        {% if project.mEnabled is defined and project.mEnabled > 0 %}
                            <tr>
                                <td style="vertical-align:middle;"><span class="custom-criticality-span" style="background-color:#{{ project.mColor }}"><b>{{ project.mName }}</b></span></td>
                                <td>{{ criticality.mDescription }}</td>
                                <td>{{ criticality.mAction }}</td>
                            </tr>
                        {% endif %}
                        {% if project.lEnabled is defined and project.lEnabled > 0 %}
                            <tr>
                                <td style="vertical-align:middle;"><span class="custom-criticality-span" style="background-color:#{{ project.lColor }}"><b>{{ project.lName }}</b></span></td>
                                <td>{{ criticality.lDescription }}</td>
                                <td>{{ criticality.lAction }}</td>
                            </tr>
                        {% endif %}
                        {% if project.vlEnabled is defined and project.vlEnabled > 0 %}
                            <tr>
                                <td style="vertical-align:middle;"><span class="custom-criticality-span" style="background-color:#{{ project.vlColor }}"><b>{{ project.vlName }}</b></span></td>
                                <td>{{ criticality.vlDescription }}</td>
                                <td>{{ criticality.vlAction }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                    {% endif %}


                </table>

                {% if project.hasFMCriticality and
                    (register.code == 'PI' or register.code == 'PL' or register.code == 'ST' or register.code == 'SE' or register.code == 'MR') %}
                    <table class="records_list table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 20%;">Fabric Maintenance Criticality Rank</th>
                            <th>Fabric Maintenance Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prodc in project.fabricMaintenanceCriticality  %}
                            <tr>
                                <td style="vertical-align:middle;"><span class="custom-criticality-span" style="background-color:#{{ prodc.fmCriticalityColor }}"><b>{{ prodc.fmCriticalityCode }}</b></span></td>
                                <td>{{ prodc.fmCriticalityDescription }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if project.hasProductionCriticality and
                    (register.code == 'PI' or register.code == 'PL' or register.code == 'ST' or register.code == 'SE' or register.code == 'MR') %}
                    <table class="records_list table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 20%;">Production Criticality Rank</th>
                            <th>Production Criticality Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for prodc in project.productionCriticality  %}
                            <tr>
                                <td style="vertical-align:middle;"><b>{{ prodc.productionCriticalityCode }}</b></td>
                                <td>{{ prodc.productionCriticalityDescription }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
            {{ form_row(form.assessment_group) }}
        {% endif %}
    </div>
</div>