{% if (project.isSetup['isSetup']) %}
    <style>
        .text-container{
            width: 100%;
        }
        .select-container{
            width: 100%;
        }
        .input-group, .form-date{
            margin-bottom: 0px;
            margin-top: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
        }
        .no-margin .form-group {
            margin: 0;
            padding: 0;
            height: auto;
        }
        .no-margin{
            margin-top: 0px;
            margin-bottom: 0px;
            margin-bottom: -5px;
        }
        .form-title{
            margin-bottom: 5px;
            margin-left: 10px;
            font-weight: bold;
        }
        .form-group .form_date{
            padding-right: 0px;
            padding-left: 0px;
        }
    </style>
    <div class="panel-group" id="SearchAccordion">
        <div class="panel panel-default">
            <div class="panel-heading accordion-toggle collapsed" data-toggle="collapse" data-parent="#SearchAccordion" href="#SearchCollapse" style="background-color: #dddddd;border-color: #c0c0c0;">
                <b>Advanced Search</b>
            </div>
            <div id="SearchCollapse" class="panel-collapse collapse">
                <div class="panel-body">
                    {{ form_start(search_form) }}
                    {% set Divs = 0 %}
                    <div class="row">
                        <div class="col-lg-4">
                            <span class="form-title">Asset Tag Number</span>
                            <div class="form-group">
                                {{ form_widget(search_form.assetTagNumber, { 'id': 'tagNo' }) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <span class="form-title">Anomaly Id</span>
                            <div class="form-group">
                                {{ form_widget(search_form.anomalyCustomId, { 'id': 'anomalyId' }) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <span class="form-title">Location</span>
                            <div class="form-group">
                                {{ form_widget(search_form.location, { 'id': 'location' }) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <span class="form-title">Component</span>
                            <div class="form-group">
                                {{ form_widget(search_form.component, { 'id': 'component' }) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <span class="form-title">Anomaly Threat</span>
                            <div class="form-group">
                                {{ form_widget(search_form.threat, { 'id': 'threat' }) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <span class="form-title">Anomaly Classification</span>
                            <div class="form-group">
                                {{ form_widget(search_form.classification, { 'id': 'class' }) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <span class="form-title">Status</span>
                            <div class="form-group">
                                {{ form_widget(search_form.status, { 'id': 'status' }) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <span class="form-title">Approval Stage</span>
                            <div class="form-group">
                                {{ form_widget(search_form.statusTag, { 'id': 'appStage' }) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <span class="form-title">Action Owner</span>
                            <div class="form-group">
                                {{ form_widget(search_form.spa, { 'id': 'actionOwner' }) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <span class="form-title">Risk/Criticality</span>
                            <div class="form-group">
                                {{ form_widget(search_form.riskCriticality, { 'id': 'riskCrit' }) }}
                            </div>
                        </div>
                        <div class="col-lg-4 no-margin">
                            <span class="form-title">Raised on</span>
                            {{ form_widget(search_form.raisedOn, { 'id': 'raisedOn' }) }}
                        </div>
                        <div class="col-lg-4 no-margin" style="display:none;">
                            <span class="form-title">Anomaly Inspection Date</span>
                            {{ form_widget(search_form.nextInspectionDate, { 'id': 'nid' }) }}
                        </div>
                        {% if app.request.get('_route') == 'anomaly_tro_master' or app.request.get('_route') =='anomaly_tro' %}
                            <div class="col-lg-12 no-margin">
                                <span class="form-title">Expiry Date</span>
                                {{ form_widget(search_form.expiryDate, { 'id': 'expDate' }) }}
                            </div>
                        {% endif %}
                        <div class="col-lg-offset-8 col-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    {{ form_widget(search_form.submit) }}
                                </div>
                                <div class="col-lg-6">
                                    {{ form_widget(search_form.Clear) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_end(search_form) }}
                </div>
            </div>
        </div>
    </div>
    <h4><strong>{{ entities|length }} results were found</strong></h4>
{% endif %}
