{% extends 'AIEAnomalyBundle:AnomalyRegistrar:edit.html.twig' %}

{% block content -%}
    <h1>Edit Structure Anomaly</h1>

    {{ form_start(edit_form) }}
    {{ parent() }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_st', {'projectId': projectId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
