{% extends 'AIEAnomalyBundle:AnomalyRegistrar:index.html.twig' %}

{% block content -%}
    <h1>Structure Anomalies</h1>

    {% include 'AIEAnomalyBundle:Registrar:search.html.twig' %}

    {% include 'AIEAnomalyBundle:AnomalyRegistrar:list.html.twig' %}

    {% if (project.isSetup['isSetup']) %}
        <ul class="nav nav-pills">
    {% if granted_list['ST']['add'] %}
            <li>
                <a href="{{ path('anomaly_st_new', {'projectId': projectId}) }}" class="btn btn">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new structure anomaly
                </a>
            </li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
