{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Visual Summary</h1>
    <div>
        <div>
            <div id="charts">
                <div id="c3-chart-1"></div>
                <div id="c3-chart-2"></div>
            </div>
        </div>
    </div>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/c3/c3.css') }}">
{% endblock %}
{% block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('assets/js/c3/d3.min.js') }}"></script>
    <script src="{{ asset('assets/js/c3/c3.min.js') }}"></script>
    <script>
        var chart = c3.generate({
            bindto: '#c3-chart-1',
            data: {
                xs: {
                    'MAOP': 'x-MAOP',
                    'Failure Pressure': 'x-fp',
                    {% for year, anomalies in data1 %}'{{ year }}': 'x-{{ year }}', {% endfor %}
                },
                columns: [
                    {#['x-MAOP', {% for length, anomalies in data2 %}#}
                        {#{% for anomaly in anomalies %}#}
                            {#'{{ length }}', {% endfor %}#}
                        {#{% endfor %}#}
                    {#],#}
                    {#['MAOP', {% for length, anomalies in data2 %}#}
                        {#{% for anomaly in anomalies %}#}
                        {#'{{ anomaly.maop }}', {% endfor %}#}
                        {#{% endfor %}#}
                    {#],#}
                    {#['x-fp', {% for length, anomalies in data2 %}#}
                        {#{% for anomaly in anomalies %}#}
                        {#'{{ length }}', {% endfor %}#}
                        {#{% endfor %}#}
                    {#],#}
                    {#['Failure Pressure', {% for length, anomalies in data2 %}#}
                        {#{% for anomaly in anomalies %}#}
                        {#'{{ anomaly.fp }}', {% endfor %}#}
                        {#{% endfor %}#}
                    {#],#}
                    {% for year, points in data1 %} {# show length as X #}
                    ['x-{{ year }}',
                        {% for point in points %}
                        {{ point.length }},
                        {% endfor %}
                    ],
                    {% endfor %}
                    {% for year, points in data1 %} {# show depth as Y #}
                        ['{{ year }}',
                            {% for point in points %}{{ point.depth }}, {% endfor %}
                        ],
                    {% endfor %}
                ],
                type: 'scatter',
                types: {
                    'MAOP': 'line',
                    'Failure Pressure': 'line',
                    {% for year, anomalies in data1 %}'{{ year }}' : 'scatter', {% endfor %}
                }
            },
            legend: {
                position: 'right'
            },
            axis: {
                x: {
                    {#max: {{ length }}, #}
                   min: 0,
                   label: {
                       text: 'Defect Length (mm)',
                       position: 'outer-center'
                   },
                   tick: {
                       fit: false
                   },
                   show: true
               },
               y: {
                   {#max: {{ length }}, must be changed based on user input#}
                    min: 0,
                    label: {
                        text: 'Depth (mm)',
                        position: 'outer-center'
                    },
                    show: true
                }

            }
        });


        var chart2 = c3.generate({
            bindto: '#c3-chart-2',
            data: {
                xs: {
                    cr: 'cr_x'
                },
                // iris data from R
                columns: [
                    ["cr",  {% for length, crs in data3 %}
                        {% for cr in crs %}
                        '{{ cr }}', {% endfor %}
                        {% endfor %}
                    ],
                    ["cr_x", {% for length, crs in data3 %}
                        {% for cr in crs %}
                        '{{ length }}', {% endfor %}
                        {% endfor %}
                    ]
                ],
                type: 'scatter'
            },
            axis: {
                x: {
                    max: {{ length }},
                    min: 0,
                    label: 'KP (km)',
                    tick: {
                        fit: false
                    },
                    show: true
                },
                y: {
                    label: 'Corrosion Rate (mm/yr)'
                }
            }
        });

    </script>
    <script>
        $('#c3-chart').css('margin-left', '-45px');
    </script>
{% endblock %}