{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>Edit Document</h1>
{{ form(edit_form) }}
<a href="{{ path('cms_files', {'projectId':projectId,'subprojectId':subprojectId}) }}">
    Back to documents
</a>
{% endblock %}