{% extends 'AIECmsBundle:Default:layout.html.twig' %}
{% block content -%}
    <link type="text/css" rel="stylesheet"
          href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css"/>

    <h1>Documents</h1>
    {% if documentShowSearchGranted %}
        <form class="form-horizontal" id="documents_form">
            <div class="form-group">
                <label class="col-md-2 control-label" for="documents_filter"><span id="matches"></span> Filter:</label>
                <div class="text-container">
                    <input id="document_filter" type="text" name="document_filter" placeholder="Filter..." class="form-control input-md">
                </div>
                <button id="btnResetSearch" class="btn btn-primary">&times;</button>
            </div>
        </form>
    {% endif %}
    <table id="documents-explorer" subproject-id="{{ projectId }}_{{ subprojectId }}" class="table table-bordered">
        <colgroup>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
        </colgroup>
        <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Caption</th>
            <th>Company</th>
            <th>Document Number</th>
            <th>Document Date</th>
            <th>Date Added</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <ul>
        {% if documentAddDocumentGranted %}
        <li>
            <a href="{{ path('cms_files_new', {'projectId':projectId, 'subprojectId':subprojectId}) }}">
                Create a new document
            </a>
        </li>
        {% endif %}
        {% if documentAddFolderGranted %}
        <li>
            <a href="#" id="create-folder">
                Create a new folder
            </a>
        </li>
        {% endif %}
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/contextmenu/jquery.ui-contextmenu.min.js') }}"></script>
    <script src="{{ asset('assets/js/aie/documents.js?v=1.8') }}"></script>
{% endblock %}