{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>New Document</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cms_files', {'projectId':projectId,'subprojectId': subprojectId}) }}">
            Back to documents
        </a>
    </li>
</ul>
{% endblock %}
