<h1>Risk Assessment Results</h1>
<h2>Consequences Assessment Results</h2>
<p>A consequence assessment was completed for each section of the pipeline against the defined risk matrix.  The results were agreed in the Risk assessment workshop and are presented in the table below.</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th rowspan="2">Sections</th>
            <th rowspan="2">Threat</th>
            <th colspan="{{ project.consequences|length }}">Consequence Categories</th>
        </tr>
        <tr>
{% for consequence in project.consequences %}
    <th><span>{{ consequence.consequence.name }}</span></th>
{% endfor %}
        </tr>
    </thead>
    <tbody>
        {% set sec = '' %}
        {% for section in sections %}
            <tr> <td rowspan="{{sections_count[st.pipelineSections.id]}}">{{st.pipelineSections.section}}</td>
            {% for sectionThreat in section.threats %}
            <td>{{ sectionThreat.name }}</td>
            {% for consequence in project.consequences %}
                 <td>{{ sectionThreat.consequence_assessments }}</td>
            {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>