<script>
    var chart = c3.generate({
        bindto: '#c3-chart',
        data: {
            rows: [
                [{% for threat in project.threats %}{{ ("'" ~ threat.name ~ "',")|raw }} {% endfor %}],
                {% for section in pipeline.sections %}
                [{% for id, threat in project.threats %}
                    {% set sectionThreatId = 0 %}
                    {% for threat in section.threats if sectionThreatId == 0 %}
                    {% if threat.threatId == id %}
                    {% set sectionThreatId = threat.id %}
                    {% endif %}
                    {% endfor %}
                    {% if sectionThreatId != 0 %}
                    {% set sectionThreat = section.threats[sectionThreatId] %}
                    {% set maxLevel = 0 %}
                    {% set p = sectionThreat.AdjProbabilityOfFailer - 1 %}
                    {% for consequence in project.consequences if maxLevel != 4 %}
                    {% set s = sectionThreat.consequence_assessments[consequence.id] - 1 %}
                    {% if maxLevel < s %}

                    {% set maxLevel = s %}
                    {% endif %}
                    {% endfor %}
                    {% set level = matrix[maxLevel][p] %}
                    {% if level == 'VL' %}
                    {% set finalRisk = 1 %}
                    {% elseif level == 'L' %}
                    {% set finalRisk = 2 %}
                    {% elseif level == 'M' %}
                    {% set finalRisk = 3 %}
                    {% elseif level == 'H' %}
                    {% set finalRisk = 4 %}
                    {% else %}
                    {% set finalRisk = 5 %}
                    {% endif %}
                    {{ (finalRisk ~ ",")|raw }}
                    {% else %}
                    {{ ("null,")|raw }}
                    {% endif %}
                    {% endfor %}
                ],
                {% endfor %}
            ],
            //type: 'spline'
        },
        color: {
            pattern: [
                '#000066',
                '#660066',
                '#005200',
                '#FF99FF',
                '#000000',
                '#663300',
                '#CC0052',
                '#66FF99',
                '#999966',
                '#0066FF'

            ]
        },
        legend: {
            position: 'right'
        },
        axis: {
            x: {
                type: 'categorized',
                categories: [{% for section in pipeline.sections %}{{ ("'" ~ section.name ~ "',")|raw }} {% endfor %}],
                label: {
                    text: 'Sections',
                    position: 'outer-center'
                }
            },
            y: {
                max: 4,
                min: 1,
                label: {
                    text: 'Risk Level',
                    position: 'outer-center'
                }
            }

        },
        tooltip: {
            format: {
                //title: function (d) { return 'Threat: ' + d; },
                value: function (value, ratio, id) {
                    //var format = id === 'data1' ? d3.format(',') : d3.format('$');
                    if (value == 1) {
                        value = '<div class="risk lightgreen">Very Low</div>';
                    } else if (value == 2) {
                        value = '<div class="risk green">Low</div>';
                    } else if (value == 3) {
                        value = '<div class="risk yellow">Medium</div>';
                    } else if (value == 4) {
                        value = '<div class="risk orange">High</div>';
                    } else {
                        value = '<div class="risk red">Very High</div>';
                    }
                    return value;
                }
            }
        }
    });

</script>