<h3>Consequences Assessment</h3>
<table class="table table-bordered" id="consequences-assessment">
    <thead>
    <tr>
        <th rowspan="2"><span>Sections</span></th>
        <th rowspan="2"><span>Threat Group</span></th>
        <th colspan="{{ project.consequences|length }}"><span>Consequence Assessment</span></th>
    </tr>
    <tr>
        {% for consequence in project.consequences %}
            <th><span>{{ consequence.name }}</span></th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% set sectionId = 0 %}
    {% set threatId = 0 %}
    {% for section in pipeline.sections %}
        {% for threat in section.threats %}
            <tr>
                {% if sectionId != section.id %}
                    <td rowspan="{{ section.threats|length }}">{{ section.name }}</td>
                    {% set sectionId = section.id %}
                {% endif %}
                <td>{{ threat.name }}</td>
                {% for consequence in project.consequences %}
                    {% if threat.consequence_assessments[consequence.id] is defined %}
                        {% set risk = threat.consequence_assessments[consequence.id] %}
                    {% else %}
                        {% set risk = '' %}
                    {% endif %}
                    <td class="risk-color text-center">{{ risk }}</td>
                {% endfor %}

            </tr>
        {% endfor %}
    {% endfor %}
    </tbody>
</table>