<h1>Design Specifications</h1>
<p>The following table details the pertinent pipeline design parameters:</p>

<table class="table table-bordered" id="design-specifications">
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for design in pipeline.design_data %}
                <tr>
                    <td>{{ design.parameter }}</td>
                    <td>{{ design.value ~ ' ' ~ design.unit }}</td>
                </tr>
        {% endfor %}
    </tbody>

</table>


        <span class="table-caption">Table 1. Design Specifications</span>