<h1>Risk Assessment Detailed Results</h1>
{% for section in pipeline.sections %}
    <div id="section-{{ section.id }}" class="table section_table">
        <h3>{{ section.name }}</h3>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th rowspan="2" style="width: 50px"><span>Threat Group</span></th>
                <th rowspan="2" style="width: 50px"><span>Threat Mitigation Action</span></th>
                <th rowspan="2" style="width: 100px"><span>Performance Standard</span></th>
                <th rowspan="2" style="width: 150px"><span>Threat Mitigation Action Status</span></th>
                <th rowspan="2"><span>Probability of Failure</span></th>
                <th rowspan="2"><span>Confidence</span></th>
                <th colspan="{{ project.consequences|length }}"><span>Individual Risk</span></th>
                <th rowspan="2"><span>Frequency</span></th>
                <th rowspan="2"><span>Next Inspection Date</span></th>
                <th rowspan="2"><span>Inspection Status</span></th>
                <th rowspan="2"><span>Recommendations</span></th>
            </tr>
            <tr>
                {% for consequence in project.consequences %}
                    <th><span>{{ consequence.name }}</span></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% set sectionId = 0 %}
            {% set threatId = 0 %}
            {% for threat in section.threats %}
                {% for mitigation in threat.mitigations %}
                    {% set isOverdue = (date(mitigation.nextInspection.date) <= date()) %}
                    <tr>
                        {% if threatId != threat.id %}
                            <td rowspan="{{ threat.mitigations|length }}">{{ threat.name }}</td>
                            {% set threatId = threat.id %}
                        {% endif %}
                        <td>{{ project.mitigations[mitigation.mitigationId].name }}</td>
                        <td>{{ mitigation.performanceStandard }}</td>
                        <td>{{ mitigation.status }}</td>
                        <td>{{ threat.AdjProbabilityOfFailer }}</td>
                        <td>{% if threat.confidence == 0 %}Low{% elseif threat.confidence == 1 %}Medium{% else %}High{% endif %}</td>
                        {% for consequence in project.consequences %}
                            {% set p = threat.AdjProbabilityOfFailer  - 1 %}
                            {% set l = threat.consequence_assessments[consequence.id]  - 1 %}
                            {% set level = matrix[l][p] %}
                            {% if level == 'VL' %}
                                {% set color, riskVal = 'lightgreen', 'VL' %}
                            {% elseif level == 'L' %}
                                {% set color, riskVal = 'green', 'L' %}
                            {% elseif level == 'M' %}
                                {% set color, riskVal = 'yellow', 'M' %}
                            {% elseif level == 'H' %}
                                {% set color, riskVal  = 'orange', 'H' %}
                            {% else %}
                                {% set color, riskVal = 'red', 'VH' %}
                            {% endif %}
                            <td class="risk-color {{ color }}"><span>{{ riskVal }}</span></td>
                        {% endfor %}
                        <td>{{ mitigation.frequency }}</td>
                        <td>{{ mitigation.nextInspection.date|date('d F Y') }}</td>
                        <td>{{ isOverdue? 'Overdue' : 'Ok' }}</td>
                        <td>{{ mitigation.recommendations }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endfor %}
