<h3>High/Very High Risks</h3>
<table class="table table-bordered" id="risks-high-very-high">
    <thead>
        <tr>
            <th><span>Section</span></th>
            <th class="risk-color orange"><span>High Risks</span></th>
            <th class="risk-color red"><span>Very High Risks</span></th>
        </tr>
    </thead>
    <tbody>
        {% for section in pipeline.sections %}
            {% set h_risks = [] %}
            {% set v_risks = [] %}
            {% for threat in section.threats %}
                {% for consequence in project.consequences %}
                       {% set s = threat.consequence_assessments[consequence.id] - 1 %}
                       {% set p = threat.AdjProbabilityOfFailer - 1 %}
                       {% set level = matrix[s][p] %}
                       {% if level == 'H' %}
                            {% set h_risks = h_risks|merge({ ('id_'~threat.id) : threat }) %}
                       {% elseif level == 'VH' or level == 'V' %}
                            {% set v_risks = v_risks|merge({ ('id_'~threat.id) : threat }) %}
                       {% endif %}
                {% endfor %}
            {% endfor %}

            {% set h_risks = h_risks|diff(v_risks) %}
    <tr>
        <td>{{ section.name }}</td>
        <td><ul style="text-align: left;">
        {% for key,risk in h_risks %}
        <li>{{ risk.name}}</li>
        {% endfor %}
        </ul></td>
    <td><ul style="text-align: left;">
        {% for key,risk in v_risks %}
                    <li>{{ risk.name}}</li>
        {% endfor %}
                    </ul></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    <span class="table-caption">Table 19. Risk Assessment Results Summary</span>
