<h2>Mitigation Scheduling</h2>
<p>The frequency of the mitigation actions required for the pipeline depends on the level of risk associated with the pipeline. The tables below show the frequency (in months) at which the mitigation actions should be implemented.</p>


{% for id, threat in project.threats %}
    <h3>Frequency of {{ threat.name }} mitigation actions</h3>
    <table class="table table-bordered" id="threat-mitigations-{{ id }}">
        <thead>
            <tr>
                <th><span>Mitigation Technique</span></th>
                <th class="risk-color lightgreen"><span>VL</span></th>
                <th class="risk-color green"><span>L</span></th>
                <th class="risk-color yellow"><span>M</span></th>
                <th class="risk-color orange"><span>H</span></th>
                <th class="risk-color red"><span>VH</span></th>
            </tr>
        </thead>
        <tbody>
            {% for mitigationId in threat.mitigations %}
            {% set mitigation = project.mitigations[mitigationId] %}    
            <tr>
                <td>{{ mitigation.name }}</td>
                <td>{{ mitigation.vl_freq }}</td>
                <td>{{ mitigation.l_freq }}</td>
                <td>{{ mitigation.m_freq }}</td>
                <td>{{ mitigation.h_freq }}</td>
                <td>{{ mitigation.v_freq }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}