<script>
    Morris.Line({
    element: 'sectionsRisksChart',
            data: [
            {% for section in pipeline.sections %}
                {{ ("{section: '" ~ section.name ~ "'")|raw }}
                {% for id, threat in project.threats %}
                    {% set sectionThreatId = 0 %}
                    {% for threat in section.threats if sectionThreatId == 0 %}
                        {% if threat.threatId == id %}
                            {% set sectionThreatId = threat.id %}
                        {% endif %}
                    {% endfor %}
                    {% if sectionThreatId != 0 %}
                        {% set sectionThreat = section.threats[sectionThreatId] %}
                        {% set maxLevel = 0 %}
                        {% for consequence in project.consequences if maxLevel != 4 %}
                            {% set s = sectionThreat.consequence_assessments[consequence.id] - 1 %}
                            {% set p = sectionThreat.AdjProbabilityOfFailer - 1 %}
                            {% set level = matrix[s][p] %}
                            {% if level == 'VL' %}
                                {% set maxLevel = 1 %}
                            {% elseif level == 'L' %}
                                 {% set maxLevel = 2 %}
                            {% elseif level == 'M' %}
                                {% set maxLevel = 3 %}
                            {% elseif level == 'H' %}
                                {% set maxLevel = 4 %}
                            {% elseif level == 'V' or level == 'VH'  %}
                                {% set maxLevel = 5 %}
                            {% endif %}
                        {% endfor %}
                        {{ (",'" ~ id ~ "':" ~ maxLevel )|raw }}
                    {% endif %}
                {% endfor %}
                {{ '},' }}
        {% endfor %}],
            xkey: 'section',
            ykeys: [{% for id, threat in project.threats %}{{ ("'" ~ id ~ "',")|raw }}{% endfor %}],
            labels: [{% for threat in project.threats %}{{ ("'" ~ threat.name ~ "',")|raw }}{% endfor %}],
            ymax: 5,
            ymin: 1,
            hoverCallback: function (index, options, content) {
                
                var html = $('<div/>').html(content);
                
                $("div:contains('-')", html).remove();
                
                return html[0];
    },
            parseTime: false
    });
    </script>