<h2>Probability of Failure Assessment Results</h2>
<p>The following table presents the probability of failure assessment for each threat group accompanied with each section of the pipeline.  The confidence grading of the assessment is also provided.</p>

<table class="table table-bordered" id="probability-of-failure-assessment">
    <thead>
        <tr>
            <th>Section</th>
            <th>Threat Group</th>
            <th>Probability of Failure</th>
            <th>Assessment Confidence</th>
        </tr>
    </thead>
    <tbody>
                {% set sectionId = 0 %}
{% set threatId = 0 %}
{% for section in pipeline.sections %}
{% for threat in section.threats %}
    <tr>
{% if sectionId != section.id %}
            <td rowspan="{{ section.threats|length }}">{{ section.name }}</td>
    {% set sectionId = section.id %}
{% endif %}
            <td>{{ threat.name }}</td>
            <td>{{ threat.AdjProbabilityOfFailer }}</td>
            <td>{% if threat.confidence == 0 %}Low{% elseif threat.confidence == 1 %}Medium{% else %}High{% endif %}</td>
        </tr>
{% endfor %}
{% endfor %}
    </tbody>
</table>