<table class="table-bordered">
    <tbody>
        <tr>
                                    {% for section in pipeline.sections %}
{% set finalRisk = 0 %}
{% set maxRisk = 0 %}    
{% for id, threat in project.threats %}
{% set sectionThreatId = 0 %}
{% for threat in section.threats if sectionThreatId == 0 %}
{% if threat.threatId == id %}
{% set sectionThreatId = threat.id %}
{% endif %}
{% endfor %}
{% if sectionThreatId != 0 %}
{% set sectionThreat = section.threats[sectionThreatId] %}
{% set maxLevel = 0 %}
{% set p = sectionThreat.AdjProbabilityOfFailer - 1 %}
{% for consequence in project.consequences if maxLevel != 4 %}
    {% set s = sectionThreat.consequence_assessments[consequence.id] - 1 %}
    {% if maxLevel < s %}
       {% set maxLevel = s %}    
    {% endif %} 
{% endfor %}
{% set level = matrix[maxLevel][p] %}

{% if level == 'VL' %}
    {% set maxRisk = 1 %}
{% elseif level == 'L' %}
     {% set maxRisk = 2 %}
{% elseif level == 'M' %}
    {% set maxRisk = 3 %}
{% elseif level == 'H' %}
    {% set maxRisk = 4 %}
{% elseif level == 'VH' or level == 'V' %}
    {% set maxRisk = 5 %}
{% endif %}
{% if finalRisk < maxRisk %}{% set finalRisk = maxRisk %}{% endif %}
{% endif %}
{% endfor %}
{{ ('<td class="risk-box"><a  href="#section-' ~ section.id ~ '" class="open-section-link"><div class="level level-' ~ finalRisk ~ '"></div></a></td>'  )|raw }}
{% endfor %}
            </tr>

            <tr>
                                                {% for section in pipeline.sections %}<td>{{ section.name }}</td>{% endfor %}
                </tr>
            </tbody>

        </table>