<h3>Risk Level Results</h3>
<p>In total <b id="total-risks-top-counter"></b> risk assessments were undertaken on the pipeline, as per the table
    below</p>
<table class="table table-bordered" id="risk-level-results">
    <thead>
    <tr>
        <th>Section</th>
        <th class="risk-color lightgreen">Very Low</th>
        <th class="risk-color green">Low</th>
        <th class="risk-color yellow">Medium</th>
        <th class="risk-color orange">High</th>
        <th class="risk-color red">Very High</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% set total = [] %}
    {% for section in pipeline.sections %}
        {% set severities = [] %}
        {% for threat in section.threats %}
            {% set consequenceLevel = 0 %}
            {% for consequence in project.consequences %}
                {% set s = threat.consequence_assessments[consequence.id] - 1 %}
                {% if consequenceLevel < s %}
                    {% set consequenceLevel = s %}
                {% endif %}
            {% endfor %}

            {% set p = threat.AdjProbabilityOfFailer - 1 %}
            {% set level = matrix[consequenceLevel][p] %}

            {% set count = severities[level]|default(0) %}
            {% set count = count + 1 %}
            {% set severities = severities|merge({ (level) : count}) %}

            {% set totalCount = total[level]|default(0) %}
            {% set totalCount = totalCount + 1 %}
            {% set total = total|merge({ (level) : totalCount}) %}
        {% endfor %}
        <tr>
            <td>{{ section.name }}</td>
            {% set section_total = 0 %}
            {% for severity in ['VL','L','M','H','VH'] %}
                {% set count = severities[severity]|default(0) %}
                {% set section_total = section_total + count %}
                <td>{{ count }}</td>
            {% endfor %}
            <td>{{ section_total }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td>Total</td>
        {% set totalTotal = 0 %}
        {% for severity in ['VL','L','M','H','VH'] %}
            {% set count = total[severity]|default(0) %}
            {% set totalTotal = totalTotal + count %}
            <td>{{ count }}</td>
        {% endfor %}
        <td id="total-risks-counter">{{ totalTotal }}</td>
    </tr>
    </tbody>
</table>
<span class="table-caption">Table 18. Total Amount of Risks, their Levels, and their Distribution throughout the Pipeline Sections</span>
