<h2>Sectional Threat Analysis</h2>
<p>The following table matches the different sections of the pipeline with the proposed threat groups accompanied to each section:</p>

<table class="table table-bordered" id="sectional-threat-analysis">
    <thead>
        <tr>
            <th></th>
                {% for section in pipeline.sections %}
                    <th>{{ section.name }}</th>
                {% endfor %}
                </tr>
    </thead>
    <tbody>
            {% for key, project_threat in project.threats %}
            <tr>
                <td>{{ project_threat.name }}</td>
                {% for section in pipeline.sections %}
                    {% set found = FALSE %}
                    {% for threat in section.threats if found == FALSE %}
                        {% if threat.threatId == key %}
                            {% set found = TRUE %}
                        {% endif %}
                    {% endfor %}
                <td>{{ found?'&#10004;':'&#10008;' }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<span class="table-caption">Table 2. Sectional Threat Analysis</span>