<h2>Pipeline Physical Sectioning</h2>
<p>The risk is the product of the probability of a hazard resulting in a failure, and the resultant consequence of the failure. The risk associated with a pipeline may vary with location along its length. This is because both the nature of hazard affecting the pipeline (probability of failure) and consequence of failure may vary with the changing design and the environment along the pipeline.  To account for these variations, the pipeline system being assessed is divided into following typical sections:</p>
<ol>
    {% for section in pipeline.sections %}
        <li>{{ section.name }}</li>
    {% endfor %}  
</ol>

<p>The following figure graphically describes the beginning point and end point of each section of the pipeline (the receiver is excluded from this risk assessment): </p>

<div class="map section map_out"></div>
<input type="hidden" id="geometryMap" name="geometry" value="{{ pipeline.geometry }}"/>

