<script>
    {% set length = pipeline.design_data|first %}
    var pipeline = {length: "{{ length.value }}", sections: [
{% for section in pipeline.sections %}
    {% set finalRisk = 0 %}
    {% set finalRisks = [] %}
    {% set maxRisk = 0 %}
    {% for id, threat in project.threats %}
        {% set sectionThreatId = 0 %}
        {% for threat in section.threats if sectionThreatId == 0 %}
            {% if threat.threatId == id %}
                {% set sectionThreatId = threat.id %}
            {% endif %}
        {% endfor %}
        {% if sectionThreatId != 0 %}
            {% set sectionThreat = section.threats[sectionThreatId] %}
            {% set maxLevel = 0 %}
            {% set p = sectionThreat.AdjProbabilityOfFailer - 1 %}
            {% for consequence in project.consequences %}
                {% set s = sectionThreat.consequence_assessments[consequence.id] - 1 %}
                    {% if maxLevel < s %}
                        
                       {% set maxLevel = s %}    
                           {% endif %} 
            {% endfor %}
            {% set level = matrix[maxLevel][p] %}
            {% if level == 'VL' %}
                 {% set maxRisk = 1 %}
            {% elseif level == 'L' %}
                 {% set maxRisk = 2 %}
            {% elseif level == 'M' %}
                {% set maxRisk = 3 %}
            {% elseif level == 'H' %}
                {% set maxRisk = 4 %}
            {% else %}
                {% set maxRisk = 5 %}
            {% endif %}
            {% if finalRisk < maxRisk %}
                {% set finalRisk = maxRisk %}
                {% set finalRisks = [] %}
                {% set finalRisks = finalRisks|merge({(sectionThreatId): sectionThreat.name }) %}    
            {% elseif finalRisk == maxRisk %}
                {% set finalRisks = finalRisks|merge({(sectionThreatId): sectionThreat.name }) %}    
            {% endif %}
        {% endif %}
    {% endfor %}
    {{ ('{name:"' ~ section.name ~ '",x:' ~ section.x ~ ',y:' ~ section.y ~ ',risk:' ~ finalRisk ~ ',risks:["' ~ finalRisks|join('","') ~ '"]},'  )|raw }}
{% endfor %}
    ]};</script>