
<h2>Mitigation Techniques</h2>
<p>A variety of mitigation techniques can be implemented to ensure the integrity of the pipeline system is maintained. The table below shows the mitigation techniques that have been considered suitable for the threats associated with {{ project.client}}'s {{ pipeline.name }} pipeline.</p>
<table class="table table-bordered" id="threat-mitigations">
    <thead>
        <tr>
            <th>Threat Group</th>
            <th>Threat Mitigation Action</th>
        </tr>
    </thead>
    <tbody>
                {% set threatId = 0 %}
                {% for key, threat in project.threats %}
                    {% for mitigation in threat.mitigations %}
    <tr>
                        {% if threatId != key %}
            <td rowspan="{{ threat.mitigations|length }}">{{ threat.name }}</td>
                            {% set threatId = key %}
                        {% endif %}
            <td>{{ project.mitigations[mitigation].name }}</td>
        </tr>
                    {% endfor %}
                {% endfor %}
    </tbody>
</table>


<span class="table-caption">Table 7. Threat Mitigation Techniques</span>

