<h2>Description of Threats</h2>
<p>In this section, the credible hazards, having the potential to cause failure of the pipeline section are identified and described.  The following eight hazard groups have been considered credible for the {{ project.client ~ ' ' ~ pipeline.name }} pipeline and are described below.</p>

<ul>
{% for threat in project.threats %}
    <li>{{ threat.name }}<p>{{ threat.description }}</p></li>
{% endfor %}
</ul>