<h3>High/Very High Risks Recommendations</h3>
<table class="table table-bordered" id="high-risks-recommendations">
    <thead>
        <tr>
            <th><span>Section</span></th>
            <th><span>Threat Group</span></th>
            {% for consequence in project.consequences %}
                <th class="risk-width"><span>{{ consequence.name }}</span></th>
            {% endfor %}
                    <th><span>Recommendation</span></th>
                </tr>
            </thead>
            <tbody>
{% for section in pipeline.sections %}
{% set risks = [] %}
{% for threat in section.threats %}
{% for consequence in project.consequences %}
{% set s = threat.consequence_assessments[consequence.id] - 1 %}
{% set p = threat.AdjProbabilityOfFailer - 1 %}
{% set level = matrix[s][p] %}

{% if level == 'H' or level == 'V' or level == 'VH' %}
{% set risks = risks|merge({ ('id_'~threat.id) : threat }) %}
{% endif %}
{% endfor %}
{% endfor %}
{% for id, threat in risks %}

                    <tr>
                        <td>{{ section.name }}</td>
                        <td>{{ threat.name }}</td>
{% for consequence in project.consequences %}
{% set s = threat.consequence_assessments[consequence.id] - 1 %}
{% set p = threat.AdjProbabilityOfFailer - 1 %}
{% set level = matrix[s][p] %}

    <td class="risk-color {% if level == 'L' %}green
                            {% elseif level == 'M' %}yellow
                            {% elseif level == 'H' %}orange
                            {% elseif level == 'VL' %}lightgreen
                            {% else %}red
                            {% endif %}"><span>{{ level }}</span></td>
{% endfor %}
                        <td>
{% for mitigation in threat.mitigations %}
{{ mitigation.recommendations ~ ' ' }}
{% endfor %}
                            </td>
                        </tr>


{% endfor %}
{% endfor %}
                    </tbody>
                </table>