{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>Edit Pipeline Section</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
{{ form_row(edit_form.section) }}
                {{ form_row(edit_form.x) }}
                {{ form_row(edit_form.y) }}
                <div class="form-group">
                    <label class="col-md-3 control-label  required" for="sectionRange">Range</label>
                    <div class="col-md-9">
                        <input type="text" id="sectionRange" name="sectionRange" value="0;{{ length }}" />
                    </div>
                </div>


    {{ form_widget(edit_form.submit) }}
                   {{ form_end(edit_form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('pipelinesections', {'pipelineId':pipelineId}) }}">
            Back to pipeline sections
        </a>
    </li>
</ul>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!--<link rel="stylesheet" href="{{ asset('assets/css/rangeSlider/normalize.min.css') }}">-->
        <link rel="stylesheet" href="{{ asset('assets/css/rangeSlider/ion.rangeSlider.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/rangeSlider/ion.rangeSlider.skinFlat.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script src="{{ asset('assets/js/gmaps.js') }}"></script>
        <script src="{{ asset('assets/js/rangeSlider/ion.rangeSlider.min.js') }}"></script>

        <script>
            $("#sectionRange").ionRangeSlider({
                min: 0,
                max: {{ length }},
                from: {{ entity.x }},
                to: {{ entity.y }},
                type: 'double',
                step: 0.01,
                prettify: true,
                hasGrid: true,
                onChange: function(obj){
                    var arr = $("#sectionRange").val().split(';');
                    
                    var x=0,y = 0;
                    x = parseFloat(arr[0]).toFixed(2);
                    y = parseFloat(arr[1]).toFixed(2);
                    $('.x:first').val(x);
                    $('.y:first').val(y);
                 }
            });
            
            
            var doneTypingInterval = 500;  //time in ms
            
            $(".x, .y").on("change keyup paste", function() {
                

                var typingTimer = $(this).data('timer');
                clearTimeout(typingTimer);

                typingTimer = setTimeout(doneTyping, doneTypingInterval);

                $(this).data('timer', typingTimer);
                
            });
            
            
            $(".x, .y").on('keydown',function () {
                    var typingTimer = $(this).data('timer');

                    clearTimeout(typingTimer);

                    typingTimer = setTimeout($.proxy(doneTyping, this), doneTypingInterval);

                    $(this).data('timer', typingTimer);
                });

                function doneTyping() {
                    
                    var x = $('.x:first').val();
                    var y = $('.y:first').val();
                    if(x == ''){ x= 0; $('.x:first').val(x);}
                    if( y == ''){ y =0; $('.x:first').val(y);}
                    
                    $("#sectionRange").ionRangeSlider("update", {
                        from: x,
                        to: y
                    });
                }   
                
                $.get('{{path('ajax_sections')}}', function(data){

                    var sections = new Bloodhound({
                    datumTokenizer: Bloodhound.tokenizers.whitespace,
                    queryTokenizer: Bloodhound.tokenizers.whitespace,
                    local:  data
                    });

                    // initialize the bloodhound suggestion engine
                    sections.initialize();
                    $(".section").typeahead({ source: sections.ttAdapter() });
                },'json');
            </script>
{% endblock %}