{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Pipeline Sections</h1>
    {% if pipeline.geometry %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Map</h3>
            </div>
            <div class="panel-body">
                <div class="map map_out"></div>
                <input type="hidden" id="geometryMap" name="geometry" value="{{ pipeline.geometry }}"/>
            </div>
        </div>
    {% endif %}
    <table class="records_list">
        <thead>
        <tr>
            <th>Section</th>
            <th>Start KP</th>
            <th>End KP</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.section }}</td>
                <td>{{ entity.x }}</td>
                <td>{{ entity.y }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pipelinesections_edit', { 'id': entity.id, 'pipelineId': pipelineId }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('pipelinesections_delete', { 'id': entity.id, 'pipelineId': pipelineId }) }}">delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pipelinesections_new', {'pipelineId': pipelineId}) }}">
                Create a new pipeline section
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
{% endblock %}