{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>New Pipeline Section</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Map</h3>
        </div>
        <div class="panel-body">
            <div class="map map_out live_sectioning"></div>
            <input type="hidden" id="geometryMap" name="geometry" value="{{ pipeline.geometry }}"/>
            <input type="hidden" id="sectionX" name="sectionX" value="0"/>
            <input type="hidden" id="sectionY" name="sectionY" value="{{ length }}"/>
            <script>var pipeline = {length: "{{ length }}"};</script>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Current Sections</h3>
        </div>
        <div class="panel-body">
            <table class="records_list">
                <thead>
                <tr>
                    <th>Section</th>
                    <th>Start KP</th>
                    <th>End KP</th>
                </tr>
                </thead>
                <tbody>
                {% for section in sections %}
                    <tr>
                        <td>{{ section.section }}</td>
                        <td>{{ section.x }}</td>
                        <td>{{ section.y }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">New Section</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.section) }}
            {{ form_row(form.x) }}
            {{ form_row(form.y) }}
            <div class="form-group">
                <label class="col-md-3 control-label  required" for="sectionRange">Range</label>

                <div class="col-md-9">
                    <input type="text" id="sectionRange" name="sectionRange" value="0;{{ length }}"/>
                </div>
            </div>


            {{ form_widget(form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>




    <ul class="record_actions">
        <li>
            <a href="{{ path('pipelinesections', {'pipelineId':pipelineId}) }}">
                Back to pipeline sections
            </a>
        </li>
    </ul>
{% endblock %}

    {% block stylesheets %}
        {{ parent() }}
        <!--<link rel="stylesheet" href="{{ asset('assets/css/rangeSlider/normalize.min.css') }}">-->
        <link rel="stylesheet" href="{{ asset('assets/css/rangeSlider/ion.rangeSlider.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/rangeSlider/ion.rangeSlider.skinFlat.css') }}">
    {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
    <script src="{{ asset('assets/js/gmaps_v3_epoly.js') }}"></script>
    <script src="{{ asset('assets/js/rangeSlider/ion.rangeSlider.min.js') }}"></script>

    <script>
        $("#sectionRange").ionRangeSlider({
            min: 0,
            max: {{ length }},
            from: 0,
            to: {{ length }},
            type: 'double',
            step: 0.01,
            prettify: true,
            hasGrid: true,
            onChange: function (obj) {
                var arr = $("#sectionRange").val().split(';');

                var x = 0, y = 0;
                x = parseFloat(arr[0]).toFixed(2);
                y = parseFloat(arr[1]).toFixed(2);
                $('.x:first').val(x);
                $('.y:first').val(y);
                $('#sectionX').val(x).change();
                $('#sectionY').val(y).change();
            }
        });


        var doneTypingInterval = 500;  //time in ms

        $(".x, .y").on("change keyup paste", function () {
            var typingTimer = $(this).data('timer');
            clearTimeout(typingTimer);
            typingTimer = setTimeout(doneTyping, doneTypingInterval);
            $(this).data('timer', typingTimer);
        });

        function doneTyping() {

            var x = $('.x:first').val();
            var y = $('.y:first').val();
            if (x == '') {
                x = 0;
                $('.x:first').val(x);
            }
            if (y == '') {
                y = 0;
                $('.x:first').val(y);
            }

            $("#sectionRange").ionRangeSlider("update", {
                from: x,
                to: y
            });


            $('#sectionX').val(x).change();
            $('#sectionY').val(y).change();
        }

        $.get('{{path('ajax_sections')}}', function (data) {

            var sections = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.whitespace,
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                local: data
            });

            // initialize the bloodhound suggestion engine
            sections.initialize();
            $(".section").typeahead({ source: sections.ttAdapter() });
        }, 'json');
    </script>
{% endblock %}