{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>PipelineSections</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Start KP</th>
                <td>{{ entity.x }}</td>
            </tr>
            <tr>
                <th>End KP</th>
                <td>{{ entity.y }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pipelinesections', {'pipelineId':pipelineId}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
