{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Threats</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('anomaly_threats_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.code }}</td>
                <td>{{ entity.description }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ entity.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <spna style="font-size: 15px; font-weight: bold;">...</spna>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ entity.id }}">
                            <li>
                                <a href="{{ path('anomaly_threats_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('anomaly_threats_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                            <li>
                                <a href="{{ path('anomaly_threats_delete', { 'id': entity.id }) }}">delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_threats_new') }}" class="btn btn">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
