{% extends 'AIECmsBundle:Email:base.html.twig' %}

{% block content -%}
    Dear {{ owner.name|title }},<br><br>
    Please be reminded that the following activities are planned / overdue for the month of {{ 'now'|date('F Y') }}.
    <br><br>
    <table id="table-bordered"
           style="border: 1px solid #dddddd;width: 100%; word-break: break-word; border-collapse: collapse; border-spacing: 0;margin-bottom: 20px; table-layout: fixed;">
        <thead>
        <tr style="background: #DDD;">
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Activity</th>

            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Frequency</th>
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Last
                Due Date
            </th>
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Next
                Due Date
            </th>
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Status</th>
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Action Owner
            </th>
        </tr>
        </thead>
        <tbody>
        {%  set mandc = 0 %}
        {%  set mand = 0 %}
        {%  set mandf = 0 %}
        {%  set mandk = 0 %}

        {% for sma in actions %}
            {% set temp = sma['last_inspection_date']|date('d F Y') %}
            {% if sma['ismanagement'] == 1 and sma['iscontrol'] == 1 %}
                {%  set mandc = mandc +1 %}
            {% endif %}

            {% if sma['ismanagement'] == 1 and sma['iscontrol'] == 0 %}
                {%  set mand = mand +1 %}
            {% endif %}

            {% if sma['ismanagement'] == 0 and sma['iscontrol'] == 1 %}
                {%  set mandf = mandf +1 %}
            {% endif %}

            {% if sma['ismanagement'] == 0 and sma['iscontrol'] == 0 and sma['isnonmonitoringkpi'] == 1 %}
                {%  set mandk = mandk +1 %}
            {% endif %}
            {% if sma['child'] is defined and sma['child'] is not null %}
                {% for key,value in sma['child'] %}
                <tr>
                    <td>{% if mand == 1 or mandk == 1 %}{{ sma['managementtitle'] }}{% else %}{{ sma['controltitle'] }}{% endif %}</td>

                    <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">
                        {{ sma['frequency'] }}
                    </td>

                    <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">
                       {% if temp is defined and temp is not null %} {{ temp }} {% else %} {{ sma['last_inspection_date'] |date('d F Y') }}  {% endif %}
                    </td>

                    <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">
                        {{ value }}
                    </td>

                    {{ sma['is_inspection_due'] is not same as( false ) ? '<td  style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;background:#FF786C;">Overdue</td>' : '<td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Planned</td>' }}

                    <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">{{ sma['action_owner_name']? sma['action_owner_name']: 'N/A' }}</td>
                </tr>
                    {% set temp = value %}
                {% endfor %}
             {% else %}
                  <tr>
                      <td>{% if mand or mandk %}{{ sma['managementtitle'] }}{% else %}{{ sma['controltitle'] }}{% endif %}</td>

                    <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">
                        {{ sma['frequency'] }}
                    </td>

                    <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">
                        {{ sma['last_inspection_date'] |date('d F Y') }}
                    </td>

                    <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">
                        {{ sma['next_inspection_date'] |date('d F Y') }}
                    </td>

                      {{ sma['is_inspection_due'] is not same as( false ) ? '<td  style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;background:#FF786C;">Overdue</td>' : '<td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Planned</td>' }}

                      <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">{{ sma['action_owner_name']? sma['action_owner_name']: 'N/A' }}</td>

                </tr>
            {% endif %}

        {% endfor %}
        </tbody>
    </table>
    <br>
    Thanks,<br><br>
    <img src="{{ asset('assets/img/logo_cms.png') }}" style="margin-right:0px" height="29" width="182"
         alt="veracity cms"><br><br>
    <span style="color: #A6A6A6; font-family: Tahoma,sans-serif; font-size: 11px;">
        This is an automated e-mail message, please do not reply directly. You can contact us by sending an e-mail to <a
                href="mailto:veracity-engineer@aiegroup.org">veracity-engineer@aiegroup.org</a>
    </span>
{% endblock %}