{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}


{% block content -%}
    <h1>Delete "{{ entity.name }}" Project</h1>
    <div class="form-group">
        <div class="button-container">
            <button type="button" id="delete_btn_1" class="btn btn-primary btn-danger left">Delete</button>
        </div>
    </div>
    <div class="form-group">
        <div class="button-container text-center">
            <button type="button" id="delete_btn_2" class="btn btn-primary btn-danger hide">Delete</button>
        </div>
    </div>
    {{ form(delete_form) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path('projects') }}">
                Back to projects
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#delete_btn_1').click(function () {
                $('#delete_btn_2').removeClass('hide');
            });

            $('#delete_btn_2').click(function () {
                $('form button').removeClass('hide');
            });
        });
    </script>
{% endblock %}