{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Projects</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Reference #</th>
            <th>Company</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
            {% set grantedEdit = is_granted('ROLE_PROJECT_EDIT', entity) %}
            {% set grantedDelete = is_granted('ROLE_PROJECT_DELETE', entity) %}

            <tr>
                <td><a href="{{ path('projects_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.referenceNo }}</td>
                <td>{{ entity.client }}</td>
                <td>{{ entity.location }}</td>
                <td>
                    <ul>
                        {% if grantedEdit %}
                        <li>
                            <a href="{{ path('projects_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                        {% endif %}
                        {% if grantedDelete %}
                            <li>
                            <a href="{{ path('projects_delete', { 'id': entity.id }) }}">delete</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
