{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>
        {% if entity.filepath %}
        <span class="company-logo">
            <img src="{{ asset(get_file_path(entity.filepath)) }}" alt="{{ entity.name }}" title="{{ entity.name }}" width="100">
        </span>
        {% endif %}

        {{ entity.name }}
    </h1>
    <table class="records_list">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Reference #</th>
                <td>{{ entity.referenceNo }} </td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ entity.client }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ entity.location }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
