{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Monitors</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Inspection Date</th>
            <th>Inspection Frequency (months)</th>
            <th>Temporary Repair Type</th>
            <th>Inspection Results</th>
            {#<th>Actions</th>#}
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>M-{{ loop.length - 1 }}</td>
                <td>{% if entity.inspectionDate %}{{ entity.inspectionDate|date }}{% endif %}</td>
                <td>{{ entity.inspectionFrequency }}</td>
                <td>{{ entity.repairType }}</td>
                <td>{{ entity.inspectionResults }}</td>
{#                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ entity.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <spna style="font-size: 15px; font-weight: bold;">...</spna>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ entity.id }}">
                            <li>
                                <a href="{{ path('action_monitor_edit', {'anomalyId': anomalyId, 'actionId': actionId, 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </div>
                </td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
