﻿.form-signin {
    max-width: 550px;
    padding: 19px 29px 29px;
    margin: 0 auto 15px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
        -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
			
	margin-top: 100px;
}

.form-signin .row{
	margin-top: 5px;
	margin-bottom: 5px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin textarea {
    font-size: 16px;
    height: auto;
    padding: 7px 9px;
}

.form-signin > img {
    padding-top: 10px;
}

p {
    text-align: center;
}

#well {
    max-width: 550px; 
    margin: 0 auto;
    margin-bottom: 12px;
    background-color: rgb(231, 231, 231);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07);
}

#btnRegister {
    color: #333333; 
    cursor: pointer;
}

#btnForgot {
    cursor: pointer;
    color: #5A5A5A;
}

#btnRegisterSend, #btnForgotSend {
    width: 48%; 
    float: right;
}

#copyright {
    margin: 0;
    color: #5A5A5A;
}

#rec-email, #username {
    margin-top:10px;
    margin-bottom: 15px;
}

#btnRegisterCancel, #btnForgotCancel {
    width: 48%;
}

#r-confirm, #password {
    margin-bottom: 15px;
}