{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content %}
    <h1>Anomaly Classes</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.code }}</td>
                <td>{{ entity.description }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ entity.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <spna style="font-size: 15px; font-weight: bold;">...</spna>
                        </button>
                        {% if editGranted == 1 %}
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ entity.id }}">
                            <li>
                                <a href="{{ path('anomaly_classes_edit', { 'projectId': projectId, 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="nav nav-pills">
        <li>
            {% if createGranted == 1 %}
            <a href="{{ path('anomaly_classes_new', {'projectId': projectId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new anomaly class
            </a>
            {% endif %}
        </li>
    </ul>

{% endblock %}