{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content %}
    <h1>New Anomaly Class</h1>

    {{ form(form) }}
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_classes', {'projectId': projectId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
