{% if subproject.actiontracker is defined and subproject.actiontracker is not empty %}
    <table id="action_tracker" class="table-bordered table" style="width:100%;padding: 0px; margin: 0;">
        {% for actionTracker in subproject.actiontracker %}
        <tr style="background-color: #FFFFFF">
            <th colspan="3" style="font-size: 13px;">
                <b>Title:</b>  {{ actionTracker.title }}
            </th>
            <th colspan="4" style="font-size: 13px;">
                <b>Date:</b>  {{ actionTracker.date.date|date("d-m-Y") }}
            </th>
        </tr>
        <tr style="background-color: #DDDDDD;">
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Item</th>
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Detail</th>
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Responsible<br>Group</th>
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Responsible<br>Person</th>
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Due Date</th>
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Status</th>
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Comments</th>
        </tr>
        {% if actionTracker.actiontrackeritems is defined %}
            {% set tempid = 0 %}
            {% for actionTrackerItem in actionTracker.actiontrackeritems %}
                {% if tempid != actionTrackerItem.id %}
                <tr>
                    <td style="text-align: left;vertical-align: middle;font-size: 13px;">{{ actionTrackerItem.item}}</td>
                    <td style="text-align: left;vertical-align: middle;font-size: 13px;">{{ actionTrackerItem.details }}</td>
                    <td style="text-align: left;vertical-align: middle;font-size: 13px;">
                        {{ actionTrackerItem.responsiblegroup }}
                    </td>
                    <td style="text-align: left;vertical-align: middle;font-size: 13px;">
                        {{ actionTrackerItem.persons }}
                    </td>
                    <td style="text-align: left;vertical-align: middle;font-size: 13px;">
                        {{ actionTrackerItem.duedatestring }}
                    </td>
                    {% set choices = actionTrackerItem.choices %}
                    {% if actionTrackerItem.status == choices['Live']  %}
                        <td style="background:#FF786C;font-size: 13px;"><span style="background-color:none;">Live</span></td>
                    {%elseif actionTrackerItem.status == choices['Cancelled'] %}
                        <td style="background:#e1e1e1;font-size: 13px;"><span style="background-color:none;">Cancelled</span></td>
                    {%elseif actionTrackerItem.status == choices['Hold'] %}
                        <td style="background:#ffeb9c;font-size: 13px;"><span style="background-color:none;">Hold</span></td>
                    {%else %}
                        <td style="background:#c6efce;font-size: 13px;"><span style="background-color:none;">Close</span></td>
                    {%endif%}
                    <td style="text-align: left;vertical-align: middle;font-size: 13px;">
                        {{ actionTrackerItem.comments}}
                    </td>
                </tr>
                {% endif %}
                {% set tempid = actionTrackerItem.id %}
            {% endfor %}
        {%endif%}
    {% endfor %}
</table>
{% else %}
    <table class="table table-bordered" id="action_tracker">
        <tr style="background-color: #DDDDDD;">
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Item</th>
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Detail</th>
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Responsible<br>Group</th>
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Responsible<br>Person</th>
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Due Date</th>
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Status</th>
            <th style="text-align: center;vertical-align: middle;font-size: 13px;">Comments</th>
        </tr>
        <tr>
            <td colspan="7">No Action Tracker Item(s)</td>
        </tr>
    </table>
{%endif%}
