<div id="corrosion_matrix">
    <h1>1.1.&nbsp;&nbsp;&nbsp;Corrosion Management Matrix</h1>
    <table class="table-bordered table stickyHeader" id="corrosion_matrix_management" style="margin:0;padding:0; width:100%;" align="center">
        <thead>
            <tr style="background-color: #DDDDDD;">
                <th colspan="12" align="center">
                    <span style="font-size: 13px;background-color: #DDDDDD;">Key Performance Indicators</span>
                </th>
            </tr>
            <tr style="background-color: #DDDDDD;">
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">System</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Activity</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Activity Person</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Activity Location</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Frequency</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Green</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Amber</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Red</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Weightage</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Consequences of Excursion</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Remedial Actions</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Comment</span></td>
            </tr>
            <tr style="background-color: #DDDDDD;">
                <th colspan="12" align="center">
                    <span style="font-size: 13px;background-color: #DDDDDD;">Corrosion Management</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for activity in subproject.activities %}
                {% if activity.management.selected == 1 %}
                    <tr style="background-color: white">
                        <td><span style="font-size: 12px;">{{ activity.system.name }}</span></td>
                        <td><span style="font-size: 12px;">{{ activity.management.title }}</span></td>
                        <td><span style="font-size: 12px;">{{ activity.activity_person }}</span></td>
                        <td><span style="font-size: 12px;">{{ activity.activity_location }}</span></td>
                        <td>
                            <span style="font-size: 12px;">{{ activity.frequency }}</span>
                        </td>
                        <td>
                            <span style="color: #00b050;font-size: 12px;">{{ activity.management.green }}</span>
                        </td>
                        <td>
                            <span style="color: #ffc000;font-size: 12px;">{{ activity.management.amber }}</span>
                        </td>
                        <td>
                            <span style="color: #ff0000;font-size: 12px;">{{ activity.management.red }}</span>
                        </td>
                        <td>
                            <span style="font-size: 12px;">{{ activity.weightage }}</span>
                        </td>
                        <td><span style="font-size: 12px;">{{ activity.consequences_excursion }}</span></td>
                        <td><span style="font-size: 12px;">{{ activity.remedial_action }}</span></td>
                        <td><span style="font-size: 12px;">{% autoescape %}{{ activity.comments|raw }}{% endautoescape %}</span></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <h1>1.2.&nbsp;&nbsp;&nbsp;Corrosion Control Matrix</h1>
    <table class="table-bordered table stickyHeader" id="corrosion_matrix_control" style="margin:0;padding:0; width:100%;" align="center">
        <thead>
            <tr style="background-color: #DDDDDD;">
                <th colspan="12" align="center">
                    <span style="font-size: 13px;background-color: #DDDDDD;">Key Performance Indicators</span>
                </th>
            </tr>
            <tr style="background-color: #DDDDDD;">
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">System</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Activity</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Activity Person</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Activity Location</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Frequency</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Green</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Amber</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Red</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Weightage</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Consequences of Excursion</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Remedial Actions</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Comment</span></td>
            </tr>
            <tr style="background-color: #DDDDDD;">
                <th colspan="12" align="center">
                    <span style="font-size: 13px;background-color: #DDDDDD;">Corrosion Control</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for activity in subproject.activities %}
                {% if activity.control.selected == 1 %}
                <tr style="background-color: white">
                    <td><span style="font-size: 12px;">{{ activity.system.name }}</span></td>
                    <td><span style="font-size: 12px;">{{ activity.control.title }}</span></td>
                    <td><span style="font-size: 12px;">{{ activity.activity_person }}</span></td>
                    <td><span style="font-size: 12px;">{{ activity.activity_location }}</span></td>
                    <td><span style="font-size: 12px;">{{ activity.frequency }}</span></td>
                    <td>
                        {% if activity.control.green_range is not empty %}
                            <span style="color: #00b050;font-size: 12px;">{{ activity.control.green_expression ~ activity.control.green ~ ' and ' ~ activity.control.green_expression_range ~ activity.control.green_range }}</span>
                        {% else %}
                            <span style="color: #00b050;font-size: 12px;">{{ activity.control.green_expression ~ activity.control.green }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if activity.control.amber_range is not empty %}
                            <span style="color: #ffc000;font-size: 12px;">{{ activity.control.amber_expression ~ activity.control.amber ~ ' and ' ~ activity.control.amber_expression_range ~ activity.control.amber_range }}</span>
                        {% else %}
                            <span style="color: #ffc000;font-size: 12px;">{{ activity.control.amber_expression ~ activity.control.amber }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if activity.control.red_range is not empty %}
                            <span style="color: #ff0000;font-size: 12px;">{{ activity.control.red_expression ~ activity.control.red ~ ' and ' ~ activity.control.red_expression_range ~ activity.control.red_range }}</span>
                        {% else %}
                            <span style="color: #ff0000;font-size: 12px;">{{ activity.control.red_expression ~ activity.control.red }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <span style="font-size: 12px;">{{ activity.weightage }}</span>
                    </td>
                    <td><span style="font-size: 12px;">{{ activity.consequences_excursion }}</span></td>
                    <td><span style="font-size: 12px;">{{ activity.remedial_action }}</span></td>
                    <td><span style="font-size: 12px;">{{ activity.comments }}</span></td>
                </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>



