{% set tempsystemname = "" %}
{% set numberloop = 0 %}

{% if reportType == 1 or reportType == 3  %}
    {% set numberloop = 5 %}
{% elseif reportType == 2 %}
    {% set numberloop = 2 %}
{% endif %}

{% if reportType == 1 %}
    {% set incre = 0 %}
{% else %}
    {% set incre = 1 %}
{% endif %}

{% set tempouterkey = 1 %}
{% set tempsystemname = '' %}
{% set tempsystemnamesystemid = 0 %}
{% set incrementactivity = 1 %}
{% set previous = false %}
{% set actid = 9999999999999999999999999 %}
{% set tempRepflag = 1 %}
{% set dontshowgraph = 0 %}
{% set dontshowactivity = 0 %}
{% set actcount = 0 %}

{% for outerkey, activity in subproject.activities %}
    {% if activity.management.selected == 1 or activity.control.selected == 1 %}

            {% if reportType == 1 %}

                {% set showredactflg = 0 %}

                {% if activity.control.kpi_control_color is defined  or activity.control.kpi_control_color is defined %}
                    {% if activity.control.kpi_control_color == "R" or  activity.control.kpi_control_color == "A" %}
                        {% set showredactflg = 1 %}
                    {% endif %}
                {% endif %}

                {% if activity.management.kpi_management_color is defined or activity.management.kpi_management_color is defined %}
                    {% if activity.management.kpi_management_color == "R" or activity.management.kpi_management_color == "A" %}
                       {% set showredactflg = 2 %}
                    {% endif %}
                {% endif %}

                {% if activity.system.locations.show_graph_exception is defined and activity.system.locations.show_graph_exception > 0 and activity.system.locations.show_graph_exception <= 17 %}
                    {% set showredactflg = 3 %}
                {% elseif activity.system.locations.show_graph_exception is defined and activity.system.locations.show_graph_exception > 0 and activity.system.locations.show_graph_exception > 17 %}
                    {% set showredactflg = 4 %}
                {% endif %}

                {% if tempsystemname != activity.system.name and showredactflg >= 1 %}
                        {% set incre = incre + 1 %}
                {% endif %}

                {% if tempsystemname != activity.system.name and showredactflg >= 1 %}
                    <tr><td><span style="font-size: 13px; font-weight: bold; position: relative;">{{ numberloop }}.&nbsp;{{ incre }}.&nbsp;&nbsp;&nbsp;&nbsp;{{ activity.system.name }}</span><br></td></tr>
                {% endif %}

                {% include 'AIECmsBundle:ReportData:systems_db_amberredlocations.html.twig' %}

                {% set tempRepflag = 2 %}

                {% if showredactflg >= 1 %}
                    {% set tempsystemname = activity.system.name %}
                    {% set tempsystemnamesystemid = activity.system.id %}
                {% endif %}
            {% else %}

                {% if activity.control.kpi_control_color is defined %}
                    {% if activity.control.kpi_control_color == "H" %}
                        {% set dontshowgraph = 1 %}
                    {% else %}
                        {% set dontshowgraph = 0 %}
                    {% endif %}
                {% elseif activity.management.kpi_management_color is defined %}
                    {% if activity.management.kpi_management_color == "H" %}
                        {% set dontshowgraph = 1 %}
                    {% else %}
                        {% set dontshowgraph = 0 %}
                    {% endif %}
                {% else %}
                    {% set dontshowgraph = 0 %}
                {% endif %}

                {% if activity.datasheet is defined and activity.datasheet == 7 %}
                    {% set dontshowactivity = 1 %}
                {% else %}
                    {% set dontshowactivity = 0 %}
                {% endif %}

                {% if previous is defined and previous is not empty %}
                    {% if previous.system.id != activity.system.id %}
                        {% set incre = incre + 1 %}
                    {% endif %}
                {% endif %}

                {% if tempsystemname != activity.system.name %}
                    <tr><td><span style="font-size: 13px; font-weight: bold; position: relative;">{{ numberloop }}.&nbsp;{{ incre }}.&nbsp;&nbsp;&nbsp;&nbsp;{{ activity.system.name }}</span><br></td></tr>
                {% endif %}

                {% include 'AIECmsBundle:ReportData:systems_db_locations.html.twig' %}

                {% set tempsystemname = activity.system.name %}

            {% endif %}

            {% set previous = activity %}
            {% set tempincre = incre %}

    {% endif %}
{% endfor %}





