<div id="documents-explorer">
    {% if subproject.documents is defined %}
        {% for document in subproject.documents %}
            <span style="font-size: 13px;">[{{ loop.index }}] {{ document.filename }}, {{ document.company }}, Document Number {{ document.document_number }}, {{ document.document_date|date('d F Y') }}</span>
            <br />
            <br />
        {% endfor %}
    {% endif %}
</div>