<h1>3.1.&nbsp;&nbsp;&nbsp;&nbsp;Defined Flow Assurance Control KPIs</h1>

<table class="table table-bordered" style="border:1px;border-collapse: collapse;" id="flow_defined_control_kpi">
    <tr>
        <th><span style="font-size: 13px;">KPI</span></th>
        <th><span style="font-size: 13px;">Criteria</span></th>
        <th><span style="font-size: 13px;">Frequency (months)/Reference</span></th>
    </tr>
    {% set clgf = 0 %}
    {% set claf = 0 %}
    {% set clrf = 0 %}
    {% set mlgf = 0 %}
    {% set mlaf = 0 %}
    {% set mlrf = 0 %}
    {% for activity in subproject.activities %}
        {% if activity.flowassurancecontrol.selected == 1 %}
        <tr>
            <td><span style="font-size: 13px;">{{ activity.flowassurancecontrol.title }}</span></td>
            <td>
                <span style="color: #00b050;font-size: 13px;font-weight: bold;">Low</span>
                <span style="font-size: 13px;">
                    {% if activity.flowassurancecontrol.green_expression is not empty %}
                        {{ activity.flowassurancecontrol.green_expression }}
                    {% endif %}
                    {% if activity.flowassurancecontrol.green is not empty %}
                        {{ activity.flowassurancecontrol.green }}
                        {% set clgf = 1 %}
                    {% endif %}
                    {% if clgf == 1 and activity.flowassurancecontrol.green_range is not empty %}
                        and
                    {% endif %}
                    {% if activity.flowassurancecontrol.green_expression_range is not empty %}
                        {{ activity.flowassurancecontrol.green_expression_range }}
                    {% endif %}

                    {% if activity.flowassurancecontrol.green_range is not empty %}
                        {{ activity.flowassurancecontrol.green_range }}
                    {% endif %}
                 </span>
                <br/>
                    {% if activity.flowassurancecontrol.amber is not empty and activity.flowassurancecontrol.amber != "N/A" %}
                    <span style="color: #ffc000;font-size: 13px;font-weight: bold;">Moderate</span>
                    <span style="font-size: 13px;">
                        {% if activity.flowassurancecontrol.amber_expression is not empty %}
                            {{ activity.flowassurancecontrol.amber_expression }}
                        {% endif %}
                        {% if activity.flowassurancecontrol.amber is not empty %}
                            {% set claf = 1 %}
                            {{ activity.flowassurancecontrol.amber }}
                        {% endif %}
                        {% if claf == 1 and activity.flowassurancecontrol.amber_range is not empty %}
                            and
                        {% endif %}
                        {% if activity.flowassurancecontrol.amber_expression_range is defined %}
                            {{ activity.flowassurancecontrol.amber_expression_range }}
                        {% endif %}
                        {% if activity.flowassurancecontrol.amber_range is not empty %}
                            {{ activity.flowassurancecontrol.amber_range }}
                        {% endif %}
                    </span>
                    <br/>
                    {% endif %}
                    <span style="color: #ff0000;font-size: 13px;font-weight: bold;">High</span>
                    <span style="font-size: 13px;">
                        {% if activity.flowassurancecontrol.red_expression is not empty %}
                            {{ activity.flowassurancecontrol.red_expression }}
                        {% endif %}
                        {% if activity.flowassurancecontrol.red is not empty %}
                            {{ activity.flowassurancecontrol.red }}
                            {% set clrf = 1 %}
                        {% endif %}
                        {% if clrf == 1 and activity.flowassurancecontrol.red_range is not empty %}
                            and
                        {% endif %}
                        {% if activity.flowassurancecontrol.red_expression_range is not empty %}
                            {{ activity.flowassurancecontrol.red_expression_range }}
                        {% endif %}
                        {% if activity.flowassurancecontrol.red_range is not empty %}
                            {{ activity.flowassurancecontrol.red_range }}
                        {% endif %}
                    </span>
            </td>
            <td><span style="font-size: 13px;">{{ activity.frequency }}<br />{{ activity.comments }}</span></td>
        </tr>
        {% endif %}
        {% set clgf = 0 %}
        {% set claf = 0 %}
        {% set clrf = 0 %}
    {% endfor %}
</table>

<h1>3.2.&nbsp;&nbsp;&nbsp;&nbsp;Defined Flow Assurance Management KPIs</h1>

<table class="table table-bordered" style="border:1px;border-collapse: collapse;" id="flow_defined_management_kpi">
    <tr>
        <th><span style="font-size: 13px;">KPI</span></th>
        <th><span style="font-size: 13px;">Criteria</span></th>
        <th><span style="font-size: 13px;">Frequency (months)/Reference</span></th>
    </tr>

    {% for activity in subproject.activities %}
        {% if activity.flowassurancemanagement.selected == 1 %}
        <tr>
            <td><span style="font-size: 13px;">{{ activity.flowassurancemanagement.title }}</span></td>
            <td>
                <span style="color: #00b050;font-size: 13px;font-weight: bold;">Low</span>
                <span style="font-size: 13px;">
                    {% if activity.flowassurancemanagement.green is defined %}
                        {{ activity.flowassurancemanagement.green }}
                    {% endif %}
                </span>
                {% if activity.flowassurancemanagement.amber is not empty and activity.flowassurancemanagement.amber != "N/A" %}
                <br />
                    <span style="color: #ffc000;font-size: 13px;font-weight: bold;">Moderate</span>
                    <span style="font-size: 13px;">
                        {% if activity.flowassurancemanagement.amber is defined %}
                            {{ activity.flowassurancemanagement.amber }}
                        {% endif %}
                    </span>
                {% endif %}
                <br />
                <span style="color: #ff0000;font-size: 13px;font-weight: bold;">High</span>
                <span style="font-size: 13px;">
                    {% if activity.flowassurancemanagement.red is defined %}
                        {{ activity.flowassurancemanagement.red }}
                    {% endif %}
                </span>
            </td>
            <td>
                <span style="font-size: 13px;">
                    {{ activity.frequency }}
                    <br />
                    {% autoescape %}
                        {{ activity.comments|raw }}
                    {% endautoescape %}
                </span>
            </td>
        </tr>
        {% endif %}
        {% set mlgf = 0 %}
        {% set mlaf = 0 %}
        {% set mlrf = 0 %}
    {% endfor %}

</table>