<div id="flowassurance_matrix">
    <h1>2.1.&nbsp;&nbsp;&nbsp;Flow Assurance Management Matrix</h1>
    <table class="table-bordered table stickyHeader" id="flowassurance_matrix_management" style="margin:0; padding:0; width:100%;" align="center">
        <thead>
            <tr style="background-color: #DDDDDD;">
                <th colspan="12" align="center">
                    <span style="font-size: 13px;background-color: #DDDDDD;">Key Performance Indicators</span>
                </th>
            </tr>
            <tr style="background-color: #DDDDDD;">
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">System</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Activity</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Activity Person</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Activity Location</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Frequency</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Green</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Amber</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Red</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Weightage</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Consequences of Excursion</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Remedial Actions</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Comment</span></td>
            </tr>
            <tr style="background-color: #DDDDDD;">
                <th colspan="12" align="center">
                    <span style="font-size: 13px;background-color: #DDDDDD;">Flow Assurance Management</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for activity in subproject.activities %}
                {% if activity.flowassurancemanagement is defined and activity.flowassurancemanagement.selected == 1 %}
                    <tr style="background-color: white">
                        <td><span style="font-size: 12px;">{{ activity.system.name }}</span></td>
                        <td><span style="font-size: 12px;">{{ activity.flowassurancemanagement.title }}</span></td>
                        <td><span style="font-size: 12px;">{{ activity.activity_person }}</span></td>
                        <td><span style="font-size: 12px;">{{ activity.activity_location }}</span></td>
                        <td>
                            <span style="font-size: 12px;">{{ activity.frequency }}</span>
                        </td>
                        <td>
                            <span style="color: #00b050;font-size: 12px;">{{ activity.flowassurancemanagement.green }}</span>
                        </td>
                        <td>
                            <span style="color: #ffc000;font-size: 12px;">{{ activity.flowassurancemanagement.amber }}</span>
                        </td>
                        <td>
                            <span style="color: #ff0000;font-size: 12px;">{{ activity.flowassurancemanagement.red }}</span>
                        </td>
                        <td>
                            <span style="font-size: 12px;">{{ activity.weightage }}</span>
                        </td>
                        <td><span style="font-size: 12px;">{{ activity.consequences_excursion }}</span></td>
                        <td><span style="font-size: 12px;">{{ activity.remedial_action }}</span></td>
                        <td><span style="font-size: 12px;">{% autoescape %}{{ activity.comments|raw }}{% endautoescape %}</span></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <h1>2.2.&nbsp;&nbsp;&nbsp;Flow Assurance Control Matrix</h1>
    <table class="table-bordered table stickyHeader" id="flowassurance_matrix_control" style="margin:0;padding:0; width:100%;" align="center">
        <thead>
            <tr style="background-color: #DDDDDD;">
                <th colspan="12" align="center">
                    <span style="font-size: 13px;background-color: #DDDDDD;">Key Performance Indicators</span>
                </th>
            </tr>
            <tr style="background-color: #DDDDDD;">
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">System</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Activity</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Activity Person</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Activity Location</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Frequency</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Green</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Amber</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Red</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Weightage</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Consequences of Excursion</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Remedial Actions</span></td>
                <td valign="middle"><span style="font-size: 13px;font-weight: bold; background-color:none;">Comment</span></td>
            </tr>
            <tr style="background-color: #DDDDDD;">
                <th colspan="12" align="center">
                    <span style="font-size: 13px;background-color: #DDDDDD;">Flow Assurance Control</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for activity in subproject.activities %}
            {% if activity.flowassurancecontrol is defined and activity.flowassurancecontrol.selected == 1 %}
                <tr style="background-color: white">
                    <td><span style="font-size: 12px;">{{ activity.system.name }}</span></td>
                    <td><span style="font-size: 12px;">{{ activity.flowassurancecontrol.title }}</span></td>
                    <td><span style="font-size: 12px;">{{ activity.activity_person }}</span></td>
                    <td><span style="font-size: 12px;">{{ activity.activity_location }}</span></td>
                    <td><span style="font-size: 12px;">{{ activity.frequency }}</span></td>
                    <td>
                        {% if activity.flowassurancecontrol.green_range is not empty %}
                            <span style="color: #00b050;font-size: 12px;">{{ activity.flowassurancecontrol.green_expression ~ activity.flowassurancecontrol.green ~ ' and ' ~ activity.flowassurancecontrol.green_expression_range ~ activity.flowassurancecontrol.green_range }}</span>
                        {% else %}
                            <span style="color: #00b050;font-size: 12px;">{{ activity.flowassurancecontrol.green_expression ~ activity.flowassurancecontrol.green }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if activity.flowassurancecontrol.amber_range is not empty %}
                            <span style="color: #ffc000;font-size: 12px;">{{ activity.flowassurancecontrol.amber_expression ~ activity.flowassurancecontrol.amber ~ ' and ' ~ activity.flowassurancecontrol.amber_expression_range ~ activity.flowassurancecontrol.amber_range }}</span>
                        {% else %}
                            <span style="color: #ffc000;font-size: 12px;">{{ activity.flowassurancecontrol.amber_expression ~ activity.flowassurancecontrol.amber }}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if activity.flowassurancecontrol.red_range is not empty %}
                            <span style="color: #ff0000;font-size: 12px;">{{ activity.flowassurancecontrol.red_expression ~ activity.flowassurancecontrol.red ~ ' and ' ~ activity.flowassurancecontrol.red_expression_range ~ activity.flowassurancecontrol.red_range }}</span>
                        {% else %}
                            <span style="color: #ff0000;font-size: 12px;">{{ activity.flowassurancecontrol.red_expression ~ activity.flowassurancecontrol.red }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <span style="font-size: 12px;">{{ activity.weightage }}</span>
                    </td>
                    <td><span style="font-size: 12px;">{{ activity.consequences_excursion }}</span></td>
                    <td><span style="font-size: 12px;">{{ activity.remedial_action }}</span></td>
                    <td><span style="font-size: 12px;">{{ activity.comments }}</span></td>
                </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>



