{% block javascripts -%}
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>
{% endblock %}
<h1>1.1.&nbsp;&nbsp;&nbsp;&nbsp;Corrosion Control Key Performance Indicators</h1>

<table class="table table-bordered" id="corrosion_control_kpi" style="border:1px; border-collapse: collapse;">
        <tr>
            <th style="width:35%;vertical-align:middle;padding-left: 5px; padding-right: 5px;"><span style="font-size: 13px;">KPI</span></th>
            <th style="width:25%;vertical-align:middle;padding-left: 5px; padding-right: 5px;"><span style="font-size: 13px;">Overall KPI</span></th>
            <th style="width:40%;vertical-align:middle;padding-left: 5px; padding-right: 5px;"><span style="font-size: 13px;">Comments</span></th>
        </tr>
    {% for activity in subproject.activities %}

        {% if activity.control.selected == 1 %}
            <tr>
                <td style="width:35%; padding-left: 5px; padding-right: 5px;"><span style="font-size: 13px;">{{ activity.control.title }}</span></td>
                {% if activity.control.kpi_control_color is defined and activity.control.kpi_control_color == "H" %} {% set cv = 75 %} {% else %} {% set cv = 70 %} {% endif %}
                <td style="width:25%; text-align: center; vertical-align: middle; padding-left: 5px; padding-right: 5px;"><div style="margin:auto; display:table;">{% if activity.control.kpi_control_color is defined and activity.control.kpi_control_color == "R" %} <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/img/cms/redcircle.png') }}" width="40" height="40" alt="Red" /> {% elseif activity.control.kpi_control_color is defined and activity.control.kpi_control_color == "A" %} <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/img/cms/ambercircle.png') }}" width="40" height="40" alt="Amber" /> {% elseif activity.control.kpi_control_color is defined and activity.control.kpi_control_color == "G" %} <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/img/cms/greencircle.png') }}" width="40" height="40" alt="Green" /> {% elseif activity.control.kpi_control_color is defined and activity.control.kpi_control_color == "H" %}&nbsp;Hold {% else %} {% endif %}</div></td>
                <td style="width:40%; padding-left: 5px; padding-right: 5px;"><span style="font-size: 13px;">{{ activity.control.comments|raw }}</span></td>
            </tr>
        {% endif %}

    {% endfor %}

</table>

<h1>1.2.&nbsp;&nbsp;&nbsp;&nbsp;Corrosion Management Key Performance Indicators</h1>

<table class="table table-bordered" id="corrosion_management_kpi" style="border:1px; border-collapse: collapse;">

    <tr>
        <th style="width:35%; padding-left: 5px; padding-right: 5px;"><span style="font-size: 13px;">KPI</span></th>

        <th style="width:25%; padding-left: 5px; padding-right: 5px;"><span style="font-size: 13px;">Overall KPI</span></th>

        <th style="width:40%; padding-left: 5px; padding-right: 5px;"><span style="font-size: 13px;">Comments</span></th>
    </tr>
    {% for activity in subproject.activities %}

        {% if activity.management.selected == 1 %}
            <tr>
                <td style="width:35%; padding-left: 5px; padding-right: 5px;"><span style="font-size: 13px;">{{ activity.management.title }}</span></td>
                {% if activity.management.kpi_management_color is defined and activity.management.kpi_management_color == "H" %} {% set cv = 75 %} {% else %} {% set cv = 70 %} {% endif %}
                <td style="width:25%; text-align: center; vertical-align: middle; padding-left: 5px; padding-right: 5px;"><div style="margin:auto; display:table;">{% if activity.management.kpi_management_color is defined and activity.management.kpi_management_color == "R" %} <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/img/cms/redcircle.png') }}" width="40" height="40" /> {% elseif activity.management.kpi_management_color is defined and activity.management.kpi_management_color == "A" %} <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/img/cms/ambercircle.png') }}" width="40" height="40" /> {% elseif activity.management.kpi_management_color is defined and activity.management.kpi_management_color == "G" %} <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/img/cms/greencircle.png') }}" width="40" height="40" /> {% elseif activity.management.kpi_management_color is defined and activity.management.kpi_management_color == "H" %} &nbsp;Hold {% else %} {% endif %}</div></td>
                <td style="width:40%; padding-left: 5px; padding-right: 5px;"><span style="font-size: 13px;">{{ activity.management.comments|raw }}</span></td>
            </tr>
        {% endif %}

    {% endfor %}

</table>

<h1>1.3.&nbsp;&nbsp;&nbsp;&nbsp;Overall Compliance</h1>
{% if reportType == 5 %}
<p>Overall compliance rating for each corrosion control and corrosion management KPI has been given such that in the future it would be easy to track the overall progress over time. The following traffic light and weighting system are employed to determine the level of compliance for each KPI.</p>

<table width="100%">
    <tbody>
<tr>
    <td width="16%; padding-left: 5px; padding-right: 5px;">
        <p><strong>KPI status</strong></p>
    </td>
    <td width="42%; padding-left: 5px; padding-right: 5px;">
        <p><strong>Description</strong></p>
    </td>
    <td width="40%; padding-left: 5px; padding-right: 5px;">
        <p><strong>Weightage in compliance calculation</strong></p>
    </td>
</tr>
<tr>
    <td width="16%; padding-left: 5px; padding-right: 5px;">
        <p style="color: #00b050;font-size: 13px; font-weight: bold;">Green</p>
    </td>
    <td width="42%; padding-left: 5px; padding-right: 5px;">
        <p>100% compliance to thresholds</p>
    </td>
    <td width="40%; padding-left: 5px; padding-right: 5px;">
        <p>100</p>
    </td>
</tr>
<tr>
    <td width="16%; padding-left: 5px; padding-right: 5px;">
        <p style="color: #ffc000;font-size: 13px; font-weight: bold;">Amber</p>
    </td>
    <td width="42%; padding-left: 5px; padding-right: 5px;">
        <p>&lt; 100% compliance to thresholds</p>
    </td>
    <td width="40%; padding-left: 5px; padding-right: 5px;">
        <p>50</p>
    </td>
</tr>
<tr>
    <td width="16%; padding-left: 5px; padding-right: 5px;">
        <p style="color: #ff0000;font-size: 13px; font-weight: bold;">Red</p>
    </td>
    <td width="42%; padding-left: 5px; padding-right: 5px;">
        <p>Thresholds not met</p>
    </td>
    <td width="40%; padding-left: 5px; padding-right: 5px;">
        <p>0</p>
    </td>
</tr>
<tr>
    <td width="16%; padding-left: 5px; padding-right: 5px;">
        <p>Hold</p>
    </td>
    <td width="42%; padding-left: 5px; padding-right: 5px;">
        <p>Activity not performed due to operational constraints</p>
    </td>
    <td width="40%; padding-left: 5px; padding-right: 5px;">
        <p>Not considered</p>
    </td>
</tr>
</tbody>
</table>
<br/>
<p>Control and Management Compliance for the current reporting period have been presented in the graph and table below</p>
{% else %}
<p>Overall compliance rating for each corrosion control and corrosion management KPI has been given such that in the future it would be easy to track the overall progress over time. <span style="color: #00b050;font-size: 13px;font-weight: bold;">Green</span>, <span style="color: #ffc000;font-size: 13px;font-weight: bold;">Amber</span> and <span style="color: #ff0000;font-size: 13px;font-weight: bold;">Red</span> KPIs are given 100%, 50% and 0% weighting, respectively. Activities that are placed on HOLD were not considered in the compliance calculations.</p>
{% endif %}
<br/>

<div class="table table-bordered" id="overallcompliance_graph">
    <tr style="background-color:white;">
        <td>
            <div class="container-element" id="containerCompliance" style="height: 400px; min-width: 310px">
            </div>
        </td>
    </tr>
</div>
<br />
<table class="table table-bordered" id="overallcompliance">
    <tr>
        <th colspan="5"><span style="font-size: 13px;">Overall Compliance Summary (%)</span></th>
    </tr>
    {% set mainstart = '[' %}
    {% set mainend = ']' %}
    <tr>
        <td><span style="font-size: 13px;">Duration</span></td>
        {% if currentCompliances is defined %}
            <td>{{ currentCompliances.from_date|date("d/m/Y") }} - {{ currentCompliances.to_date|date("d/m/Y") }}</td>
        {% else %}
            <td></td>
        {% endif %}
        {% if quarterCompliances is defined %}
            {% if subproject.reportingperiod == "quarterly" %}
                {% for quarterCompliance in quarterCompliances %}
                    {% set g = json_decode(quarterCompliance.complianceData) %}
                    <td>{{ g.from_date.date|date("d/m/Y") }} - {{ g.to_date.date|date("d/m/Y") }}</td>
                {% endfor %}
            {% elseif subproject.reportingperiod == "bi-annual" %}
                {% for quarter in quarterCompliances %}
                    <td>{% if quarter.quarter == 1 %} 01/01/{{ quarter.reportingperioddate|date("Y") }} - 30/06/{{ quarter.reportingperioddate|date("Y") }} {% elseif quarter.quarter == 2 %} 01/07/{{ quarter.reportingperioddate|date("Y") }} - 31/12/{{ quarter.reportingperioddate|date("Y") }} {% endif %}</td>
                {% endfor %}
            {% endif %}
        {% endif %}
    </tr>

    <tr>
        <td><span style="font-size: 13px;">Control</span></td>
        {% if currentCompliances is defined %}
            <td><span style="font-size: 13px;">{{ currentCompliances.overallcontrolcompliance|round() }}</span></td>
            {% if currentCompliances.to_date.date|date("t") != 31%}
                {% set controlGraphData = '[Date.UTC(' ~ currentCompliances.to_date.date|date_modify("-1 month")|date("Y,m,d") ~ '),' ~ currentCompliances.overallcontrolcompliance|round() ~ '],' %}
                {% set greenGraphData = '[Date.UTC(' ~ currentCompliances.to_date.date|date_modify("-1 month")|date("Y,m,d") ~ '),' ~ 75 ~ '],' %}
            {% else %}
                {% set controlGraphData = '[Date.UTC(' ~ currentCompliances.to_date.date|date_modify("-31 day")|date("Y,m,d") ~ '),' ~ currentCompliances.overallcontrolcompliance|round() ~ '],' %}
                {% set greenGraphData = '[Date.UTC(' ~ currentCompliances.to_date.date|date_modify("-31 day")|date("Y,m,d") ~ '),' ~ 75 ~ '],' %}
            {% endif %}
        {% else %}
            <td></td>
        {% endif %}
        {% if quarterCompliances is defined %}
            {% for quarter in quarterCompliances %}
                {% set g = json_decode(quarter.complianceData) %}
                <td>{{ g.overallcontrolcompliance|round() }}</td>
                {% if g.to_date.date|date("t") != 31%}
                    {% set controlGraphData = controlGraphData ~ '[Date.UTC(' ~ g.to_date.date|date_modify("-1 month")|date("Y,m,d") ~ '),' ~ g.overallcontrolcompliance|round() ~ '],' %}
                    {% set greenGraphData = greenGraphData ~ '[Date.UTC(' ~ g.to_date.date|date_modify("-1 month")|date("Y,m,d") ~ '),' ~ 75 ~ '],' %}
                {% else %}
                    {% set controlGraphData = controlGraphData ~ '[Date.UTC(' ~ g.to_date.date|date_modify("-31 day")|date("Y,m,d") ~ '),' ~ g.overallcontrolcompliance|round() ~ '],' %}
                    {% set greenGraphData = greenGraphData ~ '[Date.UTC(' ~ g.to_date.date|date_modify("-31 day")|date("Y,m,d") ~ '),' ~ 75 ~ '],' %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </tr>

    <tr>
        <td><span style="font-size: 13px;">Management</span></td>
        {% if currentCompliances is defined %}
            <td><span style="font-size: 13px;">{{ currentCompliances.overallmanagementcompliance|round() }}</span></td>
            {% if currentCompliances.to_date.date|date("t") != 31%}
                {% set managementGraphData = '[Date.UTC(' ~ currentCompliances.to_date.date|date_modify("-1 month")|date("Y,m,d") ~ '),' ~ currentCompliances.overallmanagementcompliance|round() ~ '],' %}
                {% set redGraphData = '[Date.UTC(' ~ currentCompliances.to_date.date|date_modify("-1 month")|date("Y,m,d") ~ '),' ~ 50 ~ '],' %}
            {% else %}
                {% set managementGraphData = '[Date.UTC(' ~ currentCompliances.to_date.date|date_modify("-31 day")|date("Y,m,d") ~ '),' ~ currentCompliances.overallmanagementcompliance|round() ~ '],' %}
                {% set redGraphData = '[Date.UTC(' ~ currentCompliances.to_date.date|date_modify("-31 day")|date("Y,m,d") ~ '),' ~ 50 ~ '],' %}
            {% endif %}
        {% else %}
            <td></td>
        {% endif %}
        {% if quarterCompliances is defined %}
            {% for quarter in quarterCompliances %}
                {% set g = json_decode(quarter.complianceData) %}
                <td>{{ g.overallmanagementcompliance|round() }}</td>
                {% if g.to_date.date|date("t") != 31%}
                    {% set managementGraphData = managementGraphData ~ '[Date.UTC(' ~ g.to_date.date|date_modify("-1 month")|date("Y,m,d") ~ '),' ~ g.overallmanagementcompliance|round() ~ '],' %}
                    {% set redGraphData = redGraphData ~ '[Date.UTC(' ~ g.to_date.date|date_modify("-1 month")|date("Y,m,d") ~ '),' ~ 50 ~ '],' %}
                {% else %}
                    {% set managementGraphData = managementGraphData ~ '[Date.UTC(' ~ g.to_date.date|date_modify("-31 day")|date("Y,m,d") ~ '),' ~ g.overallmanagementcompliance|round() ~ '],' %}
                    {% set redGraphData = redGraphData ~ '[Date.UTC(' ~ g.to_date.date|date_modify("-31 day")|date("Y,m,d") ~ '),' ~ 50 ~ '],' %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </tr>
</table>

{% set managementGraphData = mainstart ~ managementGraphData ~ mainend %}
{% set controlGraphData = mainstart ~ controlGraphData ~ mainend %}

{% set redGraphData = mainstart ~ redGraphData ~ mainend %}
{% set greenGraphData = mainstart ~ greenGraphData ~ mainend %}

<script type="text/javascript">

    $(function()
    {

        {% if managementGraphData is defined and managementGraphData is not empty and controlGraphData is defined and controlGraphData is not empty %}
        var data = eval({{ controlGraphData }});
        var managementData = eval({{ managementGraphData }});
        var controlData = eval({{ controlGraphData }});
        var redData = eval({{ redGraphData }});
        var greenData = eval({{ greenGraphData }});

        window.chart = Highcharts.stockChart('containerCompliance', {

            chart: {
                borderColor: '#d2d5d5',
                borderWidth: 1,
                type: 'line',
                plotBackgroundColor: {

                    linearGradient: {
                        x1: 0,
                        x2: 0,
                        y1: 0,
                        y2: 1
                    },
                    stops: [
                        [0, 'rgba(146,208,80,0.8)'],
                        [0.40, 'rgba(255,201,14,0.8)'],
                        [0.75, 'rgba(255,70,70,0.8)'],
                        [1, 'rgba(255,70,70,0.8)'],
                    ]
                },
            },

            exporting: {
                enabled: false
            },

            navigator: {
                enabled: false,
            },

            scrollbar: {
                enabled: false,
            },

            title: {
                text: 'Overall Compliance %',
                style: {
                    color: '#000000',
                    fontWeight: 'bold'
                },
                margin: 5,
            },

            tooltip: {
                formatter: function () {
                    var d = new Date(this.x);
                    // numberFormat takes your label's value and the decimal places to show
                    //return ( + '%';

                    var s = [];

                    $.each(this.points, function (i, point) {
                        if (i < 2) {
                            s.push('<span style="font-weight:bold;">' + point.series.name + ' : ' + point.y + '%<span>');
                        }
                    });

                    return '<span style="font-weight:bold;">' + ((d.getMonth() + 1) + '-' + d.getFullYear()) + "</span><br />" +s.join(' and ');
                    shared: true
                },
            },

            xAxis: {
                type: 'datetime',
                minTickInterval: 28*24*3600*1000,
                dateTimeLabelFormats: {
                    day: '%e of %b',
                    month: '%b %Y'
                },
                minRange: 14 * 24 * 3600000,
            },

            plotOptions: {
                series: {
                    pointInterval: 28 * 24 * 3600 * 1000,
                }
            },

            yAxis: {
                opposite: false,
                title: {
                    text: 'Overall Compliance %',
                    style: {
                        color: '#000000',
                        fontWeight: 'bold'
                    }
                },
                gridLineWidth: 0,
                minorGridLineWidth: 0,
                tickInterval: 25,
                min : 0,
                max: 100,

            },

            rangeSelector: {
                selected: 8,
                inputEnabled: false,
            },

            legend: {
                enabled: true,
                align: 'center',
                verticalAlign: 'top',
                layout: 'horizontal',
                x: -20,
                margin: 5,
                itemMarginTop: 10,
                itemMarginBottom: 2,
            },

            series: [{
                name: 'Management',
                data: managementData.sort(),
                marker: {
                    enabled: true,
                    radius: 4
                },
            },{
                name: 'Control',
                data: controlData.sort(),
                marker: {
                    enabled: true,
                    radius: 4
                },
            },{
                name: 'Red Threshold',
                data: redData.sort(),
                color: 'red',
                zones: [ {
                    dashStyle: 'shortdash'
                }],
                marker: {
                    enabled: false,
                },
            },{
                name: 'Green Threshold',
                data: greenData.sort(),
                color: 'green',
                zones: [ {
                    dashStyle: 'shortdash'
                }],
                marker: {
                    enabled: false,
                },
            },],

            credits: {
                enabled: false
            },
        });
        {% endif %}
    });
</script>

