{% if subproject.meeting is defined and subproject.meeting is not empty %}
    {% set company = "" %}
        {% for meeting in subproject.meeting %}
            {% if meeting.attendees is defined %}
                {% set tempid = 0 %}
                {% set company = "" %}

                {% for attendee in meeting.attendees %}
                    {% if tempid != attendee.id %}
                            {% if company is not empty %}
                            {% set company = company ~ ", " ~ attendee.company %}
                            {% else %}
                            {% set company = attendee.company %}
                            {% endif %}
                    {% endif %}
                    {% set tempid = attendee.id %}
                {% endfor %}
            {%endif%}
           <p>
            Status of the corrosion management system and all corrosion risks associated with the {{ subproject.name }} were initially identified and assessed via a desktop study undertaken by Asset Integrity Engineering (AIE). On completion of this exercise, a meeting was held on {{ meeting.date.date|date("d-m-Y") }}, where {{ company }} technical personnel involved with the operations and management of the asset were invited.
            The purpose of this meeting was to ensure that all stakeholders are aware of {{ subproject.name }}’s corrosion management system and to establish and agree on possible gaps in the said system due to non-compliance or technical restrictions. Recommendations to close these gaps were also proposed and agreed on during this meeting.
            The following personnel attended the meeting:
           </p>

            <table class="table table-bordered" id="meetings">
                {% if meeting.attendees is defined %}
                    {% set tempid = 0 %}
                    <tr style="background-color: #DDDDDD">
                        <th valign="middle"><span style="font-size: 13px;">Attendees Name</span></th>
                        <th valign="middle"><span style="font-size: 13px;">Position</span></th>
                        <th valign="middle"><span style="font-size: 13px;">Company</span></th>
                    </tr>
                    {% for attendee in meeting.attendees %}
                        {% if tempid != attendee.id %}
                        <tr>
                            <td><span style="font-size: 13px;">{{ attendee.name}}</span></td>
                            <td><span style="font-size: 13px;">{{ attendee.position }}</span></td>
                            <td>
                                <span style="font-size: 13px;">
                                {{ attendee.company }}
                                </span>
                            </td>
                        </tr>
                        {% endif %}
                        {% set tempid = attendee.id %}
                    {% endfor %}
                {%endif%}
            </table>

        {% endfor %}
{% else %}
        <table class="table table-bordered" id="meetings">
            <tr style="background-color: #DDDDDD">
                <th valign="middle"><span style="font-size: 13px;">Attendees Name</span></th>
                <th valign="middle"><span style="font-size: 13px;">Position</span></th>
                <th valign="middle"><span style="font-size: 13px;">Company</span></th>
            </tr>
            <tr>
                <td colspan="3"><span style="font-size: 13px;">No Attendees[s]</span></td>
            </tr>
        </table>
{%endif%}
