<table class="table table-bordered" id="monitoring_kpi">
    {% set nomonitoringactivity = 0 %}
    {% if subproject.activities is defined and subproject.activities is not empty %}
        <tr>
            <th valign="middle"><span style="font-size: 13px;">Monitoring (Non-KPI) Activity</span></th>
            <th valign="middle"><span style="font-size: 13px;">Comment</span></th>
        </tr>
        {% for activity in subproject.activities %}
            {% if activity.non_monitoring_kpi.selected == 1 %}
            <tr>
                <td><span style="font-size: 13px;">{{ activity.non_monitoring_kpi.title }}</span></td>
                <td><span style="font-size: 13px;">{{ activity.non_monitoring_kpi.comments }}</span></td>
            </tr>
                {% set nomonitoringactivity = nomonitoringactivity + 1 %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if nomonitoringactivity == 0 %}
            <tr>
                <td colspan="2" align="center"><span style="font-size: 13px;">N/A</span></td>
            </tr>
    {% endif %}
</table>
