{% set productionFlag = 1 %}
{% set gasProductionDis = 'display:block;' %}
{% set h2sDis = 'display:block;' %}

{% set tempProductionName = "" %}

{% for activity in subproject.activities %}

    {% if activity.system.locations is defined and activity.system.locations is not empty %}

       {% set locations = activity.system.locations %}

       {% if locations is defined and locations is not empty %}

       {% for key,location in locations.names %}

            {% if locations.production_graphs[key] is defined and locations.production_graphs[key] != "[]|[]|[]|[]|[]|[]|[]" %}

                {% if locations.production_graphs[key] is defined %}
                    {% set production = locations.production_graphs[key] %}
                {% else %}
                    {% set production = "" %}
                {% endif %}
                {% set productionFlag = 2 %}
                <tr>
                    <td>
                        <span style="font-size: 13px; font-weight:bold; position: relative; margin-left: 15px; width: 98%; display: inline-block; margin: 6px;">4.&nbsp;&nbsp;{{ loop.index }}.&nbsp;{{ location }}</span><br>
                    </td>
                </tr>
                {% if activity.system.description is defined and activity.system.description is not empty %}
                    <tr>
                        <td>
                            <span style="font-size: 13px; position: relative; margin-left: 15px; width: 98%; text-align: justify; display: inline-block; margin: 6px;">{% autoescape %}{{ activity.system.description|raw }}{% endautoescape %}</span>
                        </td>
                    </tr>
                {% endif %}
                {% if production is defined and production is not empty and production != "[]|[]|[]|[]|[]|[]|[]" %}
                     {% set gasproduction = production|split('|') %}
                     {% if gasproduction[0] == "[]" %}
                         {% set gasProductionDis = 'display:none;' %}
                     {% endif %}

                     {% if gasproduction[5] == "[]" and gasproduction[6] == "[]" %}
                        {% set h2sDis = 'display:none;' %}
                     {% endif %}

                {% endif %}
                <tr>
                    <td>
                        <div class="container-element" id="containerProduction{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px;{{ gasProductionDis }}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="container-element" id="containerOneProduction{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px;"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="container-element" id="containerTwoProduction{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px; {{ h2sDis }}"></div>
                    </td>
                </tr>
                <script type="text/javascript">

                    $(function()
                    {

                        {% if production is defined and production is not empty and production != "[]|[]|[]|[]|[]|[]|[]" %}
                            var yaxisstr = "Gas Production, mmscf/day";
                            var xaxisstr = "Gas Production";
                            var actid = {{ activity.system.id }} + "_" + {{ key }};
                            var sucdata = '{{ production }}';
                            var sucdata = sucdata.split("|");

                            var gasProduction = eval(sucdata[0]);
                            if (sucdata[0] == "[]") {
                                gasProduction = "";
                            }

                            var waterProduction = eval(sucdata[1]);
                            if ( sucdata[1] == "[]") {
                                waterProduction = "";
                            }

                            var oilProduction = eval(sucdata[3]);
                            if ( sucdata[3] == "[]") {
                                oilProduction = "";
                            }
                            var condensateProduction = eval(sucdata[2]);
                            if ( sucdata[2] == "[]" ) {
                                condensateProduction = "";
                            }
                            var totalProduction = eval(sucdata[4]);
                            if ( sucdata[4] == "[]" ) {
                                totalProduction = "";
                            }

                            var h2s = eval(sucdata[5]);
                            if (  sucdata[5] == "[]" ) {
                                h2s = "";
                            }

                            var co2 = eval(sucdata[6]);
                            if ( sucdata[6] == "[]" ) {
                                co2 = "";
                            }

                            var container = 'containerProduction'+actid;
                            //var containerImage = 'containerImage'+actid;
                            var ele = '#'+container;

                            if (gasProduction) {

                                // Create the gas production chart
                                Highcharts.stockChart(container, {

                                    chart: {
                                        renderTo: container,
                                        borderColor: '#d2d5d5',
                                        borderWidth: 1,
                                        type: 'line',
                                    },

                                    exporting: {
                                        enabled: false
                                    },

                                    navigator: {
                                        enabled: false,
                                    },

                                    scrollbar: {
                                        enabled: false,
                                    },

                                    title: {
                                        text: xaxisstr,
                                        style: {
                                            color: '#000000',
                                            fontWeight: 'bold'
                                        },
                                    },

                                    xAxis: {
                                        type: 'datetime',
                                        minTickInterval: 28 * 24 * 3600 * 1000,
                                    },

                                    yAxis: {
                                        opposite: false,
                                        title: {
                                            text: yaxisstr,
                                        },
                                        min: 0,
                                    },

                                    rangeSelector: {
                                        selected: 8,
                                        inputEnabled: false,
                                    },

                                    legend: {
                                        enabled: true,
                                        layout: 'horizontal',
                                        align: 'center',
                                        verticalAlign: 'top',
                                        x: -20,
                                        margin: 5,
                                        itemMarginTop: 13,
                                        itemMarginBottom: 2,
                                    },

                                    series: [{
                                        name: yaxisstr,
                                        data: gasProduction,
                                        marker: {
                                            enabled: true,
                                            radius: 4
                                        },
                                    }],

                                    credits: {
                                        enabled: false
                                    },
                                });
                            }

                            //generateImage(chart,containerImage,'productionA');

                            var containerOne = 'containerOneProduction'+actid;

                            var xaxisstr = "Total Liquid Production";

                            var yaxisstr = "Production, bbl per day";

                            //var containerOneImage = 'containerOneImage'+actid;

                            var ele = '#'+containerOne;

                            // Create the total liquid productio chart
                            Highcharts.stockChart(containerOne, {

                                chart: {
                                    renderTo: containerOne,
                                    borderColor: '#d2d5d5',
                                    borderWidth: 1,
                                    type: 'line',
                                },

                                exporting: {
                                    enabled: false
                                },

                                navigator: {
                                    enabled: false,
                                },

                                scrollbar: {
                                    enabled: false,
                                },

                                title: {
                                    text: xaxisstr,
                                    style: {
                                        color: '#000000',
                                        fontWeight: 'bold'
                                    },
                                },

                                xAxis: {
                                    type: 'datetime',
                                    minTickInterval: 28*24*3600*1000,
                                },

                                yAxis: {
                                    opposite:false,
                                    title: {
                                        text: yaxisstr,
                                    },
                                    //if any series yaxs is zero dont show up the line
                                    plotLines: [{
                                        value: 0,
                                        width: 1,
                                        color: '#808080'
                                    }],
                                    min:0,

                                },

                                rangeSelector: {
                                    selected: 8,
                                    inputEnabled: false,
                                },

                                legend: {
                                    enabled: true,
                                    layout: 'horizontal',
                                    align: 'center',
                                    verticalAlign: 'top',
                                    x: -20,
                                    margin: 5,
                                    itemMarginTop: 13,
                                    itemMarginBottom: 2,
                                },

                                series: [{
                                    name: 'Water, bbl/d',
                                    data: waterProduction,
                                    marker: {
                                        enabled: true,
                                        radius: 4
                                    },
                                },{
                                    name: 'Oil, bbl/d',
                                    data: oilProduction,
                                    marker: {
                                        enabled: true,
                                        radius: 4
                                    },
                                },{
                                    name: 'Condensate, bbl/d',
                                    data: condensateProduction,
                                    marker: {
                                        enabled: true,
                                        radius: 4
                                    },
                                },{
                                    name: 'Total Liquid Production, bbl/d',
                                    data: totalProduction,
                                    marker: {
                                        enabled: true,
                                        radius: 4
                                    },
                                }],

                                credits: {
                                    enabled: false
                                },
                            });

                            var containerTwo = 'containerTwoProduction'+actid;
                            //var containerImage = 'containerImage'+actid;
                            var ele = '#'+containerTwo;

                            if (h2s && co2) {
                                // Create the chart
                                Highcharts.stockChart(containerTwo, {

                                    chart: {
                                        renderTo: containerTwo,
                                        borderColor: '#d2d5d5',
                                        borderWidth: 1,
                                        type: 'line',
                                        zoomType: 'xy'
                                    },

                                    boost: {
                                        useGPUTranslations: true,
                                        seriesThreshold: 1
                                    },

                                    title: {
                                        text: 'Acid Gas Content',
                                        style: {
                                            color: '#000000',
                                            fontWeight: 'bold'
                                        },
                                    },
                                    xAxis: {
                                        type: 'datetime',
                                        minTickInterval: 28 * 24 * 3600 * 1000
                                    },

                                    yAxis: {
                                        opposite: false,
                                        title: {
                                            text: 'Mol%',
                                        },
                                        plotLines: [{
                                            value: 0,
                                            width: 1,
                                            color: '#808080'
                                        }],
                                        min: 0,
                                    },

                                    rangeSelector: {
                                        selected: 8,
                                    },

                                    legend: {
                                        enabled: true,
                                        layout: 'horizontal',
                                        align: 'center',
                                        verticalAlign: 'top',
                                        x: -20,
                                        margin: 5,
                                        itemMarginTop: 10,
                                        itemMarginBottom: 2,
                                    },

                                    plotOptions: {
                                        series: {
                                            turboThreshold: 100000
                                        }
                                    },

                                    series: [{
                                        name: 'H2S( mol %)',
                                        data: h2s,
                                        marker: {
                                            enabled: true,
                                            radius: 4
                                        },
                                    }, {
                                        name: 'CO2( mol %)',
                                        data: co2,
                                        marker: {
                                            enabled: true,
                                            radius: 4
                                        },
                                    }],

                                    credits: {
                                        enabled: false
                                    },
                                });
                            }

                        //generateImage(chart,containerOneImage,'productionB');
                        {% endif %}
                    });
                </script>
            {% endif %}
           {% set actid = activity.id %}
       {% endfor %}
    {% endif %}

    {% endif %}
{% endfor %}

