{% set temp = "" %}
{% set inc = 1 %}
{% set numberloop = 5 %}
{% set actid = 0 %}
<tr>

    <th class="col-md-2">
        <span style="font-size: 13px;">Systems </span>
    </th>

    <th class="col-md-2">
        <span style="font-size: 13px;">Location </span>
    </th>

    <th class="col-md-8">
        <span style="font-size: 13px;">Recommendations</span>
    </th>

</tr>
{% for activity in subproject.activities %}

    {% if activity.system.locations is defined and activity.system.locations is not empty %}

        {% set locations = activity.system.locations %}

        {% if locations is defined and locations is not empty %}

            {% for key, location in locations.names %}

                {% if locations.recommendations[key] is defined and locations.recommendations[key] is not empty %}
                    {% if actid != activity.id %}
                        <tr>
                            <td class="col-md-2">
                                {% if temp != activity.system.name %}
                                    <span style="font-size: 13px;">{{ activity.system.name }} </span>
                                    {% set inc = inc + 1 %}
                                {% endif %}
                            </td>
                            <td class="col-md-2">
                                <span style="font-size: 13px;">{{ location }} </span>
                            </td>
                            <td class="col-md-8">
                                <span style="font-size: 13px;">{% autoescape %} {{ locations.recommendations[key]|raw|trim(side='left') }}{% endautoescape %}</span>
                            </td>
                        </tr>
                    {% endif %}
                    {% set actid = activity.id %}
                    {% set temp = activity.system.name %}
                {% endif %}

            {% endfor %}

        {% endif %}

    {% endif %}

{% endfor %}



