{% if activity.system.locations is defined and activity.system.locations is not empty %} {% set locations = activity.system.locations %} {% endif %}

{% set actflg = "" %}
{% set actCComments = "" %}
{% set actMComments = "" %}
<!-- set index numbering -->
{% set actindex = activity.activity_index %}

{% if activity.flowassurancemanagement.selected == 1 and activity.flowassurancecontrol.selected == 1 %}
    {% set actflg = activity.flowassurancecontrol.title %}
    {% set actCComments = activity.flowassurancecontrol.comments %}
{% endif %}

{% if activity.flowassurancemanagement.selected == 1 and activity.flowassurancecontrol.selected == 0 %}
    {% set actflg = activity.flowassurancemanagement.title %}
    {% set actMComments = activity.flowassurancemanagement.comments %}
{% endif %}

{% if activity.flowassurancemanagement.selected == 0 and activity.flowassurancecontrol.selected == 1 %}
    {% set actflg = activity.flowassurancecontrol.title %}
    {% set actCComments = activity.flowassurancecontrol.comments %}
{% endif %}

{% if activity.flowassurancemanagement.selected == 0 and activity.flowassurancecontrol.selected == 0 and activity.non_monitoring_kpi.selected == 1 %}
    {% set actflg = activity.non_monitoring_kpi.title %}
    {% set actCComments = activity.non_monitoring_kpi.comments %}
{% endif %}

{% if actid != activity.id and dontshowactivity == 0 %}
    {% if actflg is not empty %}
        <tr style="height: auto;">
            <td>
                <span style="font-size: 13px; font-weight: bold; position: relative; margin-left: 15px; display: inline-block; margin: 6px;">{{ numberloop }}.&nbsp;{{ incre }}.&nbsp;{{ actindex }}.&nbsp;&nbsp;&nbsp;{{ actflg }}</span><br>
            </td>
        </tr>
    {% endif %}
    {% if activity.system.description is defined and activity.system.description is not empty %}
        <tr style="height: auto;">
            <td style="text-align: justify">
                <span style="font-size: 13px; position: relative; margin-left: 15px; width: 98%; text-align: justify; display: inline-block; margin: 6px;">
                    {% set descriptionD = activity.system.description %}
                    {% autoescape 'html_attr' %}{{ descriptionD|replace({'<': "lesser than ", '<=': "lesser than or equal to ", ">" : "greater than ", '>=': "greater than or equal to ",})|trim(side='left')}}{% endautoescape %}
                </span>
                <br>
            </td>
        </tr>
    {% else %}
        {% if actMComments is defined and actMComments is not empty %}
            <tr style="height: auto;">
                <td style="text-align: justify">
                    <span style="font-size: 13px; position: relative; margin-left: 15px; width: 98%; text-align: justify; display: inline-block; margin: 6px;">
                        {% set descriptionD = actMComments %}
                        {% autoescape 'html_attr' %}
                            {{ descriptionD|raw}}
                        {% endautoescape %}
                    </span>
                    <br>
                </td>
            </tr>
        {% endif %}
        {% if actCComments is defined and actCComments is not empty %}
            <tr style="height: auto;">
                <td style="text-align: justify">
                    <span style="font-size: 13px; position: relative; margin-left: 15px; width: 98%; text-align: justify; display: inline-block; margin: 6px;">
                        {% set descriptionD = actCComments %}
                        {% autoescape 'html_attr' %}
                            {{ descriptionD|raw}}
                        {% endautoescape %}
                    </span>
                    <br>
                </td>
            </tr>
        {% endif %}
    {% endif %}

{% endif %}
{% if locations is defined and locations is not empty and dontshowgraph == 0 %}

        {% set templocation = "" %}

        {% set incrementlocation = 1 %}

        {% set previouslocation = false %}

            {% for key, location in locations.names %}

                {% set locationmatch = location %}

                {% set tempkey = 0 %}

                {% if locations.corrosion_probe_graphs[key][0] is defined and locations.corrosion_probe_graphs[key][0] is not empty and locations.corrosion_probe_graphs[key][0] != "[]" %}
                    {% set tempkey = 1 %}
                {% endif %}

                {% if locations.chemical_type1_graphs[key][0] is defined and locations.chemical_type1_graphs[key][0] is not empty and locations.chemical_type1_graphs[key][0] != "[]" %}
                    {% set tempkey = 1 %}
                {% endif %}

                {% if locations.chemical_type2_availability_graphs[key][0] is defined and locations.chemical_type2_availability_graphs[key][0] is not empty and locations.chemical_type2_availability_graphs[key][0] != "[]" %}
                    {% set tempkey = 1 %}
                {% endif %}

                {% if locations.chemical_type2_average_graphs[key][0] is defined and locations.chemical_type2_average_graphs[key][0] is not empty and locations.chemical_type2_average_graphs[key][0] != "[]|[]" %}
                    {% set tempkey = 1 %}
                {% endif %}

                {% if locations.sampling_graphs[key][0] is defined and locations.sampling_graphs[key][0] is not empty and locations.sampling_graphs[key][0] != "[]" %}
                    {% set tempkey = 1 %}
                {% endif %}

                {% if locations.cathodic_protection_graphs[key][0] is defined and locations.cathodic_protection_graphs[key][0] is not empty and locations.cathodic_protection_graphs[key][0] != "[]" %}
                    {% set tempkey = 1 %}
                {% endif %}

                {% if tempkey is defined and tempkey > 0 %}
                <tr style="height: auto;">
                    <td>
                        <span style="font-size: 13px; font-weight: bold; position: relative; margin-left: 15px; width: 98%; display: inline-block; margin: 6px;">{{ numberloop }}.&nbsp;{{ incre }}.&nbsp;{{ actindex }}.&nbsp;{{ incrementlocation }}.&nbsp;&nbsp;&nbsp;{{ location }}</span><br>
                    </td>
                </tr>
                {% endif %}

                {% if tempkey is defined and tempkey > 0 and locationmatch != templocation %}
                    {%  set incrementlocation = incrementlocation + 1 %}
                {% endif %}

                <!-- Compare threshold against location -->

                {% if locations.corrosion_probe_graphs[key][0] is defined and locations.corrosion_probe_graphs[key][0] is not empty and locations.corrosion_probe_graphs[key][0] != "[]" %}
                    <tr style="height: auto;">
                        <td style="">
                            <div class="container-element chart" id="containerCorrosionProbeGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px"></div>
                        </td>
                    </tr>
                {% endif %}

                {% if locations.chemical_type1_graphs[key][0] is defined and locations.chemical_type1_graphs[key][0] is not empty and locations.chemical_type1_graphs[key][0] != "[]" %}
                    <tr style="height: auto;">
                        <td style="">
                            <div class="container-element chart" id="containerChemicalTypeOneGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px"></div>
                        </td>
                    </tr>
                {% endif %}

                {% if locations.chemical_type2_injection_graphs[key] is defined and locations.chemical_type2_injection_graphs[key][0] is not empty and locations.chemical_type2_injection_graphs[key][0] != "[]" %}
                    <tr>
                        <td style="">
                            <div class="container-element chart" id="containerChemicalTypeTwoInjectionGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px;"></div>
                        </td>
                    </tr>
                {% endif %}

                {% if locations.chemical_type2_concentration_graphs[key][0] is defined and locations.chemical_type2_concentration_graphs[key][0] is not empty and locations.chemical_type2_concentration_graphs[key][0] != "[]|[]" %}
                    <tr style="height: auto;">
                        <td style="">
                            <div class="container-element chart" id="containerChemicalTypeTwoConcentrationGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px; padding-top: 5px;"></div>
                        </td>
                    </tr>
                {% endif %}

                {% if locations.chemical_type2_availability_graphs[key][0] is defined and locations.chemical_type2_availability_graphs[key][0] is not empty and locations.chemical_type2_availability_graphs[key][0] != "[]" %}
                    <tr>
                        <td style="">
                            <div class="container-element chart" id="containerChemicalTypeTwoAvailabilityGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px; padding-top: 5px;"></div>
                        </td>
                    </tr>
                {% endif %}

                {% if locations.chemical_type2_average_graphs[key][0] is defined and locations.chemical_type2_average_graphs[key][0] is not empty and locations.chemical_type2_average_graphs[key][0] != "[]|[]" %}
                    <tr style="height: auto;">
                        <td style="">
                            <div class="container-element chart" id="containerChemicalTypeTwoAverageGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px; padding-top: 5px;"></div>
                        </td>
                    </tr>
                {% endif %}

                {% if locations.sampling_graphs[key][0] is defined and locations.sampling_graphs[key][0] is not empty and locations.sampling_graphs[key][0] != "[]" %}
                    <tr style="height: auto;">
                        <td style="">
                            <div class="container-element chart" id="containerSamplingGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px"></div>
                        </td>
                    </tr>
                {% endif %}

                {% if locations.cathodic_protection_graphs[key][0] is defined and locations.cathodic_protection_graphs[key][0] is not empty and locations.cathodic_protection_graphs[key][0] != "[]" %}
                    <tr style="height: auto;">
                        <td style="">
                            <div class="container-element chart" id="containerCathodicProtectionGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px"></div>
                        </td>
                    </tr>
                {% endif %}

                {% if locations.cathodic_protection_graphs_two[key][0] is defined and locations.cathodic_protection_graphs_two[key][0] is not empty and locations.cathodic_protection_graphs_two[key][0] != "[]" %}
                    <tr style="height: auto;">
                        <td style="">
                            <div class="container-element chart" id="containerCathodicProtectionGraphsOnOff{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px"></div>
                        </td>
                    </tr>
                {% endif %}

                {% if locations.analysis[key] is defined and locations.analysis[key] is not empty %}
                    <tr style="height: auto;">
                        <td style="text-align: justify">
                            <span style="font-size: 13px; position: relative; margin-left: 15px; width: 98%; text-align: justify; display: inline-block; margin: 6px;">
                                {% set analysisD = locations.analysis[key] %}
                                {% autoescape 'html_attr' %}
                                    {{ analysisD|replace({'<': "lesser than ", '<=': "lesser than or equal to ", ">" : "greater than ", '>=': "greater than or equal to ",})|trim(side='left')}}
                                {% endautoescape %}
                            </span>
                            <br>
                        </td>
                    </tr>
                {% endif %}

                {% set actid = activity.id %}

                {% set templocation = location %}

            {% endfor %}

        {% set previouslocation = activity %}

{% endif %}

{% if locations is defined and locations is not empty and dontshowgraph == 0 %}
    <script type="text/javascript">
        $(function() {

                {% for key, location in locations.names %}

                    {% set actflg = "" %}

                    var fromLoadDate = null;
                    var toLoadDate = null;

                    var greenThreshold = "";
                    var redThreshold = "";

                    {% if activity.flowassurancecontrol.green is defined and activity.flowassurancecontrol.green is not empty %}
                        var greenThreshold = "{{  activity.flowassurancecontrol.green }}";
                    {% endif %}

                    {% if activity.flowassurancecontrol.red is defined and activity.flowassurancecontrol.red is not empty %}
                        var redThreshold = "{{  activity.flowassurancecontrol.red }}";
                    {% endif %}

                    var greenData = "";
                    var redData = "";
                    var amberData = "";
                    var greenAverageData = "";
                    var redAverageData = "";
                    var amberAverageData = ""

                    {% if locations.thresholds[key][0] is defined and locations.thresholds[key][0] is not empty and locations.thresholds[key][0] != "[]" %}
                        {% set charthresh = locations.thresholds[key][0]|split('|') %}

                        var greenData = eval({{ charthresh[1] }});
                        var redData = eval({{ charthresh[0] }});
                        var amberData = eval({{ charthresh[2] }});

                    {% endif %}

                    {% if locations.averagethresholds[key][0] is defined and locations.averagethresholds[key][0] is not empty and locations.averagethresholds[key][0] != "[]" %}
                        {% set charavthresh = locations.averagethresholds[key][0]|split('|') %}

                        var greenAverageData = eval({{ charavthresh[1] }});
                        var redAverageData = eval({{ charavthresh[0] }});
                        var amberAverageData = eval({{ charavthresh[2] }});

                    {% endif %}

                    {% if activity.flowassurancemanagement.selected == 1 and activity.flowassurancecontrol.selected == 1 %}
                        {% set actflg = activity.flowassurancecontrol.title %}
                    {% endif %}

                    {% if activity.flowassurancemanagement.selected == 0 and activity.flowassurancecontrol.selected == 1 %}
                        {% set actflg = activity.flowassurancecontrol.title %}
                    {% endif %}

                    {% if activity.flowassurancemanagement.selected == 1 and activity.flowassurancecontrol.selected == 0 %}
                        {% set actflg = activity.flowassurancemanagement.title %}
                    {% endif %}

                    {% if locations.graphdates.from_date[key] is defined and locations.graphdates.from_date[key] is not empty %}
                        var fromLoadDate = Date.UTC({{ locations.graphdates.from_date[key]|date("Y") }}, {{ locations.graphdates.from_date[key]|date("m") }}, {{ locations.graphdates.from_date[key]|date("d") }},0, 0, 0)
                        var toLoadDate = Date.UTC({{ locations.graphdates.to_date[key]|date("Y") }}, {{ locations.graphdates.to_date[key]|date("m") }}, {{ locations.graphdates.to_date[key]|date("d") }},0, 0, 0)
                    {% endif %}

                    var activityname = '{{ actflg }}';
                    var GRAPHID = {{activity.system.id}}+'_'+{{ key }};
                    var flag = 0;
                    var passdata = "";
                    var seriesSecondData = "";
                    var seriesFirstData = "";
                    var data = "";

                    {% if locations.corrosion_probe_graphs[key][0] is defined and locations.corrosion_probe_graphs[key][0] is not empty and locations.corrosion_probe_graphs[key][0] != "[]" %}

                        var yaxisstr = "Corrosion Probe Database";

                        var xaxisstr = "Corrosion Probe Database";

                        {% if '|' in locations.corrosion_probe_graphs[key][0] %}
                            {% set chardat = locations.corrosion_probe_graphs[key][0]|split('|') %}
                            var passdata = eval({{ chardat[0] }});
                        {% else %}
                            {% set chardat = locations.corrosion_probe_graphs[key][0] %}
                            var passdata = eval({{ chardat }});
                        {% endif %}

                        var con = 'containerCorrosionProbeGraphs'+GRAPHID;

                        var ele = '#'+con;

                        var flag = 1;

                        single(con, passdata, flag, xaxisstr, yaxisstr, con, activityname, greenThreshold, redThreshold, fromLoadDate, toLoadDate, redData, greenData, amberData);

                    {% endif %}

                    {% if locations.chemical_type1_graphs[key][0] is defined and locations.chemical_type1_graphs[key][0] is not empty and locations.chemical_type1_graphs[key][0] != "[]" %}

                        var yaxisstr = "Achievment%";

                        var xaxisstr = "Achievment%";

                        var con = 'containerChemicalTypeOneGraphs'+GRAPHID;

                        var splitData = '{{ locations.chemical_type1_graphs[key][0] }}';

                        var splitData = splitData.split("|");

                        var seriesFirstData = eval(splitData[0]);

                        var data = seriesFirstData;

                        var seriesSecondData = eval(splitData[1]);

                        var seriesThirdData = eval(splitData[2]);

                        var seriesFirstStr = "%Achievement";

                        var seriesSecondStr = "Target";

                        var seriesThirdStr = "Actual";

                        var ele = '#'+con;

                        var flag = 1;

                        triple(con, seriesFirstData,seriesSecondData, seriesThirdData, seriesFirstStr, seriesSecondStr, seriesThirdStr, data, yaxisstr, xaxisstr, fromLoadDate, toLoadDate, greenThreshold, redThreshold, redData, greenData, amberData);

                    {% endif %}

                    {% if locations.chemical_type2_injection_graphs[key][0] is defined and locations.chemical_type2_injection_graphs[key][0] is not empty and locations.chemical_type2_injection_graphs[key][0] != "[]" %}

                        var yaxisstr = "Injection";

                        var xaxisstr = "Chemical Injection, L/Day";

                        {% if '|' in locations.chemical_type2_injection_graphs[key][0] %}
                            {% set chardat = locations.chemical_type2_injection_graphs[key][0]|split('|') %}
                            var passdata = eval({{ chardat[0] }});
                        {% else %}
                            {% set chardat = locations.chemical_type2_injection_graphs[key][0] %}
                            var passdata = eval({{ chardat }});
                        {% endif %}

                        var con = 'containerChemicalTypeTwoInjectionGraphs'+GRAPHID;

                        var ele = '#'+con;

                        var flag = 1;

                        var greenThreshold = "";

                        var redThreshold = "";

                        {% if locations.graphdates.from_date_injection[key] is defined and locations.graphdates.from_date_injection[key] is not empty %}
                            var fromLoadDate = Date.UTC({{ locations.graphdates.from_date_injection[key]|date("Y") }}, {{ locations.graphdates.from_date_injection[key]|date("m") }}, {{ locations.graphdates.from_date_injection[key]|date("d") }},0, 0, 0)
                            var toLoadDate = Date.UTC({{ locations.graphdates.to_date_injection[key]|date("Y") }}, {{ locations.graphdates.to_date_injection[key]|date("m") }}, {{ locations.graphdates.to_date_injection[key]|date("d") }},0, 0, 0)
                        {% endif %}

                        single(con, passdata, flag, xaxisstr, yaxisstr, con, xaxisstr, greenThreshold, redThreshold, fromLoadDate, toLoadDate, '', '', '');

                    {% endif %}

                    {% if locations.chemical_type2_concentration_graphs[key][0] is defined and locations.chemical_type2_concentration_graphs[key][0] is not empty and locations.chemical_type2_concentration_graphs[key][0] != "[]|[]" %}

                        var yaxisstr = "Corrosion Inhibitor Concentration";

                        var xaxisstr = "Corrosion Inhibitor Concentration";

                        var splitData = '{{ locations.chemical_type2_concentration_graphs[key][0] }}';

                        var splitData = splitData.split("|");

                        var seriesFirstData = eval(splitData[0]);

                        var data = seriesFirstData;

                        var seriesSecondData = eval(splitData[1]);

                        var seriesFirstStr = "Target Corrosion Inhibitor Concentration, ppm";

                        var seriesSecondStr = "Actual Corrosion Inhibitor Concentration, ppm";

                        var con = 'containerChemicalTypeTwoConcentrationGraphs'+GRAPHID;

                        var flag = 1;

                        var fromLoadDate = null;

                        var toLoadDate = null;

                        var greenThreshold = "";

                        var redThreshold = "";

                        {% if locations.graphdates.from_date_concentration[key] is defined and locations.graphdates.from_date_concentration[key] is not empty %}
                            var fromLoadDate = Date.UTC({{ locations.graphdates.from_date_concentration[key]|date("Y") }}, {{ locations.graphdates.from_date_concentration[key]|date("m") }}, {{ locations.graphdates.from_date_concentration[key]|date("d") }},0, 0, 0)
                            var toLoadDate = Date.UTC({{ locations.graphdates.to_date_concentration[key]|date("Y") }}, {{ locations.graphdates.to_date_concentration[key]|date("m") }}, {{ locations.graphdates.to_date_concentration[key]|date("d") }},0, 0, 0)
                        {% endif %}

                        double(con, seriesFirstData,seriesSecondData, seriesFirstStr, seriesSecondStr, data, yaxisstr, xaxisstr, fromLoadDate, toLoadDate, greenThreshold, redThreshold, '', '', '');

                    {% endif %}

                    {% if locations.chemical_type2_availability_graphs[key][0] is defined and locations.chemical_type2_availability_graphs[key][0] is not empty and locations.chemical_type2_availability_graphs[key][0] != "[]" %}

                        var yaxisstr = "Chemical availability %";

                        var xaxisstr = "Chemical availability %";

                        {% if '|' in locations.chemical_type2_availability_graphs[key][0] %}
                            {% set chardat = locations.chemical_type2_availability_graphs[key][0]|split('|') %}
                            var passdata = eval({{ chardat[0] }});
                        {% else %}
                            {% set chardat = locations.chemical_type2_availability_graphs[key][0] %}
                            var passdata = eval({{ chardat }});
                        {% endif %}

                        var con = 'containerChemicalTypeTwoAvailabilityGraphs'+GRAPHID;

                        var ele = '#'+con;

                        var flag = 1;

                        var fromLoadDate = null;

                        var toLoadDate = null;

                        var greenThreshold = "{{  activity.flowassurancecontrol.green }}";
                        var redThreshold = "{{  activity.flowassurancecontrol.red }}";

                        {% if locations.graphdates.from_date_availability[key] is defined and locations.graphdates.from_date_availability[key] is not empty %}
                            var fromLoadDate = Date.UTC({{ locations.graphdates.from_date_availability[key]|date("Y") }}, {{ locations.graphdates.from_date_availability[key]|date("m") }}, {{ locations.graphdates.from_date_availability[key]|date("d") }},0, 0, 0)
                            var toLoadDate = Date.UTC({{ locations.graphdates.to_date_availability[key]|date("Y") }}, {{ locations.graphdates.to_date_availability[key]|date("m") }}, {{ locations.graphdates.to_date_availability[key]|date("d") }},0, 0, 0)
                        {% endif %}

                        single(con, passdata, flag, xaxisstr, yaxisstr, con, xaxisstr, greenThreshold, redThreshold, fromLoadDate, toLoadDate, redData, greenData, amberData);

                    {% endif %}

                    {% if locations.chemical_type2_average_graphs[key][0] is defined and locations.chemical_type2_average_graphs[key][0] is not empty and locations.chemical_type2_average_graphs[key][0] != "[]|[]" %}

                        var yaxisstr = "Chemical Availability";

                        var xaxisstr = "Chemical Availability";

                        var splitData = '{{ locations.chemical_type2_average_graphs[key][0] }}';

                        var splitData = splitData.split("|");

                        var seriesFirstData = eval(splitData[0]);

                        var data = seriesFirstData;

                        var seriesSecondData = eval(splitData[1]);

                        var con = 'containerChemicalTypeTwoAverageGraphs'+GRAPHID;

                        var ele = '#'+con;

                        var seriesFirstStr = "Volume Injected Against Volume Required, %";

                        var seriesSecondStr = "Percentage Time Chemical Target Reached, %";

                        var flag = 1;

                        var fromLoadDate = null;
                        var toLoadDate = null;

                        {% if locations.graphdates.from_date_average[key] is defined and locations.graphdates.from_date_average[key] is not empty %}
                            var fromLoadDate = Date.UTC({{ locations.graphdates.from_date_average[key]|date("Y") }}, {{ locations.graphdates.from_date_average[key]|date("m") }}, {{ locations.graphdates.from_date_average[key]|date("d") }},0, 0, 0)
                            var toLoadDate = Date.UTC({{ locations.graphdates.to_date_average[key]|date("Y") }}, {{ locations.graphdates.to_date_average[key]|date("m") }}, {{ locations.graphdates.to_date_average[key]|date("d") }},0, 0, 0)
                        {% endif %}

                        double(con, seriesFirstData,seriesSecondData, seriesFirstStr, seriesSecondStr, data, yaxisstr, xaxisstr, fromLoadDate, toLoadDate, greenThreshold, redThreshold, redAverageData, greenAverageData, amberAverageData);

                    {% endif %}

                    {% if locations.sampling_graphs[key][0] is defined and locations.sampling_graphs[key][0] is not empty and locations.sampling_graphs[key][0] != "[]" %}

                        var yaxisstr = "Sampling Database";

                        var xaxisstr = "Sampling Database";

                        {% if '|' in locations.sampling_graphs[key][0] %}
                            {% set chardat = locations.sampling_graphs[key][0]|split('|') %}
                            var passdata = eval({{ chardat[0] }});
                        {% else %}
                            {% set chardat = locations.sampling_graphs[key][0] %}
                            var passdata = eval({{ chardat }});
                        {% endif %}

                        var con = 'containerSamplingGraphs'+GRAPHID;

                        var ele = '#'+con;

                        var flag = 1;

                        single(con, passdata, flag, xaxisstr, yaxisstr, con, activityname , greenThreshold, redThreshold, fromLoadDate, toLoadDate, redData, greenData, amberData);

                    {% endif %}

                    {%  set flagonlycpone = 0 %}

                    {% if locations.cathodic_protection_graphs_two[key][0] is defined and locations.cathodic_protection_graphs_two[key][0] is not empty and locations.cathodic_protection_graphs_two[key][0] != "[]"%}

                        var ele = '#'+con;

                        var flag = 1;

                        var yaxisstr = activityname;

                        var xaxisstr = "Cathodic Protection Database";

                        var splitData = '{{ locations.cathodic_protection_graphs_two[key][0] }}';

                        var splitData = splitData.split("|");

                        var seriesFirstData = eval(splitData[0]);

                        var data = seriesFirstData;

                        var seriesSecondData = eval(splitData[1]);

                        var con = 'containerCathodicProtectionGraphsOnOff'+GRAPHID;

                        var ele = '#'+con;

                        var seriesFirstStr = "ON Potential";

                        var seriesSecondStr = "OFF Potential";

                        {%  set flagonlycpone = 1 %}

                        var fromLoadDate = null;
                        var toLoadDate = null;

                        double(con, seriesFirstData,seriesSecondData, seriesFirstStr, seriesSecondStr, data, yaxisstr, xaxisstr, fromLoadDate, toLoadDate, greenThreshold, redThreshold, redData, greenData, amberData);

                    {% endif %}

                    {% if locations.cathodic_protection_graphs[key][0] is defined and locations.cathodic_protection_graphs[key][0] is not empty and locations.cathodic_protection_graphs[key][0] != "[]" %}

                        var yaxisstr = "Cathodic Protection Database";

                        var xaxisstr = "Cathodic Protection Database";

                        {% if '|' in locations.cathodic_protection_graphs[key][0] %}
                            {% set chardat = locations.cathodic_protection_graphs[key][0]|split('|') %}
                            var passdata = eval({{ chardat[0] }});
                        {% else %}
                            {% set chardat = locations.cathodic_protection_graphs[key][0] %}
                            var passdata = eval({{ chardat }});
                        {% endif %}

                        var con = 'containerCathodicProtectionGraphs'+GRAPHID;

                        var ele = '#'+con;

                        var flag = 1;

                        single(con, passdata, flag, xaxisstr, yaxisstr, con, activityname, greenThreshold, redThreshold, fromLoadDate, toLoadDate, redData, greenData, amberData);

                    {% endif %}

                {% endfor %}

        });
    </script>
{% endif %}
