{% set incre = 1 %}

{% set tempsystemname = '' %}

{% set tempsystemnamesystemid = 0 %}

{% set incrementactivity = 1 %}

{% set previous = false %}

{% set actid = 999999999999999999999999 %}

{% for activity in subproject.activities %}

    {% if activity.non_monitoring_kpi.selected == 1 %}

        {% if previous is defined and previous is not empty %}
            {% if previous.id != activity.id %}
                {% set incre = incre + 1 %}
            {% endif %}
        {% endif %}

        {% set locations = "" %}

        {% if activity.system.locations is defined and activity.system.locations is not empty %} {% set locations = activity.system.locations %} {% endif %}

        {% if locations is defined and locations is not empty %}

                {% set templocation = "" %}

                {% set incrementlocation = 1 %}

                {% set incrementactivity = 1 %}

                {% set previouslocation = false %}

                {% for key, location in locations.names %}

                    {% set actflg = "" %}

                    {% set locationmatch = location %}

                    {% if activity.management.selected == 1 and activity.control.selected == 1 %}
                        {% set actflg = activity.control.title %}
                    {% endif %}

                    {% if activity.management.selected == 0 and activity.control.selected == 0 and activity.non_monitoring_kpi.selected == 1 %}
                        {% set actflg = activity.non_monitoring_kpi.title %}
                    {% endif %}

                    {% set tempkey = 0 %}

                    {% if locations.corrosion_probe_graphs[key][0] is defined and locations.corrosion_probe_graphs[key][0] is not empty and locations.corrosion_probe_graphs[key][0] != "[]" %}
                        {% set tempkey = 1 %}
                    {% endif %}

                    {% if locations.chemical_type1_graphs[key][0] is defined and locations.chemical_type1_graphs[key][0] is not empty and locations.chemical_type1_graphs[key][0] != "[]" %}
                        {% set tempkey = 1 %}
                    {% endif %}

                    {% if locations.chemical_type2_availability_graphs[key][0] is defined and locations.chemical_type2_availability_graphs[key][0] is not empty and locations.chemical_type2_availability_graphs[key][0] != "[]" %}
                        {% set tempkey = 1 %}
                    {% endif %}

                    {% if locations.chemical_type2_average_graphs[key][0] is defined and locations.chemical_type2_average_graphs[key][0] is not empty and locations.chemical_type2_average_graphs[key][0] != "[]|[]" %}
                        {% set tempkey = 1 %}
                    {% endif %}

                    {% if locations.sampling_graphs[key][0] is defined and locations.sampling_graphs[key][0] is not empty and locations.sampling_graphs[key][0] != "[]" %}
                        {% set tempkey = 1 %}
                    {% endif %}

                    {% if locations.cathodic_protection_graphs[key][0] is defined and locations.cathodic_protection_graphs[key][0] is not empty and locations.cathodic_protection_graphs[key][0] != "[]" %}
                        {% set tempkey = 1 %}
                    {% endif %}

                    {% if activity.system.description is defined and activity.system.description is not empty %}
                        {% set tempkey = 1 %}
                    {% endif %}

                    {% if locations.analysis[key] is defined and locations.analysis[key] is not empty %}
                        {% set tempkey = 1 %}
                    {% endif %}

                    {% if tempkey is defined and tempkey > 0 %}

                        {% if actid is defined and actid is not empty and previous %}

                            {% if previous.system.id == activity.system.id and actid != activity.id %}
                                {%  set incrementactivity = incrementactivity + 1 %}
                            {% endif %}

                        {% endif %}

                        {% if actid != activity.id %}

                            {% if actflg is not empty %}
                                <tr>
                                    <td>
                                        <h1><span style="font-size: 13px;padding-left: 15px;">A.&nbsp;2.&nbsp;&nbsp;{{ incre }}.&nbsp;{{ actflg }} </span></h1>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if activity.system.description is defined and activity.system.description is not empty %}
                                <tr>
                                    <td>
                                        <p style="font-size: 13px;padding-left: 15px;">{{ activity.system.description|nl2br }}</p>
                                    </td>
                                </tr>
                            {% endif %}

                        {% endif %}

                        <tr>
                            <td>
                                <h1><span style="font-size: 13px;padding-left: 15px;">A.&nbsp;2.&nbsp;&nbsp;{{ incre }}.&nbsp;{{ incrementlocation }}.&nbsp;{{ location }}</span></h1>
                            </td>
                        </tr>

                        {% if locationmatch != templocation %}
                            {%  set incrementlocation = incrementlocation + 1 %}
                        {% endif %}

                        {% if locations.corrosion_probe_graphs[key][0] is defined and locations.corrosion_probe_graphs[key][0] is not empty and locations.corrosion_probe_graphs[key][0] != "[]" %}
                            <tr>
                                <td style="padding-left: 15px;">
                                    <div class="container-element chart" id="containerCorrosionProbeGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px"></div>
                                </td>
                            </tr>
                        {% endif %}

                        {% if locations.chemical_type1_graphs[key][0] is defined and locations.chemical_type1_graphs[key][0] is not empty and locations.chemical_type1_graphs[key][0] != "[]" %}
                            <tr>
                                <td style="padding-left: 15px;">
                                    <div class="container-element chart" id="containerChemicalTypeOneGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px"></div>
                                </td>
                            </tr>
                        {% endif %}

                        {% if locations.chemical_type2_injection_graphs[key] is defined and locations.chemical_type2_injection_graphs[key][0] is not empty and locations.chemical_type2_injection_graphs[key][0] != "[]" %}
                            <tr>
                                <td style="padding-left: 15px;">
                                    <div class="container-element chart" id="containerChemicalTypeTwoInjectionGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px;"></div>
                                </td>
                            </tr>
                        {% endif %}

                        {% if locations.chemical_type2_concentration_graphs[key][0] is defined and locations.chemical_type2_concentration_graphs[key][0] is not empty and locations.chemical_type2_concentration_graphs[key][0] != "[]|[]" %}
                            <tr>
                                <td style="padding-left: 15px;">
                                    <div class="container-element chart" id="containerChemicalTypeTwoConcentrationGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px; padding-top: 5px;"></div>
                                </td>
                            </tr>
                        {% endif %}

                        {% if locations.chemical_type2_availability_graphs[key][0] is defined and locations.chemical_type2_availability_graphs[key][0] is not empty and locations.chemical_type2_availability_graphs[key][0] != "[]" %}
                            <tr>
                                <td colspan="2" style="padding-left: 15px;">
                                    <div class="container-element chart" id="containerChemicalTypeTwoAvailabilityGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px; padding-top: 5px;"></div>
                                </td>
                            </tr>
                        {% endif %}

                        {% if locations.chemical_type2_average_graphs[key][0] is defined and locations.chemical_type2_average_graphs[key][0] is not empty and locations.chemical_type2_average_graphs[key][0] != "[]|[]" %}
                            <tr>
                                <td style="padding-left: 15px;">
                                    <div class="container-element chart" id="containerChemicalTypeTwoAverageGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px; padding-top: 5px;"></div>
                                </td>
                            </tr>
                        {% endif %}

                        {% if locations.sampling_graphs[key][0] is defined and locations.sampling_graphs[key][0] is not empty and locations.sampling_graphs[key][0] != "[]" %}
                            <tr>
                                <td style="padding-left: 15px;">
                                    <div class="container-element chart" id="containerSamplingGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px"></div>
                                </td>
                            </tr>
                        {% endif %}

                        {% if locations.cathodic_protection_graphs[key][0] is defined and locations.cathodic_protection_graphs[key][0] is not empty and locations.cathodic_protection_graphs[key][0] != "[]" %}
                            <tr>
                                <td style="padding-left: 15px;">
                                    <div class="container-element chart" id="containerCathodicProtectionGraphs{{activity.system.id}}_{{ key }}" style="height: 400px; min-width: 200px"></div>
                                </td>
                            </tr>
                        {% endif %}

                        {% if locations.analysis[key] is defined and locations.analysis[key] is not empty %}
                            <tr>
                                <td style="text-align: justify">
                                    <p style="font-size: 13px;padding-left: 15px;text-align: justify;">{{ locations.analysis[key]|nl2br }}</p>
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}

                    {% set templocation = location %}

                    {% set actid = activity.id %}

                {% endfor %}

                {% set previouslocation = activity %}
        {% endif %}

        {% if locations is defined and locations is not empty %}
            <script type="text/javascript">
                $(function() {

                    {% for key, location in locations.names %}

                    {% set actflg = "" %}

                    var fromLoadDate = null;
                    var toLoadDate = null;

                    var greenThreshold = "";
                    var redThreshold = "";
                    var greenData = "";
                    var redData = "";
                    var amberData = "";
                    var greenAverageData = "";
                    var redAverageData = "";
                    var amberAverageData = "";

                    {% if locations.thresholds[key][0] is defined and locations.thresholds[key][0] is not empty and locations.thresholds[key][0] != "[]" %}
                    {% set charthresh = locations.thresholds[key][0]|split('|') %}
                    var greenData = eval({{ charthresh[1] }});
                    var redData = eval({{ charthresh[0] }});
                    var amberData = eval({{ charthresh[2] }});
                    {% endif %}

                    {% if locations.averagethresholds[key][0] is defined and locations.averagethresholds[key][0] is not empty and locations.averagethresholds[key][0] != "[]" %}
                    {% set charavthresh = locations.averagethresholds[key][0]|split('|') %}
                    var greenAverageData = eval({{ charavthresh[1] }});
                    var redAverageData = eval({{ charavthresh[0] }});
                    var amberAverageData = eval({{ charavthresh[2] }});
                    {% endif %}

                    {% if locations.graphdates.from_date[key] is defined and locations.graphdates.from_date[key] is not empty %}
                    var fromLoadDate = Date.UTC({{ locations.graphdates.from_date[key]|date("Y") }}, {{ locations.graphdates.from_date[key]|date("m") }}, {{ locations.graphdates.from_date[key]|date("d") }},0, 0, 0)
                    var toLoadDate = Date.UTC({{ locations.graphdates.to_date[key]|date("Y") }}, {{ locations.graphdates.to_date[key]|date("m") }}, {{ locations.graphdates.to_date[key]|date("d") }},0, 0, 0)
                    {% endif %}

                    {% if activity.management.selected == 0 and activity.control.selected == 0 and activity.non_monitoring_kpi.selected == 1 %}
                    {% set actflg = activity.non_monitoring_kpi.title %}
                    {% endif %}

                    var activityname = '{{ actflg }}';
                    var GRAPHID = {{activity.system.id}}+'_'+{{ key }};
                    var flag = 0;
                    var passdata = "";
                    var seriesSecondData = "";
                    var seriesFirstData = "";
                    var data = "";

                    {% if locations.corrosion_probe_graphs[key] is defined and locations.corrosion_probe_graphs[key][0] is not empty and locations.corrosion_probe_graphs[key][0] != "[]" %}

                    var yaxisstr = "Corrosion Probe Database";

                    var xaxisstr = "Corrosion Probe Database";

                    {% set chardat = locations.corrosion_probe_graphs[key][0]|split('|') %}

                    var passdata = eval({{ chardat[0] }});

                    var con = 'containerCorrosionProbeGraphs'+GRAPHID;

                    var ele = '#'+con;

                    var flag = 1;

                    {% if activity.control.green is defined and activity.control.green is not empty and activity.control.red is defined and activity.control.red is not empty %}
                    var greenThreshold = "{{  activity.control.green }}";
                    var redThreshold = "{{  activity.control.red }}";
                    {% endif %}
                    //console.log(activityname);

                    single(con, passdata, flag, xaxisstr, yaxisstr, con, activityname, greenThreshold, redThreshold, fromLoadDate, toLoadDate, redData, greenData, amberData);

                    {% endif %}

                    {% if locations.chemical_type1_graphs[key][0] is defined and locations.chemical_type1_graphs[key][0] is not empty and locations.chemical_type1_graphs[key][0] != "[]" %}

                    var yaxisstr = "Achievment%";

                    var xaxisstr = "Achievment%";

                    var con = 'containerChemicalTypeOneGraphs'+GRAPHID;

                    var splitData = '{{ locations.chemical_type1_graphs[key][0] }}';

                    var splitData = splitData.split("|");

                    var seriesFirstData = eval(splitData[0]);

                    var data = seriesFirstData;

                    var seriesSecondData = eval(splitData[1]);

                    var seriesThirdData = eval(splitData[2]);

                    var seriesFirstStr = "%Achievement";

                    var seriesSecondStr = "Target";

                    var seriesThirdStr = "Actual";

                    var ele = '#'+con;

                    var flag = 1;

                    {% if activity.control.green and activity.control.red %}
                    var greenThreshold = "{{  activity.control.green }}";
                    var redThreshold = "{{  activity.control.red }}";
                    {% endif %}

                    //single(con, passdata, flag, xaxisstr, yaxisstr, con, activityname, greenThreshold, redThreshold, fromLoadDate, toLoadDate, redData, greenData, amberData);
                    triple(con, seriesFirstData,seriesSecondData, seriesThirdData, seriesFirstStr, seriesSecondStr, seriesThirdStr, data, yaxisstr, xaxisstr, fromLoadDate, toLoadDate, greenThreshold, redThreshold, redData, greenData, amberData);

                    {% endif %}

                    {% if locations.chemical_type2_injection_graphs[key][0] is defined and locations.chemical_type2_injection_graphs[key][0] is not empty and locations.chemical_type2_injection_graphs[key][0] != "[]" %}

                    var yaxisstr = "Injection";

                    var xaxisstr = "Chemical Injection, L/Day";

                    {% set chardat = locations.chemical_type2_injection_graphs[key][0]|split('|') %}

                    var passdata = eval({{ chardat[0] }});

                    var con = 'containerChemicalTypeTwoInjectionGraphs'+GRAPHID;

                    var ele = '#'+con;

                    var flag = 1;

                    var greenThreshold = "";

                    var redThreshold = "";

                    {% if locations.graphdates.from_date_injection[key] is defined and locations.graphdates.from_date_injection[key] is not empty %}
                    var fromLoadDate = Date.UTC({{ locations.graphdates.from_date_injection[key]|date("Y") }}, {{ locations.graphdates.from_date_injection[key]|date("m") }}, {{ locations.graphdates.from_date_injection[key]|date("d") }},0, 0, 0)
                    var toLoadDate = Date.UTC({{ locations.graphdates.to_date_injection[key]|date("Y") }}, {{ locations.graphdates.to_date_injection[key]|date("m") }}, {{ locations.graphdates.to_date_injection[key]|date("d") }},0, 0, 0)
                    {% endif %}

                    single(con, passdata, flag, xaxisstr, yaxisstr, con, xaxisstr, greenThreshold, redThreshold, fromLoadDate, toLoadDate, '', '', '');

                    {% endif %}

                    {% if locations.chemical_type2_concentration_graphs[key][0] is defined and locations.chemical_type2_concentration_graphs[key][0] is not empty and locations.chemical_type2_concentration_graphs[key][0] != "[]|[]" %}

                    var yaxisstr = "Corrosion Inhibitor Concentration";

                    var xaxisstr = "Corrosion Inhibitor Concentration";

                    var splitData = '{{ locations.chemical_type2_concentration_graphs[key][0] }}';

                    var splitData = splitData.split("|");

                    var seriesFirstData = eval(splitData[0]);

                    var data = seriesFirstData;

                    var seriesSecondData = eval(splitData[1]);

                    var seriesFirstStr = "Actual Corrosion Inhibitor Concentration, ppm";

                    var seriesSecondStr = "Target Corrosion Inhibitor Concentration, ppm";

                    var con = 'containerChemicalTypeTwoConcentrationGraphs'+GRAPHID;

                    var flag = 1;

                    var fromLoadDate = null;

                    var toLoadDate = null;

                    var greenThreshold = "";

                    var redThreshold = "";

                    {% if locations.graphdates.from_date_concentration[key] is defined and locations.graphdates.from_date_concentration[key] is not empty %}
                        var fromLoadDate = Date.UTC({{ locations.graphdates.from_date_concentration[key]|date("Y") }}, {{ locations.graphdates.from_date_concentration[key]|date("m") }}, {{ locations.graphdates.from_date_concentration[key]|date("d") }},0, 0, 0)
                        var toLoadDate = Date.UTC({{ locations.graphdates.to_date_concentration[key]|date("Y") }}, {{ locations.graphdates.to_date_concentration[key]|date("m") }}, {{ locations.graphdates.to_date_concentration[key]|date("d") }},0, 0, 0)
                    {% endif %}

                    double(con, seriesFirstData,seriesSecondData, seriesFirstStr, seriesSecondStr, data, yaxisstr, xaxisstr, fromLoadDate, toLoadDate, greenThreshold, redThreshold, '', '', '');

                    {% endif %}

                    {% if locations.chemical_type2_availability_graphs[key][0] is defined and locations.chemical_type2_availability_graphs[key][0] is not empty and locations.chemical_type2_availability_graphs[key][0] != "[]" %}

                    var yaxisstr = "Chemical availability %";

                    var xaxisstr = "Chemical availability %";

                    {% set chardat = locations.chemical_type2_availability_graphs[key][0]|split('|') %}

                    var passdata = eval({{ chardat[0] }});

                    var con = 'containerChemicalTypeTwoAvailabilityGraphs'+GRAPHID;

                    var ele = '#'+con;

                    var flag = 1;

                    var fromLoadDate = null;

                    var toLoadDate = null;

                    var greenThreshold = "";

                    var redThreshold = "";

                    {% if locations.graphdates.from_date_availability[key] is defined and locations.graphdates.from_date_availability[key] is not empty %}
                        var fromLoadDate = Date.UTC({{ locations.graphdates.from_date_availability[key]|date("Y") }}, {{ locations.graphdates.from_date_availability[key]|date("m") }}, {{ locations.graphdates.from_date_availability[key]|date("d") }},0, 0, 0)
                        var toLoadDate = Date.UTC({{ locations.graphdates.to_date_availability[key]|date("Y") }}, {{ locations.graphdates.to_date_availability[key]|date("m") }}, {{ locations.graphdates.to_date_availability[key]|date("d") }},0, 0, 0)
                    {% endif %}

                    single(con, passdata, flag, xaxisstr, yaxisstr, con, xaxisstr, greenThreshold, redThreshold, fromLoadDate, toLoadDate, redData, greenData, amberData);

                    {% endif %}

                    {% if locations.chemical_type2_average_graphs[key][0] is defined and locations.chemical_type2_average_graphs[key][0] is not empty and locations.chemical_type2_average_graphs[key][0] != "[]|[]" %}

                    var yaxisstr = "Chemical Availability";

                    var xaxisstr = "Chemical Availability";

                    var splitData = '{{ locations.chemical_type2_average_graphs[key][0] }}';

                    var splitData = splitData.split("|");

                    var seriesFirstData = eval(splitData[0]);

                    var data = seriesFirstData;

                    var seriesSecondData = eval(splitData[1]);

                    var con = 'containerChemicalTypeTwoAverageGraphs'+GRAPHID;

                    var ele = '#'+con;

                    var seriesFirstStr = "Volume Injected Against Volume Required, %";

                    var seriesSecondStr = "Percentage Time Chemical Target Reached, %";

                    var flag = 1;

                    {% if locations.show_chemical_average_graph_threshold[key][0] is defined and locations.show_chemical_average_graph_threshold[key][0] is not empty and locations.show_chemical_average_graph_threshold[key][0].bmc_corrosioninhibitortype == 2 and locations.show_chemical_average_graph_threshold[key][0].bsd_controlredrange is defined and locations.show_chemical_average_graph_threshold[key][0].bsd_controlredrange is not empty %}
                    var redThreshold = "{{  locations.show_chemical_average_graph_threshold[key][0].bsd_controlredrange }}";
                    {% elseif locations.show_chemical_average_graph_threshold[key][0] is defined and locations.show_chemical_average_graph_threshold[key][0] is not empty and locations.show_chemical_average_graph_threshold[key][0].bmc_corrosioninhibitortype == 2 and locations.show_chemical_average_graph_threshold[key][0].bsd_controlred is defined and locations.show_chemical_average_graph_threshold[key][0].bsd_controlred is not empty %}
                    var redThreshold = "{{  locations.show_chemical_average_graph_threshold[key][0].bsd_controlred }}";
                    {% endif %}

                    {% if locations.show_chemical_average_graph_threshold[key][0] is defined and locations.show_chemical_average_graph_threshold[key][0] is not empty and locations.show_chemical_average_graph_threshold[key][0].bmc_corrosioninhibitortype == 2 and locations.show_chemical_average_graph_threshold[key][0].bsd_controlgreenrange is defined and locations.show_chemical_average_graph_threshold[key][0].bsd_controlgreenrange is not empty %}
                    var greenThreshold = "{{  locations.show_chemical_average_graph_threshold[key][0].bsd_controlgreenrange }}";
                    {% elseif locations.show_chemical_average_graph_threshold[key][0] is defined and locations.show_chemical_average_graph_threshold[key][0] is not empty and locations.show_chemical_average_graph_threshold[key][0].bmc_corrosioninhibitortype == 2 and locations.show_chemical_average_graph_threshold[key][0].bsd_controlgreen is defined and locations.show_chemical_average_graph_threshold[key][0].bsd_controlgreen is not empty %}
                    var greenThreshold = "{{  locations.show_chemical_average_graph_threshold[key][0].bsd_controlgreen }}";
                    {% endif %}

                    var fromLoadDate = null;
                    var toLoadDate = null;

                    {% if locations.graphdates.from_date_average[key] is defined and locations.graphdates.from_date_average[key] is not empty %}
                    var fromLoadDate = Date.UTC({{ locations.graphdates.from_date_average[key]|date("Y") }}, {{ locations.graphdates.from_date_average[key]|date("m") }}, {{ locations.graphdates.from_date_average[key]|date("d") }},0, 0, 0)
                    var toLoadDate = Date.UTC({{ locations.graphdates.to_date_average[key]|date("Y") }}, {{ locations.graphdates.to_date_average[key]|date("m") }}, {{ locations.graphdates.to_date_average[key]|date("d") }},0, 0, 0)
                    {% endif %}

                    double(con, seriesFirstData,seriesSecondData, seriesFirstStr, seriesSecondStr, data, yaxisstr, xaxisstr, fromLoadDate, toLoadDate, greenThreshold, redThreshold, redAverageData, greenAverageData, amberAverageData);

                    {% endif %}

                    {% if locations.sampling_graphs[key] is defined and locations.sampling_graphs[key][0] is not empty and locations.sampling_graphs[key][0] != "[]" %}

                    var yaxisstr = "Sampling Database";

                    var xaxisstr = "Sampling Database";

                    {% set chardat = locations.sampling_graphs[key][0]|split('|') %}

                    var passdata = eval({{ chardat[0] }});

                    var con = 'containerSamplingGraphs'+GRAPHID;

                    var ele = '#'+con;

                    var flag = 1;

                    {% if activity.control.green is defined and activity.control.green is not empty and activity.control.red is defined and activity.control.red is not empty %}
                    var greenThreshold = "{{  activity.control.green }}";
                    var redThreshold = "{{  activity.control.red }}";
                    {% endif %}

                    single(con, passdata, flag, xaxisstr, yaxisstr, con, activityname , greenThreshold, redThreshold, fromLoadDate, toLoadDate, redData, greenData, amberData);

                    {% endif %}

                    {% if locations.cathodic_protection_graphs[key] is defined and locations.cathodic_protection_graphs[key][0] is not empty and locations.cathodic_protection_graphs[key][0] != "[]" %}

                    var yaxisstr = "Cathodic Protection Database";

                    var xaxisstr = "Cathodic Protection Database";

                    {% set chardat = locations.cathodic_protection_graphs[key][0]|split('|') %}

                    var passdata = eval({{ chardat[0] }});

                    var con = 'containerCathodicProtectionGraphs'+GRAPHID;

                    var ele = '#'+con;

                    var flag = 1;

                    {% if activity.control.green is defined and activity.control.green is not empty and activity.control.red is defined and activity.control.red is not empty %}
                    var greenThreshold = "{{  activity.control.green }}";
                    var redThreshold = "{{  activity.control.red }}";
                    {% endif %}

                    single(con, passdata, flag, xaxisstr, yaxisstr, con, activityname, greenThreshold, redThreshold, fromLoadDate, toLoadDate, redData, greenData, amberData);

                    {% endif %}

                    {% endfor %}

                });
            </script>
        {% endif %}

        {% set tempsystemname = activity.system.name %}
            {% set tempsystemnamesystemid = activity.system.id %}
        {% set previous = activity %}

    {% endif %}
{% endfor %}





