{% extends 'AIECmsBundle:Default:wizard.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables/media/css/jquery.dataTables.min.css') }}">
    <style>
        .filters { font-size: 0.8em }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/DataTables/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        var projectId = {{  projectId }};
        var subprojectId = {{ subprojectId  }};
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('.records_list .filters th').each( function () {
                var title = $('.records_list thead th').eq( $(this).index() ).text();
                $(this).html( '<input style="width:80px;" type="text" placeholder="'+title+'" />' );
            } );

            // DataTable
            var table = $('.records_list').DataTable();

            // Apply the search
            table.columns().eq( 0 ).each( function ( colIdx ) {
                $( 'input', $('.filters th')[colIdx] ).on( 'keyup change', function () {
                    table
                        .column( colIdx )
                        .search( this.value )
                        .draw();
                } );
            } );

            //$('#samplingdatabasemodal').hide();
            $('[data-toggle="modal"]').click(function(e) {
                var currentID = $(".step-pane.active").attr('id');
                currentID = currentID.replace('step', '');
                var url = "/c/"+projectId+"/subprojectoutstandingactions/"+subprojectId+"/"+currentID+"/create";
                //var modal_id = $(this).attr('data-target');
                $.post(url, function(data) {
                    $(data).modal();
                });
            });

            $('.btn-prev').click(function(e) {
                callLoad();

            });

            $('.btn-next').click(function(e) {
                callLoad();

            });

            function callLoad(){
                var currentID = $(".step-pane.active").attr('id');
                currentID = currentID.replace('step', '');
                var id = "#step"+currentID;
                var url = "/c/"+projectId+"/subprojectoutstandingactions/"+subprojectId+"/"+currentID +"/loadsystems";
                table.destroy();
                $.ajax({ url: url, dataType: 'html', success: function(response) { $(id).html(response); } });
            }
            callLoad();
        } );
    </script>
{% endblock %}

{% block steps -%}
    {% for system in systems %}
        <li id="{{ system.bs_id }}" data-target="#step{{ system.bs_id }}" {% if loop.index == 1 %} class="active"{% endif %}>
            <span class="badge badge-info">{{ loop.index }}</span>{{ system.bs_systemstitle }}<span class="chevron"></span>
        </li>
    {% endfor %}
{% endblock %}

{% block steps_content %}
    {% if system is defined %}
        {% for system in systems %}
            <div class="step-pane {% if loop.index == 1 %}active{% endif %}" id="step{{ system.bs_id }}">
                <table class="table table-striped table-hover records_list" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Location</th>
                        <th>Outstanding Actions</th>
                        <th>Recommendations</th>
                    </tr>
                    </thead>
                    <thead class="filters">
                    <tr>
                        <th>Location</th>
                        <th>Outstanding Actions</th>
                        <th>Recommendations</th>
                    </tr>
                    </thead>

                    <tbody id="tb{{ system.bs_id }}">
                    {% if alldatabases is defined %}
                        {% for database in alldatabases %}
                            <tr>
                                <td>{{ database.bsd_location }}</td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        <a id="nextLink" href="{{ path('cms_subprojects_dashboard', {'projectId':projectId,'id':subprojectId}) }}" style="display: none;"></a>
    {% endif %}
    <div class="add_new_sub_project_sampling" id=""><a role="button" class="btn btn-primary addnewsamplingdatabase" data-toggle="modal" href="#" data-target="#samplingdatabasemodal">Add New Row</a></div>
{% endblock %}

