<script type="text/javascript">
    $(document).ready(function() {
        // Setup - add a text input to each footer cell
        $('.records_list .filters th').each( function () {
            var title = $('.records_list thead th').eq( $(this).index() ).text();
            if(title.length > 14) {
                $(this).html('<input style="width:120px;" type="text" placeholder="' + title + '" />');
            } else if (title.length > 9){
            $(this).html('<input style="width:100px;" type="text" placeholder="' + title + '" />');
        } else
        {
            $(this).html('<input style="width:80px;" type="text" placeholder="' + title + '" />');
        }
        } );

        // DataTable
        var table = $('.records_list').DataTable();

        // Apply the search
        table.columns().eq( 0 ).each( function ( colIdx ) {
            $( 'input', $('.filters th')[colIdx] ).on( 'keyup change', function () {
                table
                    .column( colIdx )
                     .search( this.value )
                    .draw();
            } );
        } );
    });
</script>
<table class="display records_list" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Location</th>
            <th>Outstanding Actions</th>
            <th>Recommendations</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>Location</th>
            <th>Outstanding Actions</th>
            <th>Recommendations</th>
        </tr>
    </thead>

    <tbody id="tb{{ systemid }}">
    {% if alldatabases is defined %}
        {% for database in alldatabases %}
            <tr>
                <td>{{ database.bsd_location }}</td>
                <td></td>
                <td></td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>

</table>
