{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block content -%}
    <h1>Criticality Definition</h1>
    {% if entity.criticalitySelected is defined and entity.criticalitySelected > 0 %}
        {{ form_start(form) }}
        <table id="criticality_definition" class="records_list table-bordered">
            <thead>
            <tr>
                <th>Anomaly Criticality Ranking</th>
                <th>Description</th>
                <th>Action Time Frame</th>
            </tr>
            </thead>
            <tbody>
            {% if entity.vhEnabled is defined and entity.vhEnabled > 0 %}
                <tr>
                    <td style="vertical-align:middle;"><span class="custom-criticality-span" style="background-color:#{{ entity.vhColor }}"><b>Very High ({{ entity.vhName }})</b></span></td>
                    <td>{{ form_widget(form.criticality.vhDescription) }}</td>
                    <td>{{ form_widget(form.criticality.vhAction) }}</td>
                </tr>
            {% endif %}
            {% if entity.hEnabled is defined and entity.hEnabled > 0 %}
                <tr>
                    <td style="vertical-align:middle;"><span class="custom-criticality-span" style="background-color:#{{ entity.hColor }}"><b>High ({{ entity.hName }})</b></span></td>
                    <td>{{ form_widget(form.criticality.hDescription) }}</td>
                    <td>{{ form_widget(form.criticality.hAction) }}</td>
                </tr>
            {% endif %}
            {% if entity.mEnabled is defined and entity.mEnabled > 0 %}
                <tr>
                    <td style="vertical-align:middle;"><span class="custom-criticality-span" style="background-color:#{{ entity.mColor }}"><b>Medium ({{ entity.mName }})</b></span></td>
                    <td>{{ form_widget(form.criticality.mDescription) }}</td>
                    <td>{{ form_widget(form.criticality.mAction) }}</td>
                </tr>
            {% endif %}
            {% if entity.lEnabled is defined and entity.lEnabled > 0 %}
                <tr>
                    <td style="vertical-align:middle;"><span class="custom-criticality-span" style="background-color:#{{ entity.lColor }}"><b>Low ({{ entity.lName }})</b></span></td>
                    <td>{{ form_widget(form.criticality.lDescription) }}</td>
                    <td>{{ form_widget(form.criticality.lAction) }}</td>
                </tr>
            {% endif %}
            {% if entity.vlEnabled is defined and entity.vlEnabled > 0 %}
                <tr>
                    <td style="vertical-align:middle;"><span class="custom-criticality-span" style="background-color:#{{ entity.vlColor }}"><b>Very Low ({{ entity.vlName }})</b></span></td>
                    <td>{{ form_widget(form.criticality.vlDescription) }}</td>
                    <td>{{ form_widget(form.criticality.vlAction) }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
{% block javascripts -%}
    {{ parent() }}
    <script type="text/javascript">
        $("#aie_bundle_anomalybundle_criticalityproject_criticality").hide();
        $(".required").hide();
    </script>
{% endblock %}