{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block content -%}
    <h1>Criticality Definition</h1>
    <div class="alert alert-warning">
        <b>Warning</b><br/>
        Criticalities selected at the creation stage of the project cannot be changed. Please select your criticalities carefully before saving them.<br/>
        However, the <b>Custom Name</b> and <b>Criticality Criteria Color</b> can be changed at any moment when required.
    </div>
    {{ form_start(form) }}
    <table id="criticality_definition" class="records_list table table-bordered table-responsive table-condensed table-hover">
        <thead>
        <tr>
            <th>Enable Criticality Rank
            <th>Custom Name</th>
            <th>Criticality Criteria Color</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if entity.criticalitySelected != 1 %}
                <td>{{ form_widget(form._choices.children[0]) }} Very High</td>
                <td>{{ form_widget(form.vhName) }}</td>
                <td>{{ form_widget(form.vhColor) }}</td>
            {% else %}
                {% if entity.vhEnabled is defined and entity.vhEnabled > 0 %}
                    <td>{{ form_widget(form._choices.children[0],{ 'attr':{'disabled':'disabled','checked':'checked'} }) }} Very High</td>
                    <td>{{ form_widget(form.vhName,{'attr':{'value': entity.vhName }}) }}</td>
                    <td>{{ form_widget(form.vhColor,{'attr':{'value': entity.vhColor }}) }}</td>
                {% else %}
                    <td>{{ form_widget(form._choices.children[0]) }} Very High</td>
                    <td>{{ form_widget(form.vhName) }}</td>
                    <td>{{ form_widget(form.vhColor) }}</td>
                {% endif %}
            {% endif %}
        </tr>
        <tr>
            {% if entity.criticalitySelected != 1 %}
                <td>{{ form_widget(form._choices.children[1]) }} High</td>
                <td>{{ form_widget(form.hName) }}</td>
                <td>{{ form_widget(form.hColor) }}</td>
            {% else %}
                {% if entity.hEnabled is defined and entity.hEnabled > 0 %}
                    <td>{{ form_widget(form._choices.children[1],{ 'attr':{'disabled':'disabled','checked':'checked'} }) }} High</td>
                    <td>{{ form_widget(form.hName,{'attr':{'value': entity.hName }}) }}</td>
                    <td>{{ form_widget(form.hColor,{'attr':{'value': entity.hColor }}) }}</td>
                {% else %}
                    <td>{{ form_widget(form._choices.children[1]) }} High</td>
                    <td>{{ form_widget(form.hName) }}</td>
                    <td>{{ form_widget(form.hColor) }}</td>
                {% endif %}
            {% endif %}
        </tr>
        <tr>
            {% if entity.criticalitySelected != 1 %}
                <td>{{ form_widget(form._choices.children[2]) }} Medium</td>
                <td>{{ form_widget(form.mName) }}</td>
                <td>{{ form_widget(form.mColor) }}</td>
            {% else %}
                {% if entity.mEnabled is defined and entity.mEnabled > 0 %}
                    <td>{{ form_widget(form._choices.children[2],{ 'attr':{'disabled':'disabled','checked':'checked'} }) }} Medium</td>
                    <td>{{ form_widget(form.mName,{'attr':{'value': entity.mName }}) }}</td>
                    <td>{{ form_widget(form.mColor,{'attr':{'value': entity.mColor }}) }}</td>
                {% else %}
                    <td>{{ form_widget(form._choices.children[2]) }} Medium</td>
                    <td>{{ form_widget(form.mName) }}</td>
                    <td>{{ form_widget(form.mColor) }}</td>
                {% endif %}
            {% endif %}
        </tr>
        <tr>
            {% if entity.criticalitySelected != 1 %}
                <td>{{ form_widget(form._choices.children[3]) }} Low</td>
                <td>{{ form_widget(form.lName) }}</td>
                <td>{{ form_widget(form.lColor) }}</td>
            {% else %}
                {% if entity.lEnabled is defined and entity.lEnabled > 0 %}
                    <td>{{ form_widget(form._choices.children[3],{ 'attr':{'disabled':'disabled','checked':'checked'} }) }} Low</td>
                    <td>{{ form_widget(form.lName,{'attr':{'value': entity.lName }}) }}</td>
                    <td>{{ form_widget(form.lColor,{'attr':{'value': entity.lColor }}) }}</td>
                {% else %}
                    <td>{{ form_widget(form._choices.children[3]) }} Low</td>
                    <td>{{ form_widget(form.lName) }}</td>
                    <td>{{ form_widget(form.lColor) }}</td>
                {% endif %}
            {% endif %}
        </tr>
        <tr>
            {% if entity.criticalitySelected != 1 %}
                <td>{{ form_widget(form._choices.children[4]) }} Very Low</td>
                <td>{{ form_widget(form.vlName) }}</td>
                <td>{{ form_widget(form.vlColor) }}</td>
            {% else %}
                {% if entity.vlEnabled is defined and entity.vlEnabled > 0 %}
                    <td>{{ form_widget(form._choices.children[4],{ 'attr':{'disabled':'disabled','checked':'checked'} }) }} Very Low</td>
                    <td>{{ form_widget(form.vlName,{'attr':{'value': entity.vlName }}) }}</td>
                    <td>{{ form_widget(form.vlColor,{'attr':{'value': entity.vlColor }}) }}</td>
                {% else %}
                    <td>{{ form_widget(form._choices.children[4]) }} Very Low</td>
                    <td>{{ form_widget(form.vlName) }}</td>
                    <td>{{ form_widget(form.vlColor) }}</td>
                {% endif %}
            {% endif %}
        </tr>
        </tbody>
    </table>
   {{ form_end(form) }}
{% endblock %}
{% block javascripts -%}
    {{ parent() }}
    <script src="{{ asset('assets/js/jscolor/jscolor.js') }}"></script>
    <script>
        $( document ).ready(function() {
            $('.jscolor').each(function( index ) {
                if ($(this).prop('disabled')){
                    $(this).removeClass('jscolor');
                }
            });
        });
    </script>
{% endblock %}