{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block content -%}
    <h1>Production Criticality Definition</h1>
    <div class="alert alert-warning">
        <b>Warning</b><br/>
        Production Criticalities defained at the creation stage of the project cannot be changed. Please select your criticalities carefully before saving them.<br/>
        However, the <b>Custom Name</b> and <b>Criticality Criteria Color</b> can be changed at any moment when required.
    </div>
    <table id="criticality_definition" class="records_list table table-bordered table-responsive table-condensed table-hover">
        <thead>
        <tr>
            <th>Production Criticality Custom Name</th>
            <th>Production Criticality Description</th>
            <th>Criticality Criteria Color</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td id="td_code">
                    <span id="spn_code">{{ entity.productionCriticalityCode }}</span>
                    <input id="txt_code" type="text" value="{{ entity.productionCriticalityCode }}" class="form-control inputShow" style="display: none;">
                </td>
                <td id="td_description">
                    <span id="spn_description">{{ entity.productionCriticalityDescription }}</span>
                    <input id="txt_description" type="text" value="{{ entity.productionCriticalityDescription }}" class="form-control inputShow" style="display: none;">
                </td>
                <td id="td_color">
                    <span id="spn_color" style="font-weight:bold; color: #{{ entity.productionCriticalityColor }}">{{ entity.productionCriticalityColor }}</span>
                    <input id="txt_color" type="text" value="{{ entity.productionCriticalityColor }}" class="form-control inputShow jscolor" style="display: none;">
                </td>
                <td id="td_action">
                    {% if editGranted %}
                    <button class="btn btn-primary" id="btn_editone">Edit</button>
                    <button class="btn btn-primary" id="btn_saveone" style="display: none;">Save</button>
                    <input id="hdn_exist" type="hidden" value="1">
                    <input id="itemId" type="hidden" value="{{ entity.id }}">
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <div class="row">
        {% if createGranted %}
        <div class="col-lg-12">
            <button data-toggle="modal" data-target="#addModal" class="btn btn-link">Add new Criticality</button>
        </div>
        {% endif %}
    </div>
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addModalLabel">Add Production Criticality</h4>
                </div>
                <div class="modal-body">
                    <span>Criticality Name</span>
                    <input type="text" id="inp_fillName" class="form-control required" required>
                    <span>Criticality Description</span>
                    <input type="textarea" id="inp_fillDisc" class="form-control required" required>
                    <span>Criticality Color</span>
                    <input type="text" id="inp_fillColor" class="form-control jscolor required" required>
                </div>
                <div class="modal-footer">
                    <span id="spn_message" style="color: red;" class="left"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="btn_addCriticality" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form.fmData) }}
    {{ form_widget(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
{% block javascripts -%}
    {{ parent() }}
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.4/dist/loadingoverlay.min.js"></script>
    <script src="{{ asset('assets/js/jscolor/jscolor.js') }}"></script>
    <script>
        $("#btn_addCriticality").on('click',function () {
            if ($("#inp_fillName").val() != "" && $("#inp_fillDisc").val() != "" && $("#inp_fillColor").val()!= ""){
                var newRowContent = '<tr><td id="td_code"><span id="spn_code">' + $("#inp_fillName").val() + '</sapn><input id="txt_code" type="text" value="' + $("#inp_fillName").val() + '" class="form-control inputShow" style="display: none;"></td>';
                newRowContent = newRowContent + '<td id="td_description"><span id="spn_description">' + $("#inp_fillDisc").val() + '</span><input id="txt_description" type="text" value="' + $("#inp_fillDisc").val() + '" class="form-control inputShow" style="display: none;"></td>';
                newRowContent = newRowContent + '<td id="td_color"><span id="spn_color" style="font-weight:bold; color: #' + $("#inp_fillColor").val() + '">' + $("#inp_fillColor").val() + '</span><input id="txt_code" type="text" value="' + $("#inp_fillColor").val() + '" class="form-control inputShow jscolor" style="display: none;"></td>';
                newRowContent = newRowContent + '<td><button class="btn btn-primary" id="btn_editone">Edit</button>';
                newRowContent = newRowContent + '<button class="btn btn-primary" id="btn_saveone" style="display: none;">Save</button>&nbsp;<button id="btn_deleteone" class="btn btn-danger deleteOne">Delete</button><input id="hdn_exist" type="hidden" value="0"></td></tr>';
                $("#criticality_definition tbody").append(newRowContent);
                $("#spn_message").text("");
                $("#inp_fillName").val("");
                $("#inp_fillDisc").val("");
                $("#inp_fillColor").val("FFFFFF");
                $("#addModal").modal("hide");
            }else{
                $("#spn_message").text("some required fields are empty");
            }
        });
        $( "#criticality_definition" ).on( "click", "#btn_deleteone", function( event ) {
            event.preventDefault();
            $(this).parent().parent().remove();
        });
        var rowIndex = 0
        $( "#criticality_definition" ).on( "click", "#btn_editone", function( event ) {
            event.preventDefault();
            rowIndex = $(this).parent().parent().index();
            $(this).parent().find("#btn_saveone").show();
            $(this).parent().parent().find(".inputShow").show();
            $(this).parent().parent().find("span").hide();
            $(this).hide();
        });
        $( "#criticality_definition" ).on( "click", "#btn_saveone", function( event ) {
            event.preventDefault();
            if ($(this).parent().parent().find("#txt_code").val() != "" && $(this).parent().parent().find("#txt_description").val() && $(this).parent().parent().find("#txt_color").val() != ""){
                $(this).parent().parent().find("#td_code").find("#spn_code").text($(this).parent().parent().find("#txt_code").val());
                $(this).parent().parent().find("#td_description").find("#spn_description").text($(this).parent().parent().find("#txt_description").val());
                $(this).parent().parent().find("#td_color").find("#spn_color").text($(this).parent().parent().find("#txt_color").val());
                $(this).parent().parent().find("#td_color").find("#spn_color").css("color", "#" + $(this).parent().parent().find("#txt_color").val());
                $(this).parent().find("#btn_editone").show();
                $(this).parent().parent().find(".inputShow").hide();
                $(this).parent().parent().find("span").show();
                $(this).hide();
            }
        });
        $(".btnSave").on("click",function () {
            var itemsArray=[];
            $('tr', "#criticality_definition tbody").each(function (i, el) {
                var isExist = $(this).find("#hdn_exist").val();
                var id = null;
                if ($(this).find("#hdn_exist").val() == 1){
                    var id = $(this).find("#itemId").val();
                }
                var code = $(this).find("#td_code").find("#spn_code").text();
                var desc = $(this).find("#td_description").find("#spn_description").text();
                var color = $(this).find("#td_color").find("#spn_color").text();
                itemsArray.push({"isExist": isExist, "id": id, "code":code, "description":desc, "color" :color});
            });
            $(".hdnFMData").val(JSON.stringify(itemsArray));
        });
        $(".call-loader").on("click",function () {
            $.LoadingOverlay("show");
        });
    </script>
{% endblock %}