{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content %}
    <h1>Add / Edit New Column(s)</h1>
    <div class="col-md-12" style="margin: 15px;">
        <div class="col-md-11">
        {#{{ form(edit_form) }}#}
            {{ form_start(edit_form) }}
            <table>
                <tr>
                    <td width="20px">{{ form_row(edit_form.columnoneselected) }}</td>
                    <td>{{ form_row(edit_form.columnone) }}</td>
                </tr>
                <tr>

                    <td  width="20px">{{ form_row(edit_form.columntwoselected) }}</td>
                    <td>{{ form_row(edit_form.columntwo) }}</td>
                </tr>
                <tr>
                    <td  width="20px">{{ form_row(edit_form.columnthreeselected) }}</td>
                    <td>{{ form_row(edit_form.columnthree) }}</td>

                </tr>
                <tr>
                    <td  width="20px">{{ form_row(edit_form.columnfourselected) }}</td>
                    <td>{{ form_row(edit_form.columnfour) }}</td>

                </tr>
                <tr>
                    <td  width="20px">{{ form_row(edit_form.columnfiveselected) }}</td>
                    <td>{{ form_row(edit_form.columnfive) }}</td>

                </tr>
            </table>
            {{ form_end(edit_form) }}
        </div>
    <div class="col-md-1" style="position:absolute;width:100px;bottom:15px;right:5%;left:90%;margin-left:-5px;">
        <button id="subcancelbutton" value="Cancel" type="button" class="btn btn-default pull-right" onclick="history.go(-1);">Cancel</button>
    </div>
{% endblock %}
