{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content %}
    <h1>Production Database : Add New Column(s)</h1>
    <div class="col-md-12">
        <div class="col-md-11">
            {{ form_start(form) }}
            <table>
                <tr>
                    <td width="20px">{{ form_row(form.columnoneselected) }}</td>
                    <td>{{ form_row(form.columnone) }}</td>
                </tr>
                <tr>

                    <td  width="20px">{{ form_row(form.columntwoselected) }}</td>
                    <td>{{ form_row(form.columntwo) }}</td>
                </tr>
                <tr>
                    <td  width="20px">{{ form_row(form.columnthreeselected) }}</td>
                    <td>{{ form_row(form.columnthree) }}</td>

                </tr>
                <tr>
                    <td  width="20px">{{ form_row(form.columnfourselected) }}</td>
                    <td>{{ form_row(form.columnfour) }}</td>

                </tr>
                <tr>
                    <td  width="20px">{{ form_row(form.columnfiveselected) }}</td>
                    <td>{{ form_row(form.columnfive) }}</td>

                </tr>
            </table>
            {{ form_end(form) }}
            </div>
        <div class="col-md-1" style="position:absolute;
    width:100px;
    bottom:15px;
    right:5%;
    left:90%;
    margin-left:-10px;">
            <button id="subcancelbutton" value="Cancel" type="button" class="btn btn-default pull-right" onclick="history.go(-1);">Cancel</button>
        </div>
    </div>
{% endblock %}
