{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Chemical Management Add Columns</h1>

    {% if delete_form is defined %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">Close</a>
            The change is irrreversible, are you sure you want to delete the Sub Project?
        </div>
    {% endif %}

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Column 1</th>
                <td>{{ entity.columnone }}</td>
            </tr>

            <tr>
                <th>Column 2</th>
                <td>{{ entity.columntwo }}</td>
            </tr>

            <tr>
                <th>Column 3</th>
                <td>{{ entity.columnthree }}</td>
            </tr>
            <tr>
                <th>Column 4</th>
                <td>{{ entity.columnfour }}</td>
            </tr>
            <tr>
                <th>Column 5</th>
                <td>{{ entity.columnfive }}</td>
            </tr>

        </tbody>
    </table>
<div class="row form-group pull-right">
    <div class="col-md-1">
        {{ form(delete_form) }}
    </div>
    <div class="col-md-1">
        <button id="subcancelbutton" value="Cancel" type="button" class="btn btn-default" onclick="history.go(-1);">Cancel</button>
    </div>
</div>
{% endblock %}
