{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Monitor</h1>

    {{ form(edit_form) }}
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_monitor', {'projectId': projectId, 'anomalyId': anomalyId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
