{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Monitor <small>{{ anomaly.assetTagNumber }}: {{ anomaly.anomalyCustomId }}</small></h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Inspection Date</th>
            <th>Inspection Frequency (months)</th>
            <th>Defect Description</th>
            <th>Tracking Criteria</th>
            <th>Tracking Conc</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>M-{{ loop.length - 1 }}</td>
                <td>{% if entity.inspectionDate %}{{ entity.inspectionDate|date('d F Y') }}{% endif %}</td>
                <td>{{ entity.inspectionFrequency }}</td>
                <td>{{ entity.defectDescription }}</td>
                <td>
                    <ul>
                        {% for tracking in json_decode(entity.trackingCriteria) %}
                            <li>{{ "Description: "  ~ tracking.description }}</li>
                            <li>{{ "Value: " ~ tracking.value }}</li>
                            <br />
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for tracking in json_decode(entity.trackingCriteria) %}
                            <li>{{ "Conc: " ~ tracking.tracking_conc  }}</li>
                            <li>{{ "Unit: " ~ tracking.tracking_conc_unit }}</li>
                            <br />
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ entity.comments }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% set divNumber = 1 %}
    {% for trackingType in tracking_types %}
        {% set counter = 0 %}
        {% for entity in entities %}
            {% for tracking in json_decode(entity.trackingCriteria) %}
                {% if trackingType == tracking.description and (tracking.value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' or tracking.value matches '/^\\d+$/') and (tracking.tracking_conc matches '/^[-+]?[0-9]*\\.?[0-9]+$/' or tracking.tracking_conc matches '/^\\d+$/') %}
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if counter >= 1 %}
            <div id="chartContainer_{{ divNumber }}" class="col-lg-12">

            </div>
            <div class="col-lg-12">
                <hr />
            </div>
            {% set divNumber = divNumber + 1 %}
        {% endif %}
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
        <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
        <script src="{{ asset('assets/js/grid220/pqgrid.min.js') }}"></script>
        <script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
        <script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
        <script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
        <script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
        <script src="{{ asset('assets/js/Highcharts/code/modules/broken-axis.js') }}"></script>
        <script src="{{ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>
        <script src="{{ asset('assets/js/editable/jquery.inline-edit.js') }}"></script>
        <script>
            $(function () {
                {% set divNumber = 1 %}
                {% for trackingType in tracking_types %}
                    {% set counter = 0 %}
                    {% for entity in entities %}
                        {% for tracking in json_decode(entity.trackingCriteria) %}
                            {% if trackingType == tracking.description and (tracking.value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' or tracking.value matches '/^\\d+$/') and (tracking.tracking_conc matches '/^[-+]?[0-9]*\\.?[0-9]+$/' or tracking.tracking_conc matches '/^\\d+$/') %}
                                {% set counter = counter + 1 %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% set TrUnit="" %}
                    {% if counter >= 1 %}
                        var tCONC=[];
                        var tValue=[];
                        {% set ChartTitle="" %}
                        {% for entity in entities %}
                        {% for tracking in json_decode(entity.trackingCriteria) %}
                            {% if trackingType == tracking.description and (tracking.value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' or tracking.value matches '/^\\d+$/') and (tracking.tracking_conc matches '/^[-+]?[0-9]*\\.?[0-9]+$/' or tracking.tracking_conc matches '/^\\d+$/') %}
                                {% set ChartTitle = trackingType %}
                                {% set TrUnit = tracking.unit %}
                                tCONC.push({ x: Date.UTC({{ entity.inspectionDate|date('Y') }}, {{ entity.inspectionDate|date('m')-1 }}, {{ entity.inspectionDate|date('d') }}), y: {{ tracking.tracking_conc}}});
                                tValue.push({ x: Date.UTC({{ entity.inspectionDate|date('Y') }}, {{ entity.inspectionDate|date('m')-1 }}, {{ entity.inspectionDate|date('d') }}), y: {{ tracking.value}}});
                            {% endif %}
                        {% endfor %}
                        {% endfor %}
                        $("#chartContainer_{{ divNumber }}").highcharts({
                            chart:{
                                type:'scatter',
                                height:'600px',
                            },credits: {
                                enabled: false
                            },title: {
                                text: 'Tracking Criteria Trending ({{ ChartTitle }})'
                            },subtitle: {
                                text: '{{ anomaly.assetTagNumber }}: {{ anomaly.anomalyCustomId }}'
                            },xAxis: {
                                title: {
                                    text: 'Date'
                                },type: 'datetime',
                                dateTimeLabelFormats: { // don't display the dummy year
                                    day: '%e. %b',
                                    month: '%b \'%y',
                                    year: '%Y'
                                },
                                title: {
                                    text: 'Date'
                                }
                            },yAxis: {
                                title: {
                                    text: '{{ ChartTitle }} {{ TrUnit }}'
                                },
                                tickInterval:1
                            },tooltip: {
                                headerFormat: '<b>{series.name}</b><br>',
                                pointFormat: '{point.x:%e. %b %Y}, {point.y:.2f} mm'
                            },plotOptions:{
                                scatter:{
                                    lineWidth:2
                                },showInLegend: true
                            },legend: {
                                layout: 'horizontal',
                                align: 'center',
                                verticalAlign: 'top',
                                floating: false,
                                y: 60
                            },series: [{
                                name: 'Tracking Criteria',
                                data: tValue
                            },{
                                name:'Tracking CONC',
                                marker: {
                                    enabled: false
                                },states: { hover: { enabled: false } },
                                enableMouseTracking: false,
                                data:tCONC
                            }]
                        });
                        {% set divNumber = divNumber + 1 %}
                    {% endif %}
                {% endfor %}


            });
        </script>
{% endblock %}
