{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Monitor <small>{{ anomaly.assetTagNumber }}: {{ anomaly.anomalyCustomId }}</small></h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Inspection Date</th>
            <th>Inspection Frequency (months)</th>
            <th>Defect Description</th>
            <th>Remaining Wall Thickness (mm)</th>
            <th>Length (mm)</th>
            <th>Corrosion Rate</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>M-{{ loop.revindex0 }}</td>
                <td>{% if entity.inspectionDate %}{{ entity.inspectionDate|date('d F Y') }}{% endif %}</td>
                <td>{{ entity.inspectionFrequency }}</td>
                <td>{{ entity.defectDescription }}</td>
                <td>{{ entity.remainingWallThickness }}</td>
                <td>{{ entity.length }}</td>
                <td>{{ entity.corrosionRate }}</td>
                <td>{{ entity.comments }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="chartContainer" class="col-lg-12">

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if anomaly.nominalWT > 0 and entities|length > 1 %}
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/grid220/pqgrid.min.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/broken-axis.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>
    <script src="{{ asset('assets/js/editable/jquery.inline-edit.js') }}"></script>
    <script>
        $(function () {
            $('#chartContainer').highcharts({
                chart:{
                    type:'scatter',
                    height:'600px',
                },credits: {
                    enabled: false
                },title: {
                    text: 'Remaining Wall-Thickness Trending'
                },subtitle: {
                    text: '{{ anomaly.assetTagNumber }}: {{ anomaly.anomalyCustomId }}'
                },xAxis: {
                    title: {
                        text: 'Date'
                    },type: 'datetime',
                    dateTimeLabelFormats: { // don't display the dummy year
                        day: '%e. %b',
                        month: '%b \'%y',
                        year: '%Y'
                    },
                    title: {
                        text: 'Date'
                    }
                },yAxis: {
                        title: {
                            text: 'Wall-thickness mm'
                        },
                        tickInterval:1,
                        max:{{ anomaly.nominalWT + 1}},

                    plotLines: [{
                        value: {{ anomaly.nominalWT }},
                        width: 2,
                        color: 'green'
                    },{
                        value: {{ anomaly.nominalWT * 0.8 }},
                        width: 2,
                        color: 'orange'
                    }
                        {% if anomaly.mAWT > 0 %}
                        ,{
                            value: {{ anomaly.mAWT }},
                            width: 2,
                            color: 'red'
                        }
                        {% endif %}
                    ]
                },tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x:%e. %b %Y}, {point.y:.2f} mm'
                },plotOptions:{
                    scatter:{
                        lineWidth:2
                    },showInLegend: true
                },
                series: [{
                    name: 'Remaining WT',
                    data: [
                        {% for entity in entities %}
                        [Date.UTC({{ entity.inspectionDate|date('Y') }}, {{ entity.inspectionDate|date('m')-1 }}, {{ entity.inspectionDate|date('d') }}), {{ entity.remainingWallThickness }}],
                        {% endfor %}
                    ]
                },{
                 name:'Failure Date',
                 color:'purple',
                    marker:{
                     symbol:'circle'
                    },
                 data:[
                     {% if entities[0].remainingWallThickness < anomaly.mAWT or anomaly.mAWT == 0 or anomaly.mAWT is null %}
                         {% set difference = date(entities[0].inspectionDate).diff(date(entities[1].inspectionDate)) %}
                         {% set leftYrs = difference.days / 365.00 %}
                         {% if leftYrs != 0 and entities[0].remainingWallThickness != entities[1].remainingWallThickness %}
                             {% set CR = ((entities[1].remainingWallThickness - entities[0].remainingWallThickness)|abs) / (leftYrs|abs) %}
                             {% set leftDays = '+' ~ (entities[0].remainingWallThickness / CR * 365)|round ~ ' days' %}
                         {% else %}
                             {% set CR = 0 %}
                             {% set leftDays = '+' ~ 20*365 ~ ' days' %}
                         {% endif %}
                        [Date.UTC({{ entities[0].inspectionDate|date_modify(leftDays)|date('Y') }}, {{ entities[0].inspectionDate|date_modify(leftDays)|date('m')-1 }}, {{ entities[0].inspectionDate|date_modify(leftDays)|date('d') }}), 0],
                     {% else %}
                         {% set difference = date(entities[0].inspectionDate).diff(date(entities[1].inspectionDate)) %}
                         {% set leftYrs = difference.days / 365.00 %}
                         {% if leftYrs != 0 and entities[0].remainingWallThickness != entities[1].remainingWallThickness %}
                             {% set CR = ((entities[1].remainingWallThickness - entities[0].remainingWallThickness)|abs) / (leftYrs|abs) %}
                             {% set leftDays = '+' ~ ((entities[0].remainingWallThickness - anomaly.mAWT) / CR * 365)|round ~ ' days' %}
                         {% else %}
                             {% set CR = 0 %}
                             {% set leftDays = '+' ~ 20*365 ~ ' days' %}
                         {% endif %}
                         [Date.UTC({{ entities[0].inspectionDate|date_modify(leftDays)|date('Y') }}, {{ entities[0].inspectionDate|date_modify(leftDays)|date('m')-1 }}, {{ entities[0].inspectionDate|date_modify(leftDays)|date('d') }}), {{ anomaly.mAWT }}],
                     {% endif %}
                 ]
                },{
                    color: 'red',
                    name: 'Minimum Allowable WT ({{ anomaly.mAWT|round(2, 'floor') }} mm)',
                    marker: {
                        enabled: false
                    }
                },{
                    color: 'orange',
                    name: '80% Nominal WT ({{ (anomaly.nominalWT * 0.8)|round(2, 'floor') }} mm)',
                    marker: {
                        enabled: false
                    }
                },{
                    color: 'green',
                    name: 'Nominal WT ({{ anomaly.nominalWT|round(2, 'floor') }} mm)',
                    marker: {
                        enabled: false
                    }
                }],legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'top',
                    floating: false,
                    y: 60
                }
            });
        });
    </script>
    {% endif %}
{% endblock %}
