{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Attendee</h1>

    {{ form(edit_form) }}

    {{ form(delete_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('cms_workshops', {'projectId': projectId,'subprojectId': subprojectId}) }}">
                Back to workshops
            </a>
        </li>
    </ul>
{% endblock %}
