{% extends '::base.html.twig' %}

{% block body -%}
    <h1>WorkshopAttendee list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Position</th>
                <th>Company</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cms_workshops_attendee_show', { 'id': entity.id,'projectId': projectId,'subprojectId': subprojectId }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.company }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cms_workshops_attendee_show', { 'id': entity.id,'projectId': projectId,'subprojectId': subprojectId }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cms_workshops_attendee_edit', { 'id': entity.id,'projectId': projectId,'subprojectId': subprojectId }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('workshops_attendee_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
