{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>New Attendee</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('cms_workshops', {'projectId': projectId,'subprojectId': subprojectId}) }}">
                Back to meetings
            </a>
        </li>
    </ul>
{% endblock %}
