{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Workshop Attendee</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ entity.position }}</td>
            </tr>
            <tr>
                <th>Company</th>
                <td>{{ entity.company }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cms_workshops_attendee', { 'projectId': projectId,'subprojectId': subprojectId }) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cms_workshops_attendee_edit', { 'id': entity.id,'projectId': projectId,'subprojectId': subprojectId }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
