{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block javascripts %}
    <script type="text/javascript">
        function readyFn( jQuery ) {
            $('.required').closest('.form-group').find('.control-label').each(function () {
                $(this).text("*" + $(this).text());
            });
        }
        $( document ).ready( readyFn );
        // or:
        $( window ).on( "load", readyFn );
    </script>
{% endblock %}
{% block content %}
    <div class="modal fade" id="samplingdatabasemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.activityid) }}{{ form_widget(form.activityid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.platformorplant) }}{{ form_widget(form.platformorplant) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.pandid) }}{{ form_widget(form.pandid) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.location) }}{{ form_widget(form.location) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.linenumber) }}{{ form_widget(form.linenumber) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.waterchemistry) }}{{ form_widget(form.waterchemistry) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.orientationid) }}{{ form_widget(form.orientationid) }}
                        </div>
                    </div>


                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.serviceid) }}{{ form_widget(form.serviceid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.samplingprocedure) }}{{ form_widget(form.samplingprocedure) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.analysisprocedure) }}{{ form_widget(form.analysisprocedure) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.samplingpointtype) }}{{ form_widget(form.samplingpointtype) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.activitypersonid) }}{{ form_widget(form.activitypersonid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.file) }}{{ form_widget(form.file) }}
                        </div>
                    </div>

                    <div class="row form-group pull-right" style="padding-right: 60px;">
                        <button type="submit" value="save" class="btn btn-primary">Save</button>
                        <button type="button" value="cancel" class="btn btn-default subcancelbutton">Cancel</button>
                    </div>
                    {{ form_end(form) }}

                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}

