{% extends 'AIECmsBundle:Default:wizard.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables/media/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables4/Responsive-2.2.2/css/responsive.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables4/Buttons-1.5.2/css/buttons.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/databases/databases.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/DataTables/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.2/js/dataTables.buttons.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.2/js/buttons.flash.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/JSZip-2.5.0/jszip.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/pdfmake-0.1.36/pdfmake.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/pdfmake-0.1.36/vfs_fonts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.2/js/buttons.html5.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.2/js/buttons.print.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.2/js/buttons.colVis.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.blockUI.js') }}"></script>
    <script type="text/javascript">
        var projectId = {{  projectId }};
        var subprojectId = {{ subprojectId  }};
        var projectName = '{{  project.name }}';
        var subprojectName = '{{ subproject.name  }}';
        var stepID = {{ stepId }};
        if (!stepID) stepID = 1;
        var excelShow= {{ excelGranted }};
        var columnsShow = {{ selectcolumnsGranted }};
        var systemname = '';
        {% if system is defined and systems|length > 0%}
        {% for system in systems %}
        {% if loop.index == stepId %}
        var systemname = '{{ system.bs_systemstitle }}';
        {% endif %}
        {% endfor %}
        {% endif %}
        $(document).ready(function() {
            $("#wizard").wizard('selectedItem',{step:stepID});

            $('#wizard').find('ul.steps li').toggleClass('complete', true);

            $('#wizard').on('changed.fu.wizard', function (evt, data) {
                $('#wizard').find('ul.steps li').toggleClass('complete', true);
                callLoad();
            });

            wizard.on('stepclick', function (e, data) {
                var stepID = data.step;
                var currentID = $(".step-pane").attr('id');
                currentID = currentID.replace('step', '');

                var id = "#step"+currentID;
                var url = "/c/"+projectId+"/subprojectsamplingdatabase/"+subprojectId+"/"+currentID +"/loadsystems";
                $.ajax({ url: url, dataType: 'html', success: function(response) { $(id).html(response); } });
            });

            //$('#samplingdatabasemodal').hide();
            $('[data-toggle="modal"]').click(function(e) {
                var stepID = $("#wizard").wizard('selectedItem')['step'];
                var currentID = $(".step-pane.active").attr('id');
                currentID = currentID.replace('step', '');
                var url = "/c/"+projectId+"/subprojectsamplingdatabase/"+subprojectId+"/"+currentID+"/"+stepID+"/create";
                $.blockUI({ message: "<h4>Page Loading...</h4>", overlayCSS: { backgroundColor: '#747474' }  });
                //var modal_id = $(this).attr('data-target');
                $.post(url, function(data) {
                    $(data).modal();
                    $.unblockUI();
                });

            });

            $('.btn-prev').click(function(e) {
                callLoad();
            });

            $('.btn-next').click(function(e) {
                callLoad();
            });

            function callLoad() {
                var currentID = $(".step-pane.active").attr('id');
                currentID = currentID.replace('step', '');
                var id = "#step"+currentID;
                var url = "/c/"+projectId+"/subprojectsamplingdatabase/"+subprojectId+"/"+currentID +"/loadsystems";
                $(id).html('<div style="align-content: center;text-align: center;">Data loading..</div>');
                $.ajax({ url: url, dataType: 'html', success: function(response) { $(id).html(response); } });
                // var url2 = "/c/"+projectId+"/"+subprojectId+"/matricesreports/archivesajax";
                // $.ajax({ url: url2, dataType: 'html', success: function(response) { console.log('file gene') } });
            }
            callLoad();
        } );
    </script>
    <script src="{{ asset('assets/js/aie/databasesedit.js') }}" type="text/javascript"></script>
{% endblock %}

{% block steps -%}
    {% if system is defined and systems|length > 0%}
        {% for system in systems %}
            <li id="{{ system.bs_id }}" data-target="#step{{ system.bs_id }}" {% if loop.index == 1 %} class="active" {% endif %}>
                <span class="badge badge-info">{{ loop.index }}</span>{{ system.bs_systemstitle }}
            </li>
        {% endfor %}
        {% else %}
        <span>No systems</span>
    {% endif %}
{% endblock %}

{% block steps_content %}
    {% if system is defined and systems|length > 0%}
        <div class="Scrollable_Wrapper">
        {% for system in systems %}

            <div class="step-pane {% if loop.index == 1 %} active {% endif %}" id="step{{ system.bs_id }}" data-step="{{ system.bs_id }}">
                <table class="table table-bordered table-striped table-hover table-responsive table-grid-head" cellspacing="0" width="100%" data-resizable-columns-id="samplingdatabases-table">
                    <thead class="table-grid-head-row">
                        <tr>
                            <th>Activity<div class="sortMask"></div></th>
                            <th>Platform/Plant<div class="sortMask"></div></th>
                            <th>P&ID<div class="sortMask"></div></th>
                            <th>Location ID<div class="sortMask"></div></th>
                            <th>Location<div class="sortMask"></div></th>
                            <th>Line Number<div class="sortMask"></div></th>
                            <th>Water Chemistry<div class="sortMask"></div></th>
                            <th>Orientation<div class="sortMask"></div></th>
                            <th>Service<div class="sortMask"></div></th>
                            <th>Sampling Procedure<div class="sortMask"></div></th>
                            <th>Analysis Procedure<div class="sortMask"></div></th>
                            <th>Sampling Point Type<div class="sortMask"></div></th>
                            <th>Activity Person<div class="sortMask"></div></th>
                            <th>Photo<div class="sortMask"></div></th>
                            <th>Actions<div class="sortMask"></div></th>
                        </tr>
                    </thead>
                    <thead class="filters">
                        <tr>
                            <th>Activity</th>
                            <th>Platform/Plant</th>
                            <th>P&ID</th>
                            <th>Location ID</th>
                            <th>Location</th>
                            <th>Line Number</th>
                            <th>Water Chemistry</th>
                            <th>Orientation</th>
                            <th>Service</th>
                            <th>Sampling Procedure</th>
                            <th>Analysis Procedure</th>
                            <th>Sampling Point Type</th>
                            <th>Activity Person</th>
                            <th>Photo</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tb{{ system.bs_id }}" class="samplingdatabases">
                        {% if samplingdatabases is defined %}
                            {% for samplingdatabase in samplingdatabases %}
                                    <tr>
                                        <td>{% if samplingdatabase.bsd_activitytitle is defined %}{{ samplingdatabase.bsd_activitytitle }}{% endif %}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="platformorplant" data-resizable-column-id="platformorplant">{{ samplingdatabase.bsd_platformorplant }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="pandid" data-resizable-column-id="pandid">{{ samplingdatabase.bsd_pandid }}</td>
                                        <td id="ed{{ projectId }}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}"
                                            key="locationid"
                                            data-resizable-column-id="locationid">{{ samplingdatabase.bsd_id }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="location" data-resizable-column-id="location">{{ samplingdatabase.bsd_location }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="linenumber" data-resizable-column-id="linenumber">{{ samplingdatabase.bsd_linenumber }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="waterchemistry" data-resizable-column-id="waterchemistry">{{ samplingdatabase.bsd_waterchemistry }}</td>
                                        <td id="orientation{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="orientation">{% if samplingdatabase.bso_colvalue is defined %} {{ samplingdatabase.bso_colvalue }} {% endif %}</td>
                                        <td id="service{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="service">{% if samplingdatabase.bss_colvalue is defined %} {{ samplingdatabase.bss_colvalue }} {% endif %}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="samplingprocedure" data-resizable-column-id="samplingprocedure">{{ samplingdatabase.bsd_samplingprocedure }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="analysisprocedure" data-resizable-column-id="analysisprocedure">{{ samplingdatabase.bsd_analysisprocedure }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="samplingpointtype" data-resizable-column-id="samplingpointtype">{{ samplingdatabase.bsd_samplingpointtype }}</td>
                                        <td id="activityperson{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="activityperson">{% if samplingdatabase.bsa_colvalue is defined %} {{ samplingdatabase.bsa_colvalue }} {% endif %}</td>
                                        <td id="file{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}">{% if samplingdatabase.bsd_filepath is not null %}<a target="_blank" download="download" href="{{ asset('/uploads/'~samplingdatabase.bsd_filepath) }}"> <span class="glyphicon glyphicon-cloud-download"></span></a>{% endif %}</td>
                                        <td>
                                            <ul>
                                                {% if editGranted %}
                                                <li><a class="editsamplingdatabase" id="{{ system.bs_id }}_{{ samplingdatabase.bsd_id }}_{{ loop.index }}" data-toggle="modal" href="#" data-target="#editsamplingdatabasemodal{{ samplingdatabase.bsd_id }}_{{ loop.index }}" data-remote="false">Edit</a></li>
                                                {% endif %}
                                                {% if deleteGranted %}
                                                <li><a class="deleteDatabase" id="delete_{{ samplingdatabase.bsd_id }}" href= "{{ path('cms_subproject_samplingdatabase_delete', { 'projectId' : projectId, 'subprojectId' : subprojectId, 'sid' : samplingdatabase.bsd_id }) }}">Delete</a></li>
                                                {% endif %}
                                            </ul>
                                        </td>
                                    </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
            <a id="nextLink" href="{{ path('cms_subproject_samplingdatabase', {'projectId':projectId,'subprojectId':subprojectId}) }}" style="display: none;"></a>
    {% endif %}
    {% if addGranted %}
        {% if systems|length > 0 %} <div class="col-md-1 add_new_sub_project_sampling" id=""><a role="button" class="btn btn-primary addnewsamplingdatabase" data-toggle="modal" href="#" data-target="#samplingdatabasemodal">Add New Row</a></div>{% endif %}
    {% endif %}
    <div class="col-md-1 downloadExcel" id="downloadExcel"></div>
{% endblock %}