{% block javascripts %}
    <script type="text/javascript">var systemname = '{{ systemInfo.systemstitle }}';</script>
    <script src="{{ asset('assets/js/aie/databasesedit.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
 {% endblock %}
{% block stylesheets %}
    <style>
    .table-grid-head{
        background: #ddd;
    }
    .sortMask {
        width:19px;
        height:19px;
        float:right;
        display:inline-block;
        z-index:0;
        margin-top:-19px;
        margin-right: -19px;
        /*background: rgba(255, 0, 0, 0.5);*/
    }
   </style>
{% endblock %}
<table class="table table-bordered table-striped table-hover table-responsive table-grid-head" cellspacing="0" width="100%" data-resizable-columns-id="samplingdatabases-table">
    <thead class="table-grid-head-row">
        <tr>
        <th>Activity<div class="sortMask"></div></th>
        <th>Platform/Plant<div class="sortMask"></div></th>
        <th>P&ID<div class="sortMask"></div></th>
        <th>Location ID
            <div class="sortMask"></div>
        </th>
        <th>Location<div class="sortMask"></div></th>
        <th>Line Number<div class="sortMask"></div></th>
        <th>Water Chemistry<div class="sortMask"></div></th>
        <th>Orientation<div class="sortMask"></div></th>
        <th>Service<div class="sortMask"></div></th>
        <th>Sampling Procedure<div class="sortMask"></div></th>
        <th>Analysis Procedure<div class="sortMask"></div></th>
        <th>Sampling Point Type<div class="sortMask"></div></th>
        <th>Activity Person<div class="sortMask"></div></th>
        <th>Photo<div class="sortMask"></div></th>
        <th>Actions<div class="sortMask"></div></th>
    </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>Activity</th>
            <th class="col-md-1">Platform/Plant</th>
            <th class="col-md-1">P&ID</th>
            <th class="col-md-1">Location ID</th>
            <th class="col-md-1">Location</th>
            <th class="col-md-1">Line Number</th>
            <th class="col-md-1">Water Chemistry</th>
            <th class="col-md-3">Orientation</th>
            <th class="col-md-3">Service</th>
            <th class="col-md-1">Sampling Procedure</th>
            <th class="col-md-1">Analysis Procedure</th>
            <th class="col-md-1">Sampling Point Type</th>
            <th class="col-md-3">Activity Person</th>
            <th class="col-md-3">Photo</th>
            <th class="col-md-3">Actions</th>
        </tr>
    </thead>

    <tbody id="tb{{ systemid }}" class="samplingdatabase">
    {% if samplingdatabases is defined %}
        {% for samplingdatabase in samplingdatabases %}
             <tr>
                 <td>{% if samplingdatabase.bsd_activitytitle is defined %}{{ samplingdatabase.bsd_activitytitle }}{% endif %}</td>
                 <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="platformorplant" data-resizable-column-id="platformorplant">{{ samplingdatabase.bsd_platformorplant }}</td>
                 <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="pandid" data-resizable-column-id="pandid">{{ samplingdatabase.bsd_pandid }}</td>
                 <td id="ed{{ projectId }}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="locationid"
                     data-resizable-column-id="locationid">{{ samplingdatabase.bsd_id }}</td>
                 <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="location" data-resizable-column-id="location">{{ samplingdatabase.bsd_location }}</td>
                 <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="linenumber" data-resizable-column-id="linenumber">{{ samplingdatabase.bsd_linenumber }}</td>
                 <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="waterchemistry" data-resizable-column-id="waterchemistry">{{ samplingdatabase.bsd_waterchemistry }}</td>
                 <td id="orientation{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="orientation">{% if samplingdatabase.bso_colvalue is defined %} {{ samplingdatabase.bso_colvalue }} {% endif %}</td>
                 <td id="service{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="service">{% if samplingdatabase.bss_colvalue is defined %} {{ samplingdatabase.bss_colvalue }} {% endif %}</td>
                 <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="samplingprocedure" data-resizable-column-id="samplingprocedure">{{ samplingdatabase.bsd_samplingprocedure }}</td>
                 <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="analysisprocedure" data-resizable-column-id="analysisprocedure">{{ samplingdatabase.bsd_analysisprocedure }}</td>
                 <td id="ed{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="samplingpointtype" data-resizable-column-id="samplingpointtype">{{ samplingdatabase.bsd_samplingpointtype }}</td>
                 <td id="activityperson{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}" key="activityperson">{% if samplingdatabase.bsa_colvalue is defined %} {{ samplingdatabase.bsa_colvalue }} {% endif %}</td>
                 <td id="file{{projectId}}_{{ subprojectId }}_{{ samplingdatabase.bsd_id }}">{% if samplingdatabase.bsd_filepath is not null %}<a target="_blank" download="download" href="{{ asset('/uploads/'~samplingdatabase.bsd_filepath) }}"> <span class="glyphicon glyphicon-cloud-download"></span></a>{% endif %}</td>
                 <td>
                     <ul>
                         {% if editGranted %}
                         <li><a class="editsamplingdatabase" id="{{ systemid }}_{{ samplingdatabase.bsd_id }}" data-toggle="modal" href="#" data-target="#editsamplingdatabasemodal{{ samplingdatabase.bsd_id }}">Edit</a></li>
                         {% endif %}
                         {% if deleteGranted %}
                         <li><a class="deleteDatabase" id="delete_{{ samplingdatabase.bsd_id }}" href= "{{ path('cms_subproject_samplingdatabase_delete', { 'projectId' : projectId, 'subprojectId' : subprojectId, 'sid' : samplingdatabase.bsd_id }) }}">Delete</a></li>
                         {% endif %}
                     </ul>
                 </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>

</table>
