{% extends layout %}

{% block content -%}
    <h1>Action Owners</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Position</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.user.username }}</td>
                <td>{{ entity.user.company }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.user.email }}</td>
                <td>
                    {% if deleteGranted == 1 %}
                    {{ form(entity.delete_form) }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="nav nav-pills">
        <li>
            {% if createGranted == 1 %}
            <a href="{{ path(route_base ~ '_new', {'projectId': projectId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new action owner
            </a>
            {% endif %}
        </li>
    </ul>
{% endblock %}
