{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>Assign Group ({{ user.username }})</h1>

    {{ form(form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('anomaly_users') }}">
            Back to users
        </a>
    </li>
</ul>
{% endblock %}
