{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/editable/bootstrap-editable.css') }}">
    <style>
        .container{
            padding:0px;
            margin:0px;
            width: 100%;
        }

        .container .header {
            background-color:#d3d3d3;
            padding: 2px;
            cursor: pointer;
            font-weight: bold;
        }

        .container .content {
            display: none;
            padding : 5px;
        }

        .col-xs-4 {
            padding-bottom: 25px;
        }

        .col-xs-8 {
            padding-bottom: 25px;
        }

        th{
            text-align:center;
        }

        td{
            text-align:left;
        }

        .editable-container.editable-inline{
            padding: 10px;
            vertical-align: bottom;
            float: left;
        }

        .deletespan {
            padding-left:3px;
        }

        .deletelinkspan {
            padding-left:3px;
        }

        .panel-heading {
            position: sticky;
            width: 100%;
            z-index: 99999;
            top: 0;
        }

        td:nth-child(2) {
            text-align:center;vertical-align:middle;
        }
            
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('assets/js/editable/bootstrap-editable.js') }}"></script>
    <script src="{{ asset('assets/js/migrateversion/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/aie/databaseconfig.js') }}"></script>

{% endblock %}

{% block content %}
    <div class="container">

            <div class="page-header">
                <h1>Database Configuration</h1>
            </div>
            {% for dbentity in databaseproperties %}
                <div class="col-md-12">
                     <div class="panel panel-default">
                        <div class="panel-heading" id="service">
                            <h4 class="text-center">Service <span class="fa fa-edit pull-right bigicon"></span></h4>
                        </div>
                            
                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-xs-6" id="dService">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Service</th>
                                            </tr>
                                        </thead>
                                        <tbody id="{{ dbentity.serviceid }}Bdy">
                                            {% block service %}
                                            {% for entity in serviceentities %}
                                                {% if entity.colvalue is defined %}
                                                    <tr>
                                                        <td width="400" class="xedit" id="ed{{ entity.id }}" key="service">{{ entity.colvalue }}</td>
                                                        <td width="100">
                                                        <p class="pLinkEditData" id="pli{{ dbentity.serviceid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                            <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endblock service %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.serviceid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New Service">Add New Service</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default">

                        <div class="panel-heading" id="sampling">
                            <h4 class="text-center">Sampling/Testing Database<span class="fa fa-edit pull-right bigicon"></span></h4>
                        </div>

                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-xs-6" id="dSamplingOrientation">
                                 <table class= "table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Activity Persons</th>
                                        </tr>
                                    </thead>

                                    <tbody id="{{ dbentity.samplingorientationid }}Bdy">
                                         {% for entity in samplingorientationentities %}
                                        {% if entity.colvalue is defined %}
                                            <tr>
                                                <td width="400" class="xedit" id="ed{{ entity.id }}" key="samplingorientation">{{ entity.colvalue }}</td>
                                                <td width="100">
                                                    <p class="pLinkEditData" id="pli{{ dbentity.samplingorientationid }}" style="display:none;"></p>
                                                    <span class="deletespan" id="del{{entity.id}}">
                                                        <button type="button" class="btn btn-danger">Delete</button>
                                                    </span>
                                                 </td>
                                            </tr>
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>

                                <button id="{{ dbentity.samplingorientationid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New Orientation">Add New Activity Person</button>
                                </div>

                                 <div class="col-xs-6" id="dActivityPperson">
                                     <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Orientation</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.activitypersonid }}Bdy">
                                             {% for entity in activitypersonentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="400"class="xedit" id="ed{{ entity.id }}" key="samplingactivityperson">{{ entity.colvalue }}</td>
                                                    <td width="100">
                                                        <p class="pLinkEditData" id="pli{{ dbentity.activitypersonid }}" style="display:none;"></p>
                                                        <span class="deletespan" id="del{{entity.id}}">
                                                        <button type="button" class="btn btn-danger">Delete</button>
                                                        </span>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.activitypersonid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New Activity Person">Add New Orientation</button>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="chemical">
                            <h4 class="text-center">Chemical Database<span class="fa fa-edit pull-right bigicon"></span></h4>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-xs-4" id="dchemicaltype">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Chemical Type</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.chemicaltypeid }}Bdy">
                                             {% for entity in chemicaltypeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="chemicaltype">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.chemicaltypeid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.chemicaltypeid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New chemical type">Add New chemical type</button>
                                </div>

                                <div class="col-xs-4" id="dpumptype">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Pump Type</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.pumptypeid }}Bdy">
                                             {% for entity in pumptypeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="pumptype">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.pumptypeid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.pumptypeid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New pump type">Add New pump type</button>
                                </div>

                                <div class="col-xs-4" id="dinjectionmethod">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Injection Method</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.injectionmethodid }}Bdy">
                                             {% for entity in injectionmethodentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="injectionmethod">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.injectionmethodid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.injectionmethodid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New injection method">Add New injection method</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="cathodic">
                            <h4 class="text-center">Cathodic Protection Database<span class="fa fa-edit pull-right bigicon"></span></h4>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">
                                <div class="col-xs-4" id="dlocation">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Location</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.locationid }}Bdy">
                                             {% for entity in locationentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="location">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.locationid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.locationid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New location">Add New location</button>
                                </div>

                                <div class="col-xs-4" id="dcptype">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">CP Type</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.cptypeid }}Bdy">
                                             {% for entity in cptypeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="cptype">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.cptypeid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.cptypeid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New CP type">Add New CP type</button>
                                </div>

                                <div class="col-xs-4" id="dequipmenttype">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Equipment Type</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.equipmenttypeid }}Bdy">
                                             {% for entity in equipmenttypeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="equipmenttype">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                            <p class="pLinkEditData" id="pli{{ dbentity.equipmenttypeid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.equipmenttypeid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New equipment type">Add New equipment type</button>
                                </div>

                                <div class="col-xs-4" id="danodetype">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Anode Type</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.anodetypeid }}Bdy">
                                             {% for entity in anodetypeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="anodetype">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                            <p class="pLinkEditData" id="pli{{ dbentity.anodetypeid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.anodetypeid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New anode type">Add New anode type</button>
                                </div>

                                <div class="col-xs-4" id="dmonitoringmethod">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Monitoring Method</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.monitoringmethodid }}Bdy">
                                             {% for entity in monitoringmethodentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="monitoringmethod">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                            <p class="pLinkEditData" id="pli{{ dbentity.monitoringmethodid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.monitoringmethodid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New monitoring method">Add New monitoring method</button>
                                </div>

                                <div class="col-xs-4" id="dreferenceelectrode">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Reference Electrode</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.referenceelectrodeid }}Bdy">
                                             {% for entity in referenceelectrodeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="referenceelectrode">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                            <p class="pLinkEditData" id="pli{{ dbentity.referenceelectrodeid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.referenceelectrodeid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New reference electrode">Add New reference electrode</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="corrosion">
                            <h4 class="text-center">Coupon/Probe Database<span class="fa fa-edit pull-right bigicon"></span></h4>
                        </div>
                        <div class="panel-body text-center">
                            <div class="row">

                                <div class="col-xs-4" id="dinstalleddevice">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Installed Device</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.installeddeviceid }}Bdy">
                                             {% for entity in installeddeviceentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="installeddevice">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.installeddeviceid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>

                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.installeddeviceid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New installed device">Add New installed device</button>
                                </div>

                                <div class="col-xs-4" id="dcorrosionOrientation">
                                     <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Orientation</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.corrosionorientationid }}Bdy">
                                             {% for entity in corrosionorientationentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="corrosionorientation">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.corrosionorientationid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.corrosionorientationid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New Orientation">Add New Orientation</button>
                                </div>

                                <div class="col-xs-4" id="dAccessFitting">
                                     <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Access Fitting Type</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.accessfittingtypeid }}Bdy">
                                             {% for entity in accessfittingtypeentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="accessfittingtype">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.accessfittingtypeid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.accessfittingtypeid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New Access Fitting Type">Add New Access Fitting Type</button>
                                </div>

                                <div class="col-xs-4" id="dTeeFitting">
                                     <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Tee Fitting</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.teefittingid }}Bdy">
                                             {% for entity in teefittingentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="teefitting">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.teefittingid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.teefittingid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New Tee Fitting">Add New Tee Fitting</button>
                                </div>

                                <div class="col-xs-4" id="dholderplug">
                                     <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Holder Plug</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.holderplugid }}Bdy">
                                             {% for entity in holderplugentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="holderplug">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.holderplugid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.holderplugid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New holder plug">Add New holder plug</button>
                                </div>


                                <div class="col-xs-4" id="dinsulation">
                                     <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Insulation</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.insulationid }}Bdy">
                                             {% for entity in insulationentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="insulation">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                      <p class="pLinkEditData" id="pli{{ dbentity.insulationid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.insulationid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New insulation">Add New insulation</button>
                                </div>

                                <div class="col-xs-4" id="dsurfacefinish">
                                     <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Surface Finish</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.surfacefinishid }}Bdy">
                                             {% for entity in surfacefinishentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="surfacefinish">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.surfacefinishid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.surfacefinishid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New surfacefinish">Add New surfacefinish</button>
                                </div>

                                <div class="col-xs-4" id="donline">
                                     <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Online</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.onlineid }}Bdy">
                                             {% for entity in onlineentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="online">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.onlineid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.onlineid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New online">Add New online</button>
                                </div>

                                <div class="col-xs-4" id="dscaffold">
                                     <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Scaffold</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.scaffoldid }}Bdy">
                                             {% for entity in scaffoldentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="scaffold">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.scaffoldid }}" style="display:none;"></p>
                                                            <span class="deletespan" id="del{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.scaffoldid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New scaffold">Add New scaffold</button>
                                </div>

                                <div class="col-xs-4" id="daccess">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Access</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.accessid }}Bdy">
                                             {% for entity in accessentities %}
                                            {% if entity.colvalue is defined %}
                                                <tr>
                                                    <td width="250" class="xedit" id="ed{{ entity.id }}" key="access">{{ entity.colvalue }}</td>
                                                     <td width="100">
                                                     <p class="pLinkEditData" id="pli{{ dbentity.accessid }}" style="display:none;"></p>
                                                        <span class="deletespan" id="del{{entity.id}}">
                                                            <button type="button" class="btn btn-danger">Delete</button>
                                                        </span>
                                                    </td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <button id="{{ dbentity.accessid }}Btn" class="btn btn-primary" onclick ="appendRow(this.id)" value="Add New access">Add New access</button>
                                </div>


                                <!--- Linked CMS DB Properties -->

                                <div class="col-xs-8" id="dprobetechnologydatalogger">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Probe Technology and Datalogger</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.probetechnologyid }}_{{ dbentity.dataloggerid }}Bdy">
                                            {% for entity in probetechnologyentities %}

                                                {% if entity.colidonevalue is defined and entity.colidtwovalue is defined %}
                                                     <tr>
                                                         <td width="550">
                                                           <div class="linkdatadiv" id="link{{entity.id}}">
                                                               <form class="form-inline editableform" style="">
                                                                  <div class="control-group form-group">

                                                                        <span class="titlecolone{{ entity.id }}">{{entity.colidonevalue}}</span>
                                                                        <span class="fieldcolone{{ entity.id }}" style="display:none;"><input type="text" id="colidone{{ entity.id }}" value="{{entity.colidonevalue}}" class="form-control input-sm" style="padding-right: 24px;" /></span>
                                                                        <span><b>and</b></span>
                                                                        <span class="titlecoltwo{{ entity.id }}">{{entity.colidtwovalue}}</span>
                                                                        <span class="fieldcoltwo{{ entity.id }}" style="display:none;"><input type="text" id="colidtwo{{ entity.id }}" value="{{entity.colidtwovalue}}" class="form-control input-sm" style="padding-right: 24px;" /></span>

                                                                        <div id="subeditbuttons{{ entity.id }}" class="editable-buttons" style="display:none;">

                                                                            <p class="pLinkEditData" id="pli{{ dbentity.probetechnologyid }}_{{ dbentity.dataloggerid }}" style="display:none;"></p>
                                                                            <button id="subeditbutton" type="button" class="btn btn-primary btn-sm">
                                                                                <i class="glyphicon glyphicon-ok"></i> </button>
                                                                            <button id="subcancelbutton" type="button" class="btn btn-default btn-sm editable-cancel">
                                                                            <i class="glyphicon glyphicon-remove"></i> </button>
                                                                        </div>

                                                                  </div>
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td width="100">
                                                            <span class="deletelinkspan" id="dellink{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                {% endif %}

                                            {% endfor %}
                                        </tbody>

                                    </table>

                                    <button id="{{ dbentity.probetechnologyid }}_{{ dbentity.dataloggerid }}Btn" class="btn btn-primary" onclick ="appendLinkRow(this.id)" value="Add New probe technology and Datalogger">Add New probe technology and data logger</button>
                                </div>


                                <div class="col-xs-8" id="dcouponmaterialdensity">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Coupon Material and Density (g/cm3)</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.couponmaterialid }}_{{ dbentity.densityid }}Bdy">
                                            {% for entity in couponmaterialentities %}

                                                {% if entity.colidonevalue is defined and entity.colidtwovalue is defined %}
                                                     <tr>
                                                         <td width="550">
                                                           <div class="linkdatadiv" id="link{{entity.id}}">
                                                               <form class="form-inline editableform" style="">
                                                                  <div class="control-group form-group">

                                                                        <span class="titlecolone{{ entity.id }}">{{entity.colidonevalue}}</span>
                                                                        <span class="fieldcolone{{ entity.id }}" style="display:none;"><input id="colidone{{ entity.id }}" value="{{entity.colidonevalue}}" class="form-control input-sm" style="padding-right: 24px;" /></span>
                                                                        <span><b>and</b></span>
                                                                        <span class="titlecoltwo{{ entity.id }}">{{entity.colidtwovalue}}</span>
                                                                        <span class="fieldcoltwo{{ entity.id }}" style="display:none;"><input id="colidtwo{{ entity.id }}" value="{{entity.colidtwovalue}}" class="form-control input-sm" style="padding-right: 24px;" /></span>

                                                                        <div id="subeditbuttons{{ entity.id }}" class="editable-buttons" style="display:none;">

                                                                            <p class="pLinkEditData" id="pli{{ dbentity.couponmaterialid }}_{{ dbentity.densityid }}" style="display:none;"></p>
                                                                            <button id="subeditbutton" type="button" class="btn btn-primary btn-sm">
                                                                                <i class="glyphicon glyphicon-ok"></i> </button>
                                                                            <button id="subcancelbutton" type="button" class="btn btn-default btn-sm editable-cancel">
                                                                            <i class="glyphicon glyphicon-remove"></i> </button>
                                                                        </div>

                                                                  </div>
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td width="100">
                                                            <span class="deletelinkspan" id="dellink{{entity.id}}">
                                                                <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                {% endif %}

                                            {% endfor %}
                                        </tbody>

                                    </table>

                                    <button id="{{ dbentity.couponmaterialid }}_{{ dbentity.densityid }}Btn" class="btn btn-primary" onclick ="appendLinkRow(this.id)" value="Add New coupon material and density">Add New coupon material and density</button>
                                </div>


                                <div class="col-xs-8" id="dcoupontypearea">
                                    <table class= "table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2" rowspan="1" style="width: 180px;" tabindex="0">Coupon Type and Area (cm2)</th>
                                            </tr>
                                        </thead>

                                        <tbody id="{{ dbentity.coupontypeid }}_{{ dbentity.areaid }}Bdy">
                                            {% for entity in coupontypeentities %}

                                                {% if entity.colidonevalue is defined and entity.colidtwovalue is defined %}
                                                     <tr>
                                                         <td width="550">
                                                           <div class="linkdatadiv" id="link{{entity.id}}">
                                                               <form class="form-inline editableform" style="">
                                                                  <div class="control-group form-group">

                                                                        <span class="titlecolone{{ entity.id }}">{{entity.colidonevalue}}</span>
                                                                        <span class="fieldcolone{{ entity.id }}" style="display:none;"><input id="colidone{{ entity.id }}" value="{{entity.colidonevalue}}" class="form-control input-sm" style="padding-right: 24px;" /></span>
                                                                        <span><b>and</b></span>
                                                                        <span class="titlecoltwo{{ entity.id }}">{{entity.colidtwovalue}}</span>
                                                                        <span class="fieldcoltwo{{ entity.id }}" style="display:none;"><input id="colidtwo{{ entity.id }}" value="{{entity.colidtwovalue}}" class="form-control input-sm" style="padding-right: 24px;" /></span>

                                                                        <div id="subeditbuttons{{ entity.id }}" class="editable-buttons" style="display:none;">

                                                                            <p class="pLinkEditData" id="pli{{ dbentity.coupontypeid }}_{{ dbentity.areaid }}" style="display:none;"></p>
                                                                            <button id="subeditbutton" type="button" class="btn btn-primary btn-sm">
                                                                                <i class="glyphicon glyphicon-ok"></i> </button>
                                                                            <button id="subcancelbutton" type="button" class="btn btn-default btn-sm editable-cancel">
                                                                            <i class="glyphicon glyphicon-remove"></i> </button>
                                                                        </div>

                                                                  </div>
                                                                </form>
                                                            </div>
                                                        </td>
                                                        <td width="100">
                                                           <span class="deletelinkspan" id="dellink{{entity.id}}">
                                                               <button type="button" class="btn btn-danger">Delete</button>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                {% endif %}

                                            {% endfor %}
                                        </tbody>

                                    </table>

                                    <button id="{{ dbentity.coupontypeid }}_{{ dbentity.areaid }}Btn" class="btn btn-primary" onclick ="appendLinkRow(this.id)" value="Add New coupon type and area">Add New coupon type and area</button>
                                </div>

                                <!--- End of Linked CMS DB Properties -->


                            </div>

                        </div>
                    </div>
                </div>

            {% endfor %}
    </div>

{% endblock %}




