{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block javascripts %}
    <script type="text/javascript">
        function readyFn( jQuery ) {
            $(document).on('click','.close',function(e){
                location.reload();
            });

            $(document).on('click','.subcancelbutton',function(e){
                $(".close").click();
            });
        }
        $( document ).ready( readyFn );
    </script>
{% endblock %}
{% block content %}
    <div class="modal fade" id="editactiontrackermodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom:26px;">
                    <button type="button" class="close" data-dismiss="modal" data-backdrop="false">&times;</button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.Title) }}{{ form_widget(form.Title) }}
                        </div>
                    </div>
                    <div class="row form-group" style="padding-left: 10px;">
                        <div class="col-md-12">
                            {{ form_widget(form.Date) }}
                        </div>
                    </div>
                    <div class="row form-group" style="padding-right: 50px;">
                        <div class="pull-right">
                            <button type="button" value="cancel" class="btn btn-default subcancelbutton">Cancel</button>
                        </div>
                        <div class="col-md-2 pull-right" style="width:80px;">
                            <button type="submit" value="save" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                    {{ form_end(form) }}

                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}

