{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables/media/css/jquery.dataTables.min.css') }}">

    <style>
        .filters { font-size: 0.8em }
        .pad {
            padding-right: 5px;
            margin:0;
        }
        .sortMask {
            width:19px;
            height:19px;
            float:right;
            display:inline-block;
            z-index:0;
            margin-top:-1px;
            margin-right: -18px;
            /*background: rgba(255, 0, 0, 0.5);*/
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/DataTables/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script type="text/javascript">
        var projectId = {{  projectId }};
        var subprojectId = {{ subprojectId  }};

        $('#addNewAction').click(function (e) {
            e.preventDefault();
            var url = "{{ path('cms_subproject_actiontracker_create', { 'projectId': projectId, 'subprojectId' : subprojectId }) }}";
            $.post(url, function (data) {
                $(data).modal();
            });
        });

        //Hide and show filters

        $("a[id^='edit']").click(function(e) {
            var id_str = $(this).attr('id');
            index = id_str.lastIndexOf("_")+1;
            id = id_str.slice(index);
            var url = $(this).prop("href");

            $.post(url, { aid: id },function(data) {
                $(data).modal();
            });
        });

    </script>
    <script src="{{ asset('assets/js/aie/actionTracker.js') }}"></script>
{% endblock %}
{% block content %}
    <h1>{{ wizard_title|default('') }}</h1>
    <div class="content" id="content{{ projectId }}">
        <table class="table table-striped table-hover table-responsive records_list table-grid-head" cellspacing="0" width="100%">
            <thead>
            <tr class="table-grid-head-row">
                <th>Title<div class="sortMask"></div></th>
                <th>Date Created<div class="sortMask"></div></th>
                <th class="datatable-nosort">Actions<div class="sortMask"></div></th>
            </tr>
            </thead>
            <thead class="filters">
            <tr>
                <th>Title</th>
                <th>Date Created</th>
                <th id="linkHeader" class="datatable-nosort">Actions</th>
            </tr>
            </thead>
            <tbody id="tb{{ subprojectId }}">
            {% if actionTrackers is defined %}
                {% for actionTracker in actionTrackers %}
                    <tr>
                        <td>
                            {% if actionShowGranted %}
                                <a id="listItems" href="{{path('cms_subproject_actiontrackeritems', { 'projectId': projectId, 'subprojectId' : subprojectId, 'aid' : actionTracker.getId()})  }}" >{{ actionTracker.getTitle()}}</a>
                            {% else %}
                                {{ actionTracker.getTitle()}}
                            {% endif %}
                        </td>
                        <td>{{ actionTracker.getDateSting() }}</td>
                        <td>
                            <ul>
                                {% if actionEditGranted %}
                                    <li>
                                        <a id="edit_{{ actionTracker.getId()}}" class="" data-toggle="modal" href="{{ path('cms_subproject_actiontracker_edit', { 'projectId': projectId, 'subprojectId' : subprojectId, 'id' : actionTracker.getId()})}}" data-target="#editactiontrackermodal">Edit</a>
                                    </li>
                                {% endif %}
                                {% if actionDeleteGranted %}
                                    <li>
                                        <a class ="deleteLink" id ="delete_{{ actionTracker.getId()}}" href= "{{ path('cms_subproject_actiontracker_delete', { 'projectId': projectId, 'subprojectId' : subprojectId, 'aid' : actionTracker.getId() }) }}">Delete</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
    {% if actionAddGranted %}
        <div class="add_new_action_tracker" id=""><a id="addNewAction" role="button" class="btn btn-primary addnewactiontracker" data-toggle="modal" href="#" data-target="#actiontrackermodal">Add New Row</a></div>
    {% endif %}
{% endblock %}


