{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Approval Owner</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('anomaly_approvalowners', {'projectId': projectId}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
