{% extends layout %}

{% block content -%}
    <h1>Approval Owners</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Approval Owner</th>
                <th>Category</th>
                {#<th>Sub-Category</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.user.username }}</td>
                <td>{{ entity.anomalyCategory }}</td>
                {#<td>{{ entity.actionCategory }}</td>#}
                <td>
                    <a href="{{ path('anomaly_approvalowners_delete', { 'id': entity.id, 'projectId': projectId }) }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path(route_base ~ '_new', {'projectId': projectId }) }}">
                Create a new approval owner
            </a>
        </li>
    </ul>
    {% endblock %}
