{% extends layout %}

{% block content -%}
    <h1>New Approval Owner</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path(route_base, {'projectId': projectId}) }}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
