{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Approval Owner</h1>
{% if delete_form is defined %}
<div class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert">Close</a>
    Are you sure you want to delete the Approval Owner for the action and anomaly category defined?
</div>
{% endif %}
    <table class="record_properties">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Approval Owner</th>
                <td>{{ entity.user.username }}</td>
            </tr>
        </tbody>
    </table>
{% if delete_form is defined %}
    {{ form(delete_form) }}
{% endif %}

<ul class="record_actions">
    <li>
        <a href="{{ path('anomaly_approvalowners', {'projectId': projectId}) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('anomaly_approvalowners_edit', { 'id': entity.id, 'projectId': projectId }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}
