{% block javascripts %}
<script src="{{ asset('assets/js/confirmbox/bootstrap-confirm-delete.js') }}"></script>
<script type="text/javascript">
    $(".delsystemsconfirm").click(function(evt) {

        var currentID = $('.delsystemsconfirm').attr('id');
        var url = "/c/" + projectId + "/subprojectmatrixconfig/" + subprojectId + "/" + currentID + "/subprojectsystems/delete";
        $.ajax({
            url: url,
            type: 'POST',
            data: {   // Data Sending With Request To Server
                id: currentID,
            },
            success: function (s) {
                obj = JSON.parse(s);

                if (obj.result == 'ok') {
                    location.reload(true)
                }
                else if (obj.result == 'notok') {
                    alert('Error processing your request!');
                    return;
                }
            },
            error: function (e) {
                alert('Error processing your request!');
                return;
            }
        })
    });

    $(".delsystemsclose").click(function(evt) {
        $(".displayError").hide();
    });
</script>
{% endblock %}
{% block content %}
    <div class="errorDiv has-error">
        <div class="col-md-10" style="text-align:left; vertical-align:middle; height:auto; padding-top:5px;">
        {% if dbExistData is defined %} All these databases {% else %} Do you really want to delete the system "{{ systemTitle }}"{% endif %}
        {% if dbExistData is defined %}
            {% for db in dbExistData %}
            "{{ db ~ "," }}"
            {% endfor %}
            are associated with the system "{{systemTitle}}"
        {% endif %}
        </div>
        <div class="col-md-2 right"><button class="delsystemsconfirm btn btn-danger" id="{{ systemId }}">Delete</button>&nbsp;<button class="delsystemsclose btn btn-default" id="{{ systemId }}">Cancel</button></div>
    </div>
{% endblock %}

