{% block javascripts %}
<script src="{{ asset('assets/js/confirmbox/bootstrap-confirm-delete.js') }}"></script>
<script type="text/javascript">
    $(".delmitigationtechniquesconfirm").click(function(evt) {
        $( '.delmitigationtechniquesconfirm' ).attr('id');
        var currentID = $('.delmitigationtechniquesconfirm').attr('id');
        var res = currentID.split('_');
        var ur = "/c/" + projectId + "/subprojectmatrixconfig/" + subprojectId + "/" + res[1] + "/subprojectmitigationtechniques/delete";

        $.ajax({
            url: ur,
            type: 'POST',
            data: {   // Data Sending With Request To Server
                threatid: res[0],
                mitigationtechniqueid: res[1],
            },
            success: function (s) {
                obj = JSON.parse(s);

                if (obj.result == 'ok') {
                    location.reload(true)
                }
                else if (obj.result == 'notok') {
                    alert('Error Processing your Request');
                    return;
                }
            },
            error: function (e) {
                alert('Error Processing your Request!!');
                return;
            }
        });
    });
    $(".delmitigationtechniquesclose").click(function(evt) {
        $(".displayError").hide();
    });
</script>
{% endblock %}
{% block content %}
    <div class="has-error">
        <div class="col-md-10" style="text-align:left; vertical-align:middle; height:auto; padding-top:5px;">
        {% if selected %}
        Do you really want to delete the mitigation technique "{{ mitigationtechniqueTitle }}", it is associated with matrix set up as selected to the threat "{{ threatTitle }}"
        {% else %}
        Do you really want to delete the mitigation technique "{{ mitigationtechniqueTitle }}"
        {% endif %}
        </div>
        <div class="col-md-2 right">
        <button class="delmitigationtechniquesconfirm btn btn-danger" id="{{ threatId }}_{{ mitigationtechniqueId }}">Delete</button>&nbsp;<button class="delmitigationtechniquesclose btn btn-default" id="{{ threatId }}_{{ mitigationtechniqueId }}">Cancel</button>
        </div>
    </div>
{% endblock %}

