{% block javascripts %}
<script src="{{ asset('assets/js/confirmbox/bootstrap-confirm-delete.js') }}"></script>
<script type="text/javascript">
    $(".delthreatsconfirm").click(function(evt) {
        $( '.delthreatsconfirm' ).attr('id');
        var currentID = $('.delthreatsconfirm').attr('id');
        var res = currentID.split('_');
        var url = "/c/" + projectId + "/subprojectmatrixconfig/" + subprojectId + "/" + res[1] + "/subprojectthreats/delete";
        $.ajax({
            url: url,
            type: 'POST',
            data: {   // Data Sending With Request To Server
                systemid: res[0],
                threatid: res[1],
            },
            success: function (s) {
                obj = JSON.parse(s);

                if (obj.result == 'ok') {
                    location.reload(true)
                }
                else if (obj.result == 'notok') {
                    alert('Error Processing your Request');
                    return;
                }
            },
            error: function (e) {
                alert('Error Processing your Request!!');
                return;
            }
        });
    });
    $(".delthreatsclose").click(function(evt) {
        $(".displayError").hide();
    });
</script>
{% endblock %}
{% block content %}
    <div class="has-error">
        <div class="col-md-10" style="text-align:left; vertical-align:middle; height:auto; padding-top:5px;">
        {% if entity.isselected == 1 %}
            Do you really want to delete the threat "{{ threatTitle }}", it is associated with matrix set up for the system "{{ systemTitle }}"
        {% else %}
            Do you really want to delete the threat "{{ threatTitle }}" of the system "{{ systemTitle }}"
        {% endif %}
        </div>
        <div class="col-md-2 right">
            <button class="delthreatsconfirm btn btn-danger" id="{{ systemId }}_{{ threatId }}">Delete</button>&nbsp;<button class="delthreatsclose btn btn-default" id="{{ systemId }}_{{ threatId }}">Cancel</button>
        </div>
    </div>
{% endblock %}

