{% block content %}

    <div class="container">
        <div class="page-header" style="padding:0;margin:0;">
            <h1>Matrix Configuration Reference</h1>
        </div>
        <div class="outer-container"> <!-- absolute positioned container -->
            <div class="inner-container">
                <div class="table-header">
                    <table id="headertable" width="100%" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr style="height:30px;background-color:#ddd;">
                                <th align="center" style="width:10.6%;">Systems</th>
                                <th align="center" style="width:10.6%">System ID</th>
                                <th align="center" style="width:6.4%">Control</th>
                                <th align="center" style="width:6.4%">Management</th>
                                <th align="center" style="width:10.8%">Activity ID</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="table-body">
                    <table id="tblMatrix" cellpadding="3" cellspacing="0" border="#729111 1px solid;" class="table table-stripped table-bordered">
                        <tbody>
                            {% for key,entity in subprojectmatrixproperties %}
                            <tr class="rows">
                                <td style="width:10.8%;">{{ entity.bs_systemstitle }}</td>
                                <td style="width:10.6%">{{ entity.bs_id }}</td>
                                <td style="width:10.6%">{{ entity.ba_controltitle }}</td>
                                <td style="width:6.5%">{{ entity.ba_managementtitle }}</td>
                                <td style="width:10.6%">{{ entity.ba_id }}</td>
                            <tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}