{% block content %}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {% block form_row %}
        <div class="row" style="padding-left:10px;">
            {{ form_widget(form) }}
            <div class="col-sm-2" style="padding: 0;">
                <button type="submit" value="save" class="btn btn-sm pull-left btn-primary systemssave">Save</button>
            </div>
            <div class="col-sm-10">
                <button type="button" value="cancel" class="btn btn-sm pull-left btn-default subcancelbutton">Cancel</button>
            </div>
        </div>
    {% endblock form_row %}
    {{ form_end(form) }}
{% endblock %}
