{% extends 'AIEAnomalyBundle:ActionRegistrar:show.html.twig' %}

{% set anomalyType = entity.anomaly.code|lower %}

{% block content -%}
    <h1>Temporary Repair Order Register</h1>

    {{ parent() }}

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_tro', {'projectId': projectId, 'type' : anomalyType}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('anomaly_tro_edit', { 'projectId': projectId, 'id': entity.id, 'type' : anomalyType }) }}" class="btn btn">
                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var ID = $('div.installation-date-field input').first(); //installation date
            var ID_form = $('#aie_bundle_anomalybundle_temporaryrepairorderregistrar_action_group_management_group');
            function update_installation_form(){
                if(ID.val().length === 0){
                    ID_form.hide();
                }else{
                    ID_form.show();
                }
            }
            ID.change(update_installation_form);
            update_installation_form();
        });
    </script>
{% endblock %}