{% extends 'AIECmsBundle:Default:layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            $(document).on('click','.subcancelbutton',function(e){
                window.location.href = "{{ path('cms_basemetrics') }}";
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h1>Edit Base Metrics</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}

    <div class="row">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" value="update" class="btn btn-primary">update</button>
            <button type="button" value="cancel" class="btn btn-default subcancelbutton">cancel</button>
        </div>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}
