{% extends 'AIECmsBundle:Default:layout.html.twig' %}
{% block content -%}
    <h1>Metrics</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Title</th>
                <th>Database</th>
                <th>Datasheet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
                <tr>
                <td><a href="{{ path('cms_basemetrics_edit', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                <td>{{ entity.databasetype.title }}</td>
                <td>{{ entity.datasheettype.title }}</td>
                <td>
                    <ul id="blocks">
                        <li>
                            <a href="{{ path('cms_basemetrics_edit', { 'id': entity.id }) }}">Edit</a>

                        </li>
                        <li>
                            <a href="{{ path('cms_basemetrics_show', { 'id': entity.id }) }}">Delete</a>
                        </li>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('cms_basemetrics_new') }}">
                Create a new base metric
            </a>
        </li>
    </ul>

{% endblock %}
