{% extends 'AIECmsBundle:Default:layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            $(document).on('click','.subcancelbutton',function(e){
                window.location.href = "{{ path('cms_basemetrics') }}";
            });
        });
    </script>
{% endblock %}
{% block content %}
    <h1>New Base Metrics</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <div class="button-container">
            <div class="col-md-1 pull-right">
                <button type="button" value="cancel" class="btn btn-default subcancelbutton">Cancel</button>
            </div>
            <div class="col-md-0 pull-right">
                <button type="submit" value="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
