{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    {% if delete_form is defined %}
    <div class="alert alert-danger" style="height: 70px;">
        <div class="col-md-10" style="text-align:left; vertical-align:middle; height:auto; padding-top:5px;">
        Are you sure you want to delete this metric?
        </div>
        <div class="row form-group pull-right">
            <div class="col-md-1">
                {% if delete_form is defined %}
                    {{ form(delete_form) }}
                {% endif %}
            </div>
            <div class="col-md-1">
                <button id="subcancelbutton" value="Cancel" type="button" class="btn btn-default" onclick="history.go(-1);">Cancel</button>
            </div>
        </div>
    </div>
    {% endif %}
    <h1>
        {{ entity.title }}
    </h1>
    <div>
        <ul>
            <li>
                {{ entity.databasetype.title }}
            </li>
            <li>
                {{ entity.datasheettype.title }}
            </li>
        </ul>
    </div>



{% endblock %}


