{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block javascripts %}
    <script type="text/javascript">
        function readyFn( jQuery ) {
            $('.required').closest('.form-group').find('.control-label').each(function () {
                $(this).text("*" + $(this).text());
            });
        }

        $( document ).ready( readyFn );
        // or:
        $( window ).on( "load", readyFn );
    </script>
{% endblock %}
{% block content %}
    <div class="modal fade" id="corrosionmonitoringdatabasemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.activityid) }}{{ form_widget(form.activityid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.platformorplant) }}{{ form_widget(form.platformorplant) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.pandid) }}{{ form_widget(form.pandid) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.location) }}{{ form_widget(form.location) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.linenumber) }}{{ form_widget(form.linenumber) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.linediameterinches) }}{{ form_widget(form.linediameterinches) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.standoffinches) }}{{ form_widget(form.standoffinches) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.linematerial) }}{{ form_widget(form.linematerial) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.serviceid) }}{{ form_widget(form.serviceid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.operatingpressure) }}{{ form_widget(form.operatingpressure) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.operatingtemperature) }}{{ form_widget(form.operatingtemperature) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.devicetypeid) }}{{ form_widget(form.devicetypeid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.orientationid) }}{{ form_widget(form.orientationid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.accessfittingtypeid) }}{{ form_widget(form.accessfittingtypeid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.installedcap) }}{{ form_widget(form.installedcap) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.installedplug) }}{{ form_widget(form.installedplug) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.holderplugid) }}{{ form_widget(form.holderplugid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.teefittingid) }}{{ form_widget(form.teefittingid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.instrumentation) }}{{ form_widget(form.instrumentation) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.probeextensionadapter) }}{{ form_widget(form.probeextensionadapter) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.probetechnologyanddataloggerid) }}{{ form_widget(form.probetechnologyanddataloggerid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.probetypeandmodel) }}{{ form_widget(form.probetypeandmodel) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.logginginterval) }}{{ form_widget(form.logginginterval) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_widget(form.probeinstallationdate) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.couponholdertagno) }}{{ form_widget(form.couponholdertagno) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.couponmaterialanddensityid) }}{{ form_widget(form.couponmaterialanddensityid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.coupontypeandareaid) }}{{ form_widget(form.coupontypeandareaid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.insulationid) }}{{ form_widget(form.insulationid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.surfacefinishid) }}{{ form_widget(form.surfacefinishid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.onlineid) }}{{ form_widget(form.onlineid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.tool) }}{{ form_widget(form.tool) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.scaffoldid) }}{{ form_widget(form.scaffoldid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.accessid) }}{{ form_widget(form.accessid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.file) }}{{ form_widget(form.file) }}
                        </div>
                    </div>

                    <div class="row form-group pull-right" style="padding-right: 60px;padding-bottom: 20px;">

                            <button type="submit" value="save" class="btn btn-primary">Save</button>

                            <button type="button" value="cancel" class="btn btn-default subcancelbutton">Cancel</button>

                    </div>
                    {{ form_end(form) }}

                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}

