{% block javascripts %}
    <script type="text/javascript">var systemname = '{{ systemInfo.systemstitle }}';</script>
    <script src="{{ asset('assets/js/aie/databasesedit.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <style>
        .table-grid-head{
            background: #ddd;
        }
        .sortMask {
            width:19px;
            height:19px;
            float:right;
            display:inline-block;
            z-index:0;
            margin-top:-19px;
            margin-right: -19px;
            /*background: rgba(255, 0, 0, 0.5);*/
        }
    </style>
{% endblock %}
<table class="table table-bordered table-striped table-hover table-responsive table-grid-head" cellspacing="0" width="100%">
    <thead class="table-grid-head-row">
    <tr>
        <th>Activity<div class="sortMask"></div></th>
        <th>Platform/Plant<div class="sortMask"></div></th>
        <th>P&ID<div class="sortMask"></div></th>
        <th>Location ID
            <div class="sortMask"></div>
        </th>
        <th>Location<div class="sortMask"></div></th>
        <th>Line Number<div class="sortMask"></div></th>
        <th>Line Diameter, inches<div class="sortMask"></div></th>
        <th>Stand Off, inches<div class="sortMask"></div></th>
        <th>Line Material<div class="sortMask"></div></th>
        <th>Service<div class="sortMask"></div></th>
        <th>Operating Pressure, barg<div class="sortMask"></div></th>
        <th>Operating Temperature, °C<div class="sortMask"></div></th>
        <th>Device Type<div class="sortMask"></div></th>
        <th>Orientation<div class="sortMask"></div></th>
        <th>Access Fitting Type<div class="sortMask"></div></th>
        <th>Installed Cap<div class="sortMask"></div></th>
        <th>Installed Plug<div class="sortMask"></div></th>
        <th>Holder Plug<div class="sortMask"></div></th>
        <th>Tee fitting<div class="sortMask"></div></th>
        <th>Instrumentation<div class="sortMask"></div></th>
        <th>Probe Extension Adapter<div class="sortMask"></div></th>
        <th>Probe Technology and Data Logger<div class="sortMask"></div></th>
        <th>Probe Type/Model<div class="sortMask"></div></th>
        <th>Logging Interval, s<div class="sortMask"></div></th>
        <th>Probe Installation Date<div class="sortMask"></div></th>
        <th>Coupon Holder Tag Number<div class="sortMask"></div></th>
        <th>Coupon Material  and Density, g/cm3<div class="sortMask"></div></th>
        <th>Coupon Type and Exposed Area, cm2<div class="sortMask"></div></th>
        <th>Insulation<div class="sortMask"></div></th>
        <th>Surface Finish<div class="sortMask"></div></th>
        <th>Online<div class="sortMask"></div></th>
        <th>Tool<div class="sortMask"></div></th>
        <th>Scaffold<div class="sortMask"></div></th>
        <th>Access<div class="sortMask"></div></th>
        <th>Photo<div class="sortMask"></div></th>
        <th>Actions<div class="sortMask"></div></th>
    </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>Activity</th>
            <th>Platform/Plant</th>
            <th>P&ID</th>
            <th>Location ID</th>
            <th>Location</th>
            <th>Line Number</th>
            <th>Line Diameter, inches</th>
            <th>Stand Off, inches</th>
            <th>Line Material</th>
            <th>Service</th>
            <th>Operating Pressure, barg</th>
            <th>Operating Temperature, °C</th>
            <th>Device Type</th>
            <th>Orientation</th>
            <th>Access Fitting Type</th>
            <th>Installed Cap</th>
            <th>Installed Plug</th>
            <th>Holder Plug</th>
            <th>Tee fitting</th>
            <th>Instrumentation</th>
            <th>Probe Extension Adapter</th>
            <th>Probe Technology and Data Logger</th>
            <th>Probe Type/Model</th>
            <th>Logging Interval, s</th>
            <th>Probe Installation Date</th>
            <th>Coupon Holder Tag Number</th>
            <th>Coupon Material  and Density, g/cm3</th>
            <th>Coupon Type and Exposed Area, cm2 </th>
            <th>Insulation</th>
            <th>Surface Finish</th>
            <th>Online</th>
            <th>Tool</th>
            <th>Scaffold</th>
            <th>Access</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="tb{{ systemid }}" class="corrosionmonitoringdatabase">
    {% if corrosionmonitoringdatabases is defined %}
        {% for corrosionmonitoringdatabase in corrosionmonitoringdatabases %}
            <tr>
                <td>{% if corrosionmonitoringdatabase.bsd_activitytitle is defined %}{{ corrosionmonitoringdatabase.bsd_activitytitle }}{% endif %}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="platformorplant" data-resizable-column-id="platformorplant">{{ corrosionmonitoringdatabase.bsd_platformorplant }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="pandid" data-resizable-column-id="pandid">{{ corrosionmonitoringdatabase.bsd_pandid }}</td>
                <td id="ed{{ projectId }}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="locationid"
                    data-resizable-column-id="locationid">{{ corrosionmonitoringdatabase.bsd_id }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="location" data-resizable-column-id="location">{{ corrosionmonitoringdatabase.bsd_location }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="linenumber" data-resizable-column-id="linenumber">{{ corrosionmonitoringdatabase.bsd_linenumber }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="linediameterinches" data-resizable-column-id="linediameterinches">{{ corrosionmonitoringdatabase.bsd_linediameterinches }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="standoffinches" data-resizable-column-id="standoffinches">{{ corrosionmonitoringdatabase.bsd_standoffinches }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="linematerial" data-resizable-column-id="linematerial">{{ corrosionmonitoringdatabase.bsd_linematerial }}</td>
                <td id="service{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="service">{% if (corrosionmonitoringdatabase.bss_colvalue is defined) %}{{ corrosionmonitoringdatabase.bss_colvalue }}{% endif %}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="operatingpressure" data-resizable-column-id="operatingpressure">{{ corrosionmonitoringdatabase.bsd_operatingpressure }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="operatingtemperature" data-resizable-column-id="operatingtemperature">{{ corrosionmonitoringdatabase.bsd_operatingtemperature }}</td>
                <td id="installeddevice{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="installeddevice">{% if (corrosionmonitoringdatabase.bsi_colvalue is defined) %}{{ corrosionmonitoringdatabase.bsi_colvalue }}{% endif %}</td>
                <td id="orientation{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="orientation">{% if (corrosionmonitoringdatabase.bso_colvalue is defined) %}{{ corrosionmonitoringdatabase.bso_colvalue }}{% endif %}</td>
                <td id="accessfittingtype{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="accessfittingtype">{% if (corrosionmonitoringdatabase.bsy_colvalue is defined) %}{{ corrosionmonitoringdatabase.bsy_colvalue }}{% endif %}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="installedcap" data-resizable-column-id="installedcap">{{ corrosionmonitoringdatabase.bsd_installedcap }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="installedplug" data-resizable-column-id="installedplug">{{ corrosionmonitoringdatabase.bsd_installedplug }}</td>
                <td id="holderplug{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="holderplug">{% if (corrosionmonitoringdatabase.bsh_colvalue is defined) %}{{ corrosionmonitoringdatabase.bsh_colvalue }}{% endif %}</td>
                <td id="teefitting{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="teefitting">{% if (corrosionmonitoringdatabase.bst_colvalue is defined) %}{{ corrosionmonitoringdatabase.bst_colvalue }}{% endif %}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="instrumentation" data-resizable-column-id="instrumentation">{{ corrosionmonitoringdatabase.bsd_instrumentation }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="probeextensionadapter" data-resizable-column-id="probeextensionadapter">{{ corrosionmonitoringdatabase.bsd_probeextensionadapter }}</td>
                <td id="probetechnologyanddatalogger{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="probetechnologyanddatalogger">{% if (corrosionmonitoringdatabase.bspd_colvalue is defined) %}{{ corrosionmonitoringdatabase.bspd_colvalue }}{% endif %}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="probetypeandmodel" data-resizable-column-id="probetypeandmodel">{{ corrosionmonitoringdatabase.bsd_probetypeandmodel }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="logginginterval" data-resizable-column-id="logginginterval">{{ corrosionmonitoringdatabase.bsd_logginginterval }}</td>
                <td id="probeinstallationdate{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="probeinstallationdate">{% if corrosionmonitoringdatabase.bsd_probeinstallationdate is not null %}{{ corrosionmonitoringdatabase.bsd_probeinstallationdate|date }}{% endif %}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="couponholdertagno" data-resizable-column-id="couponholdertagno">{{ corrosionmonitoringdatabase.bsd_couponholdertagno }}</td>
                <td id="couponmaterialanddensity{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="couponmaterialanddensity">{% if (corrosionmonitoringdatabase.bscd_colvalue is defined) %}{{ corrosionmonitoringdatabase.bscd_colvalue }}{% endif %}</td>
                <td id="coupontypeandarea{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="coupontypeandarea">{% if (corrosionmonitoringdatabase.bsca_colvalue is defined) %}{{ corrosionmonitoringdatabase.bsca_colvalue }}{% endif %}</td>
                <td id="insulation{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="insulation">{% if (corrosionmonitoringdatabase.bsu_colvalue is defined) %}{{ corrosionmonitoringdatabase.bsu_colvalue }}{% endif %}</td>
                <td id="surfacefinish{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="surfacefinish">{% if (corrosionmonitoringdatabase.bsr_colvalue is defined) %}{{ corrosionmonitoringdatabase.bsr_colvalue }}{% endif %}</td>
                <td id="online{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="online">{% if (corrosionmonitoringdatabase.bsl_colvalue is defined) %}{{ corrosionmonitoringdatabase.bsl_colvalue }}{% endif %}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="tool" data-resizable-column-id="tool">{{ corrosionmonitoringdatabase.bsd_tool }}</td>
                <td id="scaffold{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="scaffold">{% if (corrosionmonitoringdatabase.bsf_colvalue is defined) %}{{ corrosionmonitoringdatabase.bsf_colvalue }}{% endif %}</td>
                <td id="access{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="access">{% if (corrosionmonitoringdatabase.bsa_colvalue is defined) %}{{ corrosionmonitoringdatabase.bsa_colvalue }}{% endif %}</td>
                <td id="file{{projectId}}_{{ subprojectId }}_{{ corrosionmonitoringdatabase.bsd_id }}" key="file">{% if corrosionmonitoringdatabase.bsd_filepath is not null %}<a target="_blank" download="download" href="{{ asset('/uploads/'~corrosionmonitoringdatabase.bsd_filepath) }}"> <span class="glyphicon glyphicon-cloud-download"></span></a>{% endif %}</td>
                <td>
                    <ul>
                        {% if editGranted %}
                        <li>
                            <a class="editcorrosionmonitoringdatabase" id="{{ systemid }}_{{ corrosionmonitoringdatabase.bsd_id }}" data-toggle="modal" href="#" data-target="#editcorrosionmonitoringdatabasemodal">Edit</a>
                        </li>
                        {% endif %}
                        {% if deleteGranted %}
                        <li>
                            <a class="deleteDatabase" id="delete_{{ corrosionmonitoringdatabase.bsd_id }}" href= "{{ path('cms_subproject_corrosionmonitoringdatabase_delete', { 'projectId' : projectId, 'subprojectId' : subprojectId, 'sid' : corrosionmonitoringdatabase.bsd_id }) }}">Delete</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>

</table>
