{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block javascripts %}
    <script type="text/javascript">
        function readyFn( jQuery ) {
            $('.required').closest('.form-group').find('.control-label').each(function () {
                $(this).text("*" + $(this).text());
            });
        }
        $( document ).ready( readyFn );
        // or:
        $( window ).on( "load", readyFn );
    </script>
{% endblock %}
{% block stylesheets %}
   <style>
       .col-md-9{
           width:250px;
       }
   </style>
{% endblock %}
{% block content %}
    {{ form(edit_form) }}
{% endblock %}

