{% extends 'AIEAnomalyBundle:Registrar:edit.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        html, body { overflow-x: hidden; }
    </style>
{% endblock %}
{% set anomalyType = entity.anomaly.code|lower %}

{% block form_content %}
    {% set af = block('additiona_forms') %}
    {% embed 'AIEAnomalyBundle:ActionRegistrar:form.html.twig' with {'af': af} %}
        {% block additiona_forms %}
            {{ af|default|raw }}
        {% endblock %}
    {% endembed %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% include 'AIEAnomalyBundle:AnomalyRegistrar:files_js.html.twig' %}
{% endblock %}