<div class="panel panel-default">
    <div class="panel-heading">Equipment Description:</div>
    <div class="panel-body">
        {{ form_row(anomaly_form.equipment_group) }}
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Anomaly Description:</div>
    <div class="panel-body">
        {{ form_row(anomaly_form.anomaly_group) }}
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">{{ action_type|default }} Description:</div>
    <div class="panel-body">
        {{ form_row(form.action_group) }}
    </div>
</div>

{% block additiona_forms %}
{% endblock %}
{% if show_attachments is not defined or show_attachments == true%}
    <div class="panel panel-default">
        <div class="panel-heading">Attachments:</div>
        <div class="panel-body">
            {% block attachments %}
                <div class="form-group">
                    {% if entity.anomaly.files|length %}
                        <table class="record_properties">
                            <tbody>
                            {% for file in entity.anomaly.files %}
                                <tr>
                                    <th><input type="checkbox" name="anomaly_file_edit_check[]" value="{{ file.id }}"></th>
                                    <th>{{ file.caption }}</th>
                                    <td><a target="_blank" href="{{ absolute_path(file) }}"><span class="glyphicon glyphicon-cloud-download"></span><span> Download </span></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                    <div class="col-md-12">
                        <ul class="files list-unstyled"
                            data-prototype="{{ form_widget(form.files_group.files.vars.prototype)|e }}">
                            {% for files_form in form.files_group.files %}
                                <li>{{ form_widget(files_form) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {{ form_row(form.files_group.add_files) }}
                {{ form_row(form.files_group) }}
            {% endblock %}
        </div>
    </div>
{% endif %}