{% set actionType = entity.code|lower %}
{% set routeVar = app.request.attributes.get('_route') %}
{% set anomalyType = entity.anomaly.code|lower %}
{% set projectId = entity.project.id %}

{% set routeVar = (('master' in routeVar) ? '' : "showEdit")|raw %}
<div class="dropdown">
    <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ entity.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <spna style="font-size: 15px; font-weight: bold;">...</spna>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu{{ entity.id }}">
        <li>
            <a href="{{ path('anomaly_' ~ actionType ~ '_show', { 'projectId': projectId, 'id': entity.id, 'type': anomalyType }) }}">Show</a>
        </li>
        {% if status is defined and granted_list[entity.code]['edit'] %}
        {#{% if status is defined  %}#}
            {% if status[entity.id] == 'final' or status[entity.id] == 'request-rejected' or status[entity.id] == 'new' %}
                <li>
                    <a href="{{ path('anomaly_' ~ actionType ~ '_edit', { 'projectId': projectId, 'id': entity.id, 'type': anomalyType }) }}">Edit</a>
                </li>

        {% if granted_list[entity.code]['files'] %}
        <li>
            <a href="{{ path('anomaly_files', { 'refId': entity.anomaly.id }) }}">Attach Files</a>
        </li>
        {% endif %}
        {% if granted_list[entity.code]['defer'] %}
        <li>
            <a href="{{ path('anomaly_deferral_action', {'projectId' : projectId, 'id': entity.id}) }}">Defer</a>
        </li>
        {% endif %}
            {% endif %}
        {% endif %}
        <li>
            {% if actionType == 'tro' and granted_list[entity.code]['monitor']  %}
            <a href="{{ path('action_monitor', {'projectId': projectId, 'anomalyId': entity.anomaly.id, 'actionId': entity.id }) }}">Monitors</a>
            {% elseif granted_list[entity.code]['monitor'] %}
            <a href="{{ path('anomaly_monitor', {'projectId': projectId, 'anomalyId': entity.anomaly.id }) }}">Monitors</a>
            {% endif %}
        </li>
        {% if granted_list[entity.code]['history'] %}
        <li>
            <a href="{{ path(actionType ~ '_registrar_request_history', {'id': entity.id, 'projectId': projectId }) }}">History and Reports</a>
        </li>
        {% endif %}
    </ul>
</div>