{% extends 'AIEAnomalyBundle:ActionRegistrar:form.html.twig' %}

{% block attachments %}
    <table class="record_properties">
        <tbody>
        {% for file in entity.requestFiles %}
            <tr>
                <th>{{ file.caption }}</th>
                <td><a target="_blank" href="{{ absolute_path(file) }}"><span class="glyphicon glyphicon-cloud-download"></span><span> Download </span></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}