{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        html, body { overflow-x: hidden; }
    </style>
{% endblock %}
{% block content -%}
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% embed 'AIEAnomalyBundle:ActionRegistrar:form.html.twig' with {'show_attachments': false} %}
        {% block attachments %}{% endblock %}
    {% endembed %}

    {{ form_row(form.status) }}
    {{ form_row(form.spa) }}

    {{ form_rest(form) }}
    {% if class(project) == 'RiskProject' %}
        <input type="hidden" value="{{ project.riskMatrix.matrix }}" id="risk-matrix"/>
    {% endif %}
    {{ form_end(form) }}
{% endblock %}
