{% trans_default_domain 'FOSUserBundle' %}


<h1>Edit Position</h1>

<form action="{{ path('anomaly_user_group_edit', {'groupName': group_name} ) }}" {{ form_enctype(form) }} method="POST" class="anomaly_user_group_edit form-horizontal">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary right" value="{{ 'group.edit.submit'|trans }}" />
    </div>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('anomaly_user_group_list') }}">
            Back to positions
        </a>
    </li>
</ul>