<div class="anomaly_user_group_list">

    <h1>Positions</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
                <tr>
                    <td>{{ group.getName() }}</td>
                    <td>
                        {% for role in group.roles %}
                            {{role}}<br/>
                        {% endfor %}
                    </td>
                    <td>
                        <ul><li>
                                <a href="{{ path('anomaly_user_group_edit', {'groupName': group.getName()}) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('anomaly_user_group_new') }}">
                    Create a new postition
                </a>
            </li>
        </ul>
</div>
