{% trans_default_domain 'FOSUserBundle' %}

<div class="anomaly_user_group_show tables">
    <h1>{{ group.getName() }}'s Roles</h1>

    <table class="record_properties table">
        <tbody>
            <tr>
                <th>Roles</th>
                <td>
                    {% for role in group.roles %}
                        {{role}}<br/>
                    {% endfor %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('anomaly_user_group_edit', {'groupName': group.getName()}) }}">
                                edit
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('anomaly_user_group_list') }}">
                Back to positions
            </a>
        </li>
    </ul>
</div>
