.filters { font-size: 0.8em }
.modal-dialog{
width: 50%;
}
.Scrollable_Wrapper {
overflow-x: scroll;
overflow-y: hidden;
width: 100%;
}
.modal-body{
width: 100%;
align: center;
}
#content {
height: 700px;
}
table.dataTable tbody th, table.dataTable tbody td {
padding: 0;
}
.table > tbody > tr > td, .table > tfoot > tr > td {
vertical-align: middle;
padding-left: 5px;
}
button.dt-button, div.dt-button, a.dt-button {
position: relative;
background: #5cb85c !important;
color: #fff !important;
border-color: #4cae4c !important;
display: inline-block !important;
margin-bottom: 0 !important;
font-weight: normal !important;
text-align: center;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent !important;
white-space: nowrap !important;
padding: 0.2em !important;
font-size: 15px !important;
line-height: 1.4em;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.dt-button.green {
background: #5cb85c !important;
}
.dt-button.orange {
background: #e6a73b !important;
}

.dt-button.grey {
    background: grey !important;
}

.dt-buttons {
    margin-left: 80px;
}

div.dt-buttons {
    position: absolute;
    float: left;
    padding-bottom: 2px;
    padding-left: 70px;
}

div.dataTables_wrapper .dataTables_filter {
    float: left;
    text-align: left;
    width:100%;
    padding-top: 15px;
}
div.dataTables_wrapper .dataTables_paginate {
    float: left;
    text-align: left;
    width: 100%;
    /* text-align: right; */
    padding-top: 15px;
    padding-bottom: 10px;
}

.fuelux .wizard-style ul li.active {
    border: 1px solid;
    border-radius: 5px;
    background: #f1f6fc;
    color: #3a87ad;
}
