{% block content -%}
    <div id="chartContainer" class="col-lg-12" style="height: 600px;width: 992px;">

    </div>
{% endblock %}
{% block javascripts %}
    <script src = "{{ app.request.schemeAndHttpHost ~ asset('assets/js/jquery.js') }}" ></script>
    <script src = "{{ app.request.schemeAndHttpHost ~ asset('assets/js/jquery-ui.min.js') }}" ></script>

    <script src="{{ app.request.schemeAndHttpHost ~ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/bootstrap/bootstrap3-typeahead.min.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/bootstrap/bloodhound.min.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/bootstrap/bootstrap-multiselect.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/bootstrap/prettify.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/validation/jquery.validate.min.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/validation/additional-methods.min.js') }}"></script>

    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/datetimepicker/bootstrap-datetimepicker.js') }}"></script>

    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/colResizable/jquery.resizableColumns.min.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/StickyTableHeaders/jquery.stickytableheaders.min.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/fancytree/jquery.fancytree-all.js') }}" type="text/javascript"></script>
    <!-- AIE JS -->
    <script src="{{ asset('assets/js/aie.js') }}"></script>
    {% if anomaly.nominalWT > 0 and entities|length > 1 %}
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/grid220/pqgrid.min.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/broken-axis.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/exporting.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/editable/jquery.inline-edit.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/js-pdf/jspdf.min.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/js-pdf/jspdf.plugin.autotable.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/canvg/rgbcolor.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/canvg/canvg.js') }}"></script>
        <script>
            $(function () {
                var chart = new Highcharts.Chart({
                    chart:{
                        renderTo: 'chartContainer',
                        type:'scatter',
                        height:'600px',
                        events: {
                            load: function(event) {

                            }
                        }
                    },credits: {
                        enabled: false
                    },title: {
                        text: 'Remaining Wall-Thickness Trending'
                    },subtitle: {
                        text: '{{ anomaly.assetTagNumber }}: {{ anomaly.anomalyCustomId }}'
                    },xAxis: {
                        title: {
                            text: 'Date',
                            style: {
                                color: '#000',
                                fontWeight: 'bold'
                            }
                        },type: 'datetime',
                        dateTimeLabelFormats: { // don't display the dummy year
                            day: '%e. %b',
                            month: '%b \'%y',
                            year: '%Y'
                        },
                        labels:{
                            style: {
                                color: '#000',
                                fontWeight: 'bold'
                            }
                        }
                    },yAxis: {
                        title: {
                            text: 'Wall-thickness (mm)',
                            style: {
                                color: '#000',
                                fontWeight: 'bold'
                            }
                        },
                        labels:{
                            style: {
                                color: '#000',
                                fontWeight: 'bold'
                            }
                        },
                        tickInterval:1,
                        max:{{ anomaly.nominalWT + 1}},

                        plotLines: [{
                            value: {{ anomaly.nominalWT }},
                            width: 2,
                            color: 'green'
                        },{
                            value: {{ anomaly.nominalWT * 0.8 }},
                            width: 2,
                            color: 'orange'
                        }
                            {% if anomaly.mAWT > 0 %}
                            ,{
                                value: {{ anomaly.mAWT }},
                                width: 2,
                                color: 'red'
                            }
                            {% endif %}
                        ]
                    },tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x:%e. %b %Y}, {point.y:.2f} mm'
                    },plotOptions:{
                        scatter:{
                            lineWidth:2
                        },showInLegend: true,
                        series: {
                            animation: false,
                        }
                    },
                    series: [{
                        name: 'Remaining WT',
                        data: [
                            {% for entity in entities %}
                            [Date.UTC({{ entity.inspectionDate|date('Y') }}, {{ entity.inspectionDate|date('m')-1 }}, {{ entity.inspectionDate|date('d') }}), {{ entity.remainingWallThickness }}],
                            {% endfor %}
                        ]
                    },{
                        name:'Failure Date',
                        color:'purple',
                        marker:{
                            symbol:'circle'
                        },
                        data:[
                            {% if entities[0].remainingWallThickness < anomaly.mAWT or anomaly.mAWT == 0 or anomaly.mAWT is null %}
                                {% set difference = date(entities[0].inspectionDate).diff(date(entities[1].inspectionDate)) %}
                                {% set leftYrs = difference.days / 365.00 %}
                                {% if leftYrs != 0 and entities[0].remainingWallThickness != entities[1].remainingWallThickness %}
                                    {% set CR = ((entities[1].remainingWallThickness - entities[0].remainingWallThickness)|abs) / (leftYrs|abs) %}
                                    {% set leftDays = '+' ~ (entities[0].remainingWallThickness / CR * 365)|round ~ ' days' %}
                                {% else %}
                                    {% set CR = 0 %}
                                    {% set leftDays = '+' ~ 20*365 ~ ' days' %}
                                {% endif %}
                                [Date.UTC({{ entities[0].inspectionDate|date_modify(leftDays)|date('Y') }}, {{ entities[0].inspectionDate|date_modify(leftDays)|date('m')-1 }}, {{ entities[0].inspectionDate|date_modify(leftDays)|date('d') }}), 0],
                            {% else %}
                                {% set difference = date(entities[0].inspectionDate).diff(date(entities[1].inspectionDate)) %}
                                {% set leftYrs = difference.days / 365.00 %}
                                {% if leftYrs != 0 and entities[0].remainingWallThickness != entities[1].remainingWallThickness %}
                                    {% set CR = ((entities[1].remainingWallThickness - entities[0].remainingWallThickness)|abs) / (leftYrs|abs) %}
                                    {% set leftDays = '+' ~ ((entities[0].remainingWallThickness - anomaly.mAWT) / CR * 365)|round ~ ' days' %}
                                {% else %}
                                    {% set CR = 0 %}
                                    {% set leftDays = '+' ~ 20*365 ~ ' days' %}
                                {% endif %}
                                [Date.UTC({{ entities[0].inspectionDate|date_modify(leftDays)|date('Y') }}, {{ entities[0].inspectionDate|date_modify(leftDays)|date('m')-1 }}, {{ entities[0].inspectionDate|date_modify(leftDays)|date('d') }}), {{ anomaly.mAWT }}],
                            {% endif %}                        ]
                    },{
                        color: 'red',
                        name: 'Minimum Allowable WT ({{ anomaly.mAWT|round(2, 'floor') }} mm)',
                        marker: {
                            enabled: false
                        }
                    },{
                        color: 'orange',
                        name: '80% Nominal WT ({{ (anomaly.nominalWT * 0.8)|round(2, 'floor') }} mm)',
                        marker: {
                            enabled: false
                        }
                    },{
                        color: 'green',
                        name: 'Nominal WT ({{ anomaly.nominalWT|round(2, 'floor') }} mm)',
                        marker: {
                            enabled: false
                        }
                    }],
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }

                    },exporting: {
                        sourceWidth: 1300,
                        sourceHeight: 550
                    },legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'top',
                        floating: false,
                        y: 60
                    }
                });
            });

        </script>
    {% endif %}
{% endblock %}
