{% block content -%}
    {% set divNumber = 1 %}
    {% for trackingType in tracking_types %}
        {% set counter = 0 %}
        {% for entity in entities %}
            {% for tracking in json_decode(entity.trackingCriteria) %}
                {% if trackingType == tracking.description and (tracking.value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' or tracking.value matches '/^\\d+$/') and (tracking.tracking_conc matches '/^[-+]?[0-9]*\\.?[0-9]+$/' or tracking.tracking_conc matches '/^\\d+$/') %}
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if counter >= 1 %}
            <div id="chartContainer_{{ divNumber }}" class="col-lg-12" style="height: 600px;width: 992px;">

            </div>

            {% set divNumber = divNumber + 1 %}
        {% endif %}
    {% endfor %}
{% endblock %}
{% block javascripts %}
    <script src = "{{ app.request.schemeAndHttpHost ~ asset('assets/js/jquery.js') }}" ></script>
    <script src = "{{ app.request.schemeAndHttpHost ~ asset('assets/js/jquery-ui.min.js') }}" ></script>

    <script src="{{ app.request.schemeAndHttpHost ~ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/bootstrap/bootstrap3-typeahead.min.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/bootstrap/bloodhound.min.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/bootstrap/bootstrap-multiselect.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/bootstrap/prettify.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/validation/jquery.validate.min.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/validation/additional-methods.min.js') }}"></script>

    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/datetimepicker/bootstrap-datetimepicker.js') }}"></script>

    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/colResizable/jquery.resizableColumns.min.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/StickyTableHeaders/jquery.stickytableheaders.min.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/fancytree/jquery.fancytree-all.js') }}" type="text/javascript"></script>
    <!-- AIE JS -->
    <script src="{{ asset('assets/js/aie.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/grid220/pqgrid.min.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/broken-axis.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/exporting.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/editable/jquery.inline-edit.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/js-pdf/jspdf.min.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/js-pdf/jspdf.plugin.autotable.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/canvg/rgbcolor.js') }}"></script>
        <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/canvg/canvg.js') }}"></script>
        <script>
            $(function () {
                {% set divNumber = 1 %}
                {% for trackingType in tracking_types %}
                {% set counter = 0 %}
                {% for entity in entities %}
                {% for tracking in json_decode(entity.trackingCriteria) %}
                {% if trackingType == tracking.description and (tracking.value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' or tracking.value matches '/^\\d+$/') and (tracking.tracking_conc matches '/^[-+]?[0-9]*\\.?[0-9]+$/' or tracking.tracking_conc matches '/^\\d+$/') %}
                {% set counter = counter + 1 %}
                {% endif %}
                {% endfor %}
                {% endfor %}
                {% set TrUnit="" %}
                {% if counter >= 1 %}
                var tCONC=[];
                var tValue=[];
                {% set ChartTitle="" %}
                {% for entity in entities %}
                {% for tracking in json_decode(entity.trackingCriteria) %}
                {% if trackingType == tracking.description and (tracking.value matches '/^[-+]?[0-9]*\\.?[0-9]+$/' or tracking.value matches '/^\\d+$/') and (tracking.tracking_conc matches '/^[-+]?[0-9]*\\.?[0-9]+$/' or tracking.tracking_conc matches '/^\\d+$/') %}
                {% set ChartTitle = trackingType %}
                {% set TrUnit = tracking.unit %}
                tCONC.push({ x: Date.UTC({{ entity.inspectionDate|date('Y') }}, {{ entity.inspectionDate|date('m')-1 }}, {{ entity.inspectionDate|date('d') }}), y: {{ tracking.tracking_conc}}});
                tValue.push({ x: Date.UTC({{ entity.inspectionDate|date('Y') }}, {{ entity.inspectionDate|date('m')-1 }}, {{ entity.inspectionDate|date('d') }}), y: {{ tracking.value}}});
                {% endif %}
                {% endfor %}
                {% endfor %}
                $("#chartContainer_{{ divNumber }}").highcharts({
                    chart:{
                        type:'scatter',
                        height:'600px',
                    },credits: {
                        enabled: false
                    },title: {
                        text: 'Tracking Criteria Trending ({{ ChartTitle }})'
                    },subtitle: {
                        text: '{{ anomaly.assetTagNumber }}: {{ anomaly.anomalyCustomId }}'
                    },xAxis: {
                        title: {
                            text: 'Date',
                            style: {
                                color: '#000',
                                fontWeight: 'bold'
                            }
                        },type: 'datetime',
                        dateTimeLabelFormats: { // don't display the dummy year
                            day: '%e. %b',
                            month: '%b \'%y',
                            year: '%Y'
                        },
                        labels:{
                            style: {
                                color: '#000',
                                fontWeight: 'bold'
                            }
                        }
                    },yAxis: {
                        title: {
                            text: '{{ ChartTitle }} {{ TrUnit }}',
                            style: {
                                color: '#000',
                                fontWeight: 'bold'
                            }
                        },
                        labels:{
                            style: {
                                color: '#000',
                                fontWeight: 'bold'
                            }
                        },
                        tickInterval:1
                    },tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.x:%e. %b %Y}, {point.y:.2f} mm'
                    },plotOptions:{
                        scatter:{
                            lineWidth:2
                        },showInLegend: true,
                        series: {
                            animation: false,
                        }
                    },legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'top',
                        floating: false,
                        y: 60
                    },series: [{
                        name: 'Tracking Criteria',
                        data: tValue
                    },{
                        name:'Tracking CONC',
                        marker: {
                            enabled: false
                        },states: { hover: { enabled: false } },
                        enableMouseTracking: false,
                        data:tCONC
                    }],
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }

                    },exporting: {
                        sourceWidth: 1300,
                        sourceHeight: 550
                    }
                });
                {% set divNumber = divNumber + 1 %}
                {% endif %}
                {% endfor %}


            });
        </script>
{% endblock %}
