{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Matrices and Reports</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Report Id</th>
            <th>Created On</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Document Type</th>
            <th>Approved?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% set jData = json_decode(entity.complianceData) %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.date %}{{ entity.date|date('d F Y') }}{% endif %}</td>
                <td>{{ jData.from_date.date|date('d F Y') }}</td>
                <td>{{ jData.to_date.date|date('d F Y') }}</td>
                <td>
                    {% if ( entity.reporttype == 1 ) %} Corrosion Management Report with Exception {% elseif ( entity.reporttype == 2 ) %} Corrosion Management Supplementary Report {% elseif ( entity.reporttype == 3 ) %} Corrosion Management Comprehensive Report {% elseif ( entity.reporttype == 4 ) %} Corrosion Management and Flow Assurance Management Matrices {% elseif ( entity.reporttype == 5 ) %} Corrosion Management Compliance Report {% elseif ( entity.reporttype == 6 ) %} Flow Assurance Management Comprehensive Report {% elseif ( entity.reporttype == 7 ) %} Flow Assurance Management Compliance Report {% endif %}
                </td>
                <td>{{ entity.isApproved? "Approved" : "Not Approved" }}</td>
                <td>
                    <ul>
                        {% if reportarchiveReportsApprovedShowOnlineGranted %}
                        <li>
                            <a target="_blank"
                               href="{{ path('cms_subproject_archivereports', {'id': entity.id, 'projectId':entity.subproject.project.id, 'subprojectId':subprojectId}) }}">Show
                                Online</a>
                        </li>
                        {% endif %}
                        {% if reportarchiveReportsApprovedDownloadGranted %}
                        <li>
                            {% if entity.reporttype <=4 or entity.reporttype == 6 %}
                                <!-- <a href="{{ path('cms_subproject_archivereports_docx', {'id': entity.id, 'projectId':entity.subproject.project.id, 'subprojectId':subprojectId}) }}">Download Docx</a> -->
                                <a href="#" data-toggle="modal" data-target="#assessment-{{ entity.id }}">Download
                                    Docx</a>
                            {% else %}
                                <form id="frmXlink" action="#" method="post"></form>
                                <a href="javascript:void(0);" onclick="return xlinkFrm(this,'{{ path('cms_subproject_archivereports_docx', {'id': entity.id, 'projectId':entity.subproject.project.id, 'subprojectId':subprojectId}) }}');">Download Docx</a>
                            {% endif %}
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for entity in entities %}
        <div class="modal fade" id="assessment-{{ entity.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            {{ form_start( attribute(assessment_report_forms, entity.id)) }}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Report Generation</h4>
                    </div>
                    <div class="modal-body">
                        <div class="assessment-form">
                            <p>
                                <a href="#" id="btnSelectAll">Select all</a> -
                                <a href="#" id="btnDeselectAll">Deselect all</a>
                            </p>
                            {% set assessment_sections = attribute( attribute(assessment_report_forms, entity.id), 'archive_report') %}
                            <div class="tree">
                                <ul>
                                    {% for assessment_section in assessment_sections %}
                                        {% if assessment_section.vars.name == 'WORKSHOP' %}
                                            <li class="expanded folder">{{ form_widget( assessment_section ) }} {{ form_label(assessment_section) }}
                                                <ul>
                                                    {% set workshop_form = attribute( attribute(assessment_report_forms, entity.id), 'workshop_report') %}
                                                    {% for id, workshop in workshop_form %}
                                                        <li data-workshop="{{ id }}">{{ form_widget( workshop ) }} {{ form_label(workshop) }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li>{{ form_widget( assessment_section ) }} {{ form_label(assessment_section) }}</li>
                                        {% endif %}
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        {{ form_widget( attribute(attribute(assessment_report_forms, entity.id), 'submit')) }}
                    </div>
                </div>
            </div>
            {{ form_end( attribute(assessment_report_forms, entity.id)) }}
        </div>
    {% endfor %}


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $(".tree").fancytree({
                checkbox: true,
                selectMode: 3,
                keyboard: true, // Support keyboard navigation.
                icons: false, // Display node icons.
                beforeSelect: function (event, data) {
                    if (data.node.folder) {
                        return false;
                    } else if (data.node.data.workshop) {
                        $(this).fancytree("getRootNode").visit(function (node) {
                            if (node.data.workshop && data.node != node) {
                                node.setSelected(false);
                                $(node.li).find('input').val("");
                            }
                        });
                    }
                },
                select: function (event, data) {
                    $(this).fancytree("getRootNode").visit(function (node) {
                        if (node.isSelected()) {
                            $(node.li).find('input').val(true);
                            if (node.data.workshop) {
                                $(node.parent.li).find('input:first').val(true);
                            }
                        } else {
                            $(node.li).find('input').val("");
                        }
                    });
                }
            });
            $("#btnDeselectAll").click(function () {
                $(this).closest('.assessment-form').find(".tree").fancytree("getTree").visit(function (node) {
                    node.setSelected(false);
                    $(node.li).find('input').val("");
                });
                return false;
            });
            $("#btnSelectAll").click(function () {
                $(this).closest('.assessment-form').find(".tree").fancytree("getTree").visit(function (node) {
                    node.setSelected(true);
                    $(node.li).find('input').val(true);
                });
                return false;
            });


        })
        ;

        function xlinkFrm(obj,x){
            var frmObj=xgetHelper('frmXlink');
            if(frmObj!=null){
                frmObj.action=uniqueUrl(x);
                frmObj.submit();
            }else{
                alert('ERROR!');
            }
            return false;
        }
        /*
     * Abstracts "document.getElementById()" with appropriate error handling.
     * @param id String
     * @returns Object (NULL when not found!)
     */
        function xgetHelper(id){
            var obj = null;
            try {
                obj = document.getElementById(id);
            } catch(z) {
                var dummy=alert("Error:" + z);
            }
            return obj;
        }
        /*
         * adds timestamp to URLs to make them unique
         * @param URL String
         */
        function uniqueUrl(x){
            return x;
        }
        /*
         * helps to add parms to the url
         * @param URL String
         * @param aname String
         * @param avalue String
         */
        function urlAppender(x,aname,avalue){
            var delim = "?";
            if(x.indexOf("?") >=0) { delim = "&"; }
            return x + delim + aname + '=' + avalue;
        }

        /*
         * generates a timestamp as a number
         */
        function xmillis(){
            return new Date().getTime();
        }
    </script>
{% endblock %}