{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Matrices and Reports</h1>
    <div id="blackOut" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-body displayError">
                    Report generation
                </div>

            </div>
        </div>
    </div>
    <table class="records_list">
        <thead>
        <tr>
            <th>Report Id</th>
            <th>Created On</th>
            <th>From</th>
            <th>To</th>
            <th>Document Type</th>
            <th>Approved?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            {% set jData = json_decode(entity.complianceData) %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.date %}{{ entity.date|date('d F Y') }}{% endif %}</td>
                <td>{{ jData.from_date.date|date('d F Y') }}</td>
                <td>{{ jData.to_date.date|date('d F Y') }}</td>
                <td>
                    {% if ( entity.reporttype == 1 ) %} Corrosion Management Report with Exception {% elseif ( entity.reporttype == 2 ) %} Corrosion Management Supplementary Report {% elseif ( entity.reporttype == 3 ) %} Corrosion Management Comprehensive Report {% elseif ( entity.reporttype == 4 ) %} Corrosion Management and Flow Assurance Management Matrices {% elseif ( entity.reporttype == 5 ) %} Corrosion Management Compliance Report {% elseif ( entity.reporttype == 6 ) %} Flow Assurance Management Comprehensive Report {% elseif ( entity.reporttype == 7 ) %} Flow Assurance Management Compliance Report {% endif %}
                </td>
                <td>{{ entity.isApproved? "Approved" : "Not Approved" }}</td>
                <td>
                    <ul>
                        {% if reportarchiveShowReportOnlineGranted %}
                        <li>
                            <a target="_blank"
                               href="{{ path('cms_subproject_archivereports', {'id': entity.id, 'projectId':entity.subproject.project.id, 'subprojectId':subprojectId}) }}">Show
                                Online</a>
                        </li>
                        {% endif %}
                        {% if reportarchiveReportDownloadGranted %}
                            <li>
                                {% if entity.reporttype <=4 or entity.reporttype ==6 %}
                                <!-- <a href="{{ path('cms_subproject_archivereports_docx', {'id': entity.id, 'projectId':entity.subproject.project.id, 'subprojectId':subprojectId}) }}">Download Docx</a> -->
                                    <a href="#" data-toggle="modal" data-target="#assessment-{{ entity.id }}">Download
                                    Docx</a>
                                {% else %}
                                    <form id="frmXlink" action="#" method="post"></form>
                                    <a href="javascript:void(0);" onclick="return xlinkFrm(this,'{{ path('cms_subproject_archivereports_docx', {'id': entity.id, 'projectId':entity.subproject.project.id, 'subprojectId':subprojectId}) }}');">Download Docx</a>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if reportarchiveReportArchiveApproveGranted %}
                        <li>
                            <a href="{{ path('cms_subproject_archivereports_approve', {'id': entity.id, 'projectId':entity.subproject.project.id, 'subprojectId':subprojectId}) }}">Approve</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if reportarchiveGenerateReportGranted %}
        <a href="#filterModal" role="button" class="btn btn-primary" data-toggle="modal">Generate Report/Matrices</a>
    {% endif %}

    {% for entity in entities %}
        {% if assessment_report_forms is defined and assessment_report_forms is not null %}
            <div class="modal fade" id="assessment-{{ entity.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                {{ form_start( attribute(assessment_report_forms, entity.id)) }}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Report Generation</h4>
                        </div>
                        <div class="modal-body">
                            <div class="assessment-form">
                                <p>
                                    <a href="#" class="btnSelectAll">Select all</a> -
                                    <a href="#" class="btnDeselectAll">Deselect all</a>
                                </p>
                                {% set assessment_sections = attribute( attribute(assessment_report_forms, entity.id), 'archive_report') %}
                                <div class="tree">
                                    <ul>
                                        {% for assessment_section in assessment_sections %}
                                            {% if assessment_section.vars.name == 'WORKSHOP' %}
                                                <li class="expanded folder">{{ form_widget( assessment_section ) }} {{ form_label(assessment_section) }}
                                                    <ul>
                                                        {% set workshop_form = attribute( attribute(assessment_report_forms, entity.id), 'workshop_report') %}
                                                        {% for id, workshop in workshop_form %}
                                                            <li data-workshop="{{ id }}">{{ form_widget( workshop ) }} {{ form_label(workshop) }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% else %}
                                                <li>{{ form_widget( assessment_section ) }} {{ form_label(assessment_section) }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {{ form_widget( attribute(attribute(assessment_report_forms, entity.id), 'submit')) }}
                        </div>
                    </div>
                </div>
                {{ form_end( attribute(assessment_report_forms, entity.id)) }}
            </div>
        {% endif %}
    {% endfor %}

    {% if form is defined %}
    {{ form_start(form) }}
    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        {{ form_rest(form) }}
                    </div>
                </div>
                <div class="modal-footer"></div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    {{ form_end(form) }}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/date/date.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var reportingperiod  = "{{ subproject.reportingperiod }}";

        $(function () {
            $(".tree").fancytree({
                checkbox: true,
                selectMode: 3,
                keyboard: true, // Support keyboard navigation.
                icons: false, // Display node icons.
                beforeSelect: function (event, data) {
                    if (data.node.folder) {
                        return false;
                    } else if (data.node.data.workshop) {
                        $(this).fancytree("getRootNode").visit(function (node) {
                            if (node.data.workshop && data.node != node) {
                                node.setSelected(false);
                                $(node.li).find('input').val("");
                            }
                        });
                    }
                },
                select: function (event, data) {
                    $(this).fancytree("getRootNode").visit(function (node) {
                        if (node.isSelected()) {
                            $(node.li).find('input').val(true);
                            if (node.data.workshop) {
                                $(node.parent.li).find('input:first').val(true);
                            }
                        } else {
                            $(node.li).find('input').val("");
                        }
                    });
                }
            });

            $(".btnDeselectAll").click(function () {
                $(this).closest('.assessment-form').find(".tree").fancytree("getTree").visit(function (node) {
                    node.setSelected(false);
                    $(node.li).find('input').val("");
                });
                return false;
            });

            $(".btnSelectAll").click(function () {
                $(this).closest('.assessment-form').find(".tree").fancytree("getTree").visit(function (node) {
                    node.setSelected(true);
                    $(node.li).find('input').val(true);
                });
                return false;
            });

        });

        function xlinkFrm(obj,x){
            var frmObj=xgetHelper('frmXlink');
            if(frmObj!=null){
                frmObj.action=uniqueUrl(x);
                frmObj.submit();
            }else{
                alert('ERROR!');
            }
            return false;
        }

        /*
         * Abstracts "document.getElementById()" with appropriate error handling.
         * @param id String
         * @returns Object (NULL when not found!)
         */
        function xgetHelper(id){
            var obj = null;
            try {
                obj = document.getElementById(id);
            } catch(z) {
                var dummy=alert("Error:" + z);
            }
            return obj;
        }
        /*
         * adds timestamp to URLs to make them unique
         * @param URL String
         */
        function uniqueUrl(x){
            return x;
        }
        /*
         * helps to add parms to the url
         * @param URL String
         * @param aname String
         * @param avalue String
         */
        function urlAppender(x,aname,avalue){
            var delim = "?";
            if(x.indexOf("?") >=0) { delim = "&"; }
            return x + delim + aname + '=' + avalue;
        }

        /*
         * generates a timestamp as a number
         */
        function xmillis(){
            return new Date().getTime();
        }

        $(document).on('click', '.ajaxgeneratereport', function (e) {

            var projectId = {{  projectId }};
            var subprojectId = {{ subprojectId  }};

            var reportTypes = $('#form_report_type').val();
            var fromDate = $('#form_filter_form_from_date').val();
            var toDate = $('#form_filter_form_to_date').val();

            $('#filterModal').modal('toggle');

            if (reportTypes == 1)
                var reportMessage = 'Generating Corrosion Management Exception Report for the sub project ' + '<b>{{ subproject.name }}</b>';
            else if (reportTypes == 2)
                var reportMessage = 'Generating Corrosion Management Supplementary Report for the sub project ' + '<b>{{ subproject.name }}</b>';
            else if (reportTypes == 3)
                var reportMessage = 'Generating Corrosion Management Comprehensive Report for the sub project ' + '<b>{{ subproject.name }}</b>';
            else if (reportTypes == 4)
                var reportMessage = 'Generating Corrosion Management and Flow Assurance Management Matrices for the sub project ' + '<b>{{ subproject.name }}</b>';
            else if (reportTypes == 5)
                var reportMessage = 'Generating Corrosion Management Compliance Report for the sub project ' + '<b>{{ subproject.name }}</b>';
            else if (reportTypes == 6)
                var reportMessage = 'Generating Flow Assurance Management Comprehensive Report for the sub project ' + '<b>{{ subproject.name }}</b>';
            else if (reportTypes == 7)
                var reportMessage = 'Generating Flow Assurance Management Compliance Report for the sub project ' + '<b>{{ subproject.name }}</b>';

           var corrosionAvail = {{ corrosionAvailable }};
           var flowAvail = {{ flowAvailable }};

           if (reportTypes >= 6 && !flowAvail) {
                $.notify({
                    // options
                    message: '"There is no corresponding Flow Assurance data specified for this project; This report cannot be generated',
                }, {
                    // settings
                    type: 'danger',
                    placement: {
                        from: "top",
                        align: "center"
                    }
                });
                return;
            }
            else if (reportTypes < 6 && !corrosionAvail) {
                $.notify({
                    // options
                    message: '"There is no corresponding Corrosion data specified for this project; This report cannot be generated',
                }, {
                    // settings
                    type: 'danger',
                    placement: {
                        from: "top",
                        align: "center"
                    }
                });
                return;
            }
            $('#blackOut').modal('show');
            reportMessage+= ' is in progress';
            $('.displayError').html(reportMessage);

               var url2 = "/c/" + projectId + "/" + subprojectId + "/matricesreports/archivesajax";
               //chrome.windows.create({"url": url, "incognito": true});
               $.ajax({
                   type: "POST",
                   url: url2,
                   data: {'reportType': reportTypes, 'fromDate': fromDate, 'toDate': toDate},
                   dataType: 'html',
                   success: function (response) {
                       // console.log(response)
                       // return;
                       var obj = JSON.parse(response);
                       if (obj.result == 'ok') {
                           location.reload();
                       }
                       else if (obj.result == 'notok') {
                           $.notify({
                               // options
                               message: 'Error while generating ' + reportMessage,
                           }, {
                               // settings
                               type: 'danger',
                               placement: {
                                   from: "top",
                                   align: "center"
                               }
                           });
                       }
                   }
               });


        });

    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">

        .modal-body {
           border: 0;
        }
        .modal-header {
            border: 0;
            padding: 5px;
        }
        .modal-footer {
            border: 0;
        }
        .pull-right {
            width: 500px;
        }
        .col-md-3 {
            width: 100px;
            padding: 0;
            margin: 0;
        }
        .control-label {
            width: 30px;
            padding: 0;
            margin: 0;
            text-align:left;
        }
        label {
            padding-left: 12px;
        }
        .select-container
        {
            padding-left: 58px;
        }

    </style>
{% endblock %}