{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}

<table class="records_list">
<tbody>
      <tr>
          <td class="success">
            <h1>User Created Successfully!</h1>
          </td>
      </tr>
</tbody>
</table>

{% endblock %}

