{% trans_default_domain 'FOSUserBundle' %}

<h1>New User</h1>

<form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register form-horizontal">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary right" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>


<ul class="record_actions">
    <li>
        <a href="{{ path('users') }}">
            Back to users
        </a>
    </li>
</ul>