{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <style>
        .text-container{
             width: 100%;
             padding: 0px;
         }
        .select-container
        {
            width: 100%;
            padding: 0px;
        }
        .form-title{
            margin-bottom: 5px;
            margin-left: 10px;
            font-weight: bold;
        }

    </style>
    <div class="row">
        <div class="col-lg-12"><h1>Test Point Analysis</h1></div>
        {{ form_start(form) }}
        <div class="col-lg-5">
            <span class="form-title">Location</span>
            {{ form_widget(form.location) }}
        </div>
        <div class="col-lg-5">
            <span class="form-title">Test Point</span>
            {{ form_widget(form.locationPoint) }}
        </div>
        <div class="col-lg-2">
            <span class="form-title">&nbsp;</span>
            {{ form_widget(form.submit) }}
        </div>
        {{ form_end(form) }}
    </div>
    {% if isSearch > 0 %}
    {% if entities|length > 0 %}
        <div class="row">
            <div class="col-lg-12">
                <hr />
            </div>
            <div class="col-lg-12">
                <table class="records_list">
                    <thead>
                    <tr>
                        <th>Anomaly ID (Register ID)</th>
                        <th>Location</th>
                        <th>Asset Tag Number</th>
                        <th>Asset Component</th>
                        <th>
                            {% if class(project) == 'RiskProject' %}
                                Risk
                            {% else %}
                                Criticality
                            {% endif %}
                        </th>
                        <th>Status</th>
                        <th>Nominal WT</th>
                        <th>Remaining WT</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        {% set locationName = entity.location.name %}
                        {% set anomalyType = entity.code|lower %}
                        <tr>
                            <td>
                                <a href="{{ path('anomaly_' ~ anomalyType ~ '_show', {'projectId': project.id, 'id': entity.id }) }}">{{ entity.anomalyCustomId }} ({{ entity.fullId }})</a>
                            </td>
                            <td>{{ entity.location.name }}</td>
                            <td>{{ entity.assetTagNumber }}</td>
                            <td>{{ entity.component }}</td>
                            <td>
                                {% if (entity.probability is not null and entity.consequence is not null ) or entity.criticality is not null %}
                                    {% set project_type = class(project) %}
                                    {% if project_type == 'RiskProject' %}
                                        {% set matrix = project.riskMatrix %}
                                        {{ matrix.risk(entity.consequence, entity.probability) }}
                                    {% else %}
                                        <span class="custom-criticality-span" style="background-color:{{ '#' ~ project.enabledCriticalityColors[entity.criticality] }}"><b>{{ project.enabledCriticalityChoices[entity.criticality] }}</b></span>
                                    {% endif %}
                                {% else %}
                                    {{- '-' -}}
                                {% endif %}
                            </td>
                            <td>{{ entity.statusChoices[entity.status] }}</td>
                            <td>{{ entity.nominalWT }}</td>
                            <td>{{ entity.remainingWallThickness }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <div class="col-lg-12">
                <hr />
            </div>
            <div class="col-lg-12">
                <div id="chart_analysis">

                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-lg-12">
                <hr />
                <h4>No results were found</h4>
            </div>
        </div>
    {% endif %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% if isSearch > 0 %}
    {% if entities|length > 0 %}
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/grid220/pqgrid.min.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/broken-axis.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>
    <script src="{{ asset('assets/js/editable/jquery.inline-edit.js') }}"></script>
    <script>
        $(function () {
            var seriesData=[];
            {% for entity in entities %}
            seriesData.push(['{{ entity.anomalyCustomId }} ({{ entity.fullId }})',{{ ((entity.nominalWT - entity.remainingWallThickness)/entity.nominalWT * 100)|round() }}]);
            {% endfor %}
            $('#chart_analysis').highcharts({
                chart:{
                    type:'scatter',
                    height:'600px',
                },credits: {
                    enabled: false
                },title: {
                    text: 'Test Point Comparison'
                },subtitle: {
                    text: 'Location: {{ locationName }}'
                },xAxis: {
                    tickInterval: 1,
                    labels: {
                        enabled: true,
                        formatter: function() { return seriesData[this.value][0];},
                    }
                },yAxis: {
                    title: {
                        text: 'Metal Loss(%)'
                    },
                    tickInterval:10,
                    max:100,
                    min:0,
                    plotLines: [{
                        value: 80,
                        width: 2,
                        color: 'orange'
                    }]
                },tooltip: {
                    headerFormat: '<b>{point.key}</b><br>',
                    pointFormat: '{point.y} %'
                },plotOptions:{
                    scatter:{
                        lineWidth:2
                    },showInLegend: true
                },
                series: [{
                    name: 'd/t (%)',
                    data: seriesData
                },{
                    color: 'orange',
                    name: '80% Nominal WT',
                    marker: {
                        enabled: false
                    }
                }],legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'top',
                    floating: false,
                    y: 60
                }
            });
        });
    </script>
    {% endif %}
    {% endif %}
{% endblock %}