<table class="records_list table-bordered">
    <thead class="text-center">
    <tr>
        <th style="width: 100px;">ID</th>
        <th>Description</th>
        <th>Location</th>
        <th>Risk</th>
        <th style="width: 100px;">Due Date</th>
        <th>Status</th>
        <th>Deferred</th>
        <th>Action Owner</th>
    </tr>
    </thead>
    <tbody>
    {% for action in actions %}
        <tr>
            <td>
                <a href="{{ path('anomaly_fm_show', { 'projectId': project.id, 'id': action.id }) }}">{{ action.fullId }}</a>
            </td>
            <td>{{ action.description }}</td>
            <td>{{ action.anomaly.location.name }}</td>
            <td class="color risk">
                {% include 'AIEAnomalyBundle:RiskMatrix:risk.html.twig' with {'entity': action, 'project': project} %}
            </td>
            <td>{{ action.dueDate|date }}</td>
            {{ action.isDue is not same as( false ) ? '<td style="background:#FF6161;">Overdue</td>' : '<td style="background:#00B050;">Planned</td>' }}
            <td>{{ action.deferred }}</td>
            <td>{{ users[action.spa.userId] }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
