<table class="records_list table-bordered">
    <thead class="text-center">
    <tr>
        <th style="width: 100px;">ID</th>
        <th>Description</th>
        <th>Location</th>
        <th>Risk</th>
        <th>Inspection Type</th>
        <th>Frequency</th>
        <th style="width: 100px;" id="dateHeader">Due Date</th>
        <th>Status</th>
        <th>Deferred</th>
        <th>Action Owner</th>
    </tr>
    </thead>
    <tbody>
    {% set counter = 0 %}
    {% set temp = 0 %}
    {% for key, action in actions %}
        {% if  temp == action.id %}
            {% set counter = counter + 1 %}
        {% else %}
            {% set counter = 0 %}
        {% endif %}
        <tr class="Entries" data-id="{{action.id}}">
            <td>
                <a href="{{ path('anomaly_' ~ action.code|lower ~ '_show', {'projectId': project.id, 'id': action.id }) }}">{{ action.fullId }}</a>
            </td>
            <td>{{ action.defectDescription }}</td>
            <td>{{ action.location.name }}</td>
            <td class="color risk">
                {% include 'AIEAnomalyBundle:RiskMatrix:risk.html.twig' with {'entity': action, 'project': project} %}
            </td>
            <td>{{ action.inspectionTechnique }}</td>
            <td>{{ action.inspectionFrequency|frequency }}</td>
            <td>{{ viewNextInspectiondate[action.id][counter]|date }}</td>
            {{ statusAnomaly[action.id][counter] is not same as( false ) ? '<td style="background:#FF6161;">Overdue</td>' : '<td style="background:#00B050;">Planned</td>' }}
            <td>{{ deferred[action.id][counter] }}</td>
            <td>{{ users[action.spa.userId] }}</td>
        </tr>
         {% set temp = action.id %}
    {% endfor %}
    </tbody>
</table>
