<div class="col-lg-offset-2 col-lg-8 ">
    <strong>Summary:</strong>
    <table class="records_list table-bordered">
        <thead class="text-center">
        <tr>
            <th>Actions</th>
            <th style="background-color:#00B050">Planned</th>
            <th style="background-color:#FF6161">Overdue</th>
        </tr>
        </thead>
        <tbody>
        {% for k, s in summary %}
            <tr>
                <td>{{ summary_mappings[k] }}</td>
                <td>{{ s['planned'] }}</td>
                <td>{{ s['due'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>