{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="{{ asset("assets/css/multiselect/bootstrap-multiselect.css") }}">

{% endblock %}
{% block content -%}
    <style>
        .text-container{
            width: 100%;
        }
        .select-container{
            width: 100%;
            padding: 0;
        }
        .input-group, .form-date{
            margin-bottom: 0px;
            margin-top: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
        }
        .form-group {
            margin: 0;
            padding: 0;
            margin-bottom: -5px;
            height: auto;
        }
        .no-margin{
            margin-top: 0px;
            margin-bottom: 0px;
            margin-bottom: -5px;
        }
        .form-title{
            margin-bottom: 5px;
            margin-left: 10px;
            font-weight: bold;
        }
        .form-group .form_date{
            padding-right: 15px;
            padding-left: 15px;
            margin: 0;
        }
        .multiselect-native-select{
            width: 100%;
        }
        .multiselect-native-select .btn-group{
            width: 100%;
        }
        .multiselect-container{
            width: 100%;
        }
    </style>
    <h1>Planning</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Plan Duration</h3>
        </div>
        <div class="panel-body">
            {{ form_start(filter_form) }}
            <div class="row">
                <div class="col-lg-2">
                    <span class="form-title">From date</span>
                    {{ form_widget(filter_form.filter_form.from_date) }}
                </div>
                <div class="col-lg-2">
                    <span class="form-title">To date</span>
                    {{ form_widget(filter_form.filter_form.to_date) }}
                </div>
                <div class="col-lg-3">

                    <span class="form-title">Location</span>
                    <select id="ms_locations" multiple="multiple">

                    </select>
                    {{ form_widget(filter_form.filter_form.locationStr) }}
                    {{ form_widget(filter_form.filter_form.locationSelected) }}
                </div>
                <div class="col-lg-3">
                    <span class="form-title">Register</span>
                    {{ form_widget(filter_form.filter_form.type) }}
                </div>
                <div class="col-lg-2">
                    <span class="form-title">&nbsp;</span>
                    {{ form_widget(filter_form.submit) }}
                </div>
            </div>
            {{ form_end(filter_form) }}
        </div>
    </div>
    {% if searched %}
        {% if results|length > 0 %}
            <div class="row">
                <div class="col-lg-12">
                    <h2>{{ title ~ ' Planning' }}</h2>
                </div>
                <div class="col-lg-6">
                    <h3>Summary</h3>
                    <table class="table table-striped table-responsive table-bordered table-condensed table-hover">
                        <thead>
                        <tr style="text-align:center;">
                            <td>Closed</td>
                            <td>Planned</td>
                            <td>Overdue</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr style="text-align:center;">
                            <td style="color: blue;">{{ summaryTable['closed'] }}</td>
                            <td style="color: green;">{{ summaryTable['planned'] }}</td>
                            <td style="color: red;">{{ summaryTable['overdue'] }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-12" style="margin-bottom: 20px;">
                    <h3>Results</h3>
                    <table class="table table-striped table-responsive table-bordered table-condensed table-hover">
                        <thead>
                        <tr>
                            <th class="text-center">Include in Workpack</th>
                            <th class="text-center">Asset Tag Number</th>
                            <th class="text-center">Anomaly ID</th>
                            <th class="text-center">Component</th>
                            <th class="text-center">Location</th>
                            {% if selected=='IN' or selected=='TRO' %}
                                {% if selected=='IN' %}
                                    <th class="text-center">Latest Inspection Date</th>
                                    <th class="text-center">Next Inspection Date</th>
                                {% else %}
                                    <th class="text-center">Latest Inspection Date</th>
                                    <th class="text-center">Next Inspection Date</th>
                                    <th class="text-center">Technical Expiry Date</th>
                                    <th class="text-center">Completion / Installation</th>
                                {% endif %}
                            {% else %}
                                <th class="text-center">Technical Expiry Date</th>
                                <th class="text-center">Completion / Installation</th>
                            {% endif %}
                            <th class="text-center">Status</th>
                            <th class="text-center">Comments</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key, result in results %}
                            <tr>
                                <td style="text-align: center;"><input type="checkbox" class="checkboxList" regId="{{ registerIds[loop.index0] }}" checked data-toggle="toggle" data-onstyle="primary" data-on="Include" data-off="Exclude"  data-size="small"></td>
                                <td class="text-center">{{ result['assetTagNumber']|default('-') }}</td>
                                <td class="text-center">{{ result['anomalyId']|default('-') }}</td>
                                <td class="text-center">{{ result['component']|default('-') }}</td>
                                <td class="text-center">{{ result['location']|default('-') }}</td>
                                {% if selected=='IN' or selected=='TRO' %}
                                    {% if selected=='IN' %}
                                        <td class="text-center">{{ result['latesInspectionDate']|default('-') }}</td>
                                        <td class="text-center">{{ result['nextInspectionDate']|default('-') }}</td>
                                    {% else %}
                                        <td class="text-center">{{ result['latesInspectionDate']|default('-') }}</td>
                                        <td class="text-center">{{ result['nextInspectionDate']|default('-') }}</td>
                                        <td class="text-center">{{ result['technicalExpiryDate']|default('-') }}</td>
                                        <td class="text-center">{{ result['completionDate']|default('-') }}</td>
                                    {% endif %}
                                {% else %}
                                    <td class="text-center">{{ result['technicalExpiryDate']|default('-') }}</td>
                                    <td class="text-center">{{ result['completionDate']|default('-') }}</td>
                                {% endif %}
                                <td class="text-center">
                                    {% set spanColor = 'black' %}
                                    {% if result['status']=='Closed' %}
                                        {% set spanColor = 'blue' %}
                                    {% elseif result['status']=='Planned' %}
                                        {% set spanColor = 'green' %}
                                    {% elseif result['status']=='Overdue' %}
                                        {% set spanColor = 'red' %}
                                    {% else %}
                                        {% set spanColor = 'black' %}
                                    {% endif %}
                                    <span style="color: {{ spanColor }};">
                                {{ result['status']|default('-') }}
                            </span>
                                </td>
                                <td class="text-center">{{ result['comment']|default('-') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                    <input type="checkbox" id="chk_attachments" checked data-toggle="toggle" data-onstyle="primary" data-width="100%" data-on="Include Attachments" data-off="Exclude Attachments">
                </div>
                <div class="col-lg-10 col-md-9 col-sm-6 col-xs-6">
                    {{ form_start(download_form) }}
                    {{ form_widget(download_form.download) }}
                    {{ form_end(download_form) }}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-lg-12" style="margin-bottom: 20px;">
                    <div class="alert alert-info">
                        No results were found for this search criteria
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="{{ asset("assets/js/multiselect/bootstrap-multiselect.js") }}"></script>
    <script>
        $(document).ready(function() {
            $('#ms_locations').html($('.location-string').val());
            $("select[id='ms_locations']").hide();
            if($('.location-selected').val() != ""){
                var res = $('.location-selected').val().split(",");
                $.each(res, function( index0, value ) {
                    $("#ms_locations option").each(function(index){
                        if($(this).attr("locid") == value){
                            $(this).prop("selected", true);
                        }
                    });
                });
            }
            $('#ms_locations').multiselect();
            $(".multiselect").addClass('btn-block');
        });
    </script>
    <script>
        $('#form_download').click(function() {
            var count =0;
            var items=[];
            $('.checkboxList').each(function(){
                if($(this).is(":checked")) {
                    items.push(parseInt($(this).attr('regId')));
                    count++;
                }
            });
            var myJsonString = JSON.stringify(items);
            $('#form_registersObj').val(myJsonString);
            if (count == 0)
                return false;
        });
        $('#chk_attachments').change(function(){
            if($(this).is(":checked")) {
                $('#form_includeAttachments').val(1);
            }else{
                $('#form_includeAttachments').val(0);
            }
        });

        $("#form_submit").click(function () {
            var isVal = false;
            $(".location-selected").val("");
            $("#ms_locations option:selected").each(function(index){
                    isVal=true;
                    if($(".location-selected").val() == ""){
                        $(".location-selected").val($(this).attr("locid"));
                    }else{
                        $(".location-selected").val($(".location-selected").val() + ',' + $(this).attr("locid"));
                    }
            });
            if(!isVal){
                return false;
            }
        });
    </script>
{% endblock %}