{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Classification</h1>

    {{ form(edit_form) }}
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_classifications') }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
