{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    {% if delete_form is defined %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">Close</a>
        Are you sure you want to delete the classification?
    </div>
    {% endif %}
    <h1>Classification</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ entity.code }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>
{{ form(delete_form) }}
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_classifications') }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('anomaly_classifications_edit', { 'id': entity.id }) }}" class="btn btn">
                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
        </li>
    </ul>
{% endblock %}
