{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Consequences Categories</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Name</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.desc1 }}</td>
                <td>{{ entity.desc2 }}</td>
                <td>{{ entity.desc3 }}</td>
                <td>{{ entity.desc4 }}</td>
                <td>{{ entity.desc5 }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ entity.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <spna style="font-size: 15px; font-weight: bold;">...</spna>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ entity.id }}">
                            <li>
                                <a href="{{ path('anomaly_consequences_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('anomaly_consequences_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                            <li>
                                <a href="{{ path('anomaly_consequences_delete', { 'id': entity.id }) }}">delete</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_consequences_new') }}" class="btn btn">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new consequence
            </a>
        </li>
    </ul>
{% endblock %}
