{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Consequences Categories</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Description 1</th>
                <td>{{ entity.desc1 }}</td>
            </tr>
            <tr>
                <th>Description 2</th>
                <td>{{ entity.desc2 }}</td>
            </tr>
            <tr>
                <th>Description 3</th>
                <td>{{ entity.desc3 }}</td>
            </tr>
            <tr>
                <th>Description 4</th>
                <td>{{ entity.desc4 }}</td>
            </tr>
            <tr>
                <th>Description 5</th>
                <td>{{ entity.desc5 }}</td>
            </tr>
        </tbody>
    </table>
{{ form(delete_form) }}

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_consequences') }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('anomaly_consequences_edit', { 'id': entity.id }) }}" class="btn btn">
                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
        </li>
    </ul>
{% endblock %}
