
<div class="row">
    {% if managementComplianceData != '[]' or controlComplianceData != '[]' %}
        {% set redCtrl = 0 %}
        {% set redMgmt = 0 %}
        {% set fa_redCtrl = 0 %}
        {% set fa_redMgmt = 0 %}
        {% set odcount = 0 %}
        {% for spmrdata in entity.spmr %}
            {% if spmrdata.isApproved %}
                {% set g = json_decode(spmrdata.complianceData) %}
                {% set redCtrl = g.control.totalredkpi %}
                {% set redMgmt = g.management.totalredkpi %}
                {% if g.flowassurancemanagement.totalredkpi is defined %}
                    {% set fa_redMgmt = g.flowassurancemanagement.totalredkpi %}
                {% endif %}
                {% if g.flowassurancecontrol.totalredkpi is defined %}
                    {% set fa_redCtrl = g.flowassurancecontrol.totalredkpi %}
                {% endif %}
                {% set odcount = g.overdue %}
            {% endif %}
        {% endfor %}
        {#<div class="col-lg-12">#}
            {#<table class="table table-bordered table-responsive table-condensed" style="">#}
                {#<thead>#}
                {#<tr style="background-color: #17225A;color: white;">#}
                    {#<th style="text-align: center;">Red Control KPI</th>#}
                    {#<th style="text-align: center;">Red Management KPI</th>#}
                    {#<th style="text-align: center;">Overdue Activities</th>#}
                {#</tr>#}
                {#</thead>#}
                {#<tbody>#}
                {#<tr style="height: 56px;">#}
                    {#<td style="text-align: center;">#}
                        {#<span class="red-kpi" style="margin-top: 0px;color:white;"><b>{{ (category == 1 ? RedKPI_ODCounts.CorrCntrl : RedKPI_ODCounts.FACntrl) }}</b></span>#}
                    {#</td>#}
                    {#<td style="text-align: center;">#}
                        {#<span class="red-kpi" style="margin-top: 0px;color:white;"><b>{{ (category == 1 ? RedKPI_ODCounts.CorrMngmt : RedKPI_ODCounts.FAMgmt) }}</b></span>#}
                    {#</td>#}
                    {#<td style="text-align: center;">#}
                        {#<span class="red-kpi" style="background-color: #f7976a;margin-top: 0px;color:white;"><b>{{ (category == 1 ? RedKPI_ODCounts.CorrOD : RedKPI_ODCounts.FAOD) }}</b></span>#}
                    {#</td>#}
                {#</tr>#}
                {#</tbody>#}
            {#</table>#}
        {#</div>#}
        {#<h6 style="color: #000000;font-size: 14px;font-weight: bold; padding: 15px;">Reporting for Subproject {{ entity.name }}</h6>#}

        <div class="col-lg-3">
            <div id="containerSpeedManagement_{{ category }}" style="margin-right: -16px;height: 250px; border: 1px solid #d2d5d5;"></div>
            <br>
            <div id="containerSpeedControl_{{ category }}" style="margin-right: -16px;height: 250px; border: 1px solid #d2d5d5;"></div>
        </div>
        <div class="col-lg-9">
            <div style="height: 520px;" id="containerCompliance_{{ category }}">

            </div>
        </div>
    {% else %}
        <div class="col-lg-12">
            <div class="alert alert-info" style="margin-bottom: 0px;">
                The system currently has no compliance data
            </div>
        </div>
    {% endif %}
</div>
<br>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="record_properties table-bordered">
            <thead>
            <tr style="background-color: #101840">
                <th>Overall KPIs <span style="font-size:10px;"> (as of {{ "now"|date("j M Y") }} )</span></th>
                <th>Management</th>
                <th>Control</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><span style="color: #00b050;font-weight: bold;">Green</span></td>
                <td>{{ complianceKPIData.management.green }}</td>
                <td>{{ complianceKPIData.control.green }}</td>
            </tr>
            <tr>
                <td><span style="color: #ffc000;font-weight: bold;">Amber</span></td>
                <td>{{ complianceKPIData.management.amber }}</td>
                <td>{{ complianceKPIData.control.amber }}</td>
            </tr>
            <tr>
                <td><span style="color: #ff0000;font-weight: bold;">Red</span></td>
                <td>{{ complianceKPIData.management.red }}</td>
                <td>{{ complianceKPIData.control.red }}</td>
            </tr>
            <tr>
                <td><span style="color: #000000;font-weight: bold;">Hold</span></td>
                <td>{{ complianceKPIData.management.hold }}</td>
                <td>{{ complianceKPIData.control.hold }}</td>
            </tr>
            <tr>
                <td><span style="color: #000000;font-weight: bold;">Total</span></td>
                <td>{{ complianceKPIData.management.green + complianceKPIData.management.amber + complianceKPIData.management.red + complianceKPIData.management.hold }}</td>
                <td>{{ complianceKPIData.control.green + complianceKPIData.control.amber + complianceKPIData.control.red + complianceKPIData.control.hold }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    {#<div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 25px;">#}
    {#<div class="kpisoverflow">#}
    {#<table class="record_properties table-bordered" style="width:100%; border:1px solid; border-color: #cccccc;">#}
    {#<thead>#}
    {#<tr>#}
    {#<td colspan="4" style="font-size:18px;">Systems Compliance</td>#}
    {#</tr>#}
    {#<tr style="background-color: #101840">#}
    {#<th style="vertical-align: middle; width: 20%">System</th>#}
    {#<th style="vertical-align: middle;width: 20%;">Management KPI</th>#}
    {#<th style="vertical-align: middle;width: 20%;">Control KPI</th>#}
    {#<th style="vertical-align: middle; width: 40%">Justification</th>#}
    {#</tr>#}
    {#</thead>#}
    {#<tbody>#}
    {#{% for sysComp in systems_compliance %}#}
    {#<tr>#}
    {#<td>{{ sysComp['name'] }}</td>#}
    {#<td style="width: auto; text-align:center; vertical-align:middle;border-left: 1px solid #ccc;">#}
    {#{% if sysComp['mgmt'] is same as("N/A") %}#}
    {#<b>N/A</b>#}
    {#{% elseif sysComp['mgmt'] >= 50 and sysComp['mgmt'] <75 %}#}
    {#<svg height="100" width="100">#}
    {#<circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />#}
    {#Sorry, your browser does not support inline SVG.#}
    {#</svg>#}
    {#{% elseif sysComp['mgmt'] < 50 and sysComp['mgmt'] >= 0 %}#}
    {#<svg height="100" width="100">#}
    {#<circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />#}
    {#Sorry, your browser does not support inline SVG.#}
    {#</svg>#}
    {#{% elseif sysComp['mgmt'] >= 75 %}#}
    {#<svg height="100" width="100">#}
    {#<circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />#}
    {#Sorry, your browser does not support inline SVG.#}
    {#</svg>#}
    {#{% endif %}#}
    {#</td>#}
    {#<td style="width: auto; text-align:center; vertical-align:middle;border-left: 1px solid #ccc;">#}
    {#{% if sysComp['ctrl'] is same as("N/A") %}#}
    {#<b>N/A</b>#}
    {#{% elseif sysComp['ctrl'] >= 50 and sysComp['ctrl'] <75 %}#}
    {#<svg height="100" width="100">#}
    {#<circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />#}
    {#Sorry, your browser does not support inline SVG.#}
    {#</svg>#}
    {#{% elseif sysComp['ctrl'] < 50 and sysComp['ctrl'] >= 0 %}#}
    {#<svg height="100" width="100">#}
    {#<circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />#}
    {#Sorry, your browser does not support inline SVG.#}
    {#</svg>#}
    {#{% elseif sysComp['ctrl'] >= 75 %}#}
    {#<svg height="100" width="100">#}
    {#<circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />#}
    {#Sorry, your browser does not support inline SVG.#}
    {#</svg>#}
    {#{% endif %}#}
    {#</td>#}
    {#<td style="border-left: 1px solid #ccc;">{{ sysComp['justification'] }}</td>#}
    {#</tr>#}
    {#{% endfor %}#}
    {#</tbody>#}
    {#</table>#}
    {#</div>#}
    {#</div>#}
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="kpisoverflow">
            <table class="record_properties" style="width:100%; border:1px solid; border-color: #cccccc;">
                <thead>
                <tr>
                    <td colspan="5" style="font-size:18px;">Red and Amber Management KPIs <span style="font-size:10px;"> (as of {{ "now"|date("j M Y") }} )</span></td>
                </tr>
                <tr style="background-color: #101840">
                    <th style="vertical-align: middle;">System</th>
                    <th style="vertical-align: middle;">Activity</th>
                    <th style="vertical-align: middle;">Location</th>
                    <th style="vertical-align: middle;">Location Specific KPI</th>
                    <th style="vertical-align: middle; text-align:center;">Overall KPI</th>
                </tr>
                </thead>
                {% set temptitle = "" %}
                <!-- begins here - location specific management kpis with overall kpi -->
                {% if redmanagementkpis is defined and redmanagementkpis is not empty %}
                    {% set bordertgleft = 'border-left: 1px solid #ccc;' %}
                    {% set tempmanagementtitle = "" %}
                    {% set templocationtitle = "" %}
                    {% for redmankpi in redmanagementkpis %}
                        {% if redmankpi.activity_locations.locations|length >= 1 %}
                            {% for key,innerlocation in redmankpi.activity_locations.locations %}
                                {% if redmankpi.activity_locations.performedlocations is defined and redmankpi.activity_locations.performedlocations is not empty %}
                                    {% for outerkey,innerdeeplocation in redmankpi.activity_locations.performedlocations %}

                                        {% if innerdeeplocation.id == innerlocation.id %}
                                            {% if redmankpi.activity_locations.systems.title == temptitle %}
                                                {%  set bordertgbottom = 'border-top: 1px solid #fff;' %}
                                            {% else %}
                                                {%  set bordertgbottom = '' %}
                                            {% endif %}
                                            <tr>
                                                <td style="width: auto; vertical-align:middle; {{ bordertgbottom }}">{% if redmankpi.activity_locations.systems.title != temptitle %}{{ redmankpi.activity_locations.systems.title }}{% set tempmanagementtitle = '' %}{% endif %}</td>
                                                {#Change for the case when the same activity name appears for 2 systems consequently#}
                                                {% if tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle and redmankpi.activity_locations.systems.title == temptitle %}
                                                    {%  set bordertbottom = 'border-top: 1px solid #fff;' %}
                                                {% else %}
                                                    {%  set bordertbottom = '' %}
                                                {% endif %}
                                                <td style="width: auto; vertical-align:middle; {{ bordertbottom }} {{ bordertgleft }}">
                                                    {% if not(tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle and redmankpi.activity_locations.systems.title == temptitle) %}
                                                        {% if level2Granted %}
                                                            <a href="{{ path('cms_subproject_activitymitigationstatus', { 'projectId': projectId, 'subprojectId': subprojectId} ) }}" style="font: inherit; text-decoration: underline;">{{ redmankpi.activity_locations.systems.managementtitle }}</a>
                                                        {% else %}
                                                            {{ redmankpi.activity_locations.systems.managementtitle }}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                {% if innerlocation.location == templocationtitle %}
                                                    {%  set borderlbottom = 'border-top: 1px solid #fff;' %}
                                                {% else %}
                                                    {%  set borderlbottom = '' %}
                                                {% endif %}
                                                <td style="width: auto; {{ borderlbottom }} {{ bordertgleft }}">
                                                    {% if innerlocation.location != templocationtitle %}
                                                        {{ innerlocation.location }}
                                                    {% endif %}
                                                </td>
                                                <td style="width: auto; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                                    {% if innerdeeplocation.id == innerlocation.id and innerdeeplocation.management_performed == 'A' %}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% elseif innerdeeplocation.id == innerlocation.id and innerdeeplocation.management_performed == 'R'%}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% elseif innerdeeplocation.id == innerlocation.id and innerdeeplocation.management_performed == 'G'%}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% endif %}
                                                </td>

                                                    {% if redmankpi.activity_locations.systems.kpi_management is defined and redmankpi.activity_locations.systems.kpi_management is not empty and not(tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle and redmankpi.activity_locations.systems.title == temptitle) %}
                                                <td style="width: auto; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                                        {% if redmankpi.activity_locations.systems.kpi_management == 'A' %}
                                                            <svg height="100" width="100">
                                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                        {% elseif redmankpi.activity_locations.systems.kpi_management == 'R'%}
                                                            <svg height="100" width="100">
                                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                        {% elseif redmankpi.activity_locations.systems.kpi_management == 'G'%}
                                                            <svg height="100" width="100">
                                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                        {% endif %}
                                                    {% else %}
                                                <td style="{{ bordertbottom }} {{ bordertgleft }}">&nbsp;
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% set tempmanagementtitle = redmankpi.activity_locations.systems.managementtitle %}
                                            {% set templocationtitle = innerlocation.location %}
                                            {% if redmankpi.activity_locations.systems.title is defined %} {% set temptitle = redmankpi.activity_locations.systems.title %} {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% set showrow = 1 %}
                                    {% if redmankpi.activity_locations.locations is defined and redmankpi.activity_locations.locations is not empty %}
                                        {% for outerkey,innerdeeplocation in redmankpi.activity_locations.locations %}
                                            {% if innerdeeplocation.id == innerlocation.id and tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle and innerlocation.location == templocationtitle %}
                                                {% set showrow = 2 %}
                                            {% else %}
                                                {% set showrow = 1 %}
                                            {% endif %}
                                            {% if innerdeeplocation.id == innerlocation.id %}
                                                {% if redmankpi.activity_locations.systems.title == temptitle %}
                                                    {%  set bordertgbottom = 'border-top: 1px solid #fff;' %}
                                                {% else %}
                                                    {%  set bordertgbottom = '' %}
                                                {% endif %}
                                                {% if innerlocation.location == templocationtitle %}
                                                    {%  set borderlbottom = 'border-top: 1px solid #fff;' %}
                                                {% else %}
                                                    {%  set borderlbottom = '' %}
                                                {% endif %}
                                                {% if showrow == 1 %}
                                                    <tr>
                                                    <td style="width: auto;vertical-align:middle; {{ bordertgbottom }};">
                                                        {% if redmankpi.activity_locations.systems.title != temptitle %}
                                                            {{ redmankpi.activity_locations.systems.title }}
                                                            {% set tempmanagementtitle = '' %}
                                                        {% endif %}
                                                    </td>
                                                    {% if tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle and redmankpi.activity_locations.systems.title == temptitle %}
                                                        {%  set bordertbottom = 'border-top: 1px solid #fff;' %}
                                                    {% else %}
                                                        {%  set bordertbottom = '' %}
                                                    {% endif %}
                                                    <td style="width: auto; vertical-align:middle; {{ bordertbottom }} {{ bordertgleft }}">
                                                        {% if not(tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle and redmankpi.activity_locations.systems.title == temptitle) %}
                                                            {% if level2Granted %}
                                                                <a href="{{ path('cms_subproject_activitymitigationstatus', { 'projectId': projectId, 'subprojectId': subprojectId} ) }}" style="font: inherit; text-decoration: underline;">{{ redmankpi.activity_locations.systems.managementtitle }}</a>
                                                            {% else %}
                                                                {{ redmankpi.activity_locations.systems.managementtitle }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                    <td style="width: auto; {{ borderlbottom }} {{ bordertgleft }}">
                                                        {% if innerlocation.location != templocationtitle %}
                                                            {{ innerlocation.location }}
                                                        {% endif %}
                                                    </td>
                                                    <td style="width: auto; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                                        {% if innerdeeplocation.management_performed is defined %}
                                                            {% if innerdeeplocation.id == innerlocation.id and innerdeeplocation.management_performed == 'A' %}
                                                                <svg height="100" width="100">
                                                                    <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                                    Sorry, your browser does not support inline SVG.
                                                                </svg>
                                                            {% elseif innerdeeplocation.id == innerlocation.id and innerdeeplocation.management_performed == 'R'%}
                                                                <svg height="100" width="100">
                                                                    <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                                    Sorry, your browser does not support inline SVG.
                                                                </svg>
                                                            {% elseif innerdeeplocation.id == innerlocation.id and innerdeeplocation.management_performed == 'G'%}
                                                                <svg height="100" width="100">
                                                                    <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />
                                                                    Sorry, your browser does not support inline SVG.
                                                                </svg>
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>

                                                        {% if redmankpi.activity_locations.systems.kpi_management is defined and redmankpi.activity_locations.systems.kpi_management is not empty and not(tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle and redmankpi.activity_locations.systems.title == temptitle) %}
                                                        <td style="width: auto; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                                            {% if redmankpi.activity_locations.systems.kpi_management == 'A' %}
                                                                <svg height="100" width="100">
                                                                    <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                                    Sorry, your browser does not support inline SVG.
                                                                </svg>
                                                            {% elseif redmankpi.activity_locations.systems.kpi_management == 'R'%}
                                                                <svg height="100" width="100">
                                                                    <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                                    Sorry, your browser does not support inline SVG.
                                                                </svg>
                                                            {% elseif redmankpi.activity_locations.systems.kpi_management == 'G'%}
                                                                <svg height="100" width="100">
                                                                    <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />
                                                                    Sorry, your browser does not support inline SVG.
                                                                </svg>
                                                            {% endif %}
                                                            {% else %}
                                                        <td style="{{ bordertbottom }} {{ bordertgleft }}">&nbsp;
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                {% endif %}
                                                {% set templocationtitle = innerlocation.location %}
                                                {% set tempmanagementtitle = redmankpi.activity_locations.systems.managementtitle %}
                                                {% if redmankpi.activity_locations.systems.title is defined %} {% set temptitle = redmankpi.activity_locations.systems.title %} {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <tr>
                                {% if redmankpi.activity_locations.systems.title == temptitle %}
                                    {%  set bordertgbottom = 'border-top: 1px solid #fff;' %}
                                {% else %}
                                    {%  set bordertgbottom = '' %}
                                {% endif %}

                                <td style="width: auto; {{ bordertgbottom }}">{% if redmankpi.activity_locations.systems.title != temptitle %}{{ redmankpi.activity_locations.systems.title }}{% set tempmanagementtitle = '' %}{% endif %}</td>
                                {% if tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle and redmankpi.activity_locations.systems.title == temptitle %}
                                    {%  set bordertbottom = 'border-top: 1px solid #fff;' %}
                                {% else %}
                                    {%  set bordertbottom = '' %}
                                {% endif %}
                                <td style="width: auto; vertical-align:middle; {{ bordertbottom }} {{ bordertgleft }}">
                                    {% if not(tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle and redmankpi.activity_locations.systems.title == temptitle) %}
                                        {% if level2Granted %}
                                            <a href="{{ path('cms_subproject_activitymitigationstatus', { 'projectId': projectId, 'subprojectId': subprojectId} ) }}" style="font: inherit; text-decoration: underline;">{{ redmankpi.activity_locations.systems.managementtitle }}</a>
                                        {% else %}
                                            {{ redmankpi.activity_locations.systems.managementtitle }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td style="width: auto; vertical-align:middle; {{ bordertgleft }}">&nbsp;</td>
                                <td style="width: auto; vertical-align:middle; {{ bordertgleft }}">&nbsp;</td>

                                    {% if redmankpi.activity_locations.systems.kpi_management is defined and redmankpi.activity_locations.systems.kpi_management is not empty and not(tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle and redmankpi.activity_locations.systems.title == temptitle)%}
                                    <td style="width: auto; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                        {% if redmankpi.activity_locations.systems.kpi_management == 'A' %}
                                            <svg height="100" width="100">
                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                Sorry, your browser does not support inline SVG.
                                            </svg>
                                        {% elseif redmankpi.activity_locations.systems.kpi_management == 'R'%}
                                            <svg height="100" width="100">
                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                Sorry, your browser does not support inline SVG.
                                            </svg>
                                        {% endif %}
                                    {% else %}
                                        <td style="{{ bordertbottom }} {{ bordertgleft }}">&nbsp;
                                    {% endif %}


                                </td>
                            </tr>
                            {% set tempmanagementtitle = redmankpi.activity_locations.systems.managementtitle %}
                            {% set temptitle = redmankpi.activity_locations.systems.title %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- ends here-->
            </table>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="kpisoverflow">
            <table class="record_properties" style="width:100%; border:1px solid; border-color: #cccccc;">
                <thead>
                <tr>
                    <td colspan="5" style="font-size:18px;">Red and Amber Control KPIs <span style="font-size:10px;"> (as of {{ "now"|date("j M Y") }} )</span></td>
                </tr>
                <tr style="background-color: #101840">
                    <th style="vertical-align: middle;">System</th>
                    <th style="vertical-align: middle;">Activity</th>
                    <th style="vertical-align: middle;">Location</th>
                    <th style="vertical-align: middle;">Location Specific KPI</th>
                    <th style="vertical-align: middle; text-align:center;">Overall KPI</th>
                </tr>
                </thead>

                <!-- begins here - location specific control kpis with overall kpi -->

                {% set tempNoLocationsActivityTitle = "" %}
                {% set tempSystemsTitle = "" %}
                {% set tempLocationTitle = "" %}
                {% set arrCheck = [] %}
                {% set bordertgleft = 'border-left: 1px solid #ccc;' %}
                {% if redcontrolkpis.activity_locations.systems is defined %}
                    {% for redconkpi in redcontrolkpis.activity_locations.systems %}
                        {% if redconkpi.activity is defined %}
                            {% for redactivity in redconkpi.activity %}
                                {% if redactivity.location is defined %}

                                    {% if redactivity.location is not empty and redactivity.location|length > 5 %}
                                        {% if tempSystemsTitle == redconkpi.title %}
                                            {%  set bordertgbottom = 'border-top: 1px solid #fff;' %}
                                        {% else %}
                                            {%  set bordertgbottom = '' %}
                                        {% endif %}
                                        {% if tempNoLocationsActivityTitle == redactivity.title and tempSystemsTitle == redconkpi.title %}
                                            {%  set bordertbottom = 'border-top: 1px solid #fff;' %}
                                        {% else %}
                                            {%  set bordertbottom = '' %}
                                        {% endif %}
                                        <tr>
                                            <td style="width: auto; vertical-align: middle; {{ bordertgbottom }}">
                                                {% if tempSystemsTitle != redconkpi.title %}
                                                    {{ redconkpi.title }}
                                                {% endif %}
                                            </td>
                                            <td style="width: auto; vertical-align:middle; {{ bordertbottom }} {{ bordertgleft }}">
                                                {% set arrCheck = arrCheck|merge([redactivity.id]) %}
                                                {#Change for the case when the same activity name appears for 2 systems consequently#}
                                                {% if not(tempNoLocationsActivityTitle == redactivity.title and tempSystemsTitle == redconkpi.title) %}
                                                    {% if level2Granted %}
                                                        <a href="{{ path('cms_subproject_corrosion_datasheet', { 'projectId': projectId, 'subprojectId': subprojectId,'id': redactivity.id} ) }}" style="font: inherit; text-decoration: underline;">{{ redactivity.title }}</a>
                                                    {% else %}
                                                        {{ redactivity.title }}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td style="width: auto; vertical-align: middle; {{ bordertgleft }}">
                                                Refer to Justification, Recommendations
                                            </td>
                                            <td style="width: auto; text-align:center; vertical-align: middle; {{ bordertgleft }}">
                                                <svg height="100" width="100">
                                                    <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                    Sorry, your browser does not support inline SVG.
                                                </svg>
                                            </td>
                                            {% if redactivity.kpicontrol is defined and not (tempNoLocationsActivityTitle == redactivity.title and tempSystemsTitle == redconkpi.title) %}
                                                <td style="width: auto; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                                    {% if redactivity.kpicontrol == 'A' %}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% elseif redactivity.kpicontrol == 'R'%}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% elseif redactivity.kpicontrol == 'G'%}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                <td style="{{ bordertbottom }} {{ bordertgleft }}">&nbsp;</td>
                                            {% endif %}
                                        </tr>
                                        {% set tempNoLocationsActivityTitle = redactivity.title %}
                                        {% set tempSystemsTitle = redconkpi.title %}

                                    {% else %}
                                        {% for redlocation in redactivity.location %}
                                            {% if tempSystemsTitle == redconkpi.title %}
                                                {%  set bordertgbottom = 'border-top: 1px solid #fff;' %}
                                            {% else %}
                                                {%  set bordertgbottom = '' %}
                                            {% endif %}
                                            {% if tempNoLocationsActivityTitle == redactivity.title and tempSystemsTitle == redconkpi.title %}
                                            {%  set bordertbottom = 'border-top: 1px solid #fff;' %}
                                        {% else %}
                                            {%  set bordertbottom = '' %}
                                        {% endif %}
                                            {% if tempLocationTitle == redlocation.title %}
                                                {%  set borderlbottom = 'border-top: 1px solid #fff;' %}
                                            {% else %}
                                                {%  set borderlbottom = '' %}
                                            {% endif %}
                                            <tr>
                                                <td style="width: auto; vertical-align: middle; {{ bordertgbottom }}">
                                                    {% if tempSystemsTitle != redconkpi.title %}
                                                        {{ redconkpi.title }}
                                                    {% endif %}
                                                </td>
                                                <td style="width: auto; vertical-align:middle; {{ bordertbottom }} {{ bordertgleft }}">
                                                    {% set arrCheck = arrCheck|merge([redactivity.id]) %}
                                                    {#Change for the case when the same activity name appears for 2 systems consequently#}
                                                    {% if not(tempNoLocationsActivityTitle == redactivity.title and tempSystemsTitle == redconkpi.title) %}
                                                        {% if level2Granted %}
                                                            <a href="{{ path('cms_subproject_corrosion_datasheet', { 'projectId': projectId, 'subprojectId': subprojectId,'id': redactivity.id} ) }}" style="font: inherit; text-decoration: underline;">{{ redactivity.title }}</a>
                                                        {% else %}
                                                            {{ redactivity.title }}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td style="width: auto; vertical-align: middle; {{ bordertgleft }}">
                                                    {#{% if tempLocationTitle != redlocation.title %}#}
                                                    {{ redlocation.title }}
                                                    {#{% endif %}#}
                                                </td>
                                                <td style="width: auto; text-align:center; vertical-align: middle; {{ bordertgleft }}">
                                                    {% if redlocation.color == 'amber' %}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% elseif redlocation.color == 'red'%}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% endif %}
                                                </td>
                                                {% if redactivity.kpicontrol is defined and not(tempNoLocationsActivityTitle == redactivity.title and tempSystemsTitle == redconkpi.title) %}
                                                    <td style="width: auto; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                                        {% if redactivity.kpicontrol == 'A' %}
                                                            <svg height="100" width="100">
                                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                        {% elseif redactivity.kpicontrol == 'R'%}
                                                            <svg height="100" width="100">
                                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                        {% elseif redactivity.kpicontrol == 'G'%}
                                                            <svg height="100" width="100">
                                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td style="{{ bordertbottom }} {{ bordertgleft }}">&nbsp;</td>
                                                {% endif %}
                                            </tr>
                                            {% set tempNoLocationsActivityTitle = redactivity.title %}
                                            {% set tempSystemsTitle = redconkpi.title %}
                                            {% set tempLocationTitle = redlocation.title %}
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <!-- ends here - location specific control kpis with overall kpi -->

            </table>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="kpisoverflow">
            <table class="record_properties" style="width:100%; border:1px solid; border-color: #cccccc;">
                <thead>
                <tr>
                    <td colspan="3" style="font-size:18px;">Details for Red and Amber Management KPIs</td>
                </tr>
                <tr style="background-color: #101840">
                    <th style="vertical-align: middle;">System</th>
                    <th style="vertical-align: middle;">Activity</th>
                    <th style="vertical-align: middle;">Justification/Recommendation</th>
                </tr>
                </thead>
                {% set temp = "" %}
                {% if redmanagementkpis is defined and redmanagementkpis is not empty %}
                    {% for redmankpi in redmanagementkpis %}
                        {% if redmankpi.activity_locations.systems.title is defined %}

                            {% if temp == redmankpi.activity_locations.systems.title %}
                                {%  set bordertgbottom = 'border-top: 1px solid #fff;' %}
                            {% else %}
                                {%  set bordertgbottom = '' %}
                            {% endif %}
                            <tr>
                                <td style="width: auto; {{ bordertgbottom }}">
                                    {% if temp != redmankpi.activity_locations.systems.title %}
                                        {{ redmankpi.activity_locations.systems.title }}
                                    {% endif %}
                                </td>
                                <td style="width: auto; {{ bordertgleft }}">
                                    {% if level2Granted %}
                                        <a href="{{ path('cms_subproject_activitymitigationstatus', { 'projectId': projectId, 'subprojectId': subprojectId} ) }}" style="font: inherit; text-decoration: underline;">{{ redmankpi.activity_locations.systems.managementtitle }}</a>
                                    {% else %}
                                        {{ redmankpi.activity_locations.systems.managementtitle }}
                                    {% endif %}
                                </td>
                                <td style="width: auto; {{ bordertgleft }}">
                                    {% if redmankpi.activity_locations.systems.justification_management is defined and redmankpi.activity_locations.systems.justification_management is not empty %}
                                        {{ redmankpi.activity_locations.systems.justification_management|nl2br }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                        {% set temp = redmankpi.activity_locations.systems.title %}
                    {% endfor %}
                {% endif %}
            </table>
        </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
        <div class="kpisoverflow">
            <table class="record_properties" style="width:100%; border:1px solid; border-color: #cccccc;">
                <thead>
                <tr>
                    <td colspan="3" style="font-size:18px;">Details for Red and Amber Control KPIs</td>
                </tr>
                <tr style="background-color: #101840">
                    <th style="vertical-align: middle;">System</th>
                    <th style="vertical-align: middle;">Activity</th>
                    <th style="vertical-align: middle;">Justification/Recommendation</th>
                </tr>
                </thead>
                {% set arrayDuplicate = [] %}
                {% set temp = "" %}
                {% if redcontrolkpis.activity_locations.systems is defined %}
                    {% for redconkpi in redcontrolkpis.activity_locations.systems %}
                        {% if redconkpi.activity is defined %}
                            {% for redactivity in redconkpi.activity %}
                                {% set arrayDuplicate = arrayDuplicate|merge([{ id: redactivity.id }]) %}
                                {% if temp == redconkpi.title %}
                                    {%  set bordertgbottom = 'border-top: 1px solid #fff;' %}
                                {% else %}
                                    {%  set bordertgbottom = '' %}
                                {% endif %}
                                <tr>
                                    <td style="width: auto; {{ bordertgbottom }}">
                                        {% if temp != redconkpi.title %}
                                            {{ redconkpi.title }}
                                        {% endif %}
                                    </td>
                                    <td style="width: auto; {{ bordertgleft }}">
                                        {% if level2Granted %}
                                            <a href="{{ path('cms_subproject_corrosion_datasheet', { 'projectId': projectId, 'subprojectId': subprojectId,'id': redactivity.id} ) }}" style="font: inherit; text-decoration: underline;">{{ redactivity.title }}</a>
                                        {% else %}
                                            {{ redactivity.title }}
                                        {% endif %}
                                    </td>
                                    <td style="width: auto; {{ bordertgleft }}">{{ redactivity.justification|nl2br }}</td>
                                </tr>
                                {% set temp = redconkpi.title %}
                            {% endfor %}
                        {% endif %}

                    {% endfor %}
                {% endif %}

            </table>
        </div>

    </div>
</div>

<br>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        &nbsp;
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="background-color: #101840;text-align: center;">
        {% if (level1Granted or level2Granted) %}
            <h4>
                {#<a style="text-decoration: none; color: #FFF;font-weight: bold;" href="#overduetab">#}
                Cumulative count of overdue activities = {{ (category ==1 ? corrOverdueCount:faOverdueCount) }} <span style="font-size:10px;color:#FFFFFF;"> (up till {{ toDate|date("j M Y") }} )</span> </h4>
        {% else %}
            <h4>Cumulative count of overdue activities = {{ (category ==1 ? corrOverdueCount:faOverdueCount)  }} <span style="font-size:10px;color:#FFFFFF;"> (up till {{ toDate|date("j M Y") }} )</span></h4>
        {% endif %}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">

    </div>
</div>

<br>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="kpisoverflow">
            <table class="record_properties" style="width:100%; border:1px solid; border-color: #cccccc;">
                <thead>
                <tr>
                    <td colspan="4" style="font-size:18px;" class="click">
                        {% if (level1Granted or level2Granted) %}
                            <span id="overduetab" name="overduetab" style="text-decoration: none;">Overdue Activity Details </span><span style="font-size:10px;"> (up till {{ toDate|date('j M Y') }} )</span>
                        {% else %}
                            <span id="overduetab" name="overduetab" style="text-decoration: none;">Overdue Activity Details </span><span style="font-size:10px;"> (up till {{ toDate|date('j M Y') }} )</span>
                        {% endif %}
                    </td>
                </tr>
                <tr style="background-color: #101840">
                    <th style="vertical-align: middle;">Activity</th>
                    <th style="vertical-align: middle;">Overdue since</th>
                    <th style="vertical-align: middle;">Frequency (months)</th>
                    <th style="vertical-align: middle;">Action Owner</th>
                </tr>
                </thead>
                {% if overdueActivities is defined and overdueActivities is not empty %}
                    <tbody>
                    {% for overdueactivity in overdueActivities %}
                        <tr>
                            <td style="vertical-align: middle;">{{ overdueactivity.title }}</td>
                            <td style="vertical-align: middle;">{{ overdueactivity.duedate }}</td>
                            <td style="vertical-align: middle;">{{ overdueactivity.frequency }}</td>
                            <td style="vertical-align: middle;">{{ overdueactivity.actionowner }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}

            </table>
        </div>

    </div>
</div>
<script type="text/javascript">
    {% if managementComplianceData != '[]' or controlComplianceData != '[]' %}
    {% if entityreports[0].complianceData is defined and entityreports[0].complianceData is not empty %}
    {% set jData = json_decode(entityreports[0].complianceData) %}
    {% if category == 1  %}
    {% set controlcompliance = null %}
    {% set managementcompliance = null %}
    {% set managementcompliance = jData.overallmanagementcompliance|round(1, 'floor') %}
    {% set controlcompliance = jData.overallcontrolcompliance|round(1, 'floor') %}
    {% elseif category == 2 %}
    {% set controlcompliance = null %}
    {% set managementcompliance = null %}
    {% if jData.flowassuranceoverallmanagementcompliance is defined %}
    {% set managementcompliance = jData.flowassuranceoverallmanagementcompliance|round(1, 'floor') %}
    {% endif %}
    {% if jData.flowassuranceoverallcontrolcompliance is defined %}
    {% set controlcompliance = jData.flowassuranceoverallcontrolcompliance|round(1, 'floor') %}
    {% endif %}
    {% endif %}
    {% else %}
    {% set controlcompliance = null %}
    {% set managementcompliance = null %}
    {% endif %}
    $(function() {
        var projectId = {{ projectId }};
        var subprojectId = {{ subprojectId }};
        var data = eval({{ managementComplianceData }});
        var managementData = eval({{ managementComplianceData }});
        console.log(managementData);
        var controlData = eval({{ controlComplianceData }});
        console.log(controlData);
        var redData = eval({{ redComplianceData }});
        var greenData = eval({{ greenComplianceData }});

        // Create the chart
        window.chart = Highcharts.stockChart('containerCompliance_{{ category }}', {

            chart: {
                renderTo: 'containerCompliance',
                borderColor: '#d2d5d5',
                borderWidth: 1,
                type: 'line',
                height: 520,
                plotBackgroundColor: {

                    linearGradient: {
                        x1: 0,
                        x2: 0,
                        y1: 0,
                        y2: 1
                    },
                    stops: [
                        /*[0, 'rgba(146,208,80,0.8)'],
                        [0.20, 'rgba(146,208,80,0.8)'],
                        [0.30, 'rgba(255,201,14,0.8)'],
                        [0.45, 'rgba(255,201,14,0.8)'],
                        [0.55, 'rgba(255,70,70,0.8)'],
                        [1, 'rgba(255,70,70,0.8)'],*/
                        [0, 'rgba(146,208,80,0.8)'],
                        [0.40, 'rgba(255,201,14,0.8)'],
                        [0.75, 'rgba(255,70,70,0.8)'],
                        [1, 'rgba(255,70,70,0.8)'],
                    ]
                },

            },

            title: {
                align: 'left',
                text: 'Overall Compliance',
                style: {
                    color: '#333333',
                    fontSize: "18px",
                    fill: "#333333",
                },
            },
            tooltip: {
                formatter: function () {
                    var d = new Date(this.x);

                    // numberFormat takes your label's value and the decimal places to show
                    //return ( + '%';

                    var s = [];

                    $.each(this.points, function (i, point) {
                        if (i < 2) {

                            s.push('<span style="font-weight:bold;">' + point.series.name + ' : ' + point.y + '%<span>');
                        }
                    });

                    return '<span style="font-weight:bold;">' + ((d.getMonth()+1) + '-' + d.getFullYear()) + "</span><br />" +s.join(' and ');
                    shared: true
                },
            },
            xAxis: {
                type: 'datetime',
                minTickInterval: 28*24*3600*1000,
                dateTimeLabelFormats: {
                    day: '%e of %b',
                },
                minRange: 14 * 24 * 3600000,
                gridLineWidth: 0,
                minorGridLineWidth: 0,
            },

            plotOptions: {
                series: {
                    pointInterval: 28 * 24 * 3600 * 1000
                }
            },

            yAxis: {
                opposite: false,
                title: {
                    text: 'Overall Compliance %',
                    style: {
                        color: '#000000',
                    }
                },
                gridLineWidth: 0,
                minorGridLineWidth: 0,
                tickInterval: 25,
                min: 0,
                max: 100,
            },

            rangeSelector: {
                selected: 8,
                inputEnabled: false,
            },

            legend: {
                enabled: true,
                align: 'center',
                verticalAlign: 'top',
                layout: 'horizontal',
                x: -20,
                margin: 5,
                itemMarginTop: 10,
                itemMarginBottom: 2,
            },

            series: [{
                name: 'Management',
                data: managementData,
                marker: {
                    enabled: true,
                    radius: 4
                },
                color: '#434348',
                lineWidth: 2,
                {% if chart_has_prediction is not null %}
                zoneAxis: 'x',
                zones: [{
                    value: new Date({{ chart_has_prediction|date("Y") }}, {{ chart_has_prediction|date("m") - 1 }}, {{ chart_has_prediction|date("d") }}, 0, 0, 0, 0),
                }, {
                    dashStyle: 'shortdash'
                }]
                {% endif %}

            },{
                name: 'Control',
                data: controlData,
                marker: {
                    enabled: true,
                    radius: 4
                },
                color: '#6e6e6e',
                lineWidth: 2,
                {% if chart_has_prediction is not null %}
                zoneAxis: 'x',
                zones: [{
                    value: new Date({{ chart_has_prediction|date("Y") }}, {{ chart_has_prediction|date("m") - 1 }}, {{ chart_has_prediction|date("d") }}, 0, 0, 0, 0),
                }, {
                    dashStyle: 'shortdash'
                }]
                {% endif %}
            },{
                name: 'Red Threshold',
                data: redData,
                color: 'red',
                zones: [ {
                    dashStyle: 'shortdash'
                }],
            },{
                name: 'Green Threshold',
                data: greenData,
                color: 'green',
                zones: [ {
                    dashStyle: 'shortdash'
                }],
            }],

            credits: {
                enabled: false
            },
        },function (chart) {

            // apply the date pickers
            setTimeout(function () {
                $('input.highcharts-range-selector', $(chart.container).parent())
                    .datepicker();
            }, 0);
        });

        var gaugeOptions = {

            chart: {
                type: 'pie',
                height: 240,
                width: 280,
                borderRadius: 0
            },

            title: false,

            tooltip: {
                enabled: false
            },

            // the value axis
            plotOptions: {
                pie: {
                    borderWidth: 2,
                    startAngle: 0,
                    innerSize: '64%',
                    size: '100%',
                    shadow: false,
                    dataLabels: false,
                    stickyTracking: false,
                    states: {
                        hover: {
                            enabled: false
                        }
                    },
                }
            }
        };

        var colors = ['#DF5353', '#FFC200', '#55BF3B'];
        var managementPercentage = {{ managementcompliance|default(0) }};
        var controlPercentage = {{ controlcompliance|default(0) }};
        var predMgmtPrec = {{ corrosion_prediction['mgmt']|default(0) }};
        var predCtrltPrec = {{ corrosion_prediction['ctrl']|default(0) }};

        if (managementPercentage < 50)
        {
            var mancolors = colors[0];
        }
        else if(managementPercentage >= 50 && managementPercentage < 75){

            var mancolors = colors[1];
        }
        else if(managementPercentage >= 75)
        {
            var mancolors = colors[2];
        }

        if (controlPercentage < 50)
        {
            var concolors = colors[0];
        }
        else if(controlPercentage >= 50 && controlPercentage < 75){
            var concolors = colors[1];
        }
        else if(controlPercentage >= 75)
        {
            var concolors = colors[2];
        }

        if (predMgmtPrec < 50)
        {
            var predmancolors = colors[0];
        }
        else if(predMgmtPrec >= 50 && predMgmtPrec < 75){
            var predmancolors = colors[1];
        }
        else if(predMgmtPrec >= 75)
        {
            var predmancolors = colors[2];
        }

        if (predCtrltPrec < 50)
        {
            var predconcolors = colors[0];
        }
        else if(predCtrltPrec >= 50 && predCtrltPrec < 75){
            var predconcolors = colors[1];
        }
        else if(predCtrltPrec >= 75)
        {
            var predconcolors = colors[2];
        }

        var remainingManPercentage = 100 - managementPercentage;

        var remainingConPercentage = 100 - controlPercentage;
        Highcharts.chart('containerSpeedManagement_{{ category }}',{
            chart: {
                type: 'pie',
                backgroundColor: null,
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Management Compliance',
                align: 'left'
            },
            yAxis: {
                title: {
                    text: 'Compliance Percentage'
                }
            },
            plotOptions: {
                pie: {
                    borderWidth: 0.5,
                    borderColor: 'rgba(230,230,230,1)',
                    shadow: false,
                    center: ['50%', '55%'],
                    dataLabels: {
                        enabled: false,
                        formatter:function() {
                            if(this.y != 0) {
                                return this.key + ": " + this.y + '%';
                            }
                        }
                    },
                    showInLegend: false
                }
            },
            tooltip: {
                formatter: function() {
                    // If the point is going to have a tooltip
                    if(!this.point.noTooltip) {
                        // Mimic default tooltip contents
                        return this.series.name+ ': ' +this.point.y+ '%';
                    }

                    // If tooltip is disabled
                    return false;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },credits: {
                enabled: false
            },
            series: [
                {% if managementcompliance is not null %}
                {
                    name: 'Approved Compliance',
                    data: [{
                        name: 'Approved Compliance',
                        x: 0,
                        y: {{ managementcompliance|round(2, 'floor') }},
                        color: mancolors,
                        dataLabels: {
                            enabled: false
                        }
                    },{
                        x: 1,
                        y: {{ 100 - managementcompliance|round(2, 'floor') }},
                        color: 'rgba(0,0,0,0)',
                        dataLabels: {
                            enabled: false
                        }, noTooltip: true
                    }],
                    size: '90%',
                    innerSize: '75%',
                    slicedOffset: 0
                },
                {% endif %}
                {% if chart_has_prediction is not null %}
                {
                    name: 'Current Compliance',
                    data: [{
                        name: 'Current Compliance',
                        x: 0,
                        y: {{ corrosion_prediction['mgmt']|round(2, 'floor') }},
                        color: '#999999',
                        dataLabels: {
                            enabled: false
                        }
                    },{
                        x: 1,
                        y: {{ 100 - corrosion_prediction['mgmt']|round(2, 'floor') }},
                        color: 'rgba(0,0,0,0)',
                        dataLabels: {
                            enabled: false,
                        }, noTooltip: true
                    }],
                    size: '{{ managementcompliance is not null ? '67%' : '90%' }}',
                    innerSize: '{{ managementcompliance is not null ? '59%' : '75%' }}',
                    slicedOffset: 0
                }
                {% endif %}
            ],navigation: {
                buttonOptions: {
                    enabled: false
                }

            },
            exporting: {
                sourceWidth: 600,
                sourceHeight: 400,
                // scale: 2 (default)
                chartOptions: {
                    subtitle: null
                }
            }
        },  function(chart) { // on complete

            var xpos = '50%';
            var ypos = '50%';
            var circleradius = 102;

            // Render the text
            {% if managementcompliance is not null %}
            chart.innerText = chart.renderer.text("Approved: " + {{ managementcompliance|round(2, 'floor') }}+"%", 10, 240).css({
                width: circleradius*2,
                color: 'black',
                fontSize: '10px',
                fontWeight: 'bold',
                textAlign: 'center'
            }).attr({
                // why doesn't zIndex get the text in front of the chart?
                zIndex: 999
            }).add();
            {% endif %}
            {% if chart_has_prediction is not null %}
            chart.innerText = chart.renderer.text("Current: " + {{ corrosion_prediction['mgmt']|round(2, 'floor') }}+"%", 10, {{ managementcompliance is not null ? 225 : 240 }}).css({
                width: circleradius*2,
                color: 'black',
                fontSize: '10px',
                fontWeight: 'bold',
                textAlign: 'center'
            }).attr({
                // why doesn't zIndex get the text in front of the chart?
                zIndex: 999
            }).add();
            {% endif %}

        });
        Highcharts.chart('containerSpeedControl_{{ category }}',{
            chart: {
                type: 'pie',
                backgroundColor: null,
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Control Compliance',
                align: 'left'
            },
            yAxis: {
                title: {
                    text: 'Compliance Percentage'
                }
            },
            plotOptions: {
                pie: {
                    borderWidth: 0.5,
                    borderColor: 'rgba(230,230,230,1)',
                    shadow: false,
                    center: ['50%', '55%'],
                    dataLabels: {
                        enabled: false,
                        formatter:function() {
                            if(this.y != 0) {
                                return this.key + ": " + this.y + '%';
                            }
                        }
                    },
                    showInLegend: false
                }
            },
            tooltip: {
                formatter: function() {
                    // If the point is going to have a tooltip
                    if(!this.point.noTooltip) {
                        // Mimic default tooltip contents
                        return this.series.name+ ': ' +this.point.y+ '%';
                    }

                    // If tooltip is disabled
                    return false;
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },credits: {
                enabled: false
            },
            series: [
                {% if controlcompliance is not null %}
                {
                    name: 'Approved Compliance',
                    data: [{
                        name: 'Approved Compliance',
                        x: 0,
                        y: {{ controlcompliance|round(2, 'floor') }},
                        color: concolors,
                        dataLabels: {
                            enabled: false
                        }
                    },{
                        x: 1,
                        y: {{ 100 - controlcompliance|round(2, 'floor') }},
                        color: 'rgba(0,0,0,0)',
                        dataLabels: {
                            enabled: false
                        }, noTooltip: true
                    }],
                    size: '90%',
                    innerSize: '75%',
                    slicedOffset: 0
                },
                {% endif %}
                {% if chart_has_prediction is not null %}
                {
                    name: 'Current Compliance',
                    data: [{
                        name: 'Current Compliance',
                        x: 0,
                        y: {{ corrosion_prediction['ctrl']|round(2, 'floor') }},
                        color: '#999999',
                        dataLabels: {
                            enabled: false
                        }
                    },{
                        x: 1,
                        y: {{ 100 - corrosion_prediction['ctrl']|round(2, 'floor') }},
                        color: 'rgba(0,0,0,0)',
                        dataLabels: {
                            enabled: false,
                        }, noTooltip: true
                    }],
                    size: '{{ controlcompliance is not null ? '67%' : '90%' }}',
                    innerSize: '{{ controlcompliance is not null ? '59%' : '75%' }}',
                    slicedOffset: 0
                }
                {% endif %}
            ],navigation: {
                buttonOptions: {
                    enabled: false
                }

            },
            exporting: {
                sourceWidth: 600,
                sourceHeight: 400,
                // scale: 2 (default)
                chartOptions: {
                    subtitle: null
                }
            }
        },  function(chart) { // on complete

            var xpos = '50%';
            var ypos = '50%';
            // Render the text
            {% if controlcompliance is not null %}
            chart.innerText = chart.renderer.text("Approved: " + {{ controlcompliance|round(2, 'floor') }}+"%", 10, 240).css({
                width: 300,
                color: 'black',
                fontSize: '10px',
                fontWeight: 'bold',
                textAlign: 'center'
            }).attr({
                // why doesn't zIndex get the text in front of the chart?
                zIndex: 999
            }).add();
            {% endif %}
            {% if chart_has_prediction is not null %}
            chart.innerText = chart.renderer.text("Current: " + {{ corrosion_prediction['ctrl']|round(2, 'floor') }}+"%", 10, {{ controlcompliance is not null ? 225 : 240 }}).css({
                width: 300,
                color: 'black',
                fontSize: '10px',
                fontWeight: 'bold',
                textAlign: 'center'
            }).attr({
                // why doesn't zIndex get the text in front of the chart?
                zIndex: 999
            }).add();
            {% endif %}

        });

    });
    {% endif %}
</script>