{% block content -%}
    {% set totctrlgreen = 0 %}
    {% set totctrlamber = 0 %}
    {% set totctrlred = 0 %}
    {% set totmangreen = 0 %}
    {% set totmanamber = 0 %}
    {% set totmanred = 0 %}
    {% set totoverdue = 0 %}

    {% if entityreports[0].complianceData is defined and entityreports[0].complianceData is not empty %}
        {% set jData = json_decode(entityreports[0].complianceData) %}
    {% endif %}

    <div class="container" style="width:100%">
        {% if managementComplianceData != '[]' or controlComplianceData != '[]' %}
            {% set redCtrl = 0 %}
            {% set redMgmt = 0 %}
            {% set fa_redCtrl = 0 %}
            {% set fa_redMgmt = 0 %}
            {% set odcount = 0 %}
            {% for spmrdata in entity.spmr %}
                {% if spmrdata.isApproved %}
                    {% set g = json_decode(spmrdata.complianceData) %}
                    {% set redCtrl = g.control.totalredkpi %}
                    {% set redMgmt = g.management.totalredkpi %}
                    {% if g.flowassurancemanagement.totalredkpi is defined %}
                        {% set fa_redMgmt = g.flowassurancemanagement.totalredkpi %}
                    {% endif %}
                    {% if g.flowassurancecontrol.totalredkpi is defined %}
                        {% set fa_redCtrl = g.flowassurancecontrol.totalredkpi %}
                    {% endif %}
                    {% set odcount = g.overdue %}
                {% endif %}
            {% endfor %}
            <table style="width:100%; border: 0px; border-collapse:collapse;">
                {#<br/>#}
                <tr style="height: 25px; padding:0; margin:0;">
                    <td style="border: 0px; align:center; text-align:center; vertical-align:middle;" colspan="2"> <span style="font-size: 18px;font-weight: bold">{{ entity.project.name }} - {{ entity.name }}</span></td>
                </tr>
                {#<td align="center" style="border: 0px; padding:5px; margin:0; font-size:18px; font-weight: bold; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{ entity.name }}</td>#}
                {#<tr style="height: 25px; padding:0; margin:0;">#}
                    {#<td style="border: 0px; align:center; text-align:center; vertical-align:middle;" colspan="2"> <span style="font-size: 19px;font-weight: bold">{{ entity.name }}</span></td>#}
                {#</tr>#}
                <tr style="height: 25px; padding:0; margin:0;">
                    <td style="border: 0px; align:center; text-align:center; vertical-align:middle;" colspan="2"> <span style="font-size: 18px;font-weight: bold">{{ fromDate|date('d M Y') }} - {{ toDate|date('d M Y') }} {% if category == 1 %} Corrosion {% elseif category == 2 %} Flow Assurance {% endif %}Management Compliance Report</span></td>
                </tr>
                <tr style="height: 7px; padding:0; margin:0;">
                  </tr>

                {#<tr style="height: 50px;">#}
                    {#<td colspan="2" style="width:100%; height: 50px;">#}
                        {#<table class="table table-bordered table-responsive table-condensed" style="width:100%; height: 50px;">#}
                            {#<thead>#}
                            {#<tr style="background-color: #17225A;color: white;">#}
                                {#<th style="text-align: center;">Red Control KPI</th>#}
                                {#<th style="text-align: center;">Red Management KPI</th>#}
                                {#<th style="text-align: center;">Overdue Activities</th>#}
                            {#</tr>#}
                            {#</thead>#}
                            {#<tbody>#}
                            {#<tr style="height: 30px;">#}
                                {#<td style="text-align: center;">#}
                                    {#<span class="red-kpi" style="margin-top: 0px;color:white;"><b>{{ (category == 1 ? redCtrl : fa_redCtrl) }}</b></span>#}
                                {#</td>#}
                                {#<td style="text-align: center;">#}
                                    {#<span class="red-kpi" style="margin-top: 0px;color:white;"><b>{{ (category == 1 ? redMgmt : fa_redMgmt) }}</b></span>#}
                                {#</td>#}
                                {#<td style="text-align: center;">#}
                                    {#<span class="red-kpi" style="background-color: #f7976a;margin-top: 0px;color:white;"><b>{{ odcount }}</b></span>#}
                                {#</td>#}
                            {#</tr>#}
                            {#</tbody>#}
                        {#</table>#}
                    {#</td>#}
                {#</tr>#}
                <TR>
                    <TD WIDTH="50%" align="left">
                        <div id="containerSpeedManagement_{{ category }}" style="width: 300px; float:left; height: 187px; padding-left: 17px;">
                        </div>
                    </TD>
                    <TD WIDTH="50%" align="left">
                        <div id="containerSpeedControl_{{ category }}" style="width: 300px; float:left; height: 187px; padding-left: 17px;">
                        </div>
                    </TD>
                </TR>
                <tr>
                    <td colspan="2" style="padding-top:10px; margin: 0; border: 0px solid #cccccc;font-size: 11px; position: relative; top: 0; padding-right: 9px; padding-bottom: 9px;">
                        {% if managementComplianceData is defined and managementComplianceData is not empty and controlComplianceData is defined and controlComplianceData is not empty %}
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10" id="containerCompliance_{{ category }}" style="padding-left: 9px;"></div>
                        {% endif %}
                    </td>
                </tr>
            </table>
        {% endif %}
        <br />
        <table class="record_properties table-bordered" style="width:100%; text-align: center; border: 1px solid #d2d5d5; border-collapse:collapse; overflow: visible !important;">
            <thead>
            <tr style="height: 20px;">
                <td colspan="3" style="font-size: 16px;font-weight: bold; text-align: left;">Summary</td>
            </tr>
            <tr style="background-color: #101840;height: 20px;">
                <th style="width:33%">Overall KPIs</th>
                <th style="width:33%">Management</th>
                <th style="width:33%">Control</th>
            </tr>
            </thead>
            <tbody>
            <tr style="height: 20px;">
                <td><span style="color: #00b050;font-weight: bold;">Green</span></td>
                <td>{{ complianceKPIData.management.green }}</td>
                <td>{{ complianceKPIData.control.green }}</td>
            </tr>
            <tr style="height: 20px;">
                <td><span style="color: #ffc000;font-weight: bold;">Amber</span></td>
                <td>{{ complianceKPIData.management.amber }}</td>
                <td>{{ complianceKPIData.control.amber }}</td>
            </tr>
            <tr style="height: 20px;">
                <td><span style="color: #ff0000;font-weight: bold;">Red</span></td>
                <td>{{ complianceKPIData.management.red }}</td>
                <td>{{ complianceKPIData.control.red }}</td>
            </tr>
            <tr style="height: 20px;">
                <td><span style="color: #000000;font-weight: bold;">Hold</span></td>
                <td>{{ complianceKPIData.management.hold }}</td>
                <td>{{ complianceKPIData.control.hold }}</td>
            </tr>
            <tr style="height: 20px;">
                <td><span style="color: #000000;font-weight: bold;">Total</span></td>
                <td>{{ complianceKPIData.management.green + complianceKPIData.management.amber + complianceKPIData.management.red + complianceKPIData.management.hold }}</td>
                <td>{{ complianceKPIData.control.green + complianceKPIData.control.amber + complianceKPIData.control.red + complianceKPIData.control.hold }}</td>
            </tr>
            </tbody>
        </table>
        {#<br />#}
        {#<br />#}
        <table class="record_properties" style="width:100%; border: 1px solid #d2d5d5; border-collapse:collapse; overflow: visible !important;">
            <thead>
            <tr style="height: 20px;">
                <td colspan="6" style="font-size: 16px;font-weight: bold;">Red and Amber Management KPIs</td>
            </tr>
            <tr style="background-color: #101840;height: 20px;">
                <th style="text-align:center; vertical-align: middle; width: 18%;">System</th>
                <th style="text-align:center; vertical-align: middle; width: 18%;">Activity</th>
                <th style="text-align:center; vertical-align: middle; width: 17%;">Location</th>
                <th style="text-align:center; vertical-align: middle; width: 10%;">Location Specific KPI</th>
                <th style="text-align:center; vertical-align: middle; width: 5%;">Overall KPI</th>
                <th style="text-align:center; vertical-align: middle; width: 22%;">Justification/Recommendation</th>
            </tr>
            </thead>
            {% set temptitle = "" %}
            <!-- begins here - location specific management kpis with overall kpi -->
            {% if redmanagementkpis is defined and redmanagementkpis is not empty %}
                {% set bordertgleft = 'border-left: 1px solid #ccc;' %}
                {% set tempmanagementtitle = "" %}
                {% set templocationtitle = "" %}
                {% for redmankpi in redmanagementkpis %}
                    {% if redmankpi.activity_locations.locations|length >= 1 %}
                        {% for key,innerlocation in redmankpi.activity_locations.locations %}
                            {% if redmankpi.activity_locations.performedlocations is defined and redmankpi.activity_locations.performedlocations is not empty %}
                                {% for outerkey,innerdeeplocation in redmankpi.activity_locations.performedlocations %}
                                    {% if innerdeeplocation.id == innerlocation.id %}
                                        {% if redmankpi.activity_locations.systems.title == temptitle %}
                                            {%  set bordertgbottom = 'border-top: solid #fff;' %}
                                        {% else %}
                                            {%  set bordertgbottom = '' %}
                                        {% endif %}
                                        <tr>
                                            <td style="width: 18%; vertical-align:middle; {{ bordertgbottom }}">{% if redmankpi.activity_locations.systems.title != temptitle %}{{ redmankpi.activity_locations.systems.title }}{% set tempmanagementtitle = '' %}{% endif %}</td>
                                            {% if tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle %}
                                                {%  set bordertbottom = 'border-top: solid #fff;' %}
                                            {% else %}
                                                {%  set bordertbottom = '' %}
                                            {% endif %}
                                            <td style="width: 18%; vertical-align:middle; {{ bordertbottom }} {{ bordertgleft }}">
                                                {% if tempmanagementtitle != redmankpi.activity_locations.systems.managementtitle %}
                                                    {% if level2Granted %}
                                                        {{ redmankpi.activity_locations.systems.managementtitle }}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            {% if innerlocation.location == templocationtitle %}
                                                {%  set borderlbottom = 'border-top: solid #fff;' %}
                                            {% else %}
                                                {%  set borderlbottom = '' %}
                                            {% endif %}
                                            <td style="width: 17%; {{ borderlbottom }} {{ bordertgleft }}">
                                                {% if innerlocation.location != templocationtitle %}
                                                    {{ innerlocation.location }}
                                                {% endif %}
                                            </td>
                                            <td style="width: 10%; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                                {% if innerdeeplocation.id == innerlocation.id and innerdeeplocation.management_performed == 'A' %}
                                                    <svg height="100" width="100">
                                                        <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                        Sorry, your browser does not support inline SVG.
                                                    </svg>
                                                {% elseif innerdeeplocation.id == innerlocation.id and innerdeeplocation.management_performed == 'R'%}
                                                    <svg height="100" width="100">
                                                        <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                        Sorry, your browser does not support inline SVG.
                                                    </svg>
                                                {% elseif innerdeeplocation.id == innerlocation.id and innerdeeplocation.management_performed == 'G'%}
                                                    <svg height="100" width="100">
                                                        <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />
                                                        Sorry, your browser does not support inline SVG.
                                                    </svg>
                                                {% endif %}
                                            </td>
                                            <td style="width: 5%; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                                {% if redmankpi.activity_locations.systems.kpi_management is defined and redmankpi.activity_locations.systems.kpi_management is not empty %}
                                                    {% if redmankpi.activity_locations.systems.kpi_management == 'A' %}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% elseif redmankpi.activity_locations.systems.kpi_management == 'R'%}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% elseif redmankpi.activity_locations.systems.kpi_management == 'G'%}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td style="width: 22%; vertical-align:middle; {{ bordertgleft }}">
                                                {% if redmankpi.activity_locations.systems.justification_management is defined and redmankpi.activity_locations.systems.justification_management is not empty %}
                                                    {{ redmankpi.activity_locations.systems.justification_management|nl2br }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% set tempmanagementtitle = redmankpi.activity_locations.systems.managementtitle %}
                                        {% set templocationtitle = innerlocation.location %}
                                        {% if redmankpi.activity_locations.systems.title is defined %} {% set temptitle = redmankpi.activity_locations.systems.title %} {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% if redmankpi.activity_locations.locations is defined and redmankpi.activity_locations.locations is not empty %}
                                    {% for outerkey,innerdeeplocation in redmankpi.activity_locations.locations %}
                                        {% if innerdeeplocation.id == innerlocation.id %}
                                            {% if redmankpi.activity_locations.systems.title == temptitle %}
                                                {%  set bordertgbottom = 'border-top: solid #fff;' %}
                                            {% else %}
                                                {%  set bordertgbottom = '' %}
                                            {% endif %}
                                            {% if innerlocation.location == templocationtitle %}
                                                {%  set borderlbottom = 'border-top: solid #fff;' %}
                                            {% else %}
                                                {%  set borderlbottom = '' %}
                                            {% endif %}
                                            <tr>
                                                <td style="width: 18%; vertical-align:middle; {{ bordertgbottom }};">{% if redmankpi.activity_locations.systems.title != temptitle %}{{ redmankpi.activity_locations.systems.title }}{% set tempmanagementtitle = '' %}{% endif %}</td>
                                                {% if tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle %}
                                                    {%  set bordertbottom = 'border-top: solid #fff;' %}
                                                {% else %}
                                                    {%  set bordertbottom = '' %}
                                                {% endif %}
                                                <td style="width: 18%; vertical-align:middle; {{ bordertbottom }} {{ bordertgleft }}">
                                                    {% if tempmanagementtitle != redmankpi.activity_locations.systems.managementtitle %}
                                                        {% if level2Granted %}
                                                            {{ redmankpi.activity_locations.systems.managementtitle }}
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td style="width: 17%; {{ borderlbottom }} {{ bordertgleft }}">
                                                    {% if innerlocation.location != templocationtitle %}
                                                        {{ innerlocation.location }}
                                                    {% endif %}
                                                </td>
                                                <td style="width: 10%; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                                    {% if innerdeeplocation.management_performed is defined %}
                                                        {% if innerdeeplocation.id == innerlocation.id and innerdeeplocation.management_performed == 'A' %}
                                                            <svg height="100" width="100">
                                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                        {% elseif innerdeeplocation.id == innerlocation.id and innerdeeplocation.management_performed == 'R'%}
                                                            <svg height="100" width="100">
                                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                        {% elseif innerdeeplocation.id == innerlocation.id and innerdeeplocation.management_performed == 'G'%}
                                                            <svg height="100" width="100">
                                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td style="width: 5%; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                                    {% if redmankpi.activity_locations.systems.kpi_management is defined and redmankpi.activity_locations.systems.kpi_management is not empty and tempmanagementtitle != redmankpi.activity_locations.systems.managementtitle %}
                                                        {% if redmankpi.activity_locations.systems.kpi_management == 'A' %}
                                                            <svg height="100" width="100">
                                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                        {% elseif redmankpi.activity_locations.systems.kpi_management == 'R'%}
                                                            <svg height="100" width="100">
                                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                        {% elseif redmankpi.activity_locations.systems.kpi_management == 'G'%}
                                                            <svg height="100" width="100">
                                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />
                                                                Sorry, your browser does not support inline SVG.
                                                            </svg>
                                                        {% endif %}
                                                    {% endif %}
                                                </td>
                                                <td style="width: 22%; vertical-align:middle; {{ bordertgleft }}">
                                                    {% if redmankpi.activity_locations.systems.justification_management is defined and redmankpi.activity_locations.systems.justification_management is not empty %}
                                                        {{ redmankpi.activity_locations.systems.justification_management|nl2br }}
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% set templocationtitle = innerlocation.location %}
                                            {% set tempmanagementtitle = redmankpi.activity_locations.systems.managementtitle %}
                                            {% if redmankpi.activity_locations.systems.title is defined %} {% set temptitle = redmankpi.activity_locations.systems.title %} {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            {% if redmankpi.activity_locations.systems.title is defined %} {% set temptitle = redmankpi.activity_locations.systems.title %} {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr>
                            {% if redmankpi.activity_locations.systems.title == temptitle %}
                                {%  set bordertgbottom = 'border-top: solid #fff;' %}
                            {% else %}
                                {%  set bordertgbottom = '' %}
                            {% endif %}
                            <td style="width: 18%; vertical-align:middle; {{ bordertgbottom }}">{% if redmankpi.activity_locations.systems.title != temptitle %}{{ redmankpi.activity_locations.systems.title }}{% set tempmanagementtitle = '' %}{% endif %}</td>
                            {% if tempmanagementtitle == redmankpi.activity_locations.systems.managementtitle %}
                                {%  set bordertbottom = 'border-top: solid #fff;' %}
                            {% else %}
                                {%  set bordertbottom = '' %}
                            {% endif %}
                            <td style="width: 18%; vertical-align:middle; {{ bordertbottom }} {{ bordertgleft }}">
                                {% if tempmanagementtitle != redmankpi.activity_locations.systems.managementtitle %}
                                    {% if level2Granted %}
                                        {{ redmankpi.activity_locations.systems.managementtitle }}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td style="width: 17%; vertical-align:middle; {{ bordertgleft }}">&nbsp;</td>
                            <td style="width: 10%; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                <svg height="100" width="100">
                                    <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#ffffff" />
                                    Sorry, your browser does not support inline SVG.
                                </svg>
                            </td>
                            <td style="width: 5%; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                {% if redmankpi.activity_locations.systems.kpi_management is defined and redmankpi.activity_locations.systems.kpi_management is not empty %}
                                    {% if redmankpi.activity_locations.systems.kpi_management == 'A' %}
                                        <svg height="100" width="100">
                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                            Sorry, your browser does not support inline SVG.
                                        </svg>
                                    {% elseif redmankpi.activity_locations.systems.kpi_management == 'R'%}
                                        <svg height="100" width="100">
                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                            Sorry, your browser does not support inline SVG.
                                        </svg>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td style="width: 22%; vertical-align:middle; {{ bordertgleft }}">
                                {% if redmankpi.activity_locations.systems.justification_management is defined and redmankpi.activity_locations.systems.justification_management is not empty %}
                                    {{ redmankpi.activity_locations.systems.justification_management|nl2br }}
                                {% endif %}
                            </td>
                        </tr>
                        {% set tempmanagementtitle = redmankpi.activity_locations.systems.managementtitle %}
                        {% set temptitle = redmankpi.activity_locations.systems.title %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!-- ends here-->
        </table>
        <br />
        <br />
        <table class="record_properties" style="width:100%; border: 1px solid #d2d5d5; border-collapse:collapse; overflow: visible !important;">
            <thead>
            <tr style="height: 20px;">
                <td colspan="6" style="font-size: 16px; font-weight: bold;">Red and Amber Control KPIs</td>
            </tr>
            <tr style="background-color: #101840;height: 20px;">
                <th style="vertical-align: middle; width: 18%;">System</th>
                <th style="vertical-align: middle; width: 18%;">Activity</th>
                <th style="vertical-align: middle; width: 17%;">Location</th>
                <th style="vertical-align: middle; width: 10%;">Location Specific KPI</th>
                <th style="vertical-align: middle; width: 5%;">Overall KPI</th>
                <th style="vertical-align: middle; width: 22%;">Justification/Recommendation</th>
            </tr>
            </thead>

            <tbody>
            <!-- begins here - location specific control kpis with overall kpi -->
            {% set tempNoLocationsActivityTitle = "" %}
            {% set tempSystemsTitle = "" %}
            {% set tempLocationTitle = "" %}
            {% set arrCheck = [] %}
            {% set bordertgleft = 'border-left: 1px solid #ccc;' %}
            {% if redcontrolkpis.activity_locations.systems is defined %}
                {% for redconkpi in redcontrolkpis.activity_locations.systems %}
                    {% if redconkpi.activity is defined %}
                        {% for redactivity in redconkpi.activity %}
                            {% if redactivity.location is defined %}
                                {% if redactivity.location is not empty and redactivity.location|length > 5 %}
                                    {% if tempSystemsTitle == redconkpi.title %}
                                        {%  set bordertgbottom = 'border-top: 1px solid #fff;' %}
                                    {% else %}
                                        {%  set bordertgbottom = '' %}
                                    {% endif %}
                                    {% if tempNoLocationsActivityTitle == redactivity.title %}
                                        {%  set bordertbottom = 'border-top: 1px solid #fff;' %}
                                    {% else %}
                                        {%  set bordertbottom = '' %}
                                    {% endif %}
                                    <tr>
                                        <td style="width: 18%; vertical-align: middle; {{ bordertgbottom }}">
                                            {% if tempSystemsTitle != redconkpi.title %}
                                                {{ redconkpi.title }}
                                            {% endif %}
                                        </td>
                                        <td style="width: 18%; vertical-align:middle; {{ bordertbottom }} {{ bordertgleft }}">
                                            {% set arrCheck = arrCheck|merge([redactivity.id]) %}
                                            {% if tempNoLocationsActivityTitle != redactivity.title %}
                                                {% if level2Granted %}
                                                    {{ redactivity.title }}
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                        <td style="width: 10%; text-align:center; vertical-align: middle; {{ bordertgleft }}">
                                            Refer to Justification, Recommendations
                                        </td>
                                        <td style="width: auto; text-align:center; vertical-align: middle; {{ bordertgleft }}">
                                            <svg height="100" width="100">
                                                <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                Sorry, your browser does not support inline SVG.
                                            </svg>
                                        </td>
                                        {% if redactivity.kpicontrol is defined and tempNoLocationsActivityTitle != redactivity.title %}
                                            <td style="width: 5%; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                                {% if redactivity.kpicontrol == 'A' %}
                                                    <svg height="100" width="100">
                                                        <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                        Sorry, your browser does not support inline SVG.
                                                    </svg>
                                                {% elseif redactivity.kpicontrol == 'R'%}
                                                    <svg height="100" width="100">
                                                        <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                        Sorry, your browser does not support inline SVG.
                                                    </svg>
                                                {% elseif redactivity.kpicontrol == 'G'%}
                                                    <svg height="100" width="100">
                                                        <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />
                                                        Sorry, your browser does not support inline SVG.
                                                    </svg>
                                                {% endif %}
                                            </td>
                                        {% else %}
                                            <td style="width: 5%; text-align:center; vertical-align:middle; {{ bordertgleft }}">&nbsp;</td>
                                        {% endif %}
                                        <td style="width: 22%; vertical-align: middle; {{ bordertgleft }}">{{ redactivity.justification|nl2br }}</td>
                                    </tr>
                                    {% set tempNoLocationsActivityTitle = redactivity.title %}
                                    {% set tempSystemsTitle = redconkpi.title %}
                                {% else %}
                                    {% for redlocation in redactivity.location %}
                                        {% if tempSystemsTitle == redconkpi.title %}
                                            {%  set bordertgbottom = 'border-top: solid #fff;' %}
                                        {% else %}
                                            {%  set bordertgbottom = '' %}
                                        {% endif %}
                                        {% if tempNoLocationsActivityTitle == redactivity.title %}
                                            {%  set bordertbottom = 'border-top: solid #fff;' %}
                                        {% else %}
                                            {%  set bordertbottom = '' %}
                                        {% endif %}
                                        {% if tempLocationTitle == redlocation.title %}
                                            {%  set borderlbottom = 'border-top: solid #fff;' %}
                                        {% else %}
                                            {%  set borderlbottom = '' %}
                                        {% endif %}
                                        <tr>
                                            <td style="width: 18%; vertical-align: middle; {{ bordertgbottom }}">
                                                {% if tempSystemsTitle != redconkpi.title %}
                                                    {{ redconkpi.title }}
                                                {% endif %}
                                            </td>
                                            <td style="width: 18%; vertical-align:middle; {{ bordertbottom }} {{ bordertgleft }}">
                                                {% set arrCheck = arrCheck|merge([redactivity.id]) %}
                                                {% if tempNoLocationsActivityTitle != redactivity.title %}
                                                    {% if level2Granted %}
                                                        {{ redactivity.title }}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td style="width: 17%; vertical-align: middle; {{ bordertgleft }}">
                                                {% if tempLocationTitle != redlocation.title %}
                                                    {{ redlocation.title }}
                                                {% endif %}
                                            </td>
                                            <td style="width: 10%; text-align:center; vertical-align: middle; {{ bordertgleft }}">
                                                {% if redlocation.color == 'amber' %}
                                                    <svg height="100" width="100">
                                                        <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                        Sorry, your browser does not support inline SVG.
                                                    </svg>
                                                {% elseif redlocation.color == 'red'%}
                                                    <svg height="100" width="100">
                                                        <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                        Sorry, your browser does not support inline SVG.
                                                    </svg>
                                                {% endif %}
                                            </td>
                                            {% if redactivity.kpicontrol is defined and tempNoLocationsActivityTitle != redactivity.title %}
                                                <td style="width: 5%; text-align:center; vertical-align:middle; {{ bordertgleft }}">
                                                    {% if redactivity.kpicontrol == 'A' %}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="#FFCC00" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% elseif redactivity.kpicontrol == 'R'%}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="red" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% elseif redactivity.kpicontrol == 'G'%}
                                                        <svg height="100" width="100">
                                                            <circle cx="50" cy="50" r="20" stroke="white" stroke-width="0" fill="green" />
                                                            Sorry, your browser does not support inline SVG.
                                                        </svg>
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                <td style="width: 5%; text-align:center; vertical-align:middle; {{ bordertgleft }}">&nbsp;</td>
                                            {% endif %}
                                            <td style="width: 22%; vertical-align: middle; {{ bordertgleft }}">{{ redactivity.justification|nl2br }}</td>
                                        </tr>
                                        {% set tempNoLocationsActivityTitle = redactivity.title %}
                                        {% set tempSystemsTitle = redconkpi.title %}
                                        {% set tempLocationTitle = redlocation.title %}
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <!-- ends here - location specific control kpis with overall kpi -->
            </tbody>
        </table>
        <br />
        <table style="width:100%; background-color: #101840;text-align: center; border: 0;"><tr style="line-height: 10px;"><td style="text-align: center; border: 0"><h2 style="padding-top: 10px;">Number of overdue activities = {{ overdues }}</h2></td></tr></table>
        <br />
        <table class="record_properties" style="width:100%; border: 1px solid #d2d5d5; border-collapse:collapse; overflow: visible !important;">
            <thead>
            <tr style="height: 20px;">
                <td colspan="3" style="font-size: 16px;font-weight: bold;">Overdue Activities</td>
            </tr>
            <tr style="background-color: #101840; height: 20px;">
                <th style="vertical-align: middle; width:55%;">Activity</th>
                <th style="vertical-align: middle; width:20%;">Due Date</th>
                <th style="vertical-align: middle; width:25%;">Action Owner</th>
            </tr>
            </thead>
            {% if overdueActivities is defined and overdueActivities is not empty %}
                <tbody>
                {% for overdueactivity in overdueActivities %}
                    <tr style="height: 20px;">
                        <td>{{ overdueactivity.title }}</td>
                        <td>{{ overdueactivity.duedate }}</td>
                        <td>{{ overdueactivity.actionowner }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
{% endblock %}
{% block stylesheets -%}
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" />
    <style type="text/css" media="all">
        body{
            border: 0;
            margin: 0;
            padding: 0;
            height: 90mm;
        }
        div, table {
            font-family: "arial";
            font-size: 10px;
        }
        tr { page-break-inside:avoid; page-break-after:auto }
        th {
            color: #FFF;
            padding: inherit;
            border: 1px solid #cccccc;
            font-size: 12px;
            text-align: center;
        }
        td {
            padding: 3px;
            border: 0px solid #cccccc;
            font-size: 11px;
            white-space: inherit;
        }
        h2{
            color: #FFF;
        }
        thead { display: table-header-group }
        tfoot { display: table-row-group }
        tr { page-break-inside: avoid }
        .red-kpi{
            height: 25px;
            width: 30px;
            font-size: 14px;
            padding-top: 5px;
            border-radius: 50%;
            text-align: center;
            background-color: rgba(217,83,79,1);
            display: inline-block;
            vertical-align: middle;
            margin-top: 5px;
        }

        .small-kpi{
            height: 20px;
            width: 20px;
            font-size: 12px;
            padding-top: 8px;
            margin-top: 0px;
        }
        .red-kpi-holder{
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border-radius:5px;
            background-color: rgba(30,30,30,0.1);
            color: white;
            text-align: center;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/jquery.js') }}" ></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/jquery-ui.min.js') }}" ></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
    <script src="{{ app.request.schemeAndHttpHost ~ asset('assets/js/Highcharts/code/modules/solid-gauge.js') }}"></script>
    <script type="text/javascript">
        $(function() {
            var projectId = {{ projectId }};
            var subprojectId = {{ subprojectId }};
            var data = eval({{ managementComplianceData }});
            var managementData = eval({{ managementComplianceData }});
            var controlData = eval({{ controlComplianceData }});

            var redData = eval({{ redComplianceData }});
            var greenData = eval({{ greenComplianceData }});

            {% if managementComplianceData != '[]' or controlComplianceData != '[]' %}
            {% if entityreports[0].complianceData is defined and entityreports[0].complianceData is not empty %}
            {% set jData = json_decode(entityreports[0].complianceData) %}
            {% if category == 1  %}
            {% set managementcompliance = jData.overallmanagementcompliance|round(1, 'floor') %}
            {% set controlcompliance = jData.overallcontrolcompliance|round(1, 'floor') %}
            {% else %}
            {% set managementcompliance = jData.flowassuranceoverallmanagementcompliance|round(1, 'floor') %}
            {% set controlcompliance = jData.flowassuranceoverallcontrolcompliance|round(1, 'floor') %}
            {% endif %}
            {% else %}
            {% set controlcompliance = null %}
            {% set managementcompliance = null %}
            {% endif %}

            // Create the chart
            window.chart = Highcharts.stockChart('containerCompliance_{{ category }}', {

                chart: {
                    renderTo: 'containerCompliance',
                    borderColor: '#d2d5d5',
                    borderWidth: 1,
                    type: 'line',
                    height: 350,
                    plotBackgroundColor: {

                        linearGradient: {
                            x1: 0,
                            x2: 0,
                            y1: 0,
                            y2: 1
                        },
                        stops: [
                            /*[0, 'rgba(146,208,80,0.8)'],
                            [0.20, 'rgba(146,208,80,0.8)'],
                            [0.30, 'rgba(255,201,14,0.8)'],
                            [0.45, 'rgba(255,201,14,0.8)'],
                            [0.55, 'rgba(255,70,70,0.8)'],
                            [1, 'rgba(255,70,70,0.8)'],*/
                            [0, 'rgba(146,208,80,0.8)'],
                            [0.40, 'rgba(255,201,14,0.8)'],
                            [0.75, 'rgba(255,70,70,0.8)'],
                            [1, 'rgba(255,70,70,0.8)'],
                        ]
                    },

                },

                title: {
                    align: 'left',
                    text: 'Overall Compliance',
                    style: {
                        color: '#333333',
                        fontSize: "18px",
                        fill: "#333333",
                    },
                },
                tooltip: {
                    formatter: function () {
                        var d = new Date(this.x);
                        // numberFormat takes your label's value and the decimal places to show
                        //return ( + '%';

                        var s = [];

                        $.each(this.points, function (i, point) {
                            if (i < 2) {
                                s.push('<span style="font-weight:bold;">' + point.series.name + ' : ' + point.y + '%<span>');
                            }
                        });

                        return '<span style="font-weight:bold;">' + ((d.getMonth() + 1) + '-' + d.getFullYear()) + "</span><br />" +s.join(' and ');
                        shared: true
                    },
                },
                xAxis: {
                    type: 'datetime',
                    minTickInterval: 28*24*3600*1000,
                    dateTimeLabelFormats: {
                        day: '%e of %b',
                    },
                    minRange: 14 * 24 * 3600000,
                    gridLineWidth: 0,
                    minorGridLineWidth: 0,
                },

                plotOptions: {
                    series: {
                        pointInterval: 28 * 24 * 3600 * 1000
                    }
                },

                yAxis: {
                    opposite: false,
                    title: {
                        text: 'Overall Compliance %',
                        style: {
                            color: '#000000',
                        }
                    },
                    gridLineWidth: 0,
                    minorGridLineWidth: 0,
                    tickInterval: 25,
                    min: 0,
                    max: 100,
                },

                rangeSelector: {
                    selected: 8,
                    inputEnabled: false,
                },

                legend: {
                    enabled: true,
                    align: 'center',
                    verticalAlign: 'top',
                    layout: 'horizontal',
                    x: -20,
                    margin: 5,
                    itemMarginTop: 10,
                    itemMarginBottom: 2,
                },

                series: [{
                    name: 'Management',
                    data: managementData,
                    marker: {
                        enabled: true,
                        radius: 4
                    },
                    color: '#434348',
                    lineWidth: 2,
                    {% if chart_has_prediction is not null %}
                    zoneAxis: 'x',
                    zones: [{
                        value: new Date({{ chart_has_prediction|date("Y") }}, {{ chart_has_prediction|date("m") - 1 }}, {{ chart_has_prediction|date("d") }}, 0, 0, 0, 0),
                    }, {
                        dashStyle: 'shortdash'
                    }]
                    {% endif %}

                },{
                    name: 'Control',
                    data: controlData,
                    marker: {
                        enabled: true,
                        radius: 4
                    },
                    color: '#6e6e6e',
                    lineWidth: 2,
                    {% if chart_has_prediction is not null %}
                    zoneAxis: 'x',
                    zones: [{
                        value: new Date({{ chart_has_prediction|date("Y") }}, {{ chart_has_prediction|date("m") - 1 }}, {{ chart_has_prediction|date("d") }}, 0, 0, 0, 0),
                    }, {
                        dashStyle: 'shortdash'
                    }]
                    {% endif %}
                },{
                    name: 'Red Threshold',
                    data: redData,
                    color: 'red',
                    zones: [ {
                        dashStyle: 'shortdash'
                    }],
                },{
                    name: 'Green Threshold',
                    data: greenData,
                    color: 'green',
                    zones: [ {
                        dashStyle: 'shortdash'
                    }],
                }],

                credits: {
                    enabled: false
                },
            },function (chart) {

                // apply the date pickers
                setTimeout(function () {
                    $('input.highcharts-range-selector', $(chart.container).parent())
                        .datepicker();
                }, 0);
            });

            var gaugeOptions = {

                chart: {
                    type: 'pie',
                    height: 240,
                    width: 280,
                    borderRadius: 0
                },

                title: false,

                tooltip: {
                    enabled: false
                },

                // the value axis
                plotOptions: {
                    pie: {
                        borderWidth: 2,
                        startAngle: 0,
                        innerSize: '64%',
                        size: '100%',
                        shadow: false,
                        dataLabels: false,
                        stickyTracking: false,
                        states: {
                            hover: {
                                enabled: false
                            }
                        },
                    }
                }
            };

            var colors = ['#DF5353', '#FFC200', '#55BF3B'];
            var managementPercentage = {{ managementcompliance|default(0) }};
            var controlPercentage = {{ controlcompliance|default(0) }};
            var predMgmtPrec = {{ corrosion_prediction['mgmt']|default(0) }};
            var predCtrltPrec = {{ corrosion_prediction['ctrl']|default(0) }};

            if (managementPercentage < 50)
            {
                var mancolors = colors[0];
            }
            else if(managementPercentage >= 50 && managementPercentage < 75){

                var mancolors = colors[1];
            }
            else if(managementPercentage >= 75)
            {
                var mancolors = colors[2];
            }

            if (controlPercentage < 50)
            {
                var concolors = colors[0];
            }
            else if(controlPercentage >= 50 && controlPercentage < 75){
                var concolors = colors[1];
            }
            else if(controlPercentage >= 75)
            {
                var concolors = colors[2];
            }

            if (predMgmtPrec < 50)
            {
                var predmancolors = colors[0];
            }
            else if(predMgmtPrec >= 50 && predMgmtPrec < 75){
                var predmancolors = colors[1];
            }
            else if(predMgmtPrec >= 75)
            {
                var predmancolors = colors[2];
            }

            if (predCtrltPrec < 50)
            {
                var predconcolors = colors[0];
            }
            else if(predCtrltPrec >= 50 && predCtrltPrec < 75){
                var predconcolors = colors[1];
            }
            else if(predCtrltPrec >= 75)
            {
                var predconcolors = colors[2];
            }

            var remainingManPercentage = 100 - managementPercentage;

            var remainingConPercentage = 100 - controlPercentage;
            Highcharts.chart('containerSpeedManagement_{{ category }}',{
                chart: {
                    type: 'pie',
                    backgroundColor: null,
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Management Compliance',
                    align: 'left'
                },
                yAxis: {
                    title: {
                        text: 'Compliance Percentage'
                    }
                },
                plotOptions: {
                    pie: {
                        borderWidth: 0.5,
                        borderColor: 'rgba(230,230,230,1)',
                        shadow: false,
                        center: ['50%', '55%'],
                        dataLabels: {
                            enabled: false,
                            formatter:function() {
                                if(this.y != 0) {
                                    return this.key + ": " + this.y + '%';
                                }
                            }
                        },
                        showInLegend: false
                    }
                },
                tooltip: {
                    formatter: function() {
                        // If the point is going to have a tooltip
                        if(!this.point.noTooltip) {
                            // Mimic default tooltip contents
                            return this.series.name+ ': ' +this.point.y+ '%';
                        }

                        // If tooltip is disabled
                        return false;
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },credits: {
                    enabled: false
                },
                series: [
                    {% if managementcompliance is not null %}
                    {
                        name: 'Approved Compliance',
                        data: [{
                            name: 'Approved Compliance',
                            x: 0,
                            y: {{ managementcompliance|round(2, 'floor') }},
                            color: mancolors,
                            dataLabels: {
                                enabled: false
                            }
                        },{
                            x: 1,
                            y: {{ 100 - managementcompliance|round(2, 'floor') }},
                            color: 'rgba(0,0,0,0)',
                            dataLabels: {
                                enabled: false
                            }, noTooltip: true
                        }],
                        size: '90%',
                        innerSize: '75%',
                        slicedOffset: 0
                    },
                    {% endif %}
                    {% if chart_has_prediction is not null %}
                    {
                        name: 'Current Compliance',
                        data: [{
                            name: 'Current Compliance',
                            x: 0,
                            y: {{ corrosion_prediction['mgmt']|round(2, 'floor') }},
                            color: '#999999',
                            dataLabels: {
                                enabled: false
                            }
                        },{
                            x: 1,
                            y: {{ 100 - corrosion_prediction['mgmt']|round(2, 'floor') }},
                            color: 'rgba(0,0,0,0)',
                            dataLabels: {
                                enabled: false,
                            }, noTooltip: true
                        }],
                        size: '{{ managementcompliance is not null ? '67%' : '90%' }}',
                        innerSize: '{{ managementcompliance is not null ? '59%' : '75%' }}',
                        slicedOffset: 0
                    }
                    {% endif %}
                ],navigation: {
                    buttonOptions: {
                        enabled: false
                    }

                },
                exporting: {
                    sourceWidth: 600,
                    sourceHeight: 400,
                    // scale: 2 (default)
                    chartOptions: {
                        subtitle: null
                    }
                }
            },  function(chart) { // on complete

                var xpos = '50%';
                var ypos = '50%';
                var circleradius = 102;

                // Render the text
                {% if managementcompliance is not null %}
                chart.innerText = chart.renderer.text("Approved: " + {{ managementcompliance|round(2, 'floor') }}+"%", 10, 185).css({
                    width: circleradius*2,
                    color: 'black',
                    fontSize: '10px',
                    fontWeight: 'bold',
                    textAlign: 'center'
                }).attr({
                    // why doesn't zIndex get the text in front of the chart?
                    zIndex: 999
                }).add();
                {% endif %}
                {% if chart_has_prediction is not null %}
                chart.innerText = chart.renderer.text("Current: " + {{ corrosion_prediction['mgmt']|round(2, 'floor') }}+"%", 10, {{ managementcompliance is not null ? 170 : 185 }}).css({
                    width: circleradius*2,
                    color: 'black',
                    fontSize: '10px',
                    fontWeight: 'bold',
                    textAlign: 'center'
                }).attr({
                    // why doesn't zIndex get the text in front of the chart?
                    zIndex: 999
                }).add();
                {% endif %}

            });
            Highcharts.chart('containerSpeedControl_{{ category }}',{
                chart: {
                    type: 'pie',
                    backgroundColor: null,
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: 'Control Compliance',
                    align: 'left'
                },
                yAxis: {
                    title: {
                        text: 'Compliance Percentage'
                    }
                },
                plotOptions: {
                    pie: {
                        borderWidth: 0.5,
                        borderColor: 'rgba(230,230,230,1)',
                        shadow: false,
                        center: ['50%', '55%'],
                        dataLabels: {
                            enabled: false,
                            formatter:function() {
                                if(this.y != 0) {
                                    return this.key + ": " + this.y + '%';
                                }
                            }
                        },
                        showInLegend: false
                    }
                },
                tooltip: {
                    formatter: function() {
                        // If the point is going to have a tooltip
                        if(!this.point.noTooltip) {
                            // Mimic default tooltip contents
                            return this.series.name+ ': ' +this.point.y+ '%';
                        }

                        // If tooltip is disabled
                        return false;
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },credits: {
                    enabled: false
                },
                series: [
                    {% if controlcompliance is not null %}
                    {
                        name: 'Approved Compliance',
                        data: [{
                            name: 'Approved Compliance',
                            x: 0,
                            y: {{ controlcompliance|round(2, 'floor') }},
                            color: concolors,
                            dataLabels: {
                                enabled: false
                            }
                        },{
                            x: 1,
                            y: {{ 100 - controlcompliance|round(2, 'floor') }},
                            color: 'rgba(0,0,0,0)',
                            dataLabels: {
                                enabled: false
                            }, noTooltip: true
                        }],
                        size: '90%',
                        innerSize: '75%',
                        slicedOffset: 0
                    },
                    {% endif %}
                    {% if chart_has_prediction is not null %}
                    {
                        name: 'Current Compliance',
                        data: [{
                            name: 'Current Compliance',
                            x: 0,
                            y: {{ corrosion_prediction['ctrl']|round(2, 'floor') }},
                            color: '#999999',
                            dataLabels: {
                                enabled: false
                            }
                        },{
                            x: 1,
                            y: {{ 100 - corrosion_prediction['ctrl']|round(2, 'floor') }},
                            color: 'rgba(0,0,0,0)',
                            dataLabels: {
                                enabled: false,
                            }, noTooltip: true
                        }],
                        size: '{{ controlcompliance is not null ? '67%' : '90%' }}',
                        innerSize: '{{ controlcompliance is not null ? '59%' : '75%' }}',
                        slicedOffset: 0
                    }
                    {% endif %}
                ],navigation: {
                    buttonOptions: {
                        enabled: false
                    }

                },
                exporting: {
                    sourceWidth: 600,
                    sourceHeight: 400,
                    // scale: 2 (default)
                    chartOptions: {
                        subtitle: null
                    }
                }
            },  function(chart) { // on complete

                var xpos = '50%';
                var ypos = '50%';
                // Render the text
                {% if controlcompliance is not null %}
                chart.innerText = chart.renderer.text("Approved: " + {{ controlcompliance|round(2, 'floor') }}+"%", 10, 185).css({
                    width: 300,
                    color: 'black',
                    fontSize: '10px',
                    fontWeight: 'bold',
                    textAlign: 'center'
                }).attr({
                    // why doesn't zIndex get the text in front of the chart?
                    zIndex: 999
                }).add();
                {% endif %}
                {% if chart_has_prediction is not null %}
                chart.innerText = chart.renderer.text("Current: " + {{ corrosion_prediction['ctrl']|round(2, 'floor') }}+"%", 10, {{ controlcompliance is not null ? 170 : 185 }}).css({
                    width: 300,
                    color: 'black',
                    fontSize: '10px',
                    fontWeight: 'bold',
                    textAlign: 'center'
                }).attr({
                    // why doesn't zIndex get the text in front of the chart?
                    zIndex: 999
                }).add();
                {% endif %}

            });
        });
    </script>
    {% endif %}
{% endblock %}
