{% extends 'AIECmsBundle:Default:layout.html.twig' %}
{% block content -%}
    {% set totctrlgreen = 0 %}
    {% set totctrlamber = 0 %}
    {% set totctrlred = 0 %}
    {% set totmangreen = 0 %}
    {% set totmanamber = 0 %}
    {% set totmanred = 0 %}
    {% set totoverdue = 0 %}

    {% if entityreports[0].complianceData is defined and entityreports[0].complianceData is not empty %}
        {% set jData = json_decode(entityreports[0].complianceData) %}
    {% endif %}
    <style type="text/css">
        .tab-pane {
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
            border-radius: 0px 0px 5px 5px;
            padding: 10px;
        }
        .nav-tabs {
            margin-bottom: 0;
        }
    </style>
    <div class="container" style="width:100%">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="row">
                    <div class="col-lg-12" style="margin-top: 15px;"><span style="padding-left:5px; font-size: 28px; font-weight: bold">
                           {{ entity.project.name }}: {{ entity.name }}</span>
                    </div>
                    <div class="col-lg-12" style="margin-top: 10px;">
                        <div class="well" style="padding: 20px;padding-bottom: 5px;">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="row">
                                        {{ form_start(filter_form) }}
                                        <div class="col-lg-4">
                                            <div>
                                                <span style="margin-left: 15px;"><b>From</b></span>
                                            </div>
                                            <div>
                                                {{ form_widget(filter_form.filter_form.from_date) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div>
                                                <span style="margin-left: 15px;"><b>To</b></span>
                                            </div>
                                            <div>
                                                {{ form_widget(filter_form.filter_form.to_date) }}
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div>
                                                &nbsp;
                                            </div>
                                            <div>
                                                {{ form_widget(filter_form.submit) }}
                                            </div>
                                        </div>
                                        {{ form_end(filter_form) }}
                                        <div class="col-lg-2">
                                            <div>
                                                &nbsp;
                                            </div>
                                            <div>
                                                <button id="downloadPDFReport" class="btn btn-success btn-block"><i class="glyphicon glyphicon-cloud-download"></i> Download as PDF</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if enabled_systems['CM'] %}
                    {% set CMEnabled = 'active' %}
                    {% set FAEnabled = '' %}
                {% elseif enabled_systems['FA'] and not enabled_systems['CM'] %}
                    {% set CMEnabled = '' %}
                    {% set FAEnabled = 'active' %}
                {% else %}
                    {% set CMEnabled = '' %}
                    {% set FAEnabled = '' %}
                {% endif %}
                <ul class="nav nav-tabs">
                    {% if enabled_systems['CM'] %}
                        <li class="test-class {{ CMEnabled }}">
                            <a id="a_cm" href="#CMDiv" role="tab" div-holder="div_cm" loader-holder="CMDiv" loaded="0" data-type="1" data-toggle="tab">Corrosion Management</a>
                        </li>
                    {% endif %}
                    {% if enabled_systems['FA'] %}
                        <li class="test-class {{ FAEnabled }}"><a id="a_fa" href="#FADiv" role="tab" div-holder="div_fa" loader-holder="FADiv" loaded="0" data-type="2" data-toggle="tab">Flow Assurance Management</a></li>
                    {% endif %}
                    <li role="presentation" style="float:right;">
                        <button class="btn btn-primary btn-sm" id="btn_reload" current-tab="1" style="display: none;">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </button>
                    </li>
                </ul>
                <div class="tab-content" role="tablist">
                    {% if enabled_systems['CM'] %}
                        <div role="tabpanel" class="tab-pane {{ CMEnabled }}" id="CMDiv" style="min-height: 45px;">
                            {#<p style="color: #000000;font-size: small;font-weight: bold; padding: 0px;">Reporting for Project {{ entity.project.name }}</p>#}
                            <div id="div_cm">

                            </div>
                        </div>
                    {% endif %}
                    {% if enabled_systems['FA'] %}
                        <div role="tabpanel" class="tab-pane {{ FAEnabled }}" id="FADiv" style="min-height: 45px;">
                            {#<h6 style="color: #000000;font-size: small;font-weight: bold; padding: 0px;">Reporting for Project {{ entity.project.name }}</h6>#}
                            <div id="div_fa">

                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets -%}
    {{ parent() }}
    <style type="text/css">

        label{
            text-align: center;
            vertical-align: middle;
            padding-left: 40px;
        }
        .row th {
            color: #FFF;
            padding: inherit;
        }
        .row td {
            padding-left: 10px;
        }
        .record_properties {
            color: #000000;
            background-color: transparent;
            text-decoration: none;
        }
        h4{
            color: #FFF;
        }
        .table td {
            width: 20px;
            padding: 0;
            margin: 0;
        }
        .kpisoverflow{
            max-height:400px;
            overflow-y:auto;
        }

        .kpisoverflow .record_properties{
            margin-bottom: 0px;
        }

        .record_properties a {
            text-decoration: none;
            color: #000000;
            font-weight: bold;
        }
        .record_properties th {
            vertical-align: middle;
        }
        .container-element {
            margin: 0 auto;
            height:520px;
        }
        .click a {
            display: block;
        }
        .form-horizontal .form-group {
            margin-left: 0px;
            margin-right: 0px;
        }
        .form-group {
            margin-bottom: 0px;
        }
        .right {
            float: left;
        }
        .form-group .form_date{
            padding-left: 0px;
            padding-right: 0px;
        }
        .red-kpi{
            height: 30px;
            width:30px;
            font-size: 14px;
            padding-top: 5px;
            border-radius: 50%;
            text-align: center;
            background-color: rgba(217,83,79,1);
            display: inline-block;
            vertical-align: middle;
            margin-top: 5px;
            box-shadow:  0 0 2px 1px rgba(0,0,0,0.6);
            -moz-box-shadow: 0 0 2px  1px rgba(0,0,0,0.6);
            -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.6);
            -o-box-shadow: 0 0 2px 1px rgba(0,0,0,0.6);
        }
        .small-kpi{
            height: 30px;
            width:30px;
            font-size: 12px;
            padding-top: 8px;
            margin-top: 0px;
        }
        .red-kpi-holder{
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border-radius:5px;
            background-color: rgba(30,30,30,0.1);
            color: white;
            text-align: center;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/solid-gauge.js') }}"></script>
    <script src="{{ asset('assets/js/moment.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            loadData($("#a_cm"));
        });
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            $("#btn_reload").attr("current-tab", $(this).attr("data-type"));
            if($(this).attr("loaded") == "0"){
                $("#btn_reload").hide();
            }else{
                $("#btn_reload").show();
            }
            if($(this).attr("loaded")!="1"){
                loadData($(this));
            }
        });
        $("#btn_reload").on("click",function () {
            var tab =  $("#btn_reload").attr("current-tab");
            if (tab == 1){
                $("#div_cm").html("");
                loadData($("#a_cm"));
            }
            if (tab == 2){
                $("#div_fa").html("");
                loadData($("#a_fa"));
            }
        });
        function loadData(objectTab) {
            var divId = $(objectTab).attr("id");
            var divHolder = $(objectTab).attr('div-holder');
            var url = "/c/{{ projectId }}/subprojects/{{ subprojectId }}/ajaxdashboard/" + $(objectTab).attr("data-type") + "/{{ fromDate|date("Ymd") }}/{{ toDate|date("Ymd") }}";
            NProgress.configure({
                parent: '#' + $(objectTab).attr('loader-holder')
            });
            NProgress.start();
            $.ajax({
                url: url,
                dataType: 'html',
                success: function(response) {
                    $("#" + divHolder).html(response);
                    NProgress.done();
                    $("#" + divId).attr("loaded","1");
                    $("#btn_reload").css('display','');
                    $("#btn_reload").show();
                }
            });
        }

        $(document).on('click','#downloadPDFReport',function(e) {

            var tab =  $("#btn_reload").attr("current-tab");

            $("#btn_reload").attr("current-tab", $(this).attr("data-type"));

            var fromDate= $('#form_filter_form_from_date').val();
            var toDate= $('#form_filter_form_to_date').val();

            var fromDate = moment(fromDate, 'DD MMM YYYY').format('YYYY-MM-DD');
            var toDate = moment(toDate, 'DD MMM YYYY').format('YYYY-MM-DD');

            var url = "/c/" + {{ projectId }} + "/subprojects/" + {{ subprojectId }} + "/" + tab + "/" + fromDate + "/" + toDate + "/report-pdf";
            window.location.href = url;
            return;
        });
    </script>
{% endblock %}