<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <script>
            function subst() {
                var vars={};
                var x=document.location.search.substring(1).split('&');
                for (var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
                var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
                for (var i in x) {
                    var y = document.getElementsByClassName(x[i]);
                    for (var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
                }
            }
        </script>
        <style>
            .pg
            {
                font-size: 8px;
                font-family: Arial;
                font-weight: normal;
            }
            .page
            {
                font-size: 8px;
                font-family: Arial;
                font-weight: normal;
            }
            .topage
            {
                font-size: 8px;
                font-family: Arial;
                font-weight: normal;
            }
        </style>
    </head>
    <body style="border:0; margin: 0;" onload="subst()">
        <table style="width: 100%">
            <tr>
                <td style="text-align:left; padding-right: 10px;">
                    <span class="pg">Printed Date : {{ 'now'|date("d M Y") }} </span>
                </td>
                <td style="text-align:center; padding-right: 10px;">
                    <span class="pg">Page</span> <span class="page"></span> <span class="pg">of</span> <span class="topage"></span>

                </td>
                <td style="text-align:right; padding-right: 5px;">
                    <span class="pg">
                        {% if entity.referenceNo is defined and entity.referenceNo is not empty %}
                            {{ entity.referenceNo }}
                        {% endif %}
                        -
                        {% if subentity.referenceNo is defined and subentity.referenceNo is not empty %}
                            {{ subentity.referenceNo }}
                        {% endif %}
                        -REP-{{ 'now'|date("y") }}-{{ reportId }}</span>
                </td>
            </tr>
        </table>
    <br/>
    </body>
</html>