<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style type="text/css">
        body
        {
            border: 1;
            margin: 0;
            padding: 2px;
            height: 15mm;
            /*
            In the actual program this height is calculated dynamically in PHP as
            ($headerMargin - $topMargin) * 1.33
            */
        }

    </style>
</head>
    <body>
        <table style="width:100%; border: 1px; border-collapse: collapse; border-color: #DDDDDD; height: 40px;">
            <tr style="text-align:left; vertical-align:top;">
                <td align="left" style="border: 0px; padding:0; margin:0; flaot:left; padding-top:20px;"><img src="{{absolute_url(asset('assets/img/logo_cms.png'))}}" width="120" height="22" /></td>
                <td align="right" style="border: 0px; padding:0; margin:0; flaot:right; padding-top:10px;"><img src="{{absolute_url(asset('assets/img/aie_logo.png'))}}" width="120" height="40" /></td>
            </tr>
        </table>
    </body>
</html>
