{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}

    {% if delete_form is defined %}
        <div class="alert alert-danger" style="height: 70px;">
            <div class="col-md-10" style="text-align:left; vertical-align:middle; height:auto; padding-top:5px;">
            The change is irrreversible, do you really want to delete the Sub Project?
            </div>
            <div class="row form-group pull-right">
                <div class="col-md-1">
                    {{ form(delete_form) }}
                </div>
                <div class="col-md-1">
                    <button id="subcancelbutton" value="Cancel" type="button" class="btn btn-default" onclick="history.go(-1);">Cancel</button>
                </div>
            </div>
        </div>
    {% endif %}
    <h1>Sub Project</h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
       </tbody>
    </table>

{% endblock %}
