{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Consequences</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Consequence Assessment</h3>
        </div>
        <div class="panel-body">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Project Consequences</h3>
                    </div>
                    <div class="panel-body">
                        <table class="records_list table table-bordered not-sticky">
                            <thead>
                            <tr>
                                <th rowspan="2">Consequence</th>
                                <th rowspan="2">1</th>
                                <th rowspan="2">2</th>
                                <th rowspan="2">3</th>
                                <th rowspan="2">4</th>
                                <th rowspan="2">5</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for consequence in consequences %}
                                <tr>
                                    <td>{{ consequence.consequence.name }}</td>
                                    <td>{{ consequence.desc1 }}</td>
                                    <td>{{ consequence.desc2 }}</td>
                                    <td>{{ consequence.desc3 }}</td>
                                    <td>{{ consequence.desc4 }}</td>
                                    <td>{{ consequence.desc5 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <table class="records_list table table-bordered sticky-header">
                    <thead>
                    <tr>
                        <th rowspan="2">Sections</th>
                        <th rowspan="2">Threat</th>
                        <th colspan="{{ consequences|length }}">Consequence Categories</th>
                    </tr>
                    <tr>
                        {% for consequence in consequences %}
                            <th>{{ consequence.consequence.name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                </table>
            </div>

            <table class="form-table records_list table table-bordered not-sticky">
                <thead class="hidden-thead">
                    <tr>
                        <th rowspan="2">Sections</th>
                        <th rowspan="2">Threat</th>
                        <th colspan="{{ consequences|length }}">Consequence Categories</th>
                    </tr>
                    <tr>
                        {% for consequence in consequences %}
                            <th>{{ consequence.consequence.name }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {{ form_start(form) }}
                {% set sec = '' %}
                {% for st in sectionsThreats %}
                    {% if st.pipelineSections.id != sec %}
                        {% set sec = st.pipelineSections.id %}
                        <tr>
                            <td rowspan="{{ sections_count[st.pipelineSections.id] }}">{{ st.pipelineSections.section }}</td>
                            <td>{{ st.threats.name }}</td>
                            {% for consequence in consequences %}
                                <td>{{ form_widget( attribute( form, 'sc_' ~ st.id ~ '_' ~ consequence.id ) ) }}</td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ st.threats.name }}</td>
                            {% for consequence in consequences %}
                                <td>{{ form_widget( attribute( form, 'sc_' ~ st.id ~ '_' ~ consequence.id ) ) }}</td>
                            {% endfor %}
                        </tr>
                    {% endif %}


                {% endfor %}
                </tbody>
            </table>
            {{ form_widget( form.submit) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/stickyjs/jquery.sticky.js') }}"></script>
    <script>
        $(document).ready(function () {
            $(".sticky-header:visible").sticky({topSpacing: 40});
        });
    </script>
{% endblock %}