{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Position - {{ entity.user.username }} - {{entity.project.name}}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('userprojectgroup',{'userId':userId}) }}">
            Back to assigned projects
        </a>
    </li>
</ul>
{% endblock %}
