{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>{{ user.username }}'s assigned projects</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Project</th>
            <th>Group</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.project.name }}</td>
                <td>{{ entity.group.name }}</td>
                <td>
                    <div style="display:inline-block;float:left;margin-right:10px;"><a href="{{ path('userprojectgroup_edit', { 'userId':userId, 'id': entity.id }) }}">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a>
                    </div>
                    <div style="display:inline-block;float:left;margin-right:10px;">
                {{ form(entity.form) }}
                        </div>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('userprojectgroup_new', {'userId':userId}) }}">
                    Assign a new project
                </a>
            </li>
        </ul>
    {% endblock %}
