{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>Assign Project & Position</h1>

    {{ form(form) }}

<ul class="record_actions">
    <li>
        <a href="{{ path('userprojectgroup',{'userId':userId}) }}">
            Back to assigned projects
        </a>
    </li>
</ul>
{% endblock %}
