<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}" />

        <title>{% block title %}Veracity{% endblock %} - Asset Integrity Engineering</title>
        <!-- Core CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/aie.css') }}">
            <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/fancytree/skin-win8/ui.fancytree.min.css') }}">
        {% endblock %}

    </head>
    <body class="{{ system|default('')|lower }}" style="background: #fff;">

        {% block body %}

        {% endblock %}
        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        {% block javascripts %}
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
                <script src="{{ asset('assets/js/bootstrap/html5shiv.js') }}"></script>
                <script src="{{ asset('assets/js/bootstrap/respond.min.js') }}"></script>
            <![endif]-->


            <!-- Google Charts -->
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script>
                google.load('maps', '3', {other_params: 'key=AIzaSyBNNOVJ_WGTChz21x0QrJnwdAZxCuo5IqY&libraries=drawing,geometry'});
            </script>

            <!-- Bootstrap core JavaScript
            === === === === === === === === === === === === === === === === == -- >
            <!-- Placed at the end of the document so the pages load faster -->
            <script src = "{{ asset('assets/js/jquery.js') }}" ></script>
            <script src = "{{ asset('assets/js/jquery-ui.min.js') }}" ></script>

            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

            <script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap/bootstrap3-typeahead.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap/bloodhound.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap/bootstrap-multiselect.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap/prettify.js') }}"></script>
            <script src="{{ asset('assets/js/validation/jquery.validate.min.js') }}"></script>
            <script src="{{ asset('assets/js/validation/additional-methods.min.js') }}"></script>

            <script src="{{ asset('assets/js/datetimepicker/bootstrap-datetimepicker.js') }}"></script>

            <script src="{{ asset('assets/js/colResizable/jquery.resizableColumns.min.js') }}"></script>
            <script src="{{ asset('assets/js/StickyTableHeaders/jquery.stickytableheaders.min.js') }}"></script>
            <script src="{{ asset('assets/js/fancytree/jquery.fancytree-all.js') }}" type="text/javascript"></script>
            <!-- AIE JS -->
            <script src="{{ asset('assets/js/aie.js') }}"></script>
        {% endblock %}
    </body>
</html>
