<footer class="container" role="contentinfo" aria-labelledby="footer-desc">
    <p id="footer-desc" class="sr-only">Footer content</p>
    <div class="row">
        <div class="col-md-4">
            <!-- About -->
            <h2>About</h2> 
            <p>T/p>                            
        </div><!--/col-md-4--> 

        <div class="col-md-4">
            <!-- Monthly Newsletter -->

            <h2 class="headline">Contact Us</h2>
            <address>
              

            </address>
        </div><!--/col-md-4-->

        <div class="col-md-4">
            <!-- Stay Connected -->
            <div class="headline"><h2>Stay Connected</h2></div> 
            <div class="social-bar">
               
            </div>
        </div><!--/col-md-4-->

    </div>          

    <hr>

    <div class="copyright">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <p>Created by <a href="mailto:thiagocamposviana@gmail.com">Thiago Campos Viana</a></p>

    </div>

</footer>