{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block left_container %}{% endblock %}
{% block content_container %}
<div id="dashboard">
    <div class="page-header">
        <h1>Hi <span class="capitalize">{{ app.security.getToken().getUser().getUsername() }}</span>, Welcome to Veracity Pipeline</h1>
    </div>
    <div class="col-lg-6">
        <div class="blue-box">
            <h4>Project Status</h4>
            <p>You currently have {{ projectsCounter }} projects</p>
        </div>
        <div class="blue-box">
            <h4>Pipeline Status</h4>
            <p>You currently have {{ pipelinesCounter }} pipelines</p>
            <p>You have a combined total length of {{ totalPipelinesLength }} Km's of pipeline</p>
        </div>
        <div class="blue-box">
            <h4>Data Management (across all pipelines)</h4>
            <p>You currently have {{ documentsCounter }} files uploaded</p>
            <p>You have currently utilized {{ documentsSize }} of data storage space</p>
        </div>
        <div class="blue-box">
            <h4>Risks (across all pipelines)</h4>
            <p>You currently have a total of {{ risksCounter.V }} very high risks</p>
            <p>You currently have a total of {{ risksCounter.H }} high risks</p>
            <p>You currently have a total of {{ risksCounter.M }} medium risks</p>
            <p>You currently have a total of {{ risksCounter.L }} low risks</p>
        </div>
        <div class="blue-box">
            <h4>Activity management (across all pipelines)</h4>
            <p>You currently have {{ sectionsThreatsTotal - sectionsThreatsNotAssigned }} live Integrity activities</p>
            <p>You currently have a total of {{ sectionsThreatsNotAssigned }} activities with no assigned action owner</p>
            <p>You have a total of {{ overdueActions }} overdue activities</p>
        </div>

    </div>
    <div class="col-lg-6">
            <img src="{{ asset('assets/img/data_management.jpg') }}" style="width: 655px;" alt="Data Management" title="Veracity Pipeline" class="img-responsive"/>
    </div>
</div>
{% endblock %}
