{% set system = 'Pipeline' %}
{% extends 'AIEVeracityBundle:Default:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/custom-aie.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/custom-navbar.css') }}">
{% endblock %}
{% block title %}Veracity Pipeline{% endblock %}
{% block module_logo %}
    <a class="navbar-brand" style="padding-top: 10px;" href="{{ path('index') }}"><img src="{{ asset('assets/img/VPipelineWhite.png') }}" style="height: 30px;max-height: 30px;" /></a>
{% endblock %}
{% block top_navigation %}
    {{ knp_menu_render('pipeline_main_left', {'currentClass': 'active', 'template': 'AIEIntegrityAssessmentBundle:Default:menu.html.twig'}) }}
    {#<form id="search-form" class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>#}
    {{ knp_menu_render('pipeline_main_right', {'currentClass': 'active', 'template': 'AIEIntegrityAssessmentBundle:Default:menu.html.twig'}) }}
{% endblock %}

{% block leftSidebar %}
    {{ knp_menu_render('pipeline_left_nav', {'currentClass': 'active', 'template': 'AIEIntegrityAssessmentBundle:Default:left_menu.html.twig'}) }}
{% endblock %}

{% block breadcrumb %}
    {{ knp_menu_render('pipeline_breadcrumb',{'currentAsLink':false, 'template': 'AIEIntegrityAssessmentBundle:Default:breadcrumb.html.twig'}) }}
{% endblock %}