{% extends 'AIEIntegrityAssessmentBundle:Default:base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('assets/css/login/login.css') }}">
{% endblock %}

{% block body %}
<div class="container">
	<div class="form-signin">
		<div class="row">
			<div id="logo" class="brand" >
				<h1><a href="{{ path('index') }}">Asset Integrity Engineering</a></h1>
			</div>
		</div>

		<div id="form-signin">

			{% if error %}
			<div>
				{{ error.message }}
			</div>
			{% endif %}

			<form id="login-form" action="{{ path('login_check') }}" method="post">
				<div class="row">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
						<input type="text" name="_username"  class="form-control" placeholder="Email" required="">
					</div>
				</div>
				<div class="row">
					<div class="input-group">
						<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
						<input type="password" name="_password" class="form-control" placeholder="Password" required="">
					</div>
				</div>

				<div class="row">
					<label class="checkbox">
						<input type="checkbox" value="remember-me">
						Remember me</label>
				</div>
				<div class="row">
					<button id="btnLogOn" class="btn btn-lg btn-primary btn-block ladda-button zoom-out" type="submit">
						<span class="ladda-label">Login</span>
						<span class="ladda-spinner"></span>
						<div class="ladda-progress" style="width: 0px;"></div>
					</button>
				</div>
			</form>
		</div>

		<div id="form-register" style="display: none">
			<div class="row">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
					<input type="text" class="form-control" placeholder="Username">
				</div>
			</div>
			<div class="row">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
					<input type="text" class="form-control" placeholder="Email">
				</div>
			</div>
			<div class="row">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
					<input type="password" class="form-control" placeholder="Password" required="">
				</div>
			</div>
			<div class="row">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
					<input type="password" class="form-control" placeholder="Confirm Password" required="">
				</div>
			</div>
			<div class="row">
				<button  id="btnRegisterCancel" class="btn btn-lg btn-default" type="submit">
					Cancel
				</button>
				<button id="btnRegisterSend" class="btn btn-lg btn-success ladda-button zoom-out">
					<span class="ladda-label">Register</span>
					<span class="ladda-spinner"></span>
					<div class="ladda-progress" style="width: 0px;"></div>
				</button>
			</div>

		</div>

		<div id="form-forgot" style="display: none">
			<div class="row">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
					<input type="text" class="form-control" placeholder="Username">
				</div>
			</div>
			<div class="row">
				<button  id="btnRegisterCancel" class="btn btn-lg btn-default" type="submit">
					Cancel
				</button>
				<button id="btnRegisterSend" class="btn btn-lg btn-danger ladda-button zoom-out">
					<span class="ladda-label">Recover</span>
					<span class="ladda-spinner"></span>
					<div class="ladda-progress" style="width: 0px;"></div>
				</button>
			</div>
		</div>

	</div>
	<div id="well" class="well well-small">
		<p style="margin: 0">
			Don't have an account? <strong><a id="btnRegister">Register now!</a></strong>
		</p>
	</div>
	<p id="copyright">
		&copy; Asset Integrity Engineering - <a id="btnForgot">Forgot your password?</a>
	</p>
</div>
<!-- /container -->
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('assets/js/login/login.js') }}"></script>
{% endblock %}
