<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ asset('assets/bootstrap/assets/ico/favicon.png') }}">
        <meta http-equiv="Content-Type" content="application/pdf; charset=Cp1252"/>
        <title>{% block title %}Integrity Assessment{% endblock %} - Asset Integrity Engineering</title>

        <!-- Core CSS -->
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/aie.css') }}">
        {% endblock %}

    </head>
    <body class="report">

        {% block body %}

        {% endblock %}
        {% block javascripts %}
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
                <script src="{{ asset('assets/bootstrap/assets/js/html5shiv.js') }}"></script>
                <script src="{{ asset('assets/bootstrap/assets/js/respond.min.js') }}"></script>
            <![endif]-->

            <!-- Google Charts -->
            <script type="text/javascript" src="https://www.google.com/jsapi"></script>
            <script>
                google.load('maps', '3.32', {other_params: 'key=AIzaSyBNNOVJ_WGTChz21x0QrJnwdAZxCuo5IqY&libraries=drawing,geometry'});
            </script>

            <!-- Bootstrap core JavaScript
            === === === === === === === === === === === === === === === === == -- >
            <!-- Placed at the end of the document so the pages load faster -->
            <script src = "{{ asset('assets/js/jquery.js') }}" ></script>
            <script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap/bootstrap3-typeahead.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap/bloodhound.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap/bootstrap-multiselect.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap/prettify.js') }}"></script>
            <script src="{{ asset('assets/js/validation/jquery.validate.min.js') }}"></script>
            <script src="{{ asset('assets/js/validation/additional-methods.min.js') }}"></script>

            <script src="{{ asset('assets/js/datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>

            <script src="{{ asset('assets/js/colResizable/jquery.resizableColumns.min.js') }}"></script>
            <script src="{{ asset('assets/js/StickyTableHeaders/jquery.stickytableheaders.min.js') }}"></script>
            <!-- AIE JS -->
            <script src="{{ asset('assets/js/aie.js') }}"></script>
        {% endblock %}
    </body>
</html>
