<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ asset('assets/bootstrap/assets/ico/favicon.png') }}">

        <title>Integrity Assessment - Asset Integrity Engineering</title>

        <!-- Core CSS -->

        <!--<link rel="stylesheet/less" href="{{ asset('assets/bootstrap/less/bootstrap.less') }}">-->
        <script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
        <!--<script src="{{ asset('assets/less.min.js') }}"></script>-->

        <!-- Custom styles for this template -->
        <!--<link href="aie.css') }}" rel="stylesheet">-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="{{ asset('assets/bootstrap/assets/js/html5shiv.js') }}"></script>
          <script src="{{ asset('assets/bootstrap/assets/js/respond.min.js') }}"></script>
        <![endif]-->


        <!-- Google Maps -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU3JbU6PB6kPG1dnfpafR27WCiNyLKKCIv=3.32exp&libraries=drawing"></script>

        <!-- Google Charts -->
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>


    </head>
    <!-- NAVBAR
    ================================================== -->
    <body>

        <div id="wrapper" class="container">
            <div id="navigation" class="row">
                <div id="navbar-conatiner">
                    <div class="container">
                        <div class="row">
                            <div id="logo" class="brand left">
                                <h1>
                                    <a href="#">Asset Integrity Engineering</a>
                                </h1>
                            </div>


                            <div id="notifications-container" class="right">
                                <div class="notification-icon">
                                    <span class="glyphicon glyphicon-warning-sign"></span>
                                    <span class="badge warning">19</span>
                                </div>

                                <div class="notification-icon">
                                    <span class="glyphicon glyphicon-fire"></span>
                                    <span class="badge danger">19</span>
                                </div>

                                <div class="notification-icon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <span class="badge">19</span>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <nav class="navbar navbar-default" role="navigation">
                                    <!-- Brand and toggle get grouped for better mobile display -->
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <!-- Collect the nav links, forms, and other content for toggling -->
                                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#">Link</a></li>
                                            <li><a href="#">Link</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">One more separated link</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <form class="navbar-form navbar-left" role="search">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Search">
                                            </div>
                                            <button type="submit" class="btn btn-default">Submit</button>
                                        </form>
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a href="#">Link</a></li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#">Action</a></li>
                                                    <li><a href="#">Another action</a></li>
                                                    <li><a href="#">Something else here</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">Separated link</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div><!-- /.navbar-collapse -->
                                </nav>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>

            <div class="row" id="content-container">
                <div id="left-navigation" class="col">
                    <div class="sidenav sidebar-nav">
                        <ul class="nav">
                            <li>
                                <a class="sideicon">
                                    <span class="glyphicon glyphicon-dashboard"></span>
                                    <span class="nav-item hidden-xs hidden-sm">Dashboard</span>
                                </a>

                                <ul class="subnav">
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </li>
                            <li class="active">
                                <a class="sideicon">
                                    <span class="glyphicon glyphicon-briefcase"></span>
                                    <span class="nav-item hidden-xs hidden-sm">Projects</span>
                                </a>
                            </li>
                            <li>
                                <a class="sideicon">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span class="nav-item hidden-xs hidden-sm">Users</span>
                                </a>
                            </li>
                            <li>
                                <a class="sideicon">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    <span class="nav-item hidden-xs hidden-sm">Settings</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="content" class="col-xs-10 col-sm-10 col-lg-10">
                    <div class="container">
                        <div id="row">
                            <div class="page-header">
                                <h1>Example page header <small>Subtext for header</small></h1>
                            </div>
                            <div class="sample-content">
                                <h1>h1. heading <small>Secondary text</small></h1>
                                <h2>h2. heading <small>Secondary text</small></h2>
                                <h3>h3. heading <small>Secondary text</small></h3>
                                <h4>h4. heading <small>Secondary text</small></h4>
                                <h5>h5. heading <small>Secondary text</small></h5>
                                <h6>h6. heading <small>Secondary text</small></h6>

                                <hr/>
                                <p>
                                    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
                                </p>
                                <p>
                                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
                                </p>
                                <p>
                                    Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                </p>
                            </div>
                        </div>

                        <div id="row">
                            <div class="page-header">
                                <h1>Forms</h1>
                            </div>
                            <div class="form">
                                <form class="form-horizontal">
                                    <fieldset>

                                        <!-- Form Name -->
                                        <legend>Form Name</legend>

                                        <!-- Text input-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="textinput">Text Input</label>  
                                            <div class="col-md-4">
                                                <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="form-control input-md">
                                                <span class="help-block">help</span>  
                                            </div>
                                        </div>

                                        <!-- Prepended text-->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="prependedtext">Prepended Text</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">prepend</span>
                                                    <input id="prependedtext" name="prependedtext" class="form-control" placeholder="placeholder" type="text">
                                                </div>
                                                <p class="help-block">help</p>
                                            </div>
                                        </div>

                                        <!-- Prepended checkbox -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="prependedcheckbox">Prepended Checkbox</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">     
                                                        <input type="checkbox">     
                                                    </span>
                                                    <input id="prependedcheckbox" name="prependedcheckbox" class="form-control" type="text" placeholder="placeholder">
                                                </div>
                                                <p class="help-block">help</p>
                                            </div>
                                        </div>

                                        <!-- Button Drop Down -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="buttondropdown">Button Drop Down</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <input id="buttondropdown" name="buttondropdown" class="form-control" placeholder="placeholder" type="text">
                                                    <div class="input-group-btn">
                                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                            Action
                                                            <span class="caret"></span>
                                                        </button>
                                                        <ul class="dropdown-menu pull-right">
                                                            <li><a href="#">Option one</a></li>
                                                            <li><a href="#">Option two</a></li>
                                                            <li><a href="#">Option three</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Multiple Checkboxes (inline) -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="checkboxes">Inline Checkboxes</label>
                                            <div class="col-md-4">
                                                <label class="checkbox-inline" for="checkboxes-0">
                                                    <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                                                    1
                                                </label>
                                                <label class="checkbox-inline" for="checkboxes-1">
                                                    <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                                                    2
                                                </label>
                                                <label class="checkbox-inline" for="checkboxes-2">
                                                    <input type="checkbox" name="checkboxes" id="checkboxes-2" value="3">
                                                    3
                                                </label>
                                                <label class="checkbox-inline" for="checkboxes-3">
                                                    <input type="checkbox" name="checkboxes" id="checkboxes-3" value="4">
                                                    4
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Multiple Checkboxes -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="checkboxes">Multiple Checkboxes</label>
                                            <div class="col-md-4">
                                                <div class="checkbox">
                                                    <label for="checkboxes-0">
                                                        <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1">
                                                        Option one
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label for="checkboxes-1">
                                                        <input type="checkbox" name="checkboxes" id="checkboxes-1" value="2">
                                                        Option two
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Multiple Radios (inline) -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="radios">Inline Radios</label>
                                            <div class="col-md-4"> 
                                                <label class="radio-inline" for="radios-0">
                                                    <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                                                    1
                                                </label> 
                                                <label class="radio-inline" for="radios-1">
                                                    <input type="radio" name="radios" id="radios-1" value="2">
                                                    2
                                                </label> 
                                                <label class="radio-inline" for="radios-2">
                                                    <input type="radio" name="radios" id="radios-2" value="3">
                                                    3
                                                </label> 
                                                <label class="radio-inline" for="radios-3">
                                                    <input type="radio" name="radios" id="radios-3" value="4">
                                                    4
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Multiple Radios -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="radios">Multiple Radios</label>
                                            <div class="col-md-4">
                                                <div class="radio">
                                                    <label for="radios-0">
                                                        <input type="radio" name="radios" id="radios-0" value="1" checked="checked">
                                                        Option one
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label for="radios-1">
                                                        <input type="radio" name="radios" id="radios-1" value="2">
                                                        Option two
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Textarea -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="textarea">Text Area</label>
                                            <div class="col-md-4">                     
                                                <textarea class="form-control" id="textarea" name="textarea">default text</textarea>
                                            </div>
                                        </div>

                                        <!-- Select Basic -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="selectbasic">Select Basic</label>
                                            <div class="col-md-4">
                                                <select id="selectbasic" name="selectbasic" class="form-control">
                                                    <option value="1">Option one</option>
                                                    <option value="2">Option two</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- Select Multiple -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="selectmultiple">Select Multiple</label>
                                            <div class="col-md-4">
                                                <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
                                                    <option value="1">Option one</option>
                                                    <option value="2">Option two</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- File Button --> 
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="filebutton">File Button</label>
                                            <div class="col-md-4">
                                                <input id="filebutton" name="filebutton" class="input-file" type="file">
                                            </div>
                                        </div>

                                        <!-- Button -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="singlebutton">Single Button</label>
                                            <div class="col-md-4">
                                                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
                                            </div>
                                        </div>

                                        <!-- Button (Double) -->
                                        <div class="form-group">
                                            <label class="col-md-4 control-label" for="button1id">Double Button</label>
                                            <div class="col-md-8">
                                                <button id="button1id" name="button1id" class="btn btn-success">Good Button</button>
                                                <button id="button2id" name="button2id" class="btn btn-danger">Scary Button</button>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>

                            </div>
                        </div>

                        <div id="row">
                            <div class="page-header">
                                <h1>Tables</h1>
                            </div>
                            <div class="tables">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <small>border table</small>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@TwBootstrap</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td colspan="2">Larry the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div id="row">
                            <div class="page-header">
                                <h1>Google Maps </h1>
                            </div>
                            <div class="gmaps">
                                <div id="map-canvas" style="height:300px;"></div>
                            </div>
                        </div>


                        <div id="row">
                            <div class="page-header">
                                <h1>Charts</h1>
                            </div>

                            <h2>Google Charts</h2>
                            <div id="chart_div" style="width: 900px; height: 500px;"></div>
                            <div id="chart_div_2" style="width: 900px; height: 500px;"></div>
                            <div id="chart_div_3" style="width: 900px; height: 500px;"></div>
                            <div id="donutchart" style="width: 900px; height: 500px;"></div>

                            <h2>D3</h2>
                            <h3><a href="nv/examples/">Charts Examples</a></h3>

                            <h2>HighCharts <strong>590$ for 1 Developer</strong></h2>
                            <h3><a href="http://www.highcharts.com/demo/">Examplse</a></h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ asset('assets/bootstrap/assets/js/jquery.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/bootstrap/assets/js/holder.js') }}"></script>


        <!-- AIE JS -->
        <script src="{{ asset('assets/js/aie.js') }}"></script>
    </body>
</html>
