{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Pipeline: {{ pipeline.name }}</h1>
    {{ form_start(form) }}
    <table class="records_list">
        <tbody>
        <tr>
            <th>{{ form_label(form.pipeline.name) }}</th>
            <td>{{ form_widget(form.pipeline.name) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.pipeline.description) }}</th>
            <td>{{ form_widget(form.pipeline.description) }}</td>
        </tr>
        <tr>
            <th>{{ form_label(form.pipeline.batteryLimits) }}</th>
            <td>{{ form_widget(form.pipeline.batteryLimits) }}</td>
        </tr>
        </tbody>
    </table>

    {% if pipeline.geometry %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Map</h3>
            </div>
            <div class="panel-body">
                <div class="map map_out"></div>
                <input type="hidden" id="geometryMap" name="geometry" value="{{ pipeline.geometry }}"/>
            </div>
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Design Data</h3>
        </div>
        <div class="panel-body">
            <table class="records_list">
                <thead>
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                    <th>Unit</th>
                    <th>Comment</th>
                </tr>
                </thead>


                <tbody>
                {% for pipeline in entities %}
                    <tr>

                        <td>{% if pipeline.specification.isRequired %}* {% endif %}{{ pipeline.specification.parameter }}</td>
                        <td>{{ form_row( attribute( attribute( form, 'specification_' ~ pipeline.id ), 'value') ) }}</td>
                        <td>
                            {% if pipeline.specification.unit|length == 1 %} {{ pipeline.specification.unit[0] }} {% endif %}
                            {{ form_widget( attribute( attribute( form, 'specification_' ~ pipeline.id ), 'unit') ) }}
                        </td>
                        <td>{{ form_row( attribute( attribute( form, 'specification_' ~ pipeline.id ), 'comment') ) }}</td>
                    </tr>
                {% endfor %}
                <tr>

                    <td>Documents</td>
                    <td>{{ form_widget(form.pipeline.files) }}</td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>

            </table>
            {{ form_widget(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
    <script>
        $('.files').multiselect({
            includeSelectAllOption: false,
            enableFiltering: true,
            maxHeight: 150,
            buttonWidth: 150,
            label: function (element) {
                var text = $(element).text();
                $(element).html(text);
                return $(element).html();
            }
        });
    </script>
{% endblock %}
