{% trans_default_domain 'FOSUserBundle' %}

<h1>Change Password</h1>

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary right" value="{{ 'change_password.submit'|trans }}" />
    </div>
</form>
