{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>Sections</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('sections_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('sections_new') }}">
                Create a new section
            </a>
        </li>
    </ul>
    {% endblock %}
