{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>New Section</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sections') }}">
            Back to sections
        </a>
    </li>
</ul>
{% endblock %}
