{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>{{ title|default('Fabric Maintenance Register') }}</h1>

    {% include 'AIEAnomalyBundle:Registrar:search.html.twig' %}
    {% if not(project.isSetup['isSetup']) %}
    <div class="row">
        <div class="col-lg-12" style="margin-top: 20px;">
            <div class="alert alert-warning">
                <b>Access is not available.</b><br/>Setup the following lists to get access to this functionality.
                <ul>
                    {{ (project.isSetup['missing']['locations']) ? '<li>Locations</li>' }}
                    {{ (project.isSetup['missing']['classifications']) ? '<li>Classifications</li>' }}
                    {{ (project.isSetup['missing']['threats']) ? '<li>Threats</li>' }}
                    {{ (project.isSetup['missing']['actionOwners']) ? '<li>Action Owners</li>' }}
                    {{ (project.isSetup['missing']['codes']) ? '<li>Codes & Standards</li>' }}
                    {{ (project.isSetup['missing']['risk']) ? '<li>Risk Matrix or Criticality Ranking</li>' }}
                </ul>
            </div>
        </div>
    </div>
    {% else %}
        <table class="records_list">
            <thead>
            <tr>
                <th>Fabric Maintenance ID</th>
                <th>Anomaly ID (Registrar ID)</th>
                <th>Asset Tag Number</th>
                <th>Fabric Maintenance Description</th>
                <th>Technical Expiry Date</th>
                <th>
                    {% if class(project) == 'RiskProject' %}
                        {{ 'Risk' }}
                    {% else %}
                        {{ 'Criticality' }}
                    {% endif %}
                </th>
                <th>Immediate Repair</th>
                <th>Status</th>
                <th>Action Owner</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities | sortbyfield('expiryDate','desc') %}
                {% set anomalyType = entity.anomaly.code|lower %}
                <tr>
                    <td>
                        <a href="{{ path('anomaly_fm_show', { 'projectId': projectId, 'id': entity.id, 'type': anomalyType }) }}">{{ entity.fullId }}</a>
                        {% if status[entity.id] != 'final' %}
                            <span class="anomaly-status {{ status[entity.id] }}">
                        {{ entity.tagChoices[status[entity.id]]['label'] }}
                        </span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('anomaly_' ~ entity.anomaly.code|lower ~ '_show', { 'projectId': projectId, 'id': entity.anomaly.id }) }}">{{ entity.anomaly.anomalyCustomId }} ({{ entity.anomaly.fullId }})</a>
                    </td>
                    <td>{{ entity.anomaly.assetTagNumber }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{% if entity.expiryDate %}{{ entity.expiryDate|date }}{% endif %}</td>
                    <td>
                        {% if (entity.anomaly.probability is not null and entity.anomaly.consequence is not null ) or entity.anomaly.criticality is not null or entity.anomaly.fabricMaintenanceCriticality is not null  %}
                            {% set project_type = class(project) %}
                            {% if project_type == 'RiskProject' %}
                                {% set matrix = project.riskMatrix %}
                                {{ matrix.risk(entity.anomaly.consequence, entity.anomaly.probability) }}
                            {% else %}
                                {% if project.enableFMCriticality and entity.anomaly.isFabricMaintenanceCriticality %}
                                    <span class="custom-criticality-span" style="background-color:{{ '#' ~ project.FMCriticalityColorsArray[entity.anomaly.fabricMaintenanceCriticality] }}"><b>{{ project.FMCriticalityArray[entity.anomaly.fabricMaintenanceCriticality] }}</b></span>
                                {% else %}
                                    <span class="custom-criticality-span" style="background-color:{{ '#' ~ project.enabledCriticalityColors[entity.anomaly.criticality] }}"><b>{{ project.enabledCriticalityChoices[entity.anomaly.criticality] }}</b></span>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {{- '-' -}}
                        {% endif %}
                    </td>
                    <td>{{ entity.immediateRepair? 'Yes':'No' }}</td>
                    <td>{{ entity.statusChoices[entity.status] }}</td>
                    <td>{{ (entity.spa.userId)? users[entity.spa.userId]:'' }}</td>
                    <td>
                        {% include "AIEAnomalyBundle:ActionRegistrar:navigation_list.html.twig" with {'entity': entity, 'status' : status , 'granted_list': granted_list  } only %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

