{% extends 'AIEAnomalyBundle:ActionRegistrar:show.html.twig' %}

{% set anomalyType = entity.anomaly.code|lower %}

{% block content -%}
    <h1>Fabric Maintenance Register</h1>

    {{ parent() }}

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_fm', {'projectId': projectId, 'type': anomalyType}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('anomaly_fm_edit', { 'projectId': projectId, 'id': entity.id, 'type': anomalyType }) }}" class="btn btn">
                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
        </li>
    </ul>
{% endblock %}
