{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>Risk Assessment</h1>




<div class="fuelux">

    <div class="panel panel-default">
        <div class="panel-heading wz" id="riskAssessment">
            <div class="wizard">
                <ul class="steps">
                    <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Sections' Threats<span class="chevron"></span></li>
                    <li data-target="#step2"><span class="badge">2</span>Threats' Mitigations<span class="chevron"></span></li>
                    <li data-target="#step3"><span class="badge">3</span>Mitigation Details<span class="chevron"></span></li>
                    <li data-target="#step4"><span class="badge">4</span>Likelyhood<span class="chevron"></span></li>
                    <li data-target="#step5"><span class="badge">5</span>Consequence Assessment<span class="chevron"></span></li>

                </ul>
                <div class="actions">
                    <button class="btn btn-mini btn-prev"> <i class="glyphicon glyphicon-arrow-left"></i>Prev</button>
                    <button class="btn btn-mini btn-next" data-last="Finish">Next<i class="glyphicon glyphicon-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="panel-body step-content">
            <div class="step-pane active" id="step1">
                {{ render(controller("AIEIntegrityAssessmentBundle:SectionsThreats:new", {'pipelineId': pipelineId})) }}
                </div>
                <div class="step-pane" id="step2">
{{ render(controller("AIEIntegrityAssessmentBundle:sectionsthreatsmitigations:index", {'pipelineId': pipelineId})) }}
                    </div>
                    <div class="step-pane" id="step3">This is step 3</div>
                    <div class="step-pane" id="step4">This is step 4</div>
                    <div class="step-pane" id="step5">This is step 5</div>
                </div>
            </div>
        </div>



    {% endblock %}




    {% block javascripts %}
    {{ parent() }}
        <script src="{{ asset('assets/js/fuelux.loader.min.js') }}"></script>
        <script>
            $('.wz').wizard();
            </script>
{% endblock %}