{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Position - {{ entity.user.username }} - {{entity.project.name}}</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('ccm_userprojectgroup',{'userId':userId}) }}">
            Back to assigned projects
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#aie_bundle_cmsbundle_userprojectgroup_project').change(function(){
                var val = $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('ccm_userprojectgroup_ajax',{'userId': userId}) }}?project_id=" + val,
                    success: function(data) {
                        // Remove current options
                        $('#aie_bundle_cmsbundle_userprojectgroup_subproject').html('');
                        $.each(data, function(k, v) {
                            $('#aie_bundle_cmsbundle_userprojectgroup_subproject').append('<option value="' + v + '">' + k + '</option>');
                        });
                    }
                });
                return false;
            });
        });
    </script>
{% endblock %}