{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>{{ user.username }}'s assigned projects</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Project</th>
            <th>Position</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        {% for key,entity in entities %}
            <tr>
                <td>{{ entities[key].projectname }}</td>
                <td>{{ entities[key].groupname }}</td>
                <td>
                    <div style="display:inline-block;float:left;margin-right:10px;"><a href="{{ path('ccm_userprojectgroup_edit', { 'userId':userId, 'id': entities[key].id }) }}">
                            <button type="button" class="btn btn-primary">Edit</button>
                        </a>
                    </div>
                    <div style="display:inline-block;float:left;margin-right:10px;">
                {{ form(entities[key].form) }}
                        </div>
                    </td>
                </tr>
        {% endfor %}
            </tbody>
        </table>

        <ul>
            <li>
                <a href="{{ path('ccm_userprojectgroup_new', {'userId':userId}) }}">
                    Assign a new project
                </a>
            </li>
        </ul>
    {% endblock %}
