{% extends 'AIEAnomalyBundle:AnomalyRegistrar:index.html.twig' %}

{% block content -%}
    <h1>Marine Anomalies</h1>

     {% include 'AIEAnomalyBundle:Registrar:search.html.twig' %}

    {% include 'AIEAnomalyBundle:AnomalyRegistrar:list.html.twig' %}
    {% if (project.isSetup['isSetup']) %}
        <ul class="nav nav-pills">
    {% if granted_list['MR']['add'] %}
            <li>
                <a href="{{ path('anomaly_mr_new', {'projectId': projectId}) }}" class="btn btn">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new marine anomaly
                </a>
            </li>
    {% endif %}
        </ul>
    {% endif %}

{% endblock %}

