{% extends 'AIEAnomalyBundle:AnomalyRegistrar:new.html.twig' %}

{% block content -%}
    <h1>New Marine Anomaly</h1>
    {% if not(project.isSetup['isSetup']) %}
        <div class="row">
            <div class="col-lg-12" style="margin-top: 20px;">
                <div class="alert alert-warning">
                    <b>Access is not available.</b><br/>Setup the following lists to get access to this functionality.
                    <ul>
                        {{ (project.isSetup['missing']['locations']) ? '<li>Locations</li>' }}
                        {{ (project.isSetup['missing']['classifications']) ? '<li>Classifications</li>' }}
                        {{ (project.isSetup['missing']['threats']) ? '<li>Threats</li>' }}
                        {{ (project.isSetup['missing']['actionOwners']) ? '<li>Action Owners</li>' }}
                        {{ (project.isSetup['missing']['codes']) ? '<li>Codes & Standards</li>' }}
                        {{ (project.isSetup['missing']['risk']) ? '<li>Risk Matrix or Criticality Ranking</li>' }}
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        {{ form_start(form) }}
        {{ parent() }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <ul class="nav nav-pills">
            <li>
                <a href="{{ path('anomaly_mr', {'projectId': projectId}) }}" class="btn btn">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
                </a>
            </li>
        </ul>
    {% endif %}
{% endblock %}