{% extends 'AIEAnomalyBundle:AnomalyRegistrar:show.html.twig' %}

{% block content -%}
    <h1>Marine Anomaly</h1>

    {{ parent() }}

    <h1>Visual Summary</h1>
    <div>
        <div>
            <div id="charts">
                <div id="c3-chart"></div>
            </div>
        </div>
    </div>

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_mr', {'projectId':projectId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('anomaly_mr_edit', {'projectId':projectId, 'id': entity.id }) }}" class="btn btn">
                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
        </li>
        {%  if duplicateAnomalyGranted %}
        <li>
            <a href="{{ path('anomaly_mr_duplicate', {'projectId':projectId, 'id': entity.id }) }}" class="btn btn">
                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Duplicate Anomaly
            </a>
        </li>
        {%  endif  %}
    </ul>
{% endblock %}