{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>SectionsThreats list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Section</th>
            <th>Threat Group</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% set sec = '' %}
        {% for entity in entities %}
            <tr>
                {% if entity.pipelineSection.section.name != sec %}
                    {% set sec = entity.pipelineSection.section.name %}
                    <td rowspan="{{sections_count[entity.pipelineSection.section.id]}}">{{sec}}</td>
                {% endif %}
                    <td>{{entity.threat.name}}</td>
                    <td><a href="{{ path('sectionsthreatsmitigations', { 'sectionsThreats':entity.id}) }}">Assign Mitigations</a></td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    {% endblock %}
