{% extends 'AIEIntegrityAssessmentBundle:Default:wizard.html.twig' %}

{% block content -%}
    <h1>Likelihoods</h1>
    {{ parent() }}
{% endblock %}


{% block steps -%}
    {% for section in sections %}
        <li data-target="#step{{ section.id }}" {% if loop.index == 1 %}class="active"{% endif %}><span
                    class="badge badge-info">{{ loop.index }}</span>{{ section.section }}<span class="chevron"></span>
        </li>
    {% endfor %}

{% endblock %}
{% block steps_content %}
    {{ form_start(form) }}
    {% for section in sections %}
        <div class="step-pane {% if loop.index == 1 %}active{% endif %}" id="step{{ section.id }}">


            <div class="sticky-header">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Project Probabilities</h3>
                    </div>
                    <div class="panel-body">
                        <table class="records_list table table-bordered not-sticky">
                            <thead>
                            <tr>
                                <th>1</th>
                                <th>2</th>
                                <th>3</th>
                                <th>4</th>
                                <th>5</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>{{ riskMatrix.desc1 }}</td>
                                <td>{{ riskMatrix.desc2 }}</td>
                                <td>{{ riskMatrix.desc3 }}</td>
                                <td>{{ riskMatrix.desc4 }}</td>
                                <td>{{ riskMatrix.desc5 }}</td>
                            </tr>
                            <tr>
                                <td>Not Likely</td>
                                <td>Unlikely</td>
                                <td>Possible</td>
                                <td>Likely</td>
                                <td>Very Likely</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <table class="records_list table-bordered not-sticky">
                    <thead>
                    <tr>
                        <th style="width: 90px">Threat</th>
                        <th style="width: 150px">Mitigation Technique</th>
                        <th>Mitigation Status</th>
                        <th style="width: 150px;">Comments</th>
                        <th style="width: 110px;">Probability of failure</th>
                        <th style="width: 110px;">Confidence in the Assessment</th>
                        <!--<th>Adjusted Probability of failure</th>-->
                    </tr>
                    </thead>
                </table>
            </div>

            <table class="form-table records_list table-bordered not-sticky">
                <thead class="hidden-thead">
                <tr>
                    <th style="width: 90px;">Threat</th>
                    <th style="width: 150px">Mitigation Technique</th>
                    <th>Mitigation Status</th>
                    <th style="width: 150px;">Comments</th>
                    <th style="width: 110px;">Probability of failure</th>
                    <th style="width: 110px;">Confidence in the Assessment</th>
                    <!--<th>Adjusted Probability of failure</th>-->
                </tr>
                </thead>
                <tbody>

                {% set threatId = '' %}
                {%  if sectionThreats[section.id] is defined %}
                    {% for st in sectionThreats[section.id] %}
                        {% if st.stm|length > 0 %}
                            {% for sma in st.stm %}
                                {% if threatId != st.threats.id %}
                                    {% set threatId = st.threats.id %}

                                    <tr>
                                        <td rowspan="{{ sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] }}">{{ sma.sectionsThreats.threats.name }}</td>
                                        <td>{{ sma.mitigationTechnique.mitigationTechnique }}</td>
                                        <td>{{ sma.mitigationstatus }}</td>
                                        <td>{{ sma.comments }}</td>

                                        {% set column = 'sectionThreat_' ~ section.id ~ '_' ~ sma.sectionsThreats.id %}
                                        <td rowspan="{{ sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] }}">
                                            {{ form_row(attribute(attribute(form, column), 'probabilityOfFailer')) }}
                                        </td>
                                        <td rowspan="{{ sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] }}">
                                            {{ form_row(attribute(attribute(form, column), 'confidence')) }}
                                        </td>
                                        <!--<td rowspan="{{ sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] }}">
                                            <div class="adjProb">
                                    {# form_row(attribute(attribute(form, column), 'AdjProbabilityOfFailer')) #}
                                                </div>
                                            </td>-->
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td>{{ sma.mitigationTechnique.mitigationTechnique }}</td>
                                        <td>{{ sma.mitigationstatus }}</td>
                                        <td>{{ sma.comments }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td>{{ st.threats.name }}</td>
                                <td></td>
                                <td></td>
                                <td></td>

                                {% set column = 'sectionThreat_' ~ section.id ~ '_' ~ st.id %}
                                <td>
                                    {{ form_row(attribute(attribute(form, column), 'probabilityOfFailer')) }}
                                </td>
                                <td>
                                    {{ form_row(attribute(attribute(form, column), 'confidence')) }}
                                </td>
                                <!--<td>
                                                    <div class="adjProb">
                                    {# form_row(attribute(attribute(form, column), 'AdjProbabilityOfFailer')) #}
                                                        </div>
                                                    </td>-->
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="6" style="text-align:center;"> No Threats defined</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardNext" value="Next"></div>
    <div class="col-lg-1 right">{{ form_widget(form.submit) }}</div>
    <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardPrev" value="Back"></div>

    {{ form_end(form) }}

    <a id="nextLink" href="{{ path('consequenceassessment', {'pipelineId':pipelineId}) }}" style="display: none;"></a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/stickyjs/jquery.sticky.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.probF ,.confidence').on('change', function () {
                        var tr = $(this).closest('tr');
                        var probF = parseInt(tr.find('.probF').val());
                        var confidence = parseInt(tr.find('.confidence').val());
                        if (confidence == 0) {
                            var adjProb = (probF < 5) ? probF + 1 : probF;
                            tr.find('.adjProb select').val(adjProb);
                        } else {
                            tr.find('.adjProb select').val(probF);
                        }

                    }
            );

            $(".sticky-header:visible").sticky({topSpacing: 0, getWidthFrom: $('.form-table:visible')});
            wizard.on('changed', function (e, data) {
                $(".sticky-header:visible").sticky({topSpacing: 0, getWidthFrom: $('.form-table:visible')});
            });
        });
    </script>
{% endblock %}