{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Threat Matrix <span id="counter" style="display: none;">(<span id="threats-counter"></span> threats selected)</span></h1>
    {{ form_start(form) }}
    <table id="sections-threats" class="records_list table-bordered">
        <thead>
            <tr>
                <th></th>
                    {% for section in sections %}
                    <th>{{ section.section }}</th>
                    {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for threat in threats %}
                <tr>
                    <td>{{ threat.name }}</td>
                    {% for section in sections %}
                        {% set column = 'sectionThreat_' ~ section.id ~ '_' ~ threat.id %}
                            <td> {{ form_widget(attribute(form, column)) }} </td>
                            {% endfor %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        {{ form_end(form) }}



                        {% endblock %}


                            {% block javascripts %}
                                {{ parent() }}
                                <script>
                                    $('#sections-threats input:checkbox').on('change', function() {
                                        $('#threats-counter').text($('input:checkbox:checked').length);
                                    }
                                    );
                                    $('#threats-counter').text($('input:checkbox:checked').length);
                                    $('#counter').show();
                                </script>

                            {% endblock %}