{% extends 'AIEIntegrityAssessmentBundle:Default:wizard.html.twig' %}


{% block content -%}
<h1>Risks</h1>
{{ parent() }}
{% endblock %}

{% block steps -%}
    {% for section in sections %}
        <li data-target="#step{{section.id}}" {% if loop.index == 1 %}class="active"{% endif %}><span class="badge badge-info">{{ loop.index }}</span>{{ section.section }}<span class="chevron"></span></li>
            {% endfor %}

{% endblock %}
{% block steps_content %}
    {% for section in sections %}
        <div class="step-pane {% if loop.index == 1 %}active{% endif %}" id="step{{section.id}}">

            <table class="records_list table-bordered">
                <thead>
                    <tr>
                        <th rowspan="2">Threat</th>
                        <!--
                        <th rowspan="2">Comments</th>
                        <th rowspan="2">Probability of failure</th>
                        <th rowspan="2">Confidence in the Assessment</th>-->
                        <th rowspan="2">Adjusted Probability of failure</th>
                        <th colspan="{{ consequences|length }}" style="text-align: center">Consequence Assessment</th>
                        <th colspan="{{ consequences|length }}" style="text-align: center">Individual Risk</th>
                        <!--<th rowspan="2">Next Inspection Date</th>-->
                        <!--<th rowspan="2">Inspection Status</th>-->
                    </tr>
                    <tr>
                        {% for consequence in consequences %}
                            <th>{{consequence.consequence.name }}</th>
                            {% endfor %}
                            {% for consequence in consequences %}
                            <th>{{consequence.consequence.name }}</th>
                            {% endfor %}
                    </tr>
                </thead>
                <tbody>
                        {% if section.ste is not empty%}
                        {% for st in section.ste %}
                            <tr>
                                <td>{{ st.threats.name }}</td>
                                <td>{{ st.AdjProbabilityOfFailer }}</td>

                                {% for consequence in consequences %}
                                    {% if sectionsThreatsConsequences[st.id][consequence.id] is defined and sectionsThreatsConsequences[st.id][consequence.id] is not null %}
                                        <td class="color consequence">{{ sectionsThreatsConsequences[st.id][consequence.id]}}</td>
                                    {% else %}
                                        <td class="color consequence">&nbsp;</td>
                                    {% endif %}
                                {% endfor %}
                                {% for consequence in consequences %}
                                    {% if sectionsThreatsConsequences[st.id][consequence.id] is defined and sectionsThreatsConsequences[st.id][consequence.id] is not null %}
                                        {% set probability = st.AdjProbabilityOfFailer %}
                                        {% set consequence = sectionsThreatsConsequences[st.id][consequence.id] %}
                                        {% set risk = consequence * probability %}
                                        <td class="color risk {{ riskmatrix[consequence][probability] }}">{{ risk }}</td>
                                    {% else %}
                                        <td class="color risk">&nbsp;</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        {% else %}
                            {% set colspan = 2 + consequences|length * 2 %}
                            <tr>
                                <td colspan= {{ colspan }}>No Threats defined</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>



            </div>
            {% endfor %}
                <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardNext" value="Next"></div>
                <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardPrev" value="Back"></div>


                <a id="nextLink" href="{{ path('pipelineriskassessment', {'pipelineId':pipelineId}) }}" style="display: none;"></a>
                {% endblock %}