{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <style>
        .text-container{
            width: 100%;
            padding: 0px;
        }
        .select-container{
            width: 100%;
        }
        .form-title{
            margin-bottom: 5px;
            margin-left: 10px;
            font-weight: bold;
        }
        .tooltip-inner {
            min-width: 100px;
            max-width: 100%;
        }
    </style>
    <div class="row">
        <div class="col-lg-9"><h1>POF & COF Details Load Sheet</h1></div>
        <div class="col-lg-3" style="margin-top: 20px;">
            {{ form_start(download_form) }}
            {{ form_widget(download_form.download, { 'attr': {'data-toggle': 'tooltip', 'data-placement': 'left', 'title': '<div style="text-align:left;">*: mandatory field<br/>Bulk load up to 400 rows</div>'} }) }}
            {{ form_end(download_form) }}

                        {#<a href="downloadloadsheet" class="btn btn-success btn-block"><i class="glyphicon glyphicon-cloud-download"></i> Download Master Loadsheet</a>#}

        </div>
        <div class="col-lg-12"><hr style="margin-top: 0px;"/></div>
        <div class="col-lg-12">
                <div class="row">
                    {{ form_start(form, {'attr': {'id': 'form_loadsheet'}}) }}
                    <div class="col-lg-8">
                        <span class="form-title">Loadsheet File</span>
                        {{ form_widget(form.loadsheetfile) }}
                    </div>
                    <div class="col-lg-4">
                        <span class="form-title">&nbsp;</span>
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
                    {% if hasFile == 1 %}
                        <div class="col-lg-12"><hr /></div>
                        <div class="col-lg-12" style="text-align: right;">
                            <span><strong>Status Codes: </strong></span>
                            <span class="label label-danger">Invalid</span>&nbsp;
                            <span class="label label-success">Valid</span>&nbsp;
                            <span class="label label-primary">Submitted</span>&nbsp;
                            <span class="label label-warning">Failed to submit</span>
                        </div>
                        <div class="col-lg-12"><h4>File Information</h4></div>
                        <div class="col-lg-12 ">
                            <table class="loadsheet-table table table-condensed table-bordered table-responsive table-hover">
                                <thead>
                                <tr>
                                    <th>File Name</th>
                                    <th>Extension</th>
                                    <th>File Size</th>
                                    <th>Number of Rows</th>
                                    <th>Data Status</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ fileInfo['name'] }}</td>
                                    <td>{{ fileInfo['ext'] }}</td>
                                    <td>{{ fileInfo['size'] }}</td>
                                    <td>{{ fileInfo['rowsCount'] }}</td>
                                    <td>
                                        {% if fileInfo['status']==0 %}
                                            <span class="label label-danger">&nbsp;</span>
                                        {% endif %}
                                        {% if fileInfo['status']==1 %}
                                            <span class="label label-success">&nbsp;</span>
                                        {% endif %}
                                        {% if fileInfo['status']==2 %}
                                            <span class="label label-primary">&nbsp;</span>
                                        {% endif %}
                                        {% if fileInfo['status']==3 %}
                                            <span class="label label-warning">&nbsp;</span>
                                        {% endif %}

                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        {% if validExcelFormat %}
                            {% if fileInfo['rowsCount'] > 0 %}
                                <div class="col-lg-12"><hr /><h4>Sheet Content</h4></div>
                                <div class="col-lg-12 ">
                                    <div class="table-responsive loadsheet-table-container" style="max-height: 500px;">
                                        <div>
                                            <table class="loadsheet-table table table-bordered table-condensed table-hover" style="border-collapse:collapse;">
                                                <thead>
                                                {% for row in excelHeaderData %}
                                                    <tr>
                                                        {% if loop.index0==0 %}
                                                            <th rowspan="3" colspan="1">Row Status</th>
                                                        {% endif %}
                                                        {% for item in row %}
                                                            <th colspan="{{ item['colspan'] }}" rowspan="{{ item['rowspan'] }}">{{ item['name'] }}</th>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                                </thead>
                                                <tbody>
                                                {% for key,value in excelData['data'] %}
                                                    <tr>
                                                        <td>
                                                            {% if value['itemStatus']==0 %}
                                                                <span class="label label-danger">&nbsp;</span>
                                                            {% endif %}
                                                            {% if value['itemStatus']==1 %}
                                                                <span class="label label-success">&nbsp;</span>
                                                            {% endif %}
                                                            {% if value['itemStatus']==2 %}
                                                                <span class="label label-primary">&nbsp;</span>
                                                            {% endif %}
                                                            {% if value['itemStatus']==3 %}
                                                                <span class="label label-warning">&nbsp;</span>
                                                            {% endif %}
                                                        </td>
                                                        {% for item in value['item'] %}
                                                            <td>
                                                                {{ item.value }}
                                                                {% if item.status == 'error' %}
                                                                    <span class="label label-danger" data-toggle="tooltip" data-placement="top" title="{{ item.message }}">Invalid field</span>
                                                                {% endif %}
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    {% if fileInfo['status'] == 1 %}
                                        <div style="margin-top: 20px">
                                            {{ form_start(insert_form, {'attr': {'id': 'form_insert_loadsheet'}}) }}
                                            {{ form_widget(insert_form.dataObject) }}
                                            {{ form_widget(insert_form.fileInfo) }}
                                            {{ form_widget(insert_form.insert) }}
                                            {{ form_end(insert_form) }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="col-lg-12">
                                <hr />
                                <div class="alert alert-warning">
                                    The file uploaded does not match the latest version of the Pipeline Load Sheet. Please use the latest version.
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.4/dist/loadingoverlay.min.js"></script>
    <script>
        $(".call-loader").on("click",function () {
            $.LoadingOverlay("show");
        });

        // $("#form_insert").on("click",function () {
        //     console.log('sa')
        //     $('#form_insert_loadsheet').submit();
        // });



    </script>
{% endblock %}
