{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Codes & Standards</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Category</th>
            <th>Design Code</th>
            <th>Description</th>
            <th style="width: 10%;">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for type, entities in codes %}
            {% for entity in entities %}
                <tr>
                    {% if loop.index0 == 0 %}
                        <td rowspan="{{ entities|length }}">{{ anomalyCategories[entity.type] }}</td>
                    {% endif %}
                    <td>{{ entity.code }}</td>
                    <td>{{ entity.description }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ entity.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <spna style="font-size: 15px; font-weight: bold;">...</spna>
                            </button>
                            {% if (editGranted == 1 or showGranted == 1 )%}
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ entity.id }}">
                                {% if showGranted == 1 %}
                                <li>
                                    <a href="{{ path('anomaly_codes_show', { 'projectId': projectId, 'id': entity.id }) }}">show</a>
                                </li>
                                {% endif %}
                                {% if editGranted == 1 %}
                                <li>
                                    <a href="{{ path('anomaly_codes_edit', { 'projectId': projectId, 'id': entity.id }) }}">edit</a>
                                </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                        </div>
                    </td>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <ul class="nav nav-pills">
        {% if createGranted == 1 %}
        <li>
            <a href="{{ path('anomaly_codes_new', {'projectId': projectId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new code
            </a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
