{% extends layout %}

{% block content -%}
    <h1>Edit Action Owner</h1>

    {{ form(edit_form) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path(route_base, {'projectId':projectId}) }}">
                Back to action owners
            </a>
        </li>
    </ul>
{% endblock %}
