{% extends layout %}

{% block content -%}
    <h1>Action Owners</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Position</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.company }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path(route_base ~ '_edit', {'projectId': projectId, 'id': entity.id }) }}">Edit</a>
                        </li>
                        <li class="form-container">
                            {{ form(entity.delete_form) }}
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path(route_base ~ '_new', {'projectId': projectId}) }}">
                Create a new action owner
            </a>
        </li>
    </ul>
{% endblock %}
