{% extends layout %}

{% block content -%}
    <h1>New Action Owner</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path(route_base, {'projectId': projectId}) }}">
            Back to action owners
        </a>
    </li>
</ul>
{% endblock %}
