{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Action Owner</h1>

    {{ form(edit_form) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path('cms_subproject_actionowners', {'projectId':projectId,'subprojectId':subprojectId}) }}">
                Back to Action Owners
            </a>
        </li>
    </ul>
{% endblock %}
