{% extends 'AIECmsBundle:Default:layout.html.twig' %}
{% block content -%}
    <h1>Action Owners</h1>
    <div class="alert alert-danger displayError" style="display:none;"></div>
    <table class="records_list">
        <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Position</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% if grantedShow %}
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.name }}</td>
                    <td>{{ entity.company }}</td>
                    <td>{{ entity.position }}</td>
                    <td>{{ entity.email }}</td>
                    <td>
                        <ul>
                            {% if grantedEdit %}
                                <li class="form-container">
                                    <a href="{{ path('cms_subproject_actionowners_edit', {'id':entity.id,'projectId': projectId, 'subprojectId': subprojectId}) }}">Edit</a>
                                </li>
                            {% endif %}
                            {% if grantedDelete %}
                                <li class="form-container">
                                    <a href="{{ path('cms_subproject_actionowners_show', {'id':entity.id,'projectId': projectId, 'subprojectId': subprojectId}) }}">Delete</a>
                                </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <ul>
        {% if grantedAdd %}
            <li>
                <a href="{{ path('cms_subproject_actionowners_new', {'projectId': projectId, 'subprojectId': subprojectId}) }}">
                    Create a new action owner
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
