{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>New Action Owner</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('cms_subproject_actionowners', {'projectId': projectId,'subprojectId': subprojectId}) }}">
            Back to Action Owners
        </a>
    </li>
</ul>
{% endblock %}
