/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
.col-xs-4{
  padding-bottom: 25px;
}

.col-xs-8{
  padding-bottom: 25px;
}

.col-md-4{
  padding-bottom: 25px;
}

.col-md-8{
  padding-bottom: 25px;
}

.col-sm-4{
  padding-bottom: 25px;
}

.col-sm-8{
  padding-bottom: 25px;
}

.col-lg-4{
  padding-bottom: 25px;
}

.col-lg-8{
  padding-bottom: 25px;
}

.container{
  position: relative;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 750px;
}

.outer-container{
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  right: 0px;
  bottom: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 730px;
}

.form-group .button-container{
  float: left;
}

.select-container{
  padding-left: 15px;
}

.modal-body{
  width: 1100px;
}

.inner-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-x: scroll;
  overflow-y: scroll;
  z-index:1;
}

.table-header {
  width: 2500px;
  text-align: center;
  overflow: hidden;
  position : relative;
}

.table-body {
  position : absolute;
  height: 100%;
  width: 2500px;
  overflow-y: scroll;
}

th{
  text-align: center;
  padding-bottom: 20px;
}
a:hover,a:focus {
  color:#00CC00;
}

a {
  color:#00CC00;
}

::-webkit-scrollbar {
  width: 12px
}
::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px
}
::-webkit-scrollbar-track {
  border-width: 0
}
::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
::-webkit-scrollbar-track:horizontal {
  border-width: 4px 0 0
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(204, 204, 0, .05);
  box-shadow: inset 1px 0 0 rgba(204, 204, 0, .1);
}
::-webkit-scrollbar-track:horizontal:hover {
  box-shadow: inset 0 1px 0 rgba(204, 204, 0, .1)
}
::-webkit-scrollbar-track:active {
  background-color: rgba(204, 204, 0, .05);
  box-shadow: inset 1px 0 0 rgba(204, 204, 0, .14), inset -1px 0 0 rgba(204, 204, 0, .07);
}
::-webkit-scrollbar-track:horizontal:active {
  box-shadow: inset 0 1px 0 rgba(204, 204, 0, .14), inset 0 -1px 0 rgba(204, 204, 0, .07)
}
::-webkit-scrollbar-thumb {
  background-color: rgba(116, 116, 116, 0.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(204, 204, 0, .1), inset 0 -1px 0 rgba(204, 204, 0, .07);
}
::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 1px 1px;
  padding: 0 0 0 100px;
  box-shadow: inset 1px 1px 0 rgba(204, 204, 0, .1), inset -1px 0 0 rgba(116, 116, 116, 0.07);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(130, 130, 130, 0.4);
  box-shadow: inset 1px 1px 1px rgba(130, 130, 130, 0.36);
}
::-webkit-scrollbar-thumb:active {
  background-color: rgba(185, 185, 185, 0.11);
  box-shadow: inset 1px 1px 3px rgba(130, 130, 130, 0.45);
}
::-webkit-scrollbar-track {
  border-width: 0 1px 0 6px
}
::-webkit-scrollbar-track:horizontal {
  border-width: 6px 0 1px
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(204, 204, 0, .035);
  box-shadow: inset 1px 1px 0 rgba(204, 204, 0, .14), inset -1px -1px 0 rgba(204, 204, 0, .07);
}
::-webkit-scrollbar-thumb {
  border-width: 0 1px 0 6px
}
::-webkit-scrollbar-thumb:horizontal {
  border-width: 6px 0 1px
}
::-webkit-scrollbar-corner {
  background: transparent
}
body::-webkit-scrollbar-track-piece {
  background-clip: padding-box;
  background-color: #5a5a5a;
  border: solid #fff;
  border-width: 0 0 0 3px;
  box-shadow: inset 1px 0 0 rgba(204, 204, 0, .14), inset -1px 0 0 rgba(204, 204, 0, .07);
}
body::-webkit-scrollbar-track-piece:horizontal {
  border-width: 3px 0 0;
  box-shadow: inset 0 1px 0 rgba(204, 204, 0, .14), inset 0 -1px 0 rgba(204, 204, 0, .07);
}
body::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 5px
}
body::-webkit-scrollbar-thumb:horizontal {
  border-width: 5px 1px 1px
}
body::-webkit-scrollbar-corner {
  background-clip: padding-box;
  background-color: #f5f5f5;
  border: solid #fff;
  border-width: 3px 0 0 3px;
  box-shadow: inset 1px 1px 0 rgba(204, 204, 0, .14);
}
