{% extends 'AIEAnomalyBundle:AnomalyRegistrar:show.html.twig' %}

{% block content -%}
    <h1>Pipeline Anomaly</h1>

    {{ parent() }}


    {#<h1>Visual Summary</h1>#}
    {#<div class="col-lg-12">#}
        {#<div id="charts">#}
            {#<div id="c3-chart"></div>#}
        {#</div>#}
    {#</div>#}

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_pl', {'projectId':projectId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('anomaly_pl_edit', {'projectId':projectId, 'id': entity.id }) }}" class="btn btn">
                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
        </li>
        {%  if duplicateAnomalyGranted %}
        <li>
            <a href="{{ path('anomaly_pl_duplicate', {'projectId':projectId, 'id': entity.id }) }}" class="btn btn">
                <span class="glyphicon glyphicon-copy" aria-hidden="true"></span> Duplicate Anomaly
            </a>
        </li>
        {% endif %}
    </ul>
{% endblock %}