{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
        <table class="record_properties">
            <h1>Pipeline Anomaly</h1>
            <tbody>
            <tr>
                    <td colspan="2">
                            {% if delete_form is defined %}
                                    <div class="alert alert-danger">
                                            <a href="#" class="close" data-dismiss="alert">Close</a>
                                            Are you sure you want to delete the anomaly?
                                        </div>
                                {% endif %}
                        </td>
                </tr>
            <tr>
                    <th>Id</th>
                    <td>{{ entity.id }}</td>
                </tr>
            <tr>
                    <th>Component</th>
                    <td>{{ entity.component }}</td>
                </tr>
            <tr>
                    <td colspan="2">{{ form(delete_form) }}</td>
                </tr>
            <tr>
                    <td colspan="2">
                        <ul class="nav nav-pills">
                            <li>
                                <a href="{{ path('anomaly_pl', {'projectId': projectId}) }}" class="btn btn">
                                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
                                </a>
                            </li>
                        </ul>
                        </td>
                </tr>
            </tbody>
        </table>
    {% endblock %}