{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    {% set grantedEdit = is_granted('ROLE_PIPELINE_EDIT', project) %}
    {% set grantedAdd = is_granted('ROLE_PIPELINE_ADD', project) %}
    {% set grantedDelete = is_granted('ROLE_PIPELINE_DELETE', project) %}
    <h1>Pipelines</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('pipelines_show', { 'id': entity.id, 'projectId': projectId}) }}">{{ entity.name }}</a></td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('pipelines_show', { 'id': entity.id, 'projectId': projectId }) }}">show</a>
                    </li>
                    {% if grantedEdit %}<li>
                        <a href="{{ path('pipelines_edit', { 'id': entity.id, 'projectId': projectId }) }}">edit</a>
                    </li>
                    {% endif %}
                    {% if grantedDelete %}
                    <li>
                        <a href="{{ path('pipelines_delete', { 'id': entity.id, 'projectId': projectId }) }}">delete</a>
                    </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% if grantedAdd %}
        <ul>
        <li>
            <a href="{{ path('pipelines_new', {'projectId': projectId}) }}">
                Create a new pipeline
            </a>
        </li>
    </ul>
{% endif %}
    {% endblock %}
