{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Pipeline: {{ entity.name }}</h1>

    <table class="records_list">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('pipelines', {'projectId': projectId}) }}">
                Back to pipelines
            </a>
        </li>
        <li>
            <a href="{{ path('pipelines_edit', { 'id': entity.id, 'projectId': projectId }) }}">
                Edit
            </a>
        </li>
    </ul>
{% endblock %}
