{% set wizard_layout = 'AIEAnomalyBundle:Default:wizard.html.twig' %}
{% set grantedEdit = true %}
{% set nextLink = '#' %}
{% set routeVar = app.request.attributes.get('_route') %}
{% extends 'AIEVeracityBundle:RiskMatrix:new.html.twig' %}
