{% if (entity.probability is not null and entity.consequence is not null ) or entity.criticality is not null %}
    {% set project_type = class(project) %}
    {% if project_type == 'RiskProject' %}
        {% set matrix = project.riskMatrix %}
        {{ matrix.risk(entity.consequence, entity.probability) }}
    {% else %}
        {{ entity.criticalityChoices[entity.criticality] }}
    {% endif %}
{% else %}
    {{- '-' -}}
{% endif %}