{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>Edit Document</h1>

    {{ form(edit_form) }}
    {{ form(delete_form) }}
<a href="{{ path('pipeline_files', {'pipelineId':pipelineId}) }}">
    Back to documents
</a>
{% endblock %}