{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <link type="text/css" rel="stylesheet"
          href="//ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.css"/>

    <h1>Pipeline Documents</h1>
    <form class="form-horizontal" id="documents_form">
        <div class="form-group">
            <label class="col-md-2 control-label" for="documents_filter"><span id="matches"></span> Filter:</label>
            <div class="text-container">
                <input id="document_filter" type="text" name="document_filter" placeholder="Filter..." class="form-control input-md">
            </div>
            <button id="btnResetSearch" class="btn btn-primary">&times;</button>
        </div>
    </form>

    <table id="documents-explorer" pipeline-id="{{ pipelineId }}" class="table table-bordered">
        <colgroup>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
            <col/>
        </colgroup>
        <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Caption</th>
            <th>Company</th>
            <th>Document Number</th>
            <th>Document Date</th>
            <th>Date Added</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('pipeline_files_new', {'pipelineId':pipelineId}) }}">
                Create a new document
            </a>
        </li>
        <li>
            <a href="#" id="create-folder">
                Create a new folder
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/contextmenu/jquery.ui-contextmenu.min.js') }}"></script>
    <script src="{{ asset('assets/js/aie/documents.js') }}"></script>
{% endblock %}