{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>New Document</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pipeline_files', {'pipelineId': pipelineId}) }}">
            Back to documents
        </a>
    </li>
</ul>
{% endblock %}
