{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        a, a:link, a:visited
        {

        }
        a.projectTitle{
            color: #1e2060;
            text-decoration: none;
        }
    </style>
{% endblock %}
{% block left_container %}{% endblock %}
{% block content_container %}
    <div id="dashboard">
        <div class="col-lg-12">
            <div class="page-header" style="margin-top: 5px;">
                <h1>Hi <span class="capitalize">{{ app.security.getToken().getUser().getUsername() }}</span>, Welcome to Veracity Anomaly</h1>
            </div>
        </div>
        {% if projects|length > 0 %}
        <div class="col-lg-12">
            <h2 style="margin-top: 0px;">List of Projects</h2>
            <div class="row">
                {% set counter = 1 %}
                {% for project in projects %}
                    <div class="col-lg-12">
                        <h3 class="primary-color"><a class="projectTitle" href="{{ path('anomaly_projects_show', { 'id': project.id }) }}" style="text-transform:uppercase;">{{ project.name }}</a>
                            {% set projectType = class(project) %}
                            {% if projectType == 'RiskProject' %}
                                <small> Risk based</small>
                                {% set riskCaption = " Risk" %}
                            {% else %}
                                <small> Criticality based</small>
                                {% set riskCaption = " Criticality" %}
                            {% endif %}
                        </h3>
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="row">
                                    <div class="col-lg-6" id="div_1_{{ project.id }}" style="height: 400px;">
                                        <div class="data-spinner"><div class="lds-ripple"><div></div><div></div><div></div><div></div></div></div>
                                    </div>
                                    <div class="col-lg-6" id="div_2_{{ project.id }}" style="height: 400px;">
                                        <div class="data-spinner"><div class="lds-ripple"><div></div><div></div><div></div><div></div></div></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12" style="margin-top: 0px;">
                                        <div class="list-group">
                                            <div class="list-group-item custom-list-group-item list-header custom-list-header">Explore Anomalies</div>
                                            <a href="{{ path('anomaly_pl', { 'projectId': project.id }) }}" class="list-group-item custom-list-group-item">Pipeline</a>
                                            <a href="{{ path('anomaly_pi', { 'projectId': project.id }) }}" class="list-group-item custom-list-group-item">Piping</a>
                                            <a href="{{ path('anomaly_se', { 'projectId': project.id }) }}" class="list-group-item custom-list-group-item">Static Equipment</a>
                                            <a href="{{ path('anomaly_st', { 'projectId': project.id }) }}" class="list-group-item custom-list-group-item">Structure</a>
                                            <a href="{{ path('anomaly_mr', { 'projectId': project.id }) }}" class="list-group-item custom-list-group-item">Marine</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-12" style="margin-top: 5px;">
                                        <div class="list-group" style="margin-bottom: 0px;">
                                            <div class="list-group-item custom-list-group-item list-header custom-list-header">Explore Registers</div>
                                            <a href="{{ path('anomaly_master', { 'projectId': project.id }) }}" class="list-group-item custom-list-group-item">Anomaly Inspections</a>
                                            <a href="{{ path('anomaly_ro_master', { 'projectId': project.id }) }}" class="list-group-item custom-list-group-item">Repair Orders</a>
                                            <a href="{{ path('anomaly_tro_master', { 'projectId': project.id }) }}" class="list-group-item custom-list-group-item">Temporary Repair Orders</a>
                                            <a href="{{ path('anomaly_fm_master', { 'projectId': project.id }) }}" class="list-group-item custom-list-group-item">Fabric Maintenance</a>
                                            <a href="{{ path('anomaly_as_master', { 'projectId': project.id }) }}" class="list-group-item custom-list-group-item">Assessments</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <hr style="margin-bottom: 5px;" />
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="col-lg-12">
            <div class="alert alert-info">
                There is no project currently available. <a href="{{ path('anomaly_projects_new') }}">Click here</a> to add a new project.
            </div>
        </div>
        {% endif %}
        {#<div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12" id="div_imgHolder">
                    <div class="panel panel-default" style="padding: 5px;">
                        <div class="panel-body" style="padding: 0px;">
                            <img src="{{ asset('assets/img/anomaly/va.png') }}" class="img-responsive center-block" alt="Veracity Anomaly" usemap="#planetmap">
                            <map name="planetmap">
                                <area shape="circle" coords="200,53, 48" alt="Sun" class="areaCallee" for="pnl_an">
                                <area shape="circle" coords="93,300, 48" alt="Sun" class="areaCallee" for="pnl_fm">
                                <area shape="circle" coords="302,300, 48" alt="Sun" class="areaCallee" for="pnl_tro">
                                <area shape="circle" coords="200,346, 48" alt="Sun" class="areaCallee" for="pnl_ro">
                            </map>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" id="div_Info">

                </div>
                <div class="col-lg-12">
                    <div class="panel-group">
                        <div class="panel panel-default panelInfo" id="pnl_above" style="display: none;">
                            <div class="panel-heading">Anomaly Management</div>
                            <div class="panel-body">Anomaly Management</div>
                        </div>
                        <div class="panel panel-default panelInfo" id="pnl_an" style="display: none;">
                            <div class="panel-heading">Anomaly Management</div>
                            <div class="panel-body">Anomaly Management</div>
                        </div>
                        <div class="panel panel-default panelInfo" id="pnl_ro" style="display: none;">
                            <div class="panel-heading">Repair Management</div>
                            <div class="panel-body">Anomaly Management</div>
                        </div>
                        <div class="panel panel-default panelInfo" id="pnl_tro" style="display: none;">
                            <div class="panel-heading">Temporary Repair Management</div>
                            <div class="panel-body">Anomaly Management</div>
                        </div>
                        <div class="panel panel-default panelInfo" id="pnl_fm" style="display: none;">
                            <div class="panel-heading">Fabric Maintenance Management</div>
                            <div class="panel-body">Anomaly Management</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/grid220/pqgrid.min.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/broken-axis.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>
    <script src="{{ asset('assets/js/editable/jquery.inline-edit.js') }}"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
        {% set counter = 1 %}
        {% for project in projects %}
        {% set chartTitle = "" %}
        {% set CLocSum = project_risks[project.id]['risks'][3]|default(0) + project_risks[project.id]['risks'][2]|default(0) + project_risks[project.id]['risks'][1]|default(0) +project_risks[project.id]['risks'][0]|default(0) + project_risks[project.id]['risks'][4]|default(0) %}
        {% if CLocSum <= 0 %}
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $("#div_1_{{ project.id }}").html("<div style='height:400px; display: table;text-align: center;'><b style='display: table-cell;vertical-align: middle;text-align: center;'>Currently the system does not has any risk/criticality data for {{ project.name }}</b></div>");
        });
        {% else %}
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            {% if CLocSum <= 0 %}
            {% set CLocSum = 1 %}
            {% endif %}
            {% if class(project) == 'RiskProject' %}
            {% set chartTitle = "Risk" %}
            var chartData =[];
            var colorsArray=['rgba(191,30,46,1)', 'rgba(239,64,53,1)', 'rgba(241,89,42,1)', 'rgba(11,148,68,1)', 'rgba(56,181,73,1)'];
            chartData.push({
                name: 'Very High Risk',
                y: {{  project_risks[project.id]['risks'][4]|default(0) }},
                customPercentage:{{ (project_risks[project.id]['risks'][4]|default(0)/CLocSum*100)|round(1) }}
            }, {
                name: 'High Risk',
                y: {{  project_risks[project.id]['risks'][3]|default(0) }},
                customPercentage:{{ (project_risks[project.id]['risks'][3]|default(0)/CLocSum*100)|round(1) }}
            }, {
                name: 'Medium Risk',
                y: {{  project_risks[project.id]['risks'][2]|default(0) }},
                customPercentage:{{ (project_risks[project.id]['risks'][2]|default(0)/CLocSum*100)|round(1) }}
            }, {
                name: 'Low Risk',
                y: {{  project_risks[project.id]['risks'][1]|default(0) }},
                customPercentage:{{ (project_risks[project.id]['risks'][1]|default(0)/CLocSum*100)|round(1) }}
            }, {
                name: 'Very Low Risk',
                y: {{  project_risks[project.id]['risks'][0]|default(0) }},
                customPercentage:{{ (project_risks[project.id]['risks'][0]|default(0)/CLocSum*100)|round(1) }}
            });
            {% else %}
            {% set chartTitle = "Criticality" %}
            var chartData =[];
            var colorsArray=[];
            {% if project.vhEnabled is defined and project.vhEnabled > 0 %}
            chartData.push({
                name: '{{ project.vhName }} {{ chartTitle }}',
                y: {{  project_risks[project.id]['risks'][4]|default(0) }},
                customPercentage:{{ (project_risks[project.id]['risks'][4]|default(0)/CLocSum*100)|round(1) }}
            });
            colorsArray.push('#{{ project.vhColor }}');
            {% endif %}
            {% if project.hEnabled is defined and project.hEnabled > 0 %}
            chartData.push({
                name: '{{ project.hName }} {{ chartTitle }}',
                y: {{  project_risks[project.id]['risks'][3]|default(0) }},
                customPercentage:{{ (project_risks[project.id]['risks'][3]|default(0)/CLocSum*100)|round(1) }}
            });
            colorsArray.push('#{{ project.hColor }}');
            {% endif %}
            {% if project.mEnabled is defined and project.mEnabled > 0 %}
            chartData.push({
                name: '{{ project.mName }} {{ chartTitle }}',
                y: {{  project_risks[project.id]['risks'][2]|default(0) }},
                customPercentage:{{ (project_risks[project.id]['risks'][2]|default(0)/CLocSum*100)|round(1) }}
            });
            colorsArray.push('#{{ project.mColor }}');
            {% endif %}
            {% if project.lEnabled is defined and project.lEnabled > 0 %}
            chartData.push({
                name: '{{ project.lName }} {{ chartTitle }}',
                y: {{  project_risks[project.id]['risks'][1]|default(0) }},
                customPercentage:{{ (project_risks[project.id]['risks'][1]|default(0)/CLocSum*100)|round(1) }}
            });
            colorsArray.push('#{{ project.lColor }}');
            {% endif %}
            {% if project.vlEnabled is defined and project.vlEnabled > 0 %}
            chartData.push({
                name: '{{ project.vlName }} {{ chartTitle }}',
                y: {{  project_risks[project.id]['risks'][0]|default(0) }},
                customPercentage:{{ (project_risks[project.id]['risks'][0]|default(0)/CLocSum*100)|round(1) }}
            });
            colorsArray.push('#{{ project.vlColor }}');
            {% endif %}
            {% endif %}
            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'div_1_{{ project.id }}',
                    type: 'pie',
                    height: 400,
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie',
                    height:'400px',
                    borderWidth: 1,
                    borderColor:'gray'
                },
                colors: colorsArray,
                credits: {
                    enabled: false
                },
                title: {
                    text: '{{ chartTitle }} Status ({{ planned_status[project.id]['live']|default(0) }} live anomalies)',
                    align: 'left'
                },
                tooltip: {
                    headerFormat: '<b>{point.key}</b><br>',
                    pointFormat: '{point.y} ({point.customPercentage}%)'
                },
                plotOptions: {
                    pie: {
                        borderWidth: 6,
                        startAngle: 90,
                        innerSize: '45%',//'55%',
                        size: '100%',
                        shadow: true,
                        dataLabels: false,
                        showInLegend: true,
                        stickyTracking: false,
                        states: {
                            hover: {
                                enabled: true
                            }
                        }
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle'
                },
                series: [{
                    name: '{{ chartTitle }} Status',
                    colorByPoint: true,
                    data: chartData
                }]
            });
        });
        {% endif %}
        {% if planned_status[project.id]['in']|default(0) + planned_status[project.id]['ro']|default(0) + planned_status[project.id]['tro']|default(0) +planned_status[project.id]['fm']|default(0) + planned_status[project.id]['as']|default(0) <= 0 %}
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $("#div_2_{{ project.id }}").html("<div style='height:400px; display: table;text-align: center;'><b style='display: table-cell;vertical-align: middle;text-align: center;'>Currently the system does not has any mitigation data for {{ project.name }}</b></div>");
        });
        {% else %}
        var seriesArray=[];
        var categoriesArray=[];
        categoriesArray.push('Anomaly Inspection');
        categoriesArray.push('Repair Orders');
        categoriesArray.push('Temporary Repair Orders');
        categoriesArray.push('Fabric Maintenance');
        categoriesArray.push('Assessment');
        seriesArray.push(
            {
                showInLegend: false,
                name: 'Anomaly Inspection',
                data: [[0,{{ planned_status[project.id]['in']|default(0) }}]]
            }

        );
        seriesArray.push(
            {
                showInLegend: false,
                name: 'Repair Orders',
                data: [[1,{{ planned_status[project.id]['ro']|default(0) }}]]
            }

        );
        seriesArray.push(
            {
                showInLegend: false,
                name: 'Temporary Repair Orders',
                data: [[2,{{ planned_status[project.id]['tro']|default(0) }}]]
            }

        );
        seriesArray.push(
            {
                showInLegend: false,
                name: 'Fabric Maintenance',
                data: [[3,{{ planned_status[project.id]['fm']|default(0) }}]]
            }

        );
        seriesArray.push(
            {
                showInLegend: false,
                name: 'Assessment',
                data: [[4,{{ planned_status[project.id]['as']|default(0) }}]]
            }

        );
        $("#div_2_{{ project.id }}").highcharts({
            chart:{
                type:'column',
                height:'400px',
                borderWidth: 1,
                borderColor:'gray',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
            },credits: {
                enabled: false
            },title: {
                text: 'Mitigation Status',
                align: 'left'
            },plotOptions : {
                series  	: {
                    grouping: false,
                    pointRange: 1
                },
            },xAxis: {
                categories: categoriesArray,
                min:0,
                max:{{ 5 - 1 }},
                title: {
                    text: 'Mitigation Techniques'
                }
            },yAxis: {
                title: {
                    text: 'Anomaly Count'
                },
                tickInterval:1,
            },tooltip: {
                headerFormat: '<b>{series.name}</b><br>',
                pointFormat: '{point.y}'
            },
            series: seriesArray
        });
        {% endif %}


        {% endfor %}
        $(".areaCallee").on("click",function () {
            $(".panelInfo").hide();
            $("#" + $(this).attr("for")).show();
        });
    </script>
{% endblock %}