{% set system = 'Anomaly' %}
{% extends 'AIEVeracityBundle:Default:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/custom-aie.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/custom-navbar.css') }}">
{% endblock %}
{% block title %}Veracity Anomaly{% endblock %}
{% block module_logo %}
    <a class="navbar-brand" style="padding-top: 10px;" href="{{ path('index') }}"><img src="{{ asset('assets/img/VAnomalyWhite.png') }}" style="height: 30px;max-height: 30px;" /></a>
{% endblock %}
{% block top_navigation %}
    {{ knp_menu_render('anomaly_main_left', {'currentClass': 'active', 'template': 'AIEIntegrityAssessmentBundle:Default:menu.html.twig'}) }}
    {{ knp_menu_render('anomaly_main_right', {'currentClass': 'active', 'template': 'AIEIntegrityAssessmentBundle:Default:menu.html.twig'}) }}
{% endblock %}

{% block leftSidebar %}
    {{ knp_menu_render('anomaly_left_nav', {'currentClass': 'active', 'template': 'AIEIntegrityAssessmentBundle:Default:left_menu.html.twig'}) }}
    {{ knp_menu_render('anomaly_left_thirdnav', {'currentClass': 'active', 'template': 'AIEIntegrityAssessmentBundle:Default:left_menu.html.twig'}) }}

{% endblock %}

{% block breadcrumb %}
    {{ knp_menu_render('anomaly_breadcrumb',{'currentAsLink':false, 'template': 'AIEIntegrityAssessmentBundle:Default:breadcrumb.html.twig'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#aie_bundle_anomalybundle_anomalysearch_Clear').on('click', function()
            {
                $('.form-horizontal').find("[type=text]" ).val('');
                $('.form-horizontal').find('option').attr('selected', false);
                $('.form-horizontal').find( ":hidden" ).not( "script, #aie_bundle_anomalybundle_anomalysearch__token" ).val('');
            });
        });
    </script>
{% endblock %}