{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
<table class="details">
    <tbody>
        <tr style="background: transparent;">

    </tbody>
</table>

{% endblock %}

{#{% block stylesheets -%}#}
    {#{{ parent() }}#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/magnific-popup/magnific-popup.css') }}">#}
    {#<style type="text/css" media="all">#}
        {#body.report tr:first-child#}
        {#{#}
            {#background-color: #DDDDDD;#}
            {#height: 20px;#}
        {#}#}
        {#body.report th {#}
            {#font-weight: bold;#}
            {#text-align: center;#}
            {#font-size: 13px;#}
            {#vertical-align: middle;#}
        {#}#}
        {#body.report td {#}
            {#text-align: left;#}
            {#font-size: 13px;#}
            {#vertical-align: middle;#}
        {#}#}
        {#body.report img {#}
            {#display: block;#}
            {#max-width:300px;#}
            {#max-height:500px;#}
            {#width: auto;#}
            {#height: auto;#}
        {#}#}
        {#body.report h1{#}
            {#text-decoration: none;#}
            {#font-size: 13px;#}
        {#}#}
        {#body.report h3{#}
            {#text-decoration: none;#}
            {#font-size: 13px;#}
        {#}#}
        {#body.report #inner {#}
            {#width: 50%;#}
            {#margin: 0 auto;#}
        {#}#}
        {#body.report p {#}
            {#font-size: 13px;#}
        {#}#}
        {#.table th {#}
            {#border-top: none !important;#}
            {#vertical-align: middle;#}
            {#text-align: center;#}
            {#/*border: none !important;*/#}
        {#}#}
        {#.table td {#}
            {#border-top: none !important;#}
            {#vertical-align: middle;#}
            {#text-align: left;#}
            {#/*border: none !important;*/#}
        {#}#}
        {#.table tr td {#}
            {#padding: 0px;#}
        {#}#}
        {#.table {#}
            {#border: 0px;#}
        {#}#}
        {##corrision_man_ctrl {#}
            {#width:100%#}
        {#}#}
        {#.report td {#}
            {#text-align: left;#}
            {#font-size: 13px;#}
            {#vertical-align: middle;#}
        {#}#}
        {#.outer-div#}
        {#{#}
            {#position: relative;#}
            {#top: 3px;#}
            {#bottom: 30px;#}
            {#width: 100%;#}
        {#}#}
        {#.container-element {#}
             {#margin: 0 auto;#}
             {#height:50%;#}
             {#width:70%;#}
             {#padding-bottom:3px;#}
        {#}#}

        {#.hide {#}
            {#display:none;#}
        {#}#}
        {#div.stickyHeader {#}
            {#top:0;#}
            {#position:fixed;#}
            {#_position:absolute;#}
        {#}#}

    {#</style>#}
{#{% endblock %}#}
{#{% if reportType != 2 %}#}
    {#{% block javascripts -%}#}
        {#{{ parent() }}#}
            {#<script src="{{ asset('assets/js/jquery.js') }}"></script>#}
            {#<script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>#}
            {#<!--[if lt IE 9]>#}
                {#<script src="{{ asset('assets/js/Highcharts/code/modules/oldie.js') }}"></script>#}
            {#<![endif]-->#}
            {#<script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>#}
            {#<script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>#}
            {#<script src="{{ asset('assets/js/Highcharts5012/code/modules/stock4.2/highstock.js') }}"></script>#}
            {#<script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>#}
            {#<script src="{{ asset('assets/js/Highcharts/code/modules/broken-axis.js') }}"></script>#}
            {#<script src="{{ asset('assets/js/Highcharts/code/modules/static-scale.js') }}"></script>#}
            {#<script src="{{ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>#}
            {#<script src="{{ asset('assets/js/aie/graphgenerate.js') }}"></script>#}
    {#{% endblock %}#}
{#{% endif %}#}