{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets -%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup/magnific-popup.css') }}">
    <style type="text/css" media="all">
        @font-face{
            font-family:"VAG Rounded Bold";
            src:url('assets/fonts/vag_rounded_bold.ttf') format("truetype");
        }

        @font-face{
            font-family:"DINNEXTLTPRO ULTRALIGHT COND";
            src:url('assets/fonts/DINNEXTLTPRO-ULTRALIGHTCOND.OTF') format("opentype");
        }

        .form-group {
            padding:25px !important;
        }

        .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
            background-color: #1e2060 !important;
            width:100px;
            border-color: #1e2060 !important;;
        }
        body {
            background-color: #cccccc;
            height: 100%;
        }
        .container-full {
            background-color: #cccccc;
            min-height: 600px;
            /*height: 850px;*/
        }

    </style>
    <link rel="stylesheet" href="{{ asset('assets/css/landing/landing.css') }}">
{% endblock %}

{% block fos_user_content %}

    <div class="container-full">

        <div class="jumbotron" class="text-center">
            <h1 class="text-center" style="color: #FFFFFF; position: relative; top:-13px; margin: 0; padding: 0; text-align: center; vertical-align: middle;"><span style=" font-family: 'DINNEXTLTPRO ULTRALIGHT COND', Fallback, sans-serif;">Welcome to </span><span style="font-family: 'VAG Rounded Bold', Fallback, sans-serif;">veracity</span></h1>
            <p class="text-center" style="top: -13px; color: #FFFFFF; position: relative; padding: 0; text-align: center; vertical-align: middle; font-size:24px; font-family: 'DINNEXTLTPRO ULTRALIGHT COND', Fallback, sans-serif;">Please login to continue</p>
        </div>

        <div class="container" style="width: 100%;">


            <div id="form-signin" style="width: 100%; height:500px; background-color:#cccccc; text-align:center; vertical-align:middle; padding-top: 175px;">
                <form id="login-form" action="{{ path('fos_user_security_check') }}" method="post" class="form-inline" role="form">

                    <div class="form-group">
                        <label for="_username" class="control-label" style="color: #1e2060; position: relative; padding: 0; text-align: center; vertical-align: middle; font-size:24px; font-family: 'DINNEXTLTPRO ULTRALIGHT COND', Fallback, sans-serif;">Username</label>
                        <input type="text" class="form-control" name="_username" value="{{ last_username }}" required="" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="_password" class="control-label" style="color: #1e2060; position: relative; padding: 0; text-align: center; vertical-align: middle; font-size:24px; font-family: 'DINNEXTLTPRO ULTRALIGHT COND', Fallback, sans-serif;">Password</label>
                        <input type="password" class="form-control" name="_password" required="required">
                    </div>

                    <div class="form-group">
                        <button name="_submit" id="btnLogOn" class="btn btn-primary " type="submit">
                            <span class="ladda-label">{{ 'security.login.submit'|trans }}</span>
                            <span class="ladda-spinner"></span>
                            <div class="ladda-progress" style="width: 0px;"></div>
                        </button>
                    </div>
                    <div class="row">
                        <label class="checkbox" for="remember_me" style="color: #1e2060; position: relative; left: 325px; text-align: center; vertical-align: middle; font-size:18px; font-family: 'DINNEXTLTPRO ULTRALIGHT COND', Fallback, sans-serif;">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            {{ 'security.login.remember_me'|trans }}</label>
                    </div>
                    <div class="row">
                        <p style="line-height: 1.5em; color: #1e2060; position: relative; left: 315px; text-align: center; vertical-align: middle; font-size:18px; font-family: 'DINNEXTLTPRO ULTRALIGHT COND', Fallback, sans-serif;">
                            <a id="btnForgot" href="{{ path('fos_user_resetting_request') }}">Forgot your password?</a>
                        </p>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                </form>

                {% if error %}
                    <div style="text-align: center;">
                        <div class="login-flash-alert">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

    </div> <!-- /container full -->

    </div>
    <div class="text-center" style="background-color: #1e2060; position: relative; height: 120px;" id="footer">
        <span class="pull-left" style="position:relative; top:11px;margin:10px;"><img src="/assets/img/aie_logo_white_transparent.png" width="200"></span>
        <span class="pull-right" style="position:relative; top:18px; padding-right: 10px;">
            <img src="/assets/img/aie-certificates.png" class="img-responsive" alt="Veracity MOC">
        </span>
        <br>
        <p class="pull-right" style="position:relative; top:70px; font-size: 14px; height:10px; left:200px; padding-right: 2px; color: #cccccc" align="right">Copyright © AIE all rights reserved</p>
    </div>
{% endblock fos_user_content %}{% block javascripts -%}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            // console.log($(window).width());
            if ($(window).width() > 1700 && $(window).width() < 2000) {
                $("div#somediv").width('30%');
//               $("#footer").css({top: 100});
                $(".container-full").height("850px");
            }
            else if ($(window).width() > 1500 && $(window).width() < 1700) {
                $("div#somediv").width('42%');
//                $("#footer").css({top: 235});

            }
            else if ($(window).width() > 1300 && $(window).width() < 1500) {
                $("div#somediv").width('48%');
//                $("#footer").css({top: 180});


            }
            else if ($(window).width() > 1200 && $(window).width() < 1300) {
                $("div#somediv").width('52%');
//                $("#footer").css({top: 435});

            }
            var tp = 130;
        });
    </script>
{% endblock %}


