{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Location</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('anomaly_locations_show', { 'projectId': projectId, 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.description }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ entity.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <spna style="font-size: 15px; font-weight: bold;">...</spna>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ entity.id }}">
                            {% if showGranted %}
                            <li>
                                <a href="{{ path('anomaly_locations_show', { 'projectId': projectId, 'id': entity.id }) }}">show</a>
                            </li>
                            {% endif %}
                            {% if editGranted %}
                            <li>
                                <a href="{{ path('anomaly_locations_edit', { 'projectId': projectId, 'id': entity.id }) }}">edit</a>
                            </li>
                            {% endif %}
                            {% if deleteGranted %}
                            <li>
                                <a href="{{ path('anomaly_locations_delete', { 'projectId': projectId, 'id': entity.id, 'd': 'Y'}) }}">delete</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="nav nav-pills">
        {% if createGranted %}
        <li>
            <a href="{{ path('anomaly_locations_new', {'projectId': projectId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new location
            </a>
        </li>
        {% endif %}
    </ul>
    {% endblock %}
