{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    {% if delete_form is defined %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">Close</a>
        Are you sure you want to delete the location?
    </div>
    {% endif %}
    <h1>Location: {{ entity.name }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th width="25%">Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <td colspan="2">
                    {% if entity.geometry %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Map</h3>
                            </div>
                            <div class="panel-body">
                                <div class="map map_out"></div>
                                <input type="hidden" id="geometryMap" name="geometry" value="{{ entity.geometry }}"/>
                            </div>
                        </div>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                {% if delete_form is defined %}
                    {{ form(delete_form) }}
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_locations', {'projectId': projectId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('anomaly_locations_edit', { 'projectId': projectId, 'id': entity.id }) }}" class="btn btn">
                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
        </li>
    </ul>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
{% endblock %}