{% trans_default_domain 'FOSUserBundle' %}
<div class="form-signin">
    <div class="row">
        <div id="logo" class="brand" >
            <h1><a href="{{ path('index') }}">Asset Integrity Engineering</a></h1>
        </div>
    </div>

    <div id="form-signin">

        {% if invalid_username is defined %}
        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}

        <form id="login-form" action="{{ path('fos_user_resetting_send_email') }}" method="post" class="fos_user_resetting_request">
            <div class="row">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                    <input type="text"  name="username" class="form-control"  required="required" placeholder="{{ 'resetting.request.username'|trans }}" />
                </div>
            </div>

            <div class="row">
                <button name="_submit" id="btnLogOn" class="btn btn-lg btn-primary btn-block ladda-button zoom-out" type="submit">
                    <span class="ladda-label">{{ 'resetting.request.submit'|trans }}</span>
                    <span class="ladda-spinner"></span>
                    <div class="ladda-progress" style="width: 0px;"></div>
                </button>
            </div>
        </form>
    </div>
</div>