{% extends wizard_layout %}
{% block steps -%}
    <li data-target="#step1" class="active"><span class="badge badge-info">1</span>Probabilities<span class="chevron"></span></li>
    <li data-target="#step2"><span class="badge badge-info">2</span>Consequences<span class="chevron"></span></li>
    <li data-target="#step3"><span class="badge badge-info">3</span>Risk Matrix<span class="chevron"></span></li>
{% endblock %}
{% block steps_content %}
    {{ form_start(form) }}
    <div class="step-pane active" id="step1">
        <table id="probabilities" class="records_list table-bordered">
            <thead>
            <tr>
                <th>Probability</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>

            {% for i in 1..5 %}
                <tr class="probability" id="{{ i}}"><td>{{ i }}</td><td>{{ form_widget(attribute(form.riskmatrix, 'desc' ~ i )) }}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="step-pane" id="step2">
        <table id="consequences" class="records_list table-bordered">
            <thead>
            <tr>
                <th>Category</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
            </tr>
            </thead>
            <tbody>
            {% for consequence in consequences %}
                <tr class="consequence-container" id="{{ consequence.id }}"><td>{{ consequence.consequence.name }}</td>
                    {% for i in 1..5 %}
                        <td class="desc" id="{{ i }}">{{ form_widget( attribute ( attribute( form , 'consequence_' ~ consequence.id ) , 'desc' ~ i ) ) }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div class="step-pane" id="step3">
        {% include 'AIEVeracityBundle:RiskMatrix:riskmatrix_table.html.twig' with {'form': form, 'consequences': consequences } only %}
    </div>

    <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardNext" value="Next"></div>
    {% if grantedEdit %}<div class="col-lg-1 right">{{ form_widget(form.submit) }}</div>{% endif %}
    <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardPrev" value="Back"></div>
    {{ form_end(form) }}
    <a id="nextLink" href="{{ nextLink }}" style="display: none;"></a>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#probabilities .probability textarea').on('load change keyup paste', function() {
                        var id = $(this).closest('.probability').attr('id');
                        var content = $(this).val();
                        $("#riskmatrix #probability-" + id).text(content);
                    }
            );


            $('#consequences .consequence-container textarea').on('load change keyup paste', function() {
                        var id = $(this).closest('.consequence-container').attr('id');
                        var desc_id = $(this).closest('.desc').attr('id');
                        var content = $(this).val();
                        $("#riskmatrix #consequence-" + id + "-" + desc_id).text(content);
                    }
            );


            $('#probabilities textarea, #consequences textarea').trigger('change');

            function colorSelectRisks(){
                var red = '#FC1501';
                var orange = '#FF7722';
                var yellow = '#FFFF00';
                var green = '#39D221';
                var lightgreen = '#ddffa6';

                $('.risk-option').each(function(){
                    var field = $(this);

                    var value = parseInt(field.find('.risk-select').val());

                    if(value == 4){
                        //low
                        field.css("background-color", lightgreen);
                    }else if(value == 0){
                        //low
                        field.css("background-color", green);
                    }else if(value == 1){
                        //medium
                        field.css("background-color", yellow);
                    }else if(value == 2){
                        //high
                        field.css("background-color", orange);
                    }else{
                        //very high
                        field.css("background-color", red);
                    }

                });

            }

            colorSelectRisks();

            $('.risk-option select').on('change',function(){
                colorSelectRisks();
            });
        });
    </script>
{% endblock %}