<table id="riskmatrix" class="riskmatrix records_list table-bordered">
    <thead>
    <tr>
        <th rowspan="4"></th>
        <th colspan="{{ consequences|length }}">Consequence Categories</th>
        <th colspan="5">Increasing Probability</th>
    </tr>
    <tr>
        {% for consequence in consequences %}
            <th rowspan="3">{{ consequence.consequence.name }}</th>
        {% endfor %}
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
    </tr>
    <tr>
        {% for i in 1..5 %}
            <th id="probability-{{i}}">
                {{ risk_matrix is defined? attribute(risk_matrix, 'desc' ~ i) }}
            </th>
        {% endfor %}
    </tr>
    <tr>
        <th>Not likely</th>
        <th>Unlikely</th>
        <th>Possible</th>
        <th>Likely</th>
        <th>Very Likely</th>
    </tr>
    </thead>
    <tbody>
    {% for i in 5..1 %}
        <tr class="consequence">
            <td>{{ i }}</td>
            {% for consequence in consequences %}
                <td id="consequence-{{ consequence.id ~ '-' ~ i }}">
                    {{ attribute(consequence, 'desc' ~ i) }}
                </td>
            {% endfor %}

            {% for j in 0..4 %}
                <td class="risk-option color risk">
                    {% if form is defined %}
                        {{ form_widget( attribute( form, 'matrix_' ~  (i-1)  ~ '_' ~ j ) ) }}
                    {% elseif risk_matrix is defined %}
                        {% set consequence = i -1 %}
                        {% set probability = j %}
                        {{ risk_matrix.risk(consequence, probability) }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>