{% extends 'AIEAnomalyBundle:ActionRegistrar:edit.html.twig' %}
{% set action_type = 'Assessment' %}

{% block content -%}
    <h1>{{ action_type }}</h1>

    {{ form_start(edit_form) }}
    {{ parent() }}
    {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_as', {'projectId':projectId, 'type': anomalyType}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
    </ul>
{% endblock %}