{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>New RA Workshop Attendee</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('workshops', {'pipelineId': pipelineId}) }}">
                Back to workshops
            </a>
        </li>
    </ul>
{% endblock %}
