{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Project</h1>
    <div class="alert alert-warning">
        <b>Caution: </b><br/>Changing the approval level of the project from level two to level one will reset the approval level of any pending request to level one.
    </div>
    {{ form(edit_form) }}

{% endblock %}
