{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Projects</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Reference #</th>
                <th>Company</th>
                <th>Assessment Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
                <tr>
                <td>
                    {#{% if showGranted %}#}
                         <a href="{{ path('anomaly_projects_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                    {#{% else %}#}
                        {#{{ entity.name }}#}
                    {#{% endif %}#}
                </td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.referenceNo }}</td>
                <td>{{ entity.client }}</td>
                <td>{{ entity.type == 1? 'Risk':'Criticality' }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ entity.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <spna style="font-size: 15px; font-weight: bold;">...</spna>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ entity.id }}">
                            {% if showGranted %}
                                <li>
                                    <a href="{{ path('anomaly_projects_show', { 'id': entity.id }) }}">show</a>
                                </li>
                            {% endif %}
                            {% if editGranted %}
                                <li>
                                    <a href="{{ path('anomaly_projects_edit', { 'id': entity.id }) }}">edit</a>
                                </li>
                            {% endif %}
                            {% if deleteGranted %}
                                <li>
                                    <a href="{{ path('anomaly_projects_delete', { 'id': entity.id, 'd': 'Y' }) }}">delete</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
