{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>New Project</h1>

    {{ form(form) }}
</ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            showHideElements($('.forCriticality'));
        });
        $('.forCriticality').on("change",function () {
            showHideElements($(this));
        });
        function showHideElements(item) {
            if(item.val()==2){
                item.parent().parent().next("div").show();
                item.parent().parent().next("div").next("div").show();
            }else{
                item.parent().parent().next("div").hide();
                item.parent().parent().next("div").next("div").hide();
            }
        }
    </script>
{% endblock %}