{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
{% endblock %}
{% block content -%}
    {% if delete_form is defined %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">Close</a>
            Are you sure you want to delete the project?
        </div>
    {% endif %}
    <div class=" col-lg-9">
        <h1 style="padding-left:20px;">
            {% if entity.filepath %}
                <span class="company-logo">
                    <img id="img_logo"  src="{{ logo }}" alt="" title="{{ entity.name }}" height="45">
                </span>
            {% endif %}
            {{ entity.name }}
        </h1>
    </div>
    {% if (entity.isSetup['isSetup']) %}
        <div class=" col-lg-3" style="padding-right:30px;padding-top: 25px;">
            <button data-toggle="modal" data-target="#downloadModal" class="btn btn-success btn-block"><i class="glyphicon glyphicon-cloud-download"></i> Download Dashboard Report</button>
        </div>
    {% endif %}

    <div id="dashboardHolder" class="container-fluid font-size-large">
        {% if not(entity.isSetup['isSetup']) %}
            <div class="col-lg-12" style="margin-top: 20px;">
                <div class="alert alert-warning">
                    <b>Access is not available.</b><br/>Setup the following lists to get access to the dashboard.
                    <ul>
                        {{ (entity.isSetup['missing']['locations']) ? '<li>Locations</li>' }}
                        {{ (entity.isSetup['missing']['classifications']) ? '<li>Classifications</li>' }}
                        {{ (entity.isSetup['missing']['threats']) ? '<li>Threats</li>' }}
                        {{ (entity.isSetup['missing']['actionOwners']) ? '<li>Action Owners</li>' }}
                        {{ (entity.isSetup['missing']['codes']) ? '<li>Codes & Standards</li>' }}
                        {{ (entity.isSetup['missing']['risk']) ? '<li>Risk Matrix or Criticality Ranking</li>' }}
                    </ul>
                </div>
            </div>
        {% else %}
            <div class=" col-lg-12"><hr style="margin-top: 0px;"/></div>
            {% if entity.fabricMaintenanceCriticality|length == 0 %}
                <div class="col-lg-6 templateCard" id="CriticalyAnomaliesCategory" style="height: 400px;">
                    <div class="data-spinner"><div class="lds-ripple"><div></div><div></div><div></div><div></div></div></div>
                </div>
                <div class="col-lg-6 templateCard" id="TotalMitigationRisk" style="height: 400px;">
                    <div class="data-spinner"><div class="lds-ripple"><div></div><div></div><div></div><div></div></div></div>
                </div>
            {% else %}
                <div class="col-lg-4 templateCard" id="CriticalyAnomaliesCategory" style="height: 400px;">
                    <div class="data-spinner"><div class="lds-ripple"><div></div><div></div><div></div><div></div></div></div>
                </div>
                <div class="col-lg-4 templateCard" id="CriticalyFMAnomaliesCategory" style="height: 400px;">
                    <div class="data-spinner"><div class="lds-ripple"><div></div><div></div><div></div><div></div></div></div>
                </div>
                <div class="col-lg-4 templateCard" id="TotalMitigationRisk" style="height: 400px;">
                    <div class="data-spinner"><div class="lds-ripple"><div></div><div></div><div></div><div></div></div></div>
                </div>
            {% endif %}
            <div class="col-lg-12 templateCard" id="CriticalityLocationChart" style="margin-top: 20px;height: 550px;">
                <div class="data-spinner"><div class="lds-ripple"><div></div><div></div><div></div><div></div></div></div>
            </div>
            <div class="col-lg-12 templateCard" id="AnomaliesLocationChart" style="margin-top: 20px;height: 550px;">
                <div class="data-spinner"><div class="lds-ripple"><div></div><div></div><div></div><div></div></div></div>
            </div>
            <div class="col-lg-6 templateCard" id="AnomalyThreatsCount" style="margin-top: 20px;height: 400px;">
                <div class="data-spinner"><div class="lds-ripple"><div></div><div></div><div></div><div></div></div></div>
            </div>
            <div class="col-lg-6 templateCard" id="AnomaliesAndRepairsCount" style="margin-top: 20px;height: 400px;">
                <div class="data-spinner"><div class="lds-ripple"><div></div><div></div><div></div><div></div></div></div>
            </div>
            <div class="col-lg-12 templateCard" id="AnomalyClassesCount" style="margin-top: 20px;height: 550px;">
                <div class="data-spinner"><div class="lds-ripple"><div></div><div></div><div></div><div></div></div></div>
            </div>

            <div class="col-lg-12 table-responsive" id="YearMitigation" style="overflow: auto;margin-top: 20px;">
                <table id="tbl_yearMitigation" class="table table-bordered table-condensed table-hover">
                    <thead>
                    <tr class="text-center" style="background-color: #17225A; color: #fff;">
                        <th colspan="6" class="text-center"><h4 style="margin-bottom: 5px;margin-top: 5px;"><strong>Planned Mitigation for the Next Year</strong></h4></th>
                    </tr>
                    <tr class="text-center" style="background-color: #b2baca;">
                        <th class="text-center">Month</th>
                        <th class="text-center">Anomaly Inspections</th>
                        <th class="text-center">Repair Orders</th>
                        <th class="text-center">Temporary Repair Orders</th>
                        <th class="text-center">Fabric Maintenance</th>
                        <th class="text-center">Required Assessment</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in 1..12 %}
                        <tr class="text-center">
                            <td><b>{{ (annual_planned[i]['yr'] ~ "-01")|date("M Y") }}</b></td>
                            <td>{{ annual_planned[i]['in'] }}</td>
                            <td>{{ annual_planned[i]['ro'] }}</td>
                            <td>{{ annual_planned[i]['tro'] }}</td>
                            <td>{{ annual_planned[i]['fm'] }}</td>
                            <td>{{ annual_planned[i]['as'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="dnModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="dnModalLabel">Download Dashboard Report</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4>Document Properties</h4>
                                </div>
                                <div class="col-lg-6" style="margin-bottom: 10px;">
                                    <input type="checkbox" id="chk_showPieCharts" checked data-toggle="toggle" data-onstyle="primary" data-width="100%" data-on="Include Embedded Pie Charts" data-off="Exclude Embedded Pie Charts">
                                </div>
                                <div class="col-lg-6" style="margin-bottom: 10px;">
                                    <input type="checkbox" id="chk_showDataLabels" checked data-toggle="toggle" data-onstyle="primary" data-width="100%" data-on="Show Data Labels" data-off="Hide Data Labels">
                                </div>
                                <div class="col-lg-6">
                                    <input type="checkbox" id="chk_boldText" checked data-toggle="toggle" data-onstyle="primary" data-width="100%" data-on="Bold Text" data-off="Normal Text">
                                </div>
                                <div class="col-lg-6">
                                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                                        <label class="btn btn-primary active">
                                            <input type="radio" id="fnt_normal" class="DSRadioGroup" name="options"> Normal
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" id="fnt_10px" class="DSRadioGroup" name="options" checked> Font 10px
                                        </label>
                                        <label class="btn btn-primary">
                                            <input type="radio" id="fnt_14px" class="DSRadioGroup" name="options"> Font 14px
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-success" id="downloadPDF">Download</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if delete_form is defined %}
            {{ form(delete_form) }}
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/grid220/pqgrid.min.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <!-- optional -->
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <script src="{{ asset('assets/js/editable/jquery.inline-edit.js') }}"></script>
    <script src="{{ asset('assets/js/js-pdf/jspdf.min.js') }}"></script>
    <script src="{{ asset('assets/js/js-pdf/jspdf.plugin.autotable.js') }}"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script src="{{ asset('assets/js/canvg/rgbcolor.js') }}"></script>
    <script src="{{ asset('assets/js/canvg/canvg.js') }}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    {% if (entity.isSetup['isSetup']) %}
        <script>
            var fontSize = '12px';
            var embedPie = true;
            var boldText = 'bold';
            var showDL = true;
            $(".DSRadioGroup").change(function(){
                if ($("#fnt_normal").is(':checked') && $("#fnt_normal").val()) {
                    fontSize = '12px'
                }
                if ($("#fnt_10px").is(':checked') && $("#fnt_10px").val()) {
                    fontSize = '10px'
                }
                if ($("#fnt_14px").is(':checked') && $("#fnt_14px").val()) {
                    fontSize = '14px'
                }
            });
            $("#chk_showPieCharts").change(function(){
                if ($(this).is(':checked') && $(this).val()) {
                    embedPie = true;
                }else{
                    embedPie = false;
                }
            });
            $("#chk_showDataLabels").change(function(){
                if ($(this).is(':checked') && $(this).val()) {
                    showDL = true;
                }else{
                    showDL = false;
                }
            });
            $("#chk_boldText").change(function(){
                if ($(this).is(':checked') && $(this).val()) {
                    boldText = 'bold';
                }else{
                    boldText = 'normal';
                }
            });
            $(function () {
                $("#fnt_12px").prop("checked", true);
                var colorsArray=[];
                var FmColorsArray=[];
                {% if class(entity) == 'RiskProject' %}
                {% set chartTitle = "Risk" %}
                colorsArray=['rgba(191,30,46,1)', 'rgba(239,64,53,1)', 'rgba(241,89,42,1)', 'rgba(11,148,68,1)', 'rgba(56,181,73,1)'];
                colorsArray=['rgba(191,30,46,1)', 'rgba(239,64,53,1)', 'rgba(241,89,42,1)', 'rgba(11,148,68,1)', 'rgba(56,181,73,1)'];
                {% else %}
                {% set chartTitle = "Criticality" %}
                {% if entity.vhEnabled is defined and entity.vhEnabled > 0 %}
                colorsArray.push('#{{ entity.vhColor }}');
                {% endif %}
                {% if entity.hEnabled is defined and entity.hEnabled > 0 %}
                colorsArray.push('#{{ entity.hColor }}');
                {% endif %}
                {% if entity.mEnabled is defined and entity.mEnabled > 0 %}
                colorsArray.push('#{{ entity.mColor }}');
                {% endif %}
                {% if entity.lEnabled is defined and entity.lEnabled > 0 %}
                colorsArray.push('#{{ entity.lColor }}');
                {% endif %}
                {% if entity.vlEnabled is defined and entity.vlEnabled > 0 %}
                colorsArray.push('#{{ entity.vlColor }}');
                {% endif %}
                {% for fmc in entity.fabricMaintenanceCriticality %}
                FmColorsArray.push('#{{ fmc.fmCriticalityColor }}');
                colorsArray.push('#{{ fmc.fmCriticalityColor }}');
                {% endfor %}
                {% endif %}
                var mitiSeries=[];
                var mitCats = [];
                {% set sum1 =0 %}
                mitCats.push('Anomaly Inspection');
                mitCats.push('Repair Order');
                mitCats.push('Temporary Repair Order');
                mitCats.push('Fabric Maintenance');
                mitCats.push('Assessment');
                {% if class(entity) == 'RiskProject' or (entity.vhEnabled is defined and entity.vhEnabled > 0) %}
                mitiSeries.push({
                    name: '{{ class(entity) == "RiskProject"? "Very High" : entity.vhName }} {{ chartTitle }}',
                    data: [
                        {{ mitigation_risk['AN']['4']|default(0) }},
                        {{ mitigation_risk['RO']['4']|default(0) }},
                        {{ mitigation_risk['TRO']['4']|default(0) }},
                        {{ mitigation_risk['FM']['4']|default(0) }},
                        {{ mitigation_risk['AS']['4']|default(0) }}

                    ]
                    {% set sum1 = sum1 + mitigation_risk['AN']['4']|default(0) + mitigation_risk['RO']['4']|default(0) %}
                    {% set sum1 = sum1 + mitigation_risk['TRO']['4']|default(0) + mitigation_risk['AS']['4']|default(0) %}
                    {% set sum1 = sum1 + mitigation_risk['FM']['4']|default(0) %}
                });
                {% endif %}
                {% if class(entity) == 'RiskProject' or (entity.hEnabled is defined and entity.hEnabled > 0) %}
                mitiSeries.push({
                    name: '{{ class(entity) == "RiskProject"? "High" : entity.hName }} {{ chartTitle }}',
                    data: [
                        {{ mitigation_risk['AN']['3']|default(0) }},
                        {{ mitigation_risk['RO']['3']|default(0) }},
                        {{ mitigation_risk['TRO']['3']|default(0) }},
                        {{ mitigation_risk['FM']['3']|default(0) }},
                        {{ mitigation_risk['AS']['3']|default(0) }}

                    ]
                    {% set sum1 = sum1 + mitigation_risk['AN']['3']|default(0) + mitigation_risk['RO']['3']|default(0) %}
                    {% set sum1 = sum1 + mitigation_risk['TRO']['3']|default(0) + mitigation_risk['AS']['3']|default(0) %}
                    {% set sum1 = sum1 + mitigation_risk['FM']['3']|default(0) %}
                });
                {% endif %}
                {% if class(entity) == 'RiskProject' or (entity.mEnabled is defined and entity.mEnabled > 0) %}
                mitiSeries.push({
                    name: '{{ class(entity) == "RiskProject"? "Medium" : entity.mName }} {{ chartTitle }}',
                    data: [
                        {{ mitigation_risk['AN']['2']|default(0) }},
                        {{ mitigation_risk['RO']['2']|default(0) }},
                        {{ mitigation_risk['TRO']['2']|default(0) }},
                        {{ mitigation_risk['FM']['2']|default(0) }},
                        {{ mitigation_risk['AS']['2']|default(0) }}
                    ]
                    {% set sum1 = sum1 + mitigation_risk['AN']['2']|default(0) + mitigation_risk['RO']['2']|default(0) %}
                    {% set sum1 = sum1 + mitigation_risk['TRO']['2']|default(0) + mitigation_risk['AS']['2']|default(0) %}
                    {% set sum1 = sum1 + mitigation_risk['FM']['2']|default(0) %}
                });
                {% endif %}
                {% if class(entity) == 'RiskProject' or (entity.lEnabled is defined and entity.lEnabled > 0) %}
                mitiSeries.push({
                    name: '{{ class(entity) == "RiskProject"? "Low" : entity.lName }} {{ chartTitle }}',
                    data: [
                        {{ mitigation_risk['AN']['1']|default(0) }},
                        {{ mitigation_risk['RO']['1']|default(0) }},
                        {{ mitigation_risk['TRO']['1']|default(0) }},
                        {{ mitigation_risk['FM']['1']|default(0) }},
                        {{ mitigation_risk['AS']['1']|default(0) }}
                    ]
                    {% set sum1 = sum1 + mitigation_risk['AN']['1']|default(0) + mitigation_risk['RO']['1']|default(0) %}
                    {% set sum1 = sum1 + mitigation_risk['TRO']['1']|default(0) + mitigation_risk['AS']['1']|default(0) %}
                    {% set sum1 = sum1 + mitigation_risk['FM']['1']|default(0) %}
                });
                {% endif %}
                {% if class(entity) == 'RiskProject' or (entity.vlEnabled is defined and entity.vlEnabled > 0) %}
                mitiSeries.push({
                    name: '{{ class(entity) == "RiskProject"? "Very Low" : entity.vlName }} {{ chartTitle }}',
                    data: [
                        {{ mitigation_risk['AN']['0']|default(0) }},
                        {{ mitigation_risk['RO']['0']|default(0) }},
                        {{ mitigation_risk['TRO']['0']|default(0) }},
                        {{ mitigation_risk['FM']['0']|default(0) }},
                        {{ mitigation_risk['AS']['0']|default(0) }}
                    ]
                    {% set sum1 = sum1 + mitigation_risk['AN']['0']|default(0) + mitigation_risk['RO']['0']|default(0) %}
                    {% set sum1 = sum1 + mitigation_risk['TRO']['0']|default(0) + mitigation_risk['AS']['0']|default(0) %}
                    {% set sum1 = sum1 + mitigation_risk['FM']['0']|default(0) %}
                });
                {% endif %}
                {% if class(entity) == 'CriticalityProject' and (entity.enableFMCriticality) %}
                {% for fmc in entity.fabricMaintenanceCriticality  %}
                mitiSeries.push({
                    name: '{{ fmc.fmCriticalityCode }}',
                    data: [
                        {{ fm_mitigation_risk['AN'][fmc.id]|default(0) }},
                        {{ fm_mitigation_risk['RO'][fmc.id]|default(0) }},
                        {{ fm_mitigation_risk['TRO'][fmc.id]|default(0) }},
                        {{ fm_mitigation_risk['FM'][fmc.id]|default(0) }},
                        {{ fm_mitigation_risk['AS'][fmc.id]|default(0) }}
                    ]
                    {% set sum1 = sum1 + mitigation_risk['AN'][fmc.id]|default(0) + mitigation_risk['RO'][fmc.id]|default(0) %}
                    {% set sum1 = sum1 + mitigation_risk['TRO'][fmc.id]|default(0) + mitigation_risk['AS'][fmc.id]|default(0) %}
                    {% set sum1 = sum1 + mitigation_risk['FM'][fmc.id]|default(0) %}
                });
                {% endfor %}
                {% endif %}
                {% set chartsTotalMitigationRisk = 0 %}
                {% if sum1 > 0 %}
                {% set chartsTotalMitigationRisk = 1 %}
                Highcharts.chart('TotalMitigationRisk', {
                    chart:{
                        type:'column',
                        height:'400px',
                        borderWidth: 1,
                        borderColor:'gray',
                        events: {
                            load: function(){
                                if (this.options.chart.forExport) {
                                    updateChartForExport(this);
                                }
                            }
                        }
                    },
                    colors: colorsArray
                    ,credits: {
                        enabled: false
                    },title: {
                        text: '{{ chartTitle }} Distribution per Mitigation Technique',
                        align: 'left'
                    },
                    yAxis:{
                        title: {
                            text:"Anomalies Count"
                        },
                        tickInterval:1
                    },
                    xAxis: {
                        categories: mitCats
                    },
                    series: mitiSeries,
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }

                    },exporting: {
                        sourceWidth: 600,
                        sourceHeight: 400,
                        // scale: 2 (default)
                        chartOptions: {
                            subtitle: null
                        }
                    }
                });
                {% else %}
                $("#TotalMitigationRisk").hide();
                {% endif %}


                //Anomalies Category Risk Count Chart

                var AnomaliesCatRiskN=[];
                var VHAnomaliesCatRiskSet=[];
                var HAnomaliesCatRiskSet=[];
                var MAnomaliesCatRiskSet=[];
                var LAnomaliesCatRiskSet=[];
                var VLAnomaliesCatRiskSet=[];
                {% set sum1 =0 %}
                {% for key, value in anomalies_cat_risk %}
                AnomaliesCatRiskN.push('{{ ((value.name|raw)|replace({'"': '\\"', "'": "\\'"}))|raw }}');
                VHAnomaliesCatRiskSet.push({{ anomalies_cat_risk[key]['4'] }});
                HAnomaliesCatRiskSet.push({{ anomalies_cat_risk[key]['3'] }});
                MAnomaliesCatRiskSet.push({{ anomalies_cat_risk[key]['2'] }});
                LAnomaliesCatRiskSet.push({{ anomalies_cat_risk[key]['1'] }});
                VLAnomaliesCatRiskSet.push({{ anomalies_cat_risk[key]['0'] }});
                {% set sum1 = sum1 + anomalies_cat_risk[key]['3']|default(0) +anomalies_cat_risk[key]['2']|default(0) +anomalies_cat_risk[key]['1']|default(0) +anomalies_cat_risk[key]['0']|default(0) + anomalies_cat_risk[key]['4']|default(0)   %}
                {% endfor %}
                {% set chartsCriticalyAnomaliesCategory = 0 %}
                {% if sum1 > 0 %}
                var AnomaliesCatRiskSeries=[];
                {% if class(entity) == 'RiskProject' or (class(entity) == 'CriticalityProject' and entity.vhEnabled is defined and entity.vhEnabled > 0) %}
                AnomaliesCatRiskSeries.push({
                    name: '{{ class(entity) == "RiskProject"? "Very High" : entity.vhName }} {{ chartTitle }}',
                    data: VHAnomaliesCatRiskSet
                });
                {% endif %}
                {% if class(entity) == 'RiskProject' or (class(entity) == 'CriticalityProject' and entity.hEnabled is defined and entity.hEnabled > 0) %}
                AnomaliesCatRiskSeries.push({
                    name: '{{ class(entity) == "RiskProject"? "High" : entity.hName }} {{ chartTitle }}',
                    data: HAnomaliesCatRiskSet
                });
                {% endif %}
                {% if class(entity) == 'RiskProject' or (class(entity) == 'CriticalityProject' and entity.mEnabled is defined and entity.mEnabled > 0) %}
                AnomaliesCatRiskSeries.push({
                    name: '{{ class(entity) == "RiskProject"? "Medium" : entity.mName }} {{ chartTitle }}',
                    data: MAnomaliesCatRiskSet
                });
                {% endif %}
                {% if class(entity) == 'RiskProject' or (class(entity) == 'CriticalityProject' and entity.lEnabled is defined and entity.lEnabled > 0) %}
                AnomaliesCatRiskSeries.push({
                    name: '{{ class(entity) == "RiskProject"? "Low" : entity.lName }} {{ chartTitle }}',
                    data: LAnomaliesCatRiskSet
                });
                {% endif %}
                {% if class(entity) == 'RiskProject' or (class(entity) == 'CriticalityProject' and entity.vlEnabled is defined and entity.vlEnabled > 0) %}
                AnomaliesCatRiskSeries.push({
                    name: '{{ class(entity) == 'RiskProject'? "Very Low" : entity.vlName }} {{ chartTitle }}',
                    data: VLAnomaliesCatRiskSet
                });
                {% endif %}
                {% set chartsCriticalyAnomaliesCategory = 1 %}
                Highcharts.chart('CriticalyAnomaliesCategory', {
                    chart:{
                        type:'column',
                        height:'400px',
                        borderWidth: 1,
                        borderColor:'gray',
                        events: {
                            load: function(){
                                if (this.options.chart.forExport) {
                                    updateChartForExport(this);
                                }
                            }
                        }
                    },
                    colors: colorsArray
                    ,credits: {
                        enabled: false
                    },title: {
                        text: '{{ chartTitle }} Distribution per Asset Category',
                        align: 'left'
                    },
                    yAxis:{
                        title: {
                            text:"Anomalies Count"
                        },
                        tickInterval:1
                    },
                    xAxis: {
                        categories: AnomaliesCatRiskN
                    },
                    series: AnomaliesCatRiskSeries,
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }

                    },exporting: {
                        sourceWidth: 600,
                        sourceHeight: 400,
                        // scale: 2 (default)
                        chartOptions: {
                            subtitle: null
                        }
                    }
                });
                {% else %}
                $("#CriticalyAnomaliesCategory").hide();
                {% endif %}
                {% if entity.fabricMaintenanceCriticality|length > 0 %}
                var AnomaliesFMCatRiskSeries=[];
                {% for fmc in entity.fabricMaintenanceCriticality %}
                AnomaliesFMCatRiskSeries.push({
                    name: '{{ fmc.fmCriticalityCode }} {{ chartTitle }}',
                    data: [
                        {% for key, value in anomalies_fm_cat_count %}
                        {{ anomalies_fm_cat_count[key][fmc.id] }},
                        {% endfor %}
                    ]
                });
                {% endfor %}
                Highcharts.chart('CriticalyFMAnomaliesCategory', {
                    chart:{
                        type:'column',
                        height:'400px',
                        borderWidth: 1,
                        borderColor:'gray',
                        events: {
                            load: function(){
                                if (this.options.chart.forExport) {
                                    updateChartForExport(this);
                                }
                            }
                        }
                    },
                    colors: FmColorsArray
                    ,credits: {
                        enabled: false
                    },title: {
                        text: 'FM {{ chartTitle }} Distribution per Component',
                        align: 'left'
                    },
                    yAxis:{
                        title: {
                            text:"Anomalies Count"
                        },
                        tickInterval:1
                    },
                    xAxis: {
                        categories: AnomaliesCatRiskN
                    },
                    series: AnomaliesFMCatRiskSeries,
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }

                    },exporting: {
                        sourceWidth: 600,
                        sourceHeight: 400,
                        // scale: 2 (default)
                        chartOptions: {
                            subtitle: null
                        }
                    }
                });
                {% endif %}
                {% set CLocSum = stats['risks'][0]|default(0) + stats['risks'][1]|default(0) + stats['risks'][2]|default(0) + stats['risks'][3]|default(0) + stats['risks'][4]|default(0) %}
                {% if class(entity) == 'CriticalityProject' and (entity.enableFMCriticality) %}
                {% for fmc in entity.fabricMaintenanceCriticality  %}
                {% set CLocSum = CLocSum + stats['FMrisks'][fmc.id]|default(0) %}
                {% endfor %}
                {% endif %}
                {% set chartsCriticalityLocationChart = 0 %}
                {% if CLocSum > 0 %}
                {% if CLocSum <= 0 %}
                {% set CLocSum = 1 %}
                {% endif %}
                //Criticality Combined Locations Chart
                var chartData = [];
                {% if class(entity) == 'RiskProject' %}
                chartData.push({
                    name: 'Very High {{ chartTitle }}',
                    y: {{ stats['risks'][4]|default(0) }},
                    customPercentage:{{ (stats['risks'][4]|default(0)/CLocSum*100)|round(1) }}
                }, {
                    name: 'High {{ chartTitle }}',
                    y: {{ stats['risks'][3]|default(0) }},
                    customPercentage:{{ (stats['risks'][3]|default(0)/CLocSum*100)|round(1) }}
                }, {
                    name: 'Medium {{ chartTitle }}',
                    y: {{ stats['risks'][2]|default(0) }},
                    customPercentage:{{ (stats['risks'][2]|default(0)/CLocSum*100)|round(1) }}
                }, {
                    name: 'Low {{ chartTitle }}',
                    y: {{ stats['risks'][1]|default(0) }},
                    customPercentage:{{ (stats['risks'][1]|default(0)/CLocSum*100)|round(1) }}
                }, {
                    name: 'Very Low {{ chartTitle }}',
                    y: {{ stats['risks'][0]|default(0) }},
                    customPercentage:{{ (stats['risks'][0]|default(0)/CLocSum*100)|round(1) }}
                });
                {% else %}
                {% if entity.vhEnabled is defined and entity.vhEnabled > 0 %}
                chartData.push({
                    name: '{{ entity.vhName }} {{ chartTitle }}',
                    y: {{  stats['risks'][4]|default(0) }},
                    customPercentage:{{ (stats['risks'][4]|default(0)/CLocSum*100)|round(1) }}
                });
                {% endif %}
                {% if entity.hEnabled is defined and entity.hEnabled > 0 %}
                chartData.push({
                    name: '{{ entity.hName }} {{ chartTitle }}',
                    y: {{  stats['risks'][3]|default(0) }},
                    customPercentage:{{ (stats['risks'][3]|default(0)/CLocSum*100)|round(1) }}
                });
                {% endif %}
                {% if entity.mEnabled is defined and entity.mEnabled > 0 %}
                chartData.push({
                    name: '{{ entity.mName }} {{ chartTitle }}',
                    y: {{  stats['risks'][2]|default(0) }},
                    customPercentage:{{ (stats['risks'][2]|default(0)/CLocSum*100)|round(1) }}
                });
                {% endif %}
                {% if entity.lEnabled is defined and entity.lEnabled > 0 %}
                chartData.push({
                    name: '{{ entity.lName }} {{ chartTitle }}',
                    y: {{  stats['risks'][1]|default(0) }},
                    customPercentage:{{ (stats['risks'][1]|default(0)/CLocSum*100)|round(1) }}
                });
                {% endif %}
                {% if entity.vlEnabled is defined and entity.vlEnabled > 0 %}
                chartData.push({
                    name: '{{ entity.vlName }} {{ chartTitle }}',
                    y: {{  stats['risks'][0]|default(0) }},
                    customPercentage:{{ (stats['risks'][0]|default(0)/CLocSum*100)|round(1) }}
                });
                {% endif %}
                {% if (entity.enableFMCriticality) %}
                {% for fmc in entity.fabricMaintenanceCriticality  %}
                chartData.push({
                    name: '{{ fmc.fmCriticalityCode }} {{ chartTitle }}',
                    y: {{  stats['FMrisks'][fmc.id]|default(0) }},
                    customPercentage:{{ (stats['FMrisks'][fmc.id]|default(0)/CLocSum*100)|round(1) }}
                });
                {% endfor %}
                {% endif %}
                {% endif %}
                var locationRiskN=[];
                var VHRiskSet=[];
                var HRiskSet=[];
                var MRiskSet=[];
                var LRiskSet=[];
                var VLRiskSet=[];
                {% for key, value in location_risk_anomalies %}
                locationRiskN.push('{{ ((value.name|raw)|replace({'"': '\\"', "'": "\\'"}))|raw }}');
                VHRiskSet.push({{ location_risk_anomalies[key]['4'] }});
                HRiskSet.push({{ location_risk_anomalies[key]['3'] }});
                MRiskSet.push({{ location_risk_anomalies[key]['2'] }});
                LRiskSet.push({{ location_risk_anomalies[key]['1'] }});
                VLRiskSet.push({{ location_risk_anomalies[key]['0'] }});
                {% endfor %}
                {% set chartsCriticalityLocationChart = 1 %}
                Highcharts.chart('CriticalityLocationChart', {
                    chart:{
                        height:'550px',
                        borderWidth: 1,
                        borderColor:'gray',
                        events: {
                            load: function(){
                                if (this.options.chart.forExport) {
                                    updateChartForExport(this);
                                }
                            }
                        }
                    },
                    colors: colorsArray
                    ,credits: {
                        enabled: false
                    },title: {
                        text: 'Anomaly Distribution per Location and {{ chartTitle }}',
                        align: 'left'
                    },plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: false,
                            },
                            events: {
                                legendItemClick: function () {
                                    var indexOfS = this.chart.series.map(function (ser) { return ser.name; }).indexOf(this.name);
                                    this.chart.series[this.chart.series.length - 1].data[indexOfS].visible = (!this.visible);
                                }
                            }
                        }
                    },
                    yAxis:{
                        title: {
                            text:"Anomalies Count"
                        },
                        tickInterval:1
                    },
                    xAxis: {
                        categories: locationRiskN
                    },
                    series: [
                        {% if class(entity) == 'RiskProject' or (class(entity) == 'CriticalityProject' and entity.vhEnabled is defined and entity.vhEnabled > 0) %}
                        {
                            type: 'column',
                            name: '{{ class(entity) == "RiskProject"? "Very High" : entity.vhName }} {{ chartTitle }}',
                            data: VHRiskSet
                        },
                        {% endif %}
                        {% if class(entity) == 'RiskProject' or (class(entity) == 'CriticalityProject' and entity.hEnabled is defined and entity.hEnabled > 0) %}
                        {
                            type: 'column',
                            name: '{{ class(entity) == "RiskProject"? "High" : entity.hName }} {{ chartTitle }}',
                            data: HRiskSet
                        },
                        {% endif %}
                        {% if class(entity) == 'RiskProject' or (class(entity) == 'CriticalityProject' and entity.mEnabled is defined and entity.mEnabled > 0) %}
                        {
                            type: 'column',
                            name: '{{ class(entity) == "RiskProject"? "Medium" : entity.mName }} {{ chartTitle }}',
                            data: MRiskSet
                        },
                        {% endif %}
                        {% if class(entity) == 'RiskProject' or (class(entity) == 'CriticalityProject' and entity.lEnabled is defined and entity.lEnabled > 0) %}
                        {
                            type: 'column',
                            name: '{{ class(entity) == "RiskProject"? "Low" : entity.lName }} {{ chartTitle }}',
                            data: LRiskSet
                        },
                        {% endif %}
                        {% if class(entity) == 'RiskProject' or (class(entity) == 'CriticalityProject' and entity.vlEnabled is defined and entity.vlEnabled > 0) %}
                        {
                            type: 'column',
                            name: '{{ class(entity) == "RiskProject"? "Very Low" : entity.vlName }} {{ chartTitle }}',
                            data: VLRiskSet
                        },
                        {% endif %}
                        {% if class(entity) == 'CriticalityProject' and (entity.enableFMCriticality) %}
                        {% for fmc in entity.fabricMaintenanceCriticality  %}
                        {
                            type: 'column',
                            name: '{{ fmc.fmCriticalityCode }} {{ chartTitle }}',
                            data: [
                                {% for key, value in location_fm_risk_anomalies %}
                                {{ location_fm_risk_anomalies[key][fmc.id] }},
                                {% endfor %}
                            ]
                        },
                        {% endfor %}
                        {% endif %}
                        {
                            colors: colorsArray,
                            type: 'pie',
                            name: 'Overall {{ chartTitle }}',
                            data: chartData,
                            center: ["70%", 80],
                            size: 200,
                            showInLegend: false,
                            dataLabels: {
                                enabled: false,
                                formatter:function() {
                                    if(this.y != 0) {
                                        return this.key + ': ' + roundToTwo(this.percentage.toFixed(2)) + '%';
                                    }
                                }
                            },tooltip: {
                                headerFormat: '<b>Total {point.key}</b><br>',
                                pointFormat: '{point.y} ({point.customPercentage}%)'
                            },
                            allowPointSelect: true,
                            cursor: 'pointer'
                        }],
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }

                    },exporting: {
                        sourceWidth: 1300,
                        sourceHeight: 550,
                        // scale: 2 (default)
                        chartOptions: {
                            subtitle: null
                        }
                    }
                },function() {
                    for(var i = 0; i < this.series[this.series.length - 1].data.length; i++) {
                        var point = this.series[this.series.length - 1].data[i];

                        // Set the hover-color for each point once upon creation of the chart
                        point.update({
                            states: {
                                hover: {
                                    // Use the old color and change the opacity to your liking
                                    color: Highcharts.Color(point.color).setOpacity(1).get()
                                }
                            },
                            color: Highcharts.Color(point.color).setOpacity(0.5).get()
                        }, true);
                    }});
                {% else %}
                $("#CriticalityLocationChart").hide();
                {% endif %}
                //Anomalies Locations Combined Chart
                var locationN=[];
                var PILocSet=[];
                var PLLocSet=[];
                var SELocSet=[];
                var MRLocSet=[];
                var STLocSet=[];
                {% for key, value in location_cat_anomalies %}
                locationN.push('{{ ((value.name|raw)|replace({'"': '\\"', "'": "\\'"}))|raw }}');
                PILocSet.push({{ value.PI }});
                PLLocSet.push({{ value.PL }});
                STLocSet.push({{ value.ST }});
                MRLocSet.push({{ value.MR }});
                SELocSet.push({{ value.SE }});
                {% endfor %}
                {% set ACSum = 0 %}
                var LocCatSeries=[];
                LocCatSeries.push({
                    name: 'Pipeline Anomalies',
                    type: 'column',
                    data: PLLocSet
                });
                {% set ACSum = ACSum + anomalies_cat_count['PL']|default(0) %}
                LocCatSeries.push({
                    name: 'Piping Anomalies',
                    type: 'column',
                    data: PILocSet
                });
                {% set ACSum = ACSum + anomalies_cat_count['PI']|default(0) %}
                LocCatSeries.push({
                    name: 'Structure Anomalies',
                    type: 'column',
                    data: STLocSet
                });
                {% set ACSum = ACSum + anomalies_cat_count['ST']|default(0) %}
                LocCatSeries.push({
                    name: 'Static Equipment Anomalies',
                    type: 'column',
                    data: SELocSet
                });
                {% set ACSum = ACSum + anomalies_cat_count['SE']|default(0) %}
                LocCatSeries.push({
                    name: 'Marine Anomalies',
                    type: 'column',
                    data: MRLocSet
                });
                {% set ACSum = ACSum + anomalies_cat_count['MR']|default(0) %}
                {% set chartsAnomaliesLocationChart = 0 %}
                {% if ACSum > 0 %}
                {% if ACSum <= 0 %}
                {% set ACSum = 1 %}
                {% endif %}
                LocCatSeries.push({
                    type: 'pie',
                    name: 'Overall Anomalies',
                    data: [{
                        name: 'Pipeline Anomalies',
                        y: {{ anomalies_cat_count['PL']|default(0) }},
                        customPercentage: {{ (anomalies_cat_count['PL']|default(0)/ACSum*100)|round(1) }}
                    },{
                        name: 'Piping Anomalies',
                        y: {{ anomalies_cat_count['PI']|default(0) }},
                        customPercentage: {{ (anomalies_cat_count['PI']|default(0)/ACSum*100)|round(1) }}
                    },{
                        name: 'Structure Anomalies',
                        y: {{ anomalies_cat_count['ST']|default(0) }},
                        customPercentage: {{ (anomalies_cat_count['ST']|default(0)/ACSum*100)|round(1) }}
                    },{
                        name: 'Static Equipment Anomalies',
                        y: {{ anomalies_cat_count['SE']|default(0) }},
                        customPercentage: {{ (anomalies_cat_count['SE']|default(0)/ACSum*100)|round(1) }}
                    },{
                        name: 'Marine Anomalies',
                        y: {{ anomalies_cat_count['MR']|default(0) }},
                        customPercentage: {{ (anomalies_cat_count['MR']|default(0)/ACSum*100)|round(1) }}
                    }],
                    center: ["70%", 80],
                    size: 200,
                    showInLegend: false,
                    dataLabels: {
                        enabled: false,
                        formatter:function() {
                            if(this.y != 0) {
                                return this.key + ': ' + roundToTwo(this.percentage.toFixed(2)) + '%';
                            }
                        }
                    },tooltip: {
                        headerFormat: '<b>Total {point.key}</b><br>',
                        pointFormat: '{point.y} ({point.customPercentage}%)'
                    },
                    allowPointSelect: true,
                    cursor: 'pointer'
                });
                {% set chartsAnomaliesLocationChart = 1 %}
                Highcharts.chart('AnomaliesLocationChart', {
                    chart:{
                        height:'550px',
                        borderWidth: 1,
                        borderColor:'gray',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        events: {
                            load: function(){
                                if (this.options.chart.forExport) {
                                    updateChartForExport(this);
                                }
                            }
                        }
                    }
                    ,credits: {
                        enabled: false
                    },title: {
                        text: 'Anomalies Distribution per Location and Asset Category',
                        align: 'left'
                    },plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: false,
                            },
                            events: {
                                legendItemClick: function () {
                                    var indexOfS = this.chart.series.map(function (ser) { return ser.name; }).indexOf(this.name);
                                    this.chart.series[5].data[indexOfS].visible = (!this.visible);
                                }
                            }
                        }
                    },
                    yAxis:{
                        title: {
                            text:"Anomalies Count"
                        },
                        tickInterval:1
                    },
                    xAxis: {
                        categories: locationN
                    },
                    series: LocCatSeries,
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }

                    },exporting: {
                        sourceWidth: 1300,
                        sourceHeight: 550,
                        // scale: 2 (default)
                        chartOptions: {
                            subtitle: null
                        }
                    }
                },function() {
                    for(var i = 0; i < this.series[5].data.length; i++) {
                        var point = this.series[5].data[i];

                        // Set the hover-color for each point once upon creation of the chart
                        point.update({
                            states: {
                                hover: {
                                    // Use the old color and change the opacity to your liking
                                    color: Highcharts.Color(point.color).setOpacity(1).get()
                                }
                            },
                            color: Highcharts.Color(point.color).setOpacity(0.5).get()
                        }, true);
                    }});
                {% else %}
                $("#AnomaliesLocationChart").hide();
                {% endif %}
                //Anomalies and Reapairs Count Chart
                var repairsarray=[];
                {% set sum2 = 0 %}
                {#repairsarray.push({
                    name: 'Open Anomalies',
                    data: [{{stats['in']['open']}},{{stats['ro']['open']}},{{stats['tro']['open']}},{{stats['fm']['open']}},{{stats['as']['open']}}]
                });#}
                {% set sum2 = sum2 + stats['in']['open'] + stats['ro']['open'] + stats['tro']['open'] + stats['fm']['open'] + stats['as']['open'] %}
                repairsarray.push({
                    name: 'Planned',
                    data: [{{stats['in']['planned']}},{{stats['ro']['planned']}},{{stats['tro']['planned']}},{{stats['fm']['planned']}},{{stats['as']['planned']}}]
                });
                {% set sum2 = sum2 + stats['in']['planned'] + stats['ro']['planned'] + stats['tro']['planned'] + stats['fm']['planned'] + stats['as']['planned'] %}
                repairsarray.push({
                    name: 'Overdue',
                    data: [{{stats['in']['overdue']}},{{stats['ro']['overdue']}},{{stats['tro']['overdue']}},{{stats['fm']['overdue']}},{{stats['as']['overdue']}}]
                });
                {% set sum2 = sum2 + stats['in']['overdue'] + stats['ro']['overdue'] + stats['tro']['overdue'] + stats['fm']['overdue'] + stats['as']['overdue'] %}
                repairsarray.push({
                    name: 'Deferred',
                    data: [{{stats['in']['deferred']}},{{stats['ro']['deferred']}},{{stats['tro']['deferred']}},{{stats['fm']['deferred']}},{{stats['as']['deferred']}}]
                });
                {% set sum2 = sum2 + stats['in']['deferred'] + stats['ro']['deferred'] + stats['tro']['deferred'] + stats['fm']['deferred'] + stats['as']['deferred'] %}
                {% set chartsAnomaliesAndRepairsCount = 0 %}
                {% if sum2 > 0 %}
                {% set chartsAnomaliesAndRepairsCount = 1 %}
                $('#AnomaliesAndRepairsCount').highcharts({
                    chart:{
                        type:'column',
                        height:'400px',
                        borderWidth: 1,
                        borderColor:'gray',
                        events: {
                            load: function(){
                                if (this.options.chart.forExport) {
                                    updateChartForExport(this);
                                }
                            }
                        }
                    },
                    colors: ['#68e34b','#f72200','#edb518']
                    ,credits: {
                        enabled: false
                    },title: {
                        text: 'Anomalies Mitigation Status ({{ stats['live_anomalies'] }} live anomalies)',
                        align: 'left'
                    },xAxis: {
                        categories: [
                            'Anomaly Inspection',
                            'Repair Orders',
                            'Temporary Repair Orders',
                            'Fabric Maintenance',
                            'Required Assessment'
                        ]
                    },yAxis: {
                        title: {
                            text: 'Anomaly Count'
                        },
                        tickInterval:1,
                        min: 0
                    },tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.y}'
                    },
                    series: repairsarray,
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }

                    },
                    exporting: {
                        sourceWidth: 600,
                        sourceHeight: 400,
                        // scale: 2 (default)
                        chartOptions: {
                            subtitle: null
                        }
                    }
                });
                {% else %}
                $("#AnomaliesAndRepairsCount").hide();
                {% endif %}
                {% set sumThreats = 0 %}
                {% for threat in threats %}
                {% set sumThreats = sumThreats + (threats_count[threat.description]) %}
                {% endfor %}
                {% set sum3 = 0 %}
                {% for threat in threats %}
                {% set sum3= sum3 + (threats_count[threat.description]) %}
                {% endfor %}
                {% set chartsAnomalyThreatsCount = 0 %}
                {% if sumThreats > 0 and sum3 > 0 %}
                {% set chartsAnomalyThreatsCount = 1 %}
                //Anomaly Threats count chart
                $('#AnomalyThreatsCount').highcharts({
                    chart:{
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        height:'400px',
                        borderWidth: 1,
                        borderColor:'gray',
                        events: {
                            load: function(){
                                if (this.options.chart.forExport) {
                                    updateChartForExport(this);
                                }
                            }
                        }
                    },credits: {
                        enabled: false
                    },title: {
                        text: 'Anomaly Threats',
                        align: 'left'
                    },series: [{
                        name: 'Anomaly Threats',
                        colorByPoint: true,
                        data: [
                            {% for threat in threats %}
                            {% if (threats_count[threat.description]) > 0 %}
                            {
                                name: '{{ threat.description }}',
                                y: {{ (threats_count[threat.description])|default(0) }},
                                customPercentage: {{ ((((threats_count[threat.description])|default(0))/sumThreats)*100)|round(1) }}
                            },
                            {% endif %}
                            {% endfor %}
                        ]
                    }],navigation: {
                        buttonOptions: {
                            enabled: false
                        }

                    },
                    exporting: {
                        sourceWidth: 600,
                        sourceHeight: 400,
                        // scale: 2 (default)
                        chartOptions: {
                            subtitle: null
                        }
                    },tooltip: {
                        headerFormat: '<b>{point.key}</b><br>',
                        pointFormat: '{point.y} ({point.customPercentage}%)'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false,
                                formatter:function() {
                                    if(this.y != 0) {
                                        return roundToTwo(this.percentage.toFixed(2)) + '%';
                                    }
                                }
                            },
                            showInLegend: true
                        }
                    }
                });
                {% else %}
                $("#AnomalyThreatsCount").hide();
                {% endif %}
                //Anomaly Classifications Count Chart
                var seriesArray=[];
                var categoriesArray=[];
                {% set counter = 0 %}
                {% set sum4 = 0 %}
                {% for class in classes %}
                {% set sum4 = sum4 + (classes_count[class.description]) %}
                {% if (classes_count[class.description]) > 0 %}
                categoriesArray.push('{{ class.code}}');
                seriesArray.push(
                    {
                        name: '{{ class.description }} ({{ class.code }})',
                        data: [[{{ counter }},{{ (classes_count[class.description])|default(0) }}]]
                    }

                );
                {% set counter = counter + 1 %}
                {% endif %}
                {% endfor %}
                {% set chartsAnomalyClassesCount = 0 %}
                {% if sum4 > 0 %}
                {% set chartsAnomalyClassesCount = 1 %}
                $('#AnomalyClassesCount').highcharts({
                    chart:{
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'column',
                        height:'550px',
                        borderWidth: 1,
                        borderColor:'gray',
                        events: {
                            load: function(){
                                if (this.options.chart.forExport) {
                                    updateChartForExport(this);
                                }
                            }
                        }
                    },credits: {
                        enabled: false
                    },title: {
                        text: 'Anomalies Distribution per Anomaly Classification',
                        align: 'left'
                    },tooltip: {
                        headerFormat: '<b>{series.name}</b><br>',
                        pointFormat: '{point.y}'
                    },
                    plotOptions : {
                        series  	: {
                            grouping: false,
                            pointRange: 1,
                            events: {
                                legendItemClick: function () {
                                    var indexOfS = this.chart.series.map(function (ser) { return ser.name; }).indexOf(this.name);
                                }
                            }
                        }
                    },
                    xAxis: {
                        categories: categoriesArray,
                        min:0,
                        max:{{ counter - 1 }},
                        title: {
                            text: null
                        }
                    },yAxis: {
                        title: {
                            text: 'Anomaly Count'
                        },
                        tickInterval:1
                    },series: seriesArray,
                    navigation: {
                        buttonOptions: {
                            enabled: false
                        }

                    },
                    exporting: {
                        sourceWidth: 1300,
                        sourceHeight: 550,
                        // scale: 2 (default)
                        chartOptions: {
                            subtitle: null
                        }
                    }
                });
                {% else %}
                $("#AnomalyClassesCount").hide();
                {% endif %}
            });
            function updateChartForExport(chart) {
                if (chart.options.chart.forExport) {
                    chart.title.update(
                        {
                            style: {
                                color: '#000',
                                fontWeight: boldText
                            }
                        }
                    );
                    Highcharts.each(chart.series, function (series) {
                        if(series.type=='pie' && series.name != 'Anomaly Threats'){
                            series.update({
                                visible: embedPie
                            });
                        }
                        if(series.type=='pie'){
                            series.update({
                                dataLabels:{
                                    enabled: showDL
                                }
                            });
                        }
                        if(series.yAxis){
                            series.yAxis.update({
                                title:{
                                    style: {
                                        color: '#000',
                                        fontSize: fontSize,
                                        fontWeight: boldText
                                    }
                                },
                                labels: {
                                    style: {
                                        color: '#000',
                                        fontSize: fontSize,
                                        fontWeight: boldText
                                    }
                                }
                            });
                        }
                        if(series.xAxis){
                            series.xAxis.update({
                                title:{
                                    style: {
                                        color: '#000',
                                        fontSize: fontSize,
                                        fontWeight: boldText
                                    }
                                },
                                labels: {
                                    style: {
                                        color: '#000',
                                        fontSize: fontSize,
                                        fontWeight: boldText
                                    }
                                }
                            });
                        }

                    });
                }
            }
            function roundToTwo(num) {
                return +(Math.round(num + "e+2")  + "e-2");
            }

        </script>
        <script>
            var clLogo = null;
            var aieLogo = null;
            var vaLogo = null;

            toDataURL(
                "{{ asset('assets/img/logo_anomaly.png') }}",
                function(dataUrl) {
                    vaLogo = dataUrl;
                }
            );
            toDataURL(
                "{{ asset('assets/img/aie_logo.png') }}",
                function(dataUrl) {
                    aieLogo = dataUrl;
                }
            );

            var cH;
            var cW;

            toDataURLFromBase64(
                $("#img_logo").attr("src"),
                function(dataUrl) {
                    clLogo = dataUrl;
                }
            );
            function toDataURL(src, callback, outputFormat) {
                var img = new Image();
                img.crossOrigin = 'anonymous';
                img.onload = function() {
                    var canvas = document.createElement('CANVAS');
                    var ctx = canvas.getContext('2d');
                    var dataURL;
                    if (src != "/assets/img/logo_anomaly.png" && src != "/assets/img/aie_logo.png"){
                        cH= this.naturalHeight;
                        cW = this.naturalWidth;
                    }
                    canvas.height = this.naturalHeight;
                    canvas.width = this.naturalWidth;
                    ctx.drawImage(this, 0, 0);
                    dataURL = canvas.toDataURL(outputFormat);
                    callback(dataURL);
                };
                img.src = src;
                if (img.complete || img.complete === undefined) {
                    img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
                    img.src = src;
                }
            }

            function toDataURLFromBase64(base64, callback) {
                var img = new Image();
                img.crossOrigin = 'anonymous';
                img.onload = function() {
                    cH= this.naturalHeight;
                    cW = this.naturalWidth;
                    callback(base64);
                };
                img.src = base64;
                if (img.complete || img.complete === undefined) {
                    img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
                    img.src = base64;
                }
            }

            function getChartAsImage(containerName) {
                var chart = $('#'+containerName).highcharts();
                var svg = chart.getSVG();
                var canvas = document.createElement('canvas');
                canvg(canvas, svg);

                var imgData = canvas.toDataURL('image/jpeg');
                return imgData;
            }

            function setHeaderFooter(pgNumber,totalPgs,doc,seq){

                if (vaLogo) {
                    doc.addImage(vaLogo, 'JPEG', 565-86-10, 50, 86,12);
                }
                if (aieLogo) {
                    doc.addImage(aieLogo, 'JPEG', 565-60-10, 25, 60, 25);
                }
                if (clLogo) {
                    var h = cH;
                    var w = cW;
                    var ratio = 30 / h;
                    w = w * ratio;
                    h= h * ratio;
                    doc.addImage(clLogo, 'JPEG', 40, 35, w, h);
                }

                doc.setFontSize(15);
                doc.text("{{ entity.name }}" , 297, 58, 'center');
                doc.setFontSize(13.5);
                doc.text("Anomaly Management Summary Report" , 297, 80, 'center');
                doc.setFontSize(9);
                var today = new Date();
                var dd = today.getDate();
                var mm = today.getMonth()+1; //January is 0!

                var yyyy = today.getFullYear();
                if(dd<10){
                    dd='0'+dd;
                }
                if(mm<10){
                    mm='0'+mm;
                }
                var today = dd+'/'+mm+'/'+yyyy;

                doc.setDrawColor(220, 220, 220);
                doc.setLineWidth(1.5);
                doc.line(40, 90, 555, 90);
                doc.setFontSize(9);
                doc.text("Page "  + pgNumber +  " of " + totalPgs, 297, 810, 'center');
                doc.text("Date: " + today, 555, 80, 'right');
                doc.text("{{ entity.referenceNo }}-IMS-DB-" + yyyy + "-" + seq, 555, 810, 'right');

                return doc;
            }


            $("#downloadPDF").on("click",function () {
                $.ajax({
                    url:'{{  path('anomaly_reportsequence_increase', { 'projectId':entity.id, 'reportTypeId': 1 }) }}',
                    type: "GET",
                    dataType: "json",
                    async: true,
                    success: function (data)
                    {
                        if(data['message'] == 'error'){
                            alert("Unknown error occurred while preparing the report");
                        }else{
                            downloadPDFReport(data['message']);
                        }

                    }
                });

            });
            function downloadPDFReport(seqeunce) {
                var doc = new jsPDF('p', 'pt', 'a4');
                var bW=515;
                var bH=217;
                var sW=250;
                var sH=166;
                var currentX=40;
                var currentY=107;
                doc.setFontSize(10);
                var cols0=['Pipeline Anomalies','Piping Anomalies','Static Equipment Anomalies','Structure Anomalies','Marine Anomalies'];
                var rows0=[
                    [{{ anomalies_cat_count['PL']|default(0) }},{{ anomalies_cat_count['PI']|default(0) }},{{ anomalies_cat_count['SE']|default(0) }},
                        {{ anomalies_cat_count['ST']|default(0) }},{{ anomalies_cat_count['MR']|default(0) }}]
                ];
                doc.autoTable(cols0, rows0, {
                    styles: {fontSize: 7,halign: 'center'},
                    margin: {top: currentY-10},
                    headerStyles: {
                        fillColor:[33,34,98],
                        lineColor: [33,34,98],
                        lineWidth: 0.5
                    },
                    bodyStyles: {
                        lineColor: [166,166,166],
                        lineWidth: 0.5
                    }
                });
                currentY=currentY+35;
                {% if chartsTotalMitigationRisk %}
                doc.addImage(getChartAsImage('TotalMitigationRisk'), 'JPEG', currentX, currentY, sW, sH);
                {% endif %}
                currentX=40+15+sW;
                {% if chartsCriticalyAnomaliesCategory %}
                doc.addImage(getChartAsImage('CriticalyAnomaliesCategory'), 'JPEG', currentX, currentY, sW, sH);
                {% endif %}
                currentX=40;currentY=currentY+15+sH;
                {% if chartsCriticalityLocationChart %}
                doc.addImage(getChartAsImage('CriticalityLocationChart'), 'JPEG', currentX, currentY, bW, bH);
                {% endif %}
                currentX=40;currentY=currentY+15+bH;
                {% if chartsAnomaliesLocationChart %}
                doc.addImage(getChartAsImage('AnomaliesLocationChart'), 'JPEG', currentX, currentY, bW, bH);
                {% endif %}
                currentX=40;currentY=100;
                doc.addPage();
                {% if chartsAnomalyThreatsCount %}
                doc.addImage(getChartAsImage('AnomalyThreatsCount'), 'JPEG', currentX, currentY, sW, sH);
                {% endif %}
                currentX=40+15+sW;
                {% if chartsAnomaliesAndRepairsCount %}
                doc.addImage(getChartAsImage('AnomaliesAndRepairsCount'), 'JPEG', currentX, currentY, sW, sH);
                {% endif %}
                currentX=40;currentY=currentY+15+sH;
                {% if chartsAnomalyClassesCount %}
                doc.addImage(getChartAsImage('AnomalyClassesCount'), 'JPEG', currentX, currentY, bW, bH);
                {% endif %}
                currentX=40;currentY=currentY+25+bH;
                doc.setFontSize(11);
                var cols=['Month','Anomaly Inspections','Repair Orders','Temporary Repair Orders','Fabric Maintenance','Required Assessment'];
                var rows=[
                    {% for i in 1..12 %}
                    ['{{ (annual_planned[i]['yr'] ~ "-01")|date("M Y") }}','{{ annual_planned[i]['in'] }}', '{{ annual_planned[i]['ro'] }}', '{{ annual_planned[i]['tro'] }}','{{ annual_planned[i]['fm'] }}','{{ annual_planned[i]['as'] }}'],
                    {% endfor %}
                ];
                var elem = document.getElementById("tbl_yearMitigation");
                var res = doc.autoTableHtmlToJson(elem);
                doc.autoTable(cols, rows, {
                    styles: {fontSize: 7,halign: 'center'},
                    margin: {top: currentY},
                    headerStyles: {
                        fillColor:[33,34,98],
                        lineColor: [33,34,98],
                        lineWidth: 0.5
                    },
                    bodyStyles: {
                        lineColor: [166,166,166],
                        lineWidth: 0.5
                    },
                    drawHeaderRow: function (row, data) {
                        doc.setFontSize(8);
                        doc.setTextColor(0, 0, 0);
                        doc.setFontStyle('bold');
                        doc.rect(data.settings.margin.left, row.y, data.table.width, 20,{fillColor:[33,34,98],
                            lineColor: [33,34,98]});
                        doc.autoTableText("Planned Mitigation for the Next 12 Months", data.settings.margin.left + data.table.width / 2, row.y + row.height / 2, {
                            halign: 'center',
                            valign: 'middle'
                        });
                        data.cursor.y += 20;
                    }
                });
                var number_of_pages = doc.internal.getNumberOfPages();
                var pdf_pages = doc.internal.pages;
                for (var i = 1; i < pdf_pages.length; i++) {
                    doc.setPage(i)
                    setHeaderFooter(i,pdf_pages.length-1,doc,seqeunce);
                }
                doc.save('VA-dashboard.pdf');
                $("#downloadModal").modal("hide");
            }
        </script>
    {% endif %}
{% endblock %}