{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Mitigation Technique</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('mitigationtechniques') }}">
            Back to mitigation techniques
        </a>
    </li>
</ul>
{% endblock %}
