{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Mitigation Techniques</h1>

    <table class="records_list table-bordered">
        <thead>
            <tr>
                <th rowspan="2">Mitigation Technique</th>
                <th rowspan="2">Description</th>
                <th colspan="4" style="text-align: center;">Risk</th>
                <th rowspan="2">Actions</th>
            </tr>
            <tr>
                <th>Low</th>
                <th>Medium</th>
                <th>High</th>
                <th>Very High</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.name }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.lfreq }}</td>
                <td>{{ entity.mfreq }}</td>
                <td>{{ entity.hfreq }}</td>
                <td>{{ entity.vfreq }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('mitigationtechniques_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('mitigationtechniques_new') }}">
                Create a new mitigation technique
            </a>
        </li>
    </ul>
    {% endblock %}
