{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Mitigation Technique</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Mitigation Technique</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>VL_freq</th>
                <td>{{ entity.vlfreq }}</td>
            </tr>
            <tr>
                <th>L_freq</th>
                <td>{{ entity.lfreq }}</td>
            </tr>
            <tr>
                <th>M_freq</th>
                <td>{{ entity.mfreq }}</td>
            </tr>
            <tr>
                <th>H_freq</th>
                <td>{{ entity.hfreq }}</td>
            </tr>
            <tr>
                <th>Vh_freq</th>
                <td>{{ entity.vfreq }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mitigationtechniques') }}">
            Back to mitigation techniques
        </a>
    </li>
    <li>
        <a href="{{ path('mitigationtechniques_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
