{% extends 'AIECmsBundle:Default:wizard.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables/media/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables4/Responsive-2.2.2/css/responsive.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables4/Buttons-1.5.1/css/buttons.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/databases/databases.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/DataTables/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/dataTables.buttons.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/buttons.flash.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/JSZip-2.5.0/jszip.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/pdfmake-0.1.36/pdfmake.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/pdfmake-0.1.36/vfs_fonts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/buttons.html5.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/buttons.print.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/buttons.colVis.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.blockUI.js') }}"></script>
    <script type="text/javascript">
        var projectId = {{  projectId }};
        var subprojectId = {{ subprojectId  }};
        var projectName = '{{  project.name }}';
        var subprojectName = '{{ subproject.name  }}';
        var stepID = {{ stepId }}
        if (!stepID) stepID = 1;
        var excelShow = {{ excelGranted }}
        var columnsShow = {{ selectcolumnsGranted }}
        var systemname = '';
        {% if system is defined and systems|length > 0%}
        {% for system in systems %}
        {% if loop.index == stepId %}
        var systemname = '{{ system.bs_systemstitle }}';
        {% endif %}
        {% endfor %}
        {% endif %}
        $(document).ready(function() {

            $("#wizard").wizard('selectedItem',{step:stepID});

            $('#wizard').find('ul.steps li').toggleClass('complete', true);

            $('#wizard').on('changed.fu.wizard', function (evt, data) {
                $('#wizard').find('ul.steps li').toggleClass('complete', true);
                callLoad();
            });

            wizard.on('stepclick', function (e, data) {
                var stepID = data.step;
                var currentID = $(".step-pane").attr('id');
                currentID = currentID.replace('step', '');

                var id = "#step"+currentID;
                var url = "/c/"+projectId+"/subprojectcathodicprotectiondatabase/"+subprojectId+"/"+currentID+"/loadsystems";
                $.ajax({ url: url, dataType: 'html', success: function(response) { $(id).html(response); } });
            });

            //$('#cathodicprotectiondatabasemodal').hide();
            $('[data-toggle="modal"]').click(function(e) {
                var currentID = $(".step-pane.active").attr('id');
                currentID = currentID.replace('step', '');
                var stepID = $("#wizard").wizard('selectedItem')['step'];

                var url = "/c/"+projectId+"/subprojectcathodicprotectiondatabase/"+subprojectId+"/"+currentID+"/"+stepID+"/create";

                //var modal_id = $(this).attr('data-target');
                $.blockUI({ message: "<h4>Page Loading...</h4>", overlayCSS: { backgroundColor: '#747474' }  });
                $.post(url, function(data) {
                    $(data).modal();
                    $.unblockUI();
                });
            });

            $(document).on('click','.close',function(e){
                $('[data-toggle="modal"]').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            });

            $('.btn-prev').click(function(e) {
                callLoad();
            });

            $('.btn-next').click(function(e) {
                callLoad();
            });

            function callLoad() {
                var currentID = $(".step-pane.active").attr('id');
                currentID = currentID.replace('step', '');
                var divId = "#step"+currentID;
                var url = "/c/"+projectId+"/subprojectcathodicprotectiondatabase/"+subprojectId+"/"+currentID+"/loadsystems";
                $(divId).html('<div style="align-content: center;text-align: center;">Data loading..</div>');
                $.ajax({ url: url, dataType: 'html', success: function(response) { $(divId).html(response); } });
            }
            callLoad();
        } );
    </script>
    <script src="{{ asset('assets/js/aie/databasesedit.js') }}" type="text/javascript"></script>
{% endblock %}

{% block steps -%}
    {% if system is defined and systems|length > 0%}
        {% for system in systems %}
            <li id="{{ system.bs_id }}" data-target="#step{{ system.bs_id }}" {% if loop.index == 1 %} class="active"{% endif %}>
                <span class="badge badge-info">{{ loop.index }}</span>{{ system.bs_systemstitle }}
            </li>
        {% endfor %}
    {% else %}
        <span>No systems</span>
    {% endif %}
{% endblock %}

{% block steps_content %}
    {% if system is defined and systems|length > 0 %}
        <div class="Scrollable_Wrapper">
            {% for system in systems %}
                <div class="step-pane {% if loop.index == 1 %}active{% endif %}" id="step{{ system.bs_id }}">
                    <table class="table table-bordered table-striped table-hover table-responsive table-grid-head" cellspacing="0" width="100%">
                        <thead class="table-grid-head-row">
                            <tr>
                                <th>Activity<div class="sortMask"></div></th>
                                <th>Platform/Plant<div class="sortMask"></div></th>
                                <th>P&ID<div class="sortMask"></div></th>
                                <th>Location ID
                                    <div class="sortMask"></div>
                                </th>
                                <th>Location<div class="sortMask"></div></th>
                                <th>CP Type<div class="sortMask"></div></th>
                                <th>Equipment Type<div class="sortMask"></div></th>
                                <th>Tag<div class="sortMask"></div></th>
                                <th>Service<div class="sortMask"></div></th>
                                <th>Anode Type<div class="sortMask"></div></th>
                                <th>Reference Electrode<div class="sortMask"></div></th>
                                <th>Monitoring Method<div class="sortMask"></div></th>
                                <th>Photo<div class="sortMask"></div></th>
                                <th>Actions<div class="sortMask"></div></th>
                            </tr>
                        </thead>

                        <thead class="filters">
                            <tr>
                                <th><span id="closefilters"><img src="/assets/img/upmarker.png" /></span>Activity</th>
                                <th>Platform/Plant</th>
                                <th>P&ID</th>
                                <th>Location ID</th>
                                <th>Location</th>
                                <th>CP Type</th>
                                <th>Equipment Type</th>
                                <th>Tag</th>
                                <th>Service</th>
                                <th>Anode Type</th>
                                <th>Reference Electrode</th>
                                <th>Monitoring Method</th>
                                <th>Photo</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody id="tb{{ system.bs_id }}">
                            {% if cathodicprotectiondatabases is defined %}
                                {% for cathodicprotection in cathodicprotectiondatabases %}
                                        <tr>
                                            <td>{% if cathodicprotection.bsd_activitytitle is defined %}{{ cathodicprotection.bsd_activitytitle }}{% endif %}</td>
                                            <td id="ed{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="platformorplant" data-resizable-column-id="platformorplant">{{ cathodicprotection.bsd_platformorplant }}</td>
                                            <td id="ed{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="pandid" data-resizable-column-id="pandid">{{ cathodicprotection.bsd_pandid }}</td>
                                            <td id="ed{{ projectId }}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}"
                                                key="locationid"
                                                data-resizable-column-id="locationid">{{ cathodicprotection.bsd_id }}</td>
                                            <td id="ed{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="location" data-resizable-column-id="location">{{ cathodicprotection.bsd_location }}</td>
                                            <td id="cptype{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="cptype">{% if cathodicprotection.bsc_colvalue is defined %} {{ cathodicprotection.bsc_colvalue }}{% endif %}</td>
                                            <td id="equipmenttype{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="equipmenttype">{% if cathodicprotection.bse_colvalue is defined %} {{ cathodicprotection.bse_colvalue }}{% endif %}</td>
                                            <td id="ed{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="tag" data-resizable-column-id="tag">{{ cathodicprotection.bsd_tag }}</td>
                                            <td id="service{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="service">{% if cathodicprotection.bss_colvalue is defined %}{{ cathodicprotection.bss_colvalue }}{% endif %}</td>
                                            <td id="anodetype{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="anodetype">{% if cathodicprotection.bsa_colvalue is defined %}{{ cathodicprotection.bsa_colvalue }}{% endif %}</td>
                                            <td id="referenceelectrode{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="referenceelectrode">{% if cathodicprotection.bsr_colvalue is defined %}{{ cathodicprotection.bsr_colvalue }}{% endif %}</td>
                                            <td id="monitoringmethod{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="monitoringmethod">{% if cathodicprotection.bsm_colvalue is defined %}{{ cathodicprotection.bsm_colvalue }}{% endif %}</td>
                                            <td id="file{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}">{% if cathodicprotection.bsd_filepath is not null %}<a target="_blank" download="download" href="{{ asset('/uploads/'~cathodicprotection.bsd_filepath) }}"> <span class="glyphicon glyphicon-cloud-download"></span></a>{% endif %}</td>
                                            <td>
                                                <ul>
                                                    {% if editGranted %}
                                                    <li><a class="editcathodicprotectiondatabase" id="{{ system.bs_id }}_{{ cathodicprotection.bsd_id }}" data-toggle="modal" href="#" data-target="#editcathodicprotectiondatabasemodal">Edit</a></li>
                                                    {% endif %}
                                                    {% if deleteGranted %}
                                                    <li><a class="deleteDatabase" id="delete_{{ cathodicprotection.bsd_id }}" href= "{{ path('cms_subproject_cathodicprotectiondatabase_delete', { 'projectId' : projectId, 'subprojectId' : subprojectId, 'sid' : cathodicprotection.bsd_id }) }}">Delete</a></li>
                                                    {% endif %}
                                                </ul>
                                            </td>
                                        </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>

                    </table>
                </div>
            {% endfor %}
            <a id="nextLink" href="{{ path('cms_subproject_cathodicprotectiondatabase', {'projectId':projectId,'subprojectId':subprojectId}) }}" style="display: none;"></a>
        </div>
    {% endif %}
    {% if addGranted %}
        {% if systems|length > 0 %} <div class="col-md-1 add_new_sub_project_sampling" id=""><a role="button" class="btn btn-primary addnewcathodicprotection" data-toggle="modal" href="#" data-target="#cathodicprotectiondatabasemodal">Add New Row</a></div>{% endif %}
    {% endif %}
    <div class="col-md-3 downloadExcel" id="downloadExcel"></div>
{% endblock %}

