{% block javascripts %}
    <script type="text/javascript">var systemname = '{{ systemInfo.systemstitle }}';</script>
    <script src="{{ asset('assets/js/aie/databasesedit.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <style>
        .table-grid-head{
            background: #ddd;
        }
        .sortMask {
            width:19px;
            height:19px;
            float:right;
            display:inline-block;
            z-index:0;
            margin-top:-10px;
            margin-right: -19px;
            /*background:red;*/
        }
    </style>
{% endblock %}
<table class="table table-bordered table-striped table-hover table-responsive table-grid-head" cellspacing="0" width="100%">

    <thead class="table-grid-head-row">
        <tr>
            <th>Activity<div class="sortMask"></div></th>
            <th>Platform/Plant<div class="sortMask"></div></th>
            <th>P&ID<div class="sortMask"></div></th>
            <th>Location ID
                <div class="sortMask"></div>
            </th>
            <th>Location<div class="sortMask"></div></th>
            <th>CP Type<div class="sortMask"></div></th>
            <th>Equipment Type<div class="sortMask"></div></th>
            <th>Tag<div class="sortMask"></div></th>
            <th>Service<div class="sortMask"></div></th>
            <th>Anode Type<div class="sortMask"></div></th>
            <th>Reference Electrode<div class="sortMask"></div></th>
            <th>Monitoring Method<div class="sortMask"></div></th>
            <th>Photo<div class="sortMask"></div></th>
            <th>Actions<div class="sortMask"></div></th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>Activity</th>
            <th>Platform/Plant</th>
            <th>P&ID</th>
            <th>Location ID</th>
            <th>Location</th>
            <th>CP Type</th>
            <th>Equipment Type</th>
            <th>Tag</th>
            <th>Service</th>
            <th>Anode Type</th>
            <th>Reference Electrode</th>
            <th>Monitoring Method</th>
            <th>Photo</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="tb{{ systemid }}" class="cathodicprotectiondatabase">
        {% if cathodicprotectiondatabases is defined %}
            {% for cathodicprotection in cathodicprotectiondatabases %}
                <tr>
                    <td>{% if cathodicprotection.bsd_activitytitle is defined %}{{ cathodicprotection.bsd_activitytitle }}{% endif %}</td>
                    <td id="ed{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="platformorplant" data-resizable-column-id="platformorplant">{{ cathodicprotection.bsd_platformorplant }}</td>
                    <td id="ed{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="pandid" data-resizable-column-id="pandid">{{ cathodicprotection.bsd_pandid }}</td>
                    <td id="ed{{ projectId }}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="locationid"
                        data-resizable-column-id="locationid">{{ cathodicprotection.bsd_id }}</td>
                    <td id="ed{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="location" data-resizable-column-id="location">{{ cathodicprotection.bsd_location }}</td>
                    <td id="cptype{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="cptype">{% if cathodicprotection.bsc_colvalue is defined %} {{ cathodicprotection.bsc_colvalue }}{% endif %}</td>
                    <td id="equipmenttype{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="equipmenttype">{% if cathodicprotection.bse_colvalue is defined %} {{ cathodicprotection.bse_colvalue }}{% endif %}</td>
                    <td id="ed{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="tag" data-resizable-column-id="tag">{{ cathodicprotection.bsd_tag }}</td>
                    <td id="service{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="service">{% if cathodicprotection.bss_colvalue is defined %}{{ cathodicprotection.bss_colvalue }}{% endif %}</td>
                    <td id="anodetype{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="anodetype">{% if cathodicprotection.bsa_colvalue is defined %}{{ cathodicprotection.bsa_colvalue }}{% endif %}</td>
                    <td id="referenceelectrode{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="referenceelectrode">{% if cathodicprotection.bsr_colvalue is defined %}{{ cathodicprotection.bsr_colvalue }}{% endif %}</td>
                    <td id="monitoringmethod{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}" key="monitoringmethod">{% if cathodicprotection.bsm_colvalue is defined %}{{ cathodicprotection.bsm_colvalue }}{% endif %}</td>
                    <td id="file{{projectId}}_{{ subprojectId }}_{{ cathodicprotection.bsd_id }}">{% if cathodicprotection.bsd_filepath is not null %}<a target="_blank" download="download" href="{{ asset('/uploads/'~cathodicprotection.bsd_filepath) }}"> <span class="glyphicon glyphicon-cloud-download"></span></a>{% endif %}</td>
                    <td>
                        <ul>
                            {% if editGranted %}
                            <li><a class="editcathodicprotectiondatabase" id="{{ systemid }}_{{ cathodicprotection.bsd_id }}" data-toggle="modal" href="#" data-target="#editcathodicprotectiondatabasemodal">Edit</a></li>
                            {% endif %}
                            {% if deleteGranted %}
                            <li><a class="deleteDatabase" id="delete_{{ cathodicprotection.bsd_id }}" href= "{{ path('cms_subproject_cathodicprotectiondatabase_delete', { 'projectId' : projectId, 'subprojectId' : subprojectId, 'sid' : cathodicprotection.bsd_id }) }}">Delete</a></li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>

</table>
