{% extends 'AIEIntegrityAssessmentBundle:Email:base.html.twig' %}

{% block content -%}
    Dear {{ owner.name|title }},<br><br>
    Please be reminded that the following activities are overdue by/planned for the month of {{ 'now'|date('F Y') }}.
    <br><br>
    <table id="table-bordered"
           style="border: 1px solid #dddddd;width: 100%; word-break: break-word; border-collapse: collapse; border-spacing: 0;margin-bottom: 20px; table-layout: fixed;">
        <thead>
        <tr style="background: #DDD;">
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Section</th>
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Threat</th>
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Mitigation
                Technique
            </th>
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Frequency</th>
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Last
                Inspection Date
            </th>
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Next
                Inspection Date
            </th>
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Status</th>
            <th style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Action Owner
            </th>
        </tr>
        </thead>
        <tbody>
        {% for sma in actions %}
            <tr>
                <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">{{ sma.sectionsThreats.PipelineSections.section }}</td>
                {% set continues = (sma.mitigationTechnique.vfreq ==0  and sma.mitigationTechnique.hfreq == 0 and sma.mitigationTechnique.mfreq == 0 and sma.mitigationTechnique.lfreq == 0) %}
                {% set threatName = sma.sectionsThreats.threats.name %}
                <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">{{ sma.sectionsThreats.threats.name }}</td>
                <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">{{ sma.mitigationTechnique.mitigationTechnique }}</td>
                <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">{{ sma.frequency }}</td>
                <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">
                    {{ sma.LastInspectionDate|date('d F Y') }}
                </td>
                <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">
                    {{ sma.NextInspectionDate|date('d F Y') }}
                </td>
                {{ sma.IsInspectionDue is not same as( false ) ? '<td  style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;background:#FF786C;">Overdue</td>' : '<td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">Planned</td>' }}
                <td style="border: 1px solid #dddddd; padding: 8px; vertical-align: top; text-align: center;">{{ sma.actionOwner? sma.actionOwner.name: 'N/A' }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    Thanks,<br><br>
    <img src="{{ asset('assets/img/logo.png') }}" style="margin-right:0px" height="29" width="182"
         alt="veracity pipeline"><br><br>
    <span style="color: #A6A6A6; font-family: Tahoma,sans-serif; font-size: 11px;">
        This is an automated e-mail message, please do not reply directly. You can contact us by sending an e-mail to <a
                href="mailto:veracity-engineer@aiegroup.org">veracity-engineer@aiegroup.org</a>
    </span>
{% endblock %}