{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Pipeline</h1>

    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.length) }}
    {{ form_row(edit_form.description) }}
    {{ form_row(edit_form.outerDiameter) }}
    {{ form_row(edit_form.mAOP) }}
    {{ form_row(edit_form.designFactor) }}
    {{ form_row(edit_form.geometry,{'id':'geometryMap'}) }}
    <div class="row" style="padding-left:12px;">
        <div class="panel panel-default" id="map_panel">
            <div class="panel-heading">Map</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                    <textarea id="lat_lng" class="form-control" placeholder="25.767368,-80.18930
                                                    34.088808,-118.40612
                                                    40.727093,-73.97864"></textarea>
                    </div>
                    <div class="col-md-9 right">
                        <div class="map" id="map_in"></div>
                    </div>
                </div>
                <div class="row buttons">
                    <div class="col-md-3">
                        <button type="button" id="clear_shape" class="btn btn-primary btn-danger">Clear Line</button>
                        <button type="button" id="draw_shape" class="btn btn-primary btn-success">Draw Line</button>
                    </div>
                    <div class="col-md-9 right">
                        <button type="button" id="center_shape" class="btn">Center</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(edit_form) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
{% endblock %}
