{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Action Owner</h1>

    {{ form(edit_form) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path('pipelineemails', {'pipelineId':pipelineId}) }}">
                Back to action owners
            </a>
        </li>
    </ul>
{% endblock %}
