{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>New Action Owner</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pipelineemails', {'pipelineId': pipelineId}) }}">
            Back to action owners
        </a>
    </li>
</ul>
{% endblock %}
