{% form_theme editform 'bootstrap_3_horizontal_layout.html.twig' %}
{% block content %}
    {{ form_start(editform) }}
    {{ form_errors(editform) }}
    {% block form_row %}
        {{ form_widget(editform) }}
    {% endblock form_row %}
    {{ form_end(editform) }}
{% endblock %}

