{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block javascripts %}
    <script type="text/javascript">
        function readyFn( jQuery ) {
            $('.required').closest('.form-group').find('.control-label').each(function () {
                $(this).text("*" + $(this).text());
            });
        }

        $( document ).ready( readyFn );
        // or:
        $( window ).on( "load", readyFn );
    </script>
{% endblock %}
{% block content %}
     <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                    <!--div class="form-group">
                        <div class="mitigationlabel col-md-3 col-md-offset-0 control-label"><label for="mitigationtechniquestitle" class="pull-right" style="padding-left: 8px;"><b>* Mitigation Techniques</b> </label></div>
                        <div class="mitigationtext"><input type="text" id="mitigationtechniquestitle" name="mitigationtechniquestitle" class="form-control input-md required form-control" style="width: 200px"></div>
                    </div-->
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.mitigationtechniquestitle) }}{{ form_widget(form.mitigationtechniquestitle) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.managementtitle) }}{{ form_widget(form.managementtitle) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.managementgreen) }}{{ form_widget(form.managementgreen) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.managementamber) }}{{ form_widget(form.managementamber) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.managementred) }}{{ form_widget(form.managementred) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.controltitle) }}{{ form_widget(form.controltitle) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2" style="width:100px;padding-left: 30px;">
                            <b>* Green</b>
                        </div>
                        <div class="col-md-2" style="width:100px;">
                            {{ form_widget(form.controlgreenexpression) }}
                        </div>
                        <div class="col-md-2 form-group" style="width:100px;margin-left: 2px;">
                            {{ form_widget(form.controlgreen) }}
                        </div>
                        <div class="col-md-1" style="width:70px;padding-left: 30px;">
                            <b>And</b>
                        </div>
                        <div class="col-md-2" style="width:100px;">
                            {{ form_widget(form.controlgreenexpressionrange) }}
                        </div>
                        <div class="col-md-2" style="width:100px;margin-left: 2px;">
                            {{ form_widget(form.controlgreenrange) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2" style="width:100px;padding-left: 30px;">
                            <b>Amber</b>
                        </div>
                        <div class="col-md-2" style="width:100px;">
                            {{ form_widget(form.controlamberexpression) }}
                        </div>
                        <div class="col-md-2 form-group" style="width:100px;margin-left: 2px;">
                            {{ form_widget(form.controlamber) }}
                        </div>
                        <div class="col-md-1" style="width:70px;padding-left: 30px;">
                            <b>And</b>
                        </div>
                        <div class="col-md-2" style="width:100px;">
                            {{ form_label(form.controlamberexpressionrange) }}{{ form_widget(form.controlamberexpressionrange) }}
                        </div>
                        <div class="col-md-2" style="width:100px;margin-left: 2px;">
                            {{ form_widget(form.controlamberrange) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2" style="width:100px;padding-left: 30px;">
                            <b>* Red</b>
                        </div>
                        <div class="col-md-2" style="width:100px;">
                            {{ form_widget(form.controlredexpression) }}
                        </div>
                        <div class="col-md-2 form-group" style="width:100px;margin-left: 2px;">
                            {{ form_widget(form.controlred) }}
                        </div>
                        <div class="col-md-1" style="width:70px;padding-left: 30px;">
                            <b>And</b>
                        </div>
                        <div class="col-md-2" style="width:100px;">
                            {{ form_label(form.controlredexpressionrange) }}{{ form_widget(form.controlredexpressionrange) }}
                        </div>
                        <div class="col-md-2" style="width:100px;margin-left: 2px;">
                            {{ form_widget(form.controlredrange) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.frequency) }}{{ form_widget(form.frequency) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.activityperson) }}{{ form_widget(form.activityperson) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.weightage) }}{{ form_widget(form.weightage) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.consequencesexcursion) }}{{ form_widget(form.consequencesexcursion) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.remedialaction) }}{{ form_widget(form.remedialaction) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.basemetrics) }}{{ form_widget(form.basemetrics) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.basedatasheet) }}{{ form_widget(form.basedatasheet) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-4" style="padding-left: 350px;">
                            <button type="submit" value="save" class="btn btn-primary activitysave">Save</button>
                        </div>
                        <div class="col-md-1 right" style="padding-right: 660px;">
                            <button type="button" value="cancel" class="btn btn-default subcancelbutton">Cancel</button>
                        </div>
                    </div>
                    {{ form_end(form) }}

                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}

