{% block content %}
    {{ form_start(form) }}
    {% block form_row %}
        <div class="row" style="padding-left:10px;">
            {{ form_widget(form) }}
            <div class="col-sm-3">
                <button type="submit" value="save" class="btn btn-primary threatssave">Save</button>
            </div>
            <div class="col-sm-9">
                <button type="button" value="cancel" class="btn btn-default subcancelbutton">Cancel</button>
            </div>
        </div>
    {% endblock form_row %}
    {{ form_end(form) }}
{% endblock %}
