{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/editable/bootstrap-editable.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/matrixconfig/matrixconfig.css') }}">
    <style>
        .page-header {
            padding: 0;
            margin: 0;
            border-bottom: 1px solid #eeeeee;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/editable/bootstrap-editable.js') }}"></script>
    <script src="{{ asset('assets/js/migrateversion/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/aie/matrixconfig.js') }}"></script>

{% endblock %}

{% block content %}
    {% set lessthanequalto = "<=" %}
    {% set lessthan = "<" %}
    {% set greatthanequalto = ">=" %}
    {% set greatthan = ">" %}
    {% set equalto = "=" %}

    {% set selectedOptionlessthanequalto = "" %}
    {% set selectedOptionlessthan = "" %}
    {% set selectedOptiongreatthanequalto = "" %}
    {% set selectedOptiongreatthan = "" %}
    {% set selectedOptionequalto = "" %}
    {% set tdbgColor = "" %}

    <div class="container">
        <div class="page-header">
            <h1>Matrix Configuration</h1>
        </div>
        </br>
        <div class="outer-container"> <!-- absolute positioned container -->
            <div class="inner-container">
                <div class="table-header">
                    <table id="headertable" width="100%" cellpadding="0" cellspacing="0">
                        <thead>
                        <tr style="height:30px;background-color:#ddd;">
                            <th align="center" style="width:11.7%;">&nbsp;</th>
                            <th align="center" style="width:10.7%">&nbsp;</th>
                            <th align="center" style="width:10.6%">&nbsp;</th>

                            <th align="center" style="width:6.4%">&nbsp;</th>
                            <th align="center" style="width:6.4%">&nbsp;</th>
                            <th align="center" style="width:3.5%">&nbsp;</th>
                            <th align="center" style="width:4.7%">&nbsp;</th>

                            <th align="center" style="width:3.6%">&nbsp;</th>
                            <th align="center" style="width:3%;padding-bottom: 0;">Management</th>
                            <th align="center" style="width:3%">&nbsp;</th>
                            <th align="center" style="width:3.6%"></th>
                            <th align="center" style="width:3.3%;padding-bottom: 0;">Control</th>
                            <th align="center" style="width:3.3%">&nbsp;</th>

                            <th align="center" style="width:4.3%">&nbsp;</th>
                            <th align="center" style="width:5.3%">&nbsp;</th>
                            <th align="center" style="width:5.1%">&nbsp;</th>
                            <th align="center" style="width:6%">&nbsp;</th>
                            <th align="center" style="width:6%">&nbsp;</th>
                        </tr>
                        <tr style="height:30px;background-color:#ddd;">
                            <th align="center" style="width:11.7%;"><span>Systems</span></th>
                            <th align="center" style="width:10.7%"><span style="padding-left:3px;">Threats</span></th>
                            <th align="center" style="width:10.6%"><span style="padding-left:3px;">Mitigation Techniques</span></th>

                            <th align="center" style="width:6.4%"><span style="padding-left:3px;">Management Activity</span></th>
                            <th align="center" style="width:6.4%"><span style="padding-left:3px;">Control Activity</span></th>
                            <th align="center" style="width:3.5%"><span style="padding-left:3px;">Frequency, Month</span></th>
                            <th align="center" style="width:4.7%"><span style="padding-left:3px;">Activity Person</span></th>

                            <th align="center" style="width:3.6%">Green</th>
                            <th align="center" style="width:3%;">Amber</th>
                            <th align="center" style="width:3%">Red</th>
                            <th align="center" style="width:3.6%">Green</th>
                            <th align="center" style="width:3.3%;">Amber</th>
                            <th align="center" style="width:3.3%">Red</th>

                            <th align="center" style="width:4.3%">% Weightage</th>
                            <th align="center" style="width:5.3%">Consequences of Excursion</th>
                            <th align="center" style="width:5.1%">Remedial Action</th>
                            <th align="center" style="width:6%">Type of Data Sheet</th>
                            <th align="center" style="width:6%">Database and Metric</th>
                        </tr>
                        </thead>
                    </table>
                </div>

                <div class="table-body">
                    <table id="tblMatrix" cellpadding="3" cellspacing="0" border="#729111 1px solid;" class="table table-stripped table-bordered">
                        <tbody>
                        <tr id="systemsData" style="display:none;" class="rows">
                            <td>
                                {% include 'AIECmsBundle:BaseMatrixConfig:basesystems.html.twig' with {'form': form } %}
                            </td>
                        </tr>

                        <tr class="rows">
                            <td style="width:11.6%;"><div id="add_new_systems"><button id="btn" class="btn btn-primary" value="Add New Systems">Add New Systems</button></div> </td>
                            <td style="width:10.7%"></td>
                            <td style="width:10.6%"></td>

                            <td style="width:6.4%"></td>
                            <td style="width:6.4%"></td>
                            <td style="width:3.5%"></td>
                            <td style="width:4.7%"></td>

                            <td style="width:3.6%"></td>
                            <td style="width:3.5%;padding-bottom: 0;"></td>
                            <td style="width:3%"></td>
                            <td style="width:3.6%"></td>
                            <td style="width:3.3%;padding-bottom: 0;"></td>
                            <td style="width:3.3%"></td>

                            <td style="width:4.4%"></td>
                            <td style="width:5.3%"></td>
                            <td style="width:5.2%"></td>
                            <td style="width:6%"></td>
                            <td style="width:6%"></td>

                        <tr>
                            {% set tempsystemid = 0 %}
                            {% set tempthreatid = 0 %}
                            {% set tempbaseid = 0 %}
                            {% set tempactivityid = 0 %}

                            {% for key,entity in basematrixproperties %}
                            {% if entity.bs_systemstitle is defined %}
                            {% if tempsystemid != entity.bs_id %}
                            {% set tdbgColor = "style=background-color:#ccc;" %}
                        <tr {{tdbgColor}}>
                            <td>
                                <table style="width: 100%; padding:0px; border: inherit; border-color:#ccc; margin:0px;">
                                    <tr>
                                        <td class="xedit" id="systems{{ entity.bs_id }}" key="systems" class="col-md-6" align="left" style="word-wrap: break-word;">
                                            {% if tempsystemid != entity.bs_id %}
                                                {{entity.bs_systemstitle}}
                                            {% else %}
                                                {% set tdbgColor = "" %}
                                            {% endif %}
                                        </td>
                                        <td align="right">
                                            {% if tempsystemid != entity.bs_id %}
                                                <div class="delete_systems" id="systems{{entity.bs_id}}" style="padding-left: 10px;"><button id="btn" class="btn btn-danger" value="Delete">Delete</button></div>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </table>
                            </td>

                            <td id="threatData{{entity.bs_id}}">
                                {% if tempsystemid != entity.bs_id %}
                                    <div class="add_new_threats" id="threats{{entity.bs_id}}"><button id="btn" class="btn btn-primary" value="Add New Threats">Add New Threats</button></div>
                                {% endif %}
                            </td>

                            <!--td style="height:25px; width:60px;" id="mitigationtechniqueData{{entity.bt_id}}">
			 {% if entity.bt_id %}
				 < div class="add_new_mitigationtechniques" id="mitigationtechnique{{entity.bt_id}}"><button id="btn" class="btn" value="Add New Mitigation Techniques">Add New Mitigation Techniques</button></div>
			 {% endif %}
			</td-->
                            <td>

                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        {% endif %}

                        <tr style="width:60px;" class="rows">
                            <td style="height:25px;width:250px;">&nbsp;</td>
                            {% if entity.bt_threatstitle is defined and entity.bt_threatstitle is not null %}
                                {% if tempthreatid != entity.bt_id %}
                                    {% set classedit = "class=xedit"  %}
                                {% else %}
                                    {% set classedit = ""  %}
                                {% endif %}
                                <td style="width:250px;">
                                    <table style="width: 100%; padding:2px; border: inherit; border-color:#fff; margin:0px;">
                                        <tr>
                                            <td {{ classedit }} style="height:50px;" id="threats{{ entity.bs_id }}_{{ entity.bt_id }}" key="threats" width="80%" class="col-md-6" align="left">
                                                {% if tempthreatid != entity.bt_id %}
                                                    {{entity.bt_threatstitle}}
                                                {% endif %}
                                            </td>
                                            <td align="right">
                                                {% if tempthreatid != entity.bt_id %}
                                                    <div class="delete_threats" id="threats{{ entity.bs_id }}_{{entity.bt_id}}" style="padding-left: 10px;"><button id="btn" class="btn btn-danger" value="Delete">Delete</button></div>
                                                {% endif %}
                                            </td>
                                            <td style="padding-left: 5px;" id="activityData{{entity.bt_id}}">
                                                {% if tempthreatid != entity.bt_id %}
                                                    {% set ur = "/c/basematrix/" ~ entity.bt_id ~"/baseactivitycreate" %}
                                                    <div class="add_new_activity" id="activity{{entity.bt_id}}"><a href={{ur}} data-toggle="modal" data-target="#myModal" title="Add New Mitigation Techniques"><span class="glyphicon glyphicon-plus-sign"></span></a></div>
                                                {% endif %}
                                            </td>

                                        </tr>
                                    </table>
                                </td>
                            {% else %}
                                <td style="width:250px;"></td>
                            {% endif %}

                            {% if entity.bmt_mitigationtechniquestitle is defined and entity.bmt_mitigationtechniquestitle is not null %}
                                {% if tempbaseid != entity.bmt_id %}
                                    {% set classedit = "class=xedit"  %}
                                {% else %}
                                    {% set classedit = ""  %}
                                {% endif %}
                                <td style="width:250px;">
                                    <table style="width: 100%; padding:0px; border: inherit; border-color:#fff; margin:0px;">
                                        <tr>
                                            <td {{ classedit }} style="height:50px;" id="mitigationtechniques{{ entity.bt_id }}_{{ entity.bmt_id }}" key="mitigationtechniques" width="80%" class="col-md-6" align="left">
                                                {% if tempbaseid != entity.bmt_id %}
                                                    {{entity.bmt_mitigationtechniquestitle}}
                                                {% endif %}
                                            </td>
                                            <td align="right"><div class="delete_mitigationtechniques" id="mitigationtechniques{{ entity.bt_id }}_{{entity.bmt_id}}" style="padding-left: 10px;"><button id="btn" class="btn btn-danger" value="Delete">Delete</button></div></td>
                                        </tr>
                                    </table>
                                </td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if entity.ba_id is defined and entity.bmt_id is defined %}
                                {% if tempactivityid != entity.ba_id %}
                                    {% set classedit = "class=xedit"  %}
                                {% else %}
                                    {% set classedit = ""  %}
                                {% endif %}
                                {% if tempactivityid != entity.ba_id %}
                                    <td {{ classedit }} style="height:50px; width:150px;" id="managementtitle{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_managementtitle">
                                        {{entity.ba_managementtitle}}
                                    </td>
                                    <td {{ classedit }} style="height:50px; width:150px;" id="controltitle{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_controltitle">
                                        {{entity.ba_controltitle}}
                                    </td>
                                    <td {{ classedit }} style="height:50px; width:80px;" id="frequency{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_frequency">
                                        {{entity.ba_frequency}}
                                    </td>
                                    <td {{ classedit }} style="height:50px; width:60px;" id="activityperson{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_activityperson">
                                        {{entity.ba_activityperson}}
                                    </td>
                                    <td {{ classedit }} style="height:50px; width:60px;" id="managementgreen{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_managementgreen">
                                        {{entity.ba_managementgreen}}
                                    </td>
                                    <td {{ classedit }} style="height:50px; width:60px;" id="managementamber{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_managementamber">
                                        {{entity.ba_managementamber}}
                                    </td>
                                    <td {{ classedit }} style="height:50px; width:60px;" id="managementred{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_managementred">
                                        {{entity.ba_managementred}}
                                    </td>
                                    <td style="height:50px; width:60px;" id="threshold{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_controlgreenexpression">
                                        <div class="greenlinkdatadiv" id="greenlink{{entity.ba_id}}">
                                            <form class="form-inline editableform" style="">
                                                <div class="control-group form-group">

                                                    <span class="titlegreenexpression{{ entity.ba_id }}">{{entity.ba_controlgreenexpression}}</span>
                                                    <span class="titlegreen{{ entity.ba_id }}">{{entity.ba_controlgreen}}</span>
                                                    <span class="fieldgreentitleexpression{{ entity.ba_id }}" style="display:none;">
										{% if entity.ba_controlgreenexpression == lessthanequalto %}
                                            {% set selectedOptionlessthanequalto = "selected=selected" %}
                                        {% elseif entity.ba_controlgreenexpression == lessthan %}
                                            {% set selectedOptionlessthan = "selected=selected" %}
                                        {% elseif entity.ba_controlgreenexpression == greatthanequalto %}
                                            {% set selectedOptiongreatthanequalto = "selected=selected" %}
                                        {% elseif entity.ba_controlgreenexpression == greatthan %}
                                            {% set selectedOptiongreatthan = "selected=selected" %}
                                        {% elseif entity.ba_controlgreenexpression == equalto %}
                                            {% set selectedOptionequalto = "selected=selected" %}
                                        {% endif %}
                                                        <select id="selgreenexpression{{ entity.ba_id }}">
											<option value="0">Select</option>
										<option {{ selectedOptionlessthanequalto }} value="<="><=</option>
										<option {{ selectedOptionlessthan }} value="<"><</option>
										<option {{ selectedOptiongreatthanequalto }} value=">=">>=</option>
										<option {{ selectedOptiongreatthan }} value=">">></option>
										<option {{ selectedOptionequalto }} value="=">=</option>
										</select>
									</span>
                                                    {% set selectedOptionlessthanequalto = "" %}
                                                    {% set selectedOptionlessthan = "" %}
                                                    {% set selectedOptiongreatthanequalto = "" %}
                                                    {% set selectedOptiongreatthan = "" %}
                                                    {% set selectedOptionequalto = "" %}
                                                    <span class="fieldgreen{{ entity.ba_id }}" style="display:none;"><input type="text" id="txtgreen{{ entity.ba_id }}" value="{{entity.ba_controlgreen}}" class="form-control input-sm-green-control" style="padding-right: 24px;" /></span>

                                                    <span class="titlegreenexpressionrange{{ entity.ba_id }}"> <br />{{entity.ba_controlgreenexpressionrange}}</span>
                                                    <span class="titlegreenrange{{ entity.ba_id }}">{{entity.ba_controlgreenrange}}</span>

                                                    <span class="fieldgreentitleexpressionrange{{ entity.ba_id }}" style="display:none;">
										{% if entity.ba_controlgreenexpressionrange == lessthanequalto %}
                                            {% set selectedOptionlessthanequalto = "selected=selected" %}
                                        {% elseif entity.ba_controlgreenexpressionrange == lessthan %}
                                            {% set selectedOptionlessthan = "selected=selected" %}
                                        {% elseif entity.ba_controlgreenexpressionrange == greatthanequalto %}
                                            {% set selectedOptiongreatthanequalto = "selected=selected" %}
                                        {% elseif entity.ba_controlgreenexpressionrange == greatthan %}
                                            {% set selectedOptiongreatthan = "selected=selected" %}
                                        {% elseif entity.ba_controlgreenexpressionrange == equalto %}
                                            {% set selectedOptionequalto = "selected=selected" %}
                                        {% endif %}
                                                        <select id="selgreenexpressionrange{{ entity.ba_id }}">
											<option value="0">Select</option>
											<option {{ selectedOptionlessthanequalto }} value="<="><=</option>
											<option {{ selectedOptionlessthan }} value="<"><</option>
											<option {{ selectedOptiongreatthanequalto }} value=">=">>=</option>
											<option {{ selectedOptiongreatthan }} value=">">></option>
											<option {{ selectedOptionequalto }} value="=">=</option>
										</select>
									</span>
                                                    <span class="fieldgreenrange{{ entity.ba_id }}" style="display:none;"><input type="text" id="txtgreenrange{{ entity.ba_id }}" value="{{entity.ba_controlgreenrange}}" class="form-control input-sm-green-control" style="padding-right: 24px;" /></span>


                                                    <div id="subeditgreenbuttons{{ entity.ba_id }}" class="editable-buttons" style="display:none;">
                                                        <p class="pGreenLinkEditData" id="pli{{ entity.bmt_id }}_{{ entity.ba_id }}" style="display:none;"></p>
                                                        <button id="subeditgreenbutton{{ entity.bmt_id }}_{{ entity.ba_id }}" type="button" class="btn btn-primary btn-sm edit-submit-green">
                                                            <i class="glyphicon glyphicon-ok"></i> </button>
                                                        <button id="subcancelgreenbutton{{ entity.bmt_id }}_{{ entity.ba_id }}" type="button" class="btn btn-default btn-sm subcancelbutton">
                                                            <i class="glyphicon glyphicon-remove"></i> </button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </td>

                                    <td style="height:50px; width:60px;" id="threshold{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_controlamberexpression">
                                        <div class="amberlinkdatadiv" id="amberlink{{entity.ba_id}}">
                                            <form class="form-inline editableform" style="">
                                                <div class="control-group form-group">

                                                    <span class="titleamberexpression{{ entity.ba_id }}">{{entity.ba_controlamberexpression}}</span>
                                                    <span class="titleamber{{ entity.ba_id }}">{{entity.ba_controlamber}}</span>
                                                    {% set selectedOptionlessthanequalto = "" %}
                                                    {% set selectedOptionlessthan = "" %}
                                                    {% set selectedOptiongreatthanequalto = "" %}
                                                    {% set selectedOptiongreatthan = "" %}
                                                    {% set selectedOptionequalto = "" %}
                                                    <span class="fieldambertitleexpression{{ entity.ba_id }}" style="display:none;">
										{% if entity.ba_controlamberexpression == lessthanequalto %}
                                            {% set selectedOptionlessthanequalto = "selected=selected" %}
                                        {% elseif entity.ba_controlamberexpression == lessthan %}
                                            {% set selectedOptionlessthan = "selected=selected" %}
                                        {% elseif entity.ba_controlamberexpression == greatthanequalto %}
                                            {% set selectedOptiongreatthanequalto = "selected=selected" %}
                                        {% elseif entity.ba_controlamberexpression == greatthan %}
                                            {% set selectedOptiongreatthan = "selected=selected" %}
                                        {% elseif entity.ba_controlamberexpression == equalto %}
                                            {% set selectedOptionequalto = "selected=selected" %}
                                        {% endif %}
                                                        <select id="selamberexpression{{ entity.ba_id }}">
											<option value="0">Select</option>
											<option {{ selectedOptionlessthanequalto }} value="<="><=</option>
											<option {{ selectedOptionlessthan }} value="<"><</option>
											<option {{ selectedOptiongreatthanequalto }} value=">=">>=</option>
											<option {{ selectedOptiongreatthan }} value=">">></option>
											<option {{ selectedOptionequalto }} value="=">=</option>
										</select></span>
                                                    <span class="fieldamber{{ entity.ba_id }}" style="display:none;"><input type="text" id="txtamber{{ entity.ba_id }}" value="{{entity.ba_controlamber}}" class="form-control input-sm-amber-control" style="padding-right: 24px;" /></span>


                                                    <span class="titleamberexpressionrange{{ entity.ba_id }}"> <br />{{entity.ba_controlamberexpressionrange}}</span>
                                                    <span class="titleamberrange{{ entity.ba_id }}">{{entity.ba_controlamberrange}}</span>
                                                    {% set selectedOptionlessthanequalto = "" %}
                                                    {% set selectedOptionlessthan = "" %}
                                                    {% set selectedOptiongreatthanequalto = "" %}
                                                    {% set selectedOptiongreatthan = "" %}
                                                    {% set selectedOptionequalto = "" %}
                                                    <span class="fieldambertitleexpressionrange{{ entity.ba_id }}" style="display:none;">
											{% if entity.ba_controlamberexpressionrange == lessthanequalto %}
                                                {% set selectedOptionlessthanequalto = "selected=selected" %}
                                            {% elseif entity.ba_controlamberexpressionrange == lessthan %}
                                                {% set selectedOptionlessthan = "selected=selected" %}
                                            {% elseif entity.ba_controlamberexpressionrange == greatthanequalto %}
                                                {% set selectedOptiongreatthanequalto = "selected=selected" %}
                                            {% elseif entity.ba_controlamberexpressionrange == greatthan %}
                                                {% set selectedOptiongreatthan = "selected=selected" %}
                                            {% elseif entity.ba_controlamberexpressionrange == equalto %}
                                                {% set selectedOptionequalto = "selected=selected" %}
                                            {% endif %}
                                                        <select id="selamberexpressionrange{{ entity.ba_id }}">
												<option value="0">Select</option>
												<option {{ selectedOptionlessthanequalto }} value="<="><=</option>
												<option {{ selectedOptionlessthan }} value="<"><</option>
												<option {{ selectedOptiongreatthanequalto }} value=">=">>=</option>
												<option {{ selectedOptiongreatthan }} value=">">></option>
												<option {{ selectedOptionequalto }} value="=">=</option>
											</select>
										</span>
                                                    <span class="fieldamberrange{{ entity.ba_id }}" style="display:none;"><input type="text" id="txtamberrange{{ entity.ba_id }}" value="{{entity.ba_controlamberrange}}" class="form-control input-sm-green-control" style="padding-right: 24px;" /></span>


                                                    <div id="subeditamberbuttons{{ entity.ba_id }}" class="editable-buttons" style="display:none;">
                                                        <p class="pAmberLinkEditData" id="pli{{ entity.bmt_id }}_{{ entity.ba_id }}" style="display:none;"></p>
                                                        <button id="subeditamberbutton{{ entity.bmt_id }}_{{ entity.ba_id }}" type="button" class="btn btn-primary btn-sm edit-submit-amber">
                                                            <i class="glyphicon glyphicon-ok"></i> </button>
                                                        <button id="subcancelamberbutton{{ entity.bmt_id }}_{{ entity.ba_id }}" type="button" class="btn btn-default btn-sm subcancelbutton">
                                                            <i class="glyphicon glyphicon-remove"></i> </button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                    <td style="height:50px; width:60px;" id="threshold{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_controlredexpression">
                                        <div class="redlinkdatadiv" id="redlink{{entity.ba_id}}">
                                            <form class="form-inline editableform" style="">
                                                <div class="control-group form-group">

                                                    <span class="titleredexpression{{ entity.ba_id }}">{{entity.ba_controlredexpression}}</span>
                                                    <span class="titlered{{ entity.ba_id }}">{{entity.ba_controlred}}</span>
                                                    {% set selectedOptionlessthanequalto = "" %}
                                                    {% set selectedOptionlessthan = "" %}
                                                    {% set selectedOptiongreatthanequalto = "" %}
                                                    {% set selectedOptiongreatthan = "" %}
                                                    {% set selectedOptionequalto = "" %}
                                                    <span class="fieldredtitleexpression{{ entity.ba_id }}" style="display:none;">
										{% if entity.ba_controlredexpression == lessthanequalto %}
                                            {% set selectedOptionlessthanequalto = "selected=selected" %}
                                        {% elseif entity.ba_controlredexpression == lessthan %}
                                            {% set selectedOptionlessthan = "selected=selected" %}
                                        {% elseif entity.ba_controlredexpression == greatthanequalto %}
                                            {% set selectedOptiongreatthanequalto = "selected=selected" %}
                                        {% elseif entity.ba_controlredexpression == greatthan %}
                                            {% set selectedOptiongreatthan = "selected=selected" %}
                                        {% elseif entity.ba_controlredexpression == equalto %}
                                            {% set selectedOptionequalto = "selected=selected" %}
                                        {% endif %}

                                                        <select id="selredexpression{{ entity.ba_id }}">
                                                                <option value="0">Select</option>
                                                            <option {{ selectedOptionlessthanequalto }} value="<="><=</option>
                                                            <option {{ selectedOptionlessthan }} value="<"><</option>
                                                            <option {{ selectedOptiongreatthanequalto }} value=">=">>=</option>
                                                            <option {{ selectedOptiongreatthan }} value=">">></option>
                                                            <option {{ selectedOptionequalto }} value="=">=</option>
                                                        </select></span>
                                                    <span class="fieldred{{ entity.ba_id }}" style="display:none;"><input type="text" id="txtred{{ entity.ba_id }}" value="{{entity.ba_controlred}}" class="form-control input-sm-red-control" style="padding-right: 24px;" /></span>


                                                    <span class="titleredexpressionrange{{ entity.ba_id }}"> <br />{{entity.ba_controlredexpressionrange}}</span>
                                                    <span class="titleredrange{{ entity.ba_id }}">{{entity.ba_controlredrange}}</span>
                                                    {% set selectedOptionlessthanequalto = "" %}
                                                    {% set selectedOptionlessthan = "" %}
                                                    {% set selectedOptiongreatthanequalto = "" %}
                                                    {% set selectedOptiongreatthan = "" %}
                                                    {% set selectedOptionequalto = "" %}
                                                    <span class="fieldredtitleexpressionrange{{ entity.ba_id }}" style="display:none;">
											{% if entity.ba_controlredexpressionrange == lessthanequalto %}
                                                {% set selectedOptionlessthanequalto = "selected=selected" %}
                                            {% elseif entity.ba_controlredexpressionrange == lessthan %}
                                                {% set selectedOptionlessthan = "selected=selected" %}
                                            {% elseif entity.ba_controlredexpressionrange == greatthanequalto %}
                                                {% set selectedOptiongreatthanequalto = "selected=selected" %}
                                            {% elseif entity.ba_controlredexpressionrange == greatthan %}
                                                {% set selectedOptiongreatthan = "selected=selected" %}
                                            {% elseif entity.ba_controlredexpressionrange == equalto %}
                                                {% set selectedOptionequalto = "selected=selected" %}
                                            {% endif %}
                                                        <select id="selredexpressionrange{{ entity.ba_id }}">
											 <option value="0">Select</option>
											<option {{ selectedOptionlessthanequalto }} value="<="><=</option>
											<option {{ selectedOptionlessthan }} value="<"><</option>
											<option {{ selectedOptiongreatthanequalto }} value=">=">>=</option>
											<option {{ selectedOptiongreatthan }} value=">">></option>
											<option {{ selectedOptionequalto }} value="=">=</option>
										</select>
									</span>
                                                    <span class="fieldredrange{{ entity.ba_id }}" style="display:none;"><input type="text" id="txtredrange{{ entity.ba_id }}" value="{{entity.ba_controlredrange}}" class="form-control input-sm-green-control" style="padding-right: 24px;" /></span>


                                                    <div id="subeditredbuttons{{ entity.ba_id }}" class="editable-buttons" style="display:none;">
                                                        <p class="pRedLinkEditData" id="pli{{ entity.bmt_id }}_{{ entity.ba_id }}" style="display:none;"></p>
                                                        <button id="subeditredbutton{{ entity.bmt_id }}_{{ entity.ba_id }}" type="button" class="btn btn-primary btn-sm edit-submit-red">
                                                            <i class="glyphicon glyphicon-ok"></i> </button>
                                                        <button id="subcancelredbutton{{ entity.bmt_id }}_{{ entity.ba_id }}" type="button" class="btn btn-default btn-sm subcancelbutton">
                                                            <i class="glyphicon glyphicon-remove"></i> </button>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>
                                    </td></td>
                                    <td {{ classedit }} style="height:50px; width:120px;" id="weightage{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_weightage">
                                        {{entity.ba_weightage}}
                                    </td>
                                    <td {{ classedit }} style="height:50px; width:120px;" id="consequencesexcursion{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_consequencesexcursion">
                                        {{entity.ba_consequencesexcursion}}
                                    </td>
                                    <td {{ classedit }} style="height:50px; width:120px;" id="remedialaction{{ entity.bmt_id }}_{{ entity.ba_id }}" key="threshold_remedialaction">
                                        {{entity.ba_remedialaction}}
                                    </td>
                                    <td style="height:50px; width:120px;">
                                        {% if entity.bsa_title is defined and entity.bsa_title is not null %}
                                            {{ entity.bsa_title }}
                                        {% endif %}
                                    </td>
                                    <td style="height:50px; width:120px;" id="editMetricData{{entity.bmt_id}}_{{entity.ba_id}}">
                                        {% if entity.bmc_title is defined and entity.bmc_title is not null %}
                                            {{entity.bdt_title}} <b>and</b> {{entity.bmc_title}}
                                            <div class="edit_db_metric" id="editmetric{{entity.bmt_id}}_{{entity.ba_id}}"><button id="btnMetric" class="btn btn-primary" value="Edit Metric">Edit Metric</button></div>
                                        {% endif %}
                                    </td>
                                {% else %}
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                {% endif %}
                            {% endif %}

                        </tr>

                        {% set tempsystemid = entity.bs_id %}
                        {% set tempthreatid = entity.bt_id %}
                        {% set tempbaseid = entity.bmt_id %}
                        {% set tempactivityid = entity.ba_id %}
                        {% endif  %}
                        {% endfor %}

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}