{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block javascripts %}
    <script type="text/javascript">
        function readyFn( jQuery ) {
            $('.required').closest('.form-group').find('.control-label').each(function () {
                $(this).text("*" + $(this).text());
            });
        }

        $( document ).ready( readyFn );
        // or:
        $( window ).on( "load", readyFn );
    </script>
{% endblock %}
{% block content %}
    <div class="modal fade" id="chemicaldosagedatabasemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.activityid) }}{{ form_widget(form.activityid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.platformorplant) }}{{ form_widget(form.platformorplant) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.pandid) }}{{ form_widget(form.pandid) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.location) }}{{ form_widget(form.location) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.stage) }}{{ form_widget(form.stage) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.type) }}{{ form_widget(form.type) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.linedescription) }}{{ form_widget(form.linedescription) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.serviceid) }}{{ form_widget(form.serviceid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.chemicaltradename) }}{{ form_widget(form.chemicaltradename) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.chemicalsupplier) }}{{ form_widget(form.chemicalsupplier) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.chemicaltypeid) }}{{ form_widget(form.chemicaltypeid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.targetconcentration) }}{{ form_widget(form.targetconcentration) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.targetdosage) }}{{ form_widget(form.targetdosage) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.pumptypeid) }}{{ form_widget(form.pumptypeid) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.pumprating) }}{{ form_widget(form.pumprating) }}
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.injectionmethodid) }}{{ form_widget(form.injectionmethodid) }}
                        </div>
                    </div>
                    {% if form.columnone is defined %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_label(form.columnone) }}{{ form_widget(form.columnone) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.columntwo is defined %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_label(form.columntwo) }}{{ form_widget(form.columntwo) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.columnthree is defined %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_label(form.columnthree) }}{{ form_widget(form.columnthree) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.columnfour is defined %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_label(form.columnfour) }}{{ form_widget(form.columnfour) }}
                            </div>
                        </div>
                    {% endif %}
                    {% if form.columnfive is defined %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form_label(form.columnfive) }}{{ form_widget(form.columnfive) }}
                            </div>
                        </div>
                    {% endif %}

                    <div class="row form-group pull-right" style="padding-right: 60px;padding-bottom: 20px;">
                        <button type="submit" value="save" class="btn btn-primary">Save</button>
                        <button type="button" value="cancel" class="btn btn-default subcancelbutton">Cancel</button>
                    </div>
                    {{ form_end(form) }}

                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}

