{% extends 'AIECmsBundle:Default:wizard.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables/media/css/jquery.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables4/Responsive-2.2.2/css/responsive.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables4/Buttons-1.5.1/css/buttons.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/databases/databases.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/DataTables/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/dataTables.buttons.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/buttons.flash.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/JSZip-2.5.0/jszip.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/pdfmake-0.1.36/pdfmake.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/pdfmake-0.1.36/vfs_fonts.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/buttons.html5.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/buttons.print.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/DataTables4/Buttons-1.5.1/js/buttons.colVis.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.blockUI.js') }}"></script>
    <script type="text/javascript">
        var projectId = {{  projectId }};
        var subprojectId = {{ subprojectId  }};
        var projectName = '{{  project.name }}';
        var subprojectName = '{{ subproject.name  }}';
        var stepID = {{ stepId }}
        if (!stepID) stepID = 1;
        var excelShow= {{ excelGranted }}
        var columnsShow = {{ selectcolumnsGranted }}
        var systemname = '';
        {% if system is defined and systems|length > 0%}
        {% for system in systems %}
        {% if loop.index == stepId %}
        var systemname = '{{ system.bs_systemstitle }}';
        {% endif %}
        {% endfor %}
        {% endif %}
        $(document).ready(function() {

            $("#wizard").wizard('selectedItem',{step:stepID});

            $('#wizard').find('ul.steps li').toggleClass('complete', true);

            $('#wizard').on('changed.fu.wizard', function (evt, data) {
                $('#wizard').find('ul.steps li').toggleClass('complete', true);
                callLoad();
            });

            wizard.on('stepclick', function (e, data) {
                var stepID = data.step;
                var currentID = $(".step-pane").attr('id');
                currentID = currentID.replace('step', '');

                var id = "#step"+currentID;
                var url = "/c/"+projectId+"/subprojectchemicaldosagedatabase/"+subprojectId+"/"+currentID+"/loadsystems";
                $.ajax({ url: url, dataType: 'html', success: function(response) { $(id).html(response); } });
            });

            //$('#chemicaldosagedatabasemodal').hide();
            $('[data-toggle="modal"]').click(function(e) {
                var currentID = $(".step-pane.active").attr('id');
                currentID = currentID.replace('step', '');

                var stepID = $("#wizard").wizard('selectedItem')['step'];

                var url = "/c/"+projectId+"/subprojectchemicaldosagedatabase/"+subprojectId+"/"+currentID+"/"+stepID+"/create";

                //var modal_id = $(this).attr('data-target');
                $.blockUI({ message: "<h4>Page Loading...</h4>", overlayCSS: { backgroundColor: '#747474' }  });
                $.post(url, function(data) {
                    $(data).modal();
                    $.unblockUI();
                });
            });

            $(document).on('click','.close',function(e){
                $('[data-toggle="modal"]').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            });

            $('.btn-prev').click(function(e) {
                callLoad();
            });

            $('.btn-next').click(function(e) {
                callLoad();
            });

            function callLoad() {
                var currentID = $(".step-pane.active").attr('id');
                currentID = currentID.replace('step', '');
                var divId = "#step"+currentID;
                var url = "/c/"+projectId+"/subprojectchemicaldosagedatabase/"+subprojectId+"/"+currentID+"/loadsystems";
                $(divId).html('<div style="align-content: center;text-align: center;">Data loading..</div>');
                $.ajax({ url: url, dataType: 'html', success: function(response) { $(divId).html(response); } });
            }
            callLoad();
        } );
    </script>
    <script src="{{ asset('assets/js/aie/databasesedit.js') }}" type="text/javascript"></script>
{% endblock %}

{% block steps -%}
    {% if system is defined and systems|length > 0 %}
        {% for system in systems %}
            <li id="{{ system.bs_id }}" data-target="#step{{ system.bs_id }}" {% if loop.index == 1 %} class="active"{% endif %}>
                <span class="badge badge-info">{{ loop.index }}</span>{{ system.bs_systemstitle }}
            </li>
        {% endfor %}
    {% else %}
        <span>No systems</span>
    {% endif %}
{% endblock %}

{% block steps_content %}
    {% if system is defined and systems|length > 0 %}
    <div class="Scrollable_Wrapper">
        {% for system in systems %}
            <div class="step-pane {% if loop.index == 1 %}active{% endif %}" id="step{{ system.bs_id }}" style="width:2100px;">
                <table class="table table-bordered table-striped table-hover table-responsive table-grid-head" cellspacing="0" width="100%">
                    <thead class="table-grid-head-row">
                    <tr>
                        <th>Activity<div class="sortMask"></div></th>
                        <th>Platform/Plant<div class="sortMask"></div></th>
                        <th>P&ID<div class="sortMask"></div></th>
                        <th>Location ID
                            <div class="sortMask"></div>
                        </th>
                        <th>Location<div class="sortMask"></div></th>
                        <th>Stage<div class="sortMask"></div></th>
                        <th>Type<div class="sortMask"></div></th>
                        <th>Line Description<div class="sortMask"></div></th>
                        <th>Service<div class="sortMask"></div></th>
                        <th>Chemical Trade Name<div class="sortMask"></div></th>
                        <th>Chemical Supplier<div class="sortMask"></div></th>
                        <th>Chemical Type<div class="sortMask"></div></th>
                        <th>Target Concentation, ppm<div class="sortMask"></div></th>
                        <th>Target Dosage<div class="sortMask"></div></th>
                        <th>Pump Type/Spec<div class="sortMask"></div></th>
                        <th>Pump Rating<div class="sortMask"></div></th>
                        <th>Injection Method<div class="sortMask"></div></th>
                        {% if dbcols.columnoneselected is defined and dbcols.columnoneselected == 1 %}<th>{{ dbcols.columnone }}<div class="sortMask"></div></th>{% endif %}
                        {% if dbcols.columntwoselected is defined and dbcols.columntwoselected == 1 %}<th>{{ dbcols.columntwo }}<div class="sortMask"></div></th>{% endif %}
                        {% if dbcols.columnthreeselected is defined and dbcols.columnthreeselected == 1 %}<th>{{ dbcols.columnthree }}<div class="sortMask"></div></th>{% endif %}
                        {% if dbcols.columnfourselected is defined and dbcols.columnfourselected == 1 %}<th>{{ dbcols.columnfour }}<div class="sortMask"></div></th>{% endif %}
                        {% if dbcols.columnfiveselected is defined and dbcols.columnfiveselected == 1 %}<th>{{ dbcols.columnfive }}<div class="sortMask"></div></th>{% endif %}
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <thead class="filters">
                        <tr>
                            <th>Activity</th>
                            <th>Platform/Plant</th>
                            <th>P&ID</th>
                            <th>Location ID</th>
                            <th>Location</th>
                            <th>Stage</th>
                            <th>Type</th>
                            <th>Line Description</th>
                            <th>Service</th>
                            <th>Chemical Trade Name</th>
                            <th>Chemical Supplier</th>
                            <th>Chemical Type</th>
                            <th>Target Concentation, ppm</th>
                            <th>Target Dosage</th>
                            <th>Pump Type/Spec</th>
                            <th>Pump Rating</th>
                            <th>Injection Method</th>
                            {% if dbcols.columnoneselected is defined and dbcols.columnoneselected == 1 %}<th>{{ dbcols.columnone }}</th>{% endif %}
                            {% if dbcols.columntwoselected is defined and dbcols.columntwoselected == 1 %}<th>{{ dbcols.columntwo }}</th>{% endif %}
                            {% if dbcols.columnthreeselected is defined and dbcols.columnthreeselected == 1 %}<th>{{ dbcols.columnthree }}</th>{% endif %}
                            {% if dbcols.columnfourselected is defined and dbcols.columnfourselected == 1 %}<th>{{ dbcols.columnfour }}</th>{% endif %}
                            {% if dbcols.columnfiveselected is defined and dbcols.columnfiveselected == 1 %}<th>{{ dbcols.columnfive }}</th>{% endif %}
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody id="tb{{ system.bs_id }}" class="chemicaldosagedatabase">
                        {% if chemicaldosagedatabases is defined %}
                            {% for chemicaldosage in chemicaldosagedatabases %}
                                    <tr>
                                        <td>{% if chemicaldosage.bsd_activitytitle is defined %}{{ chemicaldosage.bsd_activitytitle }}{% endif %}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="platformorplant" data-resizable-column-id="platformorplant">{{ chemicaldosage.bsd_platformorplant }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="pandid" data-resizable-column-id="pandid">{{ chemicaldosage.bsd_pandid }}</td>
                                        <td id="ed{{ projectId }}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}"
                                            key="locationid"
                                            data-resizable-column-id="locationid">{{ chemicaldosage.bsd_id }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="location" data-resizable-column-id="location">{{ chemicaldosage.bsd_location }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="stage" data-resizable-column-id="stage">{{ chemicaldosage.bsd_stage }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="type" data-resizable-column-id="type">{{ chemicaldosage.bsd_type }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="linedescription" data-resizable-column-id="linedescription">{{ chemicaldosage.bsd_linedescription|nl2br }}</td>
                                        <td id="service{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="service">{% if chemicaldosage.bss_colvalue is defined %}{{ chemicaldosage.bss_colvalue }}{% endif %}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="chemicaltradename" data-resizable-column-id="chemicaltradename">{{ chemicaldosage.bsd_chemicaltradename }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="chemicalsupplier" data-resizable-column-id="chemicalsupplier">{{ chemicaldosage.bsd_chemicalsupplier }}</td>
                                        <td id="chemicaltype{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="chemicaltype">{% if chemicaldosage.bsc_colvalue is defined %}{{ chemicaldosage.bsc_colvalue }}{% endif %}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="targetconcentration" data-resizable-column-id="targetconcentration">{{ chemicaldosage.bsd_targetconcentration }}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="targetdosage" data-resizable-column-id="targetdosage">{{ chemicaldosage.bsd_targetdosage }}</td>
                                        <td id="pumptype{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="pumptype">{% if chemicaldosage.bsp_colvalue is defined %}{{ chemicaldosage.bsp_colvalue }}{% endif %}</td>
                                        <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="pumprating" data-resizable-column-id="pumprating">{{ chemicaldosage.bsd_pumprating }}</td>
                                        <td id="injectionmethod{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="injectionmethod">{% if chemicaldosage.bsi_colvalue is defined %}{{ chemicaldosage.bsi_colvalue }}{% endif %}</td>
                                        {% if dbcols.columnoneselected is defined and dbcols.columnoneselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="columnone" data-resizable-column-id="columnone">{{ chemicaldosage.bsd_columnone }}</td>{% endif %}
                                        {% if dbcols.columntwoselected is defined and dbcols.columntwoselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="columntwo" data-resizable-column-id="columntwo">{{ chemicaldosage.bsd_columntwo }}</td>{% endif %}
                                        {% if dbcols.columnthreeselected is defined and dbcols.columnthreeselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="columnthree" data-resizable-column-id="columnthree">{{ chemicaldosage.bsd_columnthree }}</td>{% endif %}
                                        {% if dbcols.columnfourselected is defined and dbcols.columnfourselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="columnfour" data-resizable-column-id="columnfour">{{ chemicaldosage.bsd_columnfour }}</td>{% endif %}
                                        {% if dbcols.columnfiveselected is defined and dbcols.columnfiveselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="columnfive" data-resizable-column-id="columnfive">{{ chemicaldosage.bsd_columnfive }}</td>{% endif %}
                                        <td>
                                            <ul>
                                                {% if editGranted %}
                                                <li>
                                                    <a class="editchemicaldosagedatabase" id="{{ system.bs_id }}_{{ chemicaldosage.bsd_id }}" data-toggle="modal" href="#" data-target="#editchemicaldosagedatabasemodal">Edit</a>
                                                </li>
                                                {% endif %}
                                                {% if deleteGranted %}
                                                <li>
                                                    <a class="deleteDatabase" id="delete_{{ chemicaldosage.bsd_id }}" href= "{{ path('cms_subproject_chemicaldosagedatabase_delete', { 'projectId' : projectId, 'subprojectId' : subprojectId, 'sid' : chemicaldosage.bsd_id }) }}">Delete</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </td>
                                    </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>

                </table>
            </div>
        {% endfor %}
        <a id="nextLink" href="{{ path('cms_subproject_chemicaldosagedatabase', {'projectId':projectId,'subprojectId':subprojectId}) }}" style="display: none;"></a>
    </div>
    {% endif %}
    <div class="row form-group">
        <div class="col-md-1" style="padding-left: 10px; padding-top:19px; width:8.33%">
            {% if addGranted %}
                {% if systems|length > 0 %} <div class="add_new_sub_project_sampling" id=""><a role="button" class="btn btn-primary addnewchemicaldosage" data-toggle="modal" href="#" data-target="#chemicaldosagedatabasemodal">Add New Row</a> </div>{% endif %}
            {% endif %}
        </div>
        <div style="padding: 0;margin: 0;">
            &nbsp;&nbsp;
        </div>
        <div class="col-md-2" style="width:8.33%">
            {% if systems|length > 0 and addGranted %}
                {% if dbcols is defined and dbcols is not null %}
                    <div class="" id=""><a role="button" class="btn btn-primary" href="{{ path('cms_subprojectschemicaldosageaddcolumns_edit', {'id': dbcolEntity.id , 'projectId':projectId,'subprojectId':subprojectId}) }}">Add / Edit New Column(s)</a>
                {% else %}
                    <div class="" id=""><a role="button" class="btn btn-primary" href="{{ path('cms_subprojectschemicaldosageaddcolumns_new', {'projectId':projectId,'subprojectId':subprojectId}) }}">Add / Edit New Column(s)</a>
                {% endif %}
            {% endif %}
            </div>
        </div>
            <div class="col-md-3 downloadExcel" id="downloadExcel"></div>
        </div>
    </div>
{% endblock %}

