{% block javascripts %}
    <script type="text/javascript">var systemname = '{{ systemInfo.systemstitle }}';</script>
    <script src="{{ asset('assets/js/aie/databasesedit.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
{% endblock %}
{% block stylesheets %}
    <style>
        .table-grid-head{
            background: #ddd;
        }
        .sortMask {
            width:19px;
            height:19px;
            float:right;
            display:inline-block;
            z-index:0;
            margin-top:-9px;
            margin-right: -19px;
            /*background: rgba(255, 0, 0, 0.5);*/
        }
    </style>
{% endblock %}
<table class="table table-bordered table-striped table-hover table-responsive table-grid-head" cellspacing="0" width="100%">
    <thead class="table-grid-head-row">
        <tr>
            <th>Activity<div class="sortMask"></div></th>
            <th>Platform/Plant<div class="sortMask"></div></th>
            <th>P&ID<div class="sortMask"></div></th>
            <th>Location ID
                <div class="sortMask"></div>
            </th>
            <th>Location<div class="sortMask"></div></th>
            <th>Stage<div class="sortMask"></div></th>
            <th>Type<div class="sortMask"></div></th>
            <th>Line Description<div class="sortMask"></div></th>
            <th>Service<div class="sortMask"></div></th>
            <th>Chemical Trade Name<div class="sortMask"></div></th>
            <th>Chemical Supplier<div class="sortMask"></div></th>
            <th>Chemical Type<div class="sortMask"></div></th>
            <th>Target Concentation, ppm<div class="sortMask"></div></th>
            <th>Target Dosage<div class="sortMask"></div></th>
            <th>Pump Type/Spec<div class="sortMask"></div></th>
            <th>Pump Rating<div class="sortMask"></div></th>
            <th>Injection Method<div class="sortMask"></div></th>
            {% if dbcols.columnoneselected is defined and dbcols.columnoneselected == 1 %}<th>{{ dbcols.columnone }}<div class="sortMask"></div></th>{% endif %}
            {% if dbcols.columntwoselected is defined and dbcols.columntwoselected == 1 %}<th>{{ dbcols.columntwo }}<div class="sortMask"></div></th>{% endif %}
            {% if dbcols.columnthreeselected is defined and dbcols.columnthreeselected == 1 %}<th>{{ dbcols.columnthree }}<div class="sortMask"></div></th>{% endif %}
            {% if dbcols.columnfourselected is defined and dbcols.columnfourselected == 1 %}<th>{{ dbcols.columnfour }}<div class="sortMask"></div></th>{% endif %}
            {% if dbcols.columnfiveselected is defined and dbcols.columnfiveselected == 1 %}<th>{{ dbcols.columnfive }}<div class="sortMask"></div></th>{% endif %}
            <th>Actions</th>
        </tr>
    </thead>
    <thead class="filters">
        <tr>
            <th>Activity</th>
            <th>Platform/Plant</th>
            <th>P&ID</th>
            <th>Location ID</th>
            <th>Location</th>
            <th>Stage</th>
            <th>Type</th>
            <th>Line Description</th>
            <th>Service</th>
            <th>Chemical Trade Name</th>
            <th>Chemical Supplier</th>
            <th>Chemical Type</th>
            <th>Target Concentation, ppm</th>
            <th>Target Dosage</th>
            <th>Pump Type/Spec</th>
            <th>Pump Rating</th>
            <th>Injection Method</th>
            {% if dbcols.columnoneselected is defined and dbcols.columnoneselected == 1 %}<th>{{ dbcols.columnone }}</th>{% endif %}
            {% if dbcols.columntwoselected is defined and dbcols.columntwoselected == 1 %}<th>{{ dbcols.columntwo }}</th>{% endif %}
            {% if dbcols.columnthreeselected is defined and dbcols.columnthreeselected == 1 %}<th>{{ dbcols.columnthree }}</th>{% endif %}
            {% if dbcols.columnfourselected is defined and dbcols.columnfourselected == 1 %}<th>{{ dbcols.columnfour }}</th>{% endif %}
            {% if dbcols.columnfiveselected is defined and dbcols.columnfiveselected == 1 %}<th>{{ dbcols.columnfive }}</th>{% endif %}
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="tb{{ systemid }}" class="chemicaldosagedatabase">
    {% if chemicaldosagedatabases is defined %}
        {% for chemicaldosage in chemicaldosagedatabases %}
            <tr>
                <td>{% if chemicaldosage.bsd_activitytitle is defined %}{{ chemicaldosage.bsd_activitytitle }}{% endif %}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="platformorplant" data-resizable-column-id="platformorplant">{{ chemicaldosage.bsd_platformorplant }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="pandid" data-resizable-column-id="pandid">{{ chemicaldosage.bsd_pandid }}</td>
                <td id="ed{{ projectId }}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="locationid"
                    data-resizable-column-id="locationid">{{ chemicaldosage.bsd_id }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="location" data-resizable-column-id="location">{{ chemicaldosage.bsd_location }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="stage" data-resizable-column-id="stage">{{ chemicaldosage.bsd_stage }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="type" data-resizable-column-id="type">{{ chemicaldosage.bsd_type }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="linedescription" data-resizable-column-id="linedescription">{{ chemicaldosage.bsd_linedescription|nl2br }}</td>
                <td id="service{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="service">{% if chemicaldosage.bss_colvalue is defined %}{{ chemicaldosage.bss_colvalue }}{% endif %}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="chemicaltradename" data-resizable-column-id="chemicaltradename">{{ chemicaldosage.bsd_chemicaltradename }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="chemicalsupplier" data-resizable-column-id="chemicalsupplier">{{ chemicaldosage.bsd_chemicalsupplier }}</td>
                <td id="chemicaltype{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="chemicaltype">{% if chemicaldosage.bsc_colvalue is defined %}{{ chemicaldosage.bsc_colvalue }}{% endif %}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="targetconcentration" data-resizable-column-id="targetconcentration">{{ chemicaldosage.bsd_targetconcentration }}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="targetdosage" data-resizable-column-id="targetdosage">{{ chemicaldosage.bsd_targetdosage }}</td>
                <td id="pumptype{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="pumptype">{% if chemicaldosage.bsp_colvalue is defined %}{{ chemicaldosage.bsp_colvalue }}{% endif %}</td>
                <td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="pumprating" data-resizable-column-id="pumprating">{{ chemicaldosage.bsd_pumprating }}</td>
                <td id="injectionmethod{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="injectionmethod">{% if chemicaldosage.bsi_colvalue is defined %}{{ chemicaldosage.bsi_colvalue }}{% endif %}</td>
                {% if dbcols.columnoneselected is defined and dbcols.columnoneselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="columnone" data-resizable-column-id="columnone">{{ chemicaldosage.bsd_columnone }}</td>{% endif %}
                {% if dbcols.columntwoselected is defined and dbcols.columntwoselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="columntwo" data-resizable-column-id="columntwo">{{ chemicaldosage.bsd_columntwo }}</td>{% endif %}
                {% if dbcols.columnthreeselected is defined and dbcols.columnthreeselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="columnthree" data-resizable-column-id="columnthree">{{ chemicaldosage.bsd_columnthree }}</td>{% endif %}
                {% if dbcols.columnfourselected is defined and dbcols.columnfourselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="columnfour" data-resizable-column-id="columnfour">{{ chemicaldosage.bsd_columnfour }}</td>{% endif %}
                {% if dbcols.columnfiveselected is defined and dbcols.columnfiveselected == 1 %}<td id="ed{{projectId}}_{{ subprojectId }}_{{ chemicaldosage.bsd_id }}" key="columnfive" data-resizable-column-id="columnfive">{{ chemicaldosage.bsd_columnfive }}</td>{% endif %}
                <td>
                    <ul>
                        {% if editGranted %}
                        <li><a class="editchemicaldosagedatabase" id="{{ systemid }}_{{ chemicaldosage.bsd_id }}" data-toggle="modal" href="#" data-target="#editchemicaldosagedatabasemodal">Edit</a></li>
                        {% endif %}
                        {% if deleteGranted %}
                        <li><a class="deleteDatabase" id="delete_{{ chemicaldosage.bsd_id }}" href= "{{ path('cms_subproject_chemicaldosagedatabase_delete', { 'projectId' : projectId, 'subprojectId' : subprojectId, 'sid' : chemicaldosage.bsd_id }) }}">Delete</a></li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>

</table>
