{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block javascripts %}
<script src="{{ asset('assets/js/jquery.js') }}"></script>
<script type="text/javascript">
    /*
	$("#aie_bundle_anomalybundle_deferral_request_status option:first").attr('selected','selected');
	$("#aie_bundle_anomalybundle_deferral_request_status").change(function() {
		$( "#aie_bundle_anomalybundle_deferral_request_status option:selected" ).each(function() {
           
	        if ( $( this ).text() == "Reject" ){
	       		$("#aie_bundle_anomalybundle_deferral_request_deferralRejectJustification").attr('disabled', false);
	        }
	       	else{
	       		$("#aie_bundle_anomalybundle_deferral_request_deferralRejectJustification").attr('disabled', true);
	       	}
            
	    });
	});
    */
</script>
{% endblock %}
{% block content %}
 <h1>Deferral Request</h1>
    <div class="panel panel-default">
        <div class="panel-heading">Deferral Request Details:</div>
        <div class="panel-body">
            <table class="table table-responsive table-bordered table-condensed" style="margin-bottom: 5px;margin-top:3px;">
                <thead>
                <tr>
                    <th>Register ID</th>
                    <th>Request Date</th>
                    <th>Category</th>
                    <th>Register</th>
                    <th>Request Status</th>
                    <th>Current Request</th>
                    <th>Required Request</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <tr>
                    <td>
                        <a href="{{ path('anomaly_' ~ request.registrar.code|lower ~ '_show', {'projectId': request.registrar.project.id, 'id': request.registrar.id }) }}">
                            {{ request.registrar.fullId }}
                        </a>
                    </td>
                    <td>{% if request.date %}{{ request.date|date('d M Y') }}{% endif %}</td>
                    <td>{% if request.registrar.code == 'PL' %}
                            Pipeline
                        {% elseif request.registrar.code == 'PI' %}
                            Piping
                        {% elseif request.registrar.code == 'SE' %}
                            Static Equipment
                        {% elseif request.registrar.code == 'ST' %}
                            Structure
                        {% elseif request.registrar.code == 'MR' %}
                            Marine
                        {% else %}
                            Anomaly
                        {% endif %}
                    </td>
                    {% set registerMas = request.type|split("\\") %}
                    <td>{{ registerMas[4]|replace({"Pipeline": "", "Piping" : "", "StaticEquipment" : "", "Structure" : "", "Marine" : "", "RepairOrderRegistrar" : "Repair Order" , "FabricMaintenanceRegistrar" : "Fabric Maintenance", "TemporaryRepairOrderRegistrar" : "Temporary Repair Order", "AssessmentRegistrar" : "Assessment Registrar"}) }}</td>
                    <td>{{ request.requeststatus }}</td>
                    <td>{{ request.registrar.project.projectapprovallevels[request.approvalLevel] }}</td>
                    <td>{{ request.registrar.project.projectapprovallevels[request.registrar.project.approvalLevel] }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading"> Response Management</div>
        <div class="panel-body">
            {{ form(edit_form) }}
           </div>
    </div>
    {% if entity.code == 'RO' %}
    {{ render(controller('AIEAnomalyBundle:RepairOrderRegistrar:showdeferral', {
         'id' : id,'projectId': projectId,
    })) }}
    {% elseif entity.code == 'TRO' %}
    {{ render(controller('AIEAnomalyBundle:TemporaryRepairOrderRegistrar:showdeferral', {
        'id' : id,'projectId': projectId,
    })) }}
    {% elseif entity.code == 'FM' %}
    {{ render(controller('AIEAnomalyBundle:FabricMaintenanceRegistrar:showdeferral', {
        'id' : id,'projectId': projectId,
    })) }}
    {% else %}
     {{ render(controller('AIEAnomalyBundle:AnomalyRegistrar:showDeferral', {
        'projectId': projectId, 'id' : id,
    })) }}
    {% endif %}
{% endblock %}

