{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Codes & Standards</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Category</th>
            <th>Design Code</th>
            <th>Description</th>
            <th>
            Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for type, entities in codes %}
            {% for entity in entities %}
                <tr>
                    {% if loop.index0 == 0 %}
                        <td rowspan="{{ entities|length }}">{{ anomalyCategories[entity.type] }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ path('anomaly_designcode_edit', { 'id': entity.id }) }}">{{ entity.code }}</a>
                    </td>
                    <td>{{ entity.description }}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ entity.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                <spna style="font-size: 15px; font-weight: bold;">...</spna>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ entity.id }}">
                                <li>
                                    <a href="{{ path('anomaly_designcode_show', { 'id': entity.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('anomaly_designcode_edit', { 'id': entity.id }) }}">edit</a>
                                </li>

                                <li>
                                    <a href="{{ path('anomaly_designcode_delete', { 'id': entity.id }) }}">delete</a>
                                </li>
                            </ul>
                        </div>
                </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_designcode_new') }}" class="btn btn">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new Design code
            </a>
        </li>
    </ul>
{% endblock %}
