{% extends layout %}

{% block content -%}
<h1>Edit Document</h1>

    {{ form(edit_form) }}
    {{ form(delete_form) }}
<a href="{{ path(route_base, {'refId':refId}) }}">
    Back to documents
</a>
{% endblock %}