{% extends layout %}

{% block content -%}
    <h1>New Document</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path(route_base, {'refId': refId}) }}">
            Back to documents
        </a>
    </li>
</ul>
{% endblock %}
