{#{% extends 'AIEVeracityBundle:Default:layout.html.twig' %}#}

{% block body -%}

    <div class="container-full">

        <!DOCTYPE html>
        <html>

        <head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Permission Denied</title>
            <style>
                html {
                    min-height: 100%;
                }
                body {

                    background-color: #D3D3D3;!important;
                    /*#000066*/
                }
                h3{
                    background-color: #d88c1a;

                }
            </style>
        </head>
        <body>
        <h1  style="color: #000066; position: relative; top:50px; margin: 0; padding: 0; text-align: center; vertical-align: middle; font-family: 'VAG Rounded Bold', Fallback, sans-serif;">Veracity {{ type }}</h1>
        <br>
        <h3  style="height: 150px; vertical-align: center; padding:20px;padding-top:50px;color: #000066;margin:100px 200px 100px 200px; text-align: center">   {{ message }}
            <br><br><br> Please contact Veracity administrator for futher details. <br><br>
            Click <a href="{{ path('index') }}"  style="color:#FFFFFF;">here</a> to go to the Veracity home screen or use the Back button to go back to the previous screen.</h3>
        </body>
        </html>


    </div> <!-- /container full -->
{% endblock %}