{% extends 'AIEVeracityBundle:Default:layout.html.twig' %}

{% block stylesheets -%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup/magnific-popup.css') }}">
    <style type="text/css" media="all">
        @font-face{
            font-family:"VAG Rounded Bold";
            src:url('assets/fonts/vag_rounded_bold.ttf') format("truetype");
        }

        @font-face{
            font-family:"DINNEXTLTPRO ULTRALIGHT COND";
            src:url('assets/fonts/DINNEXTLTPRO-ULTRALIGHTCOND.OTF') format("opentype");
        }
    </style>
    <link rel="stylesheet" href="{{ asset('assets/css/landing/landing.css') }}">
{% endblock %}

{% block body -%}

    <div class="container-full">

        <div class="jumbotron" class="text-center">
            <h1 class="text-center" style="color: #FFFFFF; position: relative; top:-13px; margin: 0; padding: 0; text-align: center; vertical-align: middle; font-family: 'VAG Rounded Bold', Fallback, sans-serif;">veracity</h1>
            <p class="text-center" style="top: -13px; color: #FFFFFF; position: relative; padding: 0; text-align: center; vertical-align: middle; font-size:24px; font-family: 'DINNEXTLTPRO ULTRALIGHT COND', Fallback, sans-serif;">Select a module to continue</p>
        </div>

        <div class="container" id="someDiv">
            <article class="col" id="ccm">
                <div class="spacer"></div>
                <a href="{{ path('cms_index') }}" title=""><div class="circle"><div class="wrapcontent"><p>veracity <span style="color:#1e2060;">CCM</span></p></div></div></a>
            </article>
            <article class="col" id="pipeline">
                <div class="spacer"></div>
                <a href="{{ path('pipeline_index') }}" title=""><div class="circle"><div class="wrapcontent"><p>veracity <span style="color:#1e2060;">pipeline</span></p></div></div></a>
            </article>
            <article class="col" id="anomaly">
                <div class="spacer"></div>
                <a href="{{ path('anomaly_index') }}" title=""><div class="circle"><div class="wrapcontent"><p>veracity <span style="color:#1e2060;">anomaly</span></p></div></div></a>
            </article>
            <article class="col" id="rbi">
                <div class="spacer"></div>
                <a href="#" title=""><div class="circle"><div class="wrapcontent"><p>veracity <span style="color:#1e2060;">RBI</span></p></div></div></a>
            </article>
        </div>
        <div style="display: table; vertical-align:middle; text-align:center; display: none; position: absolute; top: 70%; left: 15%; width: 70%; height: 45px; line-height: 45px; font-size: 24px; font-family: 'DINNEXTLTPRO ULTRALIGHT COND', Fallback, sans-serif; background-color: #f5f3f3; paddingp: 0; margin: 0;" id="toolTipShow">&nbsp;</div>
        <br />
        <div class="text-center" style="background-color: #1e2060; position: relative; height: 120px; top: 100px;" id="footer">
            <span class="pull-left" style="position:relative; top:11px;margin:10px;"><img src="/assets/img/aie_logo_white_transparent.png" width="200"></span>
            <span class="pull-right" style="position:relative; top:18px; padding-right: 10px;">
                <img src="/assets/img/aie-certificates.png" class="img-responsive" alt="Veracity MOC"></span>            <br>
            <p class="pull-right" style="position:relative; top:70px; font-size: 14px; height:10px; left:200px; padding-right: 2px; color: #cccccc" align="right">Copyright © AIE all rights reserved</p>
        </div>


    </div> <!-- /container full -->
{% endblock %}

{% block javascripts -%}
    {{ parent() }}
    <script type="text/javascript">
    $(document).ready(function() {
        console.log($(window).width());
        console.log($(window).height());
        if ($(window).width() > 1700 && $(window).width() < 2000) {
            $("#toolTipShow").css({top: "70%"});
        }
        else if ($(window).width() > 1500 && $(window).width() < 1700) {
            $("#toolTipShow").css({top: "75%"});
        }
        else if ($(window).width() > 1300 && $(window).width() < 1500 && $(window).height() <= 700) {
            $("#toolTipShow").css({top: "80%"});
        }
        else if ($(window).width() > 1300 && $(window).width() < 1500 && $(window).height() > 700) {
            $("#toolTipShow").css({top: "70%"});
        }
        else if ($(window).width() > 1200 && $(window).width() < 1300 && $(window).height() <= 700) {
            $("#toolTipShow").css({top: "85%"});
        }
        else if ($(window).width() > 1200 && $(window).width() < 1300 && $(window).height() <= 500) {
            $("#toolTipShow").css({top: "1600px"});
        }
        else if ($(window).width() > 900 && $(window).width() < 1000 && $(window).height() <= 700) {
            $("#toolTipShow").css({top: "50%"});
        }


        $("#ccm").mouseover(function(){
            $("#toolTipShow").text('Holistic corrosion and chemical management');
            $("#toolTipShow").show();

        })

        $("#ccm").mouseleave(function(){
            $("#toolTipShow").hide();
        })

        $("#pipeline").mouseover(function(){
            $("#toolTipShow").text('Comprehensive and assured pipeline integrity management');
            $("#toolTipShow").show();
        })

        $("#pipeline").mouseleave(function(){
            $("#toolTipShow").hide();
        })

        $("#anomaly").mouseover(function(){
            $("#toolTipShow").text('The complete defect management solution');
            $("#toolTipShow").show();
        })

        $("#anomaly").mouseleave(function(){
            $("#toolTipShow").hide();
        })

        $("#rbi").mouseover(function(){
            $("#toolTipShow").text('Risk Based Inspection');
            $("#toolTipShow").show();

        })

        $("#rbi").mouseleave(function(){
            $("#toolTipShow").hide();
        })

    });
    </script>
{% endblock %}