{% extends 'AIEIntegrityAssessmentBundle:Default:base.html.twig' %}
{% block body %}
        {% block navigation %}
        {#<div id="navigation" class="row">
            <div class="col-lg-12">
                <div id="logo" class="brand left {{ system|default('base')|lower }}-logo">
                    <h1><a href="{{ path(system|lower ~ '_index'|default('index')) }}">Asset Integrity Engineering</a></h1>
                </div>
                <!--<div id="notifications-container" class="right hidden-print">
                    <div class="notification-icon">
                        <span class="glyphicon glyphicon-warning-sign"></span>
                        <span class="badge warning">19</span>
                    </div>

                    <div class="notification-icon">
                        <span class="glyphicon glyphicon-fire"></span>
                        <span class="badge danger">19</span>
                    </div>

                    <div class="notification-icon">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span class="badge">19</span>
                    </div>

                </div>-->
            </div>
        </div>#}


            <div class="hidden-print">
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0px; padding-right: 30px;padding-left: 30px;">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        {% block module_logo %}{% endblock %}
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <div style="z-index: 100000000;">
                            {% block top_navigation %}
                            {% endblock %}
                        </div>
                    </div><!-- /.navbar-collapse -->
                    </div>
                </nav>
                {% block left_container %}
                <nav class="navbar navbar-darkgray navbar-static-top" id="seconderyNavbar" style="z-index: 100; margin-bottom: 0px; padding-right: 30px;padding-left: 15px;">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

                                {% if left_caption|default is not empty %}<h3 class="left-caption">{{ left_caption }}</h3>{% endif %}
                                    {% block leftSidebar %}
                                    {% endblock %}

                        </div>
                    </div>
                </nav>
                {% endblock %}
            </div>
            {% endblock %}
            <div class="container-fluid" id="contentHolder" style="padding-right: 30px;padding-left: 30px;">
                <div class="row">
                    {#{% block left_container %}#}
                {#<div id="left-navigation" class="col-xs1 col-sm-1 col-lg-2 hidden-print">#}
                    {#{% set left_caption %}#}
                    {#{% if left_caption is defined %}#}
                        {#{{ get_left_title() }}#}
                    {#{% endif %}#}
                    {#{% endset %}#}

                    {#{% if left_caption|default is not empty %}<h3 class="left-caption">{{ left_caption }}</h3>{% endif %}#}
                    {#<div class="sidenav sidebar-nav">#}
                        {#{% block leftSidebar %}#}
                        {#{% endblock %}#}
                    {#</div>#}
                {#</div>#}
            {#{% endblock %}#}
            {% block content_container %}
            <div class="col-xs-12 col-sm-12 col-lg-12">
                {% block breadcrumb %}
                {% endblock %}
                {{ include('AIEIntegrityAssessmentBundle:Default:alerts.html.twig') }}
                {% block content %}
                {% endblock %}
            </div>
        {% endblock %}
        </div>


    </div>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <p class="pull-right">Copyright © Asset Integrity Engineering </p>

                    {#| <a href="">Privacy Policy</a> | <a href="">Terms of Use</a>#}
                </div>
            </div>
        </div>
    </footer>
    
{% endblock %}
