{% extends layout %}

{% block content -%}
    <h1>{{ wizard_title|default('') }}</h1>
    {% block wizard %}
        <div class="fuelux">
            <div class="panel panel-default">
                <div class="panel-heading" id="wizard">
                    <div class="wizard-style">
                        <ul class="steps">
                            {% block steps -%}
                            {% endblock %}
                        </ul>
                        <div class="actions">
                            <button class="btn btn-mini btn-prev"><i class="glyphicon glyphicon-arrow-left"></i>Prev
                            </button>
                            <button class="btn btn-mini btn-next" data-last="Finish">Next<i
                                        class="glyphicon glyphicon-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="panel-body step-content" id="wizard_form_container">
                    {% block steps_content -%}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/fuelux/loader.min.js') }}"></script>
    <script>
        var wizard;
        $(document).ready(function () {
            var form = $("#wizard_form_container form");
            var isChanged = false;
            form.one("change", ":input", function () {
                // do whatever you need to do when something's changed.
                // perhaps set up an onExit function on the window
                //alert('changed');
                isChanged = true;
            });

            wizard = $('#wizard').wizard();

            wizard.on('change', function (e, data) {
                //console.log('change');
                //if(data.step===3 && data.direction==='next') {
                // return e.preventDefault();
                // }
            });
            wizard.on('changed', function (e, data) {
                //console.log('changed');
                $(".records_list:visible").resizableColumns();
            });
            wizard.on('finished', function (e, data) {
                //console.log('finished');
                if (isChanged) {
                    var strconfirm = confirm("Do you wish to save before leaving the page?");
                    if (strconfirm == true) {
                        form.submit();
                        return;
                    }
                }

                window.location = $('#nextLink').attr('href');

            });

            $('#btnWizardNext').on('click', function(){
                $('#wizard').wizard('next');
            });

            $('#btnWizardPrev').on('click', function(){
                $('#wizard').wizard('previous');
            });

        });
    </script>
{% endblock %}