{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Planning</h1>

    <div class="panel panel-default">
        {% if activityManagementPlanningGenerateGranted %}
            <div class="panel-heading">
                <h3 class="panel-title">Plan Duration</h3>
            </div>
            <div class="panel-body">
                {{ form_start(filter_form) }}

                <div class="col-lg-12">
                    <div class="left col-lg-6">{{ form_widget(filter_form.filter_form.from_date) }}</div>
                    <div class="left col-lg-6">{{ form_widget(filter_form.filter_form.to_date) }}</div>
                </div>
                {{ form_widget(filter_form.submit) }}
                {{ form_end(filter_form) }}
            </div>
        {% endif %}
    </div>

    <table class="records_list table-bordered">
        <thead class="text-center">
        <tr>
            <th style="width: 60px;">ID</th>
            <th>Activity</th>
            <th>System</th>
            <th style="width: 100px;">Frequency</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Action Owner</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% set i = 1 %}

        {% for system in systemActions %}

            {% for activities in system %}

                {% for id, action in activities.systems %}

                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ activities.activityname[id] }}</td>
                        <td>{{ activities.systems[id] }}</td>
                        <td>{{ activities.frequency[id] }}</td>
                        <td>{{ activities.duedate[id]|date('d F Y') }}</td>
                        {% if activities.frequency[id] != 0 %}
                            {#{{ activities.duedate[id]|date('U') ~ activities.duedate[id]|date('d F Y') ~ '==' ~ to_date|date('U') ~ to_date|date('d F Y')}} <br>#}
                            {% if activities.duedate[id]|date('U') <= 'now'|date('U') %}
                                {{ '<td style="background:#FF786C;">Overdue</td>' }}
                            {% else %}
                                {{  '<td>Planned</td>' }}
                            {% endif %}
                        {% else %}
                            {{  '<td></td>' }}
                        {% endif %}

                        <td>{{ activities.actionowner[id]? activities.actionowner[id] : 'N/A' }}</td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}