{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Reminders</h1>

    <div class="panel panel-default">
        {% if activityManagementRemindersGenerateGranted %}
        <div class="panel-heading">
            <h3 class="panel-title">Plan Duration</h3>
        </div>
        <div class="panel-body">
            {{ form_start(filter_form) }}

            <div class="col-lg-12">
                <div class="left col-lg-6">{{ form_widget(filter_form.filter_form.from_date) }}</div>
                <div class="left col-lg-6">{{ form_widget(filter_form.filter_form.to_date) }}</div>
            </div>
            {{ form_widget(filter_form.submit) }}
            {{ form_end(filter_form) }}
        </div>
        {% endif %}
    </div>

    <table class="records_list table-bordered">
        <thead>
        <tr>
            <th>Activity</th>
            <th>System</th>
            <th>Frequency</th>
            <th>Last Due Date</th>
            <th>Next Due Date</th>
            <th>Status</th>
            <th>Action Owner</th>
            <th>Reminded On</th>
            <th>No. of Reminders</th>
        </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for id,dt in actions %}
            {% set date_str = id %}
            {% set actions_date_cnt = actions[date_str]|length %}
            {% if actions_date_cnt > 0 %}
                {%  set mandc = 0 %}
                {%  set mand = 0 %}
                {%  set mandf = 0 %}
                {%  set mandk = 0 %}
                {% for id, action in actions[date_str] %}

                    {% if action.ismanagement == 1 and action.iscontrol == 1 %}
                        {%  set mandc = mandc +1 %}
                    {% endif %}

                    {% if action.ismanagement == 1 and action.iscontrol == 0 %}
                        {%  set mand = mand +1 %}
                    {% endif %}

                    {% if action.ismanagement == 0 and action.iscontrol == 1 %}
                        {%  set mandf = mandf +1 %}
                    {% endif %}

                    {% if action.ismanagement == 0 and action.iscontrol == 0 and action.isnonmonitoringkpi == 1 %}
                        {%  set mandk = mandk +1 %}
                    {% endif %}
                    <tr>
                        <td>{% if mand or mandk %}{{ action.managementtitle }}{% else %}{{ action.controltitle }}{% endif %}</td>
                        <td>{{ action.systems }}</td>
                        <td>{{ action.frequency }}</td>
                        <td>{{ action.LastInspectionDate|date('d F Y') }}</td>
                        <td>{{ date_str }}</td>
                        <!--<td>{{ action.NextInspectionDate|date('d F Y') }}</td>-->
                        {% if action.frequency != 0 %}
                            {{ action.IsInspectionDue is not same as( false ) ? '<td style="background:#FF786C;">Overdue</td>' : '<td>Planned</td>' }}
                        {% else %}
                            <td>&nbsp;</td>
                        {% endif %}
                        <td>{{ action.actionOwner? action.actionOwner.name: 'N/A' }}</td>
                        <td>
                            {% set c = "now"|date_modify("+1 day")|date("d F Y") %}
                            {% if action.IsInspectionDue is not same as( false ) or c == action.NextInspectionDate|date('d F Y') %}
                                {% if action.remindedOn is not empty %}
                                    {% for remindedOn in action.remindedOn %}
                                        {{ remindedOn.date|date('d F Y') }}<br>
                                    {% endfor %}
                                {% else %}
                                    N/A
                                {% endif %}
                            {% endif %}
                        </td>
                        <td> {% if action.IsInspectionDue is not same as( false ) or c == action.NextInspectionDate|date('d F Y') %}{{ action.remindedOn is not empty ? action.remindedOn|length: 0 }} {% endif %}</td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

