{% extends 'AIECmsBundle:Default:wizard.html.twig' %}

{% block steps -%}

    {% for system in systems %}
        <li data-target="#step{{ system.id }}" {% if loop.index == 1 %}class="active"{% endif %}><span
                    class="badge badge-info">{{ loop.index }}</span>{{ system.systemstitle }}<span class="chevron"></span>
        </li>
    {% endfor %}

{% endblock %}
{% block steps_content %}
    {{ form_start(form) }}
    {% for system in systems %}
        <div class="step-pane {% if loop.index == 1 %}active{% endif %}" id="step{{ system.id }}">

            <table class="records_list table-bordered">
                <thead>
                <tr>
                    <th>Activity</th>
                    <th>Frequency</th>
                    <th>Activity Person</th>
                    <th>Action Owner</th>
                </tr>
                </thead>
                <tbody>
                {% set threatName = '' %}
                {%  set mandc = 0 %}
                {%  set mand = 0 %}
                {%  set mandf = 0 %}
                {%  set mandk = 0 %}
                {% for sma in activitiesAction[system.id] %}
                    {% if sma.ismanagement == 1 and sma.iscontrol == 1 %}
                        {%  set mandc = mandc +1 %}
                    {% endif %}

                    {% if sma.ismanagement == 1 and sma.iscontrol == 0 %}
                        {%  set mand = mand +1 %}
                    {% endif %}

                    {% if sma.ismanagement == 0 and sma.iscontrol == 1 %}
                        {%  set mandf = mandf +1 %}
                    {% endif %}

                    {% if sma.ismanagement == 0 and sma.iscontrol == 0 and sma.isnonmonitoringkpi == 1 %}
                        {%  set mandk = mandk +1 %}
                    {% endif %}

                        <tr>
                            <td>{% if mand or mandk %}{{ sma.managementtitle }}{% else %}{{ sma.controltitle }}{% endif %}</td>
                            <td>{{ sma.frequency }}</td>
                            <td>{{ sma.activityperson }}</td>
                            <td>
                                {{ form_widget( attribute( attribute(form, 'spa_' ~ sma.id ), 'action_owner' )) }}
                            </td>
                        </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}

    <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardNext" value="Next"></div>
    <div class="col-lg-1 right">{{ form_widget(form.submit) }}</div>
    <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardPrev" value="Back"></div>
    {{ form_row(form._token) }}
    {{ form_end(form) }}
    <a id="nextLink" href="#" style="display: none;"></a>
{% endblock %}

