{% extends 'AIECmsBundle:Default:wizard.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/popBox/popBox1.3.0.css') }}">
    <style>
        .records_list{
            /*width:1700px;*/
            overflow-x: hidden;
        }
        .Scrollable_Wrapper {
            overflow-x: hidden;
            overflow-y: scroll;
            width: 100%;
            font-size:13px;
        }
        th{
            text-align: center;
        }
        .alert-danger{
            width: 500px;
        }
        .fuelux .wizard-style ul li.active {
            border: 1px solid;
            border-radius: 5px;
            background: #f1f6fc;
            color: #3a87ad;
            font-size:13px;
        }

        .textfont {
            font-size:13px;
        }
        .
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/popBox/popBox1.3.0.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/date/date.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            var stepID = '{{ systemId }}';
            if (!stepID) var stepID =1;

//            $("textarea").focus(function(event) {
//                $('.help-block').remove();
//            });

            $("#wizard").wizard('selectedItem',{step:stepID});

            $('#wizard').find('ul.steps li').toggleClass('complete', true);

            $('#wizard').on('changed.fu.wizard', function (evt, data) {
                if (!callits(evt)) {
                    callits(evt);
                }
                $('#wizard').find('ul.steps li').toggleClass('complete', true);
            });

            $('.files').multiselect({
                includeSelectAllOption: false,
                enableFiltering: true,
                maxHeight: 150,
                buttonWidth: 150,
                numberDisplayed: 0,
                label: function (element) {
                    var text = $(element).text();
                    $(element).html(text);
                    return $(element).html();
                }
            });

            $('.records_list textarea').popBox({
                width: 200,
                height: 200,
                newlineString: "\n",
                btnValue: 'Done',
                btnClass: 'btn btn-primary'
            });

            function colorSelectRisks()
            {
                var red = '#FC1501';
                var orange = '#FFC200';
                var green = '#32CD32';

                $('.risk-option').each(function(){
                    var field = $(this);

                    var value = field.find('.risk-select').val();

                    if (!value){
                        field.css('background', 'transparent');
                    }

                    if(value == "G"){
                        //Green
                        field.css("background-color", green);
                    }else if(value == "A"){
                        //Amber
                        field.css("background-color", orange);
                    }else if(value == "R"){
                        //Red
                        field.css("background-color", red);
                    }

                });

            }

            colorSelectRisks();

            $('.risk-option select').on('change',function(){
                colorSelectRisks();
            });

            $('.last_inspection_date').on('change',function(){
                var frequency = $(this).attr('id');
                var freqstr = frequency.split("_");
                var days = 0;

                var freqIndividualId = "#frequency_"+freqstr[1];
                var chTo = $(freqIndividualId).text();

                var monthstoadd = parseFloat(chTo);

                var monthsdayssplit =
                    [
                        (monthstoadd > 0) ? Math.floor(monthstoadd) : Math.ceil(monthstoadd),
                        monthstoadd % 1
                    ];

                monthstoadd = monthsdayssplit[0];

                if ( monthsdayssplit[1] < 1 )
                {

                    switch (monthsdayssplit[1]) {
                        case 0.25:
                            var days = 7;
                            break;
                        case 0.5:
                            var days = 14;
                            break;
                        case 0.75:
                            var days = 21;
                            break;
                    }
                }

                var last = "#form_spa_"+freqstr[1]+"_last_inspection_date";

                var next = "#nextinspectiondate_"+freqstr[1];

                var lastInspectionDate = $(last).val();

                lastInspectionDate = lastInspectionDate.split(" ");

                var toDate = lastInspectionDate[1]+" "+lastInspectionDate[0]+" "+lastInspectionDate[2];

                var d1 = Date.parse(toDate);

                if (monthstoadd)
                {
                    d2 = d1.add(monthstoadd).months();
                }

                if (days)
                {
                    d2 = d2.add(days).days();
                }
                d2 = d2.toLocaleDateString('en-GB', { day: 'numeric', month: 'short', year: 'numeric' });
                // d2 = d2.toString('d M yyyy');

                $(next).text(d2);
            });


            $("#form_submit").on('click',function(e){
                callits(e)
            });


            $('#wizard').on('actionclicked.fu.wizard', function (evt, data) {
                // do something
                callits(evt);
            });

            $('#wizard').on('stepclicked.fu.wizard', function (evt, data) {
                // do something
                callits(evt);
            });

            //
            function callits(e)
            {
                var jm = 0;
                var jc = 0;
                var justificationcontrolTd = [];
                var justificationmanangementTd = []
                $('.risk-option').each(function() {
                    var field = $(this);

                    var ids = field.find('.risk-management').attr('id');
                    var idss = field.find('.risk-control').attr('id');

                    if (ids) {

                        var newid = ids.split("_");

                        var value = field.find('.risk-management').val();

                        var justificationmanangement = "#" + newid[0] + "_" + newid[1] + "_" + newid[2] + "_justification_management";

                        if ( (value == "R" || value == "A" || value == "G" || value == "H" ) && !$(justificationmanangement).val()) {
                            jm = 1;
                            justificationmanangementTd.push(newid[2]);
                        }
                    }

                    if (idss) {

                        var newids = idss.split("_");

                        var valuec = field.find('.risk-control').val();

                        var justificationcontrol = "#" + newids[0] + "_" + newids[1] + "_" + newids[2] + "_justification_control";

                        if ((valuec == "R" || valuec == "A" || valuec == "G" || value == "H") && !$(justificationcontrol).val()) {
                            jc = 1;
                            justificationcontrolTd.push(newids[2]);
                        }
                    }
                });

                if (jc==1 || jm == 1 )
                {
                    if (justificationmanangementTd)
                    {
                        var myStringArray = justificationmanangementTd;
                        var arrayLength = myStringArray.length;

                        for (var i = 0; i < arrayLength; i++) {

                            var justificationTd = "#" + "justificationManagementTd"+ myStringArray[i];
                            $(justificationTd).css("background-color", "#ff9966");
                        }

                    }

                    if (justificationcontrolTd)
                    {
                        var myStringArray = justificationcontrolTd;
                        var arrayLength = myStringArray.length;

                        for (var i = 0; i < arrayLength; i++) {

                            var justificationTd = "#" + "justificationControlTd"+ myStringArray[i];
                            $(justificationTd).css("background-color", "#ff9966");
                        }

                    }

                    $.notify({
                        // options
                        message: "Please input the highlighted KPI justification in some of system's activities!",

                    },{
                        // settings
                        type: 'danger',

                        placement: {
                            from: "top",
                            align: "center"
                        }
                    });
                    e.preventDefault()
                    return true;

                }
                else {
                    return false;
                }
            }
            //
            $('#btnWizardNext').on('click',function(e){
                if (!callits(e)) {
                    $('#wizard').wizard('next');
                }
            });

            $('#btnWizardPrev').on('click', function (e) {
                // callits(e);
                if (!callits(e)) {
                    $('#wizard').wizard('previous');
                }
            });

            $('#btnWizardStep').on('click', function (e) {
                if (!callits(e)) {
                    callits(e);
                }
            });

            $('#wizard').on('change', function(e, data) {
                if(data.direction==='next') {
                    callits(e);
                }
            });
        });
    </script>
{% endblock %}
{% block steps -%}

    {% for system in systems %}
        <li id="{{ loop.index }}" data-target="#step{{ loop.index }}" {% if loop.index == 1 %} class="active" {% endif %}>
            <span class="badge badge-info">{{ loop.index }}</span>{{ system.systemstitle }}
        </li>
    {% endfor %}

{% endblock %}
{% block steps_content %}
    {{ form_start(form) }}
    <div class="Scrollable_Wrapper">
        {% for system in systems %}
            {% set outerloop =  loop.index %}
            {% set tempsystem = system.id %}
            <div class="step-pane {% if loop.index == 1 %} active {% endif %}" id="step{{ loop.index }}" data-step="{{ loop.index }}">

                <table class="records_list table-bordered sortable">
                    <thead>
                    <tr>
                        {#<th style="width: 9.50%;padding-bottom:17px;">Activity</th>#}
                        {#<th style="width: 6.00%;padding-bottom:17px;">Last Due Date</th>#}
                        {#<th style="width: 3.50%;padding-bottom:17px;">Frequency<small>(mos.)</small></th>#}
                        {#<th style="width: 5.00%;padding-bottom:17px;">Next Due Date</th>#}
                        {#<th style="width: 6.50%;padding-bottom:17px;">Files</th>#}
                        {#<th style="width: 3.50%;padding-bottom:17px;">Activity Person</th>#}
                        {#<th style="width: 3.60%;padding-bottom:17px;">Status</th>#}
                        {#<th style="width: 3.2%;padding-bottom:17px;">Weight- -age(%)</th>#}
                        {#<th style="width: 5.50%;padding-bottom:17px;">KPI - Management</th>#}
                        {#<th style="width: 5.50%;padding-bottom:17px;">KPI - Control</th>#}
                        {#<th style="width: 7.5%;padding-bottom:17px;">Justification - Management</th>#}
                        {#<th style="width: 7.5%;padding-bottom:17px;">Justification - Control</th>#}
                        <th style="width: 9.50%;padding-bottom:17px;">Activity</th>
                        <th style="width: 10.65%;padding-bottom:17px;">Last Due Date</th>
                        <th style="width: 4.90%;padding-bottom:17px;">Frequency<small>(mos.)</small></th>
                        <th style="width: 5.30%;padding-bottom:17px;">Next Due Date</th>
                        <th style="width: 9.50%;padding-bottom:17px;">Files</th>
                        <th style="width: 5.50%;padding-bottom:17px;">Activity Person</th>
                        <th style="width: 3.60%;padding-bottom:17px;">Status</th>
                        <th style="width: 3.90%;padding-bottom:17px;">Weightage(%)</th>
                        <th style="width: 6.50%;padding-bottom:17px;">KPI - Management</th>
                        <th style="width: 6.50%;padding-bottom:17px;">KPI - Control</th>
                        <th style="width: 9.0%;padding-bottom:17px;">Justification - Management</th>
                        <th style="width: 9.0%;padding-bottom:17px;">Justification - Control</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set mandc = 0 %}
                    {% set mand = 0 %}
                    {% set mandf = 0 %}
                    {% set mandk = 0 %}
                    {% set mc = 0 %}
                    {% set m = 0 %}
                    {% set c = 0 %}
                    {% set k = 0 %}
                    {% set fmc = 0 %}
                    {% set fm = 0 %}
                    {% set fc = 0 %}
                    {% set fk = 0 %}
                    {% set ccfc = 0 %}
                    {% set tempflag = 0 %}

                    {% for sma in activitiesAction[system.id] %}
                        {% set flag = 0 %}
                        {% set sflag = 0 %}
                        {% set continues = (sma.frequency ==0) %}

                        {% if sma.ismanagement == 1 and sma.iscontrol == 1 %}
                            {%  set mandc = mandc +1 %}
                        {% endif %}

                        {% if sma.ismanagement == 1 and sma.iscontrol == 0 %}
                            {%  set mand = mand +1 %}
                        {% endif %}

                        {% if sma.ismanagement == 0 and sma.iscontrol == 1 %}
                            {%  set mandf = mandf +1 %}
                        {% endif %}

                        {% if sma.ismanagement == 0 and sma.iscontrol == 0 and sma.isnonmonitoringkpi == 1 %}
                            {%  set mandk = mandk +1 %}
                        {% endif %}

                        {% if sma.matrixgrouporder %}
                            {% set sflag = sma.matrixgrouporder %}
                        {% endif %}

                        {% if sflag == 1 and tempflag != sflag %}
                            {% set flag = 1 %}
                            <tr class="score" style="background-color: #adadad;" data-index="{{ flag }}">
                                <td colspan="12" align="center">
                                    <span style="font-weight: bold;font-size: 12px;"> Corrosion/Flow Assurance Management and Control</span>
                                    {% set ccfc = 1 %}
                                </td>
                            </tr>
                        {% elseif sflag == 2 and tempflag != sflag %}
                            {% set flag = 2 %}
                            <tr class="score" style="background-color: #adadad;" data-index="{{ flag }}">
                                <td colspan="12" align="center">
                                    <span style="font-weight: bold;font-size: 12px;"> Corrosion Management and Control</span>
                                    {% set mc = 1 %}
                                </td>
                            </tr>
                        {% elseif sflag == 3 and tempflag != sflag %}
                            {% set flag = 3 %}
                            <tr class="score" style="background-color: #adadad;" data-index="{{ flag }}">
                                <td colspan="12" align="center">
                                    <span style="font-weight: bold;font-size: 12px;"> Corrosion Management Only</span>
                                    {% set m = 1 %}
                                </td>
                            </tr>
                        {% elseif sflag == 4 and tempflag != sflag %}
                            {% set flag = 4 %}
                            <tr class="score" style="background-color: #adadad;" data-index="{{ flag }}">
                                <td colspan="12" align="center">
                                    <span style="font-weight: bold;font-size: 12px;"> Corrosion Control Only</span>
                                    {% set c = 1 %}
                                </td>
                            </tr>
                        {% elseif sflag == 5 and tempflag != sflag %}
                            {% set flag = 5 %}
                            <tr class="score" style="background-color: #adadad;" data-index="{{ flag }}">
                                <td colspan="12" align="center">
                                    <span style="font-weight: bold;font-size: 12px;"> Flow Assurance Management and Control</span>
                                    {% set fmc = 1 %}
                                </td>
                            </tr>
                        {% elseif sflag == 6 and tempflag != sflag %}
                            {% set flag = 6 %}
                            <tr class="score" style="background-color: #adadad;" data-index="{{ flag }}">
                                <td colspan="12" align="center">
                                    <span style="font-weight: bold;font-size: 12px;"> Flow Assurance Management Only</span>
                                    {% set fm = 1 %}
                                </td>
                            </tr>
                        {% elseif sflag == 7 and tempflag != sflag %}
                            {% set flag = 7 %}
                            <tr class="score" style="background-color: #adadad;" data-index="{{ flag }}">
                                <td colspan="12" align="center">
                                    <span style="font-weight: bold;font-size: 12px;"> Flow Assurance Control Only</span>
                                    {% set fc = 1 %}
                                </td>
                            </tr>
                        {% elseif sflag == 8 and tempflag != sflag %}
                            {% set flag = 8 %}
                            <tr class="score" style="background-color: #adadad;" data-index="{{ flag }}">
                                <td colspan="12" align="center">
                                    <span style="font-weight: bold;font-size: 12px;"> Monitoring (non-KPI) </span>
                                    {% set fk = 1 %}
                                </td>
                            </tr>
                        {% elseif sflag == 9 and tempflag != sflag %}
                            {% set flag = 9 %}
                            <tr class="score" style="background-color: #adadad;" data-index="{{ flag }}">
                                <td colspan="12" align="center">
                                    <span style="font-weight: bold;font-size: 12px;"> Corrosion Management and Flow Assurance Management </span>
                                    {% set cmfm = 1 %}
                                </td>
                            </tr>
                        {% endif %}

                        <tr class="score" data-index="{{ sflag }}">
                            <td>{% if mand or mandk %}{{ sma.managementtitle }}{% else %}{{ sma.controltitle }}{% endif %}</td>
                            <td class="last_inspection_date textfont" id="lastinspectiondate_{{ sma.id }}">
                                <div style="font-size:13px;" id="last_inspection_date_{{ sma.id }}">{{ form_widget ( attribute( attribute(form, 'spa_' ~ sma.id ), 'last_inspection_date') ) }} </div>
                            </td>
                            <td class="freq" id="frequency_{{ sma.id }}">
                                {{ sma.frequency }}
                            </td>
                            <td id="nextinspectiondate_{{ sma.id }}">{{ sma.nextInspectionDate|date("d M Y") }}</td>
                            <td class="textfont">
                                {{ form_widget( attribute( attribute(form, 'spa_' ~ sma.id ), 'files') ) }}
                            </td>
                            <td>{{ sma.activityperson }}</td>
                            <td>
                                {% if sma.subprojectdatasheet.id > 1 and mitigationStatusTrendGranted %}<a href="{{ path('cms_subproject_corrosion_datasheet', { 'id': sma.id , 'projectId': projectId, 'subprojectId': subprojectId, 'systemId' : outerloop }) }}">Trend</a>{% else %}--{% endif %}
                            </td>
                            <td>{{ sma.weightage }}</td>

                            {% if sma.ismanagement == 1 or sma.isflowassurancemanagement == 1 %}
                                <td class="risk-option color risk textfont">{{ form_widget( attribute( attribute(form, 'spa_' ~ sma.id ), 'kpi_management') ) }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if sma.iscontrol == 1 or sma.isflowassurancecontrol == 1 %}
                                <td class="risk-option color risk textfont">{{ form_widget( attribute( attribute(form, 'spa_' ~ sma.id ), 'kpi_control') ) }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if sma.ismanagement == 1 or sma.isflowassurancemanagement == 1 %}
                                <td class="textfont" id="justificationManagementTd{{ sma.id }}">{{ form_widget( attribute( attribute(form, 'spa_' ~ sma.id ), 'justification_management') ) }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                            {% if sma.iscontrol == 1 or sma.isflowassurancecontrol == 1 %}
                                <td class="textfont" id="justificationControlTd{{ sma.id }}">{{ form_widget( attribute( attribute(form, 'spa_' ~ sma.id ), 'justification_control') ) }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}

                        </tr>
                        {%  set mandc = 0 %}
                        {%  set mand = 0 %}
                        {%  set mandf = 0 %}
                        {%  set mandk = 0 %}
                        {%  set tempflag = sflag %}
                        {%  set tempsystem = system.id %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    <div class="col-lg-4 col-sm-4 col-md-4 right" style="padding-left:190px;padding-top:10px;"><input type="button" class="btn" id="btnWizardPrev" value="Prev">&nbsp;&nbsp;{{ form_widget(form.submit) }}&nbsp;&nbsp;<input type="button" class="btn" id="btnWizardNext" value="Next"></div>
    {{ form_row(form._token) }}
    {{ form_end(form) }}
    <a id="nextLink" href="#" style="display: none;"></a>
{% endblock %}

