{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Threat</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('threats') }}">
            Back to threats
        </a>
    </li>
</ul>
{% endblock %}
