{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/editable/bootstrap-editable.css') }}">
    <style>
        #fixedheaderFlyout {
            height:120px;
            background-color:#ddd;
            color: #5a5a5a;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            font-weight: bold;
            text-align: left;
        }
        .fixed { position:fixed; top:0; z-index:2; width:94%; }

        .Grid {
            display: flex;
            border: 0.5px solid #b9b9b9; margin: 0; padding: 0px;
        }

        .Grid-cell {
            flex: 0.5;
        }
        /*.glyphicon {*/
           /*position: inherit;*/
            /*padding: 2px;*/
        /*}*/
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/migrateversion/jquery-migrate-1.2.1.min.js') }}"></script>
    <script src="{{ asset('assets/js/popBox/popBox1.3.0.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/aie/subprojectmatrixsetup.js') }}"></script>

    <script>
        $('#fixedheaderFlyout textarea').popBox({
            width: 200,
            height: 200,
            newlineString: "\n",
            btnValue: 'Done',
            btnClass: 'btn btn-primary'
        });
    </script>
{% endblock %}

{% block content %}
    {% set chkBoxDisabled = 'disabled="disabled"' %}
    {% set textareaReadonly = 'readonly' %}
    {% if showMatrixEdit %}
        {% set chkBoxDisabled = '' %}
        {% set textareaReadonly = '' %}
    {% endif %}
    <div class="displayError" styl="display:none;">
    </div>
    <div class="container" style="width:100%">
        <h1>Matrix Setup</h1>
        <div class="content">
            <form id="frmMatrixSetUp" name="frmMatrixSetUp" method="post" action="{{ path('cms_subprojectmatrixsetup_update', { 'projectId': projectId , 'subprojectId': subprojectId }) }}">
            <div class="panel panel-default">
                {#{{ form_start(form) }}#}
                <div id="fixedheaderFlyout" class="records_list">
                    <div class="col-md-1" style="width: 10%; height:5em; padding:25px;  text-align:left;vertical-align: middle;">
                        Systems
                    </div>
                    <div class="col-md-2" style="width: 11%; height:5em; padding:25px; text-align:left; vertical-align: middle;">Threats</div>

                    <div class="col-md-2" style="width: 22%; height:5em; padding:25px;  text-align:left; vertical-align: middle; word-wrap: break-word;">Mitigation Techniques</div>

                    <div class="col-md-2" style="width: 9%; height:5em; padding:25px;  text-align:left; vertical-align: middle; word-wrap: break-word;">Corrosion Management</div>

                    <div class="col-md-2" style="width: 9%; height:5em; padding:25px; text-align:center; vertical-align: middle;  word-wrap: break-word;">Corrosion Control</div>

                    <div class="col-md-1" style="width: 9%; height:5em; padding:15px;  text-align:center; vertical-align: middle; word-wrap: break-word;">Flow Assurance Management</div>

                    <div class="col-md-1" style="width: 9%; height:5em; padding:25px;  text-align:center; vertical-align: middle; word-wrap: break-word;">Flow Assurance Control</div>

                    <div class="col-md-1" style="width: 9%; height:5em; padding:15px;  text-align:center; vertical-align: middle; word-wrap: break-word;">Monitoring (non-KPI)</div>

                    <div class="col-md-1" style="width: 12%; height:5em; padding:25px;  text-align:center; vertical-align: middle;">Comments</div>

                </div>
                {% set tempsystemid = 0 %}
                {% set tempthreatid = 0 %}
                {% set tempbaseid = 0 %}
                {% set tempactivityid = 0 %}
                {% set threatappid = 0 %}
                {% set threatmitigid = 0 %}
                {% set threatactid = 0 %}
                {% for key,entity in subprojectmatrixproperties %}

                    {% if entity.bs_isselected and entity.bs_isselected == 1 %}
                        {% set systemchecked = 'checked' %}
                    {% else %}
                        {% set systemchecked = '' %}
                    {% endif %}

                    {% if entity.bt_isselected and entity.bt_isselected == 1 %}
                        {% set threatchecked = 'checked' %}
                    {% else %}
                        {% set threatchecked = '' %}
                    {% endif %}

                    {% if entity.bmt_isselected and entity.bmt_isselected == 1 %}
                        {% set mititgationchecked = 'checked' %}
                    {% else %}
                        {% set mititgationchecked = ''%}
                    {% endif %}

                    {% if entity.ba_ismanagement and entity.ba_ismanagement == 1 %}
                        {% set managementchecked = 'checked' %}
                    {% else %}
                        {% set managementchecked = '' %}
                    {% endif %}

                    {% if entity.ba_iscontrol and entity.ba_iscontrol == 1%}
                        {% set activitychecked = 'checked' %}
                    {% else %}
                        {% set activitychecked = '' %}
                    {% endif %}

                    {% if entity.ba_isflowassurancemanagement and entity.ba_isflowassurancemanagement == 1 %}
                        {% set flowassurancemanagementchecked = 'checked' %}
                    {% else %}
                        {% set flowassurancemanagementchecked = '' %}
                    {% endif %}

                    {% if entity.ba_isflowassurancecontrol and entity.ba_isflowassurancecontrol == 1 %}
                        {% set flowassurancecontrolchecked = 'checked' %}
                    {% else %}
                        {% set flowassurancecontrolchecked = '' %}
                    {% endif %}

                    {% if entity.ba_isnonmonitoringkpi and entity.ba_isnonmonitoringkpi == 1 %}
                        {% set monitoringchecked = 'checked' %}
                    {% else %}
                        {% set monitoringchecked = '' %}
                    {% endif %}

                {% if tempsystemid != entity.bs_id %}
                        {% set tdbgColor = "style=background-color:#ccc;width:10%;" %}
                {% else %}
                        {% set tdbgColor = "style=width:10%;" %}
                {% endif %}

                {% set divtag = "sys_" ~ entity.bs_id  %}

                    {% if entity.bs_systemstitle is defined %}
                        {% if tempsystemid != entity.bs_id %}
                            {% set divfirsttag = "di_" ~ entity.bs_id  %}
                        {% endif %}
                    {% endif %}

                <div class="row applygrid Grid {{ divfirsttag }}">

                    <!-- expand collapse -->
                    {#{% if entity.bs_systemstitle is defined %}#}
                        {#{% if tempsystemid != entity.bs_id %}#}
                            {#<div class="expand glyphicon glyphicon-minus-sign" id="{{ divtag }}" style="background-color:#ccc;"></div>#}
                        {#{% endif %}#}
                    {#{% endif %}#}
                    <!-- expand collapse -->

                    <div {{tdbgColor}}>
                        <div class="col-md-2 systems" >{#style="width: 40px;"#}
                            {% if entity.bs_systemstitle is defined %}
                                {% if tempsystemid != entity.bs_id %}
                                    {% set column = 'systems_' ~ entity.bs_id ~ '_' ~ subprojectId %}
                                    {% set columns = 'systems_' ~ entity.bs_id ~ '_' ~ entity.bt_id ~ '_' ~ subprojectId %}
                                    {#{{ form_widget(attribute(form, column)) }}#}
                                    <input type="checkbox" id="{{ column }}" name="{{ column }}" {{ systemchecked }} {{ chkBoxDisabled }} />
                                    <p id="p{{ columns }}"></p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div id="{{ column }}" style="padding-left:38px; align:top;align-content: center;/* width: 180px;*/">
                            {% if entity.bs_systemstitle is defined %}
                                {% if tempsystemid != entity.bs_id %}
                                    {{ entity.bs_systemstitle }}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>

                    <div class=" {{ divtag }}" style="width:11%;">
                        <div class="col-md-2 threats" {#style="width: 30px;"#}>
                            {% if entity.bt_threatstitle is defined %}
                                {% set column = 'threats_' ~ entity.bs_id ~ '_' ~ entity.bt_id ~ '_' ~ subprojectId %}
                                {% set columns = 'threats_' ~ entity.bs_id ~ '_' ~ entity.bt_id ~ '_' ~ entity.bmt_id ~ '_' ~ subprojectId %}
                                {% if tempthreatid != entity.bt_id %}
                                    {#{{ form_widget(attribute(form, column)) }}#}
                                    <input type="checkbox" id="{{ column }}" name="{{ column }}" {{ threatchecked }} {{ chkBoxDisabled }} />
                                {% endif %}
                                <p id="p{{ columns }}"></p>
                            {% endif %}
                        </div>
                        <div id="{{ column }}" style="padding-left:38px; align:top;align-content: center; /*width: 170px;*/">
                            {% if tempthreatid != entity.bt_id %}
                                {{ entity.bt_threatstitle }}
                                {% set threatappid = threatappid ~ "_" ~ entity.bt_id %}
                            {% endif %}
                            {% if tempbaseid != entity.bmt_id %}
                                {% set threatmitigid = threatmitigid ~ "_" ~ entity.bmt_id %}
                            {% endif %}
                            {% if tempactivityid != entity.ba_id %}
                                {% set threatactid = threatactid ~ "_" ~ entity.ba_id %}
                            {% endif %}
                        </div>
                    </div>
                    <div class=" {{ divtag }}" style="width:21%;">
                        <div class="col-md-2 mitigationtechniques">
                            {% if entity.bmt_mitigationtechniquestitle is defined %}
                                {% set column = 'mitigationtechniques_' ~ entity.bs_id ~ '_' ~ entity.bt_id ~ '_' ~ entity.bmt_id ~ '_' ~ subprojectId %}
                                {% set columns = 'mitigationtechniques_' ~ entity.bs_id ~ '_' ~ entity.bt_id ~ '_' ~ entity.bmt_id ~ '_' ~ entity.ba_id ~ '_' ~ subprojectId %}
                                {#{{ form_widget(attribute(form, column)) }}#}
                                <input type="checkbox" id="{{ column }}" name="{{ column }}" {{ mititgationchecked }} {{ chkBoxDisabled }} />
                                <p id="p{{ columns }}"></p>
                            {% endif %}
                        </div>
                        <div id="{{ column }}" style="padding-left:40px; align:top;align-content: center; width: 90%;">
                            {% if entity.bmt_mitigationtechniquestitle is defined %}
                                {{ entity.bmt_mitigationtechniquestitle }}
                            {% endif %}
                        </div>
                    </div>
                    {% if entity.ba_id is defined %}
                        {% set columnm = 'managementactivities_' ~ entity.bs_id ~ '_' ~ entity.bt_id ~ '_' ~ entity.bmt_id ~ '_' ~ entity.ba_id ~ '_' ~ subprojectId %}
                        {% set columnc = 'controlactivities_' ~ entity.bs_id ~ '_' ~ entity.bt_id ~ '_' ~ entity.bmt_id ~ '_' ~ entity.ba_id ~ '_' ~ subprojectId %}
                        {% set columnn = 'nonmonitoringkpi_' ~ entity.bs_id ~ '_' ~ entity.bt_id ~ '_' ~ entity.bmt_id ~ '_' ~ entity.ba_id ~ '_' ~ subprojectId %}
                        {% set columnfm = 'flowassurancemanagement_' ~ entity.bs_id ~ '_' ~ entity.bt_id ~ '_' ~ entity.bmt_id ~ '_' ~ entity.ba_id ~ '_' ~ subprojectId %}
                        {% set columnfc = 'flowassurancecontrol_' ~ entity.bs_id ~ '_' ~ entity.bt_id ~ '_' ~ entity.bmt_id ~ '_' ~ entity.ba_id ~ '_' ~ subprojectId %}
                    {% endif %}
                    <div class="managementactivities  {{ divtag }}" style="width:9%;">
                        <div style="height:3em; padding:0;text-align: center;">
                            {#{{ form_widget(attribute(form, columnm)) }}#}
                            <input type="checkbox" id="{{ columnm }}" name="{{ columnm }}" {{ managementchecked }} {{ chkBoxDisabled }} />
                            <p id="p{{ columnm }}"></p>
                        </div>
                    </div>
                    <div class="controlactivities {{ divtag }}" style="width:9%;">
                        <div style="height:3em;  padding:0;text-align: center;">
                            {#{{ form_widget(attribute(form, columnc)) }}#}
                            <input type="checkbox" id="{{ columnc }}" name="{{ columnc }}" {{ activitychecked }} {{ chkBoxDisabled }} />
                            <p id="p{{ columnc }}"></p>
                        </div>
                    </div>
                    <div class="flowassurancemanagement {{ divtag }}" style="width:9%;">
                        <div style="height:3em;  padding:0;text-align: center;">
                            {#{{ form_widget(attribute(form, columnn)) }}#}
                            <input type="checkbox" id="{{ columnfm }}" name="{{ columnfm }}" {{ flowassurancemanagementchecked }} {{ chkBoxDisabled }} />
                            <p id="p{{ columnfm }}"></p>
                        </div>
                    </div>
                    <div class="flowassurancecontrol {{ divtag }}" style="width:9%;">
                        <div style="height:3em;  padding:0;text-align: center;">
                            {#{{ form_widget(attribute(form, columnn)) }}#}
                            <input type="checkbox" id="{{ columnfc }}" name="{{ columnfc }}" {{ flowassurancecontrolchecked }} {{ chkBoxDisabled }} />
                            <p id="p{{ columnfc }}"></p>
                        </div>
                    </div>
                    <div class="nonmonitoringkpi {{ divtag }}" style="width:9%;">
                        <div style="height:3em;  padding:0;text-align: center;">
                            {#{{ form_widget(attribute(form, columnn)) }}#}
                            <input type="checkbox" id="{{ columnn }}" name="{{ columnn }}" {{ monitoringchecked }} {{ chkBoxDisabled }} />
                            <p id="p{{ columnn }}"></p>
                        </div>
                    </div>
                    <div class="comments {{ divtag }}" style="width:10%;">
                        <div style="height:3.5em;  padding-top:2px;text-align: center;">
                            {% if entity.ba_id is defined %}
                                {% set column = 'comments_' ~ entity.bs_id ~ '_' ~ entity.bt_id ~ '_' ~ entity.bmt_id ~ '_' ~ entity.ba_id ~ '_' ~ subprojectId %}
                                {#{{ form_widget(attribute(form, column)) }}#}
                                <textarea style="height:42px; padding-top:5px; width: 120px;" id="{{ column }}" name="{{ column }}" {{ textareaReadonly }}>{% if entity.ba_comments is defined %}{{ entity.ba_comments }}{% endif %}</textarea>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    {% set tempsystemid = entity.bs_id %}
                    {% set tempthreatid = entity.bt_id %}
                    {% set tempbaseid = entity.bmt_id %}
                    {% set tempactivityid = entity.ba_id %}

                {% endfor %}
                <span id="spa_{{ threatappid }}" class="spaThreat"></span>
                <span id="spami_{{ threatmitigid }}" class="spaMitigation"></span>
                <span id="spaac_{{ threatactid }}" class="spaActivity"></span>
            </div>
            <div class="page-footer pull-right">
                <button id="subsavebutton" value="Save" type="Submit" class="btn btn-primary">Save</button>
                <button id="subcancelbutton" value="Cancel" type="button" class="btn btn-default">Cancel</button>
            </div>
            </form>
        </div>
        {#{{ form_row(form._token) }}#}
        {#{{ form_end(form)}}#}

    </div>
{% endblock %}




