{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block javascripts %}
    <script type="text/javascript">
        function readyFn( jQuery ) {
            $(document).on('click','.close',function(e){
                location.reload();

            });


            $(document).on('click','.subcancelbutton',function(e){

                $(".close").click();
            });

        }
        $( document ).ready( readyFn );
    </script>
{% endblock %}
{% block content %}
    <div class="modal fade" id="atitemmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="padding-bottom:26px;">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}

                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.Item) }}{{ form_widget(form.Item) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.Details) }}{{ form_widget(form.Details) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.ResponsibleGroup) }}{{ form_widget(form.ResponsibleGroup) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.Persons) }}{{ form_widget(form.Persons) }}
                        </div>
                    </div>
                    <div class="row form-group" style="padding-left: 20px;padding-right:40px;">
                        <div class="col-md-12">
                            {{ form_widget(form.Duedate) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.Status) }}{{ form_widget(form.Status) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            {{ form_label(form.Comments) }}{{ form_widget(form.Comments) }}
                        </div>
                    </div>
                    <div class="row form-group" style="padding-right: 35px;">
                        <div class="pull-right">
                            <button type="button" value="cancel" class="btn btn-default subcancelbutton">Cancel</button>
                        </div>
                        <div class="col-md-2 pull-right" style="width:80px;">
                            <button type="submit" value="save" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                    {{ form_end(form) }}

                </div>
                <div class="modal-footer">

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

{% endblock %}

