{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/js/DataTables/media/css/jquery.dataTables.min.css') }}">
    <style>
        .filters { font-size: 0.8em }

        .sortMask {
            width:19px;
            height:19px;
            float:right;
            display:inline-block;
            z-index:0;
            margin-top:-1px;
            margin-right: -18px;
            /*background: rgba(255, 0, 0, 0.5);*/
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/DataTables/media/js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script type="text/javascript">
        var projectId = {{  projectId }};
        var subprojectId = {{ subprojectId  }};
        $("a[id^='edit']").click(function(e) {
            var id_str = $(this).attr('id');
            index = id_str.lastIndexOf("_")+1;
            id = id_str.slice(index);
            var url = $(this).prop("href");

            $.post(url, { aid: id },function(data) {
                $(data).modal();
            });
        });

        $('#addNewActionItem').click(function (e) {
            var url = "{{ path('cms_subproject_actiontrackeritems_create', { 'projectId': projectId, 'subprojectId' : subprojectId, 'aid' : app.request.get('aid'),}) }}";
            $.post(url, function (data) {
                $(data).modal();
            });

        });
    </script>
    <script src="{{ asset('assets/js/aie/actionTracker.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>{{ wizard_title|default('') }}</h1>
        <div class="content" id="content{{ projectId }}">
            <table class="table table-striped table-hover records_list table-grid-head" cellspacing="0" width="100%">
                    <thead class="table-grid-head-row">
                        <tr>
                            <th id="ITEMID">Item<div class="sortMask"></div></th>
                            <th>Detail<div class="sortMask"></div></th>
                            <th>Responsible Group<div class="sortMask"></div></th>
                            <th>Responsible Person<div class="sortMask"></div></th>
                            <th>Due Date<div class="sortMask"></div></th>
                            <th>Status<div class="sortMask"></div></th>
                            <th>Comments<div class="sortMask"></div></th>
                            <th class="datatable-nosort"></th>
                        </tr>
                    </thead>
                    <thead class="filters">
                    <tr>
                        <th>Item</th>
                        <th>Detail</th>
                        <th>Responsible<br>Group</th>
                        <th>Responsible<br>Person</th>
                        <th>Due Date</th>
                        <th>Status</th>
                        <th>Comments</th>
                        <th id="linkHeader" class="datatable-nosort"></th>
                    </tr>

                    <tbody id="tb{{ aid }}">
                        {% if actionTrackerItems is defined %}
                            {% for actionTrackerItem in actionTrackerItems %}
                                    <tr>
                                        <td>{{ actionTrackerItem.getItem()}}</td>
                                        <td>{{ actionTrackerItem.getDetails() }}</td>

                                        <td>
                                            {{ actionTrackerItem.getResponsibleGroup() }}
                                        </td>
                                        <td>
                                            {{ actionTrackerItem.getPersons() }}
                                        </td>
                                        <td>
                                            {{ actionTrackerItem.getDueDateSting() }}
                                        </td>
                                        {% set choices = actionTrackerItem.getChoices()%}
                                        {% if actionTrackerItem.getStatus() == choices['Live']  %}
                                            <td style="background:#FF786C;">Live</td>
                                        {%elseif actionTrackerItem.getStatus() == choices['Cancelled'] %}
                                            <td style="background:#e1e1e1;">Cancelled</td>
                                        {%elseif actionTrackerItem.getStatus() == choices['Hold'] %}
                                            <td style="background:#ffeb9c;">Hold</td>
                                        {%else %}
                                            <td style="background:#c6efce;">Close</td>
                                        {%endif%}
                                        <td>
                                            {{ actionTrackerItem.getComments()}}
                                        </td>
                                        <td>
                                            <ul>
                                                {% if actionItemEditGranted %}
                                                <li>
                                                    <a id="edit_{{ actionTrackerItem.getId()}}" class="" data-toggle="modal" href="{{ path('cms_subproject_actiontrackeritems_edit', { 'projectId': projectId, 'subprojectId' : subprojectId, 'aitemid':actionTrackerItem.getId()})}}" data-target="#editatitemmodal">Edit</a>
                                                </li>
                                                {% endif %}
                                                {% if actionItemDeleteGranted %}
                                                <li>
                                                    <a class ="deleteLink" id ="delete_{{ actionTrackerItem.getId()}}" href= "{{ path('cms_subproject_actiontrackeritems_delete', { 'projectId': projectId, 'subprojectId' : subprojectId, 'aitemid':actionTrackerItem.getId() }) }}">Delete</a>
                                                </li>
                                                {% endif %}
                                            </ul>
                                        </td>
                                    </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
    {% if actionItemAddGranted %}
        <div class="add_new_action_tracker_item" id=""><a id="addNewActionItem" role="button" class="btn btn-primary addnewactiontrackerItem" data-toggle="modal" href="#" data-target="#atitemmodal">Add New Row</a></div>
    {% endif %}
{% endblock %}


