{% extends 'AIECmsBundle:Default:report.html.twig' %}

{% block report_title %} Corrosion Management Report for {{ subproject.name }} {% endblock %}
{%  set currYear = "now"|date("Y") %}
{% block content -%}

<table class="details">
    <tbody>
        <tr style="background: transparent;">
            <td>Document Title</td>
            {% if reportType == 1 %}
            <td>{{ project.client }} {{ subproject.name }} Corrosion Management Status Report</td>
            {% elseif reportType == 2 %}
            <td>{{ project.client }} {{ subproject.name }} Corrosion Management Supplementary Report</td>
            {% elseif reportType == 3 %}
            <td>{{ project.client }} {{ subproject.name }} Corrosion Management Comprehensive Report</td>
            {% elseif reportType == 4 %}
            <td>{{ project.client }} {{ subproject.name }} Corrosion and Flow Assurance Matrices Report</td>
            {% elseif reportType == 5 %}
            <td>{{ project.client }} {{ subproject.name }} Corrosion Compliance Report</td>
            {% elseif reportType == 6 %}
            <td>{{ project.client }} {{ subproject.name }} Flow Assurance Management Report</td>
            {% elseif reportType == 7 %}
                <td>{{ project.client }} {{ subproject.name }} Flow Assurance Compliance Report</td>
            {% endif %}
        </tr>
        <tr>
            <td>Client Name</td>
            <td>{{ project.client }}</td>
        </tr>
        <tr>
            <td>AIE Ref Number</td>
            <td>{{ project.referenceNo }}</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{ archive.date|date('d F Y') }}</td>
        </tr>
    </tbody>
</table>

    {% if reportType == 1 or reportType == 3 %}
        {% include 'AIECmsBundle:Reports:corrosion_comprehesive_exception.html.twig' %}
    {% elseif reportType == 6 %}
        {% include 'AIECmsBundle:Reports:flowassurance_comprehensive.html.twig' %}
    {% elseif reportType == 4 %}
        <h1>1.&nbsp;&nbsp;&nbsp;{{ project.client }} {{ subproject.name }} Corrosion Matrix</h1>
        <div>
            <script src="{{ asset('assets/js/jquery.js') }}"></script>
            <script src="{{ asset('assets/js/stickyHeader/stickyheader.dojo.js') }}"></script>
            <script src="{{ asset('assets/js/stickyHeader/stickyheader.jquery.js') }}"></script>
            <script src="{{ asset('assets/js/stickyHeader/stickyheader.mootools.js') }}"></script>
            <script src="{{ asset('assets/js/stickyHeader/stickyheader.prototype.js') }}"></script>
            {% include 'AIECmsBundle:ReportData:corrosion_matrix.html.twig' %}
        </div>
        <h1>2.&nbsp;&nbsp;&nbsp;{{ project.client }} {{ subproject.name }} Flow Assurance Matrix</h1>
        <div>
            {% include 'AIECmsBundle:ReportData:flowassurance_matrix.html.twig' %}
        </div>
        <h1>3.&nbsp;&nbsp;&nbsp;Monitoring Table</h1>
        <div>
            {% include 'AIECmsBundle:ReportData:monitoring_nonkpi.html.twig' %}
        </div>
    {% elseif reportType == 5 %}
        <h1>1.&nbsp;&nbsp;&nbsp;Executive Summary</h1>
        <p>
        This report provides a high level KPI compliance summary for the period of {{ project.dateRange }}. The KPIs are supplemented by comments and/or recommendations where applicable.
        <div>
        {% include 'AIECmsBundle:ReportData:kpi_indicators_compliance.html.twig' %}
        </div>
    {% elseif reportType == 2 %}
        {% include 'AIECmsBundle:Reports:corrosion_supplementary.html.twig' %}
    {% elseif reportType == 4 %}
        <h1>1.&nbsp;&nbsp;&nbsp;{{ project.client }} {{ subproject.name }} Corrosion Matrix</h1>
        <div>
            {% include 'AIECmsBundle:ReportData:corrosion_matrix.html.twig' %}
        </div>
        <h1>2.&nbsp;&nbsp;&nbsp;Monitoring Table</h1>
        <div>
            {% include 'AIECmsBundle:ReportData:monitoring_nonkpi.html.twig' %}
        </div>
    {% elseif reportType == 7 %}
        <p>
            This report provides a review of the corrosion threats affecting the {{ project.name }}, in {{ subproject.location }}. The report also reviews the Key Performance Indicators (KPIs) for the period of {{ project.dateRange }}, and presents recommendations for ongoing operations for this asset.
            <br />
            <br />
            A KPI traffic light summary is provided in the Table below. A traffic light system is used based on the level of non-compliance:
        <ul>
            <li><span style="font-size: 13px;">Low:</span> <span style="color: #00b050;font-size: 13px;font-weight: bold;">Green</span></li>
            <li><span style="font-size: 13px;">Moderate:</span> <span style="color: #ffc000;font-size: 13px;font-weight: bold;">Amber</span></li>
            <li><span style="font-size: 13px;">High:</span> <span style="color: #ff0000;font-size: 13px;font-weight: bold;">Red</span></li>
        </ul>
        <span style="font-size: 13px;">For corrosion control, where no data is available within the period covered by this report, the most recent available data is presented.</span>
        <br/>
        </p>
        <div>
            {% include 'AIECmsBundle:ReportData:flowkpi_indicators_compliance.html.twig' %}
        </div>
    {% endif %}

{% endblock %}

{% block stylesheets -%}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/magnific-popup/magnific-popup.css') }}">
    <style type="text/css" media="all">
        body.report tr:first-child
        {
            background-color: #DDDDDD;
            height: 20px;
        }
        body.report th {
            font-weight: bold;
            text-align: center;
            font-size: 13px;
            vertical-align: middle;
        }
        body.report td {
            text-align: left;
            font-size: 13px;
            vertical-align: middle;
        }
        body.report img {
            display: block;
            max-width:300px;
            max-height:500px;
            width: auto;
            height: auto;
        }
        body.report h1{
            text-decoration: none;
            font-size: 13px;
        }
        body.report h3{
            text-decoration: none;
            font-size: 13px;
        }
        body.report #inner {
            width: 50%;
            margin: 0 auto;
        }
        body.report p {
            font-size: 13px;
        }
        .table th {
            border-top: none !important;
            vertical-align: middle;
            text-align: center;
            /*border: none !important;*/
        }
        .table td {
            border-top: none !important;
            vertical-align: middle;
            text-align: left;
            /*border: none !important;*/
        }
        .table tr td {
            padding: 0px;
        }
        .table {
            border: 0px;
        }
        #corrision_man_ctrl {
            width:100%
        }
        .report td {
            text-align: left;
            font-size: 13px;
            vertical-align: middle;
        }
        .outer-div
        {
            position: relative;
            top: 3px;
            bottom: 30px;
            width: 100%;
        }
        .container-element {
             margin: 0 auto;
             height:50%;
             width:70%;
             padding-bottom:3px;
        }
        .hide {
            display:none;
        }
        div.stickyHeader {
            top:0;
            position:fixed;
            _position:absolute;
        }
    </style>
{% endblock %}
{% if reportType != 2 %}
    {% block javascripts -%}
        {#{{ parent() }}#}
        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        <script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>

        <!--[if lt IE 9]>
            <script src="{{ asset('assets/js/Highcharts/code/modules/oldie.js') }}"></script>
        <![endif]-->
        <script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
        <script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
        <script src="{{ asset('assets/js/Highcharts/code/modules/stock4.2/highstock.js') }}"></script>
        {#<script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>#}
        <script src="{{ asset('assets/js/Highcharts/code/modules/broken-axis.js') }}"></script>
        <script src="{{ asset('assets/js/Highcharts/code/modules/static-scale.js') }}"></script>
        <script src="{{ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>
        <script src="{{ asset('assets/js/aie/graphgenerate.js') }}"></script>
    {% endblock %}
{% endif %}