<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg SYSTEM "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
{% block content -%}
    {#{{ containerId }}#}
    {#{{ imageContainerId }}#}
    {#{{ graphType }}#}
    {#{{ graphCount }}#}
    {#{{ graphData }}#}
    <div id="{{containerId}}"></div>

{% endblock %}

{% block javascripts -%}

        <script src="{{ asset("assets/js/jquery.js") }}"></script>

        <script src="{{ asset("assets/js/Highcharts/code/highcharts.js") }}"></script>
        <script src="{{ asset("assets/js/Highcharts/code/highcharts-more.js") }}"></script>
        <script src="{{ asset("assets/js/Highcharts/code/modules/data.js") }}"></script>
        <script src="{{ asset("assets/js/Highcharts/code/modules/stock.js") }}"></script>
        <script src="{{ asset("assets/js/Highcharts/code/modules/exporting.js") }}"></script>

        <script type="text/javascript">

            var EXPORT_WIDTH = 1000;

            var yaxisstr = "{{ graphType }}";

            var xaxisstr = "{{ graphType }}";

            var passdata = eval({{ graphData }});

            var con = "{{ containerId }}";

            var activityname = "text";

            var ele = "#"+con;

            var flag = 1;

            var greenThreshold = "";

            var redThreshold = "";

            function single(passdata, flag, xaxisstr, yaxisstr, con, activityname, minRate, maxRate)
            {

                if(minRate == "N/A" || !minRate)
                {
                    var greenThreshold = 0;
                }

                if(maxRate == "N/A" || !maxRate)
                {
                    var redThreshold = 0;
                }

                if ( passdata.empty != "true" && flag == 1 && passdata != "[]" )
                {
                    var startDate = new Date(passdata[passdata.length - 1][0]), // Get year of last data point
                        minRate = parseFloat(minRate),
                        maxRate = parseFloat(maxRate),
                        startPeriod,
                        date,
                        rate,
                        index;

                    startDate.setMonth(startDate.getMonth() - 3); // a quarter of a year before last data point
                    startPeriod = Date.UTC(startDate.getFullYear(), startDate.getMonth(), startDate.getDate());

                    for (index = passdata.length - 1; index >= 0; index = index - 1) {
                        date = passdata[index][0]; // data[i][0] is date
                        rate = passdata[index][1]; // data[i][1] is exchange rate
                        if (date < startPeriod) {
                            break; // stop measuring highs and lows
                        }
                    }

                    if (minRate && maxRate) {

                        // Create the chart
                        window.chart = Highcharts.stockChart(con, {

                            chart: {
                                renderTo: con,
                                borderColor: '#d2d5d5',
                                borderWidth: 1,
                                type: 'line',
                            },

                            title: {
                                text: activityname
                            },

                            navigator: {
                                enabled: false,
                            },

                            scrollbar: {
                                enabled: false,
                            },

                            xAxis: {

                                type: "datetime",
                                minTickInterval: 28 * 24 * 3600 * 1000,
                            },

                            yAxis: {
                                opposite: false,
                                title: {
                                    text: yaxisstr,
                                },
                                plotLines: [{
                                    value: minRate,
                                    color: "green",
                                    dashStyle: "shortdash",
                                    width: 2,
                                    label: {
                                        text: "Green"
                                    }
                                }, {
                                    value: maxRate,
                                    color: "red",
                                    dashStyle: "shortdash",
                                    width: 2,
                                    label: {
                                        text: "Red"
                                    }
                                }]
                            },

                            rangeSelector: {
                                selected: 8,
                                inputEnabled: false,
                                buttonTheme: {
                                    visibility: "hidden"
                                },
                                labelStyle: {
                                    visibility: "hidden"
                                }
                            },

                            legend: {
                                enabled: true,
                                align: "center",
                                verticalAlign: "top",
                                layout: "vertical",
                                y: 15,
                            },

                            series: [{
                                name: activityname,
                                data: passdata,
                                tooltip: {
                                    valueDecimals: 4
                                },
                            }],

                            credits: {
                                enabled: false
                            },
                        });

                    }
                    else
                    {

                        // Create the chart
                        window.chart = Highcharts.stockChart(con, {

                            chart: {
                                renderTo: con,
                                borderColor: '#d2d5d5',
                                borderWidth: 1,
                                type: 'line',
                            },

                            title: {
                                text: activityname
                            },

                            navigator: {
                                enabled: false,
                            },

                            scrollbar: {
                                enabled: false,
                            },

                            xAxis: {

                                type: "datetime",
                                minTickInterval: 28 * 24 * 3600 * 1000,
                            },

                            yAxis: {
                                opposite: false,
                                title: {
                                    text: yaxisstr,
                                },
                            },

                            rangeSelector: {
                                selected: 8,
                                inputEnabled: false,
                                buttonTheme: {
                                    visibility: "hidden"
                                },
                                labelStyle: {
                                    visibility: "hidden"
                                }
                            },

                            legend: {
                                enabled: true,
                                align: "center",
                                verticalAlign: "top",
                                layout: "vertical",
                                y: 15,
                            },

                            series: [{
                                name: activityname,
                                data: passdata,
                                tooltip: {
                                    valueDecimals: 4
                                },
                            }],

                            credits: {
                                enabled: false
                            },
                        });
                    }

                }

                var svg = chart.getSVG({
                    exporting: {
                        sourceWidth: chart.chartWidth,
                        sourceHeight: chart.chartHeight
                    }
                });

                $.post( "/c/ajax/getReportGraphImages", { svgelement: svg, } );

            }

            function double(seriesFirstData,seriesSecondData, seriesFirstStr, seriesSecondStr, data, yaxisstr, xaxisstr )
            {
                if (seriesFirstData.empty != "true" && flag == 1 && seriesSecondData.empty != "true" && data != "[]" && data.length > 0)
                {

                    var startDate = new Date(data[data.length - 1][0]), // Get year of last data point
                        minRate = 1,
                        maxRate = 0,
                        startPeriod,
                        date,
                        rate,
                        index;

                    startDate.setMonth(startDate.getMonth() - 3); // a quarter of a year before last data point
                    startPeriod = Date.UTC(startDate.getFullYear(), startDate.getMonth(), startDate.getDate());

                    for (index = data.length - 1; index >= 0; index = index - 1) {
                        date = data[index][0]; // data[i][0] is date
                        rate = data[index][1]; // data[i][1] is exchange rate
                        if (date < startPeriod) {
                            break; // stop measuring highs and lows
                        }
                        if (rate > maxRate) {
                            maxRate = rate;
                        }
                        if (rate < minRate) {
                            minRate = rate;
                        }
                    }

                    // Create the chart
                    window.chart = Highcharts.stockChart(con, {

                        chart: {
                            renderTo: con,
                            borderColor: '#d2d5d5',
                            borderWidth: 1,
                            type: 'line',
                        },

                        title: {
                            text: xaxisstr
                        },

                        navigator: {
                            enabled: false,
                        },

                        scrollbar: {
                            enabled: false,
                        },

                        xAxis: {
                            type: "datetime",
                            minTickInterval: 28 * 24 * 3600 * 1000,
                            {% if type.from_date_normal_concentration is defined and type.from_date_normal_concentration is not empty %}
                            min: Date.UTC({{ type.from_date_normal_concentration|date("Y") }}, {{ type.from_date_normal_concentration|date("m") }}, {{ type.from_date_normal_concentration|date("d") }},0, 0, 0),
                            max: Date.UTC({{ type.to_date_normal_concentration|date("Y") }}, {{ type.to_date_normal_concentration|date("m") }}, {{ type.to_date_normal_concentration|date("d") }},0, 0, 0),
                            {% endif %}
                            dateTimeLabelFormats: {
                                day: "%e of %b"
                            }
                        },

                        yAxis: {
                            opposite: false,
                            title: {
                                text: yaxisstr,
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: "#808080"
                            }]
                        },

                        rangeSelector: {
                            selected: 8,
                            inputEnabled: false,
                            buttonTheme: {
                                visibility: "hidden"
                            },
                            labelStyle: {
                                visibility: "hidden"
                            }
                        },

                        legend: {
                            enabled: true,
                            align: "center",
                            verticalAlign: "top",
                            layout: "vertical",
                            y: 15,
                        },

                        series: [{
                            name: seriesFirstStr,
                            data: seriesFirstData,
                            tooltip: {
                                valueDecimals: 4
                            }
                        }, {
                            name: seriesSecondStr,
                            data: seriesSecondData,
                            tooltip: {
                                valueDecimals: 4
                            }
                        },],

                        credits: {
                            enabled: false
                        },
                    });
                }
            }

            single(passdata, 1, xaxisstr, yaxisstr, con, activityname , greenThreshold, redThreshold);



        </script>

{% endblock %}

