<script src="{{ asset('assets/js/jquery.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
<script src="{{ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>
<script src="{{ asset('assets/js/aie/graphgenerate.js') }}"></script>

<h1>1.&nbsp;&nbsp;&nbsp;Introduction</h1>
<p>
    This document serves as a supplementary report which contains the long term trends in addition to recent data for corrosion control activities which are defined in {{ currYear }} Corrosion Management Status Report for the {{ subproject.name }} {{ project.referenceNo }}
</p>
<h1>2.&nbsp;&nbsp;&nbsp;Long Term Trending</h1>
<p>
    Long term data trends for {{ subproject.name }} have been established using both recent and historic data provided by {{ project.name }} in the below sections
</p>

<div>
    <div id="corrision_man_ctrl" class="table table-bordered">
        {% include 'AIECmsBundle:ReportData:corrosion_management_control.html.twig' %}
    </div>
</div>

<h1>3.&nbsp;&nbsp;&nbsp;References</h1>
<div>
    {% include 'AIECmsBundle:ReportData:files.html.twig' %}
</div>

<h1>APPENDICES</h1>
<div>
    <h1>APPENDIX-A:&nbsp;&nbsp;&nbsp;Monitoring Activities</h1>
    <h1>A.&nbsp;&nbsp;1.&nbsp;&nbsp;List of Monitoring Activities</h1>
    {% include 'AIECmsBundle:ReportData:monitoring_nonkpi.html.twig' %}
    <h1>A.&nbsp;&nbsp;2.&nbsp;&nbsp;Trends For Monitoring Activity</h1>
    <div class="table" style="width:100%" id="trends_monitoring_nonkpi_activity">
        {% include 'AIECmsBundle:ReportData:trends_monitoring_nonkpi.html.twig' %}
    </div>
</div>

<div>
    <h1>APPENDIX-B:&nbsp;&nbsp;&nbsp;Action Tracker and Meeting</h1>
    <h1>B.1.&nbsp;&nbsp;&nbsp;Meetings</h1>
    <br />
    <p>
        Status of the corrosion management system and all corrosion risks associated with the {{subproject.name}} were initially identified and assessed via a desktop study undertaken by Asset Integrity Engineering (AIE).
        The purpose of this meeting was to ensure that all stakeholders are aware of {{subproject.name}}’s corrosion management system and to establish and agree on possible gaps in the said system due to non-compliance or technical restrictions. Recommendations to close these gaps were also proposed and agreed on during this meeting.
    </p>
    {% include 'AIECmsBundle:ReportData:meetings.html.twig' %}
    <br />
    <h1>B.2.&nbsp;&nbsp;&nbsp;Action Tracker</h1>
    {% include 'AIECmsBundle:ReportData:action_tracker_items.html.twig' %}
    {% if subproject.filepath is not empty %}
        <h1>APPENDIX-C:&nbsp;&nbsp;&nbsp;&nbsp;Process Flow Diagram</h1>
        <br />
        <img src="/uploads/{{ subproject.filepath }}">
    {% endif %}
    <br />
</div>