<h1>1.&nbsp;&nbsp;&nbsp;&nbsp;Executive Summary</h1>
<p>
    This report provides a review of the corrosion threats affecting the {{ project.name }}, in {{ subproject.location }}. The report also reviews the Key Performance Indicators (KPIs) for the period of {{ project.dateRange }}, and presents recommendations for ongoing operations for this asset.
    <br />
    <br />
    A KPI traffic light summary is provided in the Table below. A traffic light system is used based on the level of non-compliance:
<ul>
    <li><span style="font-size: 13px;">Low:</span> <span style="color: #00b050;font-size: 13px;font-weight: bold;">Green</span></li>
    <li><span style="font-size: 13px;">Moderate:</span> <span style="color: #ffc000;font-size: 13px;font-weight: bold;">Amber</span></li>
    <li><span style="font-size: 13px;">High:</span> <span style="color: #ff0000;font-size: 13px;font-weight: bold;">Red</span></li>
</ul>
<span style="font-size: 13px;">For corrosion control, where no data is available within the period covered by this report, the most recent available data is presented.</span>
<br/>
</p>
<div>
    {% include 'AIECmsBundle:ReportData:kpi_indicators.html.twig' %}
</div>

<h1>2.&nbsp;&nbsp;&nbsp;&nbsp;Introduction</h1>
<p>
    The primary duty of {{ project.client }}’s asset management is to maintain the integrity of their facilities so that they operate safely and in accordance with the principle of ALARP (As Low As Reasonably Practicable), with respect to risk. Loss of hydrocarbon containment due to corrosion can result in severe consequences, not only in terms of safety, but also on the environment and the commercial profitability of the asset. This also applies to non- hydrocarbon and utility systems as the loss of containment in these facilities can have detrimental impacts on the overall operation of the facility.
    <br />
    <br />
    Corrosion Management is accepted as an integral part of the {{ project.client }}’s Integrity Management Standard, and is fundamental in maintaining HSE standards and sustaining business performance.
    <br />
    <br />
    This report provides a review of the corrosion threats affecting the {{ subproject.name }}, in {{ subproject.location }}. {{ subproject.description|nl2br }}
    <br />
    <br />
    This report reviews the Key Performance Indicators (KPI) and presents recommendations for on - going operations at {{ subproject.name }}.
    <br />
</p>

<h3>2.1.&nbsp;&nbsp;&nbsp;&nbsp;Abbreviations</h3>
<br/>
<table class="table table-bordered">
    <tbody>
    <tr style="background-color:#FFFFFF">
        <td width="181">
            <p>AIE</p>
        </td>
        <td width="409">
            <p>Asset Integrity Engineering FZE</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>ALARP</p>
        </td>
        <td width="409">
            <p>As Low As Reasonably Practicable</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>Cells/ml</p>
        </td>
        <td width="409">
            <p>Cells per milli litre</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>CI</p>
        </td>
        <td width="409">
            <p>Corrosion Inhibitor</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>CMS</p>
        </td>
        <td width="409">
            <p>Corrosion Management Strategy</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>CP</p>
        </td>
        <td width="409">
            <p>Cathodic Protection</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>KPI</p>
        </td>
        <td width="409">
            <p>Key Performance Indicators</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>mg/l</p>
        </td>
        <td width="409">
            <p>milligrams per litre</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>mpy</p>
        </td>
        <td width="409">
            <p>mills per year</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>PIMS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </td>
        <td width="409">
            <p>Pipeline Integrity Management System</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>ppm</p>
        </td>
        <td width="409">
            <p>parts per million</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>Q1</p>
        </td>
        <td width="409">
            <p>First Quarter</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>Q2</p>
        </td>
        <td width="409">
            <p>Second Quarter</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>Q3</p>
        </td>
        <td width="409">
            <p>Third Quarter</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>Q4</p>
        </td>
        <td width="409">
            <p>Fourth Quarter</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>RBA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </td>
        <td width="409">
            <p>Risk Based Analysis</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>RBI</p>
        </td>
        <td width="409">
            <p>Risk Based Inspection</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>ROV</p>
        </td>
        <td width="409">
            <p>Remotely Operated Vehicle</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>SRB</p>
        </td>
        <td width="409">
            <p>Sulphate Reducing Bacteria</p>
        </td>
    </tr>
    </tbody>
</table>

<h1>3.&nbsp;&nbsp;&nbsp;&nbsp;Key Performance Indicators</h1>
<p>
    KPIs are pre-defined quantitative and measurable targets that monitor to what extent procedures are being followed and, in the case of overall high-level performance indicators, establish whether the integrity of the asset is maintained. Failure to achieve the targets set by the key performance indicators is a strong indication that either the integrity of the asset is not properly maintained or that modification of the management system is required.
</p>
<p>
    The KPIs are subdivided into corrosion management and corrosion control KPIs. Management KPIs ensure that the data required for corrosion control is available and is assessed, and that any required changes are implemented. Control KPIs ensure the accurate monitoring and controlling of the corrosion processes.
</p>
<div>
    {% include 'AIECmsBundle:ReportData:defined_kpis.html.twig' %}
</div>

<h1>4.&nbsp;&nbsp;&nbsp;Production Profile</h1>
<div id="production_profile" class="table table-bordered">
    {% include 'AIECmsBundle:ReportData:production_profile.html.twig' %}
</div>

<h1>5.&nbsp;&nbsp;&nbsp;&nbsp;Corrosion Management and Control</h1>
<div style="margin: 10px;">
    <p>Corrosion Control and Management Matrices are up to date for the {{ subproject.name }}. Corrosion matrices inform {{ project.client }} about what is required to meet the KPI standards, the consequences of not meeting the standards and the remedial action to resolve any subsequent corrosion related threats.</p>
    {% if reportType == 1%}
        <p>
            Long-term data trends for {{ subproject.name }} have been established using both recent and historic data provided by {{ project.name }} in the below sections, and can be found in "Enter Supplementary report's document number here".
        </p>
    {% endif %}
    <div id="corrision_man_ctrl" class="table table-bordered" style="padding: 0; width: 100%; text-align: left; text-indent: 0;">
        {% include 'AIECmsBundle:ReportData:corrosion_management_control.html.twig' %}
    </div>
</div>

<h1>6.&nbsp;&nbsp;&nbsp;Recommendations</h1>
<div>
    <table id="recommendations" class="table table-bordered">
        {% include 'AIECmsBundle:ReportData:recommendations.html.twig' %}
    </table>
</div>

<h1>7.&nbsp;&nbsp;&nbsp;References</h1>
<div>
    {% include 'AIECmsBundle:ReportData:files.html.twig' %}
</div>

{% if reportType != 1 %}
    <h1>APPENDICES</h1>
    <div>
        <h1>APPENDIX-A:&nbsp;&nbsp;&nbsp;&nbsp;Monitoring Activities</h1>
        <h1>A.&nbsp;1.&nbsp;&nbsp;&nbsp;List of Monitoring Activities</h1>
        {% include 'AIECmsBundle:ReportData:monitoring_nonkpi.html.twig' %}
        <h1>A&nbsp;2.&nbsp;&nbsp;&nbsp;Trends For Monitoring Activity</h1>
        <div class="table" style="width:100%" id="trends_monitoring_nonkpi_activity">
            {% include 'AIECmsBundle:ReportData:trends_monitoring_nonkpi.html.twig' %}
        </div>
    </div>
    <div>
        <h1>APPENDIX-B:&nbsp;&nbsp;&nbsp;Action Tracker and Meeting</h1>
        <h1>B.1.&nbsp;&nbsp;&nbsp;Meetings</h1>
        <br />
        <p>
            Status of the corrosion management system and all corrosion risks associated with the {{subproject.name}} were initially identified and assessed via a desktop study undertaken by Asset Integrity Engineering (AIE).
            The purpose of this meeting was to ensure that all stakeholders are aware of {{subproject.name}}’s corrosion management system and to establish and agree on possible gaps in the said system due to non-compliance or technical restrictions. Recommendations to close these gaps were also proposed and agreed on during this meeting.
        </p>
        {% include 'AIECmsBundle:ReportData:meetings.html.twig' %}
        <br />
        <h1>B.2.&nbsp;&nbsp;&nbsp;Action Tracker</h1>
        {% include 'AIECmsBundle:ReportData:action_tracker_items.html.twig' %}
        {% if subproject.filepath is not empty %}
            <h1>APPENDIX-C:&nbsp;&nbsp;&nbsp;Process Flow Diagram</h1>
            <br />
            <img src="/uploads/{{ subproject.filepath }}">
        {% else %}
            N/A
        {% endif %}
        <br />
    </div>
{% elseif reportType == 1 %}
    <div>
        <h1>8.&nbsp;&nbsp;&nbsp;Action Tracker</h1>
        {% include 'AIECmsBundle:ReportData:action_tracker_items.html.twig' %}
        <br />
    </div>
{% endif %}

<br />