<h1>1.&nbsp;&nbsp;&nbsp;Executive Summary</h1>
<p>
    This report provides an overview of the flow assurance management system and the threats affecting the
    {{ subproject.location }} and its associated offshore well and platform in {{ project.dateRange }}.
    <br />
    The report analyses the trends obtained by tracking the different flow assurance control and management
    activities conducted from January to March 2019. The performance of the asset, with respect to
    maintaining its integrity, is analysed based on defined Key Performance Indicators (KPIs).

    <br />
    A KPI traffic light summary is provided in the Table below. A traffic light system is used based on the level of non-compliance:
<ul>
    <li><span style="font-size: 13px;">Low:</span> <span style="color: #00b050;font-size: 13px;font-weight: bold;">Green</span></li>
    <li><span style="font-size: 13px;">Moderate:</span> <span style="color: #ffc000;font-size: 13px;font-weight: bold;">Amber</span></li>
    <li><span style="font-size: 13px;">High:</span> <span style="color: #ff0000;font-size: 13px;font-weight: bold;">Red</span></li>
</ul>
<span style="font-size: 13px;">For flow assurance control, where no data is available within the period covered by this report, the most recent data is presented.</span>
<br/>
</p>

{#<h1>2.&nbsp;&nbsp;&nbsp;Main Operational Events</h1>#}
<p>
    <div>
        {% include 'AIECmsBundle:ReportData:flowkpi_indicators.html.twig' %}
    </div>
</p>

<h1>2.&nbsp;&nbsp;&nbsp;Introduction</h1>
<p>
    The primary duty of {{ project.client }}’s asset management is to maintain the integrity of their facilities so that they operate safely and in accordance with the principle of ALARP (As Low As Reasonably Practicable), with respect to risk. Loss of hydrocarbon containment due to flow assurance can result in severe consequences, not only in terms of safety, but also on the environment and the commercial profitability of the asset. This also applies to non- hydrocarbon and utility systems as the loss of containment in these facilities can have detrimental impacts on the overall operation of the facility.
    <br />
    <br />
    Flow Assurance Management is accepted as an integral part of the {{ project.client }}’s Integrity Management Standard, and is fundamental in maintaining HSE standards and sustaining business performance.
    <br />
    <br />
    This report provides a review of the flow assurance threats affecting the {{ subproject.name }}, in {{ subproject.location }}. {{ subproject.description|nl2br }}
    <br />
    <br />
    This report reviews the Key Performance Indicators (KPI) and presents recommendations for on - going operations at {{ subproject.name }}.
    <br />
</p>

<h3>2.1.&nbsp;&nbsp;&nbsp;Abbreviations</h3>
<br/>
<table class="table table-bordered">
    <tbody>
    <tr style="background-color:#FFFFFF">
        <td width="181">
            <p>AIE</p>
        </td>
        <td width="409">
            <p>Asset Integrity Engineering FZE</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>ALARP</p>
        </td>
        <td width="409">
            <p>As Low As Reasonably Practicable</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>Cells/ml</p>
        </td>
        <td width="409">
            <p>Cells per milli litre</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>CI</p>
        </td>
        <td width="409">
            <p>Corrosion Inhibitor</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>CMS</p>
        </td>
        <td width="409">
            <p>Corrosion Management Strategy</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>CP</p>
        </td>
        <td width="409">
            <p>Cathodic Protection</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>KPI</p>
        </td>
        <td width="409">
            <p>Key Performance Indicators</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>mg/l</p>
        </td>
        <td width="409">
            <p>milligrams per litre</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>mpy</p>
        </td>
        <td width="409">
            <p>mills per year</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>PIMS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </td>
        <td width="409">
            <p>Pipeline Integrity Management System</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>ppm</p>
        </td>
        <td width="409">
            <p>parts per million</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>Q1</p>
        </td>
        <td width="409">
            <p>First Quarter</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>Q2</p>
        </td>
        <td width="409">
            <p>Second Quarter</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>Q3</p>
        </td>
        <td width="409">
            <p>Third Quarter</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>Q4</p>
        </td>
        <td width="409">
            <p>Fourth Quarter</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>RBA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </td>
        <td width="409">
            <p>Risk Based Analysis</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>RBI</p>
        </td>
        <td width="409">
            <p>Risk Based Inspection</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>ROV</p>
        </td>
        <td width="409">
            <p>Remotely Operated Vehicle</p>
        </td>
    </tr>
    <tr>
        <td width="181">
            <p>SRB</p>
        </td>
        <td width="409">
            <p>Sulphate Reducing Bacteria</p>
        </td>
    </tr>
    </tbody>
</table>

<h1>3.&nbsp;&nbsp;&nbsp;Key Performance Indicators</h1>

<p>
KPIs are pre-defined quantitative and measurable targets that measure the extent to which procedures are being followed and, in the case of overall high-level performance indicators, establish whether economic and successful flow in the asset is maintained. Failure to achieve the targets set by the key performance indicators is a strong indication that either the feasible flow in the asset is not properly maintained or that modification of the management system is required.
</p>

<p>
The KPIs are subdivided into flow assurance management and flow assurance control KPIs. Management KPIs ensure that the data required for flow assurance control is available and is assessed, and that any required changes are implemented. Control KPIs ensure the accurate monitoring and controlling of the flow assurance processes.
</p>

<p>
Where KPI targets have not been met, the cause is identified and analysed. Recommendations have also been provided to ensure that the targets set by the KPIs are achieved in the future.
</p>
<div>
    {% include 'AIECmsBundle:ReportData:flowdefined_kpis.html.twig' %}
</div>

<h1>4.&nbsp;&nbsp;&nbsp;Flow Assurance Management and Control</h1>
<div>
    <div id="flowassurance_man_ctrl" class="table table-bordered" style="padding: 0; width: 100%; text-align: left; text-indent: 0;">
        {% include 'AIECmsBundle:ReportData:flowassurance_management_control.html.twig' %}
    </div>
</div>

<h1>5.&nbsp;&nbsp;&nbsp;Recommendations</h1>
<div>
    <table id="recommendations" class="table table-bordered">
        {% include 'AIECmsBundle:ReportData:recommendations.html.twig' %}
    </table>
</div>

<h1>6.&nbsp;&nbsp;&nbsp;References</h1>
<div>
    {% include 'AIECmsBundle:ReportData:files.html.twig' %}
</div>