{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Planning</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Plan Duration</h3>
        </div>
        <div class="panel-body">
            {{ form_start(filter_form) }}

            <div class="col-lg-12">
                <div class="left col-lg-6">{{ form_label(filter_form.filter_form.from_date) }}{{ form_widget(filter_form.filter_form.from_date) }}</div>
                <div class="left col-lg-6">{{ form_label(filter_form.filter_form.to_date) }}{{ form_widget(filter_form.filter_form.to_date) }}</div>
            </div>
            <div class="col-lg-12">
                <div class="left col-lg-9">{{ form_label(filter_form.filter_form.type) }}{{ form_widget(filter_form.filter_form.type) }}</div>
                <div class="left col-lg-3">{{ form_widget(filter_form.submit) }}</div>
            </div>
            {{ form_end(filter_form) }}
        </div>
    </div>

    {% if actions is not null %}
        <div class="col-lg-12">
            {% include 'AIEAnomalyBundle:Management:planning_summary.html.twig' %}
            {% if actions|length > 0 %}
                {% include 'AIEAnomalyBundle:Management:' ~ registrar_table ~ '_table.html.twig' %}
            {% else %}
                <div class="col-lg-12">
                    <div class="alert alert-info">Nothing to Plan</div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}