{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    {% set grantedEdit = is_granted('ROLE_PROJECT_BASEDATA_EDIT', project) %}
    {% set grantedAdd = is_granted('ROLE_PROJECT_BASEDATA_ADD', project) %}
<h1>Mitigation Techniques</h1>

<table class="records_list table-bordered">
    <thead>
        <tr>
            <th rowspan="2">Mitigation Technique</th>
            <th rowspan="2">Description</th>
            <th colspan="5" style="text-align: center;">Risk</th>
            {% if grantedEdit %}<th rowspan="2">Actions</th>{% endif %}
        </tr>

        <tr>
            <th>Very Low</th>
            <th>Low</th>
            <th>Medium</th>
            <th>High</th>
            <th>Very High</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.mitigationTechnique }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.vlfreq }}</td>
                <td>{{ entity.lfreq }}</td>
                <td>{{ entity.mfreq }}</td>
                <td>{{ entity.hfreq }}</td>
                <td>{{ entity.vfreq }}</td>
                {% if grantedEdit %}
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('projectmitigationtechniques_edit', { 'id': entity.id, 'projectId':projectId }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
    {% if grantedAdd %}<ul>
        <li>
            <a href="{{ path('projectmitigationtechniques_new', {'projectId':projectId}) }}">
                Create a new mitigation technique
            </a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
