{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>New Mitigation Technique</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('projectmitigationtechniques', {'projectId':projectId}) }}">
            Back to mitigation techniques
        </a>
    </li>
</ul>
{% endblock %}
