{% extends 'AIEIntegrityAssessmentBundle:Default:wizard.html.twig' %}

{% block steps -%}

    {% for section in sections %}
        <li data-target="#step{{ section.id }}" {% if loop.index == 1 %}class="active"{% endif %}><span
                    class="badge badge-info">{{ loop.index }}</span>{{ section.section }}<span class="chevron"></span>
        </li>
    {% endfor %}

{% endblock %}
{% block steps_content %}
    {{ form_start(form) }}
    {% for section in sections %}
        <div class="step-pane {% if loop.index == 1 %}active{% endif %}" id="step{{ section.id }}">

            <table class="records_list table-bordered">
                <thead>
                <tr>
                    <th>Threat</th>
                    <th>Mitigation Technique</th>
                    <th style="width: 190px;">Last Inspection Date</th>
                    <th style="width: 170px;">Files</th>
                    <th>Performance Standard</th>
                    <th>Mitigation Status</th>
                    <th style="width:92px">Comments</th>
                    <th style="width: 150px">Recommendations</th>
                </tr>
                </thead>
                <tbody>
                {% set threatName = '' %}
                {% for sma in mitigationAction[section.id] %}

                    {% set continues = (sma.mitigationTechnique.vfreq ==0  and sma.mitigationTechnique.hfreq == 0 and sma.mitigationTechnique.mfreq == 0 and sma.mitigationTechnique.lfreq == 0) %}

                    {% if threatName != sma.sectionsThreats.threats.name %}
                        {% set threatName = sma.sectionsThreats.threats.name %}
                        <tr>
                            <td rowspan="{{ sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] }}">{{ sma.sectionsThreats.threats.name }}</td>
                            <td>{{ sma.mitigationTechnique.mitigationTechnique }}</td>
                            <td>
                                <div {% if continues %}class="hidden"{% endif %}>{{ form_widget ( attribute( attribute(form, 'sma_' ~ sma.id ), 'last_inspection_date') ) }} </div>
                            </td>
                            <td>{{ form_widget( attribute( attribute(form, 'sma_' ~ sma.id ), 'files') ) }}</td>
                            <td>{{ form_widget( attribute( attribute(form, 'sma_' ~ sma.id ), 'performanceStandard') ) }}</td>
                            <td>{{ form_widget( attribute( attribute(form, 'sma_' ~ sma.id ), 'mitigationStatus') ) }}</td>
                            <td>{{ form_widget( attribute( attribute(form, 'sma_' ~ sma.id ), 'comments') ) }}</td>
                            <td>{{ form_widget( attribute( attribute(form, 'sma_' ~ sma.id ), 'recommendations') ) }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ sma.mitigationTechnique.mitigationTechnique }}</td>
                            <td>
                                <div {% if continues %}class="hidden"{% endif %}>{{ form_widget ( attribute( attribute(form, 'sma_' ~ sma.id ), 'last_inspection_date') ) }} </div>
                            </td>
                            <td>{{ form_widget( attribute( attribute(form, 'sma_' ~ sma.id ), 'files') ) }}</td>
                            <td>{{ form_widget( attribute( attribute(form, 'sma_' ~ sma.id ), 'performanceStandard') ) }}</td>
                            <td>{{ form_widget( attribute( attribute(form, 'sma_' ~ sma.id ), 'mitigationStatus') ) }}</td>
                            <td>{{ form_widget( attribute( attribute(form, 'sma_' ~ sma.id ), 'comments') ) }}</td>
                            <td>{{ form_widget( attribute( attribute(form, 'sma_' ~ sma.id ), 'recommendations') ) }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}

                </tbody>
                {{ form_row(form._token) }}
            </table>

        </div>
    {% endfor %}

    <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardNext" value="Next"></div>
    <div class="col-lg-1 right">{{ form_widget(form.submit) }}</div>
    <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardPrev" value="Back"></div>
    {{ form_end(form) }}
    <a id="nextLink" href="{{ path('sectionsthreats_liklyhood', {'pipelineId':pipelineId}) }}"
       style="display: none;"></a>
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/popBox/popBox1.3.0.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/popBox/popBox1.3.0.js') }}" type="text/javascript"></script>
    <script>
        $('.files').multiselect({
            includeSelectAllOption: false,
            enableFiltering: true,
            maxHeight: 150,
            buttonWidth: 150,
            numberDisplayed: 0,
            label: function (element) {
                var text = $(element).text();
                $(element).html(text);
                return $(element).html();
            }
        });
        $('.records_list textarea').popBox({
            width: 200,
            height: 200,
            newlineString: "\n",
            btnValue: 'Done',
            btnClass: 'btn btn-primary'
        });
    </script>
{% endblock %}