{% extends 'AIEIntegrityAssessmentBundle:Default:wizard.html.twig' %}

{% block steps -%}

    {% for section in sections %}
        <li data-target="#step{{section.id}}" {% if loop.index == 1 %}class="active"{% endif %}><span class="badge badge-info">{{ loop.index }}</span>{{ section.section }}<span class="chevron"></span></li>
            {% endfor %}

{% endblock %}
{% block steps_content %}
    {{ form_start(form) }}

    <div style="height: 580px; overflow: auto; margin-bottom: 20px;">
        {% for section in sections %}
            <div class="step-pane {% if loop.index == 1 %}active{% endif %}" id="step{{section.id}}">

                <table class="records_list table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                                {% for threat in section.ste %}
                                <th>{{ threat.threats.name }}</th>
                                {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for mitigation in mitigations %}
                            <tr>
                                <td>{{ mitigation.mitigationTechnique }}</td>
                                {% for threat in section.ste %}
                                    {% set column = 'stm_' ~ section.id ~ '_' ~ threat.id ~ '_' ~ mitigation.id %}
                                        <td> {{ form_widget(attribute(form, column)) }} </td>
                                        {% endfor %}
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>



                                </div>
                                {% endfor %}
                                </div>
                                <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardNext" value="Next"></div>
                                <div class="col-lg-1 right">{{ form_widget(form.submit) }}</div>
                                <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardPrev" value="Back"></div>

                                {{ form_end(form) }}

                                <a id="nextLink" href="{{ path('sectionsthreatsmitigations_details', {'pipelineId':pipelineId}) }}" style="display: none;"></a>

                                {% endblock %}
