{% extends '::base.html.twig' %}

{% block body -%}
    <h1>SectionsThreatsMitigations</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Mitigationstatus</th>
                <td>{{ entity.mitigationStatus }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ entity.comments }}</td>
            </tr>
            <tr>
                <th>Recommendations</th>
                <td>{{ entity.recommendations }}</td>
            </tr>
            <tr>
                <th>Last_inspection_date</th>
                <td>{{ entity.lastinspectiondate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>VL_freq</th>
                <td>{{ entity.vlfreq }}</td>
            </tr>
            <tr>
                <th>L_freq</th>
                <td>{{ entity.lfreq }}</td>
            </tr>
            <tr>
                <th>M_freq</th>
                <td>{{ entity.mfreq }}</td>
            </tr>
            <tr>
                <th>H_freq</th>
                <td>{{ entity.hfreq }}</td>
            </tr>
            <tr>
                <th>Vh_freq</th>
                <td>{{ entity.vhfreq }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sectionsthreatsmitigations') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sectionsthreatsmitigations_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
