{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block left_container %}{% endblock %}
{% block content_container -%}
    <div id="requests">
        <div class="col-lg-12">
            <h1>Requests</h1>
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
            <table class="records_list">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Register ID</th>
                    <th>Project Name</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Register</th>
                    <th>Request</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for key, entity in entities %}
                {% set registerMas = entity.type|split("\\") %}
                    <tr>
                        <td>
                           {{ entity.id }}
                        </td>
                        <td>
                            <a href="{{ path('anomaly_' ~ entity.registrarcode|lower ~ '_show', {'projectId': entity.registrarprojectid, 'id': entity.registrarid }) }}"></a>
                            {% if entity.requeststatus == 'deferral' %}
                                <a href="{{ path('anomaly_deferral_request', { 'id': entity.id, 'projectId': entity.registrarprojectid }) }}">{{ entity.registrarfullid }}</a>
                           {% else %}
                                <a href="{{ path('anomaly_requests_show', { 'id': entity.id }) }}">{{ entity.registrarfullid }}</a>
                            {% endif %}
                        </td>
                         <td>{{ entity.registrarprojectname }}</td>
                        <td>{% if entity.date %}{{ entity.date|date('d M Y') }}{% endif %}</td>
                        <td>{% if entity.registrarcode == 'PL' %}
                                  Pipeline
                            {% elseif entity.registrarcode == 'PI' %}
                                  Piping
                            {% elseif entity.registrarcode == 'SE' %}
                                  Static Equipment
                            {% elseif entity.registrarcode == 'ST' %}
                                  Structure
                            {% elseif entity.registrarcode == 'MR' %}
                                  Marine
                            {% else %}
                                  Anomaly
                            {% endif %}
                        </td>
                        <td>{{ registerMas[4]|replace({"Pipeline": "", "Piping" : "", "Static Equipment" : "", "Structure" : "", "Marine" : "", "RepairOrderRegistrar" : "Repair Order" , "FabricMaintenanceRegistrar" : "Fabric Maintenance", "TemporaryRepairOrderRegistrar" : "Temporary Repair Order"}) }}</td>
                        <td>{{ entity.requeststatus }}</td>
                        <td>
                            {% if entity.requeststatus == 'deferral' %}
                                <a href="{{ path('anomaly_deferral_request', { 'id': entity.id, 'projectId': entity.registrarprojectid }) }}">Show</a>
                           {% else %}
                                <a href="{{ path('anomaly_requests_show', { 'id': entity.id }) }}">Show</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
