{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block left_container %}{% endblock %}
{% block content_container -%}
    <div id="requests">
        <div class="col-lg-12">
            <h1>Request creation</h1>

            {{ form(form) }}

            <ul class="record_actions">
                <li>
                    <a href="{{ path('anomaly_requests') }}">
                        Back to the list
                    </a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}