{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block left_container %}{% endblock %}
{% block content_container %}
    <div id="requests">
   
        <div class="col-lg-12">
            <h1>Request</h1> 
            <h6 align="right">
            <a href="#"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Represents fields modified, Hover the blue asterisk next to label to see the original value</a> 
            </h6>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" id="approval-history-title">Request History</h3>
                </div>
                <div class="panel-body" id="approval-history-body">
                    <table class="records_list">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Request Date</th>
                            <th>Attached Report</th>
                            <th>Approval Authority</th>
                            <th>Authority Reply Date</th>
                            <th>Status</th>
                            <th>Authority Justification</th>
                            <th>Attached Files</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for request in history %}
                            <tr>
                                <td>{{ request.id }}</td>
                                <td>{{ request.requestedBy? users[request.requestedBy.userId].username }}</td>
                                <td>{{ request.date|date('d F Y') }}</td>
                                <td></td>
                                <td>{{ request.answeredBy? users[request.answeredBy.userId].username }}</td>
                                <td>{{ request.answeredDate|date('d F Y') }}</td>
                                <td>{% if request.status < 0 %}Not Approved{% else %}{{ request.statusChoices[request.status] }}{% endif %}</td>
                                <td>{{ request.justification }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Request Details</h3>
                </div>
                <div class="panel-body">
                    <table class="record_properties">
                        <tbody>
                        <tr>
                            <th>Request ID</th>
                            <td>{{ entity.id }}</td>
                        </tr>
                        <tr>
                            <th>Register ID</th>
                            <td>
                                <a href="{{ path('anomaly_' ~entity.registrar.code|lower ~ '_show', {'projectId': entity.registrar.project.id, 'id': entity.registrar.id }) }}">{{ entity.registrar.fullId }}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            {{ form_start(entity_form) }}
            {% set project = entity.registrar.project %}
            {% if is_anomaly %}
                {% include 'AIEAnomalyBundle:AnomalyRegistrar:request_form.html.twig' with {'form':entity_form, 'project': project, 'projectId': project.id} %}
            {% else %}
                {% include 'AIEAnomalyBundle:ActionRegistrar:request_form.html.twig' with {'form':entity_form, 'anomaly_form': anomaly_form, 'project': project, 'projectId': project.id} %}
            {% endif %}
            {% if class(project) == 'RiskProject' %}
                <input type="hidden" value="{{ project.riskMatrix.matrix }}" id="risk-matrix"/>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">Additional Details:</div>
                <div class="panel-body">
                    {{ form_widget(entity_form) }}
                    {{ form_end(entity_form) }}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Response Management</h3>
                </div>
                <div class="panel-body">
                    {{ form(edit_form) }}
                </div>
            </div>
            <ul class="record_actions">
                <li>
                    <a href="{{ path('anomaly_requests') }}">
                        Back to the list
                    </a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% include 'AIEVeracityBundle:Files:files.js.twig' %}
    {% include 'AIEAnomalyBundle:Registrar:new_js.html.twig' %}
    <script>
        $(document).ready(function () {
            $('#approval-history-body').hide();
            $('#approval-history-title').click(function () {
                $('#approval-history-body').toggle();
            });

            $("#aie_bundle_anomalybundle_request_status option:first").attr('selected','selected');

            var label = null;
            var entityObj = {{entity_obj|json_encode|raw}};
            var mainEntity = {{mainEntity|json_encode|raw}};

            $.each(entityObj, function(k,v){

                if (v != mainEntity[k])
                {
                    var check_name_b = k.trim().split(" ");
                    if (check_name_b.length < 2) {
                        if (!hasUpperCase(k))
                        {
                            var dInput = k.toLowerCase();
                        }
                        else
                        { 
                            var dInput = k;
                            dInput = dInput.substr(0, 1).toLowerCase() + dInput.substr(1);
                        }
                    }
                    else
                    {
                        check_name_b[1] = check_name_b[1].substr(0, 1).toUpperCase() + check_name_b[1].substr(1);
                        var dInput = check_name_b[0].toLowerCase()+check_name_b[1];
                    }
                    
                    var findEle = "[name*=" + "'" + dInput + "'" +"]";
                    label = $(findEle).first().closest('.form-group').find('label').first();
                    if(label.length == 0){
                        label = $(findEle).first().closest('.form-group').parents('.form-group').first().find('label').first();
                    }
                    if (dInput == 'probability' || dInput == 'consequence'){
                        mainEntity[k]= mainEntity[k] + 1;
                    }
                    if(label) {
                        label.html(label.text() + ' <a href="#" data-toggle="tooltip" data-placement="left" title="' + mainEntity[k] + '" class="right"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></a>');
                    }
                }
            });

            function hasUpperCase(str) {
                return (/[A-Z]/.test(str));
            }

            $('[data-toggle="tooltip"]').tooltip({'html': true});
        });

        $(document).on('submit', 'form', function(e) {
            $( "#aie_bundle_anomalybundle_request_status option:selected" ).each(function() {
                if ( $( this ).val() == "1" ){
                    var status = $("#aie_bundle_anomalybundle_pipelineanomaly_status").val();
                    var has_live = {{ has_live_actions|default(false)?'true':'false' }};
                    if (has_live && status != 0) {
                        var r = confirm("Approving the Closed / Cancelled anomaly will cancel the related items on the action registers, do you want to proceed?");
                        if (r == false) {
                            e.preventDefault();
                            return false;
                        }
                    }
                }
               
            });
        });
    </script>
{% endblock %}
