{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Projects</h1>
    <table class="records_list">
        <thead>
            <tr>
                <th style="width: 20%;">Name</th>
                <th style="width: 37%;">Description</th>
                <th style="width: 10%;">Reference #</th>
                <th style="width: 13%;">Company</th>
                <th style="width: 10%;">Location</th>
                <th style="width: 10%;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if grantedShow %}
            {% for entity in pagination %}
                <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <td>
                            <a href="{{ path('cms_list_subprojects', { 'id': entity.id }) }}">{{ entity.name }}</a>
                    </td>
                    <td>{{ entity.description|nl2br }}</td>
                    <td>{{ entity.referenceNo }}</td>
                    <td>{{ entity.client }}</td>
                    <td>{{ entity.location }}</td>
                    <td>
                        <ul>
                            {% if grantedEdit %}
                            <li>
                                <a href="{{ path('cms_projects_edit', { 'id': entity.id }) }}">Edit</a>
                            </li>
                            {% endif %}
                            {% if grantedDelete %}
                             <li>
                                <a href="{{ path('cms_projects_show', { 'id': entity.id }) }}">Delete</a>
                            </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}

