{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>
        {% if entity.filepath %}
        <span class="company-logo">
            <img src="{{ asset(get_file_path(entity.filepath)) }}" alt="{{ entity.name }}" title="{{ entity.name }}" width="100">
        </span>
        {% endif %}
        {{ entity.name }}
    </h1>
    <h1>Sub-Projects</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th style="width: 20%;">Names</th>
                <th style="width: 43%;">Description</th>
                <th style="width: 12%;">Reference #</th>
                <th style="width: 15%;">Location</th>
                <th style="width: 10%;">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if grantedShow %}
            {% for entity in entities %}
                    <tr>
                    <td><a href="{{ path('cms_subprojects_dashboard', { 'id': entity.id, 'projectId': entity.project.id }) }}">{{ entity.name }}</a></td>
                    <td>{{ entity.description|nl2br }}</td>
                    <td>{{ entity.referenceNo }}</td>
                    <td>{{ entity.location }}</td>
                    <td>
                        <ul>
                            {% if grantedEdit %}
                            <li>
                                <a href="{{ path('cms_subprojects_edit', { 'id': entity.id, 'projectId': entity.project.id }) }}">Edit</a>
                            </li>
                            {% endif %}
                            {% if grantedDelete %}
                             <li>
                                <a href="{{ path('cms_subprojects_show', { 'id': entity.id, 'projectId': entity.project.id }) }}">Delete</a>
                            </li>
                            {% endif %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
