{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Consequence Category</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('consequencescategories') }}">
            Back to consequence categories
        </a>
    </li>
</ul>
{% endblock %}
