{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
<h1>Consequence Categories</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr><td>{{ entity.name }}</td>
                <td>{{ entity.desc1 }}</td>
                <td>{{ entity.desc2 }}</td>
                <td>{{ entity.desc3 }}</td>
                <td>{{ entity.desc4 }}</td>
                <td>{{ entity.desc5 }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('consequencescategories_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('consequencescategories_new') }}">
                Create a new consequence category
            </a>
        </li>
    </ul>
    {% endblock %}
