{% set anomalyType = entity.anomaly.code|lower %}

{% block content %}

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {% embed 'AIEAnomalyBundle:ActionRegistrar:form.html.twig' with {'show_attachments': false} %}
        {% block attachments %}{% endblock %}
    {% endembed %}

    {{ form_row(form.status) }}
    {{ form_row(form.spa) }}

    {{ form_rest(form) }}
    {% if class(project) == 'RiskProject' %}
        <input type="hidden" value="{{ project.riskMatrix.matrix }}" id="risk-matrix"/>
    {% endif %}
    {{ form_end(form) }}

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path('anomaly_ro', {'projectId': projectId, 'type' : anomalyType }) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('anomaly_ro_edit', { 'projectId': projectId, 'id': entity.id, 'type': anomalyType }) }}" class="btn btn">
                <span class="glyphicon glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
            </a>
        </li>
    </ul>
{% endblock %}
