{% extends layout %}

{% block content -%}
    <h1>Approval Owners</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Approval Owner</th>
                <th>Category</th>
                {#<th>Sub-Category</th>#}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.user.username }}</td>
                <td>{{ entity.anomalyCategory }}</td>
                {#<td>{{ entity.actionCategory }}</td>#}
                <td>
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu{{ entity.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <spna style="font-size: 15px; font-weight: bold;">...</spna>
                        </button>
                        {% if (editGranted == 1 or deleteGranted == 1 )%}
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu{{ entity.id }}">
                            {% if editGranted == 1 %}
                            <li>
                                <a href="{{ path('anomaly_approvalowners_edit', { 'id': entity.id, 'projectId': projectId }) }}">Edit</a>
                            </li>
                            {% endif %}
                            {% if deleteGranted == 1 %}
                            <li>
                                <a href="{{ path('anomaly_approvalowners_delete', { 'id': entity.id, 'projectId': projectId }) }}">Delete</a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul class="nav nav-pills">
        {% if createGranted == 1 %}
        <li>
            <a href="{{ path(route_base ~ '_new', {'projectId': projectId }) }}" class="btn btn">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create a new approval owner
            </a>
        </li>
        {% endif %}
    </ul>
    {% endblock %}
