{% extends layout %}

{% block content -%}
    <h1>New Approval Owner</h1>

    {{ form(form) }}

    <ul class="nav nav-pills">
        <li>
            <a href="{{ path(route_base, {'projectId': projectId}) }}" class="btn btn">
                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
