﻿body {
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

h1 {
    line-height: 0.5em;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
    position: relative;
    top:0;
}

p {
    font-size: 24px;
    line-height: 3em;
    color: #FFFFFF;
}

a {
    color: inherit;
}
a:hover {

    text-decoration: none;
}

.container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: block;
    top: 20%;
}

.col {
    width: 100%;
    padding: 5%;
    margin-bottom: 5%;
}


/* the blue circle with only one line of text, centered vertically */
.oneline:after {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: #96979a;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.oneline:hover:after {
    background-color: #e6a667;
}

.col:hover:after {
    background-color: #e6a667;
}

.oneline div {
    float: left;
    width: 100%;
    padding-top: 60%;
    line-height: 1em;
    margin-top: -1.7em;
    text-align: center;
}

.oneline p {
    text-align: center;
    font-size: 1.6em;
    line-height: 1em;
    font-family: 'din-m',sans-serif;
}

.jumbotron {
    background-color: #1e2060;
    position: relative;
    top: -10px;
    bottom: -10px;
    height: 130px;
}

.panel {
    border: 0;
}

.table > thead > tr > th, .table > thead > tr > td {
    border: 0;
}


@media only screen and (min-width: 350px) {
    .col {
        display: inline-block;
        position: relative;
        width: 23%;
        margin-left: 20px;
        margin-top: 50px;
        padding: 0;
        background-color: transparent;
        border-top: none;
    }
    .col .spacer {
        position: relative;
        padding-top: 100%;
    }

    .circle {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #96979a;
        color: white;
        border-radius: 50%;
        box-sizing: border-box;
        text-align: center;
        display: block;
        padding: 5px;
        line-height: 1em;

        font-size: 1.6em;
        line-height: 1em;
        font-family: 'VAG Rounded Bold', Fallback, sans-serif;";
        /*-webkit-transition: all 1s ease-out;*/
        /*-moz-transition: all 1s ease-out;*/
        /*-o-transition: all 1s ease-out;*/
        /*transition: all 1s ease-out;*/
    }
    .circle:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -2%;
    }
    .circle:hover {
        background-color: #e6a667;
        color: #fff;
    }

    .outline {
        border: 5px solid grey;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
        box-sizing: border-box;
    }

    .circle p {
        font-size: 1.4em;
        line-height: 1em;
        color: white;
        text-align: center;
    }
    .circle a {
        color: inherit;
    }
    .circle > p, .circle > h1, .circle > .wrapcontent {
        display: inline-block;
        vertical-align: middle;
    }
    .circle > p > p, .circle > p > h1, .circle > h1 > p, .circle > h1 > h1, .circle > .wrapcontent > p, .circle > .wrapcontent > h1 {
        display: block;
    }
}
@media only screen and (min-width: 481px) {

    .circle p {
        font-size: 1.4em;
        line-height: 1em;
    }
}
@media only screen and (min-width: 768px) {

    .circle p {
        font-size: 1.4em;
        line-height: 1em;
    }
}

html {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}