{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Dashboard</h1>
    <h1>
        {% if entity.filepath %}
            <span class="company-logo">
                <img src="{{ asset(get_file_path(entity.filepath)) }}" alt="{{ entity.name }}" title="{{ entity.name }}"
                     width="100">
            </span>
        {% endif %}
        {{ entity.name }}
    </h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Column 1</th>
                <td>{{ entity.columnone }}</td>
            </tr>

            <tr>
                <th>Column 2</th>
                <td>{{ entity.columntwo }}</td>
            </tr>

            <tr>
                <th>Column 3</th>
                <td>{{ entity.columnthree }}</td>
            </tr>
            <tr>
                <th>Column 4</th>
                <td>{{ entity.columnfour }}</td>
            </tr>
            <tr>
                <th>Column 5</th>
                <td>{{ entity.columnfive }}</td>
            </tr>

        </tbody>
    </table>
{% endblock %}
