{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content -%}

    <h1>Additional Chemical Database Columns</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>

            <th>Column 1</th>
            <th>Ticked</th>

            <th>Column 2</th>
            <th>Ticked</th>

            <th>Column 3</th>
            <th>Ticked</th>

            <th>Column 4</th>
            <th>Ticked</th>

            <th>Column 5</th>
            <th>Ticked</th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for entity in pagination %}
                <tr>
                    <td><a href="{{ path('cms_subprojectschemicaldosageaddcolumns_dashboard', { 'id': entity.id , 'projectId': projectId, 'subprojectId': subprojectId }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.columnone }} </td>
                    <td>{% if entity.columnoneselected == 1 %}Yes{% endif %}</td>
                    <td>{{ entity.columntwo }}</td>
                    <td>{% if entity.columntwoselected == 1 %}Yes{% endif %}</td>
                    <td>{{ entity.columnthree }}</td>
                    <td>{% if entity.columnthreeselected == 1 %}Yes{% endif %}</td>
                    <td>{{ entity.columnfour }}</td>
                    <td>{% if entity.columnfourselected == 1 %}Yes{% endif %}</td>
                    <td>{{ entity.columnfive }}</td>
                    <td>{% if entity.columnfiveselected == 1 %}Yes{% endif %}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('cms_subprojectschemicaldosageaddcolumns_edit', { 'id': entity.id , 'projectId': projectId, 'subprojectId': subprojectId }) }}">Edit</a>
                            </li>

                        </ul>
                    </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            {% if entities is empty %}
                {% if addGranted %}
                    <a href="{{ path('cms_subprojectschemicaldosageaddcolumns_new', { 'projectId': projectId, 'subprojectId': subprojectId }) }}">
                        Create a new database Columns
                    </a>
                {% endif %}
            {% endif %}
        </li>
    </ul>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
