{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block content %}
<h1>Users</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Username</th>
            <th>Role<ht>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.username }}   </td>
                <td>{{ entity.company }} </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ccm_userprojectgroup', { 'userId': entity.id }) }}">Assign to Project</a>
                        </li>
                        {#{% if entity.company == 'admin' %}#}
                        {#<li>#}
                            {#<a href="{{ path('ccm_user_undoadmin', { 'id': entity.id }) }}">Unassign as Admin</a>#}
                        {#</li>#}
                        {#{% else %}#}
                        {#<li>#}
                            {#<a href="{{ path('ccm_user_doadmin', { 'id': entity.id }) }}">Assign as Admin</a>#}
                        {#</li>#}
                        {#{% endif %}#}

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
