{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block left_container %}{% endblock %}
{% block content_container -%}
    <div id="requests">
        <div class="col-lg-12">
            <h1>Request edit</h1>

            {{ form(edit_form) }}
            {{ form(delete_form) }}
            <ul class="nav nav-pills">
                <li>
                    <a href="{{ path('anomaly_requests') }}" class="btn btn">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
                    </a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}