{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block left_container %}{% endblock %}
{% block content_container -%}
    <div class="col-lg-12">
        <div id="requests">
            <h1>Requests</h1>
            {% for type, flashMessages in app.session.flashbag.all() %}
                {% for flashMessage in flashMessages %}
                    <div class="alert alert-{{ type }}">
                        {{ flashMessage|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#iAR" aria-controls="iAR" role="tab" data-toggle="tab">
                            Modification Requests
                            <span class="badge">{{ counts['ia']|default(0) }}</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#bAR" aria-controls="bAR" role="tab" data-toggle="tab">
                            New Anomaly Requests
                            <span class="badge">{{ counts['na']|default(0) }}</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#dA" aria-controls="dA" role="tab" data-toggle="tab">
                            Deferral Requests
                            <span class="badge">{{ counts['da']|default(0) }}</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#lsA" aria-controls="lsA" role="tab" data-toggle="tab">
                            Loadsheet Requests
                            <span class="badge">{{ counts['ls']|default(0) }}</span>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="iAR" style="padding-top: 10px;">
                        {% if individual_entities|length==0 %}
                            <table class="table table-responsive table-bordered table-condensed">
                                <tbody>
                                <tr>
                                    <td style="text-align: center;">
                                        No requests been recorded for anomaly registers
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% else %}
                            <table class="table table-responsive table-bordered table-condensed table-striped">
                                <tbody>
                                {% for ie in individual_entities %}
                                    <tr>
                                        <td>
                                            <div class="row" style="margin-bottom: 8px; font-weight: bold;">
                                                <div class="col-lg-4">
                                                    Asset Tag Number: {{ ie['assetTagNumber'] }}
                                                </div>
                                                <div class="col-lg-4">
                                                    Anomaly ID: {{ ie['anomlayCustomId'] }}
                                                </div>
                                                <div class="col-lg-4">
                                                    Project: {{ ie['projectName'] }}
                                                </div>
                                                <div class="col-lg-4">
                                                    Request Type: {{ ie['requestType'] }}
                                                </div>
                                                <div class="col-lg-8">
                                                    Component: {{ ie['component'] }}
                                                </div>
                                            </div>
                                            <table class="table table-responsive table-bordered table-condensed table-hover" style="margin-bottom: 5px;">
                                                <thead>
                                                <tr  class="text-center">
                                                    <th class="text-center" style="width: 20%">Register ID</th>
                                                    <th class="text-center" style="width: 20%">Request Date</th>
                                                    <th class="text-center" style="width: 15%">Category</th>
                                                    <th class="text-center" style="width: 15%">Register</th>
                                                    <th class="text-center" style="width: 15%">Request</th>
                                                    <th class="text-center" style="width: 15%">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for key, entity in ie['data'] %}
                                                    {% set registerMas = entity.type|split("\\") %}


                                                    <tr class="text-center">
                                                        <td>
                                                            <a href="{{ path('anomaly_' ~ entity.registrarcode|lower ~ '_show', {'projectId': entity.registrarprojectid, 'id': entity.registrarid }) }}"></a>
                                                            {% if entity.requeststatus == 'deferral' %}
                                                                <a href="{{ path('anomaly_deferral_request', { 'id': entity.id, 'projectId': entity.registrarprojectid }) }}">{{ entity.registrarfullid }}</a>
                                                            {% else %}
                                                                <a href="{{ path('anomaly_requests_show', { 'id': entity.id }) }}">{{ entity.registrarfullid }}</a>
                                                            {% endif %}
                                                        </td>
                                                        <td>{% if entity.date %}{{ entity.date|date('d M Y') }}{% endif %}</td>
                                                        <td>{% if entity.registrarcode == 'PL' %}
                                                                Pipeline
                                                            {% elseif entity.registrarcode == 'PI' %}
                                                                Piping
                                                            {% elseif entity.registrarcode == 'SE' %}
                                                                Static Equipment
                                                            {% elseif entity.registrarcode == 'ST' %}
                                                                Structure
                                                            {% elseif entity.registrarcode == 'MR' %}
                                                                Marine
                                                            {% else %}
                                                                Anomaly
                                                            {% endif %}
                                                        </td>

                                                        <td>{{ registerMas[4]|replace({"PipelineAnomaly": "Pipeline Anomaly", "PipingAnomaly" : "Piping Anomaly", "StaticEquipmentAnomaly" : "Static Equipment Anomaly", "StructureAnomaly" : "Structure Anomaly", "MarineAnomaly" : "Marine Anomaly", "RepairOrderRegistrar" : "Repair Order" , "FabricMaintenanceRegistrar" : "Fabric Maintenance", "TemporaryRepairOrderRegistrar" : "Temporary Repair Order", "AssessmentRegistrar" : "Assessment"}) }}</td>
                                                        <td>{{ entity.requeststatus }}</td>
                                                        <td>
                                                            {% if entity.requeststatus == 'deferral' %}
                                                                <a href="{{ path('anomaly_deferral_request', { 'id': entity.id, 'projectId': entity.registrarprojectid }) }}">Request Details</a>
                                                            {% else %}
                                                                <a href="{{ path('anomaly_requests_show', { 'id': entity.id }) }}">Request Details</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                    </div>
                    <div role="tabpanel" class="tab-pane" id="bAR" style="padding-top: 10px;">
                        {% if new_anomaly_entities|length==0 %}
                            <table class="table table-responsive table-bordered table-condensed">
                                <tbody>
                                <tr class="text-center">
                                    <td style="text-align: center;">
                                        No requests been recorded for bulk anomaly requests
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% else %}
                            <table class="table table-responsive table-bordered table-condensed table-striped">
                                <tbody>
                                {% for item in new_anomaly_entities %}
                                    {% for ie in item %}
                                        <tr>
                                            <td>
                                                <div class="row" style="margin-bottom: 8px; font-weight: bold;">
                                                    <div class="col-lg-4">
                                                        Asset Tag Number: {{ ie['assetTagNumber'] }}
                                                    </div>
                                                    <div class="col-lg-4">
                                                        Anomaly ID: {{ ie['anomlayCustomId'] }}
                                                    </div>
                                                    <div class="col-lg-4">
                                                        Project: {{ ie['projectName'] }}
                                                    </div>
                                                    <div class="col-lg-4">
                                                        Request Type: {{ ie['requestType'] }}
                                                    </div>
                                                    <div class="col-lg-8">
                                                        Component: {{ ie['component'] }}
                                                    </div>
                                                </div>
                                                <table class="table table-responsive table-bordered table-condensed" style="margin-bottom: 5px;">
                                                    <thead>
                                                    <tr class="text-center">
                                                        <th class="text-center" style="width: 20%">Register ID</th>
                                                        <th class="text-center" style="width: 20%">Request Date</th>
                                                        <th class="text-center" style="width: 15%">Category</th>
                                                        <th class="text-center" style="width: 15%">Register</th>
                                                        <th class="text-center" style="width: 15%">Request</th>
                                                        <th class="text-center" style="width: 15%">Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for key, entity in ie['data'] %}
                                                        {% set registerMas = entity.type|split("\\") %}
                                                        <tr class="text-center">
                                                            <td>
                                                                <a href="{{ path('anomaly_' ~ entity.registrarcode|lower ~ '_show', {'projectId': entity.registrarprojectid, 'id': entity.registrarid }) }}"></a>
                                                                {% if entity.requeststatus == 'deferral' %}
                                                                    <a href="{{ path('anomaly_deferral_request', { 'id': entity.id, 'projectId': entity.registrarprojectid }) }}">{{ entity.registrarfullid }}</a>
                                                                {% else %}
                                                                    <a href="{{ path('anomaly_requests_show', { 'id': entity.id }) }}">{{ entity.registrarfullid }}</a>
                                                                {% endif %}
                                                            </td>
                                                            {% if loop.index0==0 %}
                                                                <td rowspan="{{ ie['data']|length }}">
                                                                    {% if entity.date %}{{ entity.date|date('d M Y') }}{% endif %}
                                                                </td>
                                                            {% endif %}
                                                            {% if loop.index0==0 %}
                                                                <td rowspan="{{ ie['data']|length }}">
                                                                    {% if entity.registrarcode == 'PL' %}
                                                                        Pipeline
                                                                    {% elseif entity.registrarcode == 'PI' %}
                                                                        Piping
                                                                    {% elseif entity.registrarcode == 'SE' %}
                                                                        Static Equipment
                                                                    {% elseif entity.registrarcode == 'ST' %}
                                                                        Structure
                                                                    {% elseif entity.registrarcode == 'MR' %}
                                                                        Marine
                                                                    {% else %}
                                                                        Anomaly
                                                                    {% endif %}
                                                                </td>
                                                            {% endif %}
                                                            <td>{{ registerMas[4]|replace({"Pipeline": "", "Piping" : "", "StaticEquipment" : "", "Structure" : "", "Marine" : "", "RepairOrderRegistrar" : "Repair Order" , "FabricMaintenanceRegistrar" : "Fabric Maintenance", "TemporaryRepairOrderRegistrar" : "Temporary Repair Order", "AssessmentRegistrar" : "Assessment Registrar"}) }}</td>
                                                            {% if loop.index0==0 %}
                                                                <td rowspan="{{ ie['data']|length }}">
                                                                    {{ entity.requeststatus }}
                                                                </td>
                                                            {% endif %}
                                                            {% if loop.index0==0 %}
                                                                <td rowspan="{{ ie['data']|length }}">
                                                                    <a href="{{ path('anomaly_batch_requests_show', { 'id': entity.request_batch, 'type': 1 }) }}">Request Details</a>
                                                                </td>
                                                            {% endif %}
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}

                    </div>
                    <div role="tabpanel" class="tab-pane" id="dA" style="padding-top: 10px;">
                        {% if defer_entities|length==0 %}
                        <table class="table table-responsive table-bordered table-condensed">
                            <tbody>
                            <tr>
                                <td style="text-align: center;">
                                    No requests been recorded for anomaly registers
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        {% else %}
                            <table class="table table-responsive table-bordered table-condensed table-striped">
                                <tbody>
                                {% for ie in defer_entities %}
                                    <tr>
                                        <td>
                                            <div class="row" style="margin-bottom: 8px; font-weight: bold;">
                                                <div class="col-lg-4">
                                                    Asset Tag Number: {{ ie['assetTagNumber'] }}
                                                </div>
                                                <div class="col-lg-4">
                                                    Anomaly ID: {{ ie['anomlayCustomId'] }}
                                                </div>
                                                <div class="col-lg-4">
                                                    Project: {{ ie['projectName'] }}
                                                </div>
                                                <div class="col-lg-4">
                                                    Request Type: {{ ie['requestType'] }}
                                                </div>
                                                <div class="col-lg-8">
                                                    Component: {{ ie['component'] }}
                                                </div>
                                            </div>
                                            <table class="table table-responsive table-bordered table-condensed table-hover" style="margin-bottom: 5px;">
                                                <thead>
                                                <tr class="text-center">
                                                    <th class="text-center" style="width: 20%">Register ID</th>
                                                    <th class="text-center" style="width: 20%">Request Date</th>
                                                    <th class="text-center" style="width: 15%">Category</th>
                                                    <th class="text-center" style="width: 15%">Register</th>
                                                    <th class="text-center" style="width: 15%">Request</th>
                                                    <th class="text-center" style="width: 15%">Actions</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for key, entity in ie['data'] %}
                                                    {% set registerMas = entity.type|split("\\") %}
                                                    <tr class="text-center">
                                                        <td>
                                                            <a href="{{ path('anomaly_' ~ entity.registrarcode|lower ~ '_show', {'projectId': entity.registrarprojectid, 'id': entity.registrarid }) }}"></a>
                                                            {% if entity.requeststatus == 'deferral' %}
                                                                <a href="{{ path('anomaly_deferral_request', { 'id': entity.id, 'projectId': entity.registrarprojectid }) }}">{{ entity.registrarfullid }}</a>
                                                            {% else %}
                                                                <a href="{{ path('anomaly_requests_show', { 'id': entity.id }) }}">{{ entity.registrarfullid }}</a>
                                                            {% endif %}
                                                        </td>
                                                        <td>{% if entity.date %}{{ entity.date|date('d M Y') }}{% endif %}</td>
                                                        <td>{% if entity.registrarcode == 'PL' %}
                                                                Pipeline
                                                            {% elseif entity.registrarcode == 'PI' %}
                                                                Piping
                                                            {% elseif entity.registrarcode == 'SE' %}
                                                                Static Equipment
                                                            {% elseif entity.registrarcode == 'ST' %}
                                                                Structure
                                                            {% elseif entity.registrarcode == 'MR' %}
                                                                Marine
                                                            {% else %}
                                                                Anomaly
                                                            {% endif %}
                                                        </td>
                                                        <td>{{ registerMas[4]|replace({"Pipeline": "", "Piping" : "", "StaticEquipment" : "", "Structure" : "", "Marine" : "", "RepairOrderRegistrar" : "Repair Order" , "FabricMaintenanceRegistrar" : "Fabric Maintenance", "TemporaryRepairOrderRegistrar" : "Temporary Repair Order", "AssessmentRegistrar" : "Assessment Registrar"}) }}</td>
                                                        <td>{{ entity.requeststatus }}</td>
                                                        <td>
                                                            {% if entity.requeststatus == 'deferral' %}
                                                                <a href="{{ path('anomaly_deferral_request', { 'id': entity.id, 'projectId': entity.registrarprojectid }) }}">Request Details</a>
                                                            {% else %}
                                                                <a href="{{ path('anomaly_requests_show', { 'id': entity.id }) }}">Request Details</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% endif %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="lsA" style="padding-top: 10px;">
                        {% if loadsheet_entities|length==0 %}
                            <table class="table table-responsive table-bordered table-condensed">
                                <tbody>
                                <tr>
                                    <td style="text-align: center;">
                                        No requests been recorded for bulk load-sheet requests
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        {% else %}
                            <div class="panel-group" id="accordionlsh" role="tablist" aria-multiselectable="true">
                            {% for key, item in loadsheet_entities %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="head{{ key }}">
                                        <h4 class="panel-title">
                                            <a role="button" data-toggle="collapse" data-parent="#accordionlsh" href="#{{ key }}" aria-expanded="true" aria-controls="{{ key }}">
                                                Load-sheet Request No.: {{ key }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="{{ key }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head{{ key }}">
                                        <div class="panel-body">
                                            <div class="row"  style="margin-bottom: 10px;" >
                                                <div class="col-lg-offset-9 col-md-offset-9 col-lg-3 col-md-3">
                                                    <a href="{{ path('anomaly_batch_requests_show', { 'id': key, 'type': 2 }) }}" class="btn btn-block btn-primary">
                                                        Submit Load-sheet Request No.: {{ key }}
                                                    </a>
                                                </div>

                                            </div>
                                            <table class="table table-responsive table-bordered table-condensed table-striped" style="margin-bottom: 0px;">
                                                <tbody>
                                                {% for ie in item %}
                                                    <tr>
                                                        <td>
                                                            <div class="row" style="margin-bottom: 8px; font-weight: bold;">
                                                                <div class="col-lg-4">
                                                                    Asset Tag Number: {{ ie['assetTagNumber'] }}
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    Anomaly ID: {{ ie['anomlayCustomId'] }}
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    Project: {{ ie['projectName'] }}
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    Request Type: {{ ie['requestType'] }}
                                                                </div>
                                                                <div class="col-lg-8">
                                                                    Component: {{ ie['component'] }}
                                                                </div>
                                                            </div>
                                                            <table class="table table-responsive table-bordered table-condensed" style="margin-bottom: 5px;">
                                                                <thead>
                                                                <tr class="text-center">
                                                                    <th class="text-center" style="width: 20%">Register ID</th>
                                                                    <th class="text-center" style="width: 20%">Request Date</th>
                                                                    <th class="text-center" style="width: 20%">Category</th>
                                                                    <th class="text-center" style="width: 20%">Register</th>
                                                                    <th class="text-center" style="width: 20%">Request</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for key, entity in ie['data'] %}
                                                                    {% set registerMas = entity.type|split("\\") %}
                                                                    <tr class="text-center">
                                                                        <td>
                                                                            <a href="{{ path('anomaly_' ~ entity.registrarcode|lower ~ '_show', {'projectId': entity.registrarprojectid, 'id': entity.registrarid }) }}"></a>
                                                                            {% if entity.requeststatus == 'deferral' %}
                                                                                <a href="{{ path('anomaly_deferral_request', { 'id': entity.id, 'projectId': entity.registrarprojectid }) }}">{{ entity.registrarfullid }}</a>
                                                                            {% else %}
                                                                                <a href="{{ path('anomaly_requests_show', { 'id': entity.id }) }}">{{ entity.registrarfullid }}</a>
                                                                            {% endif %}
                                                                        </td>
                                                                        <td>{% if entity.date %}{{ entity.date|date('d M Y') }}{% endif %}</td>
                                                                        <td>{% if entity.registrarcode == 'PL' %}
                                                                                Pipeline
                                                                            {% elseif entity.registrarcode == 'PI' %}
                                                                                Piping
                                                                            {% elseif entity.registrarcode == 'SE' %}
                                                                                Static Equipment
                                                                            {% elseif entity.registrarcode == 'ST' %}
                                                                                Structure
                                                                            {% elseif entity.registrarcode == 'MR' %}
                                                                                Marine
                                                                            {% else %}
                                                                                Anomaly
                                                                            {% endif %}
                                                                        </td>
                                                                        <td>{{ registerMas[4]|replace({"Pipeline": "", "Piping" : "", "StaticEquipment" : "", "Structure" : "", "Marine" : "", "RepairOrderRegistrar" : "Repair Order" , "FabricMaintenanceRegistrar" : "Fabric Maintenance", "TemporaryRepairOrderRegistrar" : "Temporary Repair Order", "AssessmentRegistrar" : "Assessment Registrar"}) }}</td>
                                                                        <td>{{ entity.requeststatus }}</td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
