{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}
{% block left_container %}{% endblock %}
{% block content_container %}
    <div id="requests">
   
        <div class="col-lg-12">
            <h1>Batch Request</h1>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Request Details -
                        {% if batch_type==1 %}
                            New Anomaly Request No.: {{ request_batch }}
                        {% endif %}
                        {% if batch_type==2 %}
                            Load-sheet Request No.: {{ request_batch }}
                        {% endif %}
                    </h3>
                </div>
                <div class="panel-body">
                        {% for item in entities %}
                            <tr>
                                <div class="row" style="font-weight: bold;margin-bottom: 0px;">
                                    <div class="col-lg-4">
                                        Asset Tag Number: {{ item['assetTagNumber'] }}
                                    </div>
                                    <div class="col-lg-4">
                                        Anomaly ID: {{ item['anomalyCustomId'] }}
                                    </div>
                                    <div class="col-lg-4">
                                        Project: {{ item['projectName'] }}
                                    </div>
                                    <div class="col-lg-4">
                                        Request Type: {{ item['requestType'] }}
                                    </div>
                                    <div class="col-lg-8">
                                        Component: {{ item['component'] }}
                                    </div>
                                </div>
                                <table class="table table-responsive table-bordered table-condensed" style="margin-bottom: 5px;margin-top:3px;">
                                    <thead>
                                    <tr>
                                        <th>Register ID</th>
                                        <th>Request Date</th>
                                        <th>Category</th>
                                        <th>Register</th>
                                        <th>Request Status</th>
                                        <th>Current Request</th>
                                        <th>Required Request</th>
                                        <th>Individual Request</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for entity in item['request'] %}
                                        <tr>
                                            <td>
                                                <a href="{{ path('anomaly_' ~ entity['registerCode']|lower ~ '_show', {'projectId': entity['entity'].project.id, 'id': entity['entity'].id }) }}">
                                                    {{ entity['entity'].fullId }}
                                                </a>
                                            </td>
                                            <td>{% if entity['request'].date %}{{ entity['request'].date|date('d M Y') }}{% endif %}</td>
                                            <td>{% if entity['registerCode'] == 'PL' %}
                                                    Pipeline
                                                {% elseif entity['registerCode'] == 'PI' %}
                                                    Piping
                                                {% elseif entity['registerCode'] == 'SE' %}
                                                    Static Equipment
                                                {% elseif entity['registerCode'] == 'ST' %}
                                                    Structure
                                                {% elseif entity['registerCode'] == 'MR' %}
                                                    Marine
                                                {% else %}
                                                    Anomaly
                                                {% endif %}
                                            </td>
                                            {% set registerMas = entity['request'].type|split("\\") %}
                                            <td>{{ registerMas[4]|replace({"Pipeline": "", "Piping" : "", "StaticEquipment" : "", "Structure" : "", "Marine" : "", "RepairOrderRegistrar" : "Repair Order" , "FabricMaintenanceRegistrar" : "Fabric Maintenance", "TemporaryRepairOrderRegistrar" : "Temporary Repair Order", "AssessmentRegistrar" : "Assessment Registrar"}) }}</td>
                                            <td>{{ entity['request'].requeststatus }}</td>
                                            <td>{{ entity['request'].registrar.project.projectapprovallevels[entity['request'].approvalLevel] }}</td>
                                            <td>{{ entity['request'].registrar.project.projectapprovallevels[entity['request'].registrar.project.approvalLevel] }}</td>
                                            <td><a href="{{ path('anomaly_requests_show', { 'id': entity['request'].id }) }}">Show</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                {% if (entities|length)-1 != loop.index0 %}
                                <hr/>
                                {% endif %}
                            </tr>
                        {% endfor %}
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Batch Response Management</h3>
                </div>
                <div class="panel-body">
                    {{ form(edit_form) }}
                </div>
            </div>

            <ul class="nav nav-pills">
                <li>
                    <a href="{{ path('anomaly_requests') }}" class="btn btn">
                        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back to the list
                    </a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}
