{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Location</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('anomaly_locations_show', { 'projectId': projectId, 'id': entity.id }) }}">{{ entity.name }}</a></td>
                <td>{{ entity.description }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('anomaly_locations_show', { 'projectId': projectId, 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('anomaly_locations_edit', { 'projectId': projectId, 'id': entity.id }) }}">edit</a>
                    </li>
                     <li>
                        <a href="{{ path('anomaly_locations_delete', { 'projectId': projectId, 'id': entity.id, 'd': 'Y'}) }}">delete</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('anomaly_locations_new', {'projectId': projectId}) }}">
                Create a new location
            </a>
        </li>
    </ul>
    {% endblock %}
