{% extends 'AIEAnomalyBundle:Default:layout.html.twig' %}

{% block content -%}
    {% if delete_form is defined %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert">Close</a>
        Are you sure you want to delete the location?
    </div>
    {% endif %}
    <h1>Location: {{ entity.name }}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th width="25%">Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Map</th>
                <td><div class="map map_out"></div></td>
                <input type="hidden" id="geometryMap" name="geometry" value="{{ entity.geometry }}" />
            </tr>
            <tr>
                <td colspan="2">
                {% if delete_form is defined %}
                    {{ form(delete_form) }}
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

<ul class="record_actions">
    <li>
        <a href="{{ path('anomaly_locations', {'projectId': projectId}) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('anomaly_locations_edit', { 'projectId': projectId, 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/gmaps.js') }}"></script>
{% endblock %}