{% trans_default_domain 'FOSUserBundle' %}

<h1>New Position</h1>

<form action="{{ path('ccm_user_group_new') }}" {{ form_enctype(form) }} method="POST" class="ccm_user_group_new form-horizontal">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary right" value="{{ 'group.new.submit'|trans }}" />
    </div>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('ccm_user_group_list') }}">
            Back to positions
        </a>
    </li>
</ul>