{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block left_container %}{% endblock %}
{% block content_container %}
    <div id="dashboard">
        <div>
            <h3>{{ message }}</h3>
            {%  if app.request.headers.get('referer') is null or app.request.headers.get('referer') == app.request.uri()  %}
                {% set url = path('index') %}
            {% else %}
                {% set url = app.request.headers.get('referer') %}
            {% endif %}
            <a class="btn btn-default" href="{{ url }}" role="button">Back</a>
        </div>
    </div>
{% endblock %}