{% extends 'AIECmsBundle:Default:layout.html.twig' %}

{% block left_container %}{% endblock %}
{% block content_container %}

    <div id="dashboard">
        <div class="col-lg-12">
            <div class="page-header">
                <h3>Hi <span class="capitalize">{{ app.security.getToken().getUser().getUsername() }}</span>, Welcome to Veracity CCM</h3>
            </div>
        </div>
        <div class="col-md-12 col-lg-12">
            <div id="div_loaderHolder" style="min-height: 35px;">
                <div  id="complainceDiv" style="display: none;">

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block stylesheets -%}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup/magnific-popup.css') }}">
    <style>
        .accord .accord-item .panel-heading{
            padding-left: 23px;
            padding-right: 23px;
            background-color: transparent;
            border-color: #ddd;
        }

        .accord .accord-item .panel-heading h3{
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .accord .accord-item .panel-collapse{
            padding: 0 0px 0 0px;
            background-color: transparent;
            border-color: #ddd;
            box-shadow: 0 1px 4px 0 rgba(204,204,204,.75);
        }

        .panel-heading .panel-title:after{
            font-family: 'Glyphicons Halflings';
            content: "\e114";
            float: right;
        }

        .panel-heading .panel-title.collapsed:after {
            /* symbol for "opening" panels */
            content: "\e114";
        }

        .panel-heading .panel-title:after {
            /* symbol for "collapsed" panels */
            content: "\e113";
        }


        .accord .accord-item .panel-collapse .accord-item-holder{
            padding: 10px 10px 0 10px;
        }


        .accord .name{
            text-decoration: none;
        }

        .accord .panel-heading{
            background-color: #f5f5f5;
        }
        .accord .panel-heading h3{
            text-transform: uppercase;
            font-size: 20px;
        }

        .accord .fa{
            line-height: 3;
        }

        .progress-bar {
            transition-duration: 3s;
        }
        a, a:link, a:visited
        {

        }
        a.projectTitle{
            color: #1e2060;
            text-decoration: none;
        }
        .progress {
            text-align:center;
        }
        .overdueDiv{
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border-radius:5px;
            background-color: rgba(30,30,30,0.1);
            color: white;
            text-align: center;
            height: 83px;
        }
        .progress-value {
            position:absolute;
            color: #ddd;
            text-shadow:
                    -1px -1px 1px #000,
                    1px -1px 1px #000,
                    -1px 1px 1px #000,
                    1px 1px 1px #000;
            right:0;
            left:0;
        }

        .progress-value-black {
            position:absolute;
            color: #000;
            right:0;
            left:0;
        }

        .red-kpi{
            height: 80px;
            width:80px;
            font-size: 20px;
            padding-top: 25px;
            border-radius: 50%;
            background-color: rgba(217,83,79,1);
            display: inline-block;
            vertical-align: middle;
            margin-top: 10px;
            box-shadow:  0 0 2px 1px rgba(0,0,0,0.6);
            -moz-box-shadow: 0 0 2px  1px rgba(0,0,0,0.6);
            -webkit-box-shadow: 0 0 2px 1px rgba(0,0,0,0.6);
            -o-box-shadow: 0 0 2px 1px rgba(0,0,0,0.6);
        }

        .small-kpi{
            height: 30px;
            width:30px;
            font-size: 12px;
            padding-top: 8px;
            margin-top: 0px;
            color:white;
        }
        .progress-holder .progress:first-child{
            margin-bottom: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-bottom: none;


        }
        .progress-holder .progress:not(:first-child):not(:last-child){
            margin-bottom: 0px;
            margin-top: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom: none;
            border-top: none;

        }
        .progress-holder .progress:last-child{
            margin-top: 0px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-top: none;
        }

        .red-overdue-holder .overdueDiv{
            margin-top: 0px;
            padding: 0;
            height: 37px;
            border-radius:0px;
        }

        .label-overdue-red{
           font-size: 13px; height: 37px; width:100%; text-align: center;padding-top: 12px;
            border-radius:0px;
        }
        .overdue-red-caption{
            border-top-right-radius:5px; background-color: rgba(30,30,30,0.1);margin-bottom: 0px; padding: 5px 0px 5px 5px;
            font-size: 15px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/bootstrap/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('assets/js/grid220/pqgrid.min.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/highcharts.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/highcharts-more.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/data.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/stock.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/broken-axis.js') }}"></script>
    <script src="{{ asset('assets/js/Highcharts/code/modules/boost-canvas.js') }}"></script>
    <script src="{{ asset('assets/js/editable/jquery.inline-edit.js') }}"></script>
    <script>
        $(document).ready(function() {
            function callLoad() {
                var divId;
                divId = "#complainceDiv";
                var url = "/c/userdashboard";
                NProgress.configure({
                    parent: '#div_loaderHolder'
                });
                NProgress.start();
                //$(divId).html('<b>Loading projects...</b>');
                $.ajax({
                    url: url,
                    dataType: 'html',
                    success: function(response) {
                        $(divId).html(response);
                        addCharts();
                        $(divId).slideDown(1500);
                        setTimeout( function(){
                            NProgress.done();
                        }  , 50 );
                        $('.progress .progress-bar').css("width",
                            function() {
                                return $(this).attr("aria-valuenow") + "%";
                            }
                        );
                        $('[data-toggle="tooltip"]').tooltip();
                    }
                });
            }
            callLoad();
        } );
    </script>
{% endblock %}
