{% set system = 'cms' %}
{% extends 'AIEVeracityBundle:Default:layout.html.twig' %}

{% block title %}Veracity CCM{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/custom-aie.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/custom-navbar.css') }}">
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/nprogress/nprogress.css') }}">
{% endblock %}
{% block module_logo %}
    <a class="navbar-brand" style="padding-top: 10px;" href="{{ path('index') }}"><img src="{{ asset('assets/img/VCCMWhite.png') }}" style="height: 30px;max-height: 30px;" /></a>
{% endblock %}
{% block top_navigation %}
    {{ knp_menu_render('cms_main_left', {'currentClass': 'active', 'template': 'AIEIntegrityAssessmentBundle:Default:menu.html.twig'}) }}
    {{ knp_menu_render('cms_main_right', {'currentClass': 'active', 'template': 'AIEIntegrityAssessmentBundle:Default:menu.html.twig'}) }}
{% endblock %}

{% block leftSidebar %}
    {{ knp_menu_render('cms_left_nav', {'currentClass': 'active', 'template': 'AIEIntegrityAssessmentBundle:Default:left_menu.html.twig'}) }}
{% endblock %}

{% block breadcrumb %}
    {{ knp_menu_render('cms_breadcrumb',{'currentAsLink':false, 'template': 'AIEIntegrityAssessmentBundle:Default:breadcrumb.html.twig'}) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/js/nprogress/nprogress.js') }}"></script>
{% endblock %}
