{% extends 'AIECmsBundle:Default:report_base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/aie.css') }}">
<link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/c3/c3.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('assets/js/c3/d3.min.js') }}"></script>
<script src="{{ asset('assets/js/c3/c3.min.js') }}"></script>
{% endblock %}
{% block body %}

<div id="wrapper" class="container-fluid">
    {% block navigation %}
        <div id="navigation" class="row">
            <div id="logo" class="left">
                <img src="{{ asset('assets/img/logo_cms.png') }}" alt="Veracity CCM" title="Veracity CCM"/>
            </div>
            <!--<div class="report-title right">{% block report_title %}{% endblock %}</div>-->
            <div class="right">
                <img src="{{ asset('assets/img/aie_logo.png') }}" alt="Asset Integrity Engineering" title="Asset Integrity Engineering"/>
            </div>
        </div>
    {% endblock %}
    <div class="row" id="content-container">
        <div id="content" class="col-lg-12 table-responsive">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
