<div class="row">
    <div class="col-lg-12">
        <div class="accord">
            <div class="panel-group" id="accordion">
                {% for project in projects %}
                    <div class="panel panel-default accord-item">
                        {% if loop.index0==0 %}
                            {% set collapsedName = '' %}
                            {% set expand = 'true' %}
                            {% set initExpand = 'in' %}
                        {% else %}
                            {%  set collapsedName = 'collapsed' %}
                            {% set expand = 'false' %}
                            {% set initExpand = '' %}
                        {% endif %}
                        <div class="panel-heading" style="background-color:#fff;" id="heading_{{ project.id }}">
                            <h3 data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ project.id }}" class="panel-title expand primary-color {{ collapsedName }}"  aria-expanded="{{ expand }}" aria-controls="collapse_{{ project.id }}">
                                <b><a href="#" class="name projectTitle">{{ project.name }}</a></b>
                            </h3>
                        </div>

                        <div id="collapse_{{ project.id }}" class="panel-collapse collapse {{ initExpand }}" role="tabpanel" aria-labelledby="heading_{{ project.id }}">
                            <div class="panel-body">
                                <div class="accord-item-holder">
                                    <div class="row">
                                        {#<div class="col-lg-12">
                                            <h3 class="primary-color"><a class="projectTitle" href="{{ path('cms_list_subprojects', { 'id': project.id }) }}" style="text-transform:uppercase;">{{ project.name }}</a></h3>
                                        </div>#}
                                        {% if project.id in validate_data %}
                                            <div class="col-lg-7">
                                                <div id="div_chartCombinedComplianceDetailed_{{ project.id }}">

                                                </div>
                                            </div>
                                            {% if project.subprojects is defined and project.subprojects is not empty %}
                                                {% set redCtrl_i = 0 %}
                                                {% set redMgmt_i = 0 %}
                                                {% set fa_redCtrl_i = 0 %}
                                                {% set fa_redMgmt_i = 0 %}
                                                {% set redCtrl = 0 %}
                                                {% set redMgmt = 0 %}
                                                {% set fa_redCtrl = 0 %}
                                                {% set fa_redMgmt = 0 %}
                                                {% set corrOverdueCount = 0 %}  {#Project Level count#}
                                                {% set faOverdueCount = 0 %} {#Project Level count#}
                                                {% set redCtrlStr = '' %}
                                                {% set redMgmtStr = '' %}
                                                {% set fa_redCtrlStr = '' %}
                                                {% set fa_redMgmtStr = '' %}
                                                {% set corr_odcountStr = '' %}
                                                {% set fa_odcountStr = '' %}
                                                {% for subproject in project.subprojects %}
                                                    {% if subproject.compliance is defined and subproject.compliance is not empty %}
                                                        {% for spmrdata in subproject.compliance %}
                                                            {% set g = json_decode(spmrdata) %}
                                                            {% set redCtrl_i = g.control.totalredkpi %}
                                                            {% set redMgmt_i = g.management.totalredkpi %}
                                                            {% if g.flowassurancemanagement.totalredkpi is defined %}
                                                                {% set fa_redMgmt_i = g.flowassurancemanagement.totalredkpi %}
                                                            {% endif %}
                                                            {% if g.flowassurancecontrol.totalredkpi is defined %}
                                                                {% set fa_redCtrl_i = g.flowassurancecontrol.totalredkpi %}
                                                            {% endif %}

                                                        {% endfor %}
                                                    {% endif %}
                                                        {% set redCtrlStr =  redCtrlStr ~ subproject.name ~ ': ' ~ subproject.totalRedControlKpi  ~ '<br/>' %}
                                                        {% set redMgmtStr = redMgmtStr ~ subproject.name ~ ': ' ~ subproject.totalRedManagementKpi  ~ '<br/>' %}
                                                        {% set fa_redCtrlStr = fa_redCtrlStr ~ subproject.name ~ ': ' ~ subproject.flowtotalRedControlKpi ~ '<br/>' %}
                                                        {% set fa_redMgmtStr = fa_redMgmtStr ~ subproject.name ~ ': ' ~ subproject.flowtotalRedManagementKpi ~ '<br/>' %}
                                                        {% set corr_odcountStr = corr_odcountStr ~ subproject.name ~ ': ' ~ subproject.corrOverdue ~ '<br/>' %}
                                                        {% set fa_odcountStr = fa_odcountStr ~ subproject.name ~ ': ' ~ subproject.faOverdue ~ '<br/>' %}


                                                    {% set redCtrl = redCtrl + subproject.totalRedControlKpi %}
                                                    {% set redMgmt = redMgmt + subproject.totalRedManagementKpi %}

                                                    {% set fa_redCtrl = fa_redCtrl + subproject.flowtotalRedControlKpi %}
                                                    {% set fa_redMgmt = fa_redMgmt + subproject.flowtotalRedManagementKpi %}
                                                    {% set corrOverdueCount = corrOverdueCount + subproject.corrOverdue %}
                                                    {% set faOverdueCount = faOverdueCount + subproject.faOverdue %}
                                                {% endfor %}
                                            {% endif %}

                                            <div class="col-lg-5" style="height: 400px;">
                                                <div class="row" style="height: 195px;">
                                                    <div class="col-lg-12">
                                                        <span><b>Corrosion Management as of {{ "now"|date("j F Y") }}</b></span>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <div class="overdueDiv" style="height: 160px; margin-top: -10px;">
                                                            <h3 style="color: #000;padding-top: 20px;font-size: 15px;"><b>Red Control KPI</b></h3>
                                                            <span class="red-kpi" data-toggle="tooltip" data-html="true" title="{{ redCtrlStr }}">{{ redCtrl|default(0) }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <div class="overdueDiv" style="height: 160px; margin-top: -10px;">
                                                            <h3 style="color: #000;padding-top: 20px;font-size: 15px;"><b>Red Management KPI</b></h3>
                                                            <span class="red-kpi" data-toggle="tooltip" data-html="true" title="{{ redMgmtStr }}">{{ redMgmt|default(0) }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <div class="overdueDiv" style="height: 160px; margin-top: -10px;">
                                                            <h3 style="color: #000;padding-top: 20px;font-size: 15px;"><b>Overdue Activities</b></h3>
                                                            <span class="red-kpi" style="background-color: #f7976a;" data-toggle="tooltip" data-html="true" title="{{ corr_odcountStr }}">{{ corrOverdueCount|default(0) }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="height: 195px; margin-top: 12px;">
                                                    <div class="col-lg-12">
                                                        <span><b>Flow Assurance as of {{ "now"|date("j F Y") }}</b></span>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <div class="overdueDiv" style="height: 160px; margin-top: -10px;">
                                                            <h3 style="color: #000;padding-top: 20px;font-size: 15px;"><b>Red Control KPI</b></h3>
                                                            <span class="red-kpi" data-toggle="tooltip" data-html="true" title="{{ fa_redCtrlStr }}">{{ fa_redCtrl|default(0) }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <div class="overdueDiv" style="height: 160px; margin-top: -10px;">
                                                            <h3 style="color: #000;padding-top: 20px;font-size: 15px;"><b>Red Management KPI</b></h3>
                                                            <span class="red-kpi" data-toggle="tooltip" data-html="true" title="{{ fa_redMgmtStr }}">{{ fa_redMgmt|default(0) }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                        <div class="overdueDiv" style="height: 160px; margin-top: -10px;">
                                                            <h3 style="color: #000;padding-top: 20px;font-size: 15px;"><b>Overdue Activities</b></h3>
                                                            <span class="red-kpi" style="background-color: #f7976a;" data-toggle="tooltip" data-html="true" title="{{ fa_odcountStr }}">{{faOverdueCount|default(0) }}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="col-lg-12">
                                                <div class="alert alert-info">
                                                    <b>This project does not have any compliance data yet.</b>
                                                </div>
                                            </div>
                                        {% endif %}
                                        {% if project.subprojects is defined and project.subprojects is not empty %}

                                            {% for subproject in project.subprojects %}
                                                {% set corrOverdueActivities = 0 %}
                                                {% set faOverdueActivities = 0 %}
                                                {% set totalOverallManagementCompliance = 0 %}
                                                {% set totalOverallControlCompliance = 0 %}
                                                {% set compDate = "" %}
                                                {% set fa_redmgmtval = 0 %}
                                                {% set fa_redctrlval = 0 %}
                                                {% set redmgmtval = 0 %}
                                                {% set redctrlval = 0 %}
                                                {% if subproject.complianceDate is defined and subproject.complianceDate is not empty %}
                                                    {% for spmrdate in subproject.complianceDate %}
                                                        {% set compDate = 'Last Approved ' ~ spmrdate|date('M d Y', "Asia/Dubai") ~ ' at ' ~ spmrdate|date('H:i', "Asia/Dubai") ~ ' AST' %}
                                                    {% endfor %}
                                                {% endif %}
                                                {% if subproject.compliance is defined and subproject.compliance is not empty %}
                                                    {% for spmrdata in subproject.compliance %}
                                                        {% set g = json_decode(spmrdata) %}

                                                        {% set totalOverallManagementCompliance = g.overallmanagementcompliance|round(1, 'floor') %}
                                                        {% set totalOverallControlCompliance = g.overallcontrolcompliance|round(1, 'floor') %}

                                                    {% endfor %}
                                                {% endif %}
                                                {% set redctrlval = subproject.totalRedControlKpi %}
                                                {% set redmgmtval = subproject.totalRedManagementKpi %}
                                                {#{% if subproject.totalredkpi is defined %}#}
                                                    {% set fa_redmgmtval = subproject.flowtotalRedManagementKpi %}
                                                {#{% endif %}#}
                                                {#{% if subproject.totalredkpi is defined %}#}
                                                    {% set fa_redctrlval = subproject.flowtotalRedControlKpi %}
                                                {#{% endif %}#}
                                                {% set corrOverdueActivities = subproject.corrOverdue %}
                                                {% set faOverdueActivities = subproject.faOverdue %}
                                                {% set manColor = "" %}
                                                {% set compColor = "" %}
                                                {% set FAmanColor = "" %}
                                                {% set FAcompColor = "" %}
                                                {% set faOverColor = "" %}
                                                {% set corrOverColor = "" %}
                                                {% if approved_data[subproject.id]['CM']|round(2, 'floor') < 26 %}
                                                    {% set manColor = "progress-bar-danger" %}
                                                {% elseif approved_data[subproject.id]['CM']|round(2, 'floor') >26 and approved_data[subproject.id]['CM']|round(2, 'floor') < 76 %}
                                                    {% set manColor = "progress-bar-warning" %}
                                                {% elseif approved_data[subproject.id]['CM']|round(2, 'floor') >76 and approved_data[subproject.id]['CM']|round(2, 'floor') < 101 %}
                                                    {% set manColor = "progress-bar-success" %}
                                                {% endif %}
                                                {% if approved_data[subproject.id]['CC']|round(2, 'floor') < 26 %}
                                                    {% set compColor = "progress-bar-danger" %}
                                                {% elseif approved_data[subproject.id]['CC']|round(2, 'floor') >26 and approved_data[subproject.id]['CC']|round(2, 'floor') < 76 %}
                                                    {% set compColor = "progress-bar-warning" %}
                                                {% elseif approved_data[subproject.id]['CC']|round(2, 'floor') >76 and approved_data[subproject.id]['CC']|round(2, 'floor') < 101 %}
                                                    {% set compColor = "progress-bar-success" %}
                                                {% endif %}
                                                {% if approved_data[subproject.id]['FAM']|round(2, 'floor') < 26 %}
                                                    {% set FAmanColor = "progress-bar-danger" %}
                                                {% elseif approved_data[subproject.id]['FAM']|round(2, 'floor') >26 and approved_data[subproject.id]['FAM']|round(2, 'floor') < 76 %}
                                                    {% set FAmanColor = "progress-bar-warning" %}
                                                {% elseif approved_data[subproject.id]['FAM']|round(2, 'floor') >76 and approved_data[subproject.id]['FAM']|round(2, 'floor') < 101 %}
                                                    {% set FAmanColor = "progress-bar-success" %}
                                                {% endif %}
                                                {% if approved_data[subproject.id]['FAC']|round(2, 'floor') < 26 %}
                                                    {% set FAcompColor = "progress-bar-danger" %}
                                                {% elseif approved_data[subproject.id]['FAC']|round(2, 'floor') >26 and approved_data[subproject.id]['FAC']|round(2, 'floor') < 76 %}
                                                    {% set FAcompColor = "progress-bar-warning" %}
                                                {% elseif approved_data[subproject.id]['FAC']|round(2, 'floor') >76 and approved_data[subproject.id]['FAC']|round(2, 'floor') < 101 %}
                                                    {% set FAcompColor = "progress-bar-success" %}
                                                {% endif %}

                                                {% if corrOverdueActivities > 1 %}
                                                    {% set corrOverColor = "label-danger" %}
                                                {% else %}
                                                    {% set corrOverColor = "label-primary" %}
                                                {% endif %}
                                                {% if faOverdueActivities > 1 %}
                                                    {% set faOverColor = "label-danger" %}
                                                {% else %}
                                                    {% set faOverColor = "label-primary" %}
                                                {% endif %}
                                                {#<div class="col-lg-4">
                                                    <div id="div_chartCompliance_{{ project.id }}">
                                                        <div class="overdueDiv" style="margin-top: 19px;">
                                                            <h3 style="color: #000;padding-top: 15px;font-size: 15px;"><b>Red KPI</b></h3>
                                                            <span class="label label-danger" style="font-size: 13px;"></span>
                                                        </div>
                                                    </div>
                                                </div>#}
                                                <div class="col-lg-12">
                                                    <hr style="margin-bottom: 0px;"/>
                                                </div>
                                                {% set flg =0 %}
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        {% if (subproject.complianceDate is defined and subproject.complianceDate is not empty) or current_data[subproject.id]['CC'] > 0 or current_data[subproject.id]['CM'] > 0 or current_data[subproject.id]['FAC'] > 0 or current_data[subproject.id]['FAM'] > 0  %}
                                                            <div class="col-lg-7">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="row">
                                                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                                                                <h3 class="primary-color">
                                                                                    <a class="projectTitle"  style="color:#e6a667" href="{{ path('cms_subprojects_dashboard',{'projectId': project.id,'id': subproject.id}) }}" style="text-transform:uppercase;">{{ subproject.name|ucwords }}</a>
                                                                                    <small>{{ compDate }}</small>
                                                                                </h3>
                                                                            </div>
                                                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                                                                <div class="right" style="margin-top: 20px;">
                                                                                    <span class="label label-success">&nbsp;</span>&nbsp;
                                                                                    <span class="label label-warning">&nbsp;</span>&nbsp;
                                                                                    <span class="label label-danger">&nbsp;</span> Approved&nbsp;&nbsp;&nbsp;
                                                                                    <span class="label label-default">&nbsp;</span> Current
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-lg-12">
                                                                        <div class="row">
                                                                            <div class="col-lg-12">
                                                                                <div class="row">
                                                                                    <div class="col-lg-6">
                                                                                        <div><span style="padding-left: 10px;"><b>Corrosion Management Compliance</b></span></div>
                                                                                        <div class="progress-holder">
                                                                                            <div class="progress">
                                                                                                <span class="progress-value-black">{{ approved_data[subproject.id]['CM'] is null ? "N/A" : approved_data[subproject.id]['CM']|round(2, 'floor') ~ "%" }}</span>
                                                                                                <div class="progress-bar {{ manColor }}" role="progressbar" aria-valuenow="{{ approved_data[subproject.id]['CM'] }}"
                                                                                                     aria-valuemin="0" aria-valuemax="100"></div><br>
                                                                                            </div>
                                                                                            <div class="progress">
                                                                                                <span class="progress-value-black">{{ current_data[subproject.id]['CM'] is null ? "N/A" : current_data[subproject.id]['CM']|round(2, 'floor') ~ "%" }}</span>
                                                                                                <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="{{current_data[subproject.id]['CM'] }}"
                                                                                                     aria-valuemin="0" aria-valuemax="100" style="background-color: #999999"></div><br>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-6">
                                                                                        <div><span style="padding-left: 10px;"><b>Corrosion Control Compliance</b></span></div>
                                                                                        <div class="progress-holder">
                                                                                            <div class="progress">
                                                                                                <span class="progress-value-black">{{ approved_data[subproject.id]['CC'] is null ? "N/A" : approved_data[subproject.id]['CC']|round(2, 'floor') ~ "%" }}</span>
                                                                                                <div class="progress-bar {{ compColor }}" role="progressbar" aria-valuenow="{{ approved_data[subproject.id]['CC'] }}"
                                                                                                     aria-valuemin="0" aria-valuemax="100"></div><br>
                                                                                            </div>
                                                                                            <div class="progress">
                                                                                                <span class="progress-value-black">{{ current_data[subproject.id]['CC'] is null ? "N/A" : current_data[subproject.id]['CC']|round(2, 'floor') ~ "%" }}</span>
                                                                                                <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="{{ current_data[subproject.id]['CC'] }}"
                                                                                                     aria-valuemin="0" aria-valuemax="100" style="background-color: #999999"></div><br>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="col-lg-12">
                                                                                <div class="row">
                                                                                    <div class="col-lg-6">
                                                                                        <div><span style="padding-left: 10px;"><b>Flow Assurance Management Compliance</b></span></div>
                                                                                        <div class="progress-holder">
                                                                                            <div class="progress">
                                                                                                <span class="progress-value-black">{{ approved_data[subproject.id]['FAM'] is null ? "N/A" : approved_data[subproject.id]['FAM']|round(2, 'floor') ~ "%" }}</span>
                                                                                                <div class="progress-bar {{ FAmanColor }}" role="progressbar" aria-valuenow="{{ approved_data[subproject.id]['FAM'] }}"
                                                                                                     aria-valuemin="0" aria-valuemax="100"></div><br>
                                                                                            </div>
                                                                                            <div class="progress">
                                                                                                <span class="progress-value-black">{{ current_data[subproject.id]['FAM'] is null ? "N/A" : current_data[subproject.id]['FAM']|round(2, 'floor') ~ "%" }}</span>
                                                                                                <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="{{ current_data[subproject.id]['FAM'] }}"
                                                                                                     aria-valuemin="0" aria-valuemax="100" style="background-color: #999999"></div><br>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-lg-6">
                                                                                        <div><span style="padding-left: 10px;"><b>Flow Assurance Control Compliance</b></span></div>
                                                                                        <div class="progress-holder">
                                                                                            <div class="progress">
                                                                                                <span class="progress-value-black">{{ approved_data[subproject.id]['FAC'] is null ? "N/A" : approved_data[subproject.id]['FAC']|round(2, 'floor') ~ "%" }}</span>
                                                                                                <div class="progress-bar {{ FAcompColor }}" role="progressbar" aria-valuenow="{{ approved_data[subproject.id]['FAC'] }}"
                                                                                                     aria-valuemin="0" aria-valuemax="100"></div><br>
                                                                                            </div>
                                                                                            <div class="progress">
                                                                                                <span class="progress-value-black">{{ current_data[subproject.id]['FAC'] is null ? "N/A" : current_data[subproject.id]['FAC']|round(2, 'floor') ~ "%" }}</span>
                                                                                                <div class="progress-bar progress-bar-default" role="progressbar" aria-valuenow="{{ current_data[subproject.id]['FAC'] }}"
                                                                                                     aria-valuemin="0" aria-valuemax="100" style="background-color: #999999"></div><br>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-5">
                                                                <table class="table table-bordered table-responsive table-condensed" style="margin-bottom: 0px;margin-top: 20px;">
                                                                    <thead>
                                                                    <tr style="">
                                                                        <th colspan="4">Count as of {{ "now"|date("j F Y") }}</th>
                                                                    </tr>
                                                                    <tr style="background-color: #17225A;color: white;text-align: center;">
                                                                        <th style="text-align: center;">Management System</th>
                                                                        <th style="text-align: center;">Red Control KPI</th>
                                                                        <th style="text-align: center;">Red Management KPI</th>
                                                                        <th style="text-align: center;">Overdue Activities</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr style="height: 56px;">
                                                                        <td><b>Corrosion Management</b></td>
                                                                        <td style="text-align: center;">
                                                                            <span class="red-kpi small-kpi"><b>{{ redctrlval|default(0) }}</b></span>
                                                                        </td>
                                                                        <td style="text-align: center;">
                                                                            <span class="red-kpi small-kpi"><b>{{ redmgmtval|default(0) }}</b></span>
                                                                        </td>
                                                                        <td style="text-align: center;">
                                                                            <span class="red-kpi small-kpi" style="background-color: #f7976a;"><b>{{ corrOverdueActivities|default(0) }}</b></span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr style="height: 56px;">
                                                                        <td><b>Flow Assurance Management</b></td>
                                                                        <td style="text-align: center;">
                                                                            <span class="red-kpi small-kpi"><b>{{ fa_redctrlval|default(0) }}</b></span>
                                                                        </td>
                                                                        <td style="text-align: center;">
                                                                            <span class="red-kpi small-kpi"><b>{{ fa_redmgmtval|default(0) }}</b></span>
                                                                        </td>
                                                                        <td style="text-align: center;">
                                                                            <span class="red-kpi small-kpi" style="background-color: #f7976a;"><b>{{ faOverdueActivities|default(0) }}</b></span>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>

                                                            </div>
                                                            {% set flg = 1 %}
                                                        {% else %}
                                                            {% if subproject is defined and subproject is not empty %}
                                                                <div class="col-lg-12">
                                                                    <h3 class="primary-color">
                                                                        <a class="projectTitle"  style="color:#e6a667" href="{{ path('cms_subprojects_dashboard',{'projectId': project.id,'id': subproject.id}) }}" style="text-transform:uppercase;">{{ subproject.name|ucwords }}</a>
                                                                        <small>{{ compDate }}</small>
                                                                    </h3>
                                                                    <div class="alert alert-info" style="margin-bottom: 5px;">
                                                                        This sub-project does not have any compliance data yet.
                                                                    </div>
                                                                </div>
                                                            {% endif %}

                                                        {% endif %}

                                                    </div>
                                                </div>
                                            {% endfor %}
                                            {% set tempsubproj = 0 %}
                                            {% if emptyprojects is defined and emptyprojects is not empty %}
                                                {% for emptyproject in emptyprojects %}
                                                    {% if project.id == emptyproject.id %}
                                                        {% if emptyproject.subprojects is defined and  emptyproject.subprojects is not empty %}
                                                            {% for subproject in emptyproject.subprojects %}
                                                                <div class="col-lg-12">
                                                                    <h3 class="primary-color">
                                                                        <a class="projectTitle"  style="color:#e6a667" href="{{ path('cms_subprojects_dashboard',{'projectId': project.id,'id': subproject.id}) }}" style="text-transform:uppercase;">{{ subproject.name|ucwords }}</a>
                                                                    </h3>
                                                                    <div class="alert alert-info" style="margin-bottom: 5px;">
                                                                        This sub-project does not have any compliance data yet.
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
</div>
<script>
    function addCharts(){
        {% for project in projects %}
        {% set TotalMgmtCom = 0 %}
        {% set TotalCtrlCom = 0 %}
        {% set TotalCorrOverdue = 0 %}
        {% set TotalFAOverdue = 0 %}
        {% set totalCount = 0 %}
        var cats_{{ project.id }} = [];
        var mgmt_{{ project.id }} = [];
        var ctrl_{{ project.id }} = [];
        var overdue_{{ project.id }} = [];
        {% if project.subprojects is defined and project.subprojects is not empty %}
        {% for subproject in project.subprojects %}
        cats_{{ project.id }}.push('{{ subproject.name }}');
        {% set overdueActivities = 0 %}
        {% set totalOverallManagementCompliance = 0 %}
        {% set totalOverallControlCompliance = 0 %}
        {% if subproject.corrOverdue is defined and subproject.corrOverdue is not empty %}
        {% set TotalCorrOverdue = TotalCorrOverdue + subproject.corrOverdue|length %}
        {% set totalCount = totalCount + 1 %}
        overdue_{{ project.id }}.push({{ subproject.corrOverdue|length }});
        {% else %}
        overdue_{{ project.id }}.push(0);
        {% endif %}

        {% if subproject.faOverdue is defined and subproject.faOverdue is not empty %}
        {% set TotalFAOverdue = TotalFAOverdue + subproject.faOverdue|length %}
        {% set totalCount = totalCount + 1 %}
        overdue_{{ project.id }}.push({{ subproject.faOverdue|length }});
        {% else %}
        overdue_{{ project.id }}.push(0);
        {% endif %}

        {% if subproject.compliance is defined and subproject.compliance is not empty %}
        {% for spmrdata in subproject.compliance %}
        {% set g = json_decode(spmrdata) %}
        {% set totalOverallManagementCompliance = g.overallmanagementcompliance|round(1, 'floor') %}
        {% set totalOverallControlCompliance = g.overallcontrolcompliance|round(1, 'floor') %}
        {% endfor %}
        {% set TotalMgmtCom = TotalMgmtCom + totalOverallManagementCompliance %}
        {% set TotalCtrlCom = TotalCtrlCom + totalOverallControlCompliance %}
        {% endif %}
        mgmt_{{ project.id }}.push({{ totalOverallManagementCompliance }});
        ctrl_{{ project.id }}.push({{ totalOverallControlCompliance }});
        {% endfor %}
        {% if TotalMgmtCom != 0 and totalCount %}
        {% set TotalMgmtCom = TotalMgmtCom / totalCount %}
        {% else %}
        {% set TotalMgmtCom = 0 %}
        {% endif %}
        {% if TotalCtrlCom != 0 and totalCount %}
        {% set TotalCtrlCom = TotalCtrlCom / totalCount %}
        {% else %}
        {% set TotalCtrlCom = 0 %}
        {% endif %}
        {% set manColor = "" %}
        {% set compColor = "" %}
        {% set overColor = "" %}
        {% if TotalMgmtCom|round(2, 'floor') < 26 %}
        {% set manColor = "rgba(217,83,79,1)" %}
        {% elseif TotalMgmtCom|round(2, 'floor') >26 and TotalMgmtCom|round(2, 'floor') < 76 %}
        {% set manColor = "rgba(240,173,78,1)" %}
        {% elseif TotalMgmtCom|round(2, 'floor') >76 and TotalMgmtCom|round(2, 'floor') < 101 %}
        {% set manColor = "rgba(92,184,92,1)" %}
        {% endif %}
        {% if TotalCtrlCom|round(2, 'floor') < 26 %}
        {% set compColor = "rgba(217,83,79,1)" %}
        {% elseif TotalCtrlCom|round(2, 'floor') >26 and TotalCtrlCom|round(2, 'floor') < 76 %}
        {% set compColor = "rgba(240,173,78,1)" %}
        {% elseif TotalCtrlCom|round(2, 'floor') >76 and TotalCtrlCom|round(2, 'floor') < 101 %}
        {% set compColor = "rgba(92,184,92,1)" %}
        {% endif %}
        {% if TotalCorrOverdue > 1 or TotalFAOverdue > 1 %}
        {% set overColor = "label-danger" %}
        {% else %}
        {% set overColor = "label-primary" %}
        {% endif %}


        {% if project.id in validate_data %}
          
            
        {% set zonelength = 0 %}
        {% set zonelengthminus = 0 %}
        {% for key,item  in projects_trend[project.id] %}
            {% if item['date'] == 'Current' %}
                {% set zonelength = projects_trend[project.id]|length - 1 %}
                {% set zonelengthminus = projects_trend[project.id]|length - 2 %}
            {% endif %}
        {% endfor %}

        Highcharts.chart('div_chartCombinedComplianceDetailed_{{ project.id }}', {
            chart: {
                type: 'pie',
                backgroundColor: null,
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                borderWidth: 1,
                colors:['#7cb5ec','#a349a4','#999999','#db5c20'],
                borderColor:'gray',
            },credits: {
                enabled: false
            },
            title: {
                text: 'Overall Compliance Trend',
                align: 'left'
            },
            xAxis: {
                categories: [
                    {% for key,item  in projects_trend[project.id] %}
                    {#Date.UTC({{ item['date']|date('Y') }}, {{ item['date']|date('m')-1 }}, {{ item['date']|date('d') }}),#}
                    '{{ item['date'] == 'Current'  ? 'Current' : item['date']|date("F Y") }}',
                    {% endfor %}
                ]
            },
            yAxis: [
                {
                    title: {
                        text: 'Compliance (%)',
                    },
                    max:100,
                    min:0
                },{
                    title: {
                        text: '',
                    },
                    opposite: true,
                    min:0
                }
            ],
            series: [{
                {#type: 'column',#}
                {#name: 'Overdue',#}
                {#yAxis: 1,#}
                {#color: '#f7976a',#}
                {#data: [#}
                {#{% for key,item  in projects_trend[project.id] %}#}
                {#{{ item['overdue'] }},#}
                {#{% endfor %}#}
                {#]#}
                {#},{#}
                type: 'line',
                yAxis: 0,
                name: 'Corrosion Management',
                color:'#7cb5ec',
                marker: {
                    symbol: 'circle'
                },
                data: [
                    {% for key,item  in projects_trend[project.id] %}
                    {{ (item['mgmt'] == 0 or item['mgmt'] is not defined ? 'null' : item['mgmt']|round(2)) }},
                    {% endfor %}
                ],                
                {% if zonelengthminus is not null and zonelength is not null %}
                zoneAxis: 'x',
                zones: [
                    {
                        value: {{ zonelengthminus }}
                    },
                    {
                        dashStyle: 'shortdash'
                    },
                    {
                        value: {{  zonelength }}
                    },
                    {
                        dashStyle: 'shortdash'
                    }
                ]
                {% endif %}
            }, {
                type: 'line',
                yAxis: 0,
                color:'#a349a4',
                name: 'Corrosion Control',
                marker: {
                    symbol: 'circle'
                },
                data: [
                    {% for key,item  in projects_trend[project.id] %}
                    {{ (item['ctrl'] == 0 or item['ctrl'] is not defined  ? 'null' : item['ctrl']|round(2)) }},
                    {% endfor %}
                ],                
                {% if zonelengthminus is not null and zonelength is not null %}
                zoneAxis: 'x',
                zones: [
                    {
                        value: {{ zonelengthminus }}
                    },
                    {
                        dashStyle: 'shortdash'
                    },
                    {
                        value: {{  zonelength }}
                    },
                    {
                        dashStyle: 'shortdash'
                    }
                ]
                {% endif %}
            },{
                type: 'line',
                yAxis: 0,
                color:'#999999',
                name: 'Flow Assurance Management',
                marker: {
                    symbol: 'circle'
                },
                data: [
                    {% for key,item  in projects_trend[project.id] %}
                    {{ (item['fa_mgmt'] == 0 or item['fa_mgmt'] is not defined  ? 'null' : item['fa_mgmt']|round(2)) }},
                    {% endfor %}
                ],
                {% if zonelengthminus is not null and zonelength is not null %}
                zoneAxis: 'x',
                zones: [
                    {
                        value: {{ zonelengthminus }}
                    },
                    {
                        dashStyle: 'shortdash'
                    },
                    {
                        value: {{  zonelength }}
                    },
                    {
                        dashStyle: 'shortdash'
                    }
                ]
                {% endif %}
            }, {
                type: 'line',
                yAxis: 0,
                color:'#db5c20',
                name: 'Flow Assurance Control',
                marker: {
                    symbol: 'circle'
                },
                data: [
                    {% for key,item  in projects_trend[project.id] %}
                    {{ (item['fa_ctrl'] == 0 or item['fa_ctrl'] is not defined ? 'null' : item['fa_ctrl']|round(2)) }},
                    {% endfor %}
                ],
                {% if zonelengthminus is not null and zonelength is not null %}
                zoneAxis: 'x',
                zones: [
                    {
                        value: {{ zonelengthminus }}
                    },
                    {
                        dashStyle: 'shortdash'
                    },
                    {
                        value: {{  zonelength }}
                    },
                    {
                        dashStyle: 'shortdash'
                    }
                ]
                {% endif %}
            }]
        });

        {% endif %}
        {% endif %}
        {% endfor %}
    }
</script>
