/* Functions */
.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}

.rotate (@degree: 45deg) {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(@degree);
  -moz-transform: rotate(@degree);
  -ms-transform: rotate(@degree);
  -o-transform: rotate(@degree);
  transform: rotate(@degree);
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 10px;
  color: #5a5a5a;
  background-color: #9E9FA1;
  margin: 8px auto;
}

#footer{
	background: black;
	color: @blue-dark;
	padding-bottom: 100px;
}

#wrapper {
  background: #fff;
  height:auto;
}

/* LOGO */
.brand {
  background-repeat: no-repeat;
  background-position: 15px center;
  height: 100px;
  width: 360px;
  text-indent: -9999px;
  overflow: hidden;
}

.pipeline-logo {
  background-image: url('../img/logo_pipeline.png') !important;
}

.anomaly-logo {
  background-image: url('../img/logo_anomaly.png') !important;
}

.cms-logo {
  background-image: url('../img/logo_cms.png') !important;
}

.base-logo {
  width: 200px !important;
  background-image: url('../img/logo.png') !important;
}

.center-block {
  margin: 0 auto;
  float: none;
}

#dashboard {
  .make-lg-column(12);
}

.blue-box {
  .make-lg-column(12);
  margin: 10px;
  background: @blue-dark;
  color: @white;
}

.aie-logo {
  background: url('../img/aie_logo.png') no-repeat 15px center;
  height: 100px;
  width: 230px;
  text-indent: -9999px;
  overflow: hidden;
}

.primary-color {
  color: @blue-dark;
}

.strong {
  font-weight: bold;
}

.font-size-base, .font-size-h5 {
  font-size: @font-size-base;
}

.font-size-large {
  font-size: @font-size-large;
}

.font-size-small {
  font-size: @font-size-small;
}

.font-size-h1 {
  font-size: @font-size-h1;
}

.font-size-h2 {
  font-size: @font-size-h2;
}

.font-size-h3 {
  font-size: @font-size-h3;
}

.font-size-h4 {
  font-size: @font-size-h4;
}

.font-size-h6 {
  font-size: @font-size-h6;
}

.brand h1 {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.brand h1 a {
  display: block;
  height: 100%;
}

#navigation-container {
  padding: 0px;
}

/* NOTIFICATIONS */
#notifications-container {
  margin: 15px;

  .notification-icon {
    float: left;
    margin-left: 15px;

    .glyphicon {
      top: 3px;
    }

    .badge.danger {
      background-color: red;
    }

    .badge.warning {
      background-color: #E7E70C;
    }
  }
}

.capitalize {
  text-transform: capitalize;
}

.anchro-btn {
  border: 0px;
  background: transparent;
  margin: 0px;
  padding: 0px;

}

/* CONTENT */

#content-container {
  margin-bottom: 30px;
}

#content {
  float: left;
  /*overflow: hidden;*/
}

/* LEFT NAVIGATION */

#left-navigation {
  //width: 195px;
  padding: 0px;
  float: left;
  margin-top: 60px;

  h3.left-caption {
    text-align: center;
    margin-top: -16px;
  }

  .arrow {
    position: absolute;
    right: 0;
    margin-top: 14px;
    margin-right: 10px;
    font-size: 11px;
  }

  .rotate.arrow {
    .rotate(-90deg);
  }

  .current_ancestor {
    .subnav {
      display: block;
    }
  ;
  }
}

.sidebar-nav {
  background: #B2BACA;
}

.sidebar-nav ul li {
  list-style: none;
  line-height: 28px;
  margin-right: 1px;
  border-top: 1px;
}

.sidebar-nav ul li a {
  color: #201E1E;
  padding: 10px 10px;
  display: block;
  font-size: 16px;
  font-weight: normal;
  -webkit-transition: background 0.8s ease;
  height: 50px;
}

.sidebar-nav ul li a .glyphicon {
  margin-top: 4px;
  opacity: 0.45;
  float: left;
}

.sidebar-nav ul li.active {
  border-right: 4px solid #10173E;
  background: white;
}

.sidebar-nav ul li.active a {
  color: #222;
}

.sidebar-nav ul li.active a .glyphicon {
  opacity: 0.9;
}

.sidebar-nav ul li a:hover {
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  background: #144082;
}

.sidebar-nav ul li a:hover .glyphicon {
  opacity: 0.9;
}

.sidebar-nav ul .subnav {
  list-style: none;
  padding: 0px;
  position: relative;
  margin: 0px;
  background: #9da8b3;
  //width: 195px;
  display: none;
}

.sidebar-nav ul .subnav li.active {
  border-right: 4px solid #3D7CCC;
}

@media (min-width: 991px) {
  .sidebar-nav ul .subnav a {
    padding-left: 15px;
  }
}

.sidebar-nav ul .subnavheading {
  font-size: 16px;
  -webkit-transition: background 0.8s ease;
  height: 40px;
  font-weight: bold;
  padding-left:5px;
  width: 85% !important;
}

.nav-item {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

/* GENERAL STYLES */

/* Login Page Style */

/* Large desktop */
@media (min-width: 1200px) {
  h1 {
    font-size: 36px;
    small {
      font-size: 24px;
    }
  }

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  h1 {
    font-size: 32px;
    small {
      font-size: 20px;
    }
  }

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  h1 {
    font-size: 28px;
    small {
      font-size: 18px;
    }
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  h1 {
    font-size: 26px;
    small {
      font-size: 16px
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

li.form-container {
  div {
    display: inline-block;
  }
  form {

    .form-group {
      margin: 0px;
      padding: 0px;

      .button-container {
        padding: 0px;
        height: 19px;
        button {
          padding: 0px;
          .btn-link;
        }
      }
    }
  }
}

/* AIE Map */
.map {
  height: 400px;
}

.textarea-container, .text-container, .select-container {
  .make-sm-column(9);
}

.button-container {
  .make-sm-column(12);
}

.hidden-thead {
  th {
    line-height: 0 !important;
    visibility: hidden;
    height: 0px;
    margin: 0px;
    padding: 0px !important;
    border: none !important;
  }
}

.record_properties, .records_list {
  thead {

    &.text-center {
      th {
        .text-center;
      }
    }
    tr {
      background: #DDD;
      th {
        border-bottom: 2px solid #C0C0C0 !important;
      }
    }
  }
}

.sticky-header {
  background: white;
  z-index: 99;
  table {
    margin-bottom: 0px;
  }
}

/* Tables */

.report table, .records_list, .record_properties {
  .table;
  .table-hover;
  table-layout: fixed;
  textarea {
    resize: vertical;
  }

  .textarea-container, .select-container, .text-container {
    width: 100%;
    padding: 0px;
  }

  .form-group {
    margin-left: 0px;
    margin-right: 0px;
  }

  -ms-word-break: break-all;

  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* Report */
.report-title {
  margin: 20px;
  font-size: 30px;
}

.darkgreen {
  background-color: #066b2d;
}

.green {
  background-color: #0ab34c;
}

.orange {
  background-color: #FF7722;
}

.yellow {
  background-color: #FFFF00;
}

.red {
  background-color: #C20000;
}
.darkred {
  background-color: #760000;
}


body.report {

  margin: 0;
  padding: 0;
  background: white;

  * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .page {
    margin: 0;
    page-break-after: always;

    .subpage {
      padding: 1cm 1.25cm;
      border: 3px double black;
      height: 230mm;
      //outline: 2cm #FFEAEA solid;
    }
  }

  .page-break {
    page-break-before: always;
  }

  @page {
    size: A4 portrait; /* can also use 'landscape' for orientation */
    margin: 0px;
  }

  h1 {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
  }

  h2, .h2 {
    font-size: 16px;
    font-weight: bold;
  }

  h3, .h3 {
    font-size: 15px;
    font-weight: bold;
  }

  font-size: 10px;

  #chart {
    background: rgba(199, 24, 24, 1);
    background: -moz-linear-gradient(top, rgba(199, 24, 24, 1) 0%, rgba(199, 24, 24, 1) 8%, rgba(228, 104, 10, 1) 25%, rgba(242, 242, 0, 1) 56%, rgba(225, 240, 17, 1) 67%, rgba(154, 230, 14, 1) 76%, rgba(4, 177, 79, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(199, 24, 24, 1)), color-stop(8%, rgba(199, 24, 24, 1)), color-stop(25%, rgba(228, 104, 10, 1)), color-stop(56%, rgba(242, 242, 0, 1)), color-stop(67%, rgba(225, 240, 17, 1)), color-stop(76%, rgba(154, 230, 14, 1)), color-stop(100%, rgba(4, 177, 79, 1)));
    background: -webkit-linear-gradient(top, rgba(199, 24, 24, 1) 0%, rgba(199, 24, 24, 1) 8%, rgba(228, 104, 10, 1) 25%, rgba(242, 242, 0, 1) 56%, rgba(225, 240, 17, 1) 67%, rgba(154, 230, 14, 1) 76%, rgba(4, 177, 79, 1) 100%);
    background: -o-linear-gradient(top, rgba(199, 24, 24, 1) 0%, rgba(199, 24, 24, 1) 8%, rgba(228, 104, 10, 1) 25%, rgba(242, 242, 0, 1) 56%, rgba(225, 240, 17, 1) 67%, rgba(154, 230, 14, 1) 76%, rgba(4, 177, 79, 1) 100%);
    background: -ms-linear-gradient(top, rgba(199, 24, 24, 1) 0%, rgba(199, 24, 24, 1) 8%, rgba(228, 104, 10, 1) 25%, rgba(242, 242, 0, 1) 56%, rgba(225, 240, 17, 1) 67%, rgba(154, 230, 14, 1) 76%, rgba(4, 177, 79, 1) 100%);
    background: linear-gradient(to bottom, rgba(199, 24, 24, 1) 0%, rgba(199, 24, 24, 1) 8%, rgba(228, 104, 10, 1) 25%, rgba(242, 242, 0, 1) 56%, rgba(225, 240, 17, 1) 67%, rgba(154, 230, 14, 1) 76%, rgba(4, 177, 79, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c71818', endColorstr='#04b14f', GradientType=0);
  }

  #logo {
    margin: 20px;
  }

  .c3-tooltip {
    padding: 5px;
    font-weight: bold;
    width: 550px;

    .risk {
      padding: 5px;
      color: #fff;
      text-align: center;
    }
    .yellow {
      color: #000;
    }

  }

  .c3-axis-y {
    opacity: 0 !important;
  }

  .risk-color {
    font-weight: bold;
    color: #000;
  }
}

table .risk-box {
  height: 225px;
  position: relative;

  .level {
    width: 85%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .level-1 {
    .green;
    height: 50px;
  }

  .level-2 {
    .yellow;
    height: 100px;
  }

  .level-3 {
    .orange;
    height: 150px;
  }

  .level-4 {
    .red;
    height: 200px;
  }
}

.section_table {
  position: relative;
  background: #FFF;
  padding: 0px;
  width: auto;
  //max-width: 500px;
  margin: 20px auto;
}

.consequence {
  font-weight: bold;
}

.riskmatrix {
  font-size: 12px;

  textarea.consequence {
    width: 123px;
    height: 70px;
    resize: vertical;
  }

  textarea.liklyhood {
    width: 100px;
    height: 175px;
    resize: vertical;
  }
}

#map_panel {
  #lat_lng {
    height: 400px;
    resize: none;
  }

  .buttons {
    padding: 6px 12px
  }
}

/* Resizable Columns */
.rc-handle-container {
  position: relative;
}

.rc-handle {
  position: absolute;
  width: 7px;
  cursor: ew-resize;
  margin-left: -3px;
  z-index: 2;
}

table.rc-table-resizing {
  cursor: ew-resize;
}

table.rc-table-resizing thead, table.rc-table-resizing thead > th, table.rc-table-resizing thead > th > a {
  cursor: ew-resize;
}

/* End Resizable Columns */

/* Typeahead Bootstrap */
.twitter-typeahead {
  width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width: 100%;
}

.tt-suggestion {
  display: block;
  padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

/* END Typeahead */

/* Multiselect */
.download-attachment {
  color: #000000;
  position: absolute;
  left: 3px;
  &:hover {
    color: @gray-darker;
  }
}

button {
  .download-attachment {
    .hide;
  }
}

/* */
ul.veracity-systems {
  padding-top: 150px;
  padding-bottom: 150px;
  .list-unstyled;

  li {
    float: left;
    margin: 15px;
  }
}

.navbar-nav {
  //for top navigation, to add sub menus :)

  .dropdown-submenu {
    position: relative;
    & > .dropdown-menu {
      top: 0;
      left: 100%;
      margin-top: -6px;
      margin-left: -1px;
      -webkit-border-radius: 0 6px 6px 6px;
      -moz-border-radius: 0 6px 6px 6px;
      border-radius: 0 6px 6px 6px;
    }

    &:hover > .dropdown-menu {
      display: block;
    }

    & > a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #cccccc;
      margin-top: 5px;
      margin-right: -10px;
    }

    &:hover > a:after {
      border-left-color: #ffffff;
    }
    &.pull-left {
      float: none;
    }
    &.pull-left > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
    }
  }

  .dropdown-menu {
    .glyphicon:before {
      content: "" !important;
    }
  }
}

@import "anomaly.less";
@import "cms.less";