.anomaly-status {
  &.new {
    .badge;
  }

  &.request {
    .badge;
  }

  &.cancelled {
    .badge;
  }

  &.closed {
    .badge;
  }

  &.final {

  }

  &.request-rejected{
    .badge;
    .label-danger;
  }
}


.c3{ // for ploting graphs
  .grid-line{

    font-size: 12px;
    line-height: 2;
    font-weight: bold;
    stroke-width: 2;

    line {
      stroke-dasharray: 5,5;
    }

    &.nwt-line{
      line{
        stroke: green;
      }
    }

    &.conc-line{
      line{
        stroke: orange;
      }
    }

    &.mawt-line{
      line{
        stroke: red;
      }
    }
  }

}