{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Risk Assessment Reports</h1>
    {% set grantedGenerate = is_granted('ROLE_GENERATE_ASSESSMENT', pipeline.project) %}
    {% set grantedApprove = is_granted('ROLE_APPROVE_ASSESSMENT', pipeline.project) %}
    {% set grantedShow = is_granted('ROLE_REPORT_SHOW', pipeline.project) %}

    <table class="records_list">
        <thead>
        <tr>
            <th>Assessment Id</th>
            <th>Created On</th>
            <th>Approved?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.date %}{{ entity.date|date('d F Y \\a\\t g:ia e') }}{% endif %}</td>
                <td>{{ entity.isApproved? "Approved" : "Not Approved" }}</td>
                <td>
                    <ul>
                        {% if grantedShow %}
                            <li>
                                <a target="_blank"
                                   href="{{ path('assessment_report', {'id': entity.id, 'pipelineId':pipelineId}) }}">Show
                                    Report Online</a>
                            </li>
                            <li>
                                <!-- <a href="{{ path('assessment_report_docx', {'id': entity.id, 'pipelineId':pipelineId}) }}">Download Docx</a> -->
                                <a href="#" data-toggle="modal" data-target="#assessment-{{ entity.id }}">Download
                                    Docx</a>
                            </li>
                        {% endif %}
                        {% if grantedApprove %}
                            <li>
                                <a href="{{ path('riskassessment_approve', {'id': entity.id, 'pipelineId':pipelineId}) }}">Approve</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if grantedShow %}
        {% for entity in entities %}
            <div class="modal fade" id="assessment-{{ entity.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel"
                 aria-hidden="true">
                {{ form_start( attribute(assessment_report_forms, entity.id)) }}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Report Generation</h4>
                        </div>
                        <div class="modal-body">
                            <div class="assessment-form">
                                <p>
                                    <a href="#" class="btnSelectAll">Select all</a> -
                                    <a href="#" class="btnDeselectAll">Deselect all</a>
                                </p>
                                {% set assessment_sections = attribute( attribute(assessment_report_forms, entity.id), 'assessment_report') %}
                                <div class="tree">
                                    <ul>
                                        {% for assessment_section in assessment_sections %}
                                            {% if assessment_section.vars.name == 'WORKSHOP' %}
                                                <li class="expanded folder">{{ form_widget( assessment_section ) }} {{ form_label(assessment_section) }}
                                                    <ul>
                                                        {% set workshop_form = attribute( attribute(assessment_report_forms, entity.id), 'workshop_report') %}
                                                        {% for id, workshop in workshop_form %}
                                                            <li data-workshop="{{ id }}">{{ form_widget( workshop ) }} {{ form_label(workshop) }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% else %}
                                                <li>{{ form_widget( assessment_section ) }} {{ form_label(assessment_section) }}</li>
                                            {% endif %}
                                        {% endfor %}
                                        <ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            {{ form_widget( attribute(attribute(assessment_report_forms, entity.id), 'submit')) }}
                        </div>
                    </div>
                </div>
                {{ form_end( attribute(assessment_report_forms, entity.id)) }}
            </div>
        {% endfor %}
    {% endif %}
    {% if grantedGenerate and form is defined %}
        {{ form(form) }}
    {% endif %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
            $(".tree").fancytree({
                checkbox: true,
                selectMode: 3,
                keyboard: true, // Support keyboard navigation.
                icons: false, // Display node icons.
                beforeSelect: function (event, data) {
                    if (data.node.folder) {
                        return false;
                    } else if (data.node.data.workshop) {
                        $(this).fancytree("getRootNode").visit(function (node) {
                            if (node.data.workshop && data.node != node) {
                                node.setSelected(false);
                                $(node.li).find('input').val("");
                            }
                        });
                    }
                },
                select: function (event, data) {
                    $(this).fancytree("getRootNode").visit(function (node) {
                        if (node.isSelected()) {
                            $(node.li).find('input').val(true);
                            if (node.data.workshop) {
                                $(node.parent.li).find('input:first').val(true);
                            }
                        } else {
                            $(node.li).find('input').val("");
                        }
                    });
                }
            });
            $(".btnDeselectAll").click(function () {
                $(this).closest('.assessment-form').find(".tree").fancytree("getTree").visit(function (node) {
                    node.setSelected(false);
                    $(node.li).find('input').val("");
                });
                return false;
            });
            $(".btnSelectAll").click(function () {
                $(this).closest('.assessment-form').find(".tree").fancytree("getTree").visit(function (node) {
                    node.setSelected(true);
                    $(node.li).find('input').val(true);
                });
                return false;
            });
        })
        ;
    </script>
{% endblock %}