{% extends 'AIEIntegrityAssessmentBundle:Default:wizard.html.twig' %}

{% block steps -%}

    {% for section in sections %}
        <li data-target="#step{{ section.id }}" {% if loop.index == 1 %}class="active"{% endif %}><span
                    class="badge badge-info">{{ loop.index }}</span>{{ section.section }}<span class="chevron"></span>
        </li>
    {% endfor %}

{% endblock %}
{% block steps_content %}
    {{ form_start(form) }}
    {% for section in sections %}
        <div class="step-pane {% if loop.index == 1 %}active{% endif %}" id="step{{ section.id }}">

            <table class="records_list table-bordered">
                <thead>
                <tr>
                    <th>Threat</th>
                    <th>Mitigation Technique</th>
                    <th>Frequency</th>
                    <th style="width: 190px;">Last Inspection Date</th>
                    <th style="width: 190px;">Next Inspection Date</th>
                    <th>Status</th>
                    <th>Action Owner</th>
                </tr>
                </thead>
                <tbody>
                {% set threatName = '' %}
                {% for sma in mitigationAction[section.id] %}

                    {% set continues = (sma.mitigationTechnique.vfreq ==0  and sma.mitigationTechnique.hfreq == 0 and sma.mitigationTechnique.mfreq == 0 and sma.mitigationTechnique.lfreq == 0) %}

                    {% if threatName != sma.sectionsThreats.threats.name %}
                        {% set threatName = sma.sectionsThreats.threats.name %}
                        <tr>
                            <td rowspan="{{ sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] }}">{{ sma.sectionsThreats.threats.name }}</td>
                            <td>{{ sma.mitigationTechnique.mitigationTechnique }}</td>
                            <td>{{ sma.frequency }}</td>
                            <td>
                                {{ sma.LastInspectionDate|date('d F Y') }}
                            </td>
                            <td>
                                {{ sma.NextInspectionDate|date('d F Y') }}
                            </td>
                            {{ sma.IsInspectionDue is not same as( false ) ? '<td style="background:#FF786C;">Overdue</td>' : '<td>Planned</td>' }}
                            <td>
                                {{ form_widget( attribute( attribute(form, 'sma_' ~ sma.id ), 'action_owner' )) }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ sma.mitigationTechnique.mitigationTechnique }}</td>
                            <td>{{ sma.frequency }}</td>
                            <td>
                                {{ sma.LastInspectionDate|date('d F Y') }}
                            </td>
                            <td>
                                {{ sma.NextInspectionDate|date('d F Y') }}
                            </td>

                            {{ sma.IsInspectionDue is not same as( false ) ? '<td style="background:#FF786C;">Overdue</td>' : '<td>Planned</td>' }}

                            <td>
                                {{ form_widget( attribute( attribute(form, 'sma_' ~ sma.id ), 'action_owner' )) }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>


        </div>
    {% endfor %}

    <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardNext" value="Next"></div>
    <div class="col-lg-1 right">{{ form_widget(form.submit) }}</div>
    <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardPrev" value="Back"></div>
    {{ form_end(form) }}
    <a id="nextLink" href="{{ path('inspections_planning', {'pipelineId':pipelineId}) }}" style="display: none;"></a>
{% endblock %}

