{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Planning</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Plan Duration</h3>
        </div>
        <div class="panel-body">
            {{ form_start(filter_form) }}

            <div class="col-lg-12">
                <div class="left col-lg-6">{{ form_label(filter_form.filter_form.from_date) }}{{ form_widget(filter_form.filter_form.from_date) }}</div>
                <div class="left col-lg-6">{{ form_label(filter_form.filter_form.to_date) }}{{ form_widget(filter_form.filter_form.to_date) }}</div>
            </div>
            {{ form_widget(filter_form.submit) }}
            {{ form_end(filter_form) }}
        </div>
    </div>

    <table class="records_list table-bordered">
        <thead class="text-center">
        <tr>
            <th style="width: 60px;">ID</th>
            <th>Activity Description</th>
            <th>Threat</th>
            <th>Location</th>
            <th style="width: 100px;">Frequency</th>
            <th>Due Date</th>
            <th>Status</th>
            <th>Action Owner</th>
        </tr>
        </thead>
        <tbody>
        {% set i = 1 %}
        {% for id,dt in actions %}
            {% set date_str = id %}
            {% set actions_date_cnt = actions[date_str]|length %}
            {% if actions_date_cnt > 0 %}
                {% for id, action in actions[date_str] %}
                    <tr>
                        <td>{{ i }}</td>
                        <td>{{ action.mitigationTechnique.mitigationTechnique }}</td>
                        <td>{{ action.sectionsThreats.threats.name }}</td>
                        <td>{{ action.sectionsThreats.pipelineSections.section }}</td>
                        <td>{{ action.frequency }}</td>
                        <td style="background:#FF786C;">{{ date_str }}</td>
                        <!--<td>{{ action.NextInspectionDate|date('d F Y') }}</td>-->
                        {% if action.frequency != 0 %}
                            {{ action.IsInspectionDue is not same as( false ) ? '<td style="background:#FF786C;">Overdue</td>' : '<td>Planned</td>' }}
                        {% else %}
                            <td></td>
                        {% endif %}
                        <td>{{ action.actionOwner? action.actionOwner.name: 'N/A' }}</td>
                    </tr>
                    {% set i = i + 1 %}
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}