{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Reminders</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Plan Duration</h3>
        </div>
        <div class="panel-body">
            {{ form_start(filter_form) }}

            <div class="col-lg-12">
                <div class="left col-lg-6">{{ form_label(filter_form.filter_form.from_date) }}{{ form_widget(filter_form.filter_form.from_date) }}</div>
                <div class="left col-lg-6">{{ form_label(filter_form.filter_form.to_date) }}{{ form_widget(filter_form.filter_form.to_date) }}</div>
            </div>
            {{ form_widget(filter_form.submit) }}
            {{ form_end(filter_form) }}
        </div>
    </div>

    <table class="records_list table-bordered">
        <thead>
        <tr>
            <th>Section</th>
            <th>Threat</th>
            <th>Mitigation Technique</th>
            <th>Frequency</th>
            <th style="width: 130px;">Last Inspection Date</th>
            <th style="width: 130px;">Next Inspection Date</th>
            <th>Status</th>
            <th>Action Owner</th>
            <th>Reminded On</th>
            <th>No. of Reminders</th>
        </tr>
        </thead>
        <tbody>
        {% set sectionName = '' %}
        {% for section in sections %}
            {% set threatName = '' %}
            {% for sma in mitigationAction[section.id] if sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] is defined %}

                <tr>
                    {% if sectionName != section.section %}
                        {% set sectionName = section.section %}
                        <td rowspan="{{ sectionsCounter[section.id] }}">{{ section.section }}</td>
                    {% endif %}
                    {% set continues = (sma.mitigationTechnique.vfreq ==0  and sma.mitigationTechnique.hfreq == 0 and sma.mitigationTechnique.mfreq == 0 and sma.mitigationTechnique.lfreq == 0) %}

                    {% if threatName != sma.sectionsThreats.threats.name %}
                        {% set threatName = sma.sectionsThreats.threats.name %}

                        <td rowspan="{{ sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] }}">{{ sma.sectionsThreats.threats.name }}</td>
                    {% endif %}
                    <td>{{ sma.mitigationTechnique.mitigationTechnique }}</td>
                    <td>{{ sma.frequency }}</td>
                    <td>
                        {{ sma.LastInspectionDate|date('d F Y') }}
                    </td>
                    <td>
                        {{ sma.NextInspectionDate|date('d F Y') }}
                    </td>
                    {% if sma.frequency != 0 %}
                        {{ sma.IsInspectionDue is not same as( false ) ? '<td style="background:#FF786C;">Overdue</td>' : '<td>Planned</td>' }}
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ sma.actionOwner? sma.actionOwner.name: 'N/A' }}</td>
                    <td>
                        {% if sma.remindedOn is not empty %}

                            {% for remindedOn in sma.remindedOn %}
                                {{ remindedOn.date|date('d F Y') }}<br>
                            {% endfor %}
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                    <td>{{ sma.remindedOn is not empty ? sma.remindedOn|length: 0 }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

