{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>PipelineRiskAssessment creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pipelineriskassessment') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
