{% extends 'AIEIntegrityAssessmentBundle:Default:wizard.html.twig' %}



{% block steps -%}
    {% for section in sections %}
        <li data-target="#step{{ section.id }}" {% if loop.index == 1 %}class="active"{% endif %}><span
                    class="badge badge-info">{{ loop.index }}</span>{{ section.section }}<span class="chevron"></span>
        </li>
    {% endfor %}

{% endblock %}
{% block steps_content %}
    {{ form_start(form) }}
    {% for section in sections %}
        <div class="step-pane {% if loop.index == 1 %}active{% endif %}" id="step{{ section.id }}">

            <table class="records_list table-bordered">
                <thead>
                <tr>
                    <th rowspan="2">Threat</th>
                    <th rowspan="2">Mitigation Technique</th>
                    <!--
                    <th rowspan="2">Comments</th>
                    <th rowspan="2">Probability of failure</th>
                    <th rowspan="2">Confidence in the Assessment</th>
                    <th rowspan="2">Adjusted Probability of failure</th>-->
                    <th colspan="{{ consequences|length }}" style="text-align: center">Individual Risk</th>
                    <th rowspan="2">Frequency</th>
                    <th rowspan="2">Manual Frequency</th>
                    <th rowspan="2">Last Modified Frequency</th>
                    <th rowspan="2">Justification</th>
                    <!--<th rowspan="2">Next Inspection Date</th>-->
                    <!--<th rowspan="2">Inspection Status</th>-->
                </tr>
                <tr>
                    {% for consequence in consequences %}
                        <th>{{ consequence.consequence.name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% set threatName = '' %}
                {% for sma in mitigationAction[section.id] %}
                    {% if threatName != sma.sectionsThreats.threats.name %}
                        {% set threatName = sma.sectionsThreats.threats.name %}
                        <tr>
                            <td rowspan="{{ sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] }}">{{ sma.sectionsThreats.threats.name }}</td>
                            <td>{{ sma.mitigationTechnique.mitigationTechnique }}</td>
                            <!--<td>{{ sma.comments }}</td>
                                        {% set column = 'sectionThreat_' ~ section.id ~ '_' ~ sma.sectionsThreats.id %}
                                    <td rowspan="{{ sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] }}">
                                            {{ sma.sectionsThreats.probabilityOfFailer }}
                                     </td>
                                     <td rowspan="{{ sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] }}">
                                            {% if sma.sectionsThreats.confidence == 0 %}Low{% elseif sma.sectionsThreats.confidence == 1 %}Mid{% else %}High{% endif %}
                                            </td>
                                            <td rowspan="{{ sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] }}">
                                            {{ sma.sectionsThreats.AdjProbabilityOfFailer }}
                                        </td>-->
                            {% for consequence in consequences %}
                            {% if sectionsThreatsConsequences[sma.sectionsThreats.id][consequence.id] is defined and sectionsThreatsConsequences[sma.sectionsThreats.id][consequence.id] is not null %}
                                {% set probability = sma.sectionsThreats.AdjProbabilityOfFailer %}
                                {% set consequence = sectionsThreatsConsequences[sma.sectionsThreats.id][consequence.id] %}
                                {% set risk = consequence * probability %}
                                <td class="color risk {{ riskmatrix[consequence][probability] }}" rowspan="{{ sectionsThreatsCounter[section.id ~ '_' ~ sma.sectionsThreats.id] }}">{{ risk }}</td>
                            {% else %}
                                <td class="color risk">&nbsp;</td>
                            {% endif %}
                            {% endfor %}
                            <td>
                                {% if defaultFrequencies[sma.id] is defined %}
                                    {{ defaultFrequencies[sma.id] }}
                                {% endif %}
                            </td>
                            <td>{{ form_widget( attribute( attribute(form, 'stm_'~sma.id), 'frequency')) }}</td>
                            <td>{{ sma.lastmodifiedfrequency }}</td>
                            <td>{{ form_widget( attribute( attribute(form, 'stm_'~sma.id), 'frequency_justification')) }}</td>
                            <!--<td>{{ sma.nextinspectiondate|date('Y-m-d') }}</td>-->
                            <!--<td>{{ sma.isinspectiondue? "Overdue" : "Ok" }}</td>-->
                        </tr>
                    {% else %}
                        <tr>
                            <td>{{ sma.mitigationTechnique.mitigationTechnique }}</td>
                            <!--<td>{{ sma.comments }}</td>-->
                            <td>
                                {% if defaultFrequencies[sma.id] is defined %}
                                    {{ defaultFrequencies[sma.id] }}
                                {% endif %}
                            </td>
                            <td>{{ form_widget( attribute( attribute(form, 'stm_'~sma.id), 'frequency')) }}</td>
                            <td>{{ sma.lastmodifiedfrequency }}</td>
                            <td>{{ form_widget( attribute( attribute(form, 'stm_'~sma.id), 'frequency_justification')) }}</td>
                            <!--<td>{{ sma.nextinspectiondate|date('Y-m-d') }}</td>-->
                            <!--<td>{{ sma.isinspectiondue? "Overdue" : "Ok" }}</td>-->
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>


        </div>
    {% endfor %}
    <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardNext" value="Next"></div>
    <div class="col-lg-1 right">{{ form_widget(form.submit) }}</div>
    <div class="col-lg-1 right"><input type="button" class="btn" id="btnWizardPrev" value="Back"></div>

    {{ form_end(form) }}

    <a id="nextLink" href="{{ path('workshops', {'pipelineId':pipelineId}) }}" style="display: none;"></a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/popBox/popBox1.3.0.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/popBox/popBox1.3.0.js') }}"
            type="text/javascript"></script>
    <script>
        $('.probF ,.confidence').on('change', function () {
                    var tr = $(this).closest('tr');
                    var probF = parseInt(tr.find('.probF').val());
                    var confidence = tr.find('.confidence').val();
                    if (confidence == 0) {
                        var adjProb = (probF < 5) ? probF + 1 : probF;
                        tr.find('.adjProb select').val(adjProb);
                    } else {
                        tr.find('.adjProb select').val(probF);
                    }

                }
        );

        $('.manual_freq').change(function () {
            $(this).closest('tr').find('.justification').attr('required', true);
        });

        $('.records_list textarea').popBox({
            width: 200,
            height: 200,
            newlineString: "\n",
            btnValue: 'Done',
            btnClass: 'btn btn-primary'
        });

    </script>

{% endblock %}