{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>PipelineRiskAssessment</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Isopen</th>
                <td>{{ entity.isOpen }}</td>
            </tr>
            <tr>
                <th>Isapproved</th>
                <td>{{ entity.isApproved }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('pipelineriskassessment') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('pipelineriskassessment_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
