{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}

{% block content -%}
    <h1>Edit Workshop</h1>

    {{ form(edit_form) }}

    {{ form(delete_form) }}
    <ul class="record_actions">
        <li>
            <a href="{{ path('workshops', {'pipelineId':pipelineId}) }}">
                Back to workshops
            </a>
        </li>
    </ul>
{% endblock %}
