{% extends 'AIEIntegrityAssessmentBundle:Default:layout.html.twig' %}
{% block content -%}
    {% set grantedManage = is_granted('ROLE_WORKSHOPS_MANAGE', project) %}
    <h1>Risk Assessment Workshops</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Initially Assessed by (Company)</th>
            <th>Attendees</th>
            {% if grantedManage %}<th>Actions</th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{% if entity.date %}{{ entity.date|date('d F Y') }}{% endif %}</td>
                <td>{{ entity.initiallyAssessedBy }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#attendees-{{ entity.id }}">view</a>
                        </li>
                    </ul>
                </td>
                {% if grantedManage %}<td>
                    <ul>
                        <li>
                            <a href="{{ path('workshops_edit', { 'pipelineId':pipelineId, 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% for entity in entities %}
        <div class="modal fade" id="attendees-{{ entity.id }}" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Attendees of Workshop #{{ entity.id }}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="records_list">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Company</th>
                                <th>Position</th>
                                {% if grantedManage %}<th>Actions</th>{% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for attendee in entity.wa %}
                                <tr>
                                    <td>
                                        {{ attendee.name }}
                                    </td>
                                    <td>
                                        {{ attendee.company }}
                                    </td>
                                    <td>
                                        {{ attendee.position }}
                                    </td>
                                    {% if grantedManage %}<td>
                                        <ul>
                                            <li>
                                                <a href="{{ path('workshops_attendee_edit', {'pipelineId': pipelineId, 'workshopId': entity.id, 'id': attendee.id}) }}">edit</a>
                                            </li>
                                        </ul>
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="modal-footer">
                        {% if grantedManage %}
                        <a href="{{ path('workshops_attendee_new', {'pipelineId': pipelineId, 'workshopId': entity.id}) }}">Add
                            a new Attendee</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    {% if grantedManage %}
    <ul>
        <li>
            <a href="{{ path('workshops_new', {'pipelineId': pipelineId}) }}">
                Create a new workshop
            </a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
